@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.reminder-manage{
    width: unit(1086);
    .reminder_title {
        width: unit(1086);
        height: unit(40);
        border-bottom: unit(1) $basic-c03 solid;
        .name {
            height: unit(24);
            padding-top: unit(6);
            display: inline-block;
            color: $text-c31;
            line-height: unit(24);
            cursor: default;
        }
        .edit {
            width: unit(60);
            height: unit(28);
            border: unit(1) $basic-c21 solid;
            float: right;
            text-align: center;
            color: $text-c31;
            line-height: unit(28);
            cursor: pointer;
            border-radius: unit(2);
            -webkit-user-select: none;
            user-select: none;
            &:hover {
                background: $basic-c03;
            }
        }
        .edit2 {
            //width: unit(60);
            height: unit(28);
            border: unit(1) $basic-c21 solid;
            float: right;
            text-align: center;
            color: $text-c34;
            line-height: unit(28);
            cursor: initial;
            border-radius: unit(2);
            -webkit-user-select: none;
            user-select: none;
        }
        .clearAll {
            height: unit(28);
            border: unit(1) $basic-c21 solid;
            float: right;
            margin-right: unit(20);
            padding: 0 unit(20) 0 unit(20);
            color: $text-c31;
            line-height: unit(28);
            cursor: pointer;
            border-radius: unit(2);
            -webkit-user-select: none;
            user-select: none;
            &:hover {
                background: $basic-c03;
            }
        }
        .complete {
            height: unit(28);
            border: unit(1) $basic-c21 solid;
            float: right;
            padding: 0 unit(20) 0 unit(20);
            color: $text-c31;
            line-height: unit(28);
            cursor: pointer;
            border-radius: unit(2);
            -webkit-user-select: none;
            user-select: none;
            &:hover {
                background: $basic-c03;
            }
        }
    }
    .float{
        position: absolute;
        z-index: 12;
        background: $basic-c17;
    }
    .reminder_content{
        width: unit(1086);
        padding-top: unit(20);
    }
    .dateName {
        color: $text-c35;
        line-height: unit(16);
        padding-bottom: unit(15);
    }
    .list{
        height: 100%;
        overflow: hidden;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            width: unit(256);
            margin-right: unit(20);
            float: left;
            margin-bottom: unit(25);
            height: unit(197);
            .images{
                width: unit(256);
                height: unit(142);
                .poster{
                    width: 100%;
                    height: 100%;
                }
                .channelLogo{
                    width: unit(40);
                    height: unit(40);
                    position: relative;
                    top: unit(-142);
                    margin-left: unit(5);
                }
            }
            .delete{
                @extend .delete-24;
                position: absolute;
                margin-top: unit(-142);
                margin-left:unit(232);
                cursor: pointer;
            }
            .name{
                color: $text-c31;
                margin: unit(10) unit(0) unit(8) unit(0);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: pointer;

            }
            .time{
                color: $text-c34;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        li:nth-child(4n + 4){
            margin-right: unit(0);
        }
    }
    .failed {
    width: unit(340);
    height: unit(24);
    margin: auto;
    margin-top: unit(200);
    padding: unit(23) unit(65);
    background: $basic-c14;
    line-height: unit(24);
    color: $text-c31;
  }
  .confirm {
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
  }
  .noData {
    margin-top: unit(200);
    position: relative;
  }
    .reminder-filter-load {
        position: absolute;
        top: unit(350);
        right: 47%;
        z-index: 14;
        display: block;
        .spinner {
            position: absolute;
            left: 0;
            width: unit(80);
            height: unit(80);
            background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
            -webkit-animation: login_load_roate_div 2s infinite;
            animation: login_load_roate_div 2s infinite;
        }
    }
    @keyframes login_load_roate_div {
      0%		{transform: rotate(0deg);}
      100%	{transform: rotate(360deg);}
    }

    @-webkit-keyframes login_load_roate_div {
        0%		{transform: rotate(0deg);}
        100%	{transform: rotate(360deg);}
    }
}
