<div class="reminder-manage" id="reminder_manage">
    <div class="reminder_title body-t32">
    <span class="name title-t13">{{'profile_tip_reminder' | translate}}&nbsp;{{count}}</span>
    <div [ngClass]="isNoData || isShowLoad ? 'edit2':'edit'"  *ngIf="!isEdit" (click)="edit()">{{'edit' | translate}}</div>
    <div class="complete"  *ngIf="isEdit" (click)="complete()">{{'complete' | translate}}</div>
    <div class="clearAll"  *ngIf="isEdit" (click)="deleteAll()">{{'clearAll' | translate}}</div>
  </div>
  <suspensionprogram id="reminderInfo" class="float" [ngStyle]="{visibility: isShowFloat ? 'visible' : 'hidden'}"></suspensionprogram>
  <div class="reminder_content">
    <div class="reminder_today"  *ngIf="todayReminders.length > 0">
      <div class="dateName body-t28">{{'today' | translate}}</div>
      <div class="list">
        <ul>
          <li *ngFor="let reminder of todayReminders;let dataIndex=index">
            <div class="images" (mouseenter)="mouseenter(reminder, $event)" (mouseleave)="closeFloat()" [ngStyle]="{cursor: isEdit ? 'inherit':'pointer'}" (click)="clickReminder(reminder)">
              <img class="poster" src='{{reminder.poster}}'/>
              <img class="channelLogo" src="{{reminder.channelLogo}}"/>
            </div>
            <div class="delete" *ngIf="isEdit" (click)="delete(reminder, dataIndex)"></div>
            <div class="name body-t29" (click)="clickReminder(reminder)">{{reminder.name}}</div>
            <div class="time body-t32">{{'today' | translate}} | {{reminder.time}} | {{reminder.channelName}}</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="reminder_future" *ngIf="futherReminders.length > 0">
      <div class="dateName body-t28">{{'future' | translate}}</div>
      <div class="list">
        <ul>
          <li *ngFor="let data of futherReminders;let dataIndex=index">
            <div class="images" (mouseenter)="mouseenter(data, $event)" (mouseleave)="closeFloat()" [ngStyle]="{cursor: isEdit ? 'inherit':'pointer'}" (click)="clickReminder(data)">
              <img class="poster" src='{{data.poster}}'/>
              <img class="channelLogo" src="{{data.channelLogo}}"/>
            </div>
            <div class="delete" *ngIf="isEdit" (click)="delete(data, dataIndex)"></div>
            <div class="name body-t29" (click)="clickReminder(data)">{{data.name}}</div>
            <div class="time body-t32">{{data.weekTime | translate}} | {{data.time}} | {{data.channelName}}</div>
          </li>
        </ul>
      </div>
    </div>
  <app-close-confirm class="confirm" [confirmInfoKey]="confirmInfoKey" (cancelData)="cancelData($event)" (confirmData)="confirmData($event)" *ngIf="isClearAll"></app-close-confirm>
  <div class="failed body-t29" [ngStyle]="{display: 'none'}">{{'delete_failed_try_again_later' | translate}}</div>
  <div class="noData" [ngStyle]="{display: isNoData && !isShowLoad? 'block':'none' }">
        <waterfall-noData [nodatatype]="'reminder'"></waterfall-noData>
    </div>
  <div class="reminder-filter-load" [ngStyle]="{display: isShowLoad ? 'block' : 'none'}">
        <div class="spinner"></div>
    </div>
</div>
