<div *ngIf="moreVodList || moreChannelList">
  <div class="moreTitles">
    <div class="title title-t18" *ngFor="let title of titles" (click) = " goback(title) ">{{title | translate }} &nbsp;</div>
  </div>
  <waterfall-vod class="waterfall" [data]="moreVodList" (child)="vodDtail($event)" *ngIf="moreVodList"></waterfall-vod>
  <waterfall-channel class="waterfall" [data]="moreChannelList" (child)="onClickDetail($event)"*ngIf="moreChannelList" ></waterfall-channel>
</div>
