<div class="oscar-all" id="oscar-all">
  <columnshow [childcolumnshow] = "datas"  (child)="onClickDetail($event)" (jumpTo)="moreShow($event)" [suspensiondata] = "vodListsuspension"
    [show]="oscarShow" [id]="oscarId" *ngIf="hasOscar"></columnshow>
  <div class="noOscar" *ngIf="!hasOscar&&hasOscarData">
    <waterfall-noData [nodatatype]="'home'"></waterfall-noData>
  </div>
</div>
