<div class="container-fluid">
    <div class="row menu">
        <span class="header-title">UI Components</span>
        <span class="version">{{version.version}}.{{version.date}}</span>
        <a class="change-language" href="#" (click)="changeLanguge()">{{ language }}</a>
    </div>
    <div class="row">
        <div class="col-md-2" *ngIf="isShowNav">
            <input class="bs-fliter-input" [(ngModel)]="filterName" placeholder="Search" />
            <nav class="bs-docs-sidebar" *ngFor="let group of componentGroups">
                <div class="group-title" #isShow (click)="isShow.value = !isShow.value">
                    {{group[0]?.group?.value}}<span class="group-count">({{group?.length}})</span> 
                    <i class="group-icon glyphicon" [class.glyphicon-menu-down]="true"></i>
                </div>
                <ul *ngIf = "!isShow.value" class="nav bs-docs-sidenav">
                    <li *ngFor="let nav of group;"><a (click)="root=nav.component" [class.selected]="root === nav.component" >{{nav?.name?.replace('Component','')?.replace('Section','')}}</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="col-md-10" [class.fullscreen]="!isShowNav" id="main">
            <div  (click)="showOrHideNav()"  class="glyphicon glyphicon-chevron-left navShowOrHide" [class.glyphicon-chevron-right]="!isShowNav"></div>
            <ion-nav [root]="root"></ion-nav>
        </div>
    </div>
</div>