@function unit($value) {
    @return $value+px;
}

@font-face {
    font-family: Roboto-Light;
    src: url('assets/fonts/HelveticaNeue.ttf');
}
body {
    background: #f0f2f5;
    overflow: hidden;
}
textarea {
    color: black;
    
}
.header-title {
    float: left;
    font-size: unit(22);
    text-transform: uppercase;
    margin-left: unit(20);
    color: black;
    line-height: unit(60);
}


.change-language {
    display: none;
    float: right;
    margin-right: unit(20);
    font-size: unit(16);
    text-decoration: underline;
    line-height: unit(60);
    color: black;
}

.container-fluid {
    padding-top: unit(5);
    .fullscreen {
        width: 100%;
        left: -unit(6);
    }
    .navShowOrHide {
        position: absolute;
        top: 50%;
        width: unit(30);
        height: unit(60);
        background-color: rgb(190, 192, 195);
        border-top-right-radius: unit(4);
        border-bottom-right-radius: unit(4);
        line-height: unit(60);
        text-align: center;
        z-index: 100;
        cursor: pointer;
    }
}

.container-fluid>.row {
    margin-left: -unit(10);
}

.container-fluid>.row>.col-md-2 {
    background-color: #e7eaed;
}

.bs-docs-sidebar .nav>li>a:focus,
.bs-docs-sidebar .nav>li>a:hover {
    border-left: unit(5) solid rgba(32, 160, 255, 0.85) !important;
    background-color: white !important;
}

.bs-docs-sidebar .nav>li>.selected {
    font-size: unit(15);
    background-color: white;
    border-left: unit(5) solid rgba(32, 160, 255, 0.85);
}

ion-nav,
ion-tab,
ion-tabs {
    overflow: scroll !important;
    left: unit(15) !important;
    background-color: white;
    width: 99% !important;
}

.ion-page.show-page {
    overflow: scroll;
    padding-left: unit(50);
    padding-top: unit(20);
}

.example>h2 {
    margin-bottom: unit(20);
}
.example {
    .display-demo-test {
      background-color: #313b3f;
      width: 98%;
     .submit-test {
        color: black;
        width: 180px;
        height: 50px;
        font-size: 20px;

     }
     .test-edit-table .table {
        border-bottom: 1px solid #ddd;
      }
    }
    .display-demo-test .head {
        line-height: 45px;
        background-color: #eaeaea;
        color:black;
        text-align: center;
        .head-name {
            display: none;
        }
    }
    .display-demo-test .head:hover {
       background-color: #323232;
       font-weight: bolder;
       cursor:pointer;
       color:white;
       .head-name {
           display:inline-block;
       }
    }
}

.example-bg {
    background-color: rgba(166, 161, 161, 0.76)  !important;
    width: 98%;
    overflow: scroll;
    border-radius: 0px !important;
    position: relative;
}

.markup,
.markdown-body {
    width: 98%;
}

.markup code.language-html {
    white-space: pre-wrap;
}

.ui-website {
    margin-top: unit(250);
    text-align: center;
    .ui-website-title {
        font-size: unit(35);
        margin-bottom: unit(35);
    }
    .ui-website-subtitle {
        font-size: unit(20);
    }
}

.page-wrapper {
    background: white;
    padding-top: unit(30);
    padding-left: unit(20);
}

.panel {
    padding: 3rem 3rem 3rem 3rem !important;
    margin-top: unit(-1);
    margin-bottom: 0;
}

.demo-title {
    color: black;
    padding-bottom: unit(10);
    font-size: 2rem;
}

.demo-sub-title {
    height: 3rem;
    text-decoration: underline;
    color: #4be8db;
    font-size: 1.4rem;
    padding-bottom: 4.0rem;
    text-transform: uppercase;
}

.demo-label {
    color: #4be8db;
    height: 2rem;
    font-size: $text-t23;
    padding-bottom: unit(5);
    box-sizing: content-box;
    margin-top: unit(10);
    &>span {
        padding-left: 1rem;
        font-size: $text-t23;
        color: #a4a4a4;
        &.white {
            color: $text-c21;
        }
    }
}

.demo-label-info {
    font-size: $text-t24;
    color: #a4a4a4;
    margin-top: -0.5rem;
    &.white {
        color: $text-c21;
    }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background: none;
}

.color-tips {
    display: inline-block;
    width: 9rem;
    text-align: right;
    font-size: $text-t24;
    color: inherit;
}

::-webkit-scrollbar {
    width: unit(7);
    height: unit(8);
}

::-webkit-scrollbar-button:vertical {
    display: none
}

::-webkit-scrollbar-track:vertical {
    background-color: none
}

::-webkit-scrollbar-track-piece {
    background: #FFF
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #c8c8c8;
    border-radius: unit(5);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #c3cad0
}

::-webkit-scrollbar-corner:vertical {
    background-color: #535353
}

::-webkit-scrollbar-button:horizontal {
    display: none
}

::-webkit-scrollbar-track:horizontal {
    background-color: none
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #c8c8c8;
    border-radius: unit(5);
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #c3cad0
}

::-webkit-scrollbar-corner:horizontal {
    background-color: #535353
}

.api .card li {
    line-height: unit(26);
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #f5f5f5;
}

body {
    color: #fff;
    font-family: Roboto-Light !important;
}
.version {
    margin-left: 10px;
    color: black;
}
.menu {
    margin-bottom: 0.5px;
    margin-left: -unit(20) !important;
    margin-right: -unit(20);
    background-color: white;
    height: unit(60);
    line-height: unit(60);
    opacity: 0.85;
    box-shadow: 0 unit(3) unit(10) rgba(0, 0, 0, .1);

}

a {
    cursor: pointer;
}


.bs-fliter-input {
    text-indent: unit(10);
    width: 100%;
    height: unit(40);
    border: .0625rem solid rgba(182, 182, 182, 0.4);
    color: #181818;
    background: white;
    margin-bottom: unit(20);
}

.bs-docs-sidebar .nav>li>a {
    color: black;
    &:focus,
    &:hover {
        color: black;
    }
    padding-left: unit(30);
    border-bottom: unit(1) solid rgb(226, 222, 222);
}

.bs-docs-sidebar .nav>li>a:focus,
.bs-docs-sidebar .nav>li>a:hover {
    color: #563d7c;
    border-left: unit(1) solid black;
    padding-left: unit(30);
}

[tabindex="1"].focused {
    background-color: $basic-c05;
}

.bs-docs-sidenav {
    margin-top: unit(0);
    overflow: auto;
    margin-bottom: unit(0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    margin: 0;
}

p {
    color: black;
}

.group-title {
    height: unit(48);
    color: black;
    line-height: unit(48);
    font-size: unit(16);
    background-color: rgba(193, 195, 195, 0.62);
    padding-left: unit(10);
    border-bottom: 1px solid rgba(191, 187, 187, 0.94);
    white-space: nowrap;
    .group-icon {
        float: right;
        line-height: unit(48);
        font-size: 15px;
        color: white;
        margin-right: 30px;
    }
    .group-count {
        margin-left: 5px;
        font-size: 14px;
        color: gray;
    }
}

pre {
    width: 95%;
}

.col-md-2 {
    padding-left: unit(0);
    padding-right: unit(0);
    height: calc(100vh - 100px);
    overflow: scroll;
}

.col-md-10 {
    overflow: scroll;
    height: calc(100vh - 100px);
    overflow-x: hidden;
}

.bs-docs-sidebar {
    padding-left: unit(0);
}

html {
  font-size: 16px !important;
}
