<div class="all-subscriptions" id="all-subscriptions">
  <div class="purchased-title">
    <div class="title">{{'all_subscriptions'| translate}}</div>
  </div>
  <div class="divider-line"></div>
  <subscriptions-list [dataList]="dataList"
            [processing]="processing" (callFetch)="fetchData()" (callStartProcessing)="setProcessing()" (callStopProcessing)="stopProcessing()"></subscriptions-list>
</div>
