<div class='future-channel-more' *ngIf="moreFutureChannelList">
  <div class="moreFutureChanneTitle">
    <div class="title title-t18" >{{'happy_next_more' | translate}}&nbsp;</div>
  </div>
  <waterfall-channel class="waterfall" [data]="moreFutureChannelList" (child)="onClickDetail($event)"></waterfall-channel>
</div>
