@import "/src/assets/css/common-variables.scss";

.moreFutureChanneTitle {
  height: unit(54);
  width: unit(1280);
  position: relative;
  margin: auto;
  @media screen and (max-width: unit(1440)) {
    width: unit(980);
  }
  .title {
    min-width: unit(50);
    height: unit(16);
    position: relative;
    float: left;
    padding-top: unit(25);
    color: $text-c31;
    line-height: unit(14);
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}
