<div class="shared" id='sharedIcon' (click)="sharedIconClick()">
      <i class="icon-share"></i>
</div>

<div class="score-rate shared-icons-tab-show" [ngStyle]="{display: isShowSharedIcons ? 'none' : 'block'}">
  <div class="score" >
    <div class="score-star">
      <div class="rating_star">
        <div id="id-share-social" class="ya-share2" data-services="vkontakte,twitter,facebook,odnoklassniki"></div>
      </div>
    </div>
  </div>
</div>

