@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.widgets-icons {
  display: inline-flex;
  float: right;
  cursor: pointer;
  .shared {
    padding-right: unit(17);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: unset;
  }
}

.shared {
  width: unit(20);
  height: unit(20);
  object-fit: contain;
  margin-top: unit(10);
  margin-right: unit(17);
  i {
    font-size: 20px;
  }
}

.shared-icons-tab-show {
  display: block;
  position: absolute;
  margin-left: unit(-120);
  margin-top: unit(16);
  z-index: 11;
}

.shared-icons-tab-hide {
  display: none;
  position: absolute;
  margin-left: unit(1167);
  margin-top: unit(34);
}

.score-rate {
  height: unit(63);
  .dropup {
    height: unit(12);
    margin-left: unit(110);
    @extend .popup-19;
  }
  .score {
    height: unit(44);
    background-color: $basic-c17;
    border-radius: $rounded-rc1;
    box-shadow: unit(0) unit(19) unit(40) $basic-c06;
    .score-star {
      height: unit(24);
      margin-left: unit(15);
      margin-right: unit(10);
      margin-top: unit(10);
      float: left;
      cursor: pointer;
      .rating_star {
        height: unit(24);
        float: left;
        margin-right: unit(15);
        .rating_star_full {
          float: left;
          width: unit(24);
          height: unit(24);
          @extend .rateFull-24
        }
      }
    }
  }
}

.shared{
  i {
    font-size: unit(30);
  }
}
