<div
  class="livetv-PopUp-Dialog"
  [ngClass]="(judgeSubscrEmp || judgeSubscriber || judgeFullScreenPwd || judgeAuthorizeEmp || judgeGuest || judgePlayFailLiveTv) ?
  'live_first_popup': 'live_second_popup'"
>
  <app-subscremp-dialog
    (empSub)="setPopUpSubscriber()"
    id="subscrEmp"
    (closeEmpSub)="closeDialog($event)"
    [ngStyle]='{ "display":judgeSubscrEmp ? "block": "none" }'
  ></app-subscremp-dialog>

  <app-subscriber-dialog
    (subProduct)="subProductPackage($event)"
    id="subDialog"
    (closeCurrentDialog)="closeDialog($event)"
    [ngStyle]='{ "display":judgeSubscriber ? "block": "none" }'
  ></app-subscriber-dialog>

  <app-password-dialog
    (enterProPwd)="enterProfilePwd($event)"
    id="pwdDialog"
    (closePINDialog)="closeDialog($event)"
    [ngStyle]='{ "display":judgeFullScreenPwd ? "block": "none" }'
  ></app-password-dialog>

  <app-authorize-dialog
    (authorizeEmpSub)="setAuthorizate()"
    id="authorizeEmp"
    [ngStyle]='{ "display":judgeAuthorizeEmp ? "block": "none" }'
  ></app-authorize-dialog>

  <app-guest-dialog
    id="guestDialog"
    (guestLogin)="guestLogin()"
    (closeGuestLogin)="closeDialog($event)"
    [ngStyle]='{ "display":judgeGuest ? "block": "none" }'
  ></app-guest-dialog>

  <app-volumebardiv
    class="liveVolumeBarDiv"
    [volumeID]="liveTvVolumeSeekBarID"
    [ngStyle]="{'display': isLiveVolumeBarDivShow ? 'block' : 'none'}"
    (mouseenter)="showVolumeBar()"
    (mouseleave)="hiddenVolumeBar()"
    (changeVolume)="volumeValue($event)"
  ></app-volumebardiv>

  <app-definition-detail
    class="liveDefinitionDetail"
    [ngStyle]="{'display': isShowLiveDefinitionDetail ? 'block' : 'none'}"
    (mouseenter)="showLiveDefinitionDetail()"
    (mouseleave)="hideLiveDefinitionDetail()"
  ></app-definition-detail>

  <app-settingsuspension
    [ngStyle]="{display: isLivetvSettingMenu ? 'block' : 'none'}"
    class="livetvSettingMenu"
    (mouseenter)="showLivetvSettingMenu()"
    (mouseleave)="closeLivetvSettingMenu()"
  ></app-settingsuspension>

  <app-playlivetvfail-background
    id="LiveTvPlayFailBg"
    [ngStyle]='{ "display":judgePlayFailLiveTv ? "block": "none" }'
  ></app-playlivetvfail-background>
</div>
