@import "/src/assets/css/common-variables.scss";

.livetv-PopUp-Dialog {
  position: relative;
  background: url(assets/img/load_screen_bg_1920x1080.png) no-repeat;
  background-size: 100% 100%;
  app-subscriber-dialog {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
  }
  app-subscremp-dialog {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
  }
  app-playlivetvfail-background {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
  }

  app-password-dialog {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
  }
  app-guest-dialog {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
  }
  app-authorize-dialog {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
  }
  .liveVolumeBarDiv {
    z-index: 2200000000;
    bottom: 152px;
    right: 361px;
    position: fixed;
  }
  .livetvSettingMenu {
    position: fixed;
    display: block;
    z-index: 2200000000;
    bottom: unit(36);
    right: 10px;
  }
  .liveDefinitionDetail {
    z-index: 2200000000;
    bottom: unit(53);
    right: unit(60);
    position: fixed;
  }
}

.live_first_popup {
  height: 100%;
}

.live_second_popup {
  height: none;
}
