<div class="stb-record">
  <div class="filter">
    <div class="seriesName body-t32" *ngIf="!hasType" (click)="returnFirstPage()">< {{seriesName}}</div>
    <div class="sort body-t32">
      <div class="sort-name body-t32">{{'recored_sort' | translate}}</div>
      <div *ngFor="let option of sort; let i = index" (click)="selectFilter(option.ID,'sort',i)" [class]="sortIndex == i  ? 'selectSort body-t32':'itemSort'">
        <div class="itemInfo">{{option.name | translate}}</div>
      </div>
    </div>
    <div class="type body-t32" *ngIf="hasType">
      <div class="type-name body-t32">{{'recored_type' | translate}}</div>
      <div *ngFor="let option of type; let i = index" (click)="selectFilter(option.ID,'type',i)" [class]="typeIndex == i  ? 'selectSort body-t32':'itemSort'">
        <div class="itemInfo">{{option.name | translate}}</div>
      </div>
    </div>
    <div class="availabilty body-t32">
      <div class="availabilty-name body-t32">{{'recored_availabilty' | translate}}</div>
      <div *ngFor="let option of availabilty; let i = index" (click)="selectFilter(option.ID,'availabilty',i)" [class]="availabiltyIndex == i  ? 'selectSort body-t32':'itemSort'">
        <div class="itemInfo">{{option.name | translate}}</div>
      </div>
    </div>
  </div>
  <div class="content" *ngIf="hasType && filterData">
    <my-recording [dataRecord]="recordFilterLists" (deleteRecord)="deleteRecord($event)" (detailRecord)="detailRecord($event)" ></my-recording>
  </div>
  <div class="contentSeries" *ngIf="!hasType && filterData">
    <my-recording [dataRecord]="recordFilterListss" (deleteRecord)="deleteRecord($event)" (detailRecord)="detailRecord($event)" ></my-recording>
  </div>
  <div class="noData" *ngIf="!hasData && !filterData && !showLoadCycle">
    <waterfall-noData [nodatatype]="'recordStb'"></waterfall-noData>
  </div>
  <div class="noData" *ngIf="!filterData && hasData && !showLoadCycle">
    <waterfall-noData [nodatatype]="'noFilter'"></waterfall-noData>
  </div>
  <div class="record-filter-load" *ngIf="showLoadCycle">
    <div class="spinner"></div>
  </div>
</div>
