@import "/src/assets/css/common-variables.scss";

.suspensionBig {
  width: 100%;
  overflow: hidden;
}

.suspensionInfor {
  width: calc(100% - 50px);
  margin-left: unit(25);
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: $rounded-rc1;
}

.title {
  float: left;
  width: 100%;
  color: $text-c31;
  margin-top: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hrFirst {
  height: 1px;
  width: 100%;
  position: relative;
  float: left;
  margin-top: 15px;
  background: $basic-c03;
}

.vod-detail-first {
  float: left;
  width: 100%;
  margin-top: 20px;
}

.valid {
  float: left;
  color: $text-c31;
}

.vod-detail-secondary {
  float: left;
  width: 355px;
  margin-top: 30px;
  margin-left: 25px;
  color: $text-c35;
  padding-bottom: 10px;
  display: none;
}

#contents-wrap {
  display: none;
  position: relative;
  #contents {
    overflow: hidden;
    position: relative;
    max-height: unit(220);
    width: 305px;
    margin-left: 25px;
    .detail-content {
      position: relative;
      top: 0px;
      color: $text-c35;
      line-height: 20px;
      word-wrap: break-word;
    }
  }
}

.scrollList {
  position: relative;
  top: -220px;
  .scroll {
    height: unit(220);
    width: unit(12);
    right: 6px;
    cursor: pointer;
    position: absolute;
    span {
      height: unit(48);
      width: unit(6);
      top: unit(0);
      bottom: unit(0);
      right: 3px;
      cursor: pointer;
      position: absolute;
      background: rgba(64, 64, 64, 0.9);
      border-radius: unit(24);
    }
  }
}
