<div class="suspensionBig" id="suspensionBig" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <div id="suspension" class="suspensionInfor" [ngStyle]="leftStyle">
        <div class="title title-t13">{{titleName}}</div>
        <div class="hrFirst"></div>
        <div class="vod-detail-first">
            <div class="valid body-t32">
                <span>{{'valid_to' | translate}}&nbsp;{{time}}</span>
            </div>
        </div>
        <div class="vod-detail-secondary body-t32">{{'Details:' | translate}}</div>
        <div id="contents-wrap">
            <div id="contents">
                <div class="detail-content body-t32" id="detail-content">
                    <span>{{introduce}}</span>
                </div>
            </div>
        </div>
        <div class="scrollList" id="package-scroll" [style.display]="textAreaheight > 220 ? 'block' : 'none'">
            <div class="scroll" id="pack-scroll">
                <span id="scroll-span">
                    <div id="content"></div>
                </span>
            </div>
        </div>
    </div>
</div>
