<div id="header" class="is-mobile is-fixed-top">
<div class="content">
  <div class="columns">
    <div class="column is-2">
      <div class="logo-mts">
          <a [routerLink]="['/home']">
            <img src="/assets/img/mtstv.svg">
          </a>
      </div> 
    </div>
    <div class="column">
      <div class="columns links">  
        <ng-container *ngFor="let item of menu">
          <div class="column">
            <a routerLinkActive="active" [routerLink]="item.link" [routerLinkActiveOptions]="{exact: true}">{{ item.text | translate}}</a>
          </div>
        </ng-container>  
      </div>
    </div>  
    <div class="column is-2">
<div class="columns icons">
  <div class="column" *ngIf="isAuth"> 
    <a [routerLink]="['/profile/favoriteVod']" class='favorite'><img src="/assets/img/ui/favorite.svg"></a>
  </div>
  <div class="column"><app-history-header (hideFromHis)="closeOtherModule($event)"></app-history-header> </div>
  <div class="column" style="position: relative;"><app-search-header></app-search-header> </div>
  <div class="column"><app-profile-header (hideFromPro)="closeOtherModule($event)"></app-profile-header></div>
    <!-- @HWP-37-DISABLE-FEATURES app-language-header [style.visibility]="enChangeLanguage && getCaheCustomConfigData? 'visible':'hidden'"></app-language-header-->
  <!-- <div class="column"> <app-language-header [style.display]="'none'"></app-language-header></div> -->
</div>
</div> 
</div>
</div>
</div>