@import "/src/assets/css/common-variables.scss";

.favorite {
  position: relative;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
app-history-header {
  
  position: relative;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

app-profile-header {
 
  position: relative; 
}

app-language-header {
  display: inline-block;
  position: absolute;
  height: unit(23);
  width: unit(114);
  line-height: unit(23);
  left: unit(574);
  text-align: right;

}
.is-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}
.columns {
  margin: 0px;
}
.vertical-align-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#header {

  background-color: $prm-900;
  box-shadow: 0px 7px 30px 0px rgba(0, 20, 36, 1);
  height: unit(54);
 .content{
    min-width: unit(952);
    max-width: unit(1366);
    margin: 0px auto; 
    height: unit(54);
    .columns {
      &.main{
      }
      // margin: 0px;
      height: inherit;
      .column {
        display: flex;
        height: 100%;
        padding: 0px;
      
        .logo-mts{
          @extend .vertical-align-center;
          padding: unit(0) unit(0) unit(0) unit(35);
          a img{  width: unit(127);}
        }
            
        .links{
          height: inherit;
          margin-left: auto;
          .column:last-child{
            a{
              margin-right: unit(0);
            }
          }
          .column{
            a {

              @extend .vertical-align-center;

              font-family: 'Corpid E1s SCd Regular';
              font-size: unit(18);
              color: $prm-50;
              margin-right: unit(40);
              text-align: center;
            }

            a:hover, a.active {
              padding-top: unit(2);
              border-bottom: unit(2) solid $scd-800;
              color: $scd-800;
            }
          }
        }
      }
    }
  }
.icons{
  margin-left: auto;
  margin-right: unit(20);
}
.icons .column{
  margin-left: unit(18);
  
  min-width: unit(18);
}

}

