@import "/src/assets/css/common-variables.scss";

.vodFilterDetail {
  min-height: unit(984);
  @media screen and (max-width: unit(1440)) {
    min-height: unit(830);
  }
}

.filterNoData {
  display: table;
  max-width: unit(1280);
  margin: auto;
  @media screen and (max-width: unit(1440)) {
    max-width: unit(980);
  }
  .nodata-wrap {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

.noDataposter {
  top: unit(-10);
  width: unit(72);
  height: unit(72);
  text-align: center;
  margin: 0 auto;
  position: relative;
  @extend .noresult-72;
}

.noDataWordone {
  color: $text-c35;
  text-align: center;
  margin-top: unit(10);
  position: relative;
  line-height: unit(24);
}

.vodFiler-header {
  position: relative;
  margin: unit(43) auto auto;
  line-height: unit(14);
  crumbs-app {
    position: relative;
    top: unit(-110);
    display: block;
    width: unit(316);
    height: unit(24);
  }
}

.lineOne {
  border: unit(1) solid $basic-c03;
  width: unit(1280);
  float: left;
}

.vodFilter-content {
  width: unit(1280);
  position: relative;
  margin: auto;
  overflow: hidden;
  top: unit(-21);
}

.vodFilter-content-move {
  width: unit(1280);
  position: relative;
  margin: auto;
  padding-top: unit(25);
  height: unit(100);
}

.lessGenre {
  float: right;
  width: unit(10);
  height: unit(10);
  cursor: pointer;
  margin-top: unit(7);
  margin-right: unit(10);
  @extend .filterdown-10;
}

.moreGenre {
  float: right;
  width: unit(10);
  height: unit(10);
  cursor: pointer;
  margin-top: unit(7);
  margin-right: unit(10);
  @extend .filterup-10;
}

.lessArea {
  float: right;
  width: unit(14);
  height: unit(14);
  cursor: pointer;
  margin-right: unit(8);
  @extend .filterdown-10;
}

.moreArea {
  float: right;
  width: unit(14);
  height: unit(14);
  cursor: pointer;
  margin-right: unit(8);
  @extend .filterup-10;
}

.genre-name,
.area-name,
.time-name,
.sortBy-name {
  color: $text-c35;
  position: relative;
  float: left;
  width: unit(51);
  letter-spacing: unit(1);

}

.chosen-name {
  color: $text-c35;
  position: relative;
  margin-top: unit(14);
  float: left;
}

.genreMore {
  color: $text-c35;
  width: unit(1280);
  overflow: hidden;
  float: left;
  border-bottom: unit(1) dashed $basic-c03;
}

.genreMoreHidden, .areaMoreHidden {
  color: $text-c35;
  width: unit(1280);
  overflow: hidden;
  position: absolute;
  border-bottom: unit(1) dashed $basic-c03;
  visibility: hidden;
}

.areaMore {
  color: $text-c35;
  width: unit(1280);
  overflow: hidden;
  min-height: unit(46);
  float: left;
  border-bottom: unit(1) dashed $basic-c03;
}

.genre,
.area,
.time {
  color: $text-c35;
  width: unit(1280);
  overflow: hidden;
  height: unit(46);
  float: left;
  border-bottom: unit(1) dashed $basic-c03;
}

.items {
  margin-left: unit(66);
  margin-top: unit(15);
  cursor: pointer;
  @media screen and (max-width: unit(1440)) {
    width: unit(894);
  }
  .itemInfo {
    max-width: unit(150);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: unit(22);
    //&:hover {
    //    color: $basic-c01;
    //}
  }
}

.sortBy {
  color: $text-c31;
  width: unit(1280);
  height: unit(46);
  margin: auto;
  position: relative;
  top: unit(50);
  z-index: 9;
  border-bottom: unit(1) dashed $basic-c03;
  .itemSorts {
    margin-right: unit(21);
    padding-left: unit(11);
    padding-right: unit(11);
    height: unit(22);
    margin-top: unit(16);
    float: left;
    line-height: unit(22);
    color: $text-c35;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
  }
  .selectSorts {
    background-color: $basic-c31;
    //color: $basic-c01;
    border-radius: unit(10);
    padding-left: unit(11);
    padding-right: unit(11);
    margin-right: unit(30);
    margin-top: unit(16);
    line-height: unit(22);
    float: left;
    text-align: center;
    cursor: pointer;
  }
}

.chosen {
  //color: $text-c31;
  width: unit(1280);
  min-height: unit(46);
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chosens {
  display: inline-block;
}

.item {
  margin-right: unit(29);
  margin-bottom: unit(15);
  padding-left: unit(11);
  padding-right: unit(11);
  height: unit(22);
  float: left;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.itemSort {
  margin-right: unit(30);
  padding-left: unit(11);
  padding-right: unit(11);
  height: unit(28);
  float: left;
  line-height: unit(28);
  //color: $text-c35;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.select {
  .itemInfo {
    color: $basic-c31;
  }
  //background-color: $basic-c04;
  //color: $text-c31;
  //margin-bottom: unit(15);
  //border-radius: unit(10);
  //padding-left: unit(11);
  //padding-right: unit(11);
  //margin-right: unit(29);
  //height: unit(22);
  float: left;
  text-align: center;
  cursor: pointer;
}

.selectSort {
  background-color: $basic-c04;
  //color: $text-c31;
  border-radius: unit(2);
  padding-left: unit(20);
  padding-right: unit(20);
  margin-right: unit(20);
  line-height: unit(28);
  float: left;
  text-align: center;
  cursor: pointer;
}

.lineTwo {
  border: unit(1) solid $basic-c03;
  width: unit(1280);
  position: relative;
  top: unit(-8);
}

.filterResult {
  border: unit(1) solid $basic-c21;
  border-bottom: none;
  color: $text-c31;
  width: unit(73);
  height: unit(25);
  cursor: pointer;
  display: inline-block;
  margin-left: unit(6);
  position: relative;
  top: unit(-8);
}

.filterResultBottom {
  float: right;
  margin-top: unit(42);
  border: unit(1) solid $basic-c21;
  border-top: none;
  color: $text-c31;
  width: unit(73);
  height: unit(25);
  cursor: pointer;
}

.filterResultBottomNO {
  float: right;
  margin-top: unit(0);
  border: unit(1) solid $basic-c21;
  color: $text-c31;
  width: unit(73);
  height: unit(22);
  cursor: pointer;
}

.resultName {
  position: relative;
  margin-top: unit(4);
  margin-left: unit(12);
}

.resultNameBottom {
  position: relative;
  margin-top: 0;
  margin-left: unit(12);
  line-height: unit(24);
}

.resultNameBottomNO {
  position: relative;
  margin-top: 0;
  line-height: unit(20);
  margin-left: unit(12);
}

.resultImg {
  position: relative;
  margin-top: unit(-15);
  width: unit(14);
  height: unit(14);
  margin-left: unit(53);
  @extend .angleup-14;
}

.resultImgBottom {
  position: relative;
  margin-top: unit(-15);
  width: unit(14);
  height: unit(14);
  margin-left: unit(53);
  @extend .angledown-14;
}

.resultImgBottomNO {
  position: relative;
  margin-top: unit(-15);
  width: unit(14);
  height: unit(14);
  margin-left: unit(53);
  @extend .angledown-14;
}

.item-chosen {
  margin-left: unit(20);
  margin-top: unit(11);
  float: left;
  text-align: center;
  border-radius: unit(10);
  padding-left: unit(10);
  padding-right: unit(10);
  border: unit(1) solid $basic-c20;
  line-height: unit(22);
  height: unit(22);
  cursor: pointer;
  .itemInfo {
    height: unit(22);
    span {
      color: $basic-c31;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: unit(150);
    }
  }
}

.chosen-area {
  width: unit(1296);
  min-height: unit(46);
  position: relative;
  @media screen and (max-width: unit(1440)) {
    width: unit(895);
  }
}

.chosenImg {
  @extend .close-12;
  width: unit(12);
  height: unit(12);
  position: relative;
  float: right;
  margin-left: unit(10);
  margin-top: unit(4);
}

.vodFilterList {
  position: relative;
  margin-top: unit(20);
  min-height: unit(188);
}

.vod-filter-load {
  position: fixed;
  top: 50%;
  left: 48%;
  z-index: 99999;
  display: none;
  .spinner {
    position: relative;
    left: 0;
    width: unit(80);
    height: unit(80);
    background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
    -webkit-animation: login_load_roate_div 2s infinite;
    animation: login_load_roate_div 2s infinite;
  }
}

@keyframes login_load_roate_div {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes login_load_roate_div {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: unit(1440)) {
  .less {
    margin-top: unit(-78);
  }
  .lineOne {
    width: unit(980);
  }
  .vodFilter-content,
  .vodFilter-content-move,
  .genre,
  .area,
  .time,
  .chosen,
  .lineTwo,
  .genreMore, .areaMore {
    width: unit(980);
  }
  .sortBy {
    width: unit(980);
  }
}
@media screen and (max-width: unit(1120)) {
  .vodFilterList{
    width: 100%;
  }
  .vodFilter-content {
    width: unit(940);
    margin-top: unit(25);

  }
  .vodFilterDetail {
    min-width: unit(1024);
    height: auto;
  }
  .sortBy {
    display: none;
  }
  .vodFiler-header {
    display: none;
  }
  .header-wrap {
    min-width: unit(1024);
    height: auto;
  }
  .chosen {
    display: none;
  }
  .genre, .time {
    width: unit(940);
    border-bottom: none;
    height: auto;
    .genres, .times {
      .genre-name, .time-name {
        display: none;
      }
    }
  }
  .item {
    margin-right: unit(20);
    padding: unit(0);
    margin-bottom: unit(0);
  }
  .items {
    width: unit(940);
    margin: unit(0);
    .itemInfo {
      padding-right: unit(25);
      font-size: unit(16);
    }
  }
  .lessGenre {
    display: none;
  }
  .genre {
    //margin-top: unit(35);
  }
  .time {
    margin-top: unit(25)
  }
  .select {
    margin-right: unit(25);
  }
}

@media screen and (min-width: unit(790)) and (max-width: unit(1120)) {
  .vodFilter-content {
    //width: auto;
    margin-top: unit(25);

  }
  .vodFilterDetail {
    min-width: auto;
    min-height: auto;
  }
  .sortBy {
    display: none;
  }
  .vodFiler-header {
    display: none;
  }
  .header-wrap {
    min-width: auto;
    min-height: auto;
  }
  .chosen {
    display: none;
  }
  .genre, .time {
    width: auto;
    border-bottom: none;
    height: auto;
    .genres, .times {
      .genre-name, .time-name {
        display: none;
      }
    }
  }
  .item {
    margin-right: unit(20);
    padding: unit(0);
    margin-bottom: unit(0);
  }
  .items {
    width: auto;
    margin: unit(0);
    .itemInfo {
      padding-right: unit(25);
      font-size: unit(16);
    }
  }
  .lessGenre {
    display: none;
  }
  .genre {
    //margin-top: unit(35);
  }
  .time {
    margin-top: unit(25)
  }
  .select {
    margin-right: unit(25);
  }
  .sortBy,
  .lineOne,
  .lineTwo,
  .genreMore,
  .areaMoreHidden {
    width: auto;
    border-bottom: none;
  }
}
@media screen and  (max-width: unit(790))  {
  .waterfall-vod-box{
    width: auto;
  }
  .vodFilter-content {
    width: auto;
    margin-top: unit(75);
  }
  .vodFilterDetail {
    min-width: auto;
    min-height: auto;
  }

  .vodFiler-header {
    display: none;
  }
  .header-wrap {
    min-width: auto;
    min-height: auto;
  }
  .chosen {
    display: none;
  }
  .genre, .time {
    width: auto;
    border-bottom: none;
    height: auto;
    .genres, .times {
      .genre-name, .time-name {
        display: none;
      }
    }
  }
  .item {
    margin-right: unit(15);
    padding: unit(0);
    margin-bottom: unit(0);
  }
  .items {
    width: auto;
    margin: unit(0);
    .itemInfo {
      padding-right: unit(20);
      font-size: unit(16);
    }
  }
  .lessGenre {
    display: none;
  }
  .genre {
    margin-top: unit(10);
  }
  .time {
    margin-top: unit(25)
  }
  .select {
    margin-right: unit(20);
  }
  .sortBy,
  .lineOne,
  .lineTwo,
  .genreMore,
  .areaMore {
    width: auto;
    border-bottom: none;
  }

  .vodFilter {
    height: auto;
  }
  .vodFilter-content {
    width: unit(704);
    height: auto;
    margin: 2rem;
    .genre, .time {
      background: none;
      display: block;
      float: none;
      width: auto;
      height: auto;
      .genres, .times {
        width: auto;
        height: auto;
        margin-bottom: unit(0);
        margin-left: unit(0);
        .time-name, .genre-name {
          display: none;
        }
        .content {
          width: auto;
          height: auto;
          margin-bottom: unit(30);
          .item-genre {
            width: auto;
            margin-right: unit(25);
            max-width: none;
          }
        }
      }
    }
  }
}


@media screen and (max-width: unit(550)) {
  .vodFilter {
    height: auto;
  }

  .vodFilter-content {
    width: 100%;
    height: auto;
    .genre {
      margin-right: 0;
    }
    .genre, .time {
      background: none;
      display: block;
      float: none;
      width: auto;
      height: auto;
      .genres, .times {
        width: auto;
        height: auto;
        margin-bottom: unit(0);
        margin-left: unit(0);
        .time-name, .genre-name {
          display: none;
        }
        .content {
          width: auto;
          height: auto;
          margin-bottom: unit(30);
          .item-genre {
            width: auto;
            margin-right: unit(25);
            max-width: none;
          }
        }
      }
    }
  }

}
@media screen and (max-width: unit(475)) {
  .vodFilterList{
    width: 100%;
    margin-left: 1.25rem;
  }
  .vodFilter-content {
    margin: 4rem 1rem;
  }

}
@media screen and (max-width: unit(425)) {
  .vodFilterList{
    width: 100%;
    margin-left: 0.75rem;
  }
  .vodFilter-content {
    margin: 4rem 0.75rem 0;
  }
}
@media screen and (max-width: unit(320)) {
  .vodFilter {
    height: auto;
  }

  .vodFilter-content {
    width: unit(300);
    height: auto;
    .genre, .time {
      background: none;
      display: block;
      float: none;
      width: auto;
      height: auto;
      .genres, .times {
        width: auto;
        height: auto;
        margin-bottom: unit(0);
        margin-left: unit(0);
        .time-name, .genre-name {
          display: none;
        }
        .content {
          width: auto;
          height: auto;
          margin-bottom: unit(30);
          .item-genre {
            width: auto;
            margin-right: unit(25);
            max-width: none;
          }
        }
      }
    }
  }

}
