<div class="vodFilterDetail" id="vodFilterDetail">
  <div class="header-wrap" id="header-wrap">
    <!--<div class="sortBy" *ngIf="showContent">
      <div class="sortBys body-t32">
        <div *ngFor="let option of sortBys; let i = index" (click)="selectFilter(option,'sortBy',i)" [class]="sortByIndex == i  ? 'selectSorts':'itemSorts'">
          <div class="itemInfo">{{option.name | translate}}</div>
        </div>
      </div>
    </div>-->
    <div [style.height]="height" class="vodFilter-content">
      <div class="vodFiler-header">
        <crumbs-app [setCrumbsRoutes]="filterCrumbsRoutes"></crumbs-app>
        <div class="lineOne"></div>
      </div>

      <div [ngStyle]="{'visibility': (showContent == true) ? 'visible' : 'hidden'}">
        <div [ngStyle]="{display: (isShow == 'true') ? 'block' : 'none'}">
          <div [class]="showgenreMore ? 'genre':'genreMore'" id="genre">
            <div class="genres">
              <div class="genre-name body-t29">{{'genre' | translate}}</div>
              <div class="items body-t32">
                <div *ngFor="let option of genres; let i = index" (click)="selectFilter(option,'genre',i)" [class]="genreIndex == i  ? 'select':'item'">
                  <div class="itemInfo">{{option.name | translate}}</div>
                </div>
                <div [class]="showgenreMore ? 'lessGenre':'moreGenre'" *ngIf="hasMoreGenre" (click)="showMoreGenreInfo()"></div>

              </div>
            </div>
          </div>
          <div class="genreMoreHidden">
            <div class="genres">
              <div class="genre-name body-t29">{{'genre' | translate}}</div>
              <div class="items body-t32">
                <div *ngFor="let option of genres; let i = index" (click)="selectFilter(option,'genre',i)" [class]="genreIndex == i  ? 'select':'item'">
                  <div class="itemInfo">{{option.name | translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <!-- @HWP-43-DISABLE-FEATURES div [class]="showMoreArea ? 'area':'areaMore'" id="area">
            <div class="areas">
              <div [class]="showMoreArea  ?'lessArea':'moreArea'" *ngIf="hasMoreArea" (click)="showMoreAreaInfo()"></div>
              <div class="area-name body-t29">{{'area' | translate}}</div>
              <div class="items body-t32">
                <div *ngFor="let option of areas; let i = index" (click)="selectFilter(option,'area',i)" [class]="areaIndex == i  ? 'select':'item'">
                  <div class="itemInfo">{{option.name | translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="areaMoreHidden">
            <div class="areas">
              <div class="area-name body-t29">{{'area' | translate}}</div>
              <div class="items body-t32">
                <div *ngFor="let option of areas; let i = index" (click)="selectFilter(option,'area',i)" [class]="areaIndex == i  ? 'select':'item'">
                  <div class="itemInfo">{{option.name | translate}}</div>
                </div>
              </div>
            </div>
          </div-->
          <div class="time">
            <div class="times">
              <div class="time-name body-t29">{{'time' | translate}}</div>
              <div class="items body-t32">
                <div *ngFor="let option of years; let i = index" (click)="selectFilter(option,'year',i)" [class]="yearIndex == i  ? 'select':'item'">
                  <div class="itemInfo">{{option.name | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chosen">
          <div *ngIf="chosensShow.length>0 || isShow == 'true'" class="chosens">
            <div class="chosen-name body-t29">{{'havechosen' | translate}}</div>
            <div class="chosen-area body-t32">
              <div *ngFor="let option of chosensShow; let i = index" class="item-chosen" (click)="removeFilter(i, option)">
                <div class="itemInfo"><span>{{option.name | translate}}</span>
                  <div class="chosenImg"></div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="chosensShow.length>0" [class]="isShow == 'true' ?'filterResult body-t29':'filterResultBottom body-t29'" (click)="changeFilter(chosensShow)">
            <div [class]="isShow == 'true' ?'resultName':'resultNameBottom'">{{'filter' | translate}}</div>
            <div [class]="isShow == 'true' ?'resultImg':'resultImgBottom'"></div>
          </div>
          <div *ngIf="chosensShow.length==0" [class]="isShow == 'true' ?'filterResult body-t29':'filterResultBottomNO body-t29'" (click)="changeFilter(chosensShow)">
            <div [class]="isShow == 'true' ?'resultName':'resultNameBottomNO'">{{'filter' | translate}}</div>
            <div [class]="isShow == 'true' ?'resultImg':'resultImgBottomNO'"></div>
          </div>
          <div *ngIf="chosensShow.length>0 || isShow == 'true'" class="lineTwo"></div>
        </div>
      </div>
    </div>
    <div class="vod-filter-load">
      <div class="spinner"></div>
    </div>
    <div class="vodFilterList" *ngIf="!isNodata">
      <waterfall-vod class="waterfall" [data]="vodFilterLists" (child)="vodDtail($event)"></waterfall-vod>
    </div>
  </div>
  <div class="filterNoData" [style.height]="allNoDataHeight()" *ngIf="isNodata">
    <div class="nodata-wrap">
      <div class="noDataposter"></div>
      <div class="noDataWordone body-t29">{{'no_content' | translate}}</div>
    </div>
  </div>
</div>
