@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.stillsVod-home {
  width: unit(1280);
  height: unit(254);
  margin: auto;
  padding-bottom: unit(58);
}

.stillsVod-name {
  position: relative;
  margin-bottom: unit(20);
  display: inline-block;
  line-height: unit(24);
  color: $text-c31;
  cursor: pointer;
  .stillsVod-arrow {
    @extend .rightarrow-24;
    background-position: unit(0) unit(4);
    position: relative;
    display: inline-block;
    margin-left: unit(10);
  }
}
.stillsVod-name:hover{
  .stillsVod-arrow {
    @extend .rightarrow2-24;
    position: relative;
    display: inline-block;
    margin-left: unit(10);
    background-position: unit(0) unit(4);
  }
}
.defaultStillsVod-name{
    position: relative;
    margin-bottom: unit(20);
    display: inline-block;
    line-height: unit(24);
    color: $text-c31;
    cursor: default;
}

.line {
  width: unit(1280);
  border-bottom: unit(1) solid $basic-c03;
  margin-bottom: unit(40);
}

.vodStills {
  width: unit(1280);
  height: unit(180);
  display: block;
  overflow: hidden;
}

@media screen and (max-width: unit(1440)) {
  .stillsVod-home {
    width: unit(980)
  }
  .stillsVod-home .line {
    width: unit(980)
  }
  .stillsVod-home .vodStills {
    width: unit(980)
  }
}

.noRecmList {
  margin-bottom: unit(70);
  position: relative;
}
