<div class="stillsVod-home" *ngIf="stillsLists" >
  <div class="line"></div>
  <div class="stillsVod-name title-t13" (click)="moreStillShow()" *ngIf="hasRecmList">
  {{stillTittle}}<span class="stillsVod-arrow"></span>
  </div>
  <div class="defaultStillsVod-name title-t13" (click)="moreStillShow()" *ngIf="!hasRecmList">
  {{stillTittle}}
  </div>
  <vod-still class="vodStills" [data]="moreStillsLists" (child)="stillEnlarge($event)" *ngIf="hasRecmList"></vod-still>
  <div class="noRecmList" *ngIf="!hasRecmList">
        	<waterfall-noData [nodatatype]="'ondemand'"></waterfall-noData>
  </div>
</div>

