<div class="vod-banner" id="vod-banner" *ngIf="hasVodBanner">
  <div class="line"></div>
  <div class="nav_cover"></div>
  <div class="content" *ngIf="hasVodBanner">
    <div class="poster">
      <div class="stents"></div>
      <div class="click click-left" (click)='onClickPrevious()' *ngIf="!onlyOneVod"></div>
      <div class="image">
        <img
          [src]="curVodBanner?.picture?.stills[0]"
          onerror="this.onerror=null;this.src='assets/img/default/livetv_home_landscape_program.png'"
        />
        <div class="mask" (click)="play()"></div>
        <ul class="rotatePoint" *ngIf="vodBannerList.length > 1">
          <li
            *ngFor="let banner of vodBannerList; let i=index"
            [class]='curVodBanner === banner? "selected": ""'
            (click)='changeBanner(banner, i)'
          ></li>
        </ul>
      </div>
      <div class="click click-right" (click)='onClickNext()' *ngIf="!onlyOneVod"></div>
    </div>
    <div class="info">
      <div class="info-wrapper">
        <img
          class="banner-logo"
          *ngIf="curVodBanner?.picture?.titles?.length > 0"
          [src]="curVodBanner?.picture?.titles[0]"
        >
        <div class="banner-logo " *ngIf="!curVodBanner?.picture?.titles?.length"></div>
        <div class="button-cont">
          <div class="play body-t26" (click)="plays()">
            <span class="playContent angleplay-20" *ngIf="showPlay">{{ 'play' | translate}}</span>
            <span class="playContent buyicon-20" *ngIf="!showPlay">{{ 'buy' | translate}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
