@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.vod-banner {
  $height: unit(776);
  $width: unit(1280);
  width: 100%;
  height: $height;
  background: $mts-bg-7;
  margin-bottom: 50px;

  .noVodbanner {
    margin-top: unit(130);
    position: relative;
  }

  .line {
    height: unit(1);
    border-top: unit(1) solid $basic-c21;
    position: relative;
    z-index: 1;
    padding-bottom: unit(28);
  }

  .nav_cover {
    height: unit(200);
    width: 100%;
    position: absolute;
    top: unit(-80);
    z-index: 1;
    background: url(assets/img/banner_cover1_200px.png);
  }

  .content {
    font-size: 0;
    max-width: $width;
    height: $height;
    margin: auto;
    position: relative;
    z-index: 2;
    .poster {
      height: $height;
      text-align: center;
      .stents {
        display: inline-block;
        vertical-align: middle;
        height: $height;
      }
      .mask {
        height: unit(370);
        width: 100%;
        margin-top: unit(-370);
        background: -webkit-linear-gradient(top, $bg-M2);
        background: -moz-linear-gradient(top, $bg-M2);
        background: -ms-linear-gradient(top, $bg-M2);
        position: relative;
        z-index: 3;
        cursor: pointer;
      }
      .image {
        width: $width;
        height: 716px;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      .click {
        position: absolute;
        z-index: 4;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        top: 50%;
        background-position: unit(0);

        &.click-left {
          @extend .angleleft-30;
          left: unit(15);

          &:hover {
            @extend .angleleft2-30;
            background-position: unit(0);
          }
        }
        &.click-right {
          @extend .angleright-30;
          right: unit(15);

          &:hover {
            @extend .angleright2-30;
            background-position: unit(0);
          }
        }
      }

      .rotatePoint {
        height: 10px;
        margin: 0 auto;
        position: relative;
        z-index: 4;
        bottom: 38px;
        display: inline-block;
        padding-left: 0;
      }
      li {
        list-style: none;
        background: $basic-c03;
        width: $icon-s10;
        height: $icon-s10;
        float: left;
        margin: unit(1) unit(5);
        border-radius: 50%;
        cursor: pointer;
      }
      .selected {
        margin: 0 unit(5);
        background: $basic-c01;
      }
    }
    .info {
      width: unit(408);
      height: unit(308 + 10 + 57);
      position: absolute;
      right: unit(0);
      bottom: unit(156);
      z-index: 3;
      &-wrapper {
        display: inline-block;
      }

      .banner-logo {
        //change if needed to dynamic size
        width: unit(308);
        height: unit(308);
      }

      .button-cont {
        text-align: center;
        margin-top: unit(10);

        .play {
          display: inline-block;
          background: linear-gradient(to right, $basic-c31, $basic-c32);
          border-radius: $rounded-rc1;
          z-index: 1;
          cursor: pointer;
          min-width: unit(140);
          text-align: center;

          &:hover {
            background-color: $basic-c31;
          }
          .playContent {
            height: $btn2-height;
            border: none;
            color: $text-c31;
            outline: none;
            line-height: unit(40);
            padding-left: unit(30);
            margin: 0 unit(20);
            background-position: unit(0);
          }
        }
      }

    }
  }
  .contentVodBannerBg {
    width: unit(386);
    color: $text-c35;
    line-height: unit(22);
    word-break: break-all;
    visibility: hidden;
    position: absolute;
  }
}

@media (max-width: 1440px) {
  #vod-banner {
    height: auto;

    .content,
    .content .image {
      max-width: unit(980);
      width: unit(980);
      height: unit(551);
    }
  }
}

@media (max-width: 1120px) {
  #vod-banner {
    height: auto;

    .content,
    .content .image {
      max-width: unit(940);
      width: auto;

      .poster {
        height: auto;
      }
    }
  }
}

@media (max-width: 790px) {
  #vod-banner {
    .content,
    .content .image {
      max-width: unit(704);
      width: 100%;
      max-height: unit(396);
    }
  }
}

@media screen and (max-width: 450px) {
  .vod-banner {
    padding: 0;
    margin-bottom: unit(60);
    .line {
      display: none;
    }
  }

  #vod-banner {
    .content,
    .content .image {
      max-width: unit(450);
      width: 100%;
      height: auto;
    }
    .content {
      .info,
      .info-wrapper,
      .banner-logo {
        width: 100%;
        height: 100%;
      }
      img.banner-logo {
        opacity: 0;
      }
      .button-cont {
        margin-top: unit(-10);
      }
      .stents {
        display: none;
      }
      .poster {
        height: auto;
      }
      .play.body-t26 {
        width: 100%;
      }
    }
  }
}

