@import "/src/assets/css/common-variables";

.playbill-record-wrapper{
    position: relative;
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.701961);
}
.app-record-dialog {
    width: 460px;
    position: relative;
    background: rgba(24, 24, 24, 0.96);
    border-radius: 3px;
    color: #f5f5f5;
    margin: auto;
    top: 50px;
    .title {
        width: 460px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-bottom: 1px solid #2f2f2f;
        div {
            line-height: 60px;
            color: $text-c35;
            font-size: $title-t14;
        }
        .record-close {
            background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
            width: 20px;
            height: 20px;
            position: relative;
            top: -43px;
            left: 405px;
            cursor: pointer;
        }
    }
    .content{
      padding-top: 30px;
      padding-bottom: 30px;
      .type {
          padding-left: 40px;
          padding-right: 40px;
          position: relative;
          height: 37px;
          .left-type{
            display: inline-block;
            float: right;
            height: 37px;
            line-height: 37px;
            padding-right: 10px;
            position: relative;
            color: #7a7a7a;
          }
          .right-type{
            display: inline-block;
            float: right;
            .single-record{
                display: inline-block;
                border: 1px solid #484848;
                width: 120px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                margin-right: 14px;
                .select{
                  @extend .recording_single-24;
                  display: inline-block;
                  top: 6px;
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: 4px;
                  position: relative;
                }
            }
            .periodic-record{
                display: inline-block;
                border: 1px solid #484848;
                width: 120px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                .select{
                  @extend .periodic-24;
                  display: inline-block;
                  top: 6px;
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: 4px;
                  position: relative;
                }
            }
            .canhover{
                &:hover{
                  border: 1px solid #0aa2a5;
                }
                &:active{
                  border: 1px solid #0aa2a5;
                }
                cursor: pointer;
            }
            .nohover{
                background: #242424;
                color: #535252;
            }
            .focus{
                border: 1px solid #0aa2a5;
                cursor: pointer;
            }
          }
      }

      .storage {
          padding-left: 40px;
          padding-right: 40px;
          display: block;
          position: relative;
          height: 37px;
          padding-top: 30px;
          .left-storage{
            display: inline-block;
            float: right;
            height: 37px;
            line-height: 37px;
            padding-right: 10px;
            position: relative;
            color: #7a7a7a;
          }
          .right-storage{
            display: inline-block;
            float: right;
            .cloud-storage{
                display: inline-block;
                border: 1px solid #484848;
                width: 120px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                margin-right: 14px;
                cursor: pointer;
                .select{
                  @extend .cloud-24;
                  display: inline-block;
                  top: 6px;
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: 4px;
                  position: relative;
                }
                &:hover{
                  border: 1px solid #0aa2a5;
                }
                &:active{
                  border: 1px solid #0aa2a5;
                }
            }
            .cloud-focus{
                display: inline-block;
                border: 1px solid #0aa2a5;
                width: 120px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                margin-right: 14px;
                cursor: pointer;
                .select{
                  @extend .cloud-24;
                  display: inline-block;
                  top: 6px;
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: 4px;
                  position: relative;
                }
                &:hover{
                  border: 1px solid #0aa2a5;
                }
                &:active{
                  border: 1px solid #0aa2a5;
                }
            }
            .cloudnohover{
              background: #242424;
              color: #535252;
              display: inline-block;
              border: 1px solid #484848;
              width: 120px;
              height: 35px;
              text-align: center;
              line-height: 35px;
              margin-right: 14px;
              .select{
                @extend .cloud-24;
                display: inline-block;
                top: 6px;
                position: relative;
              }
              .message{
                display: inline-block;
                margin-left: 4px;
                position: relative;
              }
            }
            .stbnohover{
              background: #242424;
              color: #535252;
              display: inline-block;
              border: 1px solid #484848;
              width: 120px;
              height: 35px;
              text-align: center;
              line-height: 35px;
              .select{
                @extend .recording_STB-24;
                display: inline-block;
                top: 6px;
                position: relative;
              }
              .message{
                display: inline-block;
                margin-left: 4px;
                position: relative;
              }
            }
            .stb-storage{
                display: inline-block;
                border: 1px solid #484848;
                width: 120px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                cursor: pointer;
                .select{
                  @extend .recording_STB-24;
                  display: inline-block;
                  top: 6px;
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: 4px;
                  position: relative;
                }
                &:hover{
                  border: 1px solid #0aa2a5;
                }
                &:active{
                  border: 1px solid #0aa2a5;
                }
            }
            .stb-focus{
                display: inline-block;
                border: 1px solid #0aa2a5;
                width: 120px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                cursor: pointer;
                .select{
                  @extend .recording_STB-24;
                  display: inline-block;
                  top: 6px;
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: 4px;
                  position: relative;
                }
                &:hover{
                  border: 1px solid #0aa2a5;
                }
                &:active{
                  border: 1px solid #0aa2a5;
                }
            }
          }
      }

      .quality-item {
            margin-left: 22px;
            margin-top: 30px;
            height: 37px;
            width: 466px;
            position: relative;
            line-height: 37px;
            .item-name {
                text-align: right;
                margin-right: 10px;
                font-size: $body-t29;
                color: $text-c35;
                width: 126px;
                position: relative;
                line-height: 37px;
                float: left;
            }
            .quality-drop {
                width: unit(37);
                height: unit(37);
                background-color: $basic-c17;
                display: inline-block;
                position: absolute;
                cursor: pointer;
                right: 68px;
            }
            .quality-list {
                position: absolute;
                margin-left: unit(136);
                background: $basic-c19;
                margin-top: unit(38);
                -webkit-user-select: none;
                cursor: pointer;
                z-index: 2;
                li {
                    text-align: center;
                    list-style: none;
                    height: unit(37);
                    line-height: unit(37);
                    font-size: $body-t29;
                    color: $text-c35;
                    width: unit(262);
                    &:hover {
                        background: $basic-c03;
                        color: $text-c31;
                    }
                }
            }
        }
        input {
          width: unit(262);
          height: unit(35);
          background: $basic-c03;
          border: none;
          outline: none;
          text-align: center;
          font-size: $body-t29;
          color: $text-c31;
          float: left;
        }
    }
    .split{
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 70px;
        .line{
          border-bottom: 1px solid #5e5c5c;
          margin-left: 48px;
          width: 224px;
        }
        .extended{
          position: relative;
          top: -10px;
          width: 76px;
          float: right;
          color: #7a7a7a;
        }
        .down{
          position: relative;
          top: -13px;
          float: right;
          @extend .angledown-24;
          cursor: pointer;
        }
        .up {
          position: relative;
          top: -13px;
          float: right;
          @extend .angleup-24;
          cursor: pointer;
        }
    }
    .max-record-dialog{
        padding-bottom: 30px;
    }

    .settting{
      padding-bottom: 32px;
      span{
          padding-left: 40px;
          padding-right: 40px;
          display: block;
          position: relative;
          height: 37px;
          margin-bottom: 30px;
          .arrow{
            width: 37px;
            height: 37px;
            background: #1c1e1f;
            position: absolute;
            right: 40px;
            .down {
              cursor: pointer;
              left: 6px;
              position: relative;
              top: 6px;
              @extend .angledown-24;
            }
            .gray-down {
              left: 6px;
              position: relative;
              top: 6px;
              @extend .angledown2-24;
            }
            .up {
              cursor: pointer;
              left: 6px;
              position: relative;
              top: 6px;
              @extend .angleup-24;
            }
          }
          .left{
            float: right;
            height: 37px;
            line-height: 37px;
            padding-right: 10px;
            position: relative;
            color: #7a7a7a;
          }
          .right{
            float: right;
            width: 262px;
            height: 37px;
            background: $basic-c03;
            text-align: center;
            line-height: 37px;
            color: #f5f5ee;
            font-size: 16px;
          }
      }
      .delete-mode {
         padding-bottom: 60px;
      }
      ul{
        list-style: none;
        position: absolute;
        float: left;
        outline: none;
        padding: 0px;
        margin: 0px;
        height: 222px;
        width: 262px;
        right: 40px;
        top: 38px;
        background: $basic-c19;
        z-index: 3;
        cursor: pointer;
        li{
          height: 37px;
          line-height: 37px;
          text-align: center;
          &:hover{
            background: $basic-c03;
          }
        }
      }
    }

    .buttom{
        background-color: $basic-c04;
        border-radius: 2px;
        z-index: 1;
        cursor: pointer;
        width: 120px;
        height: 40px;
        text-align: center;
        margin: auto;
        position: relative;
        line-height: 40px;
        bottom: 30px;
    }
}

.fontGray {
  color: $text-c35;
}
