<div class="playbill-record-wrapper" id="playbill-record-wrapper">
    <div class="app-record-dialog" id="app-record-dialog">
        <div class="title">
            <div>{{ 'Record' | translate}}</div>
            <div class="record-close" (click)="close()"></div>
        </div>
        <div class="content">
            <div class="type" *ngIf="!(!supportAllCPVR && PVRMode == 'CPVR')">
                <div class="right-type">
                    <div class="single-record" [ngClass]="singleRecordType ? 'focus' : (singleRecordFalse ? 'canhover' : 'nohover')" (click)="changeFocus('singleRecordType')">
                        <div class="select"></div>
                        <div class="message">{{'Single' | translate}}</div>
                    </div>
                    <div class="periodic-record" [ngClass]="periodicRecordType ? 'focus' : (periodicRecordFalse ? 'canhover' : 'nohover')" (click)="changeFocus('periodicRecordType')">
                        <div class="select"></div>
                        <div class="message">{{'Series' | translate}}</div>
                    </div>
                </div>
                <div class="left-type">{{'Type' | translate}}</div>
            </div>

            <div class="storage" *ngIf="recordingMode == 'CPVR&NPVR' && (supportAllCPVR || singleRecordType)">
                <div class="right-storage">
                    <div (click)="selectStorage('cloud')" [ngClass]="selectCloud ? 'cloud-focus' : (canNPVRRecord ? 'cloud-storage' : 'cloudnohover')"
                        class="cloudRecord'">
                        <div class="select"></div>
                        <div class="message">{{'Cloud' | translate}}</div>
                    </div>
                    <div (click)="selectStorage('stb')" [ngClass]="!selectCloud ? 'stb-focus' : (canCPVRRecord ? 'stb-storage' : 'stbnohover')"
                        class="stbRecord'">
                        <div class="select"></div>
                        <div class="message">{{'STB' | translate}}</div>
                    </div>
                </div>
                <div class="left-storage">{{'Storage' | translate}}</div>
            </div>
            <div class="quality-item" *ngIf="recordType && showQullity && !selectCloud  && (supportAllCPVR || singleRecordType)">
                <span class="item-name">{{'Quality' | translate}}</span><input maxlength="30" [(ngModel)]="curQualityObj.quality"
                    readonly="reasonly" [style.color]="recordData.qualityList && recordData.qualityList.length && recordData.qualityList.length != 1 ? '#f5f5f5' : '#8f8f8f'">
                <div [class]="showQualityList ? 'quality-drop angleup-24' : 'quality-drop angledown-24'" (click)="choiceQuality()"
                    *ngIf="recordData.qualityList && recordData.qualityList.length && recordData.qualityList.length != 1"></div>
                <div class="quality-list" [ngStyle]='{visibility:showQualityList ? "visible" : "hidden"}' (mouseleave)="mouseOutQualityList()">
                    <li *ngFor="let qualityObj of recordData.qualityList" [textContent]='qualityObj.quality' (click)="selectQuality(qualityObj)"></li>
                </div>
            </div>
        </div>

        <div class="split" *ngIf="recordType" [ngClass]="hasExtended ? 'max-record-dialog' : ''">
            <div class="line"></div>
            <div class="arrow" (click)="extendedSet()" [ngClass]="hasExtended ? 'up' : 'down'"></div>
            <div class="extended">{{'Advanced' | translate}}</div>
        </div>

        <div class="settting" *ngIf="hasExtended || !recordType">
            <span class="pre-padding">
                <div class="arrow" (click) = "dealArrow('prePaddingArrow')"> <div class="angle" [ngClass]="prePaddingArrow == 'up' ? 'up' : (canSetPrePadding ? 'down' : 'gray-down')"> </div> </div>
                <div class="right">
                    <div [class]="canSetPrePadding? 'time':'fontGray'">{{ preTime }} {{'min' | translate}}</div>
                </div>
                <div class="left">{{'Pre-padding' | translate}}</div>
                <ul *ngIf="prePaddingArrow == 'up'">
                    <li *ngFor="let arrowPre of arrowPreList; let i = index" (click)= "changePrePadding(arrowPre)">
                        <div [ngStyle]='{color:(preTime === arrowPre) ? "#f5f5f5" : "#8f8f8f"}'>{{ arrowPre }} {{'min' | translate}}</div>
                    </li>
                </ul>
            </span>

            <span class="post-padding">
                <div class="arrow" (click) = "dealArrow('postPaddingArrow')"> <div class="angle" [ngClass]="postPaddingArrow == 'up' ? 'up' : 'down'"> </div> </div>
                <div class="right">
                    <div class="time">{{ endTime }} {{'min' | translate}}</div>
                </div>
                <div class="left">{{'Post-padding' | translate}}</div>
                <ul *ngIf="postPaddingArrow == 'up'">
                    <li *ngFor="let arrowPost of arrowPostList; let i = index" (click)= "changePostPadding(arrowPost)">
                        <div [ngStyle]='{color:(endTime === arrowPost) ? "#f5f5f5" : "#8f8f8f"}'>{{ arrowPost }} {{'min' | translate}}</div>
                    </li>
                </ul>
            </span>
        </div>

        <div class="buttom" (click)="addRecord()">{{'Confirm' | translate}}</div>
    </div>
</div>