@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.definitionDetail {
  width: unit(140);
  border-radius: unit(3);
  .definitionAll {
    width: unit(140);
    height: unit(35);
    color: $text-c31;
    text-align: center;
    background-color: $basic-c06;
    line-height: unit(35);
  }
  .definition {
    background-color: $basic-c17;
    z-index: 10;
    height: unit(35);
    color: $text-c31;
    text-align: center;
    line-height: 33px;
  }
  .definition:hover {
    background-color: #2a2e33;
    color: $text-c31;
    cursor: pointer;
  }
  .otherDefinition-setting {
    width: unit(140);
    height: unit(23);
    text-align: center;
    padding-top: unit(12);
    color: $text-c35;
    cursor: default;
  }
  .current-definition {
    color: $basic-c31;
  }
  .definitionDetailShow {
    background-color: $basic-c17;
    z-index: 10;
    .definitionDetailList {
      height: unit(35);
      color: $text-c35;
      list-style: none;
    }
  }
  .definitionPadding {
    height: unit(5);
    background-color: $basic-c17;
  }
  .definitionArrowDown {
    @extend .playcontrol-angle;
    width: unit(12);
    height: unit(8);
    margin: auto;
    background-color: none;
  }
  .defitionPath {
    width: unit(100);
    left: unit(20);
    height: unit(40);
    bottom: unit(-17);
    position: absolute;
  }
}
