<div id="definitionDetail" class="definitionDetail body-t32">
  <div class="definitionAll">{{'definition' | translate}}</div>

  <div
    class="definition"
    [ngClass]='curDefinition === "auto" ? "current-definition" : ""'
    (click)="setDefinition(-1)"
  >{{ 'auto' | translate }}</div>

  <div
    class="definition"
    [ngClass]='(curIndex == i) ?  "current-definition": ""'
    *ngFor="let definition of definitionShowDetailLists, let i=index"
    (click)="setDefinition(i)"
  >{{definition}} {{'kbps' | translate}}</div>

  <div class="definitionArrowDown"></div>
  <div class="defitionPath"></div>
</div>
