<div class="noData title-t17">
    <div [class]="isShowHome == 'true' ?'noDataposterHome':'noDataposter'" [ngStyle]="{display: showImg ? 'block' : 'none'}"></div>
    <div class="noDataWordone">{{noDataone | translate}}</div>
    <div class="noDataWordtwo">{{noDatatwo | translate}}</div>
    <div class="noDataWordthree">{{noDatathree | translate}}</div>
    <div class="noDataWordfour">{{noDatafour | translate}}</div>
</div>
