@import "/src/assets/css/common-variables.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
}

.noData {
  cursor: default;
}

.noDataposterHome {
  width: 56px;
  height: 56px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: -9px;
  @extend .search-56;
}

.noDataposter {
  @extend .noresult-72;
  width: 72px;
  height: 72px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.noDataWordone {
  color: $basic-c20;
  text-align: center;
  position: relative;
  margin-top: 22px;
}

.noDataWordtwo {
  color: $basic-c20;
  text-align: center;
  position: relative;
  padding-top: 8px;
}

.noDataWordthree {
  color: $basic-c20;
  text-align: center;
  position: relative;
  padding-top: 8px;
}

.noDataWordfour {
  color: $basic-c20;
  text-align: center;
  position: relative;
  padding-top: 8px;
}
@media screen and (max-width: 320px) {
    .noData {
        height: unit(256);
        max-width: unit(320);
    .noDataWordone{
        margin-top:unit(20);
    }
    }
}
