<div class="myVideos-history">
  <div class="historyTitle">
    <span class="historyName title-t14">{{'historyVedios' | translate}}{{totalStr}}</span>
    <div class="historyEdit body-t32" (click)="editData()" [ngStyle]="noDataStyle()" *ngIf="show">{{'edit' | translate}}</div>
    <div class="historyEdit2" [ngStyle]="{display: (noDataList == '1') || showLoadIcon ? 'block' : 'none'}"></div>
    <div class="historyComplete body-t32" (click)="completeData()" *ngIf="!show">{{'complete' | translate}}</div>
    <div class="historyClearAll body-t32" (click)="clearAllData()" *ngIf="!show">{{'clearAll' | translate}}</div>
  </div>
  <div class="historyList">
    <div class="historyList_today" *ngIf="todayData.length > 0 && historyListsToday">
      <div class="historyList_dateType body-t28">{{'today' | translate}}</div>
      <myVideos-vod [dataVod]="historyListsToday" (deleteVod)="deleteVod($event)" (detailVod)="detailVod($event)" ></myVideos-vod>
    </div>
    <div class="historyList_yesterday" *ngIf="yesterdayData.length > 0 && historyListsYesterday">
      <div class="historyList_dateType body-t28">{{'yesterday' | translate}}</div>
      <myVideos-vod [dataVod]="historyListsYesterday" (deleteVod)="deleteVod($event)" (detailVod)="detailVod($event)" ></myVideos-vod>
    </div>
    <div class="historyList_thisWeek" *ngIf="thisWeekData.length > 0 && historyListsThisWeek">
      <div class="historyList_dateType body-t28">{{'thisWeek' | translate}}</div>
      <myVideos-vod [dataVod]="historyListsThisWeek" (deleteVod)="deleteVod($event)" (detailVod)="detailVod($event)" ></myVideos-vod>
    </div>
    <div class="historyList_earlier" *ngIf="earlierData.length > 0 && historyListsEarlier">
      <div class="historyList_dateType body-t28">{{'earlier' | translate}}</div>
      <myVideos-vod [dataVod]="historyListsEarlier" (deleteVod)="deleteVod($event)" (detailVod)="detailVod($event)" ></myVideos-vod>
    </div>
  </div>
  <app-close-confirm class="confirm" [confirmInfoKey]="confirmInfoKey" (cancelData)="cancelData($event)" (confirmData)="confirmData($event)" *ngIf="isClearAll"></app-close-confirm>
  <div class="failed body-t29" [ngStyle]="{display: (failed == '1') ? 'block' : 'none'}">{{'delete_failed_try_again_later' | translate}}</div>
  <div class="noData" [ngStyle]="{display: (noDataList == '1') && !showLoadIcon ? 'block' : 'none'}">
        <waterfall-noData [nodatatype]="'history'"></waterfall-noData>
    </div>
  <div class="my-load-status" *ngIf="showLoadIcon" [style.bottom]="firstLoad?'450px':'100px'">
        <div class="spinner"></div>
    </div>
</div>
