@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.myVideos-history {
  .historyTitle {
    height: unit(40);
    border-bottom: unit(1) $basic-c03 solid;
    .historyName {
      height: unit(24);
      padding-top: unit(6);
      display: inline-block;
      color: $text-c31;
      line-height: unit(24);
      cursor: default;
    }
    .historyEdit {
      height: 28px;
      border: 1px $basic-c21 solid;
      float: right;
      text-align: center;
      color: $text-c31;
      line-height: 28px;
      cursor: pointer;
      border-radius: 2px;
      -webkit-user-select: none;
      user-select: none;
      padding: 0 18px;
      letter-spacing: 0.2px;
    }
    .historyEdit:hover {
      background: $basic-c03;
    }
    .historyEdit2 {
      height: unit(28);
      float: right;
      margin-right: unit(-62);
      -webkit-user-select: none;
      user-select: none;
    }
    .historyClearAll {
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      margin-right: 10px;
      padding: 0 unit(20) 0 unit(20);
      color: $text-c31;
      line-height: unit(28);
      cursor: pointer;
      border-radius: unit(2);
      -webkit-user-select: none;
      user-select: none;
    }
    .historyClearAll:hover {
      background: $basic-c03;
    }
    .historyComplete {
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      padding: 0 unit(20) 0 unit(20);
      color: $text-c31;
      line-height: unit(28);
      cursor: pointer;
      border-radius: unit(2);
      -webkit-user-select: none;
      user-select: none;
    }
    .historyComplete:hover {
      background: $basic-c03;
    }
  }
  .historyList_dateType {
    color: $text-c35;
    line-height: 19px;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: default;
  }
  .confirm {
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
  }
  .failed {
    width: unit(340);
    height: unit(24);
    margin: auto;
    margin-top: unit(200);
    padding: unit(23) unit(65);
    background: $basic-c14;
    line-height: unit(24);
    color: $text-c31;
  }
  .noData {
    margin-top: unit(200);
    position: relative;
  }
}

.my-load-status {
  position: absolute;
  top: unit(350);
  right: 47%;
  z-index: 14;
  display: block;
  .spinner {
    position: absolute;
    left: unit(0);
    width: unit(50);
    height: unit(50);
    background-repeat: no-repeat;
    background-size: unit(50);
    background-image: url(assets/img/loader.gif);
  }
}

@keyframes login_load_roate_div {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes login_load_roate_div {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: unit(1440)) {
  .myVideos-history .my-load-status {
    left: unit(345);
  }
}
