@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: unit(20);

    .card {
        display: flex;
        margin-right: unit(20);
        background-color: rgba(143, 143, 143, 0.1);
        padding-right: 7px
    }
    &:hover {
        .hover-block {
            display: flex;
            z-index: 99;
        }
    }
    .hover-block.right {
        right: 18%;
        &-content {
            position: relative;
            display: inline-block;
            background-color: rgba(30, 31, 32, 0.95);
        }
        &::before {
            content: '';
            position: absolute;
            top: 45%;
            width: 0;
            height: 0;
            left: -2%;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right:10px solid rgba(30, 31, 32, 0.95);
        }
    }
    .hover-block.left {
        right: 50%;
        &-content {
            position: relative;
            display: inline-block;
            background-color: rgba(30, 31, 32, 0.95);
        }
        &::after {
            content: '';
            position: absolute;
            top: 100px;
            right: -2%;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid rgba(30, 31, 32, 0.95);

        }
    }
    .hover-block {
        display: none;
        position: absolute;
        width: unit(400);
        height: auto;
        background-color: rgba(30, 31, 32, 0.95);
        color: #fff;
        margin-top: -40px;
    }
    .hover-block {
        padding-left: unit(40);
        .title {
            padding-top: unit(15);
            padding-bottom: unit(15);
            width: unit(350);
            height: unit(52);
            font-family: Rubik-Light, sans-serif;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f5f5f5;
        }
        .type {
            padding-top: unit(15);
            padding-bottom: unit(10);
            //width: unit(66);
            height: unit(19);
            font-family: Rubik-Light, sans-serif;
            font-size: unit(14);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #8f8f8f;
            bottom: 0;
        }
        .introduce {
            width: unit(347);
            height: auto;
            font-family: Rubik-Light, sans-serif;
            font-size: unit(14);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #8f8f8f;
            padding-bottom: unit(30);
        }
        .infotext {
            width: unit(347);
            height: auto;
            font-family: Rubik-Light, sans-serif;
            font-size: unit(20);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f5f5f5;
            padding-bottom: unit(30);
        }
        .divider {
            width: unit(350);
            height: unit(1);
            background-color: rgba(245, 245, 245, 0.1)
        }
        .spinner {
            margin-left: unit(130);
            width: unit(80);
            height: unit(80);
            background: url(assets/img/80/login_popup_load_80x80.png) no-repeat 100% 100%;
            -webkit-animation: login_load_roate_div 2s infinite;
            animation: login_load_roate_div 2s infinite;
        }
    }
}

.button {
    height: unit(40);
    border-radius: unit(1);
    background: linear-gradient(to right, $basic-c31, $basic-c32);
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Rubik-Light, sans-serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #f5f5f5;
    }

    &:hover {
        background: $basic-c31;
    }
}

.wrap__left {
    width: unit(110);
    height: unit(150);
    border-radius: 1px;
    background-color: rgba(143, 143, 143, 0.1);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
    }
}

.wrap__right {
    width: unit(339);
    height: unit(150);
    overflow: hidden;
    background-color: rgba(31, 31, 31, 0.7);
    .wrap__right-info {
        padding-left: unit(20);
        .subscription-introduce {
            width: unit(299);
            height: unit(38);
            font-family: Rubik-Light, sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #8f8f8f;
            padding-top: unit(10);
        }
        .subscription-type {
            width: 104px;
            height: 19px;
            font-family: Rubik-Light, sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #8f8f8f;
        }
    }
}

.wrap__right-title {
    padding-left: unit(20);
    padding-top: unit(20);
    display: flex;
    margin-bottom: 20px;
    .subscription-title {
        width: 207px;
        height: 26px;
        font-family: Rubik-Light, sans-serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f5f5f5;
    }
    .subscription-price {
        height: 32px;
        font-family: Rubik-Light, sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
    }
    .subscription-currency-sign {
        margin-left: unit(5);
        margin-top: unit(5);
        width: 10px;
        height: 18px;
        font-family: Rubik-Light, sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
    }
}

.product_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.purchased-title {
    position: relative;
    width: unit(1086);
    height: unit(29);
    .title {
        position: absolute;
        bottom: unit(1);
        color: $text-c31;
        line-height: unit(20);
        cursor: default;
    }
}

.divider-line {
    width: 942px;
    height: 1px;
    margin-bottom: unit(20);
    background-color: rgba(245, 245, 245, 0.1);
}

.subscribe {
    color: $basic-c31;
}

.subscribed {
    color: $basic-c20;
}

.title{
    height: unit(26);
    font-family: Rubik-Light, sans-serif;
    font-size: unit(20);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f5f5f5;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 200;
    .payment-list {
        position: relative;
        width: unit(350);
        margin: auto;
        background-color: rgba(24, 24, 24, 0.96);
        top: 30%;
        justify-content: center;
        padding: unit(20);
        .title {
            padding-bottom: unit(7);
        }
        .button {
            padding: unit(5);
            margin-bottom: unit(10);
            border: unit(1) solid $basic-c25;
            border-radius: $rounded-rc1;
            background-color: black;
            div {
                color: $basic-c01;
            }
        }
        .button:hover {
            background-color: $basic-c26;
            cursor: pointer;
        }
    }
}

.my-load-status {
    position: absolute;
    top: unit(200);
    right: 47%;
    z-index: 14;
    display: block;
    .spinner {
      position: absolute;
      left: unit(0);
      width: unit(50);
      height: unit(50);
      background-repeat: no-repeat;
      background-size: unit(50);
      background-image: url(assets/img/loader.gif);
    }
}
