<div class="my-subscriptions" id="my-subscriptions">
  <div class="purchased-title">
    <div class="title">{{'my_subscriptions'| translate}}</div>
  </div>
  <div class="divider-line"></div>
  <div class="title" *ngIf="noSubscriptions">
    {{ 'no_active_subscriptions' | translate }}
  </div>
  <div *ngIf="!noSubscriptions">
    <subscriptions-list [dataList]="dataList" [processing]="processing" (callFetch)="fetchData()" (callStartProcessing)="setProcessing()" (callStopProcessing)="stopProcessing()"></subscriptions-list>
  </div>
</div>
