@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
}

suspension {
  position: absolute;
  z-index: 2200000000;
  width: unit(200);
  height: unit(280);
  background: $basic-c17;
  overflow: hidden;

  @media screen and (max-width: 1440px) {
    width: unit(180);
    height: unit(280);
  }
  @media screen and (max-width: 1100px) {
    width: unit(140);
    height: unit(196);
  }
  @media (max-width: 790px) {
    width: unit(104);
    height: unit(146);
  }
}

.clearfix {
  clear: both;
}

.waterfall-vod-box {
  width: unit(1280);
  @media screen and (max-width: unit(1440)) {
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: unit(1024);
  }
  position: relative;
  margin: auto;
  .waterfallVod-frame {
    position: relative;
    float: left;
    margin-right: unit(16);
    margin-bottom: unit(79);
    @media screen and (max-width: unit(1440)) {
      margin-right: unit(20);
    }
    .vod-poster {
      width: unit(214);
      height: unit(284);
      display: block;
      cursor: pointer;
      @media screen and (max-width: unit(1440)) {
        width: unit(180);
        height: unit(240);
      }
      img {
        width: unit(214);
        max-height: unit(284);
        @media screen and (max-width: unit(1440)) {
          width: unit(180);
          max-height: unit(240);
        }
        position: absolute;
        display: inline-block;
      }
      .vod-score {
        color: $text-c31;
        display: inline-block;
        position: absolute;
        line-height: unit(24);
        margin-left: unit(172);
        margin-top: unit(260);
        background-color: $basic-C08;
        width: unit(42);
        height: unit(24);
        text-align: center;
        @media screen and (max-width: unit(1440)) {
          margin-left: unit(138);
          margin-top: unit(216);
        }
      }
    }
    .vod-name {
      width: unit(214);
      height: unit(24);
      @media screen and (max-width: unit(1440)) {
        width: unit(180);
      }
      position: absolute;
      display: inline-block;
      color: $text-c31;
      line-height: unit(24);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-top: unit(15);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: unit(1024)) {

  .waterfall-vod-box {
    width: unit(940);
  }
}

@media screen and (max-width: unit(790)) {
  .waterfall-vod-box {
    width: unit(704);
    .waterfallVod-frame {
      margin: 3rem unit(10);
      .vod-poster {
        .vod-poster-image {
          .imgs {
            width: unit(100);
            height: unit(140);
            img {
              width: auto !important;
              height: auto !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: unit(735)) {
  .waterfall-vod-box {
    max-width: unit(600);
    width: 100%;
    .waterfallVod-frame {
      margin: 3rem unit(10);
      .vod-poster {
        .vod-poster-image {
          .imgs {
            width: unit(100);
            height: unit(140);
            img {
              width: auto !important;
              height: auto !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: unit(550)) {
  .waterfall-vod-box {
    width: 100%;
    .waterfallVod-frame {
      margin: 0 unit(15) 4rem 0;
    }
  }
}

@media screen and (max-width: unit(424)) {
  .waterfall-vod-box {
    width: 100%;
    .waterfallVod-frame {
      margin: 0 unit(13) 4rem 0;
    }
  }
}

@media screen and (max-width: unit(340)) {
  .waterfall-vod-box {
    width: 100%;
    .waterfallVod-frame {
      margin: 0 unit(15) 4rem 0;
    }
  }
}


