<div class="waterfall-vod-box" id='box' *ngIf="dataList">
    <!-- <suspension
            *ngIf="dataList"
            [id]="suspensionID"
            [ngStyle]="{display: isShow ? 'block': 'none'}"
            [newRoutes]="true"
            (select)="onSuspensionClick($event)"
    ></suspension> -->
    <div *ngFor="let data of dataList;let dataIndex=index; trackBy:trackByFn" [id]="'item-'+ dataIndex"
         class="waterfallVod-frame" [hidden]="data.hidden">
        <vod-poster [vod]="data.floatInfo"
                    (selected)="vodDetail(data.vodId,data.subjectID)"
                    (mouseenter)="mouseenter(data, $event)"
                    (mouseleave)="closeDialog(data)">
        </vod-poster>
    </div>
    <div class="clearfix"></div>
</div>
