@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.manual-popup-wraper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $basic-C08;
  .manual-popup-dialog {
    position: relative;
    width: unit(496);
    margin: auto;
    background-color: $basic-c14;
    top: 50%;
    transform: translateY(-50%);
    .dialog-title {
      position: relative;
      width: 100%;
      height: unit(60);
      border-bottom: unit(1) solid $basic-c19;
      line-height: unit(60);
      margin-bottom: unit(30);
      .title {
        color: $text-c35;
        text-align: center;
      }
      .recordInfoClose {
        background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
        width: unit(20);
        height: unit(20);
        position: absolute;
        top: unit(20);
        right: unit(30);
        cursor: pointer;
      }
    }
    .manual-item {
      margin-bottom: unit(30);
      margin-left: unit(30);
      height: unit(40);
      width: unit(466);
      position: relative;
      line-height: unit(40);
      .item-name {
        text-align: right;
        margin-right: unit(10);
        color: $text-c35;
        width: unit(126);
        position: relative;
        line-height: unit(40);
        float: left;
      }
      #nameRefs {
        padding: 0 unit(35);
        width: unit(230);
      }
      .dropIcon {
        display: inline-block;
        position: absolute;
        margin-left: unit(-34);
        margin-top: unit(8);
        z-index: 1;
        cursor: pointer;
      }
      .type-wrap {
        height: unit(40);
        float: left;
        .first-time {
          width: unit(140);
          float: left;
          margin-right: unit(20);
        }
        .last-time {
          width: unit(140);
          position: relative;
          float: left;
        }
        .start-date,.end-date {
          position: relative;
          text-align: center;
          width: unit(140);
          height: unit(40);
          background-position: unit(181) unit(11);
          background-color: $basic-c03;
          float: left;
          .date-span {
            display: inline-block;
            position: relative;
            text-align: left;
            color: $text-c31;
            left: unit(-15);
          }
          .period-date {
            position: absolute;
            right: unit(10);
            top: unit(8);
            cursor: pointer;
          }
        }
        .start-date {
          margin-right: unit(20);
        }
        .cloud-div,.stb-div{
          display: inline-block;
          position: relative;
          width: unit(138);
          height: unit(38);
          background-position: unit(27) unit(8);
          cursor: pointer;
          color: $text-c31;
        }
        .cloud-div{
          margin-right: unit(20);
          float: left;
        }
        .selected{
          border: unit(1) $basic-c27 solid;
        }
        .unselected{
          border: unit(1) $basic-c25 solid;
        }
        .inner-word{
          left: unit(61);
          position: relative;
          width: unit(50);
          display: inline-block;
          text-align: left;
        }
      }
      #quality-drops {
        width: unit(40);
        height: unit(40);
        background-color: $basic-c17;
        display: inline-block;
        position: absolute;
        margin-left: unit(-40);
        cursor: pointer;
      }
      .quality-list {
        position: absolute;
        margin-left: unit(136);
        background: $basic-c19;
        margin-top: unit(41);
        -webkit-user-select: none;
        cursor: pointer;
        z-index: 2;
        li {
          text-align: center;
          list-style: none;
          height: unit(40);
          line-height: unit(40);
          color: $text-c35;
          width: unit(300);
          &:hover {
            background: $basic-c03;
            color: $text-c31;
          }
        }
      }
      #repeatInput{
        width: unit(260);
        height: unit(40);
        padding: 0 unit(30);
        background-color: $basic-c03;
        border: none;
        text-align: center;
        color: $text-c31;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: unit(10);
      }
    }
    .time-start {
      width: unit(140);
      height: unit(20);
      display: inline-block;
      margin-bottom: unit(10);
      margin-right: unit(20);
      margin-left: unit(166);
      text-align: center;
      color: $text-c35;
    }
    .time-end {
      width: unit(140);
      height: unit(20);
      display: inline-block;
      margin-bottom: unit(10);
      text-align: center;
      color: $text-c35;
    }
    .btn {
      position: relative;
      text-align: center;
      padding-bottom: unit(30);
      button {
        width: unit(140);
        height: unit(40);
        color: $text-c31;
        outline: none;
      }
      .confirm-able {
        background: $basic-c04;
        border-radius: $rounded-rc1;
        border: unit(1) $basic-c04 solid;
        cursor: pointer;
        &:hover {
          background: $basic-c05;
          border: unit(1) $basic-c05 solid;
        }
      }
      .confirm-disabled {
        color: $text-c35;
        background: $basic-c23;
        border-radius: $rounded-rc1;
        border: unit(1) $basic-c23 solid;
        cursor: default;
      }
    }
  }
}
input {
  width: unit(300);
  height: unit(38);
  background-color: $basic-c03;
  border: none;
  outline: none;
  text-align: center;
  color: $text-c31;
  float: left;
}
.hour-min {
  width: unit(50);
  height: unit(38);
  line-height: unit(40);
}
.colon {
  width: unit(20);
  height: unit(38);
  line-height: unit(40);
}
.next-day-icon {
  position: absolute;
  right: unit(20);
  top: unit(0);
}
.changeButton {
  width: unit(0);
  height: unit(40);
  float: left;
  .normalIcon {
    width: unit(20);
    height: unit(20);
    background-color: $basic-c17;
    cursor: pointer;
    &:hover {
      background-color: $basic-c03;
    }
  }
  .grayIcon {
    width: unit(20);
    height: unit(20);
    background-color: $basic-c17;
    opacity: 0.5;
  }
}
