<div class="manual-popup-wraper" [ngStyle]='{ "display":isShowManualPopUp ? "block" : "none" }'>
  <div class="manual-popup-dialog">
    <div class="dialog-title">
      <div class="title body-t26">{{'Record_setting' | translate}}</div>
      <div class="recordInfoClose" (click)="close()"></div>
    </div>
    <div class="manual-item">
      <span class="item-name body-t32">{{'recored_recording_name' | translate}}</span><input class="body-t29" id="nameRefs" maxlength="{{maxLengthCache}}" [(ngModel)]="recordName" (focus)="nameFocus($event)" (blur)="nameBlur($event)" (keyup)="nameKeyup($event)" (keypress)="onPressChange($event)">
      <div class="dropIcon recording_edit-24" (click)="editRecName()"></div>
    </div>
    <div class="manual-item" *ngIf="(PVRMode == 'CPVR&NPVR' || PVRMode == 'MIXPVR') && hasLogicChannel && canChooseStorage && supportAllCPVR && qualityList.length > 0">
      <span class="item-name body-t29">{{'record_Storage' | translate}}</span>
      <div class="type-wrap">
        <div class="cloud-div cloud-24 body-t29" [class]="chooseStorage[0] == true ? 'cloud-div cloud-24 selected' : 'cloud-div cloud-24 unselected'" (click)="selectCloud()">
          <span class="inner-word body-t29">{{'recored_cloud' | translate}}</span><span class="storage-top"></span>
        </div>
        <div class="stb-div recording_STB-24 body-t29" [class]="chooseStorage[1] == true ? 'stb-div recording_STB-24 selected' : 'stb-div recording_STB-24 unselected'" (click)="selectSTB()">
          <span class="inner-word body-t29">{{'record_STB' | translate}}</span><span class="storage-top"></span>
        </div>
      </div>
    </div>
    <div class="manual-item" [style.display]="hasQuality && qualityList.length > 1 ? 'block' : 'none'" *ngIf="hasLogicChannel && (status == 'RECORDING' || status == 'WAIT_RECORD')">
      <span class="item-name body-t29">{{'recored_quality' | translate}}</span><input maxlength="30" [(ngModel)]="curQuality" readonly="readonly">
      <div id="quality-drops" [class]="showQualityList ? 'angleup-24' : 'angledown-24'" (click)="choiceQuality()" *ngIf="qualityList.length > 1"></div>
      <div class="quality-list" [ngStyle]='{visibility:showQualityList ? "visible" : "hidden"}' (mouseleave)="mouseOutQualityList()" *ngIf="qualityList.length > 1">
        <li class="body-t29" *ngFor="let qualityObj of qualityList" [textContent]='qualityObj.quality' (click)="selectQuality(qualityObj)" [ngStyle]='{color:(curQuality === qualityObj.quality) ? "#f5f5f5" : "#8f8f8f"}'></li>
      </div>
    </div>
    <div class="manual-item" *ngIf="!isSingle && (status == 'RECORDING' || status == 'WAIT_RECORD')">
      <span class="item-name body-t29">{{'record_repeat' | translate}}</span>
      <div id="repeatInput" class="body-t32">{{repeat}}</div>
      <div class="dropIcon daily-24" (click)="choiceRepeatDate()"></div>
    </div>
    <app-record-repeat-data (selectRepeat)="changeRepeat($event)"></app-record-repeat-data>
    <div class="manual-item" *ngIf="isSingle && status=='WAIT_RECORD'">
      <span class="item-name body-t29">{{recordDateKey | translate}}</span><input maxlength="30" [(ngModel)]="singleDate" class="body-t29" readonly="readonly">
      <div class="dropIcon recording_date-24" (click)="choiceManualDate()" *ngIf="status=='WAIT_RECORD'"></div>
    </div>
    <app-record-data-name (selectSingleDate)="changeSingleDate($event)"></app-record-data-name>
    <div class="time-start body-t29" *ngIf="!isSingle && (status == 'RECORDING' || status == 'WAIT_RECORD')">{{'record_start_date' | translate}}</div>
    <div class="time-end body-t29" *ngIf="!isSingle  && (status == 'RECORDING' || status == 'WAIT_RECORD')">{{'record_end_date' | translate}}</div>
    <div class="manual-item" *ngIf="!isSingle && (status == 'RECORDING' || status == 'WAIT_RECORD')">
      <span class="item-name body-t29">{{recordDateKey | translate}}</span>
      <div class="type-wrap">
        <div class="start-date">
          <span class="date-span body-t29" [style.color]="status=='RECORDING'?'#8f8f8f':'#f5f5f5'">{{showStartDate}}</span>
          <span class="period-date recording_date-24" (click)="chooseStartTime()" [style.opacity]="status=='RECORDING'?'0.5':'1'" [style.cursor]="status=='RECORDING'?'default':'pointer'"></span>
        </div>
        <div class="end-date">
          <span class="date-span body-t29">{{showEndDate |translate}}</span>
          <span class="period-date recording_date-24" (click)="chooseEndTime()"></span>
        </div>
      </div>
    </div>
    <app-record-start-time (selectPeriodDate)="changePeriodDate($event)"></app-record-start-time>
    <div class="time-start body-t29" *ngIf="status == 'RECORDING' || status == 'WAIT_RECORD'">{{'Start Time' | translate}}</div>
    <div class="time-end body-t29" *ngIf="status == 'RECORDING' || status == 'WAIT_RECORD'">{{'End Time' | translate}}</div>
    <div class="manual-item" *ngIf="status == 'RECORDING' || status == 'WAIT_RECORD'">
      <span id="record-times" class="item-name body-t29">{{'recored_time' | translate}}</span>
      <div class="type-wrap">
        <div class="first-time">
          <input id="start-hours" class="hour-min body-t29" [style.color]="(status=='RECORDING' && isSingle)?'#8f8f8f':'#f5f5f5'" [ngStyle]='{"backgroundColor":chooseTimeIndex == 1 ? "#1cc0f6" : ""}'
          (select)="chooseUpdateTimes(1)" (click)="chooseUpdateTimes(1)" (keyup)="KeyEventHandle($event)" (blur)="timeBlur($event)" [(ngModel)]="startHour" maxlength="2">
          <input class="colon body-t29" value=":" readonly="readonly" [style.color]="(status=='RECORDING' && isSingle)?'#8f8f8f':'#f5f5f5'">
          <input id="start-mins" class="hour-min body-t29" [style.color]="(status=='RECORDING' && isSingle)?'#8f8f8f':'#f5f5f5'" [ngStyle]='{"backgroundColor":chooseTimeIndex == 2 ? "#1cc0f6" : ""}'
          (select)="chooseUpdateTimes(2)" (click)="chooseUpdateTimes(2)" (keyup)="KeyEventHandle($event)" (blur)="timeBlur($event)" [(ngModel)]="startMin" maxlength="2">
          <div class="changeButton" (mouseenter)="enterChangeButton($event)" (mouseleave)="outChangeButton($event)">
            <div [class]="(status=='RECORDING' && isSingle)?'grayIcon angleup-14':'normalIcon angleup-14'" (click)="increaseStart()"></div>
            <div [class]="(status=='RECORDING' && isSingle)?'grayIcon angledown-14':'normalIcon angledown-14'" (click)="decreaseStart()"></div>
          </div>
        </div>
        <div class="last-time">
          <input id="end-hours" class="hour-min body-t29" [ngStyle]='{"backgroundColor":chooseTimeIndex == 3 ? "#1cc0f6" : ""}' (select)="chooseUpdateTimes(3)" (click)="chooseUpdateTimes(3)" (keyup)="KeyEventHandle($event)" (blur)="timeBlur($event)" [(ngModel)]="endHour" maxlength="2">
          <input class="colon body-t29" value=":" readonly="readonly">
          <input id="end-mins" class="hour-min body-t29" [ngStyle]='{"backgroundColor":chooseTimeIndex == 4 ? "#1cc0f6" : ""}' (select)="chooseUpdateTimes(4)" (click)="chooseUpdateTimes(4)" (keyup)="KeyEventHandle($event)" (blur)="timeBlur($event)" [(ngModel)]="endMin" maxlength="2">
          <div class="next-day-icon nextday-16" *ngIf="showNextDayIcon"></div>
          <div class="changeButton" (mouseenter)="enterChangeButton($event)" (mouseleave)="outChangeButton($event)">
            <div class="normalIcon angleup-14" (click)="increaseEnd()"></div>
            <div class="normalIcon angledown-14" (click)="decreaseEnd()"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn">
      <button class="body-t26" [ngClass]="ContentHasChanged && !isNameEmpty ? 'confirm-able' : 'confirm-disabled'" (click)="confirm()">{{'confirm'| translate}}</button>
    </div>
  </div>
</div>
