<div class="time-body">
    <div class="time-start">{{'Start Time' | translate}}</div>
    <div class="time-end">{{'End Time' | translate}}</div>
    <div class="manual-item">
        <span class="item-name">{{'Time' | translate}}</span>
        <div class="type-wrap">
            <div class="first-time">
                <input id="start-hour" class="hour-min" [ngStyle]='{"backgroundColor":chooseTimeIndex == 1 ? "#1cc0f6" : ""}' (select)="chooseTimes(1)" (focus)="chooseTimes(1)" (keyup)="KeyEventHandle($event)" (blur)="timeBlur($event)" [(ngModel)]="startHour" maxlength="2">
                <div class="colon">:</div>
                <input id="start-min" class="hour-min" [ngStyle]='{"backgroundColor":chooseTimeIndex == 2 ? "#1cc0f6" : ""}' (select)="chooseTimes(2)" (focus)="chooseTimes(2)" (keyup)="KeyEventHandle($event)" (blur)="timeBlur($event)" [(ngModel)]="startMin" maxlength="2">
                <div class="changeButton" (mouseenter)="enterChangeButton($event)" (mouseleave)="outChangeButton($event)">
                    <div class="topIcon angleup-14" (click)="increaseStart()"></div>
                    <div class="botIcon angledown-14" (click)="decreaseStart()"></div>
                </div>
            </div>
            <div class="last-time">
                <input id="end-hour" class="hour-min" [ngStyle]='{"backgroundColor":chooseTimeIndex == 3 ? "#1cc0f6" : ""}' (select)="chooseTimes(3)" (focus)="chooseTimes(3)" (keyup)="KeyEventHandle($event)" (blur)="timeBlur($event)" [(ngModel)]="endHour" maxlength="2">
                <div class="colon">:</div>
                <input id="end-min" class="hour-min" [ngStyle]='{"backgroundColor":chooseTimeIndex == 4 ? "#1cc0f6" : ""}' (select)="chooseTimes(4)" (focus)="chooseTimes(4)" (keyup)="KeyEventHandle($event)" (blur)="timeBlur($event)" [(ngModel)]="endMin" maxlength="2">
                <div class="next-day-icon nextday-16" *ngIf="showNextDayIcon"></div>
                <div class="changeButton" (mouseenter)="enterChangeButton($event)" (mouseleave)="outChangeButton($event)">
                    <div class="topIcon angleup-14" (click)="increaseEnd()"></div>
                    <div class="botIcon angledown-14" (click)="decreaseEnd()"></div>
                </div>
            </div>
        </div>
    </div>
</div>