@import "/src/assets/css/common-variables";

.time-body {
    background: #141414;
    height: 200px;
    width: 100%;
    padding-top: 50px;
}
.time-start{
    width: 220px;
    height: 20px;
    display: inline-block;
    font-size: $body-t29;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 200px;
}
.time-end{
    width: 220px;
    height: 20px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}
.manual-item{
    .item-name{
        top: -17px;
        display: inline-block;
        text-align: right;
        padding-right: unit(20);
        font-size: $body-t29;
        color: $text-c35;
        width: 140px;
        position: relative;
        line-height: 46px;
    }
    .type-wrap{
        width: 460px;
        height: 46px;
        display: inline-block;
        position: relative;
        left: -2px;
        .first-time{
            margin-right: 18px;
        }
        .first-time,.last-time{
            float: left;
            text-align: center;
            width: 220px;
            height: 46px;
            .hour-min{
                width: 64px;
                height: 46px;
                line-height: 46px;
                float: left;
                font-size: $body-t29;
            }
            .colon{
                width: 46px;
                height: 46px;
                text-align: center;
                line-height: 46px;
                color: $text-c31;
                float: left;
                background-color: $basic-c03;
                font-weight: bold;
            }
            .changeButton{
                width: 0px;
                height: 46px;
                float: left;
                .topIcon{
                    width: 46px;
                    height: 23px;
                    background-color: $basic-c17;
                    cursor: pointer;
                    &:hover{
                        background-color: $basic-c03;
                    }
                }
                .botIcon{
                    width: 46px;
                    height: 23px;
                    background-color: $basic-c17;
                    cursor: pointer;
                    &:hover{
                        background-color: $basic-c03;
                    }
                }
            }
        }
    }
}

.next-day-icon {
    position: absolute;
    right: 49px;
}

input{
    width: unit(460);
    height: unit(46);
    background-color: $basic-c03;
    border: none;
    outline: none;
    text-align: center;
    font-size: $body-t29;
    color: $text-c31;
    display: inline-block;
}
