@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.cast-more {
  position: relative;
  margin: auto;
  min-height: unit(884);
  padding-bottom: unit(100);
}

.cast-title {
  width: unit(1280);
  position: relative;
  margin: auto;
  padding-top: unit(25);
  padding-bottom: unit(15);
  border-bottom: unit(1) solid $basic-c03;
  color: $text-c31;
  height: unit(14);
  line-height: unit(14);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.HeadAndName {
  width: unit(1280);
  height: unit(88);
  margin: auto;
  padding-top: unit(40);
  padding-bottom: unit(30);
  img {
    border-radius: 100%;
    width: unit(88);
    height: unit(88);
    margin-right: unit(21);
    overflow: hidden;
    background-image: url(assets/img/default/ondemand_casts.png);
    background-size: unit(88) unit(88);
  }
  .castName {
    color: $text-c31;
    height: unit(88);
    line-height: unit(88);
    display: inline-block;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: unit(800);
  }
}

.noDataList {
  padding-top: unit(300);
  position: relative;
  @media screen and(max-width: unit(1440)) {
    width: unit(980);
  }
}
