<div class="cast-more">
  <div class="HeadAndName">
    <img src="{{nowHead}}" onerror="this.onerror=null;this.src='assets/img/default/ondemand_casts.png'" />
    <div class="castName body-t24">{{castName}}</div>
  </div>
  <waterfall-vod class="waterfall" [data]="moreVodList" (child)="vodDetail($event)" *ngIf="vodData.length > 0"></waterfall-vod>
  <div class="noDataList" *ngIf="vodData.length == 0 && hasCastData ">
        <waterfall-noData [nodatatype]="'ondemand'"></waterfall-noData>
    </div>
</div>
