@import "../../../../src/webtv-components/assets/css/common-variables.scss";
@import "../../../../src/webtv-components/assets/css/unWhiteVariables.scss";
.myChannels-poster{
    position: absolute;
    top: 0px;
    img {
        width: 680px;
        height: 382px;
        display: block;
        background: url("assets/img/default/livetv_home_landscape_program2.png");
    }
    .poster-background {
        width: 680px;
        height: 230px;
        position: absolute;
        top: 152px;
        background: linear-gradient($bg-M2);
    }
    .channelList-name {
        width: 640px;
        position: absolute;
        top: 295px;
        display: inline-block;
        padding-left: 20px;
        font-size: $body-t22;
        font-weight: bold;
        color: $text-c31;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .channelList-timeAndChannel {
        width: 640px;
        height: 20px;
        position: absolute;
        top: 342px;
        margin-left: 20px;
        line-height: 20px;
        font-size: $body-t26;
        color: $text-c31;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .channelList-time {
            width: 60px;
            height: 20px;
            float: left;
        }
    }
}
suspensionchannel {    
    position: relative;
    left: 672px;
}