<suspensionchannel id="suspensionChannel" [ngStyle]="{visibility: channelShow ? 'visible' : 'hidden'}"></suspensionchannel>
<div class="myChannels-poster" (mouseenter)="mouseenter()" (mouseleave)="closeDialog()">
    <img  src = "../../src/webtv-components/assets/img/default/livetv_home_landscape_program2.png">
    <div  class="poster-background"></div>
    <span  class="channelList-name">NBC</span>
    <div  class="channelList-timeAndChannel">
        <div  class="channelList-time">17:43</div>
        <span  class="channelList-channel">| RADIO BREMEN</span>
    </div>
</div>