@import "/src/assets/css/common-variables.scss";

.ondemand-recomvod {
  padding-bottom: unit(200);
  padding-top: unit(25);
}

.moreTitles {
  height: unit(14);
  width: unit(1280);
  position: relative;
  margin: auto;
  margin-bottom: unit(15);
  .title {
    min-width: unit(50);
    height: unit(14);
    position: relative;
    float: left;
    color: $text-c31;
    line-height: unit(14);
    cursor: default;
  }
}

.recomvod-column {
  margin-top: unit(50);
}

suspension {
  position: absolute;
  z-index: 12;
  background: $basic-c17;
  width: 0;
}

.recomvod-content {
  min-height: unit(1930);
  padding-top: unit(25);
  padding-bottom: unit(200);
  .contentTitles {
    height: unit(14);
    width: unit(1280);
    position: relative;
    padding-bottom: unit(15);
    margin: auto;
    .contentTitle {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      height: unit(16);
      position: relative;
      float: left;
      color: $text-c31;
      line-height: unit(16);
      cursor: default;
    }
  }
}

.filter {
  margin-bottom: unit(50);
}

.vod-filter-load {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  display: block;
  .spinner {
    position: absolute;
    left: 0;
    width: unit(80);
    height: unit(80);
    background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
    -webkit-animation: login_load_roate_div 2s infinite;
    animation: login_load_roate_div 2s infinite;
  }
}

.vod-filter-load2 {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  display: none;
  .spinner2 {
    position: absolute;
    left: 0;
    width: unit(80);
    height: unit(80);
    background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
    -webkit-animation: login_load_roate_div 2s infinite;
    animation: login_load_roate_div 2s infinite;
  }
}

@keyframes loadingSpinner {
  from {
    transform: translate(unit(-4392), 0);
  }
  to {
    transform: translate(0);
  }
}

@-webkit-keyframes loadingSpinner {
  from {
    -webkit-transform: translate(unit(-4392), 0);
  }
  to {
    -webkit-transform: translate(0);
  }
}

@media screen and (min-width: unit(1025)) and (max-width: unit(1440)) {
  .filter {
    margin-bottom: unit(20);
  }
  .recomvod-content {
    max-width: 100%;
    height: auto;
    .contentTitles {
      width: 100%;
      .contentTitle {
        text-transform: uppercase;
        max-width: unit(940);
      }
    }
  }
  .vodFilter-content {
    .genre, .time {
      display: block;
    }
  }
}

@media screen and (min-width: unit(790)) and (max-width: unit(1024)) {
  .filter {
    margin-bottom: unit(0);
    max-width: unit(940);
    width: 100%;
  }
  .recomvod-content {
    width: 100%;
    max-width: unit(940);
    height: auto;
    padding-top: 0;
    .contentTitles {
      max-width: unit(940);
      width: 100%;
      margin-top: unit(50);
      .contentTitle {
        text-transform: uppercase;
        max-width: unit(704);
      }
    }
  }
}

@media screen and (max-width: unit(790)) {
  .filter {
    margin-bottom: unit(0);
  }
  .recomvod-content {
    width: unit(704);
    height: auto;
    padding-top: 0;
    .contentTitles {
      width: 100%;
      max-width: unit(704);
      margin-top: unit(35);

      .contentTitle {
        text-transform: uppercase;
        max-width: unit(450);
      }
    }
  }
  .vodFilter-content {
    .genre, .time {
      width: unit(450);

    }
  }
}

@media screen and (max-width: unit(735)) {
  .filter {
    margin-bottom: unit(0);
  }
  .recomvod-content {
    width: 88%;
    height: auto;
    padding-top: 0;
    .contentTitles {
      width: 100%;
      max-width: unit(600);
      margin-top: unit(35);

      .contentTitle {
        text-transform: uppercase;
        max-width: unit(450);
      }
    }
  }
  .vodFilter-content {
    .genre, .time {
      width: unit(450);

    }
  }
}
@media screen and (max-width: unit(550)) {
  .filter {
    margin-bottom: unit(0);
  }
  .recomvod-content {
    width: 88%;
    height: auto;
    padding-top: 0;
    .contentTitles {
      width: 100%;
      max-width: unit(704);
      margin-top: unit(35);

      .contentTitle {
        text-transform: uppercase;
        max-width: unit(450);
      }
    }
  }
  .vodFilter-content {
    .genre, .time {
      width: unit(450);

    }
  }
}

@media screen and (max-width: unit(475)) {
  .filter {
    margin-bottom: unit(0);
  }
  .recomvod-content {
    width: 95%;
    height: auto;
    padding-top: 1rem;
    .contentTitles {
      width: 100%;
      max-width: unit(704);
      margin-top: unit(35);

      .contentTitle {
        text-transform: uppercase;
        max-width: unit(450);
      }
    }
  }
  .vodFilter-content {
    .genre, .time {
      width: unit(450);

    }
  }

}
