<div *ngIf="childrennumber == '1'" class="ondemand-recomvod">
  <div class="moreTitles" *ngIf="titles">
    <div class="title title-t18">{{titles}}</div>
  </div>
  <app-vodfilter [clickId]="filterID" [subjectName]="filterName"></app-vodfilter>
  <div class="recomvod-column">
    <columnshow
      [childcolumnshow]="oscarVODInfo"
      [suspensiondata]="null"
      [show]="recomvodAllShow"
      (child)="onClickDetail($event)"
      (jumpTo)="moreShow($event)"
      [id]="recomVodAllId"
      *ngIf="oscarVODInfo.length&& isShowChildNodata"
    ></columnshow>
  </div>
  <div class="noOscar" *ngIf="oscarVODInfo.length == 0 && isShowChildNodata">
    <waterfall-noData [nodatatype]="'recmList'"></waterfall-noData>
  </div>
  <div *ngIf="!oscarVODInfo && isShowChildNodata">
    <waterfall-noData [nodatatype]="'ondemand'"></waterfall-noData>
  </div>
  <div class="vod-filter-load" *ngIf="!isShowChildNodata">
    <div class="spinner"></div>
  </div>
  <div class="vod-filter-load2">
    <div class="spinner2"></div>
  </div>
</div>

<div class="recomvod-content" id="recomvod-content" *ngIf="childrennumber == '-1' || childrennumber == '0'">
  <div class="contentTitles" *ngIf="titles">
    <div class="contentTitle title-t18" (click)="goback(title)">{{titles | translate}}</div>
  </div>
  <div class="filter" *ngIf="filterName != 'top_this_week'">
    <app-vodfilter [clickId]="filterID" [subjectName]="filterName"></app-vodfilter>
  </div>
  <div class="waterfall-div">
    <waterfall-vod
      class="waterfall"
      [data]="moreVodList"
      (child)="onClickDetail($event)"
      *ngIf="moreVodList && isShowNodata"
    ></waterfall-vod>
  </div>
  <div *ngIf="(!moreVodList || !(moreVodList.dataList) || !(moreVodList.dataList.length))&& isShowNodata">
    <waterfall-noData [nodatatype]="'ondemand'"></waterfall-noData>
  </div>
  <div class="vod-filter-load" *ngIf="!isShowNodata">
    <div class="spinner"></div>
  </div>
  <div class="vod-filter-load2">
    <div class="spinner2"></div>
  </div>
</div>

