@import "/src/assets/css/common-variables.scss";

suspension {
  position: absolute;
  z-index: 2200000000;
  background: $basic-c17;
  width: unit(200);
  height: unit(320);

    @media screen and (max-width: 1440px) {
        width: unit(180);
        height: unit(290);
    }
    @media screen and (max-width: 1100px) {
        width: unit(136);
        height: unit(252);
        .suspensionInfor {
            .favInfo{
                font-size: 12px;
            }
        }
        #suspension {
            .vod-detail-third {
                .btn-wrapper {
                    .btnPlay {
                        .playInfo {
                            font-size: 0;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 790px) {
      width: unit(104);
      height: unit(146);
    }
}

.setBorder {
  border-bottom: 1px solid $basic-c03;
  margin-top: 40px;
  position: relative;
}

.column {
  margin: auto;
  width: 1280px;
  height: 379px;
  padding-left: 0px;
}

.gradient {
  background: linear-gradient(180deg, rgba(92, 127, 227, 0) 12.76%, rgba(92, 127, 227, 0.2) 54.97%, rgba(211, 228, 251, 0) 75.49%), linear-gradient(90deg, #001424 0%, rgba(30, 76, 104, 0.49) 50.22%, #001424 100%), rgba(35, 51, 69, 0.25);
// border: 1px solid rgba(0, 0, 0, 0.2);
}

.shadow {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 1);
}
// градиент "зебры"
.gradient-2 {
  background: linear-gradient(90deg, rgba(0, 20, 36, 0.05) 0%, rgba(30, 76, 104, 0.0245) 50.22%, rgba(0, 20, 36, 0.05) 100%), rgba(35, 51, 69, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.column:last-child {
  .setBorder {
    border-bottom: none;
    margin-top: unit(0);
    margin-bottom: unit(0);
  }
}
.dynamic-class-cover-MKids {
  background: linear-gradient(0deg, rgba(35, 51, 69, 0.2), rgba(35, 51, 69, 0.2)),  url(/assets/img/cover/MKids_1.jpg) center repeat-x;
  background-size: cover;
}
.cover-shadow {
  position: absolute;
  height: 218px;
  top: 45%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.home {
  width: unit(1280);
  position: relative;
  margin: auto;
  z-index: 2;
}

.title {
  height: unit(23);
  line-height: unit(23);
  padding-bottom: unit(1);
  display: inline-block;
  position: relative;
  margin-bottom: unit(20);
  color: $prm-100;
  max-width: 100%;


  .titleNames {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    position: relative;
    line-height: unit(27);
    max-width: unit(900);
    font-weight: normal;

  }
  .icon {
    position: relative;
    top: 0;
    width: unit(24);
    height: unit(24);
    display: inline-block;
    margin-left: unit(10);
  }
}

.child-no-data {
  padding-top: unit(80);
}

@media screen and (max-width: 1440px) {}
    .column {
        max-width: unit(900);

        .home {
            max-width: unit(900);
            height: unit(320);
            margin-top: unit(0);

            .list {
                height: unit(275);
            }
            .title {
                max-width: unit(900);
                margin-left: unit(0);

                .titleNames {
                    max-width: unit(900);
                }
            }

            .title-link{
              float: right;
              color: $scd-800;
              cursor: pointer;

              svg {
                margin-left: unit(15.28)
              }
            }
        }
    }

// отключил изменение размеров
/*
@media screen and (max-width: 1120px) {
    .column {
        .home {
            width: unit(940);
            height: auto;
            .title {
                .titleNames {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 790px) {
    .column {
        max-width: unit(704);
        .home {
            width: unit(704);
            height: auto;
        }
    }
}
@media screen and (max-width: 450px) {
    .column {
        max-width: unit(450);
        width: 100%;
        .home {
            width: unit(100%);
            height: auto;
            .title {
                .titleNames {
                    font-size: 15px;
                }
            }
        }
    }
}
*/
