<suspension
  *ngIf="showSuspend"
  [id]="suspensionColumn"
  [ngStyle]="{display: isShow ? 'block' : 'none'}"
  [newRoutes]="true"
  (select)="onSuspensionClick($event)"
></suspension>
<ng-container *ngFor="let vodLists of datas, let i = index">
  <ng-container *ngIf="vodLists && incCustomIndex()">
    <div 
      class="dynamic-class-cover-{{ vodLists.subjectID }}"
      [ngClass]="
        { 
          'gradient': vodLists.subjectID === 'MNovelties', 
          'gradient-2': vodLists.subjectID !== 'MNovelties' && customIndex % 2 === 0,
          'shadow': vodLists.subjectID === 'MSeries' || vodLists.subjectID === 'MKids'
        }" style="position: relative">
      <div class='cover-shadow' *ngIf="vodLists.subjectID === 'MKids'">

          <object data="/assets/img/cover/shadow.svg" type="image/svg+xml"></object>
          <!-- <img src="/assets/img/cover/shadow.svg" width="1000"> -->

        <!-- <svg width="1000" height="418" viewBox="0 0 1209 418" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_f)">
          <path d="M142.5 100H1063L1109 318H100L142.5 100Z" fill="#001424"/>
          </g>
          <defs>
          <filter id="filter0_f" x="0" y="0" width="1209" height="418" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur"/>
          </filter>
          </defs>
          </svg> -->

            
      </div>
      <div class="column" >
        <div class="home" *ngIf="vodLists">   
          <span 
            (click)="moreshow(vodLists)" 
            *ngIf="vodLists?.VODList?.length !== 0" 
            class="title-link body-t14">{{ getColumnName(vodLists?.subjectID)}} <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.67569 4.63474L0.49228 7.8542C0.203094 8.14687 0.203094 8.62136 0.49228 8.91404C0.781467 9.20671 1.25029 9.20671 1.53948 8.91404L5.77539 4.63056L1.53948 0.353054C1.25029 0.0603762 0.781467 0.0603762 0.49228 0.353054C0.203094 0.645732 0.203094 1.12022 0.49228 1.41289L3.67628 4.63474H3.67569Z" fill="#BA9D5A"/>
            </svg></span>

          <div 
            class="title title-t13"
            (click)="moreshow(vodLists)"
            *ngIf="titleShow"
            (mouseenter)="mouseenterTitle(vodLists, i)"
            (mouseleave)="closeDialogTitle(vodLists, i)"
            [style.cursor]="(vodLists?.VODList?.length !=0) ? 'pointer' : 'default'">
            <div class="titleNames title-t18">{{vodLists?.subjectName | translate}}</div>  
          </div>
          <single-show 
            [data]="vodLists"
            class="list-panel"
            [resizer]="resizer"
            [iconShow]="iconShow"
            [ratingShow]="ratingShow"
            [nodatatype]="nodatatype"
            [suspension]="vodListSuspension[i]"
            (enterElement)="mouseEnter($event)"
            (leaveElement)="closeDialog($event.suspension.titleName)"
            (select)="onClickDetail($event)"
          ></single-show>
        </div>
        <div class="setBorder" *ngIf="borderShow"></div>
      </div>
    </div>
  </ng-container>
<ng-container>
<div *ngIf="!datas || datas.length === 0">
  <waterfall-noData [nodatatype]="nodatatype"></waterfall-noData>
</div>
