  <div class="line"></div>
<div class="channelDetail-Home" *ngIf="detailList" id="channelDetail-Home">
  <div class="channelDetail-top" id="channelDetail-top">
    <div class="channelDetail-title body-t32">{{detailList.name}}</div>
    <div class="channelDetail-left">
      <img src="{{detailList.posterUrl}}" onerror="this.onerror=null;this.src='assets/img/default/livetv_details_program.png'">
    </div>

    <div class="channelDetail-right" id="channelDetail-right">
      <div>
        <div class="channelDetail-name title-t12">{{detailList.name}}</div>
        <div class="channelDetail-lock locked-20" *ngIf="locked"></div>
      </div>

      <div class="linetwo body-t29">
        <div class="channelDetail-lefttime" *ngIf = "detailList.weekTime && detailList.leftTime">{{detailList.leftTime}}</div>
        <div class="channelDetail-lefttime" *ngIf = "detailList.todayTime">{{detailList.todayTime | translate}}</div>
        <div class="channelDetail-time" *ngIf="detailList.startTime&&detailList.endTime">{{detailList.startTime}} - {{detailList.endTime}}</div>
        <div class="channelName" *ngIf="detailList.channel">{{detailList.channel}}</div>
        <div class="channelDetail-season" *ngIf="showSeason">{{'vod_season' | translate: detailList.param}}, {{'episode' | translate: detailList.param1}}
        </div>
        <div class="channelDetail-PG16" *ngIf ="detailList.ratingName">{{detailList.ratingName}}</div>
      </div>

 			<div class="channelDetail-introducebig body-t29" id="showAll" >

        <div id="showiconchannel" class="body-t28">
          {{detailList.introduce}}
        </div>
        <div class="introduce" [ngStyle]="showWidth()" id="introduce">
          {{detailList.introduce}}
        </div>

          <span class="introduce-more angledown-24" id="introduceMore" (click)="increaseMore()"></span>
          <span class="introduce-less angleup-24" id="introduceLess" (click)="discreaseLess()" ></span>

      </div>

      <div class="button-group body-t26">
        <div class="button-play body-t26 angleplay-20" *ngIf="forword&&canTvod" (click)="goplay()">{{playBtn | translate}}</div>
        <div class="record-group">
          <div class="button-record body-t26" id="button-record" *ngIf="!forword&&isCanRecord" (click)="goToRecord(btnRecord)">
            <div class="RecordInfo ">{{btnRecord | translate}}
            </div>
          </div>
          <div class="button-cancelrecord body-t26" *ngIf="!forword&&isCancelRecord" (click)="goToCancelRecord()">{{'cancel_record' | translate}}</div>
        </div>
        <div class="button-reminder body-t26 reminder-20" *ngIf="isShowReminder&&!isReminderCancel" (click)="addReminder(detailList)">{{'set_reminder' | translate}}</div>
        <div class="button-canclereminder body-t26 cancelreminder-20" *ngIf="isShowReminder&&isReminderCancel" (click)="removeReminder(detailList)">{{'cancel_reminder' | translate}}</div>
      </div>

    </div>




  <div class="channelDetail-line"></div>

    <div class="view-Home">
      <div class="view-title title-t13">{{recomendListTitle}}</div>
      <div *ngIf="hasChannel">
        <waterfall-channel class="waterfall" [data]="moreChannelList" *ngIf="moreChannelList"  (child)="vodDtail($event)"></waterfall-channel>
        <div id="clearfloat"></div>
      </div>
    </div>
    <div class="noFutureChannel" *ngIf="!hasChannel">
        	<waterfall-noData [nodatatype]="'home'"></waterfall-noData>
    	</div>
  </div>

</div>
