@import "/src/assets/css/common-variables.scss";

.line{
  border: 0;
  background-color: $basic-c21;
  height: unit(1);
  width: 100%;
  margin: 0 auto;
}
.channelDetail-Home {
  width: unit(1280);
  margin: 0 auto;
  .channelDetail-title {
    min-width: unit(50);
    height: unit(14);
    position: relative;
    padding-top: unit(25);
    color: $text-c31;
    line-height: unit(11);
    cursor: default;
    max-width: unit(613);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .channelDetail-top {
    width: unit(1280);
    .channelDetail-left {
      float: left;
      margin-top: unit(15);
      img {
        height: unit(344);
        width: unit(610);
        display: inline-block;
      }
    }
    .channelDetail-right {
      display: inline-block;
      width: unit(740);
      height: unit(344);
      position: relative;
      margin-left: unit(30);
      margin-top: unit(10);
      .channelDetail-name {
        color: $text-c31;
        font-weight: bold;
        display: inline-block;
        margin-bottom: unit(20);
        margin-right: unit(15);
        max-width: unit(660);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: default;
      }
      .channelDetail-lock {
        position: relative;
        display: inline-block;
        margin-bottom: unit(25);
      }
      .lock2-18 {
        background-position: unit(0) unit(0);
        margin-left: unit(10);
      }
      .linetwo {
        cursor: default;
        div {
          overflow: hidden;
          height: unit(21);
          line-height: unit(21);
        }
        .channelDetail-lefttime {
          color: $text-c31;
          border-right: unit(1) solid $basic-c01;
          display: inline-block;
          padding-right: unit(6);
        }
        .channelDetail-time {
          color: $text-c31;
          border-right: unit(1) solid $basic-c01;
          display: inline-block;
          padding-right: unit(6);
        }
        .channelName {
          color: $text-c31;
          border-right: unit(1) solid $basic-c01;
          display: inline-block;
          padding-right: unit(6);
          padding-left: unit(1);
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: unit(100);
        }
        .channelDetail-season {
          display: inline-block;
          color: $text-c31;
          border-right: unit(1) solid $basic-c01;
          padding-right: unit(6);
          padding-left: unit(1);
        }
        .channelDetail-PG16 {
          display: inline-block;
          color: $text-c31;
          padding-left: unit(1);
          margin-right: unit(16);
        }
      }
      .channelDetail-introducebig {
        height: auto;
        overflow: hidden;
        margin-top: unit(20);
        cursor: default;
        .introduce {
          color: $text-c35;
          line-height: unit(24);
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 7;
          -webkit-box-orient: vertical;
        }
        .introduce-more {
          width: unit(14);
          height: unit(14);
          display: none;
          left: unit(719);
          position: absolute;
          cursor: pointer;
        }
        .introduce-less {
          width: unit(14);
          height: unit(14);
          display: none;
          left: unit(719);
          position: absolute;
          cursor: pointer;
        }
      }
      .button-group {
        margin-top: unit(35);
        display: table;
        .button-play {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          width: auto;
          height: $btn2-height;
          border: none;
          color: $text-c31;
          cursor: pointer;
          outline: none;
          border-radius: $rounded-rc1;
          line-height: unit(40);
          text-indent: unit(54);
          border: unit(1) solid $basic-c25;
          padding-right: unit(20);
          &:hover {
            background-color: $basic-c26;
            border: unit(1) solid transparent;
          }
        }
        .angleplay-20 {
          background-position: unit(26) unit(10);
        }
        .button-reminder {
          height: unit(40);
          color: $text-c31;
          width: auto;
          cursor: pointer;
          border-radius: $rounded-rc1;
          line-height: unit(40);
          text-indent: unit(54);
          display: inline-block;
          border: unit(1) solid $basic-c25;
          padding-right: unit(20);
          &:hover {
            background-color: $basic-c26;
            border: unit(1) solid transparent;
          }
        }
        .reminder-20 {
          background-position: unit(26) unit(10);
        }
        .button-canclereminder {
          height: unit(40);
          color: $text-c31;
          width: auto;
          cursor: pointer;
          border-radius: $rounded-rc1;
          line-height: unit(40);
          text-indent: unit(54);
          display: inline-block;
          border: unit(1) solid $basic-c25;
          vertical-align: top;
          padding-right: unit(20);
          &:hover {
            background-color: $basic-c26;
            border: unit(1) solid transparent;
          }
        }
        .cancelreminder-20 {
          background-position: unit(26) unit(10);
        }
        .record-group {
          display: inline-block;
          position: relative;
          .button-record {
            height: unit(40);
            color: $text-c31;
            padding-right: unit(20);
            cursor: pointer;
            border-radius: $rounded-rc1;
            line-height: unit(40);
            text-indent: unit(54);
            display: inline-block;
            border: unit(1) solid $basic-c25;
            background: url(assets/img/20/record_20.png) unit(24) unit(10) no-repeat;
            margin-right: unit(20);
            &:hover {
              background-color: $basic-c26;
              border: unit(1) solid transparent;
            }
          }
        }
        .button-cancelrecord {
          height: unit(40);
          color: $text-c31;
          padding-right: unit(20);
          cursor: pointer;
          border-radius: $rounded-rc1;
          line-height: unit(40);
          text-indent: unit(54);
          display: inline-block;
          border: unit(1) solid $basic-c25;
          background: url(assets/img/20/cancelrecording_20.png) unit(24) unit(10) no-repeat;
          margin-right: unit(20);
          &:hover {
            background-color: $basic-c26;
            border: unit(1) solid transparent;
          }
        }
      }
    }
  }
}

.channelDetail-line {
  border: 0;
  background-color: $basic-c03;
  height: unit(1);
  width: unit(1280);
  margin: 0 auto;
  margin-top: unit(45);
}

.view-Home {
  width: unit(1280);
  margin: 0 auto;
  .view-title {
    height: unit(24);
    line-height: unit(24);
    color: $basic-c01;
    margin-bottom: unit(20);
    margin-top: unit(46);
  }
}

#showiconchannel {
  visibility: hidden;
  position: absolute;
  width: unit(740);
  color: $text-c35;
  line-height: unit(24);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: auto;
}

.noFutureChannel {
  margin-top: unit(0);
  position: relative;
  padding-top: unit(110);
  padding-bottom: unit(110);
}
