// Modals
// --------------------------------------------------
ion-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 80rem;
    height: 45rem;
    ion-backdrop {}
}
