<div class="product_list">
    <div *ngIf="dataList.length == 0" class="my-load-status">
        <div class="spinner"></div>
    </div>
    <div class="wrap" *ngFor="let product of dataList;let i = index">
        <div class="hover-block" [ngClass]="[i%2==1? 'left': 'right']">
            <div class="hover-block-content">
                <div class="title">{{product.name}}</div>
                <div class="divider"></div>
                <div class="type">{{subscriptionStatus(product)}}</div>
                <div class="introduce">{{product.introduce}}</div>
                <div class="infotext" *ngIf="product.externalSubscription">
                    {{ 'external_subscription' | translate }}
                </div>
                <div *ngIf="processing">
                    <div class="spinner"></div>
                </div>
                <div *ngIf="!processing">
                    <div class="button" *ngIf="!product.externalSubscription" (click)="process(product)">
                        <div>
                            {{ buttonTextCode(product) | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="wrap__left">
                <img [src]="prepareImg(product?.poster)" alt="">
            </div>
            <div class="wrap__right">
                <div class="wrap__right-title">
                    <span class="subscription-title">{{product.name}}</span>
                    <span class="subscription-price"
                          [ngClass]="[product.subscribed ? 'subscribed':'subscribe']">
                        {{product.price}}
                    </span>
                    <span class="subscription-currency-sign"
                          [ngClass]="[product.subscribed ? 'subscribed':'subscribe']">
                        ₽
                    </span>
                </div>
                <div class="wrap__right-info">
                    <span class="subscription-type">{{subscriptionStatus(product)}}</span>
                    <div class="subscription-introduce">{{ (product.introduce.length>70)? (product.introduce | slice:0:70)+'..':(product.introduce)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showMethodDialog">
    <div class="popup" (click)="closePopup()">
        <div class="payment-list">
            <div class="title">{{ 'select_payment' | translate }}</div>
            <div class="button" *ngFor="let payment of paymentMethods" (click)="selectPayment(currentProduct, payment)">
                <div>
                    {{ 'card_name' | translate:payment.card }}
                    <br />
                    {{ 'card_expiration' | translate:payment.card }}
                </div>
            </div>
            <div class="button" (click)="createPayment(currentProduct)">
                <div>
                    {{ 'new_payment' | translate }}
                </div>
            </div>
        </div>
    </div>
</div>
