@import "/src/assets/css/common-variables.scss";

.vod-episode {
  background: $basic-c18;
  width: unit(385);
  height: unit(560);
  display: inline-block;
  .title {
    height: unit(64);
    border-bottom: unit(1) solid $basic-c21;
    span {
      display: inline-block;
      padding-top: unit(20);
      padding-bottom: unit(20);
      margin-left: unit(52);
      color: $text-c35;
      cursor: pointer;
      &:hover {
        color: $text-c31;
      }
      &:active {
        color: $text-c31;
      }
    }
    span:nth-child(1) {
      margin-left: unit(33);
    }
    .focus {
      color: $text-c31;
      border-bottom: unit(4) solid $basic-c04;
    }
    .onlyTra {
      color: $text-c31;
      cursor: default;
    }
    .unfocus {
      color: $text-c35;
    }
  }
  #content {
    .episodes_page {
      display: block;
      position: relative;
      .page-content {
        overflow: hidden;
        width: unit(308);
        margin-left: unit(36);
        .pages {
          min-height: unit(20);
          display: inline-block;
          width: unit(15000);
          li {
            display: inline-block;
            width: auto;
            cursor: pointer;
            span {
              width: unit(80);
              height: unit(44);
              line-height: unit(44);
              display: inline-block;
              margin-left: unit(34);
            }
            &:hover {
              span {
                color: $basic-c31;
              }
            }
            .selectPage {
              color: $basic-c31;
            }
            .noSelectPage {
              color: $text-c35;
            }
          }
          li:nth-child(3n+1) {
            span {
              margin-left: unit(0);
            }
          }
        }
      }
      .category-leftIcon {
        width: unit(12);
        height: unit(12);
        position: absolute;
        float: left;
        left: unit(10);
        top: unit(16);
        cursor: pointer;
        background: url(assets/img/12/vod_episode_left_normal.png) no-repeat;
      }
      .category-leftIcon:hover {
        background: url(assets/img/12/vod_episode_left_hover.png) no-repeat;
      }
      .category-rightIcon {
        width: unit(12);
        height: unit(12);
        position: absolute;
        float: right;
        right: unit(10);
        top: unit(16);
        cursor: pointer;
        background: url(assets/img/12/vod_episode_right_normal.png) no-repeat;
      }
      .category-rightIcon:hover {
        background: url(assets/img/12/vod_episode_right_hover.png) no-repeat;
      }
    }
    .noPageMargin {
      margin-bottom: unit(20);
    }
    #episodes-content {
      display: block;
      overflow: hidden;
      position: relative;
      height: unit(444);
      padding-left: unit(34);
      #episodes {
        padding: unit(0);
        float: left;
        position: relative;
        li {
          width: unit(52);
          height: unit(48);
          display: inline-block;
          color: $text-c35;
          text-align: center;
          cursor: pointer;
          border: unit(1) solid $basic-c21;
          line-height: unit(50);
          margin-bottom: unit(10);
          margin-right: unit(10);
          &:hover {
            background: $basic-c26;
            color: $text-c31;
          }
        }
        .focus {
          background: $basic-c04;
          color: $text-c31;
          &:hover {
            background: $basic-c04;
            color: $text-c31;
          }
        }
        #episode:nth-child(5n) {
          margin-right: unit(0);
        }
      }
      .epiNoData {
        width: unit(306);
        .noDataposter {
          margin-top: unit(134);
        }
      }
    }
    #trailers-content {
      margin-top: unit(1);
      position: relative;
      overflow: hidden;
      #trailerHasData {
        height: unit(480);
        position: relative;
        ul {
          position: relative;
          padding-left: unit(0);
          top: unit(0);
          li {
            position: relative;
            width: unit(155);
            height: unit(84);
            display: inline-block;
            color: $text-c35;
            cursor: pointer;
            margin-top: unit(12);
            margin-right: unit(15);
            img {
              display: block;
            }
            span {
              position: relative;
              top: unit(-17);
              float: right;
              color: $text-c31;
              width: unit(41);
              height: unit(17);
              text-align: center;
            }
            #play_icon {
              position: absolute;
              background: url(assets/img/32/play_fullscreen_32.png) no-repeat;
              width: unit(32);
              height: unit(32);
            }
          }
          .clip-blur {
            width: unit(155);
            height: unit(84);
            img {
              position: relative;
              width: 100%;
              height: 100%;
            }
            .play_icon {
              top: unit(26);
              left: unit(61);
              opacity: 0.5;
            }
            .mask {
              width: 100%;
    						height: 100%;
    						background: $basic-c06;
    						opacity: 0.3;
    						position: relative;
    						margin-top: unit(-84);
            }
            &:hover {
              img {
                border: unit(2) solid $basic-c02 ;
                width: unit(151);
                height: unit(80);
              }
              .play_icon {
                opacity: 1;
              }
            }
            @media screen and (max-width:unit(1440)) {
              width: unit(117);
              height: unit(63);
              margin-top: unit(10);
              .play_icon {
                top: unit(15);
                left: unit(42);
                opacity: 0.5;
              }
              .mask {
    							margin-top: unit(-63);
              }
              &:hover {
                img {
                  border: unit(2) solid $basic-c02;
                  width: unit(113);
                  height: unit(59);
                }
                .play_icon {
                  opacity: 1;
                }
              }
            }
          }
          .clip-focus {
            width: unit(155);
            height: unit(84);
            img {
              border: unit(2) solid $text-c31;
              width: unit(151);
              height: unit(80);
            }
            .play_icon {
              top: unit(26);
              left: unit(61);
              opacity: 1;
            }
            @media screen and (max-width:unit(1440)) {
              width: unit(117);
              height: unit(63);
              margin-top: unit(10);
              img {
                border: unit(2) solid $text-c31;
                width: unit(113);
                height: unit(59);
              }
              .play_icon {
                top: unit(15);
                left: unit(42);
                opacity: 1;
              }
            }
          }
          li:nth-child(2n) {
            margin-right: unit(0);
          }
          li:nth-child(2n+1) {
            margin-left: unit(29);
          }
        }
      }
    }
    .scrollList {
      position: relative;
      top: unit(-468);
      #trailers-scroll {
        height: unit(468);
        width: unit(11);
        right: unit(7);
        cursor: pointer;
        position: absolute;
        span {
          height: unit(48);
          width: unit(6);
          top: unit(0);
          cursor: pointer;
          position: absolute;
          background: $basic-c03;
          border-radius: unit(24);
        }
      }
    }
    .epiNoData {
      position: relative;
      width: unit(385);
      .noDataposter {
        width: unit(72);
        height: unit(72);
        text-align: center;
        margin: 0 auto;
        margin-top: unit(154);
        position: relative;
        @extend .nodata2-56;
      }
      .noDataMessage {
        color: $text-c35;
        text-align: center;
        position: relative;
        margin-top: unit(22);
      }
    }
    .trailerNoData {
      position: relative;
      width: unit(385);
      .noDataposter {
        width: unit(72);
        height: unit(72);
        text-align: center;
        margin: 0 auto;
        margin-top: unit(154);
        position: relative;
        @extend .search-56;
      }
      .noDataMessage {
        color: $text-c31;
        text-align: center;
        position: relative;
        margin-top: unit(22);
      }
    }
  }
}

@media screen and (max-width:unit(1440)) {
  .vod-episode #content #trailers-content #trailerHasData {height: unit(293);}
}
