<div class="vod-episode" id="vod-episode" *ngIf="!ifEpisodesLength">
  <div class="title">
    <span [class]="isEpisodesFocus ? 'focus body-t28':'unfoucs body-t28'" (click)="changeFocus('episodes')" *ngIf="details.VODType != '0'">{{'episodes' | translate}}</span>
    <span [class]="isTrailerssFocus ? (details.VODType=='0'?'onlyTra body-t28':'focus body-t28'):'unfoucs body-t28'" (click)="changeFocus('trailers')">{{'trailers' | translate}}</span>
  </div>
  <div id="content">
    <div id="episodes-all" [ngStyle]="{display: isEpisodesFocus ? 'block' : 'none'}">
      <div id="epiHasData" *ngIf="!ifEpisodesLength">
        <div id="episodes-page" class="episodes_page" *ngIf="totalEpisodes.length > pagesNum">
          <div class="category-leftIcon" [style.visibility]="categoryLeftVisible" (click)="onClickLeft()"></div>
          <div class="page-content">
            <div class="pages body-t32" id="pages-list">
              <li *ngFor="let page of pages; let i = index" (click)="changePages(i)">
                <span [ngClass]="i === pageIndex ? 'selectPage': 'noSelectPage'">{{pageStr[i]}}</span>
              </li>
            </div>
          </div>
          <div class="category-rightIcon" [style.visibility]="categoryRightVisible" (click)="onClickRight()"></div>
        </div>
        <div class="noPageMargin" *ngIf="totalEpisodes.length <= pagesNum"></div>
        <div id="episodes-content">
          <ul id="episodes">
            <li id="episode" *ngFor="let episode of episodes;let episodeIndex = index" (click)="clickEpi(episode)" [class]="episode.epiIndex == epiIndex && !isPlayTrailer ? 'focus':'unfocus'">
              <span class="body-t29">{{episode.sitcomNO}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="epiNoData" *ngIf="ifEpisodesLength">
        <div class="noDataposter"></div>
        <div class="noDataMessage body-t29">{{'ondemandNoDataOne' | translate}}</div>
      </div>
    </div>

    <div id="trailers-content" [ngStyle]="{display: isTrailerssFocus ? 'block' : 'none'}">
      <div id="trailerHasData" *ngIf="ifclipfilesVODsLength">
        <ul id="clipfile">
          <li id="trailers-{{clipfilesIndex}}" *ngFor="let clipfile of clipfilesVODs;let clipfilesIndex=index" (click)="clickTra(clipfile)"
            [ngClass]="clipfilesIndex == trailerIndex && isPlayTrailer? 'clip-focus' : 'clip-blur'">
            <img src="{{clipfile.picture}}" onerror="this.onerror=null;this.src='assets/img/default/ondemand_trailers.png'" />
            <div *ngIf="!(clipfilesIndex == trailerIndex && isPlayTrailer)" class="mask"></div>
            <span id="time" class="body-t34">{{clipfile.elapseTime}}</span>
            <div id="play_icon" class="play_icon"></div>
          </li>
        </ul>
      </div>
      <div class="trailerNoData" *ngIf="!ifclipfilesVODsLength">
        <div class="noDataposter"></div>
        <div class="noDataMessage body-t29">{{'no_data' | translate}}</div>
      </div>
    </div>
    <div class="scrollList" [ngStyle]="{display: isTrailerssFocus ? 'block' : 'none'}">
      <div id="trailers-scroll" [style.visibility]="clipfilesVisible">
        <span id="scrollSpan"><div id="content"></div></span>
      </div>
    </div>
  </div>
</div>
