<div class="contentBg body-t32" id="contentBg">
    {{introduce}}
</div>
<div [class]="(profile) ? 'suspensionBig profileSuspension' : 'suspensionBig'" id="suspensionBig" (mouseenter)="mouseenter('onSuspension')" (mouseleave)="mouseleave()">
    <div id="suspension" class="suspensionInfor" [ngStyle]="leftStyle">
        <div class="title body-t29" [style.marginTop]="purchasedList ? '15px':(profileSize ? '20px' : '30px')">{{titleName}}</div>
        <div class="price body-t27" *ngIf="price"><span class="priceType body-t32">{{'$  ' | translate}}</span>{{price}}</div>
        <div class="hrFirst"></div>

        <div class="vod-detail-first">
            <div class="vod-average-score title-t17">
                <div class="vod-average-icon">
                    <div *ngFor="let star of starArray" class="grade-18" [ngClass]="scoreClass(star)"></div>
                </div>
                <span *ngIf = "!profileSize">{{averageScore}}</span>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="vod-detail-secondary" *ngIf = "!purchasedList">
            <div class="timeInfo title-t18">
                <span class="produceZoneDetail">{{produceZoneString}}</span>
                <p *ngIf="suspensionInfo?.produceZone?.name">{{suspensionInfo?.produceZone?.name}}</p>
                <div class="definition-wrap" *ngIf="definitions.length > 0 && !searchAll &&!isChildColumn &&!pocketSize">
                    <div class="levelImg" *ngFor="let definition of definitions;let item = index" [hidden]="hideDefinition(item)">
                        <div class="levelImgInfo">{{definition}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vod-detail-third body-t32" [style.bottom]="purchasedList ? '15px':(profileSize ? '20px' : '')">
        <div class="btn-wrapper">
            <div class="btnPlay" (click)="play()">
                <div class="playInfo">
                    <div class="playImg" [ngStyle]="playImgStyle"></div>
                    {{btnNamePlay | translate}}
                </div>
            </div>
            <div [ngClass]="pocketSize ? 'pocketFav' : (isChildColumn ? 'childbtnFav' : 'btnFav')"
                 (click)="favEvent($event)"
                 [hidden]="!isMyFavorite">
                <div class="favInfo ">
                    <div class="favImg" [style.background]="favImgBg"></div>
                    {{btnNameFav | translate}}
                </div>
            </div>
        </div>
    </div>
</div>
