@import "/src/assets/css/common-variables.scss";

.suspensionBig {
  overflow: hidden;
  height: 100%;
  z-index: 2200000000;

  .suspensionInfor {
    overflow: hidden;
    border-radius: $rounded-rc1;
    height: 100%;
    margin-right: unit(15);
    margin-left: unit(15);
    position: relative;

    .title {
      min-height: unit(29);
      color: $text-c31;
      margin-top: unit(30);
      overflow: hidden;
      line-height: unit(20);
      max-height: unit(40);
    }

    .price {
      color: $text-c36;
      margin-top: unit(8);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .priceType {
      color: $text-c36;
    }

    .hrFirst {
      background: $basic-c03;
      height: unit(1);
      width: unit(305);
      position: relative;
      margin-top: unit(8);
    }

    .vod-detail-first {
      margin-top: unit(15);
      .vod-average-score {
        float: left;
        color: $basic-c01;
        .vod-average-icon {
          width: unit(110);
          float: left;

          .rating_star_empty {
            float: left;
            width: unit(16);
            height: unit(16);
            margin-right: unit(5);
          }
          .rating_star_half {
            float: left;
            width: unit(16);
            height: unit(16);
            margin-right: unit(5);
          }
          .rating_star_full {
            float: left;
            width: unit(16);
            height: unit(16);
            margin-right: unit(5);
          }
        }
      }
      .onlineImg {
        width: unit(18);
        height: unit(18);
        float: left;
        margin-right: unit(7);
      }
      .vod-numberof-score {
        float: right;
        color: $basic-c01;
      }
      @media screen and (max-width: unit(1440)) {
        width: unit(294.3);
      }
      .clearfix {
        clear: both;
      }
    }

    .vod-detail-secondary {
      margin-top: unit(10);
      .timeInfo {
        color: $basic-c01;
        .definition-wrap {
          float: left;
        }
        .levelImg {
          width: unit(40);
          height: unit(18);
          background: $basic-c03;
          border-radius: $rounded-rc2;
          color: $basic-c02;
          float: left;
          margin-left: unit(10);
          text-align: center;
        }
        .produceZoneDetail {
          overflow: hidden;
          text-overflow: ellipsis;
          //white-space: nowrap;
          max-width: unit(200);
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .levelImgInfo {
          margin-top: unit(1);
        }
      }
    }

  }
  .vod-detail-third {
    position: absolute;
    bottom: unit(30);
    width: 100%;

    .btn-wrapper {
      margin-left: unit(15);
      margin-right: unit(15);
    }

    .btnPlay,
    .btnFav,
    .childbtnFav,
    .pocketFav {
      text-align: center;
      border: unit(1) solid $basic-c25;
      height: unit(26);
      border-radius: $rounded-rc1;
      .playInfo,
      .favInfo {
        .childbtnFav & {
          text-align: left;
          padding-left: 20px;
        }
        color: $basic-c01;
        position: relative;
        float: left;
        margin-left: unit(10);
        margin-right: unit(20);
        margin-top: unit(6);
        line-height: unit(15);
        white-space: nowrap;
        @media screen and (max-width: 1440px) {
          margin-left: unit(7);
          margin-right: unit(5);
        }
        .playImg,
        .favImg {
          .childbtnFav & {
            position: absolute;
            left: 0;
          }
          width: unit(14);
          height: unit(14);
          background-size: cover;
          float: left;
          margin-right: unit(10);
        }
      }

      &:hover {
        background-color: $basic-c26;
        cursor: pointer;
      }
    }

    .pocketFav,
    .childbtnFav {
      margin-top: unit(20);
      .favInfo {
        text-align: left;
        padding-left: 20px;
        .favImg {
          position: absolute;
          left: 0;
        }
      }
    }

    .btnFav:hover, .childbtnFav:hover, .pocketFav:hover {
      background-color: $basic-c26;
      cursor: pointer;
    }
  }
}

.contentBg {
  margin: unit(30) unit(25) unit(30) unit(25);
  color: $text-c35;
  line-height: unit(20);
  visibility: hidden;
  position: absolute;
  height: 100%;
}

@media screen and (max-width: 1100px) {
  .contentBg {
    margin: 15px 20px;
  }
  .suspensionBig {
    .suspensionInfor {
      margin-right: 15px;
      margin-left: 15px;
      .vod-detail-secondary {
        .timeInfo {
          .produceZoneDetail {
            white-space: normal;
          }
        }
      }
    }
    .vod-detail-third {
      position: relative;
      bottom: 65px;
      .btn-wrapper {
        .childbtnFav {
          .favInfo {
            font-size: 0;
          }
        }
        .btnPlay,
        .childbtnFav {
          width: 28px;
          height: 28px;
          display: inline-block;
          .playInfo {
            font-size: 0;
          }
        }
      }
    }
  }
}

.suspensionBig.profileSuspension {
  .vod-detail-third {
    .btnPlay, .childbtnFav {
      height: auto;
      float: left;
      width: 100%;
      .playInfo, .favInfo {
        margin-bottom: unit(6);
        white-space: normal;
        width: calc(100% - 30px);
        .playImg {
          position: absolute;
        }
      }
    }
  }
  .suspensionInfor {
    .vod-detail-first {
      .vod-average-score {
        .vod-average-icon {
          width: auto;
          .rating_star_empty {
            margin-right: unit(3);
          }
          .rating_star_half {
            margin-right: unit(3);
          }
          .rating_star_full {
            margin-right: unit(3);
          }
          div:last-child {
            margin-right: unit(0);
          }
        }
      }
    }
  }
}
