<div class="checkPassword-wrap">
  <div class="checkPassword">
    <div class="title">
      <div class="message body-t26">{{passwordTitle | translate}}</div>
      <div class="closeDialog" (click)="close('1')"></div>
    </div>
    <div class="content">
      <div [ngClass]="isCommonProfile ? 'commonprofilecontentInfo body-t29': 'contentInfo body-t29'"> {{passwordTips | translate}}</div>
      <div class="contentMessage">
        <div class="passwordInput body-t29">
          <input id="pass-Word" type="text" [(ngModel)]="userPassword" (keyup)="changePassword($event)" name="userPassword" (focus)="showPassword()" (blur)="hidePassword()" maxlength="128" onfocus="this.type='password'" (keydown)="keydownPassword()" onpaste="return false;"/>
          <div class="placeholdercheckBg body-t32" id="placeholdercheck_Bg" [ngStyle]="{display: (showplaceholderCheck) ? 'block' : 'none'}" (click)="onplaceholdCheck()"> {{'password' | translate}} </div>
          <div class="delete-Pass-Word" [ngStyle]="{display: (deletePassWord) ? 'block' : 'none'}" (click)="removePassWord()"></div>
        </div>

        <div class="error_message_all body-t29">
          <div class="error_message" [ngStyle]="{display: (errorMessage) ? 'inline-block' : 'none'}">
            {{'password_not_correct_try_again' | translate}}
          </div>
        </div>
        <div class="emptyPassword_message_all body-t29">
          <div class="emptyPassword_message" [ngStyle]="{display: (emptyPasswordMessage) ? 'inline-block' : 'none'}">
            {{'pwd_empty' | translate}}
          </div>
        </div>
      </div>
      <div class="forget_me body-t29" [ngStyle]="{display: forgetpassword ? 'block' : 'none'}">
        <a [href]="forgot_password_url" target="_blank">{{'forget_password'| translate}}</a>
      </div>
      <div [class]="(btnStyleChange()) ? 'confirm-able body-t26' : 'confirm-disable body-t26'" id="checkConfirmBtn" (click)="confirm('1')">{{'confirm' | translate}}</div>
    </div>
  </div>
</div>
