@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.checkPassword-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background: $basic-C08;
}
.checkPassword {
    position: absolute;
    width: unit(460);
    height: unit(302);
    text-align: center;
    margin: auto;
    left: unit(0);
    right: unit(0);
    top: unit(0);
    bottom: unit(0);
    background-color: $basic-c14;
  .title {
    border-bottom: unit(1) solid $basic-c19;
    height: unit(60);
    line-height: unit(60);
    .message {
      color: $text-c35;
    }
    .closeDialog {
      background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
      width: unit(20);
      height: unit(20);
      position: relative;
      top: unit(-43);
      left: unit(405);
      cursor: pointer;
    }
  }
  .content {
    width: unit(460);
    height: unit(240);
    .contentInfo {
      width: unit(460);
      height: unit(24);
      display: block;
      color: $text-c31;
      line-height: unit(24);
      padding-top: unit(20);
    }
    .commonprofilecontentInfo {
        width: unit(406);
        height: unit(24);
        display: block;
        color: $text-c31;
        line-height: unit(24);
        padding-top: unit(11);
        padding-bottom: unit(10);
        margin-left: unit(25);
    }
    .contentMessage{
      max-width: unit(354);
      margin: auto;
      height: unit(75);
      .passwordInput {
        input {
          color: $text-c31;
          width: unit(260);
          height: unit(22);
          padding-top: unit(9);
          padding-bottom: unit(9);
          border-left: 0;
          padding-left: unit(10);
          padding-right: unit(30);
          border-right: 0;
          border-top: 0;
          border-bottom: 0;
          background-color: $basic-c19;
          top: unit(10);
          margin-top: unit(35);
          left: unit(12);
          border-radius: unit(2);
          outline: none;
        }
        .delete-Pass-Word {
          height: unit(16);
          width: unit(16);
          background: url(assets/img/16/close_16.png) no-repeat;
          position: absolute;
          right: unit(89);
          top: unit(137);
          cursor: pointer;
        }
        #pass-Word {
          margin-top: unit(20);
          margin-bottom: unit(11);
        }
      }
      .placeholdercheckBg{
        color: $text-c34;
        position: absolute;
        left: unit(91);
        top: unit(137);
        cursor: text;
      }
      .error_message_all {
        text-align: left;
        padding-left: unit(28);
        .error_message {
          position: relative;
          color: $text-c33;
          line-height: unit(20);
        }
      }
      .emptyPassword_message_all{
        text-align: left;
        padding-left: unit(28);
        .emptyPassword_message {
          position: relative;
          color: $text-c33;
          line-height: unit(20);
        }
      }
    }
    .forget_me{
      padding-right: unit(80);
      text-align: right;
      margin-top: unit(17);
      a{
        height: unit(24);
        line-height: unit(24);
        color: $text-c36;
      }
    }
    #checkConfirmBtn {
      width: unit(140);
      height: unit(40);
      position: absolute;
      top: unit(234);
      left: unit(160);
      line-height: unit(40);
      border-radius: unit(2);
      -webkit-user-select: none;
      user-select: none;
    }
    .confirm-able {
        background: $basic-c04;
        color: $text-c31;
        cursor: pointer;
        &:hover {
            background: $basic-c05;
        }
    }
    .confirm-disable {
        background-color: $basic-c23;
        color: $text-c35;
        cursor: default;
    }
  }
}
