<div class="authorizeEmp">
  <div class="title"></div>
  <div class="content" [ngClass]="judgeMiniOrFull ? 'content body-t29': 'minicontent body-t29' ">
    <div class="message">{{'MovieLocked'| translate}}</div>
  </div>
  <div class="unlock body-t26" (click)="unLock()">{{'unlock' | translate}}</div>
</div>
