@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

#seasons-vod {
  position: relative;
  margin: auto;
  padding-bottom: unit(30);
}

.seasons-title {
  width: unit(1280);
  display: inline-block;
  height: unit(24);
  line-height: unit(24);
  padding-top: unit(40);
  color: $text-c31;
  @media screen and(max-width: unit(1440)) {
    width: unit(980);
  }
}

.seasonsVodList {
  position: relative;
  margin: auto;
  width: unit(1280);
  height: unit(319);
  padding-top: unit(20);
  @media screen and(max-width: unit(1440)) {
    width: unit(980);
    height: unit(275);
  }
}

.seasonsNoData {
  position: relative;
  .noDataposter {
    width: unit(72);
    height: unit(72);
    text-align: center;
    margin: 0 auto;
    margin-top: unit(101);
    @extend .nodata2-56;
  }
  .noDataMessage {
    color: $text-c35;
    text-align: center;
    margin-top: unit(22);
    margin-bottom: unit(115);
  }
  .noDataMessages {
    color: $text-c35;
    text-align: center;
    margin-top: unit(-105);
    margin-bottom: unit(115);
  }
}

.bottom-line {
  position: absolute;
  border-bottom: unit(1) solid $basic-c03;
  width: 100%;
  margin-bottom: unit(48);
}
