<div id="seasons-vod">
  <div class="bottom-line"></div>
	<div class="seasons-title title-t13">{{seasonTitle}}</div>
	<div class="seasonsVodList" *ngIf="hasContent">
		<columnshow [childcolumnshow] = "datas"  [suspensiondata] = "vodListSuspension" (child)="onClickDetail($event)" [show]="seasonsShow" [id]="seasonsId" *ngIf="datas.length"></columnshow>
	</div>
  <div class="seasonsNoData body-t29" *ngIf="!hasContent">
    <div class="noDataposter"></div>
    <div class="noDataMessage">{{'ondemandNoDataOne' | translate}}</div>
    <div class="noDataMessages">{{'ondemandNoDataTwo' | translate}}</div>
  </div>
</div>
