@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.my-SocialNetworks {
  height: 100%;
}

.title{
  margin-bottom: unit(10);
  span{
    //width: 774px;
    height: unit(26);
    font-size: unit(20);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f5f5f5;
  }
}

.divider-line {
  width: 942px;
  height: 1px;
  margin-bottom: unit(20);
  background-color: rgba(245, 245, 245, 0.1);
}


.networks-container {
  ul{
    padding: 0;
    li {
      width: 100%;
      max-width: 942px;
      list-style: none;
      padding: unit(32) 0 unit(32) unit(20);
      position: relative;
      box-sizing: border-box;
      &.network {
        font-size: 0;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #f5f5f5;
        img {
          margin-right: 20px;
        }
        span {
          font-family: Rubik-Light, sans-serif;
          line-height: 24px;
          font-size: 20px;
          vertical-align: text-bottom;
        }
      }

      .edit-16 {
        position: absolute;
        right: 0;
        top: unit(36);
        cursor: pointer;
      }
    }
  }
}

.available-networks-container {
  margin-top: 400px;
}
.available-network {
  width: 300px;
  height: 46px;
  border-radius: 2px;
  background-color: #4f78a3;
  font-size: 0;
  line-height: 46px;
  margin: auto;
  cursor: pointer;

  img {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 43px;
  }
  span {
    font-family: Rubik-Light, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f5f5f5;
    vertical-align: middle;
  }
}
