<div class="my-SocialNetworks">
  <div class="title title-t13">
    <span>{{'social_networks' | translate}}</span>
  </div>
  <div class="load-container" *ngIf="loading()">
    <div class="spinner"></div>
  </div>
  <div class="divider-line"></div>
  <div class="networks-container">
    <ul>
      <li *ngFor="let network of networks" class="network" [hidden]="!network.status">
        <img src="{{network.icon}}">
        <span>
          {{ network.name | translate }}
        </span>
        <div class="edit-16" (click)="editAccount(network)"></div>
      </li>
    </ul>

  </div>
  <div class="available-networks-container">
    <div *ngFor="let network of networks" [hidden]="network.status || network.status === null" class="available-network" (click) = "addAccount(network)">
      <img src="{{network.availableIcon}}">
      <span>
        {{ 'add_social_network' | translate }}
      </span>
    </div>
  </div>

</div>
