@import "/src/assets/css/common-variables.scss";

.weak-tip {
  background: $basic-c14;
  max-width: unit(900);
  min-width: unit(300);
  max-height: unit(64);
  min-height: unit(16);
  border-radius: unit(3);
  position: relative;
  margin: auto;
  padding: unit(20) unit(40);
  .content {
    text-align: center;
    color: $text-c31;
  }
}
