@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.myChannels-locked {
  width: unit(1086);
  .lockedTitle {
    width: unit(1086);
    height: unit(40);
    border-bottom: unit(1) $basic-c03 solid;
    .lockedName {
      height: unit(24);
      padding-top: unit(6);
      display: inline-block;
      color: $text-c31;
      line-height: unit(24);
      cursor: default;
    }
    .lockedEdit {
      //width: unit(60);
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      text-align: center;
      color: $text-c31;
      line-height: unit(28);
      cursor: pointer;
      border-radius: unit(2);
      -webkit-user-select: none;
      user-select: none;
    }
    .lockedEdit:hover {
      background: $basic-c03;
    }
    .lockedEdit2 {
      //width: unit(60);
      height: unit(28);
      //border: unit(1) $basic-c21 solid;
      float: right;
      margin-right: unit(-62);
      -webkit-user-select: none;
      user-select: none;
    }
    .lockedClearAll {
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      margin-right: unit(20);
      padding: 0 unit(20) 0 unit(20);
      color: $text-c31;
      line-height: unit(28);
      cursor: pointer;
      border-radius: unit(2);
      -webkit-user-select: none;
      user-select: none;
    }
    .lockedClearAll:hover {
      background: $basic-c03;
    }
    .lockedComplete {
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      padding: 0 unit(20) 0 unit(20);
      color: $text-c31;
      line-height: unit(28);
      cursor: pointer;
      border-radius: unit(2);
      -webkit-user-select: none;
      user-select: none;
    }
    .lockedComplete:hover {
      background: $basic-c03;
    }
  }
  .lockedList {
    width: unit(1086);
    padding-top: unit(20);
  }
  .lock-checkpass {
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
  }
  .confirm {
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
  }
  .failed {
    width: unit(340);
    height: unit(24);
    margin: auto;
    margin-top: unit(200);
    padding: unit(23) unit(65);
    background: $basic-c14;
    line-height: unit(24);
    font-size: $body-t29;
    color: $text-c31;
  }
  .noData {
    margin-top: unit(200);
    position: relative;
  }
}

.my-load-status {
  position: absolute;
  top: unit(350);
  right: 47%;
  z-index: 14;
  display: block;
  .spinner {
    position: absolute;
    left: unit(0);
    width: unit(50);
    height: unit(50);
    background-repeat: no-repeat;
    background-size: unit(50);
    background-image: url(assets/img/loader.gif);
  }
}

@keyframes login_load_roate_div {
      0%		{transform: rotate(0deg);}
      100%	{transform: rotate(360deg);}
}

@-webkit-keyframes login_load_roate_div {
      0%		{transform: rotate(0deg);}
      100%	{transform: rotate(360deg);}
}

@media screen and (max-width: unit(1440)) {
  .myChannels-locked {
    width: unit(686);
  }
  .myChannels-locked .my-load-status {
    left: unit(345);
  }
  .myChannels-locked .lockedTitle {
    width: unit(686);
  }
  .myChannels-locked .lockedList {
    width: unit(686);
  }
}
