<div class="myChannels-locked">
  <div class="lockedTitle">
    <span class="lockedName title-t13">{{'lockedChannel' | translate}} {{totalStr}}</span>
    <div class="lockedEdit body-t32" (click)="editData()" [ngStyle]="noDataStyle()" *ngIf="show">{{'edit' | translate}}</div>
    <div class="lockedEdit2" [ngStyle]="{display: (!isAdmin || noDataList == '1') || showLoadIcon ? 'block' : 'none'}"></div>
    <div class="lockedComplete body-t32" (click)="completeData()" *ngIf="!show">{{'complete' | translate}}</div>
    <div class="lockedClearAll body-t32" (click)="clearAllData()" *ngIf="!show">{{'clearAll' | translate}}</div>
  </div>
  <div class="lockedList">
    <myChannels-channel [data]="lockedLists" (deleteChannel)="deleteChannel($event)" (detailChannel)="detailChannel($event)" *ngIf="lockedLists"></myChannels-channel>
  </div>
  <app-checkpass class="lock-checkpass" [verifyType]="verifyType" (closeDiv)="closeDiv($event)" (confirmDiv)="confirmDiv($event)" *ngIf="isCheckpass"></app-checkpass>
  <app-close-confirm class="confirm" [confirmInfoKey]="confirmInfoKey" (cancelData)="cancelData($event)" (confirmData)="confirmData($event)" *ngIf="isClearAll"></app-close-confirm>
  <div class="failed" [ngStyle]="{display: (failed == '1') ? 'block' : 'none'}">{{'delete_failed_try_again_later' | translate}}</div>
  <div class="noData" [ngStyle]="{display: (noDataList == '1') && !showLoadIcon ? 'block' : 'none'}" *ngIf="dataType">
        <waterfall-noData [nodatatype]="dataType"></waterfall-noData>
    </div>
  <div class="my-load-status" *ngIf="showLoadIcon" [style.bottom]="firstLoad?'450px':'100px'">
        <div class="spinner"></div>
    </div>
</div>
