@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.cover {
  position: absolute;
  top: unit(0);
  right: unit(0);
  width: 100%;
  height: 100%;
  background-color: $basic-C08;
  z-index: 2200000001;
}

.episodes-fullScreen {
  position: fixed;
  z-index: 2200000002;
  top: unit(0);
  right: unit(0);
  width: unit(385);
  height: 100%;
  background: $basic-c18;
  -webkit-animation: fade-in 1s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    right: unit(-413);
  }
  100% {
    opacity: 1;
    right: unit(0);
  }
}

.outStyle {
  right: unit(-413);
  -webkit-animation: fade-out 1s;
  @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
      right: unit(0);
    }
    100% {
      opacity: 0;
      right: unit(-413);
    }
  }
}

.title {
  height: unit(64);
  border-bottom: unit(1) solid $basic-c21;
  .episodes-title {
    display: inline-block;
    padding-top: unit(30);
    padding-bottom: unit(16);
    margin-left: unit(34);
    height: unit(16);
    line-height: unit(16);
    color: $text-c31;
    cursor: pointer;
  }
}

.episodes-body {
  position: absolute;
  top: unit(67);
  bottom: unit(0);
  .episodes_pages {
    position: relative;
    width: unit(385);
    height: unit(44);
    .page-contents {
      overflow: hidden;
      width: unit(310);
      margin-left: unit(36);
      .pages {
        min-height: unit(20);
        display: inline-block;
        width: unit(6000);
        li {
          display: inline-block;
          width: auto;
          cursor: pointer;
          span {
            width: unit(80);
            height: unit(44);
            line-height: unit(44);
            display: inline-block;
            margin-left: unit(35);
          }
          &:hover {
            span {
              font-size: $body-t31;
              color: $basic-c31;
            }
          }
          .selectPage {
            color: $basic-c31;
          }
          .noSelectPage {
            color: $text-c35;
          }
        }
        li:nth-child(3n+1) {
          span {
            margin-left: unit(0);
          }
        }
      }
    }
    .fullScreen-leftIcon {
      width: unit(12);
      height: unit(12);
      position: absolute;
      float: left;
      left: unit(10);
      top: unit(16);
      cursor: pointer;
      background: url(assets/img/12/vod_episode_left_normal.png) no-repeat;
    }
    .fullScreen-leftIcon:hover {
      background: url(assets/img/12/vod_episode_left_hover.png) no-repeat;
    }
    .fullScreen-rightIcon {
      width: unit(12);
      height: unit(12);
      position: absolute;
      float: right;
      right: unit(18);
      top: unit(16);
      cursor: pointer;
      background: url(assets/img/12/vod_episode_right_normal.png) no-repeat;
    }
    .fullScreen-rightIcon:hover {
      background: url(assets/img/12/vod_episode_right_hover.png) no-repeat;
    }
  }
  .noPageMargin {
    margin-bottom: unit(20);
  }
  #episodes-wrap {
    position: relative;
    padding-left: unit(35);
    #episodes-contents {
      overflow: hidden;
      position: relative;
      @media screen and (max-height: unit(899)) {
        height: unit(650);
      }
      @media screen and (max-height: unit(768)) {
        height: unit(590);
      }
      @media screen and (max-height: unit(600)) {
        height: unit(470);
      }
      #episodes {
        padding: unit(0);
        float: left;
        position: relative;
        top: unit(0);
        li {
          width: unit(52);
          height: unit(48);
          display: inline-block;
          color: $text-c35;
          background: transparent;
          text-align: center;
          cursor: pointer;
          border: unit(1) solid $basic-c21;
          line-height: unit(50);
          margin-bottom: unit(10);
          margin-right: unit(10);
          &:hover {
            background: $basic-c26;
            color: $text-c31;
          }
        }
        .focus {
          background: $basic-c04;
          color: $text-c31;
           &:hover {
            background: $basic-c04;
          }
        }
        .unfocus {
          color: $text-c35;
        }
        li:nth-child(5n) {
          margin-right: unit(0);
        }
      }
    }
  }
}

.episodesNoData {
  position: absolute;
  top: 50%;
  margin-top: unit(-65);
  width: unit(385);
  .noDataposter {
    width: unit(72);
    height: unit(72);
    text-align: center;
    margin: 0 auto;
    position: relative;
    @extend .nodata2-56;
  }
  .noDataMessage {
    color: $text-c35;
    text-align: center;
    position: relative;
    margin-top: unit(22);
  }
}

.hideEpisodes {
  @extend .fullscreen-packup;
  width: unit(28);
  height: unit(128);
  position: absolute;
  top: 50%;
  margin-top: unit(-64);
  left: unit(-28);
  cursor: pointer;
}

.scrollList {
  position: relative;
  top: unit(0);
  right: unit(-357);
  z-index: 11;
  .scroll {
    width: unit(18);
    left: unit(0);
    top: unit(44);
    bottom: unit(8);
    cursor: pointer;
    position: absolute;
    background: $basic-C09;
    @media screen and (max-height: unit(899)) {
      height: unit(650);
    }
    @media screen and (max-height: unit(768)) {
      height: unit(590);
    }
    @media screen and (max-height: unit(600)) {
      height: unit(470);
    }
    span {
      height: unit(0);
      width: unit(18);
      right: unit(0);
      position: absolute;
      #content {
        left: unit(6);
        position: absolute;
        width: unit(7);
        height: 100%;
        cursor: pointer;
        background: $basic-c03;
        border-radius: unit(24);
      }
    }
  }
}
