<div class="cover" *ngIf="isEpisodesShow" (click)="hideEpisodesList()"></div>
<div class="episodes-fullScreen" id="episodes-fullScreen" [ngClass]="isEpisodesShow? 'episodes-fullScreen' : 'outStyle'" [ngStyle]="checkListHeight()">
  <div class="title body-t28"><span class="episodes-title">{{'episodes' | translate}}</span></div>

  <div class="episodes-body" id="episodes-body" *ngIf ="!episodesLengthIsZero">
    <div id="episodes-pages" class="episodes_pages" *ngIf="episodesTotal.length > 65">
      <div class="fullScreen-leftIcon" [style.visibility]="leftIconVisible" (click)="onClickLeft()"></div>
      <div class="page-contents">
        <div class="pages body-t32" id="pages-lists">
          <li *ngFor ="let page of pages; let i = index" (click)="changePages(i)">
            <span [ngClass]="i === pageIndex ? 'selectPage': 'noSelectPage'">{{pageStr[i]}}</span>
          </li>
        </div>
      </div>
      <div class="fullScreen-rightIcon" [style.visibility]="rightIconVisible" (click)="onClickRight()"></div>
    </div>
    <div class="noPageMargin" *ngIf="episodesTotal.length <= 65"></div>
    <div id="episodes-wrap">
      <div id="episodes-contents">
        <ul id="episodes" class="body-t28">
          <li id="episode" *ngFor="let episode of episodes;let episodeIndex=index" (click)="clickEpi(episode)" [class]="episode.epiIndex == epiIndex && episodeFocus ? 'focus':'unfocus'">
            <span>{{episode.sitcomNO}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="episodesNoData" *ngIf ="episodesLengthIsZero">
    <div class="noDataposter"></div>
    <div class="noDataMessage body-t29">{{'ondemandNoDataOne' | translate}}</div>
  </div>

  <div class="hideEpisodes" (click)="hideEpisodesList()"></div>

  <div class="scrollList" id="scrollList-episodes" *ngIf="belowScreenHeight && !episodesLengthIsZero">
    <div class="scroll" id="scroll">
      <span id="scroll-span">
        <div id="content"></div>
      </span>
    </div>
  </div>
</div>
