<div *ngIf="castRoles.length > 0">
  <div class="casts" [ngClass]="{full: full}">
    <div *ngFor="let castRole of castRoles" class="castRow">
      <div class="castType">{{ roleTranslations[castRole.roleType] | translate }}:</div>
      <div>
      <span *ngFor="let person of castRole.casts; let last = last">
      <span  class="castLink" (click)="personNavigation(person)">
        {{ person.castName.length>0 ? person.castName : 'N.A' }}
        <span *ngIf="!last">,&nbsp;</span>
      </span>

      </span>
        </div>
    </div>
  </div>

  <!--<div class="divider"></div>-->
</div>
