@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.my-device-name {
  width: unit(1086);
  position: absolute;
  .title {
    border-bottom: unit(1) solid $basic-c03;
    padding: unit(10) 0;
    color: $text-c31;
    cursor: default;
  }
  .deviceTipMsgRule {
      margin-top: unit(172);
			margin-left: unit(313);
			margin-bottom: unit(54);
			text-align: left;
			width: unit(480);
    		color: $text-c35;
		}
  .device-Info {
    text-align: center;
  }
  .item {
    margin-bottom: unit(80);
  }
  input {
    padding-left: unit(40);
    padding-right: unit(40);
    width: unit(380);
    height: unit(44);
    background-color: $basic-c03;
    border: none;
    outline: none;
    text-align: center;
    color: $text-c31;
  }
  .deviceNameErrorMsg {
    height: unit(20);
    color: $text-c33;
    position: absolute;
    left: unit(313);
    margin-top: unit(4);
    text-align: left;
    @media screen and (max-width: unit(1440)) {
      left: unit(114);
    }
  }
  .btn {
    width: unit(460);
    text-align: center;
    margin: unit(0) auto;
  }
  button {
    width: unit(220);
    height: unit(46);
    border: none;
    text-align: center;
    color: $text-c31;
    border-radius: $rounded-rc1;
    outline: none;
    cursor: pointer;
    padding: unit(0);
  }
  button::-moz-focus-inner{
    border: none;
    padding: unit(0);
  }
  .undo {
    border: unit(1) solid $basic-c25;
    background: none;
    margin-right: unit(20);
    &:hover {
      background: $basic-c26;
    }
  }
  .save {
      background: linear-gradient(to right, $basic-c31, $basic-c32);
    &:hover {
      background: $basic-c31;
    }
  }
  .disabled-save {
    background-color: $basic-c23;
    color: $text-c35;
    cursor: default;
  }
  .disabled-undo {
    border: unit(1) solid $basic-c23;
    background: none;
    color: $text-c34;
    margin-right: unit(20);
    cursor: default;
  }
}

.delete {
  display: inline-block;
  @extend .close-16;
  position: absolute;
  margin-left: unit(-30);
  margin-top: unit(13);
  cursor: pointer;
}
.device-submit{
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
}
