<div class="my-device-name" id="my-device-name">
    <div class="title title-t13">
        <span>{{'device_name' | translate}}</span>
    </div>
    <div class="deviceTipMsgRule body-t32">
        <span>{{'divice_tips_rule2' | translate: deviceTipMsgRule2}}</span>
    </div>
    <div class="device-Info">
        <div class="item">
            <input class="body-t32" id="changeDeviceName"
                   #nameField
                   [(ngModel)]="deviceName"
                   [maxlength]="maxLengthCache"
                   (focus)='nameInput(deviceName)'
                   (blur)='nameBlur(deviceName)'
                   (keyup)='deviceNameChanged(deviceName)'/>

            <span class="delete" *ngIf="isShowNameDelete" (click)='deviceNameDelete()'></span>
            <div class="deviceNameErrorMsg body-t32"
                 *ngIf="deviceNameErrorMsg && isShowDeviceNameError">
                {{deviceNameErrorMsg | translate}}
            </div>
        </div>
        <div class="btn">
            <button id="device-save-button"
                    [ngClass]=' changedDeviceName ? "save body-t26":"disabled-save body-t26"'
                    [disabled]="btnDisabled"
                    (click)='saveDeviceName()' >
                {{'save'| translate}}
            </button>
        </div>
        <app-mytv-submit class="device-submit" infoKey="Do_you_submit_setting"
                         *ngIf="showSubmitDialog"
                         (closeSubDialog)="closeSubDialog($event)"
                         (cancelOperation)="cancelOperation($event)"
                         (submitData)="submitData($event)"></app-mytv-submit>
    </div>
</div>
