@import "/src/assets/css/common-variables.scss";

.vodFilter {
  height: unit(134);
}

.content {
  height: unit(68);
  overflow: hidden;
}

.vodFilter-content {
  width: unit(1280);
  height: unit(134);
  position: relative;
  margin: auto;
  top: unit(0);
}

.genres,
.areas,
.times {
  position: relative;
  margin-left: unit(20);
  margin-bottom: unit(30);
  width: unit(427);
  height: unit(74);
}

.genre-name,
.area-name,
.time-name {
  color: $text-c35;
  position: relative;
  margin-top: unit(30);
  cursor: default;
}

.genre,
.area {
  color: $text-c35;
  background-color: $basic-c18;
  width: unit(440);
  height: unit(134);
  float: left;
  overflow: hidden;
  margin-right: unit(30);
  letter-spacing: unit(1);
}

.time {
  color: $text-c35;
  background-color: $basic-c18;
  width: unit(440);
  height: unit(134);
  overflow: hidden;
  letter-spacing: unit(1);
}

.item-genre,
.item-area,
.item-time {
  line-height: unit(16);
  margin-right: unit(40);
  margin-top: unit(15);
  float: left;
  cursor: pointer;
  max-width: unit(105);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    color: $text-c31;
  }
}

@media screen and (max-width: unit(1440)) {
  .genre {
    width: unit(315);
    margin-right: unit(17);
  }
  .area {
    width: unit(315);
    margin-right: unit(18);
  }
  .time {
    width: unit(315);
  }
  .item-genre,
  .item-area,
  .item-time {
    margin-right: unit(20);
    margin-top: unit(15);
    float: left;
  }
  .vodfilter {
    margin: auto;
  }
  .content,
  .area-name,
  .time-name {
    width: unit(290);
  }
  .vodFilter-content {
    max-width: unit(980);
    width: 100%;
  }
}

@media screen and (min-width: unit(1024)) and (max-width: unit(1440)) {
  .vodFilter {
    height: auto;
  }
  .vodFilter-content {
    width: unit(980);
    height: auto;
    .genre, .time {
      background: none;
      display: block;
      float: none;
      width: auto;
      height: auto;
      .genres, .times {
        width: auto;
        height: auto;
        margin-bottom: unit(0);
        margin-left: unit(0);
        .time-name, .genre-name {
          display: none;
        }
        .content {
          width: auto;
          height: auto;
          margin-bottom: unit(30);
          font-size: unit(16);
          .item-genre, .item-time {
            width: auto;
            margin-right: unit(25);
            max-width: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: unit(1120)) {
  .vodFilter {
    height: auto;
  }
  .vodFilter-content {
    width: unit(940);
    height: auto;
    .genre, .time {
      background: none;
      display: block;
      float: none;
      width: auto;
      height: auto;
      .genres, .times {
        width: auto;
        height: auto;
        margin-bottom: unit(0);
        margin-left: unit(0);
        .time-name, .genre-name {
          display: none;
        }
        .content {
          width: auto;
          height: auto;
          margin-bottom: unit(30);
          .item-genre {
            width: auto;
            margin-right: unit(25);
            max-width: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: unit(790)) {
  .vodFilter {
    height: auto;
  }
  .vodFilter-content {
    width: unit(704);
    height: auto;
    .genre, .time {
      background: none;
      display: block;
      float: none;
      width: auto;
      height: auto;
      .genres, .times {
        width: auto;
        height: auto;
        margin-bottom: unit(0);
        margin-left: unit(0);
        .time-name, .genre-name {
          display: none;
        }
        .content {
          width: auto;
          height: auto;
          margin-bottom: unit(30);
          .item-genre {
            width: auto;
            margin-right: unit(25);
            max-width: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: unit(735)) {
  .vodFilter {
    height: auto;
  }
  .vodFilter-content {
    max-width: unit(600);
    width: 100%;
    height: auto;
    .genre, .time {
      background: none;
      display: block;
      float: none;
      width: auto;
      height: auto;
      .genres, .times {
        width: auto;
        height: auto;
        margin-bottom: unit(0);
        margin-left: unit(0);
        .time-name, .genre-name {
          display: none;
        }
        .content {
          width: auto;
          height: auto;
          margin-bottom: unit(30);
          .item-genre {
            width: auto;
            margin-right: unit(25);
            max-width: none;
          }
        }
      }
    }
  }
}


@media screen and (max-width: unit(550)) {
.vodFilter {
  height: auto;
}

.vodFilter-content {
  width: 100%;
  height: auto;
  .genre {
    margin-right: 0;
  }
  .genre, .time {
    background: none;
    display: block;
    float: none;
    width: auto;
    height: auto;
    .genres, .times {
      width: auto;
      height: auto;
      margin-bottom: unit(0);
      margin-left: unit(0);
      .time-name, .genre-name {
        display: none;
      }
      .content {
        width: auto;
        height: auto;
        margin-bottom: unit(30);
        .item-genre {
          width: auto;
          margin-right: unit(25);
          max-width: none;
        }
      }
    }
  }
}

}
@media screen and (max-width: unit(320)) {
.vodFilter {
  height: auto;
}

.vodFilter-content {
  width: unit(300);
  height: auto;
  .genre, .time {
    background: none;
    display: block;
    float: none;
    width: auto;
    height: auto;
    .genres, .times {
      width: auto;
      height: auto;
      margin-bottom: unit(0);
      margin-left: unit(0);
      .time-name, .genre-name {
        display: none;
      }
      .content {
        width: auto;
        height: auto;
        margin-bottom: unit(30);
        .item-genre {
          width: auto;
          margin-right: unit(25);
          max-width: none;
        }
      }
    }
  }
}

}
