<div class="vodFilter" *ngIf="genres.length">
  <div class="vodFilter-content">
    <div class="genre">
      <div class="genres">
        <div class="genre-name body-t29">{{'genre' | translate}}</div>
        <div class="content body-t32">
          <div *ngFor="let option of genres; let i = index " >
            <div class="item-genre" (click)="toFilterPage(option,'genre',i)">{{option.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- @HWP-43-DISABLE-FEATURES div class="area">
      <div class="areas">
        <div class="area-name body-t29">{{'area' | translate}}</div>
        <div class="content body-t32">
          <div *ngFor="let option of areas; let i = index ">
            <div class="item-area" (click)="toFilterPage(option,'area',i)">{{option.name | translate}}</div>
          </div>
        </div>
      </div>
    </div-->
    <div class="time">
      <div class="times">
        <div class="time-name body-t29">{{'time' | translate}}</div>
        <div class="content body-t32">
          <div *ngFor="let option of years; let i = index ">
            <div class="item-time" (click)="toFilterPage(option,'year',i)">{{option.name | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
