@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.detail {
  .favorite-show {
    display: block;
    position: absolute;
    margin-left: unit(1257);
    margin-top: unit(34);
    z-index: 11;
    @media screen and (max-width: unit(1440)) {
      margin-left: unit(857);
    }
  }
  .favorite-hide {
    display: block;
    position: absolute;
    margin-left: unit(1257);
    margin-top: unit(34);
    @media screen and (max-width: unit(1440)) {
      margin-left: unit(857);
    }
  }
  .score-show {
    display: block;
    position: absolute;
     margin-left: unit(-100);
    margin-top: unit(34);
    z-index: 11;
  }
  .score-hide {
    display: none;
    position: absolute;
    margin-left: unit(1167);
    margin-top: unit(34);
  }
  .share-show {
    position: absolute;
    display: block;
    margin-left: unit(0);
    margin-top: unit(48);
    z-index: 11;
  }
  .share-hide {
    position: absolute;
    display: none;
    margin-left: unit(0);
    margin-top: unit(48);
    z-index: 11;
  }
  .title {
    .name {
      color: $text-c31;
      display: inline-block;
      width: unit(1000);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @media screen and (max-width: unit(1440)) {
        width: unit(850);
      }
    }
    .score-done {
      @extend .rate-20;
      width: unit(20);
      height: unit(20);
      float: right;
      right: unit(45);
      position: relative;
      cursor: pointer;
      bottom: unit(-12);
    }
    .score-false {
      @extend .ratedefault-20;
      width: unit(20);
      height: unit(20);
      float: right;
      right: unit(45);
      position: relative;
      cursor: pointer;
      bottom: unit(-12);
    }
    .favorite-done {
      width: unit(20);
      height: unit(20);
      float: right;
      right: unit(28);
      position: relative;
      cursor: pointer;
      bottom: unit(-12);
    }
    .favorite-false {
      width: unit(20);
      height: unit(20);
      float: right;
      right: unit(28);
      position: relative;
      cursor: pointer;
      bottom: unit(-12);
    }
    .share-done {
      background: url(assets/img/20/ondemand_rio2-iocn_3.png) no-repeat;
      width: unit(20);
      height: unit(20);
      float: right;
      right: unit(12);
      position: relative;
      cursor: pointer;
      bottom: unit(-12);
    }
  }
  .score {
    width: 100%;
    margin-top: unit(15);
    display: inline-block;
    .scoreStar {
      float: left;
      .star {
        display: inline-block;
        margin-right: unit(6);
        .rating_star_empty {
          width: $icon-s18;
          height: $icon-s18;
          background: url(assets/img/18/program_grade2.1.png) no-repeat;
          background-position: bottom;
        }
        .rating_star_half {
          width: $icon-s18;
          height: $icon-s18;
          background: url(assets/img/18/grade3_18.png) no-repeat;
          background-position: bottom;
        }
        .rating_star_full {
          width: $icon-s18;
          height: $icon-s18;
          background: url(assets/img/18/grade2_18.png) no-repeat;
          background-position: bottom;
        }
      }
    }
    .averageScore {
      color: $text-c31;
      float: left;
    }
    .scoreTimes {
      color: $text-c31;
      float: left;
      margin-left: unit(60);
    }
    .onlineImg {
      background: url(assets/img/18/user_18.png) no-repeat;
      background-position: bottom;
      width: unit(18);
      height: unit(18);
      float: left;
      margin-right: unit(8);
    }
    .info {
      float: left;
      height: unit(22);
      line-height: unit(22);
      color: $text-c31;
      margin-left: unit(60);
      .curEpisode {
        float: left;
        margin-top: unit(1);
      }
      .seasonSplit{
        float: left;
      }
      span{
        white-space: pre;
        float: left;
      }
      .zoneShow{
        float: left;
      }
      .lessGenerShow{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: unit(400);
        float: left;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
    .definition-wrap {
      display: inline-block;
    }
    .levelImg {
      width: unit(40);
      height: unit(22);
      background: $basic-c03;
      border-radius: unit(18);
      color: $text-c31;
      opacity: 0.5;
      float: left;
      margin-left: unit(10);
      text-align: center;
      .levelImgInfo {
        line-height: unit(24);
      }
    }
  }
  .content {
    position: relative;
    display: block;
    margin-top: unit(18);
    padding-bottom: unit(8);
    .director {
      color: $text-c31;
      display: inline-block;
    }
    .directors {
      display: inline-block;
      color: $text-c31;
      margin-left: unit(4);
      max-width: unit(200);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: unit(-4);
    }
    .actor {
      color: $text-c31;
      margin-bottom: unit(9);
      margin-left: unit(40);
      display: inline-block;
    }
    .actors {
      color: $text-c31;
      display: inline-block;
      margin-left: unit(4);
      max-width: unit(800);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: unit(-4);
      @media screen and (max-width: unit(1440)) {
        max-width: unit(600);
      }
    }
    .introduce {
      color: $text-c35;
      line-height: unit(19.5);
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      width: unit(1260);
      height: auto;
    }
    .introduce-more {
      width: unit(14);
      height: unit(14);
      background: url(assets/img/14/angledown_14.png) no-repeat;
      display: block;
      left: unit(1247);
      top: unit(4);
      position: relative;
      cursor: pointer;
    }
    .introduce-less {
      width: unit(14);
      height: unit(14);
      background: url(assets/img/14/angleup_14.png) no-repeat;
      display: block;
      left: unit(1247);
      top: unit(4);
      position: relative;
      cursor: pointer;
    }
  }
  .directorShow{
      position: absolute;
      z-index: 12;
      cursor: default;
      background: $basic-c17;
      margin-top: unit(4);
      left: unit(0);
      box-shadow: unit(0) unit(0) unit(40) $basic-c06;
      border-radius: unit(3);
      .directorPath{
          position: absolute;
          width: unit(260);
          height: unit(20);
          top: unit(-19);
          left: unit(90);
      }
      .directorUpImg {
          @extend .popup-19;
          width: unit(19);
          height: unit(19);
          float: right;
          position: relative;
          margin-top: unit(-15);
          left: unit(-160);
      }
      .directorContent{
          margin-top: unit(20);
          margin-left: unit(20);
          width: unit(320);
          background: $basic-c17;
          position: relative;
          color: $text-c31;
          .directorItem{
            float: left;
            margin-right: unit(24);
            margin-bottom: unit(20);
            word-break:break-all;
            height: unit(16);
            span{
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: unit(300);
              float: left;
            }
          }
      }
    }
    .actorShow{
      position: absolute;
      z-index: 12;
      cursor: default;
      background: $basic-c17;
      margin-top: unit(4);
      left: unit(550);
      box-shadow: unit(0) unit(0) unit(40) $basic-c06;
      border-radius: unit(3);
      @media screen and (max-width: unit(1440)) {
        left: unit(450);
      }
      .actorPath{
          position: absolute;
          width: unit(260);
          height: unit(20);
          top: unit(-19);
          left: unit(90);
      }
      .actorUpImg {
          @extend .popup-19;
          width: unit(19);
          height: unit(19);
          float: right;
          position: relative;
          margin-top: unit(-15);
          left: unit(-210);
      }
      .actorContent{
          margin-top: unit(20);
          margin-left: unit(20);
          width: unit(420);
          background: $basic-c17;
          position: relative;
          color: $text-c31;
          .actorItem{
            float: left;
            margin-right: unit(24);
            margin-bottom: unit(20);
            word-break:break-all;
            height: unit(16);
            max-width: unit(400);
            span{
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: unit(400);
              float: left;
            }
          }
      }
    }
}

#introduceShowIcon {
  color: $text-c35;
  line-height: unit(21);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: unit(1260);
  height: auto;
  visibility: hidden;
  position: absolute;
}


.weixin {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    background: $basic-C08;
    top: unit(0);
    left: unit(0);
    z-index: 13;
    text-align: center;
    .weixin_message {
        display: block;
        position: fixed;
        margin: auto;
        width: unit(480);
        height: unit(480);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: $basic-c12;
        .title {
          height: unit(59);
          color: $text-c35;
          border-bottom: unit(1) solid $basic-c19;
            span {
                line-height: unit(63);
            }
            .close{
                background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
                width: unit(20);
                height: unit(20);
                position: relative;
                top: unit(-43);
                left: unit(405);
                cursor: pointer;
            }
        }
        .weixin_content{
            .weixin_title {
                width: 100%;
                .weixin_title_name {
                    padding-top: unit(30);
                    padding-bottom: unit(10);
                    margin: auto;
                    width: 100%;
                    color: $text-c31;
                    text-align: center;
                    display: block;
                    line-height: unit(22);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 90%;
                    .weixin_title_name_main{
                      max-width:unit(414);
                      line-height: unit(24);
                      display:inline-block;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      overflow: hidden;
                    }
                    .weixin_title_name_follow{
                      line-height: unit(24);
                      display:inline-block;
                      overflow: hidden;
                    }
                }
                .weixin_title_message {
                    padding-bottom: unit(30);
                    color: $text-c35;
                    display: block;
                }
            }
            .weixin_img {
                padding-bottom: unit(22);
            }
            .weixin_bottom {
                padding-top: unit(10);
                padding-bottom: unit(35);
                color: $text-c35;
                display: block;
            }
        }
    }
}
