<div class="detail">
  <app-favorite-vod *ngIf="isShow == 'true'" [class]="isFav == '0' ?'favorite-show':'favorite-hide'" [favInfo]='isFav'></app-favorite-vod>
  <app-score [class]="scoreShow == 'true' ?'score-show':'score-hide'" [ngStyle]="{display: isScoreShow ? 'block' : 'none'}" [vodinfo]="info" *ngIf="info.contentIDs" (click)="scoreClick()"></app-score>
  <app-share-vod [class]="isShowShare?'share-show':'share-hide'" [shareVODData] = "shareVODDetail"></app-share-vod>
  <span class="weixin" *ngIf = "isweixin">
    <div class="weixin_message">
      <div class="title body-t26">
        <span>{{'share_to_wechat' | translate}}</span>
        <div class="close" (click)="hideWeiXin()"></div>
      </div>
      <div class="weixin_content">
        <div class="weixin_title">
          <div class="weixin_title_name body-t26">
            <span class="weixin_title_name_main">{{ '<'+details.name }}</span>
            <span class="weixin_title_name_follow">{{ '>' }}</span>
          </div>
          <span class="weixin_title_message body-t29">{{'share_to_friend' | translate}}</span>
        </div>

        <!-- <qr-code [value]="share_url" [size]="240"></qr-code> -->
        <div class="weixin_bottom body-t29">{{'scan_QR' | translate}}</div>
      </div>
    </div>
  </span>

  <div class="title">
    <!--<div class="name body-t22">{{ details.name }}</div>-->
    <div class="share-done"  (mouseenter)="mouseenterShare()" (mouseleave)="mouseleaveShare()"></div>
    <div [class]="addFavorite == 'true' ?'favorite-done':'favorite-false'" id='favoriteIcon' (click) = "favoriteManger()" (mouseenter)="mouseenterFav()" (mouseleave)="mouseleaveFav()"></div>
    <div class="score-done" class = "score-false" (mouseenter)="mouseenterScore()" (mouseleave)="mouseleaveScore()" ></div>
  </div>

  <div class="score">
    <div class="scoreStar">
      <div class="star" [ngSwitch]="star"  *ngFor="let star of starArray" >
        <div *ngSwitchCase=0 class="rating_star_empty"></div>
        <div *ngSwitchCase=1 class="rating_star_half"></div>
        <div *ngSwitchCase=2 class="rating_star_full"></div>
        <div *ngSwitchDefault class="rating_star_empty"></div>
      </div>
    </div>
    <div class="averageScore body-t27">{{ averageScore }}</div>
    <div class="scoreTimes body-t29"><div class="onlineImg"></div>{{ scoreTimes }}</div>
    <div class="info body-t29">
      <div *ngIf="isShowSeason" class="curEpisode">{{'vod_season' | translate: seasonNumber}}</div>
      <span *ngIf="isShowSeason && (isShowEpi || produceDate || produceZoneName || vodGenres || ratingName)" class = "seasonSplit"> | </span>
      <div *ngIf="isShowEpi" class="curEpisode">{{'episode' | translate: epiNumber}}</div>
      <span *ngIf="isShowEpi && (produceDate || produceZoneName || vodGenres || ratingName)" class = "episodeSplit"> | </span>
      <span class="zoneShow">{{produceDate}}</span>
      <span *ngIf="produceDate && (produceZoneName || vodGenres || ratingName)" class = "produceDateSplit"> | </span>
      <span>{{produceZoneName}}</span>
      <span class = "lessGenerShow" >{{vodGenres}}</span>
      <span *ngIf="ratingName && (produceZoneName || vodGenres)" class = "ratingNameSplit"> | </span>
      <span>&nbsp;{{ratingName}}</span>
      <div class="definition-wrap" *ngIf="definitions.length > 0">
        <div class="levelImg" *ngFor="let definition of definitions">
          <div class="levelImgInfo body-t32">{{definition}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="content body-t29">
    <div class="director">{{'director' | translate}}</div>
    <div class="directors" (mouseenter)="mouseenterDirector()" (mouseleave)="mouseleaveDirector()">{{directors}}</div>
    <div class="directorShow"  [ngStyle]="{display: isDirectorShow ? 'block' : 'none'}" (mouseenter)="mouseenterDirector()" (mouseleave)="mouseleaveDirector()">
      <div class="directorPath"></div>
      <div class="directorUpImg"></div>
      <div class="directorContent">
        <div *ngFor="let direct of directorAllshow, let j=index" class="directorItem">
          <span>{{direct}}</span>
        </div>
      </div>
    </div>
    <div class="actor">{{'actor' | translate}}</div>
    <div class="actors" (mouseenter)="mouseenterActor()" (mouseleave)="mouseleaveActor()">{{actors}}</div>
    <div class="actorShow"  [ngStyle]="{display: isActorShow ? 'block' : 'none'}"  (mouseenter)="mouseenterActor()" (mouseleave)="mouseleaveActor()">
      <div class="actorPath"></div>
      <div class="actorUpImg"></div>
      <div class="actorContent">
        <div *ngFor="let actor of actorAllShow, let j=index" class="actorItem">
          <span>{{actor}}</span>
        </div>
      </div>
    </div>
    <div class="introduce body-t29"  id="introduce" [ngStyle]="showWidth()">{{details.introduce }}</div>
    <div class="introduce body-t29"  id="introduceShowIcon">{{details.introduce }}</div>
    <span class="introduce-more" id="introduceMore" (click)="increaseMore()" *ngIf="!showMore && showHeight"></span>
    <span class="introduce-less" id="introduceLess" (click)="discreaseLess()" *ngIf="showMore && showHeight"></span>
  </div>
</div>
