<div class="tvguide-content">
  <div class="nav_cover"></div>
  <div class="guide_routes">
    <div class="line"></div>
    <span id="guide_Channel" class="body-t32">{{'all_channels' | translate}}</span>
  </div>
  <app-date-list (changeDate) = "changeChannelList($event)" [setNowToToday] = "nowToToday"></app-date-list>
  <app-channel-list [setNewChannelList] = "newDate"  (changeDateToNow) = "changeDateToToday($event)"></app-channel-list>
</div>
