@import "/src/assets/css/common-variables.scss";

.tvguide-content {
  position: relative;
  .nav_cover {
    height: unit(200);
    position: absolute;
    z-index: 1;
    //background: url(assets/img/banner_cover1_200px.png);
    top: unit(-80);
    width: 100%;
  }
  .guide_routes {
    padding-bottom: unit(15);
    padding-top: unit(25);
    max-width: 100%;
    margin: auto;
    display: block;
    z-index: 1;
    span {
      color: $text-c31;
      display: block;
      z-index: 1;
      position: relative;
      max-width: unit(1280);
      margin: auto;
      @media screen and (max-width: unit(1440)) {
        max-width: unit(980);
      }
    }
    .line {
      border-bottom: unit(1) solid $basic-c21;
      position: relative;
      z-index: 1;
      top: unit(-25);
    }
    #guide_Channel {
      cursor: default;
    }
  }
  app-channel-list {
    display: block;
    z-index: 1;
    position: relative;
  }
  app-date-list {
    display: block;
    z-index: 1;
    position: relative;
  }
}
