<div class="subscriber_dialog" id="subscriber-dialog">
  <div class="inner">
    <div class="top">
      <div class="title body-t26">{{'Available_Product_List_string' | translate}}</div>
      <div class="close" (click) = "closeLiveTV()"></div>
    </div>
    <div class="content">
      <div class="price-leftIcon" [style.visibility]="priceLeftVisible" (click)="onClickLiveTVLeft()"></div>
      <div class="price_content">
        <div class="ul" #products>
          <div *ngFor="let product of pricedProducts, let i=index" class="item" (mouseenter)="changeProduct(product)"
          (click) = "subLiveTVEmpProduct(product)">
            <span class="product-name body-t26">{{product.name}}</span>
            <div class="price">
              <div class="product-price title-t12"><div class="symbol body-t24" *ngIf='product.price'>{{currencySymbol}}</div>{{product.price}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="price-rightIcon" [style.visibility]="priceRightVisible" (click)="onClickLiveTVRight()"></div>
    </div>
    <div class="bottom body-t32" id="bottom">
      <div class="detail_content" id="detail_content">
        <div class="name_content">{{pricedProduct.name}}</div>
        <div class="validation_content">
          <div class="validation_title">{{'Validation_string' | translate}}:&nbsp;</div>
          <div class="validation_duration">{{'valid_duration_subscruber' | translate: pricedProduct.duration_subscruber}} </div>
        </div>
        <div class="price_content">
          <div class="price_title">{{'price' | translate}}:&nbsp;</div>
          <div class="price_detail">{{pricedProduct.price}}</div>
        </div>
        <div class="details">
          <div class="details_title">{{'Details_string' | translate}}</div>
          <div class="details_contains">{{pricedProduct.introduce}}</div>
        </div>
      </div>
      <div class="livetv_sub_scrollList" id="livetv_sub_scrollList">
        <div class="livetv_sub_scroll" id="livetv_sub_scroll">
          <span id="livetv_sub_scrollSpan">
            <div id="livetv_sub_content"></div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
