@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.subscriber_dialog {
  position: relative;
  .inner {
    width: unit(848);
    height: unit(450);
    background: $basic-c14;
    margin: auto;
    .top {
      position: relative;
      width: 100%;
      text-align: center;
      border-bottom: unit(1) solid $basic-c19;
      .title {
        color: $text-c35;
        padding-top: unit(23);
        margin-bottom: unit(17);
      }
      .close {
        width: unit(32);
        height: unit(32);
        background: url(assets/img/32/delete_32.png) no-repeat;
        cursor: pointer;
        position: absolute;
        float: right;
        right: unit(30);
        top: unit(17);
      }
    }
    .content {
      display: inline-block;
      position: relative;
      .price-leftIcon {
        width: unit(24);
        height: unit(24);
        margin-left: unit(30);
        margin-right: unit(30);
        display: inline-block;
        float: left;
        top: unit(100);
        position: relative;
        cursor: pointer;
        @extend .subscribe_left-24;
        &:hover {
          @extend .subscribe_left_hover-24;
        }
      }
      .price_content {
        width: unit(680);
        overflow: hidden;
        height: unit(160);
        float: left;
        margin-top: unit(30);
        .ul {
          width: unit(3000);
          height: unit(160);
          .item {
            display: inline-block;
            width: unit(140);
            height: unit(160);
            border-radius: unit(4);
            background: $basic-c19;
            margin-right: unit(40);
            float: left;
            cursor: pointer;
            text-align: center;
            .product-name {
              color: $text-c35;
              margin-top: unit(23);
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              height: unit(24);
              padding-left: unit(10);
              padding-right: unit(10);
            }
            .price {
              position: relative;
              max-height: unit(40);
              margin-top: unit(40);
              padding-left: unit(5);
              padding-right: unit(5);
              .product-price-left {
                color: $text-c31;
                position: relative;
                display: inline-block;
                height: unit(40);
                line-height: unit(40);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              .product-price {
                color: $text-c31;
                position: relative;
                width: unit(130);
                height: unit(40);
                line-height: unit(40);
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: center;
              }
              .symbol {
                height: unit(40);
                line-height: unit(36);
                display: inline-block;
                vertical-align: middle;
              }
            }
            &:hover {
              background: $basic-c31;
              .product-name {
                color: $text-c31;
              }
            }
          }
          .item:nth-child(4n) {
            margin-right: unit(0);
          }
        }
      }
      .price-rightIcon {
        width: unit(24);
        height: unit(24);
        margin-left: unit(30);
        margin-right: unit(30);
        display: inline-block;
        float: left;
        top: unit(100);
        position: relative;
        cursor: pointer;
        @extend .subscribe_right-24;
        &:hover {
          @extend .subscribe_right_hover-24;
        }
      }
    }
    .bottom {
      position: relative;
      top: unit(25);
      width: unit(762);
      height: unit(140);
      overflow: hidden;
      left: unit(84);
      .detail_content {
        position: absolute;
      }
      .name_content {
        margin-bottom: unit(12);
        color: $text-c31;
        line-height: unit(20);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: unit(680);
      }
      .validation_content {
        margin-bottom: unit(12);
        .validation_title {
          color: $text-c31;
          line-height: unit(20);
          display: inline-block;
        }
        .validation_duration {
          color: $text-c35;
          display: inline-block;
        }
      }
      .price_content {
        margin-bottom: unit(12);
        .price_title {
          color: $text-c31;
          line-height: unit(20);
          display: inline-block;
        }
        .price_detail {
          color: $text-c35;
          display: inline-block;
        }
      }
      .details {
        .details_title {
          color: $text-c31;
          line-height: unit(20);
          margin-bottom: unit(6);
        }
        .details_contains {
          line-height: unit(15);
          color: $text-c35;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          width: unit(680);
        }
      }
    }

    .livetv_sub_scrollList {
      position: relative;
      .livetv_sub_scroll {
        height: unit(145);
        width: unit(18);
        right: unit(3);
        top: unit(0);
        bottom: unit(8);
        cursor: pointer;
        position: absolute;
        border-radius: unit(6);
        overflow: hidden;
        span {
          height: unit(0);
          width: unit(18);
          right: unit(0);
          position: absolute;
          top: unit(0);
          #livetv_sub_content {
            left: unit(6);
            position: absolute;
            width: unit(6);
            height: 100%;
            cursor: pointer;
            background: $basic-c03;
            border-radius: unit(24);
          }
        }
      }
    }
  }
}
