<div class="playbill-record-wrapper">
    <div class="app-record-dialog">
        <div class="title title-t14">
            <div>{{ 'livetv_record' | translate}}</div>
            <div class="record-close" (click)="close()"></div>
        </div>
        <div class="content body-t29">
            <div class="type" *ngIf="!(!supportAllCPVR && PVRMode == 'CPVR')">
                <div class="right-type">
                    <div class="single-record" [ngClass]="singleRecordType ? 'focus' : (singleRecordFalse ? 'canhover' : 'nohover')" (click)="changeFocus('singleRecordType')">
                        <div class="select"></div>
                        <div class="message">{{'single_string' | translate}}</div>
                    </div>
                    <div class="periodic-record" [ngClass]="periodicRecordType ? 'focus' : (periodicRecordFalse ? 'canhover' : 'nohover')" (click)="changeFocus('periodicRecordType')">
                        <div class="select"></div>
                        <div class="message">{{'series' | translate}}</div>
                    </div>
                </div>
                <div class="left-type">{{'recored_type' | translate}}</div>
            </div>

            <div class="storage body-t29" *ngIf="recordingMode == 'CPVR&NPVR' && (supportAllCPVR || singleRecordType)">
                <div class="right-storage">
                    <div (click)="selectStorage('cloud')" [ngClass]="selectCloud ? 'cloud-focus' : (canNPVRRecord ? 'cloud-storage' : 'cloudnohover')"
                        class="cloudRecord'">
                        <div class="select"></div>
                        <div class="message">{{'recored_cloud' | translate}}</div>
                    </div>
                    <div (click)="selectStorage('stb')" [ngClass]="!selectCloud ? 'stb-focus' : (canCPVRRecord ? 'stb-storage' : 'stbnohover')">
                        <div class="select"></div>
                        <div class="message">{{'record_STB' | translate}}</div>
                    </div>
                </div>
                <div class="left-storage">{{'record_Storage' | translate}}</div>
            </div>
            <div class="quality-item body-t29" *ngIf="recordType && showQullity && !selectCloud  && (supportAllCPVR || singleRecordType)">
                <span class="item-name">{{'recored_quality' | translate}}
                </span>
                <input maxlength="30" [(ngModel)]="curQualityObj.quality"
                     readonly="reasonly" [style.color]="qualityList?.length != 1 ? '#f5f5f5' : '#8f8f8f'">
                <div [class]="showQualityList ? 'quality-drop angleup-24' : 'quality-drop angledown-24'" (click)="choiceQuality()"
                     *ngIf="qualityList?.length != 1"></div>
                <div class="quality-list" [ngStyle]='{visibility:showQualityList ? "visible" : "hidden"}' (mouseleave)="mouseOutQualityList()">
                    <li *ngFor="let qualityObj of qualityList" [textContent]='qualityObj?.quality' (click)="selectQuality(qualityObj)"
                        [ngStyle]='{color:(curQualityObj?.quality === qualityObj?.quality) ? "#f5f5f5" : "#8f8f8f"}'>
                    </li>
                </div>
            </div>
        </div>

        <div class="split body-t29" *ngIf="recordType" [ngClass]="hasExtended ? 'max-record-dialog' : ''">
            <div class="line"></div>
            <div class="arrow" (click)="extendedSet()" [ngClass]="hasExtended ? 'up' : 'down'"></div>
            <div class="extended">{{'recored_extended_setting' | translate}}</div>
        </div>

        <div class="settting body-t29" *ngIf="hasExtended || !recordType">
            <span class="pre-padding">
                <div class="arrow" (click) = "dealArrow('prePaddingArrow')"> <div class="angle" [ngClass]="prePaddingArrow == 'up' ? 'up' : (canSetPrePadding ? 'down' : 'gray-down')"> </div> </div>
                <div class="right">
                    <div [class]="canSetPrePadding? 'time':'fontGray'">{{ preTime }} {{'record_min' | translate}}</div>
                </div>
                <div class="left">{{'pre_padding' | translate}}</div>
                <ul *ngIf="prePaddingArrow == 'up'">
                    <li *ngFor="let arrowPre of arrowPreList; let i = index" (click)= "changePrePadding(arrowPre)">
                        <div [ngStyle]='{color:(preTime === arrowPre) ? "#f5f5f5" : "#8f8f8f"}'>{{ arrowPre }} {{'record_min' | translate}}</div>
                    </li>
                </ul>
            </span>

            <span class="post-padding body-t29">
                <div class="arrow" (click) = "dealArrow('postPaddingArrow')"> <div class="angle" [ngClass]="postPaddingArrow == 'up' ? 'up' : 'down'"> </div> </div>
                <div class="right">
                    <div class="time">{{ endTime }} {{'record_min' | translate}}</div>
                </div>
                <div class="left">{{'post-padding' | translate}}</div>
                <ul *ngIf="postPaddingArrow == 'up'">
                    <li *ngFor="let arrowPost of arrowPostList; let i = index" (click)= "changePostPadding(arrowPost)">
                        <div [ngStyle]='{color:(endTime === arrowPost) ? "#f5f5f5" : "#8f8f8f"}'>{{ arrowPost }} {{'record_min' | translate}}</div>
                    </li>
                </ul>
            </span>


        </div>

        <div class="buttom body-t29" (click)="addRecord()">{{'confirm' | translate}}</div>
    </div>
</div>
