@import "/src/assets/css/common-variables.scss";

.navbar-menu-mob {

}

.navbar-menu-links {
  position: fixed;
  z-index: 9999999;
  //top: 0;
  left: 0;
  //bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);

  .close-menu {
    position: absolute;
    top: unit(13);
    right: unit(13);
    width: unit(24);
    height: unit(24);
    cursor: pointer;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  & > ul {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0;
    list-style: none;

    & > li {
      width: 100%;
      padding: unit(17) 0;
      text-align: center;

      & > a {
        font-size: unit(16);
        color: #f5f5f5;
        line-height: 1;
      }

      &.active > a {
        font-weight: bold;
        color: $basic-c31;
      }
    }
  }
}
