<div class="navbar-menu-mob">
  <div class="navbar-menu-triger" (click)="onClickMenuBar()">
    <img src="assets/icon/menu.svg" />
  </div>
  <div [ngStyle]="{display: (isMenuShow) ? 'block' : 'none'}" class="navbar-menu-links">
    <div class="close-menu" (click)="onClickCloseMenu()">
      <img src="assets/icon/close.svg" />
    </div>
    <ul>
      <li [ngClass]="setClass('home')">
        <a tabindex="-1" [routerLink]="['/home']" (click)="gotoTop()">{{'menu_home' | translate}}</a>
      </li>
      <li [ngClass]="setClass('live-tv')">
        <a tabindex="-1" [routerLink]="['/live-tv']" (click)="gotoTop()">{{'menu_livetv' | translate}}</a>
      </li>
      <li [ngClass]="setClass('on-demand')">
        <a tabindex="-1" [routerLink]="['./video']" (click)="gotoTop()">{{'menu_vod' | translate}}</a>
      </li>
      <li>
        <a (click)="login()" >{{ loginT | translate}}</a>
      </li>
      <li [ngStyle]="{display: (isLogined) ? 'block' : 'none'}">
        <a (click)="onLogout()" >{{ 'logout' | translate }}</a>
      </li>
    </ul>
  </div>
</div>


