@import "/src/assets/css/common-variables.scss";

.passInput {
  text-align: center;
  width: unit(460);
  padding-bottom: unit(35);
  background: $basic-c14;
  margin: auto;
  position: relative;
  .title {
    border-bottom: unit(1) solid $basic-c19;
    height: unit(60);
    line-height: unit(60);
    .titile-message {
      color: $text-c35;
    }
    .titile-close {
      background: url(assets/img/32/delete_32.png) no-repeat;
      width: unit(32);
      height: unit(32);
      position: relative;
      display: block;
      float: right;
      margin-right: unit(35);
      margin-top: unit(-46);
      cursor: pointer;
    }
  }
  .content {
    max-width: unit(354);
    margin: auto;
    .contentMessage {
      position: relative;
      width: unit(354);
      height: unit(75);
      input {
        color: $text-c31;
        width: unit(260);
        height: unit(22);
        padding-top: unit(9);
        padding-bottom: unit(9);
        border-left: 0;
        padding-left: unit(10);
        padding-right: unit(30);
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        background-color: $basic-c19;
        top: unit(10);
        margin-top: unit(35);
        left: unit(12);
        border-radius: unit(2);
        outline: none;
      }
      #pass-Wordss {
        margin-top: unit(20);
        margin-bottom: unit(15);
      }
      .placeholdervodBg {
        color: $text-c34;
        position: absolute;
        left: unit(40);
        top: unit(32);
        cursor: text;
      }
      .error_message_all {
        width: unit(354);
        text-align: left;
        padding-left: unit(29);
        .error_message {
          color: $text-c33;
          top: unit(-8);
          position: relative;
        }
      }
      .emptyPassword_message_all{
        width: unit(354);
        text-align: left;
        padding-left: unit(29);
        .emptyPassword_message {
          color: $text-c33;
          top: unit(-8);
          position: relative;
        }
      }
      .delete-Pass-Word {
        height: unit(16);
        width: unit(16);
        background: url(assets/img/16/close_16.png) no-repeat;
        position: absolute;
        left: unit(306);
        top: unit(32);
        cursor: pointer;
      }
    }
    .contentInfo {
      display: block;
      color: $text-c31;
      line-height: unit(24);
      padding-top: unit(20);
      max-width: unit(345);
      margin: auto;
    }
    .forget_me{
      width: unit(327);
      text-align: right;
      margin-right: unit(0);
      margin-top: unit(11);
      margin-bottom: unit(14);
      a{
        height: unit(24);
        line-height: unit(24);
        color: $text-c36;
      }
    }
    .buttomConfirm {
      #confirmButtom {
        margin-top: unit(22);
        width: unit(140);
        height: unit(40);
        line-height: unit(40);
        margin-left: unit(107);
        border-radius: unit(2);
        display: block;
      }
      .confirm-able {
          background: $basic-c04;
          color: $text-c31;
          cursor: pointer;
          &:hover {
              background: $basic-c05;
          }
      }
      .confirm-disable {
          background-color: $basic-c23;
          color: $text-c35;
          cursor: default;
      }
    }
  }
}
