@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.vodVideoContainer {
  overflow: hidden;
  $fullScreenIndex: 2200000000;
  width: 100%;
  height: 100%;
  display: block;
  background: $basic-C00;
  position: relative;
  &.full-screen {
    overflow: visible;
  }
  .topController {
    width: 100%;
    height: unit(60);
    position: absolute;
    background: -webkit-linear-gradient(top, $bg-M4);
    background: -moz-linear-gradient(top, $bg-M4);
    background: -ms-linear-gradient(top, $bg-M4);
    text-align: center;
  }
  .topController-full {
    z-index: 2200000001;
    position: fixed;
    top: unit(0);
    left: unit(0);
    width: 100%;
    height: unit(120);
    background: -webkit-linear-gradient(top, $bg-M4);
    background: -moz-linear-gradient(top, $bg-M4);
    background: -ms-linear-gradient(top, $bg-M4);
    .title {
      color: $text-c31;
      float: left;
      position: absolute;
      margin-top: unit(27);
      margin-left: unit(29);
      margin-right: unit(50);
      width: 90%;
      height: unit(28);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: unit(28);
      .vod-name {
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        max-width: calc(100% - 120px);
      }
      .episode-num {
        float: left;
        position: relative;
      }
    }
    .epiListIcon {
      cursor: pointer;
      color: $text-c31;
      position: relative;
      float: right;
      right: unit(30);
      top: unit(30);
      span {
        display: inline-block;
      }
    }
  }
  video {
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 1;

    &::-webkit-media-controls {
      display: none !important;
    }
  }
  #video-caption-vod {
    z-index: 2;
  }
  .load_bg {
    z-index: 2;
    width: 100%;
    height: 100%;
    background: $basic-C00;
    top: unit(0);
    left: unit(0);
    position: absolute;
    display: none;
    .play_loading {
      position: relative;
      left: unit(0);
      width: unit(50);
      height: unit(50);
      background-repeat: no-repeat;
      background-size: unit(50);
      background-image: url(assets/img/loader.gif);
      margin: auto;
      top: 45%;
    }
    @keyframes login_load_roate_div {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .fullscreen_load_bg {
    z-index: $fullScreenIndex;
  }
  .smallscreen_load_bg {
    z-index: 4;
  }
  #audio-bg {
    background-size: 100% 100%;
  }
  .miniScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: unit(0);
    @extend .defaultaudio-1920;
    z-index: 2;
  }
  .miniScreenFull {
    position: absolute;
    width: 100%;
    height: 100%;
    top: unit(0);
    left: unit(0);
    @extend .defaultaudio-1920;
    z-index: $fullScreenIndex;
  }
  .vodControlFull {
    position: relative;
    z-index: $fullScreenIndex;
  }
  .vodControl {
    position: relative;
    z-index: 11;
  }
  .age-rate {
    width: unit(100);
    height: unit(75);
    background: $basic-C23;
    opacity: 0.4;
    bottom: unit(75);
    left: unit(40);
    border-radius: unit(4);
    z-index: 11;
    position: absolute;
    .age-wrap {
      padding: unit(6) unit(9);

      .age-val {
        font-size: unit(48);
        line-height: unit(63);
        color: $text-C31;
      }
    }

    &.full-screen {
      z-index: $fullScreenIndex;

      width: 150px;
      height: 110px;
      .age-wrap {
        padding: unit(10) unit(15);

        .age-val {
          font-size: unit(72);
          line-height: unit(90);
        }
      }

    }
  }

  &.mini-screen .age-rate {
    width: unit(60);
    height: unit(45);
    bottom: unit(45);
    left: unit(20);
    .age-val {
      font-size: unit(27) !important;
      line-height: unit(33) !important;
    }
  }
  .smallscreen-setting {
    position: absolute;
    z-index: $fullScreenIndex;
    bottom: unit(26);
    right: 1%;
  }
  .fullscreen-setting {
    position: fixed;
    z-index: $fullScreenIndex;
    bottom: unit(38);
    right: unit(33);
  }
  .smallVolumeBarDiv {
    position: absolute;
    bottom: unit(142);
    right: unit(353);
    z-index: $fullScreenIndex;
  }
  .fullVolumeBarDiv {
    right: unit(396);
    bottom: unit(154);
    position: fixed;
    z-index: $fullScreenIndex;
  }
  .smallDefinitionDetail {
    right: unit(91);
    bottom: unit(43);
    position: absolute;
    z-index: $fullScreenIndex;
  }
  .fullDefinitionDetail {
    right: unit(123);
    bottom: unit(55);
    position: fixed;
    z-index: $fullScreenIndex;
  }
  app-smallscreen-vodcontrol {
    display: block;
  }
}


