<div
  id="vodVideoContainer"
  class="vodVideoContainer"
  (mousemove)="mouseMoveBar($event)"
  [class.full-screen]="isFullScreen"
>
  <div class="topController" (click)="clickScreen()" (dblclick)="changeScreen()" *ngIf="!isFullScreen"></div>
  <video
    id="vod-video"
    class="vod-video"
    autoplay="true"
    (click)="clickScreen()"
    (dblclick)="changeScreen()"
    (mousemove)="showPlayerDrop()"
    (mouseleave)="hidePlayerDrop()"
    [style.visibility]="visibility"
    contextmenu="return false;"
  ></video>
  <div id="video-caption-vod"></div>
  <div
    id="audio-bg"
    [class]="!isFullScreen ? 'miniScreen':'miniScreenFull'"
    (mousemove)="showPlayerDrop()"
    (mouseleave)="hidePlayerDrop()"
    (click)="clickScreen()"
    (dblclick)="changeScreen()"
    [ngStyle]="{'display': isAUDIO && smallVod && smallVod.playing ? 'block': 'none'}"
  ></div>
  <div
    class="load_bg"
    [ngClass]="isFullScreen ? 'fullscreen_load_bg' : 'smallscreen_load_bg'"
    [ngStyle]="{'display': smallVod && smallVod.isShowOnLoad ? 'block' : 'none'}"
  >
    <div class="play_loading"></div>
  </div>
  <app-vod-popup-dialog></app-vod-popup-dialog>

  <div
    id="topControllerfull"
    (click)="clickScreen()"
    (dblclick)="changeScreen()"
    class="topController-full"
    *ngIf="isFullScreen"
    [style.display]=" showDetails ? 'block':'none'"
  >
    <div class="title title-t15" *ngIf="showVODEpiNum" [style.opacity]="isJumpOut ? '0.2' : ''">
      <div class="vod-name">{{vodName}}</div>
      <div class="episode-num">&nbsp;|&nbsp;{{'episode' | translate:epiNumParam}}</div>
    </div>
    <div class="title title-t15" *ngIf="!showVODEpiNum" [style.opacity]="isJumpOut ? '0.2' : ''">{{vodName}}</div>
    <div class="epiListIcon body-t34">
      <span
        class="fullscreenlist-24"
        (click)="showEpisodesList()"
        *ngIf="details.VODType != '0'"
      >&nbsp;</span>
    </div>
  </div>
  <app-smallscreen-vodcontrol
    id="smallScreenVodControl"
    [class]="!isFullScreen ? 'vodControl' : 'vodControlFull'"
    [vodInfo]="vodDetailsSmall"
    *ngIf="vodDetailsSmall && !vodPopUpDialog.judgeLogInBg"
    (showPlayBar)="showBarMessage()"
    (change)="changeSeek($event)"
    (input)="inputSeek($event)"
  ></app-smallscreen-vodcontrol>
  <div
    id="ageRate"
    class="age-rate"
    [class.full-screen]="isFullScreen"
    [ngStyle]="{display: ageMark ? 'block' : 'none'}"
    *ngIf="details?.rating?.ID != -1"
  >
    <div class="age-wrap">
      <span class="age-val">
        {{details?.rating?.name}}
      </span>
    </div>
  </div>
  <app-volumebardiv
    [class]="!isFullScreen  ? 'smallVolumeBarDiv': 'fullVolumeBarDiv'"
    [volumeID]='vodVolumeSeekBarID'
    [ngStyle]="{'display': isVolumeBarDivShow ? 'block' : 'none'}"
    (mouseenter)="showVolumeBar()"
    (mouseleave)="hiddenVolumeBar()"
    (changeVolume)="volumeValue($event)"
  ></app-volumebardiv>
  <app-definition-detail
    id="definitionDetail"
    [class]=" !isFullScreen  ? 'smallDefinitionDetail': 'fullDefinitionDetail'"
    [ngStyle]="{'display': isShowDefinitionDetail ? 'block' :'none'}"
    (mouseenter)="showDefinitionDetail()"
    (mouseleave)="hideDefinitionDetail()"
  ></app-definition-detail>
  <app-settingsuspension
    [ngStyle]="{'display': isSettingMenu ? 'block' : 'none'}"
    class="settingMenu"
    (mouseenter)="showSettingMenu()"
    (mouseleave)="closeSettingMenu()"
    [class]='isFullScreen ?  "fullscreen-setting": "smallscreen-setting"'
  ></app-settingsuspension>
  <app-episodes-list
    [data]="episodesDetail"
    *ngIf="details.VODType != '0' && isFullScreen && isEpisodesShow"
    id="app-episodes-list"
  ></app-episodes-list>
</div>
