<div class="delete-confirm-wrap">
  <div class="confirmInfo" >
    <div class="confirmTitle">
      <div class="confirmInfoMessage body-t26">{{'deleteConfirmTitle' | translate}}</div>
      <div class="confirmInfoClose" (click) = "close()"></div>
    </div>
    <div class="confirmContent">
      <div class="contentConfirmInfo body-t29">{{tipsContent | translate}}</div>
      <div class="confirmAction body-t26" (click)="confirm()">{{'yes_text' | translate}}</div>
      <div class="cancelAction body-t26" (click)="close()">{{'no_text' | translate}}</div>
    </div>
  </div>
</div>
