@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.delete-confirm-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background: $basic-C08;
}
.confirmInfo {
  text-align: center;
  width: unit(460);
    height: unit(288);
    margin: auto;
    left: unit(0);
    right: unit(0);
    top: unit(0);
    bottom: unit(0);
  background: $basic-c14;
  position: absolute;
  .confirmTitle {
    border-bottom: unit(1) solid $basic-c19;
    height: unit(60);
    line-height: unit(60);
    .confirmInfoMessage {
      color: $text-c35;
    }
    .confirmInfoClose {
      background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
      width: unit(20);
      height: unit(20);
      position: relative;
      top: unit(-43);
      left: unit(405);
      cursor: pointer;
    }
  }
  .confirmContent {
    width: unit(460);
    height: unit(228);
    .contentConfirmInfo {
      width: unit(460);
      height: unit(24);
      display: block;
      color: $text-c31;
      line-height: unit(24);
      padding-top: unit(60);
    }
    .confirmAction {
      width: unit(140);
      height: unit(40);
      position: absolute;
      top: unit(213);
      left: unit(240);
      line-height: unit(40);
      color: $text-c31;
      border-radius: unit(2);
      background: $basic-c04;
      cursor: pointer;
      border: unit(1) solid $basic-c25;
      -webkit-user-select: none;
      user-select: none;
      &:hover {
        background: $basic-c05;
                border: unit(1) $basic-c05 solid;
      }
    }
    .cancelAction {
      width: unit(140);
      height: unit(40);
      position: absolute;
      top: unit(213);
      left: unit(74);
      border: unit(1) solid $basic-c25;
      line-height: unit(40);
      color: $text-c31;
      border-radius: unit(2);
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
      &:hover {
        background: $basic-c26;
                border: unit(1) $basic-c26 solid;
      }
    }
  }
}
