<div id="videoControllerChannel" class="video-controller" [style.opacity]="isJumpOut ? '0.2' : ''" (mouseleave)="hiddenVolumeBar()">
  <div [class]="(isBarValid) ?  'grey_bg': 'greychange_bg'"></div>
  <div class="onnow body-t32" [style.display]="isShowNow ? 'block':'none'" (click)='turnToLive()'>
    {{'onnow' | translate}}
  </div>
  <div
    id="playBarDivLIVETV"
    class="playBarDivLIVETV"
    [style.visibility]="ispltvCR && isShowBar && isBarValid ? 'visible':'hidden'"
  >
    <div #playBarActiveLIVETV class="playBar-activeLIVETV" (click)="pltvSeekBar($event)">
      <div #seekbarLIVETV class="seekbarLIVETV"></div>
    </div>
  </div>
  <div id="playBarDivChannel" class="playBarDivChannel" [style.display]="isTVODorPVR && isBarValid ? 'block':'none'">
    <div id="playBarBufferChannel" class="playBar-bufferChannel"></div>
    <div id="playBarActiveChannel" class="playBar-activeChannel">
      <input type="range" id="seekbarTVOD" class="seekbarTVOD" value="0" min="0" step="1"/>
    </div>
  </div>
  <div
    id="playPauseBtnChannel"
    [class]="(isBarValid) ?  'btn-play-pauseChannel': 'btn-play-gray-pauseChannel'"
    title="{{playPause | translate}}"
    (click)="playchannelControl($event)"
    [ngStyle]="playBtn()"
  ></div>
  <span
    id="videoDurationChannel"
    class="btn-duration-displayChannel title-t18"
    [style.display]="isTVODorPVR? 'block':'none'"
  >
    {{billDuration}}&nbsp;
  </span>
  <span id="videoTimeChannel" class="btn-time-displayChannel title-t18" [style.display]="isTVODorPVR? 'block':'none'">{{billTotalTime}}</span>
  <span
    id="liveTVNow"
    class="btn-duration-displayChannel title-t18"
    [style.display]="ispltvCR && isBarValid? 'block':'none'"
  >
    {{playTime}}&nbsp;
  </span>
  <span
    id="liveTVTotal"
    class="btn-time-displayChannel title-t18"
    [style.display]="ispltvCR&& isBarValid ? 'block':'none'"
  >
    {{totalTime}}
  </span>
  <span
    id="now"
    class="btn-duration-displayChannel title-t18"
    [style.display]="!(ispltvCR || isTVODorPVR) && isBarValid ? 'block':'none'"
  >
    {{time}}
  </span>
  <div
    id="playNextBtnChannel"
    class="btn-play-nextChannel"
    title="{{'playbar_next' | translate}}"
    (click)="playNextbil(true)"
    [style.display]="isTVODorPVR && isShowNextBtn ? 'block':'none'"
  ></div>
  <div
    *ngIf="isBlackout"
    id="setBtnChannel"
    [class]="(!noSetting && isBarValid) ?  'btn-setChannel': 'btn-noSetChannel'"
    (mouseenter)="showLivetvSettingBtn()"
    title="{{'play_set' | translate}}"
    (mouseleave)="closeLivetvSettingBtn()"
  ></div>
  <div
    class="btn-setPath"
    (mouseenter)="showLivetvSettingBtn()"
    (mouseleave)="closeLivetvSettingBtn()"
    [ngStyle]="{'display': setPathShow ? 'block' : 'none'}"
  ></div>
  <div
    *ngIf="isBlackout"
    id="autoBtnChannel"
    [class]="(isBarValid && !autoGray) ?  'btn-autoChannel': 'btn-autoGrayChannel'"
    title="{{'definition' | translate}}"
    (mouseenter)="showDefinitionDetail()"
    (mouseleave)="hideDefinitionDetail()"
  >
    <span class="auto body-t32" value="Auto">{{curDefinition | translate}}</span>
  </div>
  <div
    class="btn-definitionPath"
    (mouseenter)="showDefinitionDetail()"
    (mouseleave)="hideDefinitionDetail()"
    [ngStyle]="{'display': definitionPathShow ? 'block' : 'none'}"
  ></div>
  <div
    *ngIf="isBlackout"
    [class]="(isBarValid) ? 'btn-volumeChannel': 'btn-gray-volumeChannel'"
    title="{{'play_volume' | translate}}"
    (click)="volumeIconControl()"
    [style.background]="isVolume == 0 ? closeVolume : ''"
    (mouseenter)="showVolumeBar()"
  ></div>
  <div
    class="btn-volumePath"
    (mouseenter)="showVolumeBar()"
    (mouseleave)="hiddenVolumeBar()"
    [ngStyle]="{'display': volumePathShow ? 'block' : 'none'}"
  ></div>
</div>
