@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.video-controller {
    width: 100%;
    height: unit(60);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2200000000;
    .playBarDivLIVETV {
        .playBar-activeLIVETV {
            width: 100%;
            height: unit(8);
            position: absolute;
            margin-top: unit(7);
            background: $basic-c04;
            .seekbarLIVETV {
                width: unit(20);
                height: unit(20);
                border: none;
                position: absolute;
                left: unit(-20);
                margin-top: unit(-6);
                margin-left: 100%;
                background: url(assets/img/14/progressbar_14.png);
                background-size: unit(20) unit(20);
            }
        }
    }
    .grey_bg {
        background: $basic-C08;
        height: unit(46);
        position: absolute;
        width: 100%;
        z-index: -1;
        bottom: 0;
    }
    .greychange_bg {
        background: -webkit-linear-gradient(top, $bg-M7);
        background: -moz-linear-gradient(top, $bg-M7);
        background: -ms-linear-gradient(top, $bg-M7);
        height: unit(120);
        position: absolute;
        width: 100%;
        z-index: -1;
        bottom: 0;
    }
    .onnow {
        width: unit(119);
        height: unit(36);
        @extend .onnow;
        position: absolute;
        right: unit(4);
        margin-top: unit(-45);
        line-height: unit(2);
        color: $text-c31;
        text-indent: unit(14);
        padding-top: unit(12);
        cursor: pointer;
    }
    .playBarDivChannel {
        margin-top: unit(-20);
    }
    .playBarDivLIVETV,
    .playBarDivChannel {
        width: 100%;
        height: unit(20);
        cursor: pointer;
        .playBar-bufferChannel {
            width: 100%;
            height: unit(8);
            position: absolute;
            margin-top: unit(6);
        }
        .playBar-activeChannel {
            width: 100%;
            height: unit(8);
            position: absolute;
            input[type="range"] {
                -webkit-appearance: none;
                width: 100%;
                height: unit(8);
                border: none;
                background: $basic-c07;
                margin: unit(0);
                outline: none;
                position: absolute;
                margin-top: unit(6);
                /* no focus outline */
            }
            input[type=range]::-moz-focus-outer {
                border: 0;
            }
            input[type="range"]::-moz-range-track {
                border: inherit;
                background: transparent;
            }
            input[type="range"]::-ms-track {
                border: inherit;
                color: transparent;
                /* don't drawn vertical reference line */
                background: transparent;
            }
            input[type="range"]::-ms-fill-lower,
            input[type="range"]::-ms-fill-upper {
                background: transparent;
            }
            input[type="range"]::-ms-tooltip {
                display: none;
            }
            /* thumb */
            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: unit(20);
                height: unit(20);
                border: none;
                background: url(assets/img/14/progressbar_14.png);
                background-size: unit(20) unit(20);
            }
            input[type="range"]::-moz-range-thumb {
                width: unit(20);
                height: unit(20);
                border: none;
                background: url(assets/img/14/progressbar_14.png);
                background-size: unit(20) unit(20);
            }
            input[type="range"]::-ms-thumb {
                width: unit(20);
                height: unit(20);
                border: none;
                background: url(assets/img/14/progressbar_14.png);
                background-size: unit(20) unit(20);
            }
            div#videoControllerChannel input[type="range"] {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        }
    }
    .btn-play-pauseChannel {
        width: unit(32);
        height: unit(32);
        float: left;
        margin: unit(1) unit(20);
        background-image: url(assets/img/32/timeout_fullscreen_32.png);
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .btn-play-gray-pauseChannel {
        width: unit(32);
        height: unit(32);
        float: left;
        margin: unit(1) unit(20);
        background-image: url(assets/img/32/stop_32.png);
        background-repeat: no-repeat;
        cursor: default;
    }
    .btn-duration-displayChannel {
        height: unit(14);
        display: block;
        float: left;
        padding-top: unit(10);
        color: $text-c31;
        line-height: unit(14);
    }
    .btn-time-displayChannel {
        height: unit(14);
        display: block;
        float: left;
        padding-top: unit(10);
        color: $text-c35;
        line-height: unit(14);
    }
    .btn-play-nextChannel {
        width: unit(24);
        height: unit(24);
        float: left;
        margin: unit(5) unit(0) unit(5) unit(30);
        background: url(assets/img/24/switching_24.png);
        background-size: unit(24) unit(24);
        cursor: pointer;
    }
    .btn-setChannel {
        width: unit(24);
        height: unit(24);
        float: right;
        margin: unit(5) unit(30);
        background: url(assets/img/24/setting_24.png);
        background-size: unit(24) unit(24);
        cursor: pointer;
    }
    .btn-noSetChannel {
        width: unit(24);
        height: unit(24);
        float: right;
        margin: 5px 30px;
        @media screen and (max-width: 550px) {
            margin: 5px 10px;
        }
        background: url(assets/img/24/setting_unavialable_24.png);
        background-size: unit(24) unit(24);
        cursor: pointer;
    }
    .btn-setPath {
        width: unit(80);
        right: unit(30);
        height: unit(40);
        bottom: unit(29);
        position: absolute;
    }
    .btn-autoChannel {
        width: unit(85);
        height: unit(22);
        border: unit(1) solid $basic-c02;
        border-radius: unit(2);
        float: right;
        margin: unit(6) unit(0) unit(6) unit(30);
        text-align: center;
        cursor: pointer;
        line-height: unit(21);
        padding: 0 unit(10);
        .auto {
            color: $text-c31;
            line-height: unit(18);
            white-space: nowrap;
        }
    }
    .btn-autoGrayChannel {
        width: unit(85);
        height: unit(22);
        border: unit(1) solid $basic-c02;
        border-radius: unit(2);
        float: right;
        margin: 6px 0 6px 30px;
        @media screen and (max-width: 550px) {
          margin-left: 10px;
        }
        text-align: center;
        cursor: default;
        line-height: unit(21);
        padding: 0 unit(10);
        .auto {
            color: $text-c32;
            line-height: unit(18);
            white-space: nowrap;
        }
    }
    .btn-definitionPath {
        width: unit(100);
        right: unit(90);
        height: unit(40);
        bottom: unit(23);
        position: absolute;
    }
    .btn-warningChannel {
        width: unit(24);
        height: unit(24);
        float: right;
        margin: unit(5) 0 unit(5) unit(30);
        background: url(assets/img/24/list_24.png);
        background-size: unit(24) unit(24);
        cursor: pointer;
    }
    .no-warningBtnChannel {
        width: unit(24);
        height: unit(24);
        float: right;
        margin: unit(5) 0 unit(5) unit(30);
        background: url(assets/img/24/list_24.png);
        background-size: unit(24) unit(24);
        cursor: pointer;
        right: unit(176);
        position: relative;
    }
    .btn-volumeChannel {
        width: unit(24);
        height: unit(24);
        float: right;
        margin: unit(5) unit(0);
        background: url(assets/img/24/volume_24.png);
        background-size: unit(24) unit(24);
        cursor: pointer;
    }
    .btn-gray-volumeChannel {
        width: unit(24);
        height: unit(24);
        float: right;
        margin: unit(5) unit(0);
        background: url(assets/img/24/volume_unavialable_24.png);
        background-size: unit(24) unit(24);
        cursor: default;
    }
    .btn-volumePath {
        width: unit(30);
        right: unit(273);
        height: unit(40);
        bottom: unit(23);
        position: absolute;
    }
}
