<div class="app-reminder">
    <div class="title">
        <span class="font-movie-title" *ngIf='this.reminderList.length > 1'>There are {{num}} reminders.</span>
         <span class="font-movie-title" *ngIf='this.reminderList.length == 1'>Reminder</span>
        <div class="reminder-close" (click) = "ignoreAll()"></div>
    </div>
    
    <div class="content">
        <div class="left" (click)="previous()" [ngStyle]="{visibility:reminderList.length > 1?'visible':'hidden'}"></div>
        <div class="list">
            <div class="name" *ngIf='this.reminderList.length > 1'>{{curIndex+1}}:&nbsp;{{curReminder.playbillName}}</div>
            <div class="name" *ngIf='this.reminderList.length == 1'>{{curReminder.playbillName}}</div>
            <div class="season">
                <span *ngIf='curReminder.season && curReminder.season.num'>Season {{curReminder?.season?.num}}</span>
                <span *ngIf='curReminder.season && curReminder.season.num && curReminder.episode && curReminder.episode.num'>,&nbsp;</span>
                <span *ngIf='curReminder.episode && curReminder.episode.num'>Episode {{curReminder?.episode?.num}}</span>
            </div>
            <div class="startTip" *ngIf='!curReminder.isStart'>will start at {{curReminder?.reminderTip?.time}} on {{curReminder?.reminderTip?.channelname}}.</div>
            <div class="startTip" *ngIf='curReminder.isStart'>The program you reserved on channel {{curReminder?.reminderTip?.channelname}} has started.</div>
        </div>
        <div class="right" (click)="next()" [ngStyle]="{visibility:reminderList.length > 1?'visible':'hidden'}"></div>
    </div>
    <div class="btn">
    	<button class="ignoreAll" (click) = "ignoreAll()" [ngStyle]="{display:reminderList.length > 1?'initial':'none'}">Ignore All</button>
    	<button class="ignore" (click) = "ignore()">Ignore</button>
        <button class="watch_now" (click) = "watch()">Play</button>
    </div>
</div>