<app-vod-player *ngIf="enabled" [vodPlayData]="data" [episodes]="episodes"></app-vod-player>
<div *ngIf="!enabled" class="player-stub">
  <img
    class="banner"
    [src]="picture"
    (click)="play()"
    onerror="this.onerror=null;this.src='assets/img/default/livetv_home_landscape_program.png'"
  >
  <!--<div class="watch-btn" *ngIf="!mobile.isMobile" (click)="play()">
    {{ 'play' | translate }}
  </div>-->
  <div class="watch-btn" *ngIf="!mobile.isMobile" (click)="play()">
    <span class="playContent angleplay-20" *ngIf="data?.isSubscribed === '1'">{{ 'play' | translate}}</span>
    <span class="playContent buyicon-20" *ngIf="data?.isSubscribed === '0'">{{ 'buy' | translate}}</span>
  </div>
  <div class="banner-overlay" *ngIf="mobile.isMobile" (click)="mobile.gotoMarket()">
    <div class="pre-market">
      {{ 'to_watch_go_to_market' | translate }}
      <div class="goto-btn" (click)="mobile.gotoMarket()">{{ 'goto_market' | translate }}</div>
    </div>
  </div>
</div>
