@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.player-stub {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;

  .banner {
    width: 100%;
    height: 100%;
  }

  .play-btn {
    $size: 72;
    width: unit($size);
    height: unit($size);
    margin-left: - unit($size/2);
    margin-top: - unit($size/2);
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(assets/icon/play-button-72.svg);
  }

  .banner-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .pre-market,
  .watch-btn {
    position: absolute;
    right: unit(162);
    bottom: unit(156);
    display: inline-block;
    color: #f5f5f5;
    text-align: center;
    font-size: 14px;
  }

  .watch-btn,
  .goto-btn {
    display: inline-block;
    width: 232px;
    height: 46px;
    border-radius: unit(2);
    background-image: linear-gradient(to right, $basic-c31, $basic-c32);
    font-size: 20px;
    line-height: unit(46);
    text-align: center;
  }

  .watch-btn {
    min-width: 140px;
    width: auto;
    & > span {
      margin: 0 20px;
      padding-left: 30px;
      background-position: 0;
    }
  }

  .goto-btn {
    display: block;
    margin: 20px auto;
  }
}

app-vod-player {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px) {
  .player-stub {
    .watch-btn,
    .pre-market {
      bottom: 100px;
    }
  }
}

@media (max-width: 1120px) {
  .player-stub {
    .watch-btn,
    .pre-market {
      right: 50%;
      bottom: 50%;
      transform: translate(50%,50%);
    }

    .watch-btn,
    .goto-btn {
      font-size: 16px;
    }
  }
}

@media (max-width: 790px) {
  .player-stub {
    .banner-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .pre-market {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      position: static;
      transform: none;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    .goto-btn,
    .watch-btn {
      position: absolute;
      top: 100%;
      left: 50%;
      width: calc(100% - 40px);
      display: block;
      transform: translateX(-50%);
      margin: 0;
      border: 20px solid #000;
      box-sizing: content-box;
    }
  }
}
