@import "/src/assets/css/common-variables.scss";

.subscrEmp {
  position: relative;
  width: unit(460);
  height: unit(288);
  margin: auto;
  text-align: center;
  top: unit(300);
  .title {
    background: url(assets/img/56/shpping2_56.png) unit(0) unit(40) no-repeat;
    width: unit(56);
    height: unit(56);
    position: relative;
    margin: auto;
    padding-top: unit(40);
  }
  .close {
    width: unit(20);
    height: unit(20);
    background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
    cursor: pointer;
    position: relative;
    float: right;
    right: unit(30);
    top: unit(-75);
  }
  .content {
    color: $text-c31;
    width: unit(320);
    margin: 20px auto 0;
    position: relative;
    padding-top: unit(20);
  }
  .minicontent {
    color: $text-c31;
    width: unit(320);
    margin: 20px auto 0;
    position: relative;
    padding-top: unit(20);
  }
  .buy {
    display: inline-block;
    width: auto;
    height: unit(40);
    padding: 0 15px;
    background: linear-gradient(to right, $basic-c31, $basic-c32);
    margin: 40px auto 0;
    text-align: center;
    line-height: unit(40);
    border-radius: unit(2);
    cursor: pointer;
    color: $text-c31;
    &:hover {
      background: $basic-c31;
    }
  }
}
