@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.manual-record-body{
  margin-top: unit(80);
  text-align: center;
  padding-bottom: unit(80);
  .manual-item{
    margin-bottom: unit(40);
    height: unit(46);
    position: relative;
    line-height: unit(46);
    .item-name{
      display: inline-block;
      text-align: right;
      padding-right: unit(20);
      color: $text-c35;
      width: unit(140);
      position: relative;
      line-height: unit(46);
    }
    .channel-info{
      width: unit(460);
      height: unit(46);
      margin-top: unit(-46);
      display: inline-block;
      background-color: $basic-c03;
      position: relative;
      .channelNO{
        color: $text-c31;
        margin-right: unit(12);
        position: relative;
        display: inline-block;
      }
      img{
        position: absolute;
        width: unit(40);
        height: unit(40);
        top: unit(3);
      }
      .channelName{
        color: $text-c31;
        margin-left: unit(60);
        position: relative;
        display: inline-block;
      }
    }
    #nameRef{
      padding: 0 unit(40);
      width: unit(380);
    }
    .chooseIcon{
      display: inline-block;
      position: absolute;
      margin-left: unit(-39);
      margin-top: unit(11);
      z-index: 1;
      cursor: pointer;
    }
    .type-wrap{
      width: unit(460);
      height: unit(46);
      display: inline-block;
      position: relative;
      #single-item{
        margin-right: unit(18);
        @extend .recording_single-24;
        width: unit(218);
        height: unit(44);
        background-position: unit(70) unit(11);
        display: inline-block;
        cursor: pointer;
      }
      #periodic-item{
        @extend .periodic-24;
        width: unit(218);
        height: unit(44);
        background-position: unit(70) unit(11);
        float: right;
        cursor: pointer;
      }
      .selected{
        border: unit(1) $basic-c27 solid;
      }
      .unselected{
        border: unit(1) $basic-c25 solid;
      }
      .inner-word,.date-span{
        display: inline-block;
        position: relative;
        text-align: left;
        color: $text-c31;
      }
      .inner-word{
        right: unit(-24);
        width: unit(60);
      }
      .storage-top{
        position: absolute;
        right: unit(0);
      }
      .period-date{
        position: absolute;
        right: unit(15);
        top: unit(11);
        cursor: pointer;
      }
    }
    #record-time{
      top: unit(-17);
    }
    #quality-drop {
      width: unit(46);
      height: unit(46);
      background-color: $basic-c17;
      display: inline-block;
      position: absolute;
      margin-left: unit(-46);
      cursor: pointer;
    }
    .quality-list {
      position: absolute;
      margin-left: unit(395);
      background: $basic-c19;
      margin-top: unit(1);
      -webkit-user-select: none;
      cursor: pointer;
      z-index: 2;
      li {
        list-style: none;
        height: unit(46);
        line-height: unit(46);
        color: $text-c35;
        width: unit(460);
        &:hover {
          background: $basic-c03;
          color: $text-c31;
        }
      }
    }
    .repeat-value {
      display: inline-block;
      height: unit(46);
      width: unit(460);
      background-color: $basic-c03;
      color: $text-c31;
      left: unit(2);
      position: relative;
    }
  }
  .time-start{
    width: unit(220);
    height: unit(20);
    display: inline-block;
    margin-bottom: unit(10);
    margin-right: unit(20);
    margin-left: unit(158);
  }
  .time-end{
    width: unit(220);
    height: unit(20);
    display: inline-block;
    margin-bottom: unit(10);
  }
  .btn {
    width: unit(460);
    position: relative;
    left: unit(80);
    margin: unit(0) auto;
    padding-top: unit(40);
    button {
      width: unit(220);
      height: unit(46);
      text-align: center;
      border-radius: $rounded-rc1;
      outline: none;
      padding: 0;
    }
    button::-moz-focus-inner {
      border: none;
      padding: 0;
    }
  }
}
input{
  width: unit(460);
  height: unit(46);
  background-color: $basic-c03;
  border: none;
  outline: none;
  padding: 0;
  text-align: center;
  color: $text-c31;
  display: inline-block;
}
.cloud-div,.stb-div,.start-date,.end-date,.first-time,.last-time{
  display: inline-block;
}
.start-date,.end-date{
  position: relative;
  width: unit(220);
  height: unit(46);
  background-position: unit(181) unit(11);
  background-color: $basic-c03;
}
.cloud-div,.start-date,.first-time{
  margin-right: unit(18);
}
.cloud-div,.stb-div{
  position: relative;
  width: unit(218);
  height: unit(44);
  background-position: unit(70) unit(11);
  cursor: pointer;
}
.first-time,.last-time{
  text-align: left;
  width: unit(220);
  height: unit(46);
  .hour-min{
    width: unit(64);
    height: unit(46);
    line-height: unit(46);
    float: left;
  }
  .colon{
    width: unit(46);
    height: unit(46);
    text-align: center;
    line-height: unit(46);
    color: $text-c31;
    float: left;
    background-color: $basic-c03;
  }
  .changeButton{
    width: unit(0);
    height: unit(46);
    float: left;
    .topIcon{
      width: unit(46);
      height: unit(23);
      background-color: $basic-c17;
      cursor: pointer;
      &:hover{
        background-color: $basic-c03;
      }
    }
    .botIcon{
      width: unit(46);
      height: unit(23);
      background-color: $basic-c17;
      cursor: pointer;
      &:hover{
        background-color: $basic-c03;
      }
    }
  }
}
.end-date,.stb-div,.last-time{
  float: right;
}
.next-day-icon{
  position: absolute;
  right: unit(49);
  top: unit(3);
}

.noData {
  margin-top: unit(200);
  position: relative;
}

.addColor {
  background: $basic-c22;
}
.removeColor {
  background: $basic-c03;
}

.able-button {
  color: $text-c31;
  background: $basic-c04;
  cursor: pointer;
  border: unit(1) $basic-c04 solid;
  &:hover {
    background: $basic-c05;
    border: unit(1) $basic-c05 solid;
  }
}

.disable-button {
  color: $text-c35;
  background: $basic-c23;
  cursor: default;
  border: unit(1) $basic-c23 solid;
}

@media screen and (max-width:unit(1440)) {
  .manual-record-body .manual-item .quality-list {margin-left: unit(195);}
}
