<div class="manual-record-body" *ngIf="channelDetails.length != 0">
  <div class="manual-item">
    <span class="item-name body-t29">{{'recored_channel_name' | translate}}</span>
    <div class="channel-info body-t29">
      <span class="channelNO" *ngIf="channelItem.channelNO != ''">{{channelItem.channelNO}}</span>
      <img src="{{channelItem.logoUrl}}" onerror="this.onerror=null;this.src='assets/img/default/minidetail_channel_poster.png'" *ngIf="channelItem.logoUrl != ''">
      <span class="channelName" *ngIf="channelItem.channelName != ''">{{channelItemName}}</span>
    </div>
    <div class="chooseIcon channel_name-24" (click)="choiceChannel()"></div>
  </div>
  <app-record-channel-name [setChannelDates]="channelNameDate" (selectChannel)="changeChannel($event)"></app-record-channel-name>
  <div class="manual-item">
    <span class="item-name body-t29">{{'recored_recording_name' | translate}}</span>
    <input class="body-t29" id="nameRef" maxlength="{{maxLengthCache}}" [(ngModel)]="recordName" (keyup)="inputRecName($event)" (focus)="RecNameFocus($event)" (blur)="RecNameBlur($event)" (keypress)="onPressChange($event)">
    <div class="chooseIcon recording_edit-24" (click)="editRecName()"></div>
  </div>
  <div class="manual-item">
    <span class="item-name body-t29">{{'recored_type' | translate}}</span>
    <div class="type-wrap">
      <div id="single-item" [class]="isSingle ? 'selected' : 'unselected'" (click)="selectSingle()"><span class="inner-word">{{'recored_single' | translate}}</span></div>
      <div id="periodic-item" [class]="isSingle ? 'unselected' : 'selected'" (click)="selectPeriodic()"><span class="inner-word">{{'periodic' | translate}}</span></div>
    </div>
  </div>
  <div class="manual-item" *ngIf="(recordingMode == 'CPVR&NPVR' || recordingMode == 'MIXPVR') && supportAllCPVR">
    <span class="item-name body-t29">{{'record_Storage' | translate}}</span>
    <div class="type-wrap">
      <div [class]="chooseStorage[0] == true ? 'cloud-div cloud-24 selected' : 'cloud-div cloud-24 unselected'" (click)="selectCloud()">
        <span class="inner-word">{{'recored_cloud' | translate}}</span><span class="storage-top"></span>
      </div>
      <div [class]="chooseStorage[1] == true ? 'stb-div recording_STB-24 selected' : 'stb-div recording_STB-24 unselected'" (click)="selectSTB()">
        <span class="inner-word">{{'record_STB' | translate}}</span><span class="storage-top"></span>
      </div>
    </div>
  </div>
  <div class="manual-item" *ngIf="chooseStorage[1] == true">
    <span class="item-name body-t29">{{'recored_quality' | translate}}</span>
    <input class="body-t29" maxlength="30" [(ngModel)]="curQualityObj.quality" readonly="readonly" [style.color]="channelItem.qualityList && channelItem.qualityList.length && channelItem.qualityList.length != 1 ? '#f5f5f5' : '#8f8f8f'">
    <div id="quality-drop" [class]="showQualityList ? 'angleup-24' : 'angledown-24'" (click)="choiceQuality()" *ngIf="channelItem.qualityList && channelItem.qualityList.length && channelItem.qualityList.length != 1"></div>
    <div class="quality-list" [ngStyle]='{visibility:showQualityList ? "visible" : "hidden"}' (mouseleave)="mouseOutQualityList()" *ngIf="channelItem.qualityList && channelItem.qualityList.length && channelItem.qualityList.length != 1">
      <li *ngFor="let qualityObj of channelItem.qualityList" [textContent]='qualityObj.quality' (click)="selectQuality(qualityObj)" [ngStyle]='{color:(curQualityObj.quality === qualityObj.quality) ? "#f5f5f5" : "#8f8f8f"}'></li>
    </div>
  </div>
  <div class="manual-item" *ngIf="!isSingle">
    <span class="item-name body-t29">{{'record_repeat' | translate}}</span><span class="repeat-value body-t29">{{repeat}}</span>
    <div class="chooseIcon daily-24" (click)="choiceRepeatDate()"></div>
  </div>
  <app-record-repeat-data (selectRepeat)="changeRepeat($event)"></app-record-repeat-data>
  <div class="time-start body-t29" *ngIf="!isSingle">{{'record_start_date' | translate}}</div>
  <div class="time-end body-t29" *ngIf="!isSingle">{{'record_end_date' | translate}}</div>
  <div class="manual-item" *ngIf="!isSingle">
    <span class="item-name body-t29">{{recoredDate | translate}}</span>
    <div class="type-wrap">
      <div class="start-date"><span class="date-span body-t29">{{whiteStartDate}}</span><span class="period-date recording_date-24" (click)="chooseStartTime()"></span></div>
      <div class="end-date"><span class="date-span body-t29">{{whiteEndDate | translate}}</span><span class="period-date recording_date-24" (click)="chooseEndTime()"></span></div>
    </div>
  </div>
  <app-record-start-time (selectPeriodDate)="changePeriodDate($event)"></app-record-start-time>
  <div class="manual-item" *ngIf="isSingle">
    <span class="item-name body-t29">{{recoredDate | translate}}</span><input class="body-t29" maxlength="30" [(ngModel)]="singleStartDate" readonly="readonly">
    <div class="chooseIcon recording_date-24" (click)="choiceManualDate()"></div>
  </div>
  <app-record-data-name (selectSingleDate)="changeSingleDate($event)"></app-record-data-name>
  <div class="time-start body-t29">{{'Start Time' | translate}}</div>
  <div class="time-end body-t29">{{'End Time' | translate}}</div>
  <div class="manual-item">
    <span id="record-time" class="item-name body-t29">{{'recored_time' | translate}}</span>
    <div class="type-wrap">
      <div class="first-time">
        <input id="start-hour" class="hour-min body-t32" [ngClass]='chooseTimeIndex == 1 ? "addColor" : "removeColor"' (select)="chooseTimes(1)" (click)="chooseTimes(1)" (keyup)="KeyEventHandle($event)" (focus)="timeFocus($event)" (blur)="timeBlur($event)" [(ngModel)]="startHour" maxlength="2">
        <div class="colon">:</div>
        <input id="start-min" class="hour-min body-t32" [ngClass]='chooseTimeIndex == 2 ? "addColor" : "removeColor"' (select)="chooseTimes(2)" (click)="chooseTimes(2)" (keyup)="KeyEventHandle($event)" (focus)="timeFocus($event)" (blur)="timeBlur($event)" [(ngModel)]="startMin" maxlength="2">
        <div class="changeButton" (mouseenter)="enterChangeButton($event)" (mouseleave)="outChangeButton($event)">
          <div class="topIcon angleup-14" (click)="increaseStart()"></div>
          <div class="botIcon angledown-14" (click)="decreaseStart()"></div>
        </div>
      </div>
      <div class="last-time">
        <input id="end-hour" class="hour-min body-t32" [ngClass]='chooseTimeIndex == 3 ? "addColor" : "removeColor"' (select)="chooseTimes(3)" (click)="chooseTimes(3)" (keyup)="KeyEventHandle($event)" (focus)="timeFocus($event)" (blur)="timeBlur($event)" [(ngModel)]="endHour" maxlength="2">
        <div class="colon">:</div>
        <input id="end-min" class="hour-min body-t32" [ngClass]='chooseTimeIndex == 4 ? "addColor" : "removeColor"' (select)="chooseTimes(4)" (click)="chooseTimes(4)" (keyup)="KeyEventHandle($event)" (focus)="timeFocus($event)" (blur)="timeBlur($event)" [(ngModel)]="endMin" maxlength="2">
        <div class="next-day-icon nextday-16" *ngIf="showNextDayIcon"></div>
        <div class="changeButton" (mouseenter)="enterChangeButton($event)" (mouseleave)="outChangeButton($event)">
          <div class="topIcon angleup-14" (click)="increaseEnd()"></div>
          <div class="botIcon angledown-14" (click)="decreaseEnd()"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn body-t26">
    <button class="body-t26" (click)="record()" [ngClass]="getRecordClass()">{{'recored_record'| translate}}</button>
  </div>
</div>
<div class="noData" *ngIf="channelDetails.length == 0">
  <waterfall-noData [nodatatype]="'noManualChannels'"></waterfall-noData>
</div>
