@import "/src/assets/css/common-variables";
@import "/src/assets/css/unWhiteVariables";

.fullScrean {
  width: 100%;
  height: 100%;
  position: absolute;
}

.clickFullScrean {
  width: 980px;
  height: 100%;
  position: absolute;
  float: left;
}

.miniDetail {
  width: 428px;
  height: 873px;
  background-color: $basic-c17;
  overflow: hidden;
  display: block;
  position: absolute;
  left: 1006px;
  box-shadow: -8px 0px 3px #171717;
  -webkit-animation: fade-in 1s;
  @media screen and (max-width: 1440px) {
    -webkit-animation: mini-fade-in 1s;
    left: 552px;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    left: 1280px
  }
  100% {
    opacity: 1;
    left: 1006px;
  }
}

@-webkit-keyframes mini-fade-in {
  0% {
    opacity: 0;
    left: 1034px
  }
  100% {
    opacity: 1;
    left: 552px;
  }
}

.outminidetail {
  position: absolute;
  z-index: 10;
  left: 1415px;
  @media screen and (max-width: 1440px) {
    -webkit-animation: mini-fade-out 1s;
    left: 1134px;
  }
  -webkit-animation: fade-out 1s;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    left: 1006px
  }
  100% {
    opacity: 0;
    left: 1326px;
  }
}

@-webkit-keyframes mini-fade-out {
  0% {
    opacity: 1;
    left: 552px
  }
  100% {
    opacity: 0;
    left: 1134px;
  }
}

.title {
  height: 50px;
}
.titleBg {
  height: 50px;
}
.detailNo {
  margin-left: 20px;
  float: left;
  font-size: $body-t32;
  color: $text-c34;
  margin-top: 17px;
  width: 10px;
}

.detailImg {
  margin-left: 13px;
  float: left;
  width: 40px;
  height: 40px;
  img{
    margin-top: 5px;
    width: 0px;
    height: 0px;
    position: absolute;
    visibility: hidden;
  }
  .detailLogo {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    display: inline-block;
  }
}

.detailChannel {
  width: 160px;
  margin-left: 14px;
  float: left;
  font-size: $body-t32;
  color: $text-c34;
  margin-top: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.lockImg {
  @extend .lock-16;
  width: 16px;
  height: 16px;
  float: right;
  margin-right: 8px;
  margin-top: 17px;
  cursor: pointer;
}

.lockImgDone {
  @extend .lock2-16;
  width: 16px;
  height: 16px;
  float: right;
  margin-right: 8px;
  margin-top: 17px;
  cursor: pointer;
}

.lineFirst {
  width: 1px;
  height: 30px;
  background: $basic-c21;
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}
.favImg {
  @extend .fav2-16;
  width: 16px;
  height: 16px;
  float: right;
  margin-right: 29px;
  margin-top: 17px;
  cursor: pointer;
}

.favImgDone {
  @extend .fav-16;
  width: 16px;
  height: 16px;
  float: right;
  margin-right: 29px;
  margin-top: 17px;
  cursor: pointer;
}

.closeImg {
  @extend .login_popup_close_20x20;
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.lineSecond {
  height: 1px;
  background: $basic-c21;
}

.contentTitle {
  padding-left: 19px;
  width: 388px;
  font-size: $body-t24;
  color: $text-c31;
  padding-top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.contentTime {
  margin-left: 19px;
  font-size: $body-t32;
  color: $text-c35;
  margin-top: 21px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 338px;
}

.contentSeason {
  margin-left: 19px;
  font-size: $body-t32;
  color: $text-c35;
  margin-top: 8px;
  position: relative;
}

.contentAge {
  margin-left: 19px;
  font-size: $body-t32;
  color: $text-c35;
  margin-top: 8px;
  position: relative;
}

.introduce {
      margin-top: 34px;
      padding-left: 19px;
      font-size: $body-t32;
      color: $text-c35;
      line-height: 21px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      width: 388px;
      height: 63px;
    }
    .introduce-more {
      width: 14px;
      height: 14px;
      background: url(assets/img/14/angledown_14.png) no-repeat;
      display: block;
      cursor: pointer;
      position: absolute;
      margin-left: 388px;
    }
    .introduce-less {
      width: 14px;
      height: 14px;
      background: url(assets/img/14/angleup_14.png) no-repeat;
      display: block;
      margin-left: 388px;
      position: absolute;
      cursor: pointer;
    }
  #introduceShowIcon {
    font-size: $body-t32;
    color: $text-c35;
    line-height: 21px;
    width: 388px;
    height: auto;
    visibility: hidden;
    position: absolute;
}

#showicon {
    visibility: hidden;
    position: absolute;
}
.button {
    float: left;
    margin-top: 42px;
}

.btnPlay {
    float: left;
    margin-left: 25px;
    text-align: center;
    border: 1px solid $basic-c25;
    height: $bwc2-height;
    line-height: 14px;
    border-radius: $rounded-rc1;
    .playInfo {
        color: $basic-c01;
        font-size: $title-t18;
        position: relative;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 7px;
        .playImg {
            @extend .play-14;
            width: 14px;
            height: 14px;
            background-size: cover;
            float: left;
            margin-right: 10px;
        }
    }
}

.btnPlay:hover {
    background-color: $basic-c26;
    cursor: pointer;
}

.buttons {
    float: left;
    margin-top: 42px;
}

.btnRemind {
    float: left;
    margin-left: 25px;
    text-align: center;
    border: 1px solid $basic-c25;
    height: $bwc2-height;
    border-radius: $rounded-rc1;
    .RemindInfo {
        color: $basic-c01;
        font-size: $title-t18;
        position: relative;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 7px;
        line-height: 14px;
        .RemindImg {
            width: 14px;
            height: 14px;
            background-size: cover;
            float: left;
            margin-right: 10px;
        }
    }
}

.btnRemind:hover {
    background-color: $basic-c26;
    cursor: pointer;
}

.btnRecord {
    float: left;
    margin-left: 25px;
    text-align: center;
    border: 1px solid $basic-c25;
    height: $bwc2-height;
    border-radius: $rounded-rc1;
    .RecordInfo {
        color: $basic-c01;
        font-size: $title-t18;
        position: relative;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 7px;
        line-height: 14px;
        .RecordImg {
            width: 14px;
            height: 14px;
            background-size: cover;
            float: left;
            margin-right: 10px;
        }
    }
}

.btnRecord:hover {
    background-color: $basic-c26;
    cursor: pointer;
}


.lineThird {
  height: 1px;
  background: $basic-c21;
  margin-top: 100px;
}

.recommendTitle {
  margin-left: 19px;
  font-size: $body-t29;
  color: $text-c31;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
}

.recommend {
  overflow: hidden;
  width: 100%;
  .recommend-list-panel {
    width: 428px;
    position: relative;
    overflow: hidden;
    top: 0px;
    .recommend-list {
      position: relative;
      float: left;
      width: 184px;
      height: 104px;
      margin-left: 20px;
      margin-bottom: 85px;
      .recommend-poster {
        width: 184px;
        height: 104px;
        cursor: pointer;
        img {
          width: 184px;
          height: 104px;
          position: absolute;
          display: inline-block;
          background: url(assets/img/default/livetv_mini.png)no-repeat;
        }
      }
      .timeAll {
        position: absolute;
        background-color: $basic-c03;
        width: 184px;
        height: 4px;
        margin-top: -4px;
      }
      .timeNow {
        position: absolute;
        background-color: $basic-c04;
        height: 4px;
        margin-top: -4px;
      }
      .recommend-vod-name {
        width: 184px;
        position: absolute;
        display: inline-block;
        color: $text-c31;
        font-size: $body-t29;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 12px;
        cursor: pointer;
      }
      .tvod-startTime {
        bottom: 20px;
        cursor: default;
        font-size: $body-t32;
        color: $text-c34;
        display: inline-block;
        top: 40px;
        position: relative;
        width: 184px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .tvod-leftTime {
        bottom: 20px;
        cursor: default;
        font-size: $body-t32;
        color: $text-c34;
        display: inline-block;
        top: 40px;
        position: relative;
        width: 184px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

app-weaktip-dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 350px;
  left: 0px;
}
.content-wrap{
  position: relative;
  overflow:hidden;
}
.scrollContent {
  position:relative;
  top:0px;
}
.scrollList {
      position: absolute;
      top: unit(5);
      right: unit(0);
      .scroll {
        right: unit(0);
        top: unit(0);
        bottom: unit(8);
        cursor: pointer;
        position: absolute;
        background: $basic-C09;
        span {
          height: unit(0);
          width: unit(18);
          right: unit(0);
          position: absolute;
          top: unit(0);
          #content {
            left: unit(6);
            position: absolute;
            width: unit(7);
            height: 100%;
            cursor: pointer;
            background: rgba(64, 64, 64, 0.9);
            border-radius: unit(24);
          }
        }
      }
    }
