<div [ngClass]="showDetail ? 'fullScrean' : ''" >
<div [ngClass]="showDetail ? 'clickFullScrean' : ''" (click)='closeMiniDetail()'></div>
<div id="miniDetail"  [ngClass]="showDetail ? 'miniDetail' : 'outminidetail'">
    <div class="titleBg">
    <div class="title" >
        <div class="detailNo">{{channelNo}}</div>
        <div class="detailImg">
            <img src="{{hiddenLogo}}" (error)="this.onerror=null;showDefaultLogo()"/>
            <div class="detailLogo" [ngStyle] = 'showDetailLogo()'></div>
        </div>
        <div class="detailChannel">{{channel}}</div>
        <div class="closeImg" (click)="closeMiniDetail()"></div>
        <div class="lineFirst"></div>
        <div [class]="isFav ==0?'favImg':'favImgDone'" (click) ="favManger()"></div>
        <div [class]="isLock ==0?'lockImg':'lockImgDone'" (click)="lockManger()" *ngIf="profileType == 0"></div>
    </div>
    <div class="lineSecond"></div>
    </div>
    <div class="content-wrap" id="content-wrap"  [style.height] = "scrollHeight">
        <div class="scrollContent" id = "scrollContent">
            <div class="content" id = "content">
                <div class="contentTitle">{{name}}</div>
                <div class="contentTime">{{weekTime | translate}}{{leftTime}} | {{startTime}}-{{endTime}}{{genre}}</div>
                <div class="contentSeason" *ngIf = "series">{{series}}</div>
                <div class="contentAge" *ngIf = "rating">{{'Ageting'|translate}} {{rating}}</div>
                <div class="introduce"  id="introduce" [ngStyle]="showWidth()">{{introduce}}</div>
                <div class="introduceShowIcon"  id="introduceShowIcon">{{introduce}}</div>
                <span class="introduce-more" id="introduceMore" (click)="increaseMore()" *ngIf="!showMore && showHeight"></span>
                <span class="introduce-less" id="introduceLess" (click)="discreaseLess()" *ngIf="showMore && showHeight"></span>
            </div>
            <div class="button" *ngIf="!isFuture && canTvod">
                <div class="btnPlay" (click)="goToPlay()">
                    <div class="playInfo">{{btnName | translate}}
                        <div class="playImg"></div>
                    </div>
                </div>
            </div>
            <div class="buttons" *ngIf="isFuture">
                <div class="btnRecord" *ngIf="isRecord" (click)="goToRecord(btnNameRecord)">
                    <div class="RecordInfo">{{btnNameRecord | translate}}
                        <div class="RecordImg" [ngStyle]="recordsImgStyle"></div>
                    </div>
                </div>
                <div class="btnRemind" (click)="goToRemind(btnNameRemind)" *ngIf="isShowReminder">
                    <div class="RemindInfo">{{btnNameRemind | translate}}
                        <div class="RemindImg" [ngStyle]="remindImgStyle"></div>
                    </div>
                </div>
            </div>
            <div class="lineThird"></div>

            <div class="recommendTitle">{{recomendListTitle}}</div>
            <div class="recommend" id="recommend">
                <div class="recommend-list-panel" id="recommend-content">
                    <div id="miniConter" class="recommend-list" *ngFor="let data of recomendlist;let dataIndex=index">
                        <div class="recommend-poster" (click)="getRecmDetail(data)"><img src="{{data.posterUrl}}" onerror="this.onerror=null;this.src='assets/img/default/livetv_mini.png'"/></div>
                        <div class="timeAll" *ngIf="data.hasProcess"></div>
                        <div class="timeNow" *ngIf="data.hasProcess" [style.width]="data.len"></div>
                        <div class="recommend-vod-name" (click)="getRecmDetail(data)">{{data.name}}</div>
                        <span  class="tvod-startTime" *ngIf="!data.hasProcess">{{data.startTimes}}{{data.channelName}}</span>
                        <span  class="tvod-leftTime" *ngIf="data.hasProcess">{{'playbill_format_time' | translate:data.leftTimes}}{{data.channelName}}</span>
                    </div>
                </div>    
            </div> 
        </div>
    </div>

</div>
</div>

