<section id="{{name | lowercase}}">
    <h1>{{name}}<small>(<a [href]="src">src</a>)</small></h1>

    <hr>

    <div class="description" [innerHTML]="titleDoc"></div>

    <br/>

    <div class="example" *ngIf="html" #isShowTest>
        <h2>Example</h2>
        <hr>
    
        <div *ngIf="!isShowTest?.value" class="card card-block panel panel-default panel-body example-bg">
            <ng-content></ng-content>
        </div>

        <div class="display-demo-test" *ngIf="testComponent">
            <div class="head"  (click)="isShowTest.value = !isShowTest.value">
                <span class="head-name">Expand Test Page</span>
                <i class="group-icon glyphicon" [class.glyphicon-menu-down]="true"></i>
            </div>
            <div class="panel panel-default" *ngIf="testComponent && isShowTest.value">
                <div class="panel-body">
                    <ng-template ad-host></ng-template>
                </div>

                <form class="test-edit-table">
                    <table class="table">
                        <tr>
                            <th>KEY</th>
                            <th>VALUE</th>
                        </tr>
                        <tr *ngFor="let key of getKeys();let index=index;">
                            <td><span> {{key}} </span></td>
                            <td><pre #value (keyup)="onChangeValue(key, value)" contenteditable="true">{{ editComponentObj[key] | json }}</pre> </td>
                        </tr>
                    </table>
                    <button type="button" class="submit-test" (click)="refresh()">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <br/>

    <div class="markup" *ngIf="html">
        <tabset>
            <tab heading="HTML">
                <div class="card card-block panel panel-default panel-body">
                    <pre class="language-html"><code class="language-html" [innerHTML]="html"></code></pre>
                </div>
            </tab>
            <tab heading="TypeScript">
                <div class="card card-block panel panel-default panel-body">
                    <pre class="language-typescript"><code class="language-typescript" ngNonBindable [innerHTML]="ts"></code></pre>
                </div>
            </tab>
        </tabset>
    </div>

    <br/>

    <div class="api markdown-body">
        <h2>API</h2>
        <div class="card card-block panel panel-default panel-body" [innerHTML]="doc"></div>
    </div>
</section>