@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.what-on {
  width: 100%;
  height: unit(863);
  display: inline-block;
  font-size: unit(0);
.noWhaton-Playbill {
  margin-top: unit(324);
  position: relative;
}
  .line {
    height: unit(1);
    border-top: unit(1) solid $basic-c03;
    position: relative;
    z-index: 1;
  }
  .nav_cover {
    height: unit(200);
    width: 100%;
    position: absolute;
    top: unit(-80);
    z-index: 1;
    background: url(assets/img/banner_cover1_200px.png);
  }

  .content {
    font-size: unit(0);
    max-width: unit(1280);
    height: unit(851);
    margin: auto;
    position: relative;
    z-index: 2;
    .banner {
      width: unit(860);
      height: 100%;
      display: inline-block;
      margin-right: unit(20);
      float: left;
      .title {
        color: $text-c31;
        margin-top: unit(25);
        margin-bottom: unit(20);
        cursor: default;
      }
      li {
        float: left;
        list-style: none;
        width: unit(420);
        height: unit(250);
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
        img[src=""]{
            opacity: 1;
        }
        .mask {
          position: relative;
          height: unit(160);
          margin-top: unit(-160);
          background: -webkit-linear-gradient(top, $bg-M2);
          background: -moz-linear-gradient(top, $bg-M2);
          background: -ms-linear-gradient(top, $bg-M2);
        }
        .info {
          margin-top: unit(-95);
          position: relative;

        }
        .user {
          position: relative;
          top: unit(3);
          margin-left: unit(20);
        }
        .programName {
          padding-left: unit(20);
          width: unit(406);
          color: $text-c31;
          margin-bottom: unit(8);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        span {
          font-size: $body-t29;
          color: $text-c31;
          display: inline-block;
        }
        .times {
          color: $text-c36;
          margin: unit(0) unit(5);
          .times-watching{
            color: $text-c31;
          }
        }
        .channelDetail {
          margin-left: unit(20);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          position: absolute;
        }
        .tv-progress {
          width: 100%;
          height: unit(4);
          background: $basic-c03;
          margin-top: unit(-4);
          position: relative;
          .percent {
            background: $basic-c31;
            height: unit(4);
            width: 0;
          }
        }
      }
      li:first-child {
        width: unit(855);
        height: unit(480);
        margin-bottom: unit(55);
        .mask {
          height: unit(260);
          margin-top: unit(-260);
        }
        .info {
          margin-top: unit(-112);
        }
        .user {
          @extend .user-24;
        }
        .programName {
          width: unit(874);
          font-size: $body-t22;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        span {
          font-size: $body-t26;
        }
        .times {
          font-size: $body-t26;
          .times-watching{
            color: $text-c31;
          }
        }
        .channelDetail {
          width: unit(800);
          top: unit(51);
        }
      }
      li:nth-child(2) {
        .channelDetail {
          width: unit(360);
          top: unit(52);
        }
      }
      li:nth-child(3) {
        margin-left: unit(15);
        .channelDetail {
          width: unit(360);
          top: unit(52);
        }
      }
    }
    .play-bill {
      width: unit(396);
      height: unit(851);
      display: inline-block;
      .title {
        color: $text-c31;
        width: unit(165);
        text-align: right;
        background-position-x: unit(45);
        visibility: hidden;
        margin: unit(38) unit(0) unit(11) unit(0);
        line-height: unit(23);
        cursor: pointer;
        margin-left: unit(231);
        span {
          display: inline-block;
          margin-left: unit(5);
          margin-bottom: unit(-2);
        }
      }
      .bg {
        height: unit(759);
        border: none;
        //border-top: unit(5) solid $basic-c18;
        border-bottom: unit(20) solid $basic-c18;
      }
      .channleList {
        height: unit(759);
        overflow: hidden;
        background: $basic-c17;
        ul {
          padding: unit(0);
          position: relative;
          top: unit(0);
          li {
            height: unit(69);
            cursor: pointer;
            .channelLogo {
              position: relative;
              width: unit(54);
              height: unit(54);
              display: inline-block;
              margin: unit(15) unit(12) unit(15) unit(20);
              .HD {
                width: unit(32);
                height: unit(32);
                position: absolute;
                top: 0;
                right: 0;
              }
              .defaultImg{
                color: $text-c35;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: unit(42);
                height: unit(42);
                margin: unit(6);
                line-height: unit(36);
              }
            }
            img {
              width: unit(42);
              height: unit(42);
              margin: unit(6);
            }
            img[src=""]{
                opacity: 1;
            }
            .lockandfav {
              display: inline-block;
              width: unit(14);
              margin: unit(8) unit(0) unit(2) unit(0);
              .lock,
              .fav,
              .pltvcrImgChannel{
                display: block;
                margin: unit(0) unit(0) unit(6) unit(0);
              }
            }
            .lockorfav {
              display: inline-block;
              width: unit(14);
              margin: unit(18) unit(0) unit(18) unit(0);
              .lock,
              .fav,
              .pltvcrImgChannel {
                display: block;
                margin: unit(0) unit(0) unit(0) unit(0);
              }
            }
            .lockandfavandpltv{
              display: inline-block;
              width: unit(14);
              margin: unit(0) unit(0) unit(-5) unit(0);
              .lock,
              .fav,
              .pltvcrImgChannel{
                display: block;
                margin: unit(0) unit(0) unit(5) unit(0);
              }

            }
            .info {
              display: inline-block;
              position: relative;
              left: unit(10);
              top: unit(-2);
              .playbillName {
                color: $text-c31;
                width: unit(270);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
              .isRecording {
                margin-left: unit(278);
                margin-top: unit(-15);
              }
              .channelInfo {
                color: $text-c35;
                font-size: $body-t32;
                width: unit(296);
                margin: unit(9) unit(0) unit(8) unit(0);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
              .progress {
                width: unit(296);
                height: unit(2);
                background: $basic-c21;
                .percent {
                  background: $basic-c31;
                  height: unit(2);
                  width: 0;
                }
              }
            }
          }
        }
        .scrollList {
          position: absolute;
          top: unit(20);
          right: unit(0);
          .scroll {
            height: unit(744);
            width: unit(0);
            right: unit(0);
            top: unit(73);
            bottom: unit(8);
            cursor: pointer;
            position: absolute;
            background: $basic-C09;
            span {
              height: unit(0);
              width: unit(6);
              top: unit(0);
              left: unit(-16);
              bottom: unit(0);
              cursor: pointer;
              position: absolute;
              background: $basic-c03;
              border-radius: unit(24);
            }
          }
        }
      }
      .channleList-nodata {
          position: absolute;
          top: unit(345);
          right: unit(151);
      }
      .livetv-banner-load {
        position: absolute;
        top: 50%;
        right: unit(257);
        z-index: 99999;
        display: none;
        .spinner {
          position: absolute;
          left: 0;
          width: unit(80);
	        height: unit(80);
          background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
          -webkit-animation: login_load_roate_div 2s infinite;
          animation: login_load_roate_div 2s infinite;
        }
      }

      @keyframes login_load_roate_div{
          0%		{transform: rotate(0deg);}
          100%	{transform: rotate(360deg);}
      }
    }
  }
}
