<div class="what-on" id="whatOn" [ngClass]="judgeLogInBg ? 'vod_first_popup': 'vod_second_popup'">
  <div class="line"></div>
  <div class="nav_cover"></div>
  <div class="content">
    <div class="banner">
      <div class="title title-t13">{{'whats_on' | translate}}</div>
      <div class="poster" *ngIf="programList">
        <li *ngFor='let item of programList; let i = index' (click)='play(item)'>
                    <app-login-background
                        *ngIf="i === 0"
                        id="vodLogInBg"
                        (mousemove)="showVODPlayOtherCom()"
                        (mouseleave)="hideVODPlayOtherCom()"
                        style="height: 100%"
                        [ngStyle]='{ "display": judgeLogInBg ? "block": "none"}'
                    ></app-login-background>

                    <div *ngIf="!judgeLogInBg || i > 0">
                        <img src="{{item.picture}}" onerror="this.onerror=null;this.src='assets/img/default/livetv_home_landscape_program4.png'"/>
                        <div class="mask"></div>
                        <div class="tv-progress">
                            <div class="percent" [ngStyle]='{width:item.percent}'></div>
                        </div>
                        <div class="info">
                            <div class="programName body-t22">{{item.playbillName | translate}}</div>
                            <span class="times body-t26" *ngIf="item.playTime && !item.isMillion">{{item.playTime}} <span class="times-watching">{{'watching'|translate}}</span></span>
                            <span class="times body-t26" *ngIf="item.playTime && item.isMillion">{{item.playTime}}{{'livetv_million'|translate}}&nbsp;+&nbsp;<span class="times-watching">{{'watching'|translate}}</span></span>
                            <span class="channelDetail body-t26">{{item.channelName}}</span>
                        </div>
                    </div>
        </li>
      </div>
      <div class="noWhaton-Playbill" *ngIf="!programList">
        <waterfall-noData [nodatatype]="'home'"></waterfall-noData>
      </div>
    </div>
    <div class="play-bill" id="playBill">
      <div class="title body-t29" (click)="gotoGuide()">{{'all_channels' | translate}}<span class="angleright-14"></span></div>
      <div class="bg">
        <div class="channleList" id="channleList">
          <ul id="channleUl">
            <li *ngFor='let channel of allChannelList' (click)='play(channel)' [ngStyle]="{visibility:channel.channelId?'visible':'hidden'}" >
              <div class="channelLogo">
                <img src="{{channel.logo}}"  *ngIf="!channel.showChannelLogo" (error)="this.onerror=null;isChannelLogo(channel)">
                <div class="defaultImg title-t17" *ngIf="channel.showChannelLogo" >{{channel && channel.channelDetail && channel.channelDetail.name}}</div>
              </div>
              <div
                                class="lockorfav"
                                *ngIf='(!channel.isLocked && !channel.ispltvCR && !channel.isFav) || (!channel.ispltvCR && !channel.isLocked && !channel.isFav) || (!channel.isFav && !channel.ispltvCR && !channel.isLocked)'
                            ></div>
              <div class="lockorfav" *ngIf='(!channel.isLocked && !channel.ispltvCR && channel.isFav) || (channel.ispltvCR && !channel.isLocked && !channel.isFav) || (!channel.isFav && !channel.ispltvCR && channel.isLocked)'>
                <div class="lock lock-14" *ngIf='channel.isLocked'></div>
                                <div class="pltvcrImgChannel replay-14" *ngIf="channel.ispltvCR"></div>
                                <div class="fav fav2-14" *ngIf='channel.isFav'></div>
              </div>
              <div class="lockandfav" *ngIf='(!channel.isLocked && channel.ispltvCR && channel.isFav) || (!channel.ispltvCR && channel.isLocked && channel.isFav) || (!channel.isFav  && channel.ispltvCR && channel.isLocked)'>
                <div class="lock lock-14" *ngIf='channel.isLocked'></div>
                                <div class="pltvcrImgChannel replay-14" *ngIf="channel.ispltvCR"></div>
                                <div class="fav fav2-14" *ngIf='channel.isFav'></div>
              </div>
              <div class="lockandfavandpltv" *ngIf='channel.isLocked && channel.ispltvCR && channel.isFav'>
                <div class="lock lock-14"></div>
                                <div class="pltvcrImgChannel replay-14" ></div>
                                <div class="fav fav2-14"></div>
              </div>
              <div class="info">
                <div class="playbillName body-t29">{{channel.playbillName | translate}}</div>
                                <div [class]="(channel.hasRecordingPVR == '1')? 'isRecording recording2_16':'isRecording Serialrecording_16'" *ngIf='channel.isRecording'></div>
                <div class="channelInfo body-t29">{{'playbill_format_time' | translate:channel.leftTimes}}{{channel.channelName}}</div>
                <div class="progress">
                                    <div class="percent" [ngStyle]='{width:channel.percent}'></div>
                                </div>
              </div>
            </li>
          </ul>
          <div class="scrollList">
            <div class="scroll" id="scroll">
              <span></span>
            </div>
          </div>
        </div>
        <div class="channleList-nodata" *ngIf="channleListNodata">
           <waterfall-noData [nodatatype]="'home'" ></waterfall-noData>
        </div>
      </div>
      <div class="livetv-banner-load" >
        <div class="spinner"></div>
      </div>
    </div>
  </div>
</div>
