<div class="recordDateContainer" [ngStyle]='{ "display":(isShowStartTime || isShowEndTime) ? "block": "none" }'>
  <div class="recordTimeSelect" id="recordStartContent" *ngIf= "recordTimeDates">
    <div class="recordTimetitle body-t26">{{ title | translate}}
      <div class="recordTime-close" (click) = "close()"></div>
    </div>
    <div id="recordStartTimewrap" [ngStyle]='{"display":types=="start" ? "block": "none" }'>
      <div class="recordTimePanel" id="recordStartTimePanel">
        <div class="recordTimeList body-t29" id="recordStartTimeList" *ngFor="let recordTimeDate of dateObjStr, let i=index" (click)="chooseData(i)" >
          <div [class]="(i==isChooseIndex) ? 'isChoosen' : 'notChoosen'"></div>
          <span [class]="(i==isChooseIndex) ? 'choosenDateTime' : ''">{{recordTimeDate[0][0] | translate}}</span>
        </div>
      </div>
    </div>
    <div id="recordEndTimewrap" [ngStyle]='{"display":types!="start" ? "block": "none" }'>
      <div class="recordTimePanel" id="recordEndTimePanel">
        <div class="recordTimeList body-t29" id="recordEndTimeList" *ngFor="let recordTimeDate of dateObjStr, let i=index" (click)="chooseData(i)" >
          <div [class]="(i==isChooseIndex) ? 'isChoosen' : 'notChoosen'"></div>
          <span [class]="(i==isChooseIndex) ? 'choosenDateTime' : ''">{{recordTimeDate[0][0] | translate}}</span>
        </div>
      </div>
    </div>
    <div class="scrollList" id="record-startTime-scroll" *ngIf="isShowStartTime || isShowEndTime && recordTimeDates.length > minLength">
      <div [class]="types=='start' ? 'scroll-common start-scroll' : 'scroll-common end-scroll'" id="record-scroll">
        <span id="record-scroll-span">
          <div id="record-scroll-content"></div>
        </span>
      </div>
    </div>
  </div>
</div>
