<div class="app-reminder">
    <div class="title">
        <span class="font-movie-title title-t14" *ngIf='this.reminderList.length > 1'>{{ 'reminder_num_tip'| translate:num}}</span>
         <span class="font-movie-title title-t14" *ngIf='this.reminderList.length == 1'>{{'reminder'| translate}}</span>
        <div class="reminder-close" (click) = "ignoreAll()"></div>
    </div>

    <div class="content">
        <div class="left" (click)="previous()" [ngStyle]="{visibility:reminderList.length > 1?'visible':'hidden'}"></div>
        <div class="list">
            <div class="name body-t26" *ngIf='this.reminderList.length > 1'>{{curIndex+1}}:&nbsp;{{curReminder?.playbillName}}</div>
            <div class="name body-t26" *ngIf='this.reminderList.length == 1'>{{curReminder?.playbillName}}</div>
            <div class="season body-t29"><span *ngIf='curReminder?.season?.num'>{{'vod_season'|translate:curReminder?.season}}</span><span *ngIf='curReminder?.season?.num && curReminder?.episode?.num'>,&nbsp;</span><span *ngIf='curReminder?.episode?.num'>{{'episode'|translate:curReminder?.episode}}</span></div>
            <div class="startTip body-t29" *ngIf='!curReminder?.isStart'>{{'will_start_at'| translate:curReminder?.reminderTip}}</div>
            <div class="startTip body-t29" *ngIf='curReminder?.isStart'>{{'reminder_is_playing'| translate:curReminder?.reminderTip}}</div>
        </div>
        <div class="right" (click)="next()" [ngStyle]="{visibility:reminderList.length > 1?'visible':'hidden'}"></div>
    </div>
    <div class="btn">
    	<button class="ignoreAll body-t32" (click) = "ignoreAll()" [ngStyle]="{display:reminderList.length > 1?'initial':'none'}">{{'ignore_all'|translate}}</button>
    	<button class="ignore body-t32" (click) = "ignore()">{{'ignore'|translate}}</button>
        <button class="watch_now body-t32" (click) = "watch()">{{'watch_now'|translate}}</button>
    </div>
</div>
