@import "/src/assets/css/common-variables.scss";

.app-reminder{
    background: $basic-c14;
    width: unit(460);
  position: relative;
    margin: auto;
    .title{
    	width: unit(460);
      height: unit(60);
      line-height: unit(60);
      text-align: center;
      border-bottom: unit(1) solid $basic-c19;
      color:$text-c35;
    .reminder-close{
      background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
      width: 20px;
      height: 20px;
      position: relative;
      top: unit(-43);
    		left: unit(425);
      cursor: pointer;
      }
    }
  .content{
    text-align: center;
    .left,.right{
      display: inline-block;
      vertical-align: middle;
      width: unit(24);
      height: unit(24);
      -webkit-user-select: none;
      cursor: pointer;
    }
    .left{
      @extend .subscribe_left_hover-24;
      &:hover{
        @extend .subscribe_left-24;
      }
    }
    .right{
      @extend .subscribe_right_hover-24;
      &:hover{
        @extend .subscribe_right-24;
      }
    }
    .list{
      width: unit(320);
      overflow: hidden;
      margin: auto;
      text-align: center;
      margin-top: unit(35);
      margin-bottom: unit(35);
      display: inline-block;
      vertical-align: middle;
      padding: 0 unit(11);
      div{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: unit(320);
      }
      .name{
        color: $text-c31;
      }
      .season{
        color: $text-c35;
        margin: unit(6) 0 unit(16) 0;
      }
      .startTip{
        text-overflow: initial;
        white-space: initial;
        color: $text-c37;
      }
    }
    }
    .btn{
    	text-align: center;
    padding-bottom: unit(35);
    button{
      height: unit(40);
      outline: none;
      border: none;
      color: $text-c31;
      border-radius: $rounded-rc1;
      cursor: pointer;
      background: none;
    }
    .ignoreAll{
      width: unit(103);
      background:none;
      margin-right: unit(15.5);
      border:unit(1) solid $basic-c25;
      &:hover{
        background: $basic-c26;
      }
    }
    .ignore{
      width: unit(83);
      margin-right: unit(16);
      border:unit(1) solid $basic-c25;
      &:hover{
        background: $basic-c26;
      }
    }
    .watch_now{
      width: unit(122);
      background:$basic-c04;
      &:hover{
        background:$basic-c05;
      }
    }
    }
}
