<div class="voddetail-container" *ngIf="vodPlayInfo">
  <div class="playerTitle">
    <span class="playerTitle1 title-t18" *ngIf="isGetSubjectName && !isCastName" >{{curSubjectID | translate}}</span>
    <span class="playerTitle1 title-t18" *ngIf="isGetSubjectName && isCastName" >{{curSubjectID}}</span>
    <span class="playerTitle1_space title-t18" *ngIf="isGetSubjectName && isCastName">&nbsp;</span>
    <span class="playerTitle1_movies title-t18" *ngIf="isGetSubjectName && isCastName">{{'cast_movies' | translate:isCastcurSubjectID}}</span>
    <span class="titleArrow title-t18" [ngStyle]="{visibility: (curSubjectID !== '' && isGetSubjectName) ? 'visible' : 'hidden'}" > &nbsp;>&nbsp; </span>
    <span [class]="(curSubjectID == '') ?  'playerOnlyTitle2 title-t18': 'playerTitle2 title-t18'">{{curName}}</span>
  </div>
  <!--<crumbs-app [setCrumbsRoutes] = "VODcrumbsRoutes" ></crumbs-app>-->
	<div class="player-content" id="player_content" >
    <app-vod-player #vodplayer [vodPlayData]="vodPlayInfo"></app-vod-player>
    <app-vod-episode [setEpisode]="details"></app-vod-episode>
  </div>
  <app-vod-detail [setDetail] = "details" ></app-vod-detail>
  <app-cast-vod   [setCastRolesData] = "castRolesInfo" *ngIf="castRolesInfo"></app-cast-vod>
	<app-stills-vod [stillsResult] = "stillsVodInfo" *ngIf="stillsVodInfo?.length && stillHaveData"></app-stills-vod>
  <app-seasons    [seasonsData] = "seasonsInfo" *ngIf="showSeasons"></app-seasons>
	<app-like-many  [setLikeManyData] = "likeManyInfo" *ngIf="likeManyInfo && likeManyInfo[0]?.recmVODs?.length"></app-like-many>
	<app-view-also  [setViewAlsoData] = "viewAlsoInfo" *ngIf="likeManyInfo && likeManyInfo[1]?.recmVODs?.length"></app-view-also>
</div>
