@import "/src/assets/css/common-variables.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
}

.voddetail-container {
  margin: auto;
  width: unit(1280);
  .player-content {
    display: block;
    height: unit(560);
    font-size: 0;
  }
  app-vod-detail {
    padding-top: unit(45);
    display: block;
  }
}
crumbs-app {
    padding-top: unit(25);
    padding-bottom: unit(35);
    cursor: default;
    display: block;
}
.playerTitle {
  padding-top: unit(25);
  padding-bottom: unit(15);
  cursor: default;
  display: none;
  .playerTitle1 {
    color: $text-c35;
    line-height: unit(18);
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: unit(300);
    margin-top: unit(2);

  }
  .playerTitle1_space {
    color: $text-c35;
    float: left;
    margin-top: unit(2);
  }
  .playerTitle1_movies {
    color: $text-c35;
    float: left;
    margin-top: unit(2);
  }
  .titleArrow{
    color: $text-c35;
    position: relative;
  }
  .playerTitle2 {
    color: $text-c31;
    line-height: unit(18);
    max-width: unit(550);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    margin-top: unit(2);
  }
  .playerOnlyTitle2{
    color: $text-c31;
    max-width: unit(550);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    margin-top: unit(2);
    margin-left: unit(-15);
  }
}
