@import "../../../src/components/assets/css/pre-customizations.scss";
.nav>li{
  line-height: unit(35);
}

ion-page{
  position: relative !important;
  margin-left: unit(20);
}
.container-fluid {
  padding: unit(10) unit(20);
}

.panel {
  padding: unit(10) unit(20) unit(40) !important;
  margin-top: unit(-1);
}

.demo-title {
  color: #fff;
  padding-bottom: unit(10);
  font-size: 2rem;
}

.demo-sub-title {
  height: 3rem;
  text-decoration: underline;
  color: #4be8db;
  font-size: 1.4rem;
  padding-bottom: 4.0rem;
  text-transform: uppercase;
}

.demo-label {
  color: #4be8db;
  height: 2rem;
  font-size: $text-t23;
  padding-bottom: unit(5);
  box-sizing: content-box;
  margin-top: unit(10);
  &>span {
    padding-left: 1rem;
    font-size: $text-t23;
    color: #a4a4a4;
    &.white {
      color: $text-c21;
    }
  }
}

.demo-label-info {
  font-size: $text-t24;
  color: #a4a4a4;
  margin-top: -0.5rem;
  &.white {
    color: $text-c21;
  }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background: none;
}

.color-tips {
  display: inline-block;
  width: 9rem;
  text-align: right;
  font-size: $text-t24;
  color: inherit;
}

::-webkit-scrollbar {
  width: unit(7);
  height: unit(8);
}

::-webkit-scrollbar-button:vertical {
  display: none
}

::-webkit-scrollbar-track:vertical {
  background-color: none
}

::-webkit-scrollbar-track-piece {
  background: #FFF
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #c8c8c8;
  border-radius: unit(4);
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #c3cad0
}

::-webkit-scrollbar-corner:vertical {
  background-color: #535353
}

::-webkit-scrollbar-button:horizontal {
  display: none
}

::-webkit-scrollbar-track:horizontal {
  background-color: none
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #c8c8c8;
  border-radius: unit(4);
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #c3cad0
}

::-webkit-scrollbar-corner:horizontal {
  background-color: #535353
}

.api .card li {
  line-height: unit(26);
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #f5f5f5;
}
