<div class="season-list">
    <div class="title">{{ titleKey | translate | uppercase }}</div>
    <div *ngFor="let item of items"
         class="season-item"
         [ngClass]="{'active': +itemPosition(item) == +currentPosition, 'watched':+itemPosition(item) < +currentPosition}"
         (click)="vodNavigation(item.VOD)">
        <span>{{ item.sitcomNO }}</span>
    </div>
</div>

<div class="divider"></div>
