<div class="searchAll">
  <div class="searchValue body-t29">
    <span>{{'Results' | translate}}{{searchValue}}:</span>
  </div>
  <div class="waterfall-box" *ngIf="searchData">
  <suspension
    id="suspensionSearchInfo"
    [ngStyle]="{visibility: (isShow === 'true') ? 'visible' : 'hidden'}"
    [newRoutes]="true"
    (select)="onSuspensionClick($event)"
  ></suspension>
  <suspensionprogram id="suspensionSearchProgram" [ngStyle]="{visibility: (hotShow == 'true') ? 'visible' : 'hidden'}"></suspensionprogram>
  <suspensionchannel id="suspensionSearchChannel" [ngStyle]="{visibility: (channelShow == 'true') ? 'visible' : 'hidden'}"></suspensionchannel>

    <div *ngFor="let data of dataList" class="waterfallVod-frame">
      <div class="poster" *ngIf="data.contentType == 'VIDEO_VOD' || data.contentType == 'AUDIO_VOD'">
        <div class="vodData" (mouseenter)="mouseenter(data, $event)" (mouseleave)="closeDialog()" (click)="vodDtail(data)">
          <div class="imgs">
            <img class="vod-posterUrl" src="{{data.posterUrl}}" onerror="this.onerror=null;this.src='assets/img/default/home_poster.png'"/>
          </div>
          <span class="vod-score body-t27">{{data.score}}</span>
        </div>
        <span class="vod-name body-t29" (click)="vodDtail(data)">{{data.name}}</span>
      </div>
      <div class="poster body-t29" *ngIf="data.contentType == 'VIDEO_CHANNEL' || data.contentType == 'AUDIO_CHANNEL'" >
        <div class="channelData" (click)="channelDtail(data)" (mouseenter)="mouseenterChannel(data, $event)" (mouseleave)="closeDialogChannel()">
          <div class="channel-posterUrl">
            <img class="channel-picture" src="{{data.posterUrl}}" onerror="this.onerror=null;this.src='assets/img/default/search_channel_poster.png'"/>
          </div>
          <span class="channelName">{{data.channelName}}</span>
          <span class="channelTimeLength">{{'search_min_left' | translate: data.param}}</span>
          <span class="channelTimeScope">{{data.timeScope}}</span>
        </div>
        <span class="channel-name" (click)="channelDtail(data)">{{data.name}}</span>
      </div>
      <div class="poster body-t29" *ngIf="data.contentType == 'PROGRAM'">
        <div class="programData" (mouseenter)="mouseenterProgram(data, $event)" (click)="programDtail(data)" (mouseleave)="closeDialogProgram()">
          <img class="program-posterUrl" src="{{data.posterUrl}}" onerror="this.onerror=null;this.src='assets/img/default/search_result.png'" />
          <div [ngClass]="programType(data.timeState)"></div>
          <span class="programTimeLength" *ngIf="data.timeState=='now'">{{'search_min_left' | translate: data.timeLength}}</span>
          <span class="programTimeLength" *ngIf="data.timeState=='future' || data.timeState=='before'">{{data.weekTime | translate}}</span>
          <span class="programTimeScope">{{data.timeScope}}</span>
        </div>
        <span class="program-name" (click)="programDtail(data)">{{data.name}}</span>
      </div>
    </div>
  </div>
  <div class="searchNoData" *ngIf="searchNoData">
    <div class="noDataposter body-t29"></div>
    <div class="noDataWordone body-t29">{{'searchNoDataone' | translate}}</div>
    <div class="noDataWordtwo body-t29">{{'searchNoDatatwo' | translate}}</div>
       </div>
  <div class="searchAll-filter-load" >
    <div class="spinner"></div>
  </div>
</div>
<div class="fix-bg"></div>

