@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.searchAll {
  display: block;
  position: relative;
}

suspension {
  position: absolute;
  z-index: 12;
  background: $basic-c17;
  width: unit(165);
  height: unit(240);
}

suspensionprogram {
  position: absolute;
  z-index: 12;
  background: $basic-c17;
  width: 0;
}

suspensionchannel {
  position: absolute;
  z-index: 12;
  background: $basic-c17;
  width: 0;
}

recordSuspension {
  position: absolute;
  z-index: 12;
  background: $basic-c17;
  width: 0;
}

.searchValue {
  width: unit(1280);
  position: relative;
  margin: auto;
  padding-top: unit(25);
  color: $text-c31;
  word-wrap: break-word;
  @media screen and (max-width: unit(1440)) {
    max-width: unit(980);
  }
  span {
    word-break: break-all;
  }
}

.searchTypes {
  max-width: unit(1280);
  height: unit(50);
  position: relative;
  margin: auto;
  text-align: center;
  border-bottom: unit(1) solid $basic-c03;
  @media screen and (max-width: unit(1440)) {
    max-width: unit(980);
  }
  .searchType {
    width: unit(120);
    height: unit(50);
    position: relative;
    display: inline-block;
    text-align: center;
    color: $text-c35;
    line-height: unit(50);
    cursor: pointer;

    &.active {
      color: #f5f5f5;
      border-bottom: 2px solid $basic-c31;
    }
  }
}

.searchNoData {
  max-width: unit(1280);
  margin: auto;
  @media screen and (max-width: unit(1440)) {
    max-width: unit(980);
  }
}

.illegalWords {
  color: $basic-c01;
  text-align: center;
  margin-top: unit(20);
  position: relative;
  top: unit(90);
  line-height: unit(24);
}

.searchAll-filter-load {
  position: fixed;
  top: 50%;
  left: 48%;
  z-index: 99999;
  display: none;
  @media screen and (max-width: unit(1440)) {
    left: 47%;
  }
  .spinner {
    position: relative;
    left: 0;
    width: unit(80);
    height: unit(80);
    background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
    -webkit-animation: login_load_roate_div 2s infinite;
    animation: login_load_roate_div 2s infinite;
  }
}

@keyframes login_load_roate_div {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.noDataposter {
  width: unit(72);
  height: unit(72);
  text-align: center;
  margin: 0 auto;
  margin-top: unit(90);
  position: relative;
  @extend .noresult-72;
}

.noDataWordone {
  color: $text-c31;
  text-align: center;
  margin-top: unit(20);
  position: relative;
  line-height: unit(24);
}

.noDataWordtwo {
  position: relative;
  color: $text-c31;
  text-align: center;
  line-height: unit(24);
}

.everyoneSerach {
  position: relative;
  width: unit(1280);
  height: unit(407);
  margin: auto;
  margin-top: unit(195);
  @media screen and (max-width: unit(1440)) {
    width: unit(980);
    height: unit(361);
    margin-top: unit(195);
  }
}

.everyoneserach-title {
  width: unit(300);
  height: unit(24);
  line-height: unit(24);
  position: relative;
  margin-bottom: unit(20);
  color: $text-c31;
}

.everyonesearch-list-panel {
  width: unit(1280);
  height: unit(363);
  position: relative;
  @media screen and (max-width: unit(1440)) {
    max-width: unit(980);
    height: unit(317);
  }
}

.waterfall-box {
  width: unit(1280);
  position: relative;
  margin: auto;
  padding-top: unit(30);
  @media screen and (max-width: unit(1440)) {
    max-width: unit(980);
  }
  .waterfallVod-frame {
    position: relative;
    float: left;
    width: unit(214);
    height: unit(284);
    margin-right: unit(19);
    margin-bottom: unit(80);
    @media screen and (max-width: unit(1440)) {
      width: unit(180);
      height: unit(240);
    }
    .poster {
      width: unit(214);
      height: unit(284);
      @media screen and (max-width: unit(1440)) {
        width: unit(180);
        height: unit(240);
      }
    }
    .vodData,
    .channelData,
    .programData {
      width: unit(214);
      height: unit(284);
      cursor: pointer;
      @media screen and (max-width: unit(1440)) {
        width: unit(180);
        height: unit(240);
      }
    }
    .programData {
      overflow: hidden;
    }
    .vodData {
      .imgs {
        width: unit(214);
        height: unit(284);
        overflow: hidden;
        @media screen and (max-width: unit(1440)) {
          width: unit(180);
          height: unit(240);
        }
        .vod-posterUrl {
          width: unit(214);
          display: block;
          @media screen and (max-width: unit(1440)) {
            width: unit(180);
          }
        }
      }

      .vod-score {
        color: $text-c31;
        display: inline-block;
        position: absolute;
        line-height: unit(24);
        margin-left: unit(172);
        margin-top: unit(-24);
        background-color: $basic-C08;
        width: unit(42);
        height: unit(24);
        text-align: center;
        cursor: default;
        @media screen and (max-width: unit(1440)) {
          margin-left: unit(138);
        }
      }
    }
    .channelData {
      .channel-posterUrl {
        width: unit(214);
        height: unit(160);
        background-color: $basic-c21;
        @media screen and (max-width: unit(1440)) {
          width: unit(180);
          height: unit(134);
        }
        .channel-picture {
          width: unit(100);
          height: unit(100);
          display: block;
          padding-top: unit(30);
          padding-left: unit(57);
          @media screen and (max-width: unit(1440)) {
            padding-top: unit(10);
            padding-left: unit(40)
          }
        }
      }
    }
    .programData {

      .myRecordings-programTimeLength {
        width: unit(214);
        height: unit(20);
        display: inline-block;
        padding-left: unit(20);
        padding-right: unit(20);
        color: $text-c35;
        line-height: unit(30);
        cursor: default;
        @media screen and (max-width: unit(1440)) {
          width: unit(180);
        }
      }
      .myRecordings-nameTimeScope {
        padding-left: unit(20);
        padding-right: unit(20);
        .myRecordings-channelName {
          margin-top: unit(0);
          display: inline-block;
          color: $text-c35;
          line-height: unit(30);
          cursor: default;
          .myRecordings-channelNameWord {
            position: relative;
            overflow: hidden;
            max-width: unit(75);
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            @media screen and (max-width: unit(1440)) {
              max-width: unit(41);
            }
          }
          .myRecordings-channelNameLine {
            position: relative;
            display: inline-block;
            position: relative;
            overflow: hidden;
          }
        }
        .myRecordings-programTimeScope {
          display: inline-block;
          color: $text-c35;
          line-height: unit(30);
          cursor: default;
          position: relative;
          overflow: hidden;
        }
      }
      .program-posterUrl {
        height: unit(160);
        @media screen and (max-width: unit(1440)) {
          height: unit(135);
        }
      }
      .myRecordings-poster {
        width: unit(214);
        height: unit(160);
        @media screen and (max-width: unit(1440)) {
          width: unit(180);
          height: unit(120);
        }
      }
      .before {
        width: unit(28);
        height: unit(24);
        position: absolute;
        top: unit(10);
        left: unit(180);
        @extend .replay-24;
        @media screen and (max-width: unit(1440)) {
          left: unit(148);
        }
      }
      .future {
        background: url();
      }
      .now {
        width: unit(70);
        height: unit(24);
        position: absolute;
        top: unit(10);
        left: unit(134);
        @extend .now-10;
        @media screen and (max-width: unit(1440)) {
          left: unit(102);
        }
      }
      .searchBrand {
        padding-left: unit(20);
        margin-top: unit(14);
        .recording {
          width: unit(20);
          height: unit(20);
          @extend .record-20;
          display: inline-block;
          margin-right: unit(8);
        }
        .record {
          background: url();
        }
      }
      .myRecordings-log {
        width: unit(40);
        height: unit(40);
        position: absolute;
        margin-left: unit(5);
        top: unit(7);
        @media screen and (max-width: unit(1440)) {
          top: unit(7);
        }
        img {
          width: unit(40);
          height: unit(40);
          display: block;
        }
      }
      .searchBrand {
        .cloudType {
          width: unit(20);
          height: unit(20);
          @extend .cloud-20;
          display: inline-block;
        }
      }
      .seriesImg {
        width: unit(214);
        height: unit(160);
        background: url(assets/img/searchbg_series.png) center center no-repeat;
        @media screen and (max-width: unit(1440)) {
          width: unit(180);
          height: unit(120);
          background-position: unit(16) unit(0);
          background-size: unit(164);
        }

        img {
          width: unit(205);
          height: unit(151);
          display: block;
          position: relative;
          top: unit(9);
          margin-right: unit(0);
          @media screen and (max-width: unit(1440)) {
            width: unit(172);
            height: unit(112);
            top: unit(8);
          }
        }
      }
    }
    .channelName,
    .channelTimeLength,
    .channelTimeScope {
      width: unit(214);
      height: unit(20);
      display: inline-block;
      padding-left: unit(20);
      padding-right: unit(20);
      color: $text-c35;
      line-height: unit(20);
      cursor: default;
      @media screen and (max-width: unit(1440)) {
        width: unit(180);
      }
    }
    .channelName {
      margin-top: unit(20);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: unit(190);
    }
    .programTimeLength,
    .programTimeScope {
      width: unit(214);
      height: unit(20);
      display: inline-block;
      padding-left: unit(20);
      padding-right: unit(20);
      color: $text-c35;
      line-height: unit(30);
      cursor: default;
      @media screen and (max-width: unit(1440)) {
        width: unit(180);
      }
    }
    .programTimeLength {
      margin-top: unit(20);
    }
    .channelData,
    .programData {
      background-color: $basic-c10;
      border: unit(1) $basic-c25 solid;
    }
    .vod-name,
    .channel-name,
    .program-name {
      width: unit(214);
      height: unit(38);
      position: absolute;
      display: block;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      color: $basic-c01;
      overflow: hidden;
      margin-top: unit(15);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      cursor: pointer;
      @media screen and (max-width: unit(1440)) {
        width: unit(179);
      }
    }
  }
  .waterfallVod-frame:nth-child(6n+5),
  .waterfallVod-frame:nth-child(6n+6),
  .waterfallVod-frame:nth-child(6n+7),
  .waterfallVod-frame:nth-child(6n+8) {
    margin-right: unit(19);
  }
  .waterfallVod-frame:nth-child(6n+9) {
    margin-right: unit(20);
  }
  @media screen and (max-width: unit(1440)) {
    .waterfallVod-frame:nth-child(5n+5),
    .waterfallVod-frame:nth-child(5n+6),
    .waterfallVod-frame:nth-child(5n+7),
    .waterfallVod-frame:nth-child(5n+8) {
      margin-right: unit(20);
    }
  }
}

.fix-bg {
  @extend .bg_default1920x1080;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: unit(0);
}

#program-posterUrl {
  height: unit(160);
  width: unit(214);
  @media screen and (max-width: unit(1440)) {
    height: unit(135);
    position: relative;
    left: unit(-13);
  }
}
