<div *ngIf="isLoaded; else loading" class="content-container">
  <!-- Add Season info here -->
  <div class="poster">
    <img class="poster-image" src="{{picture}}"/>
    <button class="watch-button" (click)="vodNavigation(firstSeasonSerieId.ID)">
      {{ 'watch_season_button' | translate }}{{VODDetail.series[0].sitcomNO}}
    </button>
  </div>

  <div class="playerTitle">
    <span class="contentTitle">
        {{ VODDetail.name }}
      </span>

  </div>
  <content-meta [data]="VODDetail" [series]="series"></content-meta>
  <content-title [data]="VODDetail" [parent]="true"></content-title>
  <content-score-info [data]="VODDetail"></content-score-info>
  <content-genres [seasonGenres]="seasonGenres" ></content-genres>
  <content-introduce [introduce]="VODDetail.introduce"></content-introduce>
  <content-cast [castRoles]="VODDetail.castRoles"></content-cast>
  <content-item-list titleKey="seasons" [items]="seasonsList" [currentPosition]="seasonNumber"></content-item-list>
  <content-item-list titleKey="episodes" [items]="seasonEpisodes"></content-item-list>
</div>
<ng-template #loading>
  <div class="load-container">
    <div class="spinner"></div>
  </div>
</ng-template>
