@import "/src/assets/css/common-variables.scss";

.miniScreen {
  position: relative;
  width: unit(460);
  height: unit(260);
  margin: auto;
  text-align: center;
  top: calc((100% - 260px) / 2);
  .title {
    width: unit(56);
    height: unit(56);
    position: relative;
    margin: auto;
    padding-top: unit(40);
  }
  .auth {
    background: url(assets/img/56/ondemand_play-locked56x56.png) unit(0) unit(40) no-repeat;
  }
  .subscriber {
    background: url(assets/img/56/shpping2_56.png) unit(0) unit(40) no-repeat;
  }
  .content {
    margin-top: unit(20);
    color: $text-c31;
    width: unit(320);
    margin: auto;
    position: relative;
    padding-top: unit(20);
    line-height: unit(24);
  }
  .minicontent {
    margin-top: unit(20);
    color: $text-c35;
    width: unit(320);
    margin: auto;
    position: relative;
    padding-top: unit(20);
  }
  .unlock {
    //width: unit(140);
    height: unit(40);
    background: $basic-c04;
    margin: auto;
    text-align: center;
    line-height: unit(40);
    border-radius: unit(2);
    margin-top: unit(40);
    cursor: pointer;
    color: $text-c31;
    &:hover {
      background: $basic-c05;
    }
  }
}
