<div class="miniScreen">
  <div class="title" [class.auth]="judgeAuthOrSub"></div>
  <div class="content body-t29" >
    <div class="message">{{ btnMessage | translate}}</div>
  </div>
  <div class="unlock  body-t26" (click)="unLock()">{{ btn | translate}}</div>
</div>
