<div class="social-block">
  <div class="title-header">
    <span class="title" (click)="vodNavigation()">
      {{ data.name }}
    </span>
    <div class="widgets-icons">
      <app-share-social [dataAboutPageFromParent]="data" ></app-share-social>
      <div class="score-done shared" class = "score-false1 shared" (mouseenter)="mouseenterScore()" (mouseleave)="mouseleaveScore()" >
        <i class="icon-star"></i>
      </div>
      <app-score [class]="scoreShow == 'true' ?'score-show':'score-hide'" [ngStyle]="{display: isScoreShow ? 'block' : 'none'}"
                 [vodinfo]="info" *ngIf="info.contentIDs" (click)="scoreClick()">
      </app-score>
      <div class="widget shared"
            id='favoriteIcon'
           (click)="favoriteManger()">
        <i *ngIf="isFav !== '1'" class="icon-addfavorite"></i>
        <i *ngIf="isFav === '1'" class="icon-uni26"></i>
      </div>
    </div>
  </div>
</div>
