<div class="share-vod" (mouseenter)="mouseEnterShare()" (mouseleave)="mouseLeaveShare()" >
  <div class="upImg"></div>
  <div class="shareContent">
    <span class="shareTitle body-t32" *ngFor="let shareTitle of text_share; let dataIndex=index">
      <div [ngClass]="shareTitle + 'Img'" (click)="share(shareTitle)">
        <span [ngClass]="shareTitle + 'Info'">{{ shareTitle | translate}}</span>
      </div>
    </span>
  </div>
</div>
