@import "/src/assets/css/common-variables.scss";

.share-vod {
  position: absolute;
  height:unit(170);
  top: unit(-14);
  padding-top:unit(12);
  right:unit(-1378);
}

.upImg {
  @extend .popup-19;
  width: unit(19);
  height: unit(12);
  float: right;
  margin-top: unit(-12);
  margin-right: unit(10);
  position: relative;
}

.shareContent {
  text-align: center;
  background: $basic-c17;
  height: unit(300);
  border-radius: unit(3);
  box-shadow: unit(0) unit(19) unit(40) $basic-c06;
  top: 0;
  position: relative;
  .shareTitle {
    float: right;
    margin:unit(40) unit(40) unit(30) 0;
    div {
      width: unit(60);
      height: unit(60);
      float: left;
      cursor: pointer;
      background-size: 100%;
      span {
        color: $text-c31;
        margin-top: unit(50);
        bottom: unit(-72);
        position: relative;
      }
    }
  }
}

.twitterImg {
  @extend .twiiter-60;
}

.facebookImg {
  @extend .facebook-60;
}

.weiboImg {
  @extend .share_sina-126;
}

.wechatImg {
  @extend .share_wechat-126;
}
