@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.title-route > .title-center {
  width: unit(1280) !important;

}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Rubik-Light, sans-serif;
}

.content-container {
  margin: auto;
  margin-top: unit(35);
  width: unit(1280);
  .player-content {
    display: flex;
    height: unit(720);
    font-size: 0;
    justify-content: center;
  }
  app-vod-detail {
    padding-top: unit(45);
    display: block;
  }
}

.name {
  color: $text-c31;
  max-width: unit(550);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: unit(2);
}

.title-header {
  margin-top: unit(30);
  .title {
    width: unit(102);
    height: unit(43);
    font-family: Rubik-Light, sans-serif;
    font-size: unit(32);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f5f5f5;
  }
}

.playerTitle {
  padding-top: unit(25);
  padding-bottom: unit(15);
  cursor: default;
  display: none;
}

.star {
  display: inline-block;
  //margin-right: unit(6);
  .rating_star_empty {
    width: unit(18);
    height: unit(18);
    object-fit: contain;
    background: url(assets/img/18/program_grade2.1.png) no-repeat;
    //background-position: bottom;
  }
  .rating_star_half {
    width: unit(18);
    height: unit(18);
    object-fit: contain;;
    background: url(assets/img/18/grade3_18.png) no-repeat;
    //background-position: bottom;
  }
  .rating_star_full {
    width: unit(18);
    height: unit(18);
    object-fit: contain;
    background: url(assets/img/18/grade2_18.png) no-repeat;
    //background-position: bottom;
  }
}

.info {
  margin-right: unit(10);
  span {
    width: unit(158);
    height: unit(21);
    font-family: Rubik-Light, sans-serif;
    font-size: unit(16);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(245, 245, 245, 0.5);
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  .devider {
    margin: auto;
  }
}

.score {
  display: inline-flex;
}

.casts {
  color: rgba(245, 245, 245, 0.5);
  font-family: Rubik-Light, sans-serif;
  font-size: unit(16);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: unit(30);
  .castRow {
    padding-top: unit(4);
    display: flex;
    flex-wrap: inherit;
    margin-bottom: unit(20);
    .castType {
      padding-right: unit(12);
      font-family: inherit;

    }
    .castLink {
      font-weight: bold;
      display: inline-flex;
      font-family: inherit;
      cursor: pointer;
      &:hover {
        color: rgb(241, 241, 255);
      }
    }
  }

  &.full {
    font-size: unit(14);
  }
}

.introduce {
  position: relative;
  color: rgba(245, 245, 245, 0.5);
  overflow: hidden;
  transition: height 0.2s ease;
  .introduce-text {
    width: unit(1280);
    font-family: Rubik-Light, sans-serif;
    font-size: unit(16);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(245, 245, 245, 0.5);
    word-wrap: break-word;
    overflow: hidden;
    padding-right: unit(20);
    box-sizing: border-box;
    &.full {
      width: auto;
      white-space: normal;
      font-size: unit(14);
      line-height: unit(19);
    }
  }
  .introduce-more {
    position: absolute;
    bottom: 0;
    width: unit(40);
    height: unit(40);
    background: url(assets/img/14/angledown_14.png) no-repeat center center;
    display: block;
    right: 0;
    cursor: pointer;
  }
  .introduce-less {
    position: absolute;
    bottom: 0;
    width: unit(40);
    height: unit(40);
    background: url(assets/img/14/angleup_14.png) no-repeat center center;
    display: block;
    right: 0;
    cursor: pointer;
  }
}

.season-list {
  .title {
    padding-bottom: unit(20);
    font-family: Rubik-Light, sans-serif;
    font-size: unit(24);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f5f5f5;
  }
  .season-item {
    width: unit(50);
    height: unit(50);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: unit(1) solid grey;
    margin: 0 unit(10) unit(10) 0;
    cursor: pointer;
    span {
      color: #8f8f8f;
    }
    &:hover {
      border-color: rgb(241, 241, 255);
      span {
        color: rgb(241, 241, 255);
      }
    }
  }
  .active {
    background-color: #dead30;
    span {
      color: #f5f5f5;
    }
  }
  .watched {
    span {
      color: $basic-c31;
    }
  }
}

.share-done {
  background: url(assets/img/20/ondemand_rio2-iocn_3.png) no-repeat;
  width: unit(20);
  height: unit(20);
  object-fit: contain;
  margin-top: unit(10);
}

.score-done {
  @extend .rate-20;
  width: unit(20);
  height: unit(20);
  object-fit: contain;
  margin-top: unit(10);
}

.score-false {
  @extend .ratedefault-20;
  width: unit(20);
  height: unit(20);
  object-fit: contain;
  margin-top: unit(10);
}

.favorite-done {
  background: url(assets/img/20/ondemand_rio2-iocn_2.png);
  width: unit(20);
  height: unit(20);
  object-fit: contain;
  margin-top: unit(10);
}

.favorite-false {
  background: url(assets/img/20/ondemand_rio2-iocn4_20x20.png);
  width: unit(20);
  height: unit(20);
  object-fit: contain;
  margin-top: unit(10);
}

.share-vod {
  position: absolute;
  width: unit(20);
  height: unit(20);
  object-fit: contain;
  margin-top: unit(10);
}

.upImg {
  @extend .popup-19;
  width: unit(19);
  height: unit(12);
  float: right;
  margin-top: unit(-12);
  margin-right: unit(10);
  position: relative;
}

.shareContent {
  text-align: center;
  background: $basic-c17;
  height: unit(300);
  border-radius: unit(3);
  box-shadow: unit(0) unit(19) unit(40) $basic-c06;
  top: 0;
  position: relative;
  .shareTitle {
    float: right;
    margin: unit(40) unit(40) unit(30) 0;
    div {
      width: unit(60);
      height: unit(60);
      float: left;
      cursor: pointer;
      background-size: 100%;
      span {
        color: $text-c31;
        margin-top: unit(50);
        bottom: unit(-72);
        position: relative;
      }
    }
  }
}

.twitterImg {
  @extend .twiiter-60;
}

.facebookImg {
  @extend .facebook-60;
}

.weiboImg {
  @extend .share_sina-126;
}

.wechatImg {
  @extend .share_wechat-126;
}

.share-show {
  position: absolute;
  display: block;
  margin-left: unit(0);
  margin-top: unit(48);
  z-index: 11;
}

.share-hide {
  position: absolute;
  display: none;
  margin-left: unit(0);
  margin-top: unit(48);
  z-index: 11;
}

.score-show {
  display: block;
  position: absolute;
  margin-left: unit(-100);
  margin-top: unit(34);
  z-index: 11;
}

.score-hide {
  display: none;
  position: absolute;
  margin-left: unit(1167);
  margin-top: unit(34);
}

.score-info {
  padding-top: unit(17);
  padding-bottom: unit(20);
  display: inline-flex;
}

.averageScore {
  padding-left: unit(8);
  width: unit(26);
  height: unit(24);
  font-family: Rubik-Light, sans-serif;
  font-size: unit(18);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(245, 245, 245, 0.5);
  margin-right: unit(60);
}

.levelImg {
  width: unit(40);
  height: unit(20);
  border-radius: unit(100);
  background-color: rgba(31, 31, 31, 0.7);
}

.levelImgInfo {
  margin: 0 auto;
  width: unit(18);
  height: unit(19);
  font-family: Rubik-Light, sans-serif;
  font-size: unit(14);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(245, 245, 245, 0.5);
  padding-top: unit(2);

}

.divider {
  margin-top: unit(25);
  margin-bottom: unit(25);
  width: unit(1280);
  height: unit(1);
  background-color: rgba(245, 245, 245, 0.1);

  &.topup {
    margin-top: unit(-30);
  }
}

.genres-list {
  margin-bottom: unit(20);
  .genre {
    width: unit(1280);
    height: unit(30);
    font-family: Rubik-Light, sans-serif;
    font-size: unit(16);
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: rgba(245, 245, 245, 0.5);
    word-wrap: break-word;
  }
}

.introduce-text {
  .not-visible {
    display: none;
  }
}

.introduce-text {
  .is-visible {
    display: block;
  }
}

.widgets-icons {
  display: inline-flex;
  float: right;
  cursor: pointer;
  div {
    padding-right: unit(17);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: unset;
  }
}

.watch-button {
  width: unit(150);
  height: unit(40);
  background-color: #dead30;
  position: absolute;
  bottom: 50%;
  left: 45%;
  margin: auto;
  color: #f5f5f5;
  &:hover {
    border: unit(1) solid white;
    cursor: pointer;
  }
}
.poster {
  text-align: center;
  position: relative;
  font-size: 0;
  .poster-image {
    position: relative;
    width: unit(1280);
    height: unit(720);
  }
}
.mobile-widgets-icons{
  display: none;
}
@media (max-width: unit(1440)) {
  .content-container {
    width: unit(980);
    .player-content {
      height: unit(550);
    }
  }

  .poster .poster-image {
    width: unit(980);
    height: unit(551);
  }

  .introduce .introduce-text {
    width: auto;
    padding-right: 40px;
  }

  .divider {
    width: auto;
  }

  .casts {
    .castType {
      display: block;
      color: #d8d8d8;
      font-size: unit(16);
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: unit(10);
    }
    .castLink {
      font-weight: normal;
      font-size: unit(15)
    }
  }
}
@media (max-width: unit(790)) {
  .score-info {
    display: block;

    .scoreStar {
      display: inline-block;
    }

    .averageScore {
      display: inline-block;
    }
  }

  .widget-icons {
    float: none;
  }

  .introduce.no-divider {
    margin-top: 50px;
    margin-left: -140px;
  }
}

.shared {
  width: unit(20);
  height: unit(20);
  object-fit: contain;
  margin-top: unit(10);
  margin-right: unit(17);

}

i.icon-addfavorite {
  font-size: unit(26);
  margin-top: unit(2);
}
i.icon-uni26 {
  font-size: unit(30);
}
i.icon-star {
  font-size: unit(30);
}
