//icon
//10*10 
@mixin size($width:10px,$height:10px) {
     width: $width;
     height: $height;
}
.filterup-10 {
    @include size($icon-s10, $icon-s10);
    background: url(assets/img/10/ondemand_filter_arrowup_10.png) center center no-repeat;
}
.filterdown-10 {
    @include size($icon-s10, $icon-s10);
    background: url(assets/img/10/ondemand_filter_arrowdown_10.png) center center no-repeat;
}

//12*12
.close-12 {
    @include size($icon-s12, $icon-s12);
    background: url(assets/img/12/close_12.png) center center no-repeat;
}
.stillsall-12 {
    @include size($icon-s12, $icon-s12);
    background: url(assets/img/12/stillsall_12.png) center center no-repeat;
}

//14*14
.nextday-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/nextday_14.png) center center no-repeat;
}
.angledown-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/angledown_14.png) center center no-repeat;
}
.angledownred-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/angledownred_14.png) center center no-repeat;
}
.angleright-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/angleright_14.png) center center no-repeat;
}
.angleup-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/angleup_14.png) center center no-repeat;
}
.cancelreminder-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/cancelreminder_14.png) center center no-repeat;
}
.noreminder-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/noreminder_14.png) center center no-repeat;
}
.offline-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/offline_14.png) center center no-repeat;
}
.play-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/play_14.png) center center no-repeat;
}
.play2-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/play2_14.png) center center no-repeat;
}
.progressbar-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/progressbar_14.png) center center no-repeat;
}
.record-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/record_14.png) center center no-repeat;
}
.recordsetting-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/recordsetting_14.png) center center no-repeat;
}
.reminder-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/reminder_14.png) center center no-repeat;
}
.shoppingbasket-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/shoppingbasket_14.png) center center no-repeat;
}
.stoprecording-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/stoprecording_14.png) center center no-repeat;
}
.fav-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/addfav_14.png) center center no-repeat;
}
.fav2-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/fav2_14.png) center center no-repeat;
}
.lock-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/lock_14.png) center center no-repeat;
}
.replay-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/replay_14.png) center center no-repeat;
}
.close-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/close_14.png) center center no-repeat;
}
.close2-14 {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/close2_14.png) center center no-repeat;
}
.language_up {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/up_14.png) center center no-repeat;
}
.language_down {
    @include size($icon-s14, $icon-s14);
    background: url(assets/img/14/down_14.png) center center no-repeat;
}

//16*16
.close-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/close_16.png) center center no-repeat;
}
.edit-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/edit_16.png) center center no-repeat;
}
.edit2-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/edit2_16.png) center center no-repeat;
}
.fav-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/fav_16.png) center center no-repeat;
}
.fav2-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/fav2_16.png) center center no-repeat;
}
.grade3-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/grade3_16.png) center center no-repeat;
}
.history-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/history_16.png) center center no-repeat;
}
.icontime-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/icon_time_16.png) center center no-repeat;
}
.lock-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/lock_16.png) center center no-repeat;
}
.lock2-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/lock2_16.png) center center no-repeat;
}
.unlock-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/lock_16.png) center center no-repeat;
}
.recordingred-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/recordingred_16.png) center center no-repeat;
}
.reminder-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/reminder_16.png) center center no-repeat;
}
.reminder2-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/reminder2_16.png) center center no-repeat;
}
.remove-16{
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/remove_16.png) center center no-repeat;
}
.remove2-16{
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/remove2_16.png) center center no-repeat;
}
.select-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/select_16.png) center center no-repeat;
}
.singlerecord-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/singlerecord_16.png) center center no-repeat;
}
.nextday-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/nextday_16.png) center center no-repeat;
}
.replay-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/replay_16.png) center center no-repeat;
}
.record_warning-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/record_warning_16.png) center center no-repeat;
}
.tvguide-lock-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/lock2_16.png) center center no-repeat;
}
.tvguide_singlerecord2_16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/tvguide_singlerecord2_16.png) center center no-repeat;
}
.Serialrecording_16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/Serialrecording_16.png) center center no-repeat;
}
.Serialrecording2_16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/Serialrecording2_16.png) center center no-repeat;
}
.primary-account-16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/primary_account_16.png) center center no-repeat;
}
.recording2_16 {
    @include size($icon-s16, $icon-s16);
    background: url(assets/img/16/recording2_16.png) center center no-repeat;
}

//18*18
.date-18 {
    @include size($icon-s18, $icon-s18);
    background: url(assets/img/18/select2_18.png) center center no-repeat;
}
.favchannel-18 {
    @include size($icon-s18, $icon-s18);
    background: url(assets/img/18/fav_channel_18.png) center center no-repeat;
}
.favchannel2-18 {
    @include size($icon-s18, $icon-s18);
    background: url(assets/img/18/fav_channel2_18.png) center center no-repeat;
}
.favvod-18 {
    @include size($icon-s18, $icon-s18);
    background: url(assets/img/18/fav_vod_18.png) center center no-repeat;
}
.favvod2-18 {
    @include size($icon-s18, $icon-s18);
    background: url(assets/img/18/fav_vod2_18.png) center center no-repeat;
}
.grade-18 {
    @include size($icon-s18, $icon-s18);
    background: url(assets/img/18/grade_18.png) center center no-repeat;
}
.grade2-18 {
    @include size($icon-s18, $icon-s18);
    background: url(assets/img/18/grade2_18.png) center center no-repeat;
}
.grade3-18 {
    @include size($icon-s18, $icon-s18);
    background: url(assets/img/18/grade3_18.png) center center no-repeat;
}
.lock-18 {
    @include size($icon-s18, $icon-s18);
    background: url(assets/img/18/lock_18.png) center center no-repeat;
}
.lock2-18 {
    @include size($icon-s18, $icon-s18);
    background: url(assets/img/18/lock2_18.png) center center no-repeat;
}
.package2-18 {
    @include size($icon-s18, $icon-s18);
    background: url(assets/img/18/package2_18.png) center center no-repeat;
}

//20*20
.allchannels-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/allchannels_20.png) center center no-repeat;
}
.angledown-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/angledown_20.png) center center no-repeat;
}
.angledown2-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/angledown2_20.png) center center no-repeat;
}
.angleleft-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/angleleft_20.png) center center no-repeat;
}
.angleleft2-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/angleleft2_20.png) center center no-repeat;
}
.angleleftsmall-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/angleleftsmall_20.png) center center no-repeat;
}
.angleplay-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/angleplay_20.png) center center no-repeat;
}
.angleright-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/angleright_20.png) center center no-repeat;
}
.angleright2-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/angleright2_20.png) center center no-repeat;
}
.anglerightsmall-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/anglerightsmall_20.png) center center no-repeat;
}
.angleup-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/angleup_20.png) center center no-repeat;
}
.buyicon-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/buyicon_20.png) center center no-repeat;
}
.cancelrecording-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/cancelrecording_20.png) center center no-repeat;
}
.cancelreminder-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/cancelreminder_20.png) center center no-repeat;
}
.login_popup_close_20x20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/login_popup_close_20x20.png) center center no-repeat;
}
.enlarge-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/enlarge_20.png) center center no-repeat;
}
.locked-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/locked_20.png) center center no-repeat;
}
.mute-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/mute_20.png) center center no-repeat;
}
.pause2-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/pause2_20.png) center center no-repeat;
}
.progressbar-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/progressbar_20.png) center center no-repeat;
}
.pwdright-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/pwdright_20.png) center center no-repeat;
}
.pwdwrong-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/pwdwrong_20.png) center center no-repeat;
}
.record-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/record_20.png) center center no-repeat;
}
.recording-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/recording_20.png) center center no-repeat;
}
.reminder-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/reminder_20.png) center center no-repeat;
}
.selectbox-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/selectbox_20.png) center center no-repeat;
}
.setting-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/setting_20.png) center center no-repeat;
}
.setting2-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/setting2_20.png) center center no-repeat;
}
.user-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/user_20.png) center center no-repeat;
}
.volume2-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/volume2_20.png) center center no-repeat;
}
.ratedefault-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/ratedefault_20.png) center center no-repeat;
}
.rate-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/rate_20.png) center center no-repeat;
}
.record_warn-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/record_warn_20.png) center center no-repeat;
}
.cloud-20 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/20/cloud_20.png) center center no-repeat;
}

//22*22
.arrowleft-22 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/22/arrowleft_22.png) center center no-repeat;
}
.arrowright-22 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/22/arrowright_22.png) center center no-repeat;
}
.check-22 {
    @include size($icon-s20, $icon-s20);
    background: url(assets/img/22/check_22.png) center center no-repeat;
}

//24*24
.angledown-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/angledown_24.png) center center no-repeat;
}
.angledown2-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/angledown2_24.png) center center no-repeat;
}
.angleup-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/angleup_24.png) center center no-repeat;
}
.angleup2-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/angleup2_24.png) center center no-repeat;
}
.channel_name-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/channel_name_24.png) center center no-repeat;
}
.cloud-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/cloud_24.png) center center no-repeat;
}
.close-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/close_24.png) center center no-repeat;
}
.daily-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/daily_24.png) center center no-repeat;
}
.delete-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/delete_24.png) center center no-repeat;
}
.remove-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/close.svg) center center no-repeat;
}
.fullscreenlist-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/fullscreenlist_24.png) center center no-repeat;
}
.list-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/list_24.png) center center no-repeat;
}
.moredown-24{
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/moredown_24.png) center center no-repeat;
}
.moreup-24{
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/moreup_24.png) center center no-repeat;
}
.mute-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/mute_24.png) center center no-repeat;
}
.pause-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/pause_24.png) center center no-repeat;
}
.periodic-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/periodic_24.png) center center no-repeat;
}
.play-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/play_24.png) center center no-repeat;
}
.replay-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/replay_24.png) center center no-repeat;
}
.rateFull-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/rate_01_24.png) center center no-repeat;
}
.rateHalf-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/rate_02_24.png) center center no-repeat;
}
.rateEmty-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/rate_03_24.png) center center no-repeat;
}
.recorded_red-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/recorded2_24.png) center center no-repeat;
}
.recording_date-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/recording_date_24.png) center center no-repeat;
}
.recording_edit-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/recording_edit_24.png) center center no-repeat;
}
.recording_single-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/recording_single_24.png) center center no-repeat;
}
.recording_unavialable-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/recording_unavialable_24.png) center center no-repeat;
}
.recording_STB-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/recording_STB_24.png) center center no-repeat;
}
.setting-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/setting_24.png) center center no-repeat;
}
.setting2-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/setting_unavialable_24.png.png) center center no-repeat;
}
.switching-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/switching_24.png) center center no-repeat;
}
.user-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/user_24.png) center center no-repeat;
}
.volume-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/volume_24.png) center center no-repeat;
}
.subscribe_left-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/subscribe_left.png) center center no-repeat;
}
.subscribe_left_hover-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/subscribe_left_hover.png) center center no-repeat;
}
.subscribe_right-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/subscribe_right.png) center center no-repeat;
}
.subscribe_right_hover-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/subscribe_right_hover.png) center center no-repeat;
}
.recordingfail-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/recordingfail_24.png) center center no-repeat;
}
.rightarrow-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/rightarrow_24.png) center center no-repeat;
}
.rightarrow2-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/arrowright_24.png) center center no-repeat;
}
.cloudicon-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/yun_24.png) center center no-repeat;
}
.stbicon-24 {
    @include size($icon-s24, $icon-s24);
    background: url(assets/img/24/stb_24.png) center center no-repeat;
}

//30*30
.angleleft-30 {
    @include size($icon-s30, $icon-s30);
    background: url(assets/img/30/angleleft_30.png) center center no-repeat;
}
.angleleft2-30 {
    @include size($icon-s30, $icon-s30);
    background: url(assets/img/30/angleleft2_30.png) center center no-repeat;
}
.angleright-30 {
    @include size($icon-s30, $icon-s30);
    background: url(assets/img/30/angleright_30.png) center center no-repeat;
}
.angleright2-30 {
    @include size($icon-s30, $icon-s30);
    background: url(assets/img/30/angleright2_30.png) center center no-repeat;
}

//32*32
.play-fullscreen-32{
    @include size($icon-s32, $icon-s32);
    background: url(assets/img/32/play_fullscreen_32.png) center center no-repeat;
}
.replay-32{
	@include size($icon-s32, $icon-s32);
    background: url(assets/img/32/replay_32.png) center center no-repeat;
}
.timeout_fullscreen_32{
    @include size($icon-s32, $icon-s32);
    background: url(assets/img/32/timeout_fullscreen_32.png) center center no-repeat;
}
.cloud-32 {
    @include size($icon-s32, $icon-s32);
    background: url(assets/img/32/angleright2_32.png) center center no-repeat;
}
.cloud_32 {
    @include size($icon-s32, $icon-s32);
    background: url(assets/img/32/cloud_32.png) center center no-repeat;
}
.add-32 {
    @include size($icon-s32, $icon-s32);
    background: url(assets/img/32/add_32.png) center center no-repeat;
}
.delete-32 {
    @include size($icon-s32, $icon-s32);
    background: url(assets/img/32/delete_32.png) center center no-repeat;
}

//36*36
.angleleft-36 {
    @include size($icon-s36, $icon-s36);
    background: url(assets/img/36/angleleft_36.png) center center no-repeat;
}
.angleleft2-36 {
    @include size($icon-s36, $icon-s36);
    background: url(assets/img/36/angleleft2_36.png) center center no-repeat;
}
.angleright-36 {
    @include size($icon-s36, $icon-s36);
    background: url(assets/img/36/angleright_36.png) center center no-repeat;
}
.angleright2-36 {
    @include size($icon-s36, $icon-s36);
    background: url(assets/img/36/angleright2_36.png) center center no-repeat;
}
//54*54
.channellogobg-54 {
    @include size($icon-s54, $icon-s54);
    background: url(assets/img/54/channellogobg_54.png) center center no-repeat;
}
//56*56
.nodata-56 {
    @include size($icon-s56, $icon-s56);
    background: url(assets/img/56/nodata_56.png) center center no-repeat;
}
.nodata2-56 {
    @include size($icon-s56, $icon-s56);
    background: url(assets/img/56/nodata2_56.png) center center no-repeat;
}
.nodata3-56 {
    @include size($icon-s56, $icon-s56);
    background: url(assets/img/56/nodata3_56.png) center center no-repeat;
}
.purchase2-56 {
    @include size($icon-s56, $icon-s56);
    background: url(assets/img/56/purchase2_56.png) center center no-repeat;
}
.search-56 {
    @include size($icon-s56, $icon-s56);
    background: url(assets/img/56/search_56.png) center center no-repeat;
}
.shopping2-56 {
    @include size($icon-s56, $icon-s56);
    background: url(assets/img/56/shpping2_56.png) center center no-repeat;
}

//60*60
.facebook-60 {
    @include size($icon-s60, $icon-s60);
    background: url(assets/img/60/facebook_60.png) center center no-repeat;
}
.twiiter-60 {
    @include size($icon-s60, $icon-s60);
    background: url(assets/img/60/twiiter_60.png) center center no-repeat;
}
//72*72
.noresult-72 {
    @include size(unit(72), unit(72));
    background: url(assets/img/72/noresult_72.png) center center no-repeat;
}
//74*74
.purchase-74 {
    @include size($icon-s74, $icon-s74);
    background: url(assets/img/74/purchase_74.png) center center no-repeat;
}
//80*80

//81*81
.scrolltop-81 {
    @include size($icon-s81, $icon-s81);
    background: url(assets/img/81/scroll-to-top.png) center center no-repeat;
}
//default
.home-landscape-poster {
    @include size($icon-s81, $icon-s81);
    background: url("assets/img/default/home_landscape_poster.png") center center no-repeat;
}

.home-landscape-poster-small {
    @include size($icon-s81, $icon-s81);
    background: url("assets/img/default/home_landscape_poster_small.png") center center no-repeat;
}

.defaultaudio-996 {
    @include size($icon-s81, $icon-s81);
    background: url("assets/img/default/defaultaudio_996.jpg") center center no-repeat;
}

.defaultaudio-1920 {
    @include size($icon-s81, $icon-s81);
    background: url("assets/img/default/defaultaudio_1920.png") center center no-repeat;
}

//other
.logo-118 {
    @include size(unit(118), unit(31));
    background: url(assets/img/logo.png) center center no-repeat;
}
.nav_arrow2-10 {
    @include size(unit(10), unit(5));
    background: url(assets/img/nav_arrow2.png) center center no-repeat;
}
.now-10 {
    @include size(unit(70), unit(24));
    background: url(assets/img/now.png) center center no-repeat;
}
.logo {
    @include size(unit(118), unit(31));
    background: url(assets/img/logo.png) center center no-repeat;
}
.arrow3-22 {
    @include size(unit(118), unit(31));
    background: url(assets/img/arrow3_22.png) center center no-repeat;
}
.arrow4-22 {
    @include size(unit(118), unit(31));
    background: url(assets/img/arrow4_22.png) center center no-repeat;
}
.share_sina-126{
    @include size(unit(126), unit(126));
    background: url(assets/img/share_sina@2x.png) center center no-repeat;
}
.share_wechat-126{
    @include size(unit(126), unit(126));
    background: url(assets/img/share_wechat@2x.png) center center no-repeat;
}
.popup-19 {
    @include size(unit(19), unit(19));
    background: url(assets/img/popup19.png) center center no-repeat;
}
.playcontrol-angle {
    @include size(unit(12), unit(8));
    background: url(assets/img/arrow_12x8.png) center center no-repeat;
}
.fullscreen-packup{
    @include size(unit(28), unit(128));
    background: url(assets/img/bg_fullscreen_packup.png) center center no-repeat;
}
.onnow{
	@include size(unit(92), unit(36));
    background: url(assets/img/onnow.png) center center no-repeat;
}
.seriesbg{
	@include size(unit(92), unit(36));
    background: url(assets/img/bg_series.png) center center no-repeat;
}
.seriesbg-small{
	@include size(unit(92), unit(36));
    background: url(assets/img/bg_series_980.png) center center no-repeat;
}
.searchbg{
    @include size(unit(216), unit(160));
    background: url(assets/img/searchbg_series.png) center center no-repeat;
}
.bg_default1920x1080{
    background: url(assets/img/bg_default1920x1080.png) center center no-repeat;
}
.livetv_now_icon_left{
	@include size(unit(42), unit(17));
    background: url(assets/img/livetv_now_icon_left.png) center center no-repeat;
}
.livetv_now_icon_right{
	@include size(unit(42), unit(17));
    background: url(assets/img/livetv_now_icon_right.png) center center no-repeat;
}