@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.singalDataContainer{
  position:fixed;
  width: 100%;
  height: 100%;
  display: block;
  top: unit(0);
  left: unit(0);
  z-index: 12;
  background: $basic-C08;
}
.dataName{
  position: absolute;
  height: unit(449);
  width: unit(460);
  background-color: $basic-c14;
  left: unit(0);
  right: unit(0);
  top: unit(0);
  bottom: unit(0);
  margin: auto;
  #datawrap{
    position: relative;
    height: unit(378);
    overflow: hidden;
  }
  .dataNamePanel{
    position: relative;
    top: unit(0);
  }
}

.datanametitle{
  height: unit(60);
  line-height: unit(60);
  border-bottom: unit(1) solid $basic-c19;
  vertical-align: middle;
  text-align:center;
  color: $text-c35;
  margin-bottom: unit(10);
  cursor: default;
  .data-close{
    background: url(assets/img/32/delete_32.png) no-repeat;
    width: unit(32);
    height: unit(32);
    position: relative;
    top: unit(-46);
    left: unit(405);
    cursor: pointer;
  }
}

.dataNameList{
  height: unit(46);
  line-height: unit(46);
  vertical-align: middle;
  color: $text-c35;
  text-align:center;
  .isChoosenData{
    color: $text-c31;
  }
  .isChoosen{
    background: url(assets/img/22/check_22.png) no-repeat;
    width: unit(22);
    height: unit(22);
    position: relative;
    float: left;
    top: unit(10);
    left: unit(55);
  }
  .notChoosen{
    width: unit(22);
    height: unit(22);
    position: relative;
    float: left;
  }
}
.dataNameList:hover {
  height: unit(46);
  line-height: unit(46);
  vertical-align: middle;
  background-color: $basic-c03;
  cursor: pointer;
  color: $text-c31;
}

.scrollList {
  position: absolute;
  right: unit(30);
  z-index: 15;
  top: unit(67);
  .scroll {
    width: unit(18);
    left: unit(0);
    top: unit(0);
    bottom: unit(8);
    cursor: pointer;
    position: absolute;
    height: unit(378);
    span {
      top: unit(0);
      height: unit(0);
      width: unit(18);
      right: unit(0);
      position: absolute;
      #singleTime-scroll-content {
        left: unit(6);
        position: absolute;
        width: unit(7);
        height: 100%;
        cursor: pointer;
        background: $basic-c03;
        border-radius: unit(24);
      }
    }
  }
}
