<div class="singalDataContainer" [ngStyle]='{ "display":isShowDataName ? "block": "none" }'>
  <div class= "dataName" id="dataName" >
    <div class="datanametitle title-t14">{{'record_data_name' | translate}}
      <div class="data-close" (click) = "close()"></div>
    </div>
    <div id="datawrap">
      <div class="dataNamePanel" id="dataNamePanel">
        <div class="dataNameList body-t29" id="dataNameList" *ngFor="let dataDate of dataStrs, let i=index" (click)="chooseData(dataDate[1][0],i)" >
          <div [class]="(i==isChooseIndex) ? 'isChoosen' : 'notChoosen'"></div>
          <span [class]="(i==isChooseIndex) ? 'isChoosenData' : 'notChoosenData'" class = "channelNO">{{dataDate[0]}}</span>
        </div>
      </div>
    </div>
    <div class="scrollList" id="singleTime-scrollList" [ngStyle]="{'visibility':dataDates.length > 8 ? 'visible' : 'hidden'}">
      <div class="scroll" id="singleTime-scroll">
        <span id="singleTime-scrollSpan">
          <div id="singleTime-scroll-content"></div>
        </span>
      </div>
    </div>
  </div>
</div>
