<div class="agreement">
  <div class="spinner" *ngIf="(offers$ | async)?.loading"></div>
  <div class="agreement__content" [innerHTML]="(offers$ | async)?.data?.content"></div>
  <div class="agreement__content" *ngIf="(offers$ | async)?.error"><h1>{{ 'agreement.load_error' | translate }}</h1></div>
</div>
