.agreement {

  display: flex;
  justify-content: center;

  &__content {
    color: #E8F9FF;
    width: 900px;

    /deep/ h1 {
      margin: 15px 0 43px;
      font-size: 36px;
      line-height: 43px;
    }

    /deep/ p {
      margin: 22px 0 0;
      font-size: 18px;
      line-height: 22px;
    }
  }

  .spinner {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    background-image: url(assets/img/loader.gif);
  }

}
