<div class="app-account-login">
    <div class="login-title logo-huawei">
        <span class="font-movie-title title-t14">{{'log_in' | translate}}</span>
        <div class="login-close" (click)="close()"></div>
    </div>
    <div name="loginForm" class="login-form">
        <input type="password" [ngStyle]="{display:'none'}" />
        <div class="error_message body-t32" [ngStyle]="{display: (errorMessage) ? 'inline' : 'none'}">
            {{ pwdOrLoginNameErrorMessage | translate}}
        </div>

        <input
            class="body-t32"
            tabindex="1"
            id="login-ID"
            type="text"
            [(ngModel)]="userID"
            (focus)="loginNameFocus($event);showLoginNameList()"
            (keyup)="changeLoginName($event)"
            name="userID"
            (blur)="hideLoginNameList()"
            maxlength="128"
            autocomplete="off"
            (keydown)="keydownLogin()"
        />
        <div class="placeholderIDBg body-t32" id="placeholderID_Bg" [ngStyle]="{display: (showplaceholderId) ? 'block' : 'none'}" (click)="onplaceholdId()">
        {{'login_id' | translate}} </div>
        <div class="delete-Login-Name" [ngStyle]="{display: (deleteLoginName) ? 'block' : 'none'}" (click)="removeLoginName()"></div>

        <input
            class="body-t32"
            tabindex="2"
            id="pass-Word"
            [(ngModel)]="userPassword"
            (keyup)="changePassword($event)"
            name="userPassword"
            (focus)="showPassword()"
            (blur)="hidePassword()"
            maxlength="128"
            autocomplete="off"
            onfocus="this.type='password'"
            (keydown)="keydownPassword()"
        />
        <div class="placeholderBg body-t32" id="placeholder_Bg" [ngStyle]="{display: (showplaceholder) ? 'block' : 'none'}" (click)="onplacehold()">
        {{'password' | translate}} </div>
        <div class="delete-Pass-Word" [ngStyle]="{display: (deletePassWord) ? 'block' : 'none'}" (click)="removePassWord()"></div>

        <div class="remember">
            <span class="body-t32 checkautotab"><a [href]="registration" target="_blank"
                                      (click)="openRegister($event)">{{'registration' | translate}}</a></span>
        </div>
        <div class="forget_me body-t32" [ngStyle]="{display: forgetpassword ? 'block' : 'none'}">
            <a [href]="forgot_password_url" (click)="openResetPassword($event)" target="_blank">{{'forget_password'| translate}}</a>
        </div>
        <!-- @HWP-65-DISABLE-FEATURES div class="privacy_agree">
            <input type="button" tabindex="4" class="checkagree body-t26" (click)="checkagree()" [ngStyle]="{'background':checkedPrivacyBg}" />
            <div class="body-t32" (click)="jumpToPrivacy()" (mouseover)="iStyleChange()" (mouseout)="iStyleChangeded()"><span class="i_agree">{{'i_agree'| translate}}</span><span *ngIf="engAgreeChange">&nbsp;</span><span [class.iPrivacy]="iStyle">{{'agree_privacy'| translate}}</span></div>
        </div-->
        <div
            class="btnID body-t26"
            [ngClass]="userID !== '' && userPassword !== '' ? 'active' : 'disabled'"
            id="logBtn"
            tabindex="5"
            (click)="onAuthenticate()"
        >
            {{'log_in' | translate}}
        </div>

        <div class="social_login">
            {{ 'or_enter_with' | translate }} <span class="vk-icon" (click)="loginVK()"></span>
        </div>
    </div>
    <div class="login_load_content" [ngStyle]="{display: (loginLoadDisplay) ? 'inline' : 'none'}">
        <div class="login_load"></div>
    </div>
    <ul class="login-name-list" [ngStyle]="{display: (loginNameDisplay) ? 'block' : 'none'}">
        <li class="item body-t29" *ngFor="let loginName of loginNameList" (click)="setLoginID(loginName.name)">
            {{loginName.name}}
        </li>
    </ul>
</div>
