@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

* {
  margin: unit(0);
  padding: unit(0);
  border: none;
}

.hotTV-home {
  width: unit(1280);
  height: unit(320);
  position: relative;
  margin: auto;
  margin-top: unit(50);
}

.line {
  border: unit(0);
  background-color: $basic-c03;
  height: unit(1);
  width: unit(1280);
  position: absolute;
  top: unit(322);
}

@media screen and (max-width: 1440px) {
  .line {
    top: unit(313);
  }
}
