<div class="hotTV-home" id="hotTV" *ngIf="tvodLists&&hotTvShowdata">
  <app-program-component [id]="hotTvId" [datas]="tvodLists" (jumpTo)="moreShow($event)" (jumpToData)="onClickDetail($event)"></app-program-component>
  <div class="line"></div>
</div>
