<div class="app-mixed-conflict">
	<div class="title title-t14">
        <span class="font-movie-title">{{'recording_conflict'|translate}}</span>
        <div class="login-close" (click) = "close()"></div>
    </div>
	<div class="tips body-t29">{{'recording_conflict_content'|translate:conflictNumber}}</div>
	 <div class="btn body-t26">
    	<button class="cancel" (click) = "solveConflicts()">{{'solve_conflicts'|translate}}</button>
    	<button class="conform" (click) = "recordEpisodes()">{{'record_all_episodes'|translate}}</button>
    </div>
</div>
