@import "/src/assets/css/common-variables.scss";

.app-mixed-conflict {
  background: $basic-c14;
  width: unit(660);
	margin: auto;
	position: relative;
  height: unit(298);
  .title {
    width: unit(660);
    height: unit(60);
    line-height: unit(60);
    text-align: center;
    border-bottom: unit(1) solid $basic-c19;
    color: $text-c35;
    .login-close {
      @extend .login_popup_close_20x20;
      position: absolute;
      top: unit(20);
      right: unit(30);
      cursor: pointer;
    }
  }
  .tips {
    color: $text-c31;
    text-align: center;
    margin-left: unit(30);
    margin-right: unit(30);
    margin-top: unit(54);
  }
  .btn {
    text-align: center;
    margin-top: unit(54);
    padding-bottom: unit(35);
    button {
      width: auto;
      height: unit(40);
      outline: none;
      border: none;
      color: $text-c31;
      border-radius: $rounded-rc1;
      cursor: pointer;
    }
    .cancel {
      background: $basic-c04;
      margin-right: unit(20);
      width: unit(212);
      height: unit(40);
      &:hover {
        background: $basic-c05;
      }
    }
    .conform {
      background: $basic-c04;
      width: unit(212);
      height: unit(40);
      &:hover {
        background: $basic-c05;
      }
    }
  }
}
