<div class="app-reset-password" [ngStyle]="{height: (emailSent ? '385px' : '')}">

  <div class="login-title logo-huawei">
    <span class="font-movie-title title-t14">{{'password_recovery' | translate}}</span>
    <div class="register-close" (click)="close()"></div>
  </div>

  <div name="registerForm" class="register-form" [ngStyle]="{top: getTopOffset() + 'px'}">

    <div class="error_message body-t32" [ngStyle]="{display: errors.count() ? 'inline' : 'none'}">
      <div *ngFor="let message of errors.messages">{{ message | translate }}</div>
    </div>

    <div class="info_message body-t32" [ngStyle]="{display: (emailSent || sending) ? 'block' : 'none' }">
      {{ (emailSent ? 'reset_password_email_sent' : 'sending') | translate }}
    </div>

    <input
      class="body-t32"
      tabindex="1"
      id="login-ID-reset"
      type="text"
      name="userID"
      maxlength="128"
      autocomplete="off"
      [disabled]="emailSent || sending"
      [ngClass]="{inputError: errors.getField('login')}"
      [(ngModel)]="userID"
      (focus)="loginNameFocus($event)"
      (blur)="loginNameBlur($event)"
      (keyup)="changeLoginName($event)"
      (keydown)="keydownLogin($event)"
    />

    <div
      class="placeholderIDBg body-t32" id="placeholderID_Bg"
      [ngStyle]="{display: (showplaceholderId) ? 'block' : 'none'}"
      (click)="onplaceholdId()"
    >
      {{'email' | translate}}
    </div>

    <div
      class="delete-Login-Name"
      [ngStyle]="{display: (deleteLoginName) ? 'block' : 'none'}"
      (mousedown)="removeLoginName()"
    ></div>

    <div
      class="btnID body-t26"
      id="logBtn"
      tabindex="5"
      (click)="onRecover()"
      [ngClass]="{'active': btnStyleChange(), 'disabled': !btnStyleChange()}"
    >
      {{ (emailSent ? 'password_is_changed' : 'recover') | translate}}
    </div>

    <div class="after_submit">
      <div class="body-t32 fakecaptcha" [ngClass]="{sent: emailSent}">
        <img src="https://www.gstatic.com/recaptcha/api2/logo_48.png" />
        <span>reCAPTCHA</span>
        <small>
          <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy</a>
          •
          <a href="https://www.google.com/intl/en/policies/terms/" target="_blank">Terms</a>
        </small>
      </div>
      <div class="body-t32 resend" [ngStyle]="{display: (emailSent) ? 'block' : 'none'}">
        <span class="resend-icon"></span>
        <span [ngStyle]="{color: countdown.get() > 0 ? '' : '#f5f5f5'}">
          {{'dont_get_email' | translate}}
          <br/>
          <a [ngClass]="{disabled: countdown.get() > 0}" (click)="resendEmail()">{{'resend_email' | translate}}</a>
          <br/>
          <span [ngStyle]="{display: (countdown.get() > 0) ? 'block' : 'none'}">
            {{ 'countdown' | translate }} {{countdown.readable()}}
          </span>
        </span>
      </div>
      <div class="body-t32 captcha" id="recaptcha-c-reset"></div>
    </div>
  </div>
</div>
