<div id="error-container-wrapper" class="error-container-wrapper"(keyup)="onchange($event)" tabindex="1">
  <div class="error-message-dialog error-container">
    <div class="title title-t14">
      <span class="titile-message">{{dialogTitle}}</span>
      <span class="titile-close" (click) = "close()"></span>
    </div>

    <div class="content body-t29">
      <span class="content-title">{{errorMessageTitle}}</span>
      <span class="content-code">{{errorMessageCode}}</span>
      <span class="content-main body-t32">{{errorMessageContent}}</span>
      <div class="buttom">
        <button  class="confirm-buttom body-t26" (click) = "close(true)" autofocus>{{btnName | translate}}</button>
      </div>
    </div>
  </div>
</div>
