@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";
@import "/src/share/scss/variables.scss";

.error-container-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $basic-C08;
}

.error-container {
  text-align: center;
  width: unit(460);
  min-height: unit(288);
  background: $basic-c14;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  position: relative;
  .title {
    border-bottom: unit(1) solid $basic-c19;
    height: unit(60);
    line-height: unit(60);
    .titile-message {
      color: $text-c35;
    }
    .titile-close {
      background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
      width: unit(20);
      height: unit(20);
      position: relative;
      top: unit(-43);
      display: block;
      left: unit(410);
      cursor: pointer;
    }
  }
  .content {
    max-width: unit(354);
    margin: auto;
    .content-title {
      display: block;
      color: $text-c31;
      line-height: unit(24);
      padding-top: unit(35);
    }
    .content-code {
      display: block;
      color: $text-c31;
      line-height: unit(24);
    }
    .content-main {
      display: block;
      color: $text-c34;
      padding-top: unit(20);
      line-height: unit(20);
      text-align: center;
    }
    .buttom {
      padding-top: unit(35);
      padding-bottom: unit(35);
      .confirm-buttom {
        width: unit(140);
        background: linear-gradient(to right, $basic-c31, $basic-c32);
        height: unit(40);
        line-height: unit(40);
        color: $text-c31;
        margin-left: unit(107);
        border-radius: unit(2);
        cursor: pointer;
        display: block;
        border: none;
        &:hover {
          background: $basic-c31;
        }
      }
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    width: 100%;
    max-width: 100%;
  }
}
