$icomoon-font-path: "fonts" !default;

$icon-uhdtv: \1f4fd;
$icon-4kico: \25a9;
$icon-hd: \51;
$icon-sd: \57;
$icon-fwrewstrover: \25c5;
$icon-loud: \78;
$icon-wifidot: \230;
$icon-arrow-exchangerate: \2193;
$icon-uni3B1: \3b1;
$icon-uni3B2: \3b2;
$icon-uni3B3: \3b3;
$icon-uni3B4: \3b4;
$icon-uni3B5: \3b5;
$icon-uni3B6: \3b6;
$icon-uni3B7: \3b7;
$icon-uni3B8: \3b8;
$icon-uni3B9: \3b9;
$icon-uni3BA: \3ba;
$icon-uni3BB: \3bb;
$icon-uni3BC: \3bc;
$icon-uni3BD: \3bd;
$icon-uni3BE: \3be;
$icon-uni3BF: \3bf;
$icon-uni3C: \3c;
$icon-uni3C1: \3c1;
$icon-uni3C2: \3c2;
$icon-uni3C3: \3c3;
$icon-uni3C4: \3c9;
$icon-uni3C5: \3c5;
$icon-uni3C6: \3c6;
$icon-uni3C7: \3c7;
$icon-uni3C8: \3c8;
$icon-uni3C9: \3c4;
$icon-uni3D1: \3d1;
$icon-uni3D2: \3d2;
$icon-uni3D6: \3d6;
$icon-arrright: \3e;
$icon-leftgo: \5b;
$icon-warning: \5c;
$icon-rightgo: \5d;
$icon-recorder: \5e;
$icon-nosound: \5f;
$icon-uni7B: \7b;
$icon-nolink: \7e;
$icon-uni23: \23;
$icon-uni24: \24;
$icon-sizeme: \25;
$icon-uni26: \26;
$icon-email: \40;
$icon-uni221A: \221a;
$icon-notcheck: \221e;
$icon-space_line: \a7;
$icon-dotme: \a9;
$icon-3G: \b0;
$icon-tvsetDU: \422;
$icon-satelite: \418;
$icon-antennlog: \410;
$icon-eggColor: \43e;
$icon-mtsColor: \43c;
$icon-mtstvColor: \4d;
$icon-exitbtn: \415;
$icon-menubtn: \42c;
$icon-epgguide: \45;
$icon-infobtn: \49;
$icon-turnoff: \54;
$icon-fastchsw: \424;
$icon-nazad: \43d;
$icon-playpause: \440;
$icon-widjet: \412;
$icon-internetDU: \69;
$icon-egg: \41e;
$icon-mts: \41c;
$icon-mtstv: \6d;
$icon-stereo: \4f;
$icon-dolby: \44c;
$icon-langold: \442;
$icon-noconnection: \43b;
$icon-0: \41;
$icon-6: \53;
$icon-12: \44;
$icon-16: \48;
$icon-18: \46;
$icon-21: \47;
$icon-addfavorite: \421;
$icon-alarmclock: \441;
$icon-arrows: \427;
$icon-basket: \447;
$icon-bottomarrow: \42f;
$icon-bottommenuarrow: \44f;
$icon-check: \2c5;
$icon-clock: \42d;
$icon-close: \44d;
$icon-compass: \42a;
$icon-delete: \44a;
$icon-drop: \7d;
$icon-exit: \27;
$icon-exit-2: \22;
$icon-folder: \52;
$icon-heart: \79;
$icon-image: \59;
$icon-info: \75;
$icon-key: \55;
$icon-languages: \6f;
$icon-left-arrow: \70;
$icon-leftkeyboardarrow: \50;
$icon-list: \439;
$icon-list-1: \419;
$icon-lock: \444;
$icon-media-player: \411;
$icon-message: \41f;
$icon-music: \43f;
$icon-news: \4e;
$icon-ok: \4b;
$icon-openmessage: \4a;
$icon-outputfolder: \413;
$icon-pause: \446;
$icon-pencil: \426;
$icon-play: \41a;
$icon-plus-minus: \b1;
$icon-popcorn: \417;
$icon-rec: \416;
$icon-record: \414;
$icon-records: \42e;
$icon-return: \2c;
$icon-rewind: \41b;
$icon-rightarrow: \420;
$icon-rightkeyboardarrow: \445;
$icon-rightmenuarrow: \425;
$icon-rubl: \20bd;
$icon-rubl-1: \44e;
$icon-search: \443;
$icon-settings: \423;
$icon-sorting: \42;
$icon-space: \4c;
$icon-star: \2116;
$icon-subscribe: \451;
$icon-language: \401;
$icon-txt: \60;
$icon-cc: \448;
$icon-temperature: \428;
$icon-toparrow: \449;
$icon-topkeyboardarrow: \429;
$icon-tv: \44b;
$icon-usb: \42b;
$icon-video: \41d;
$icon-video-2: \ce;
$icon-vod: \a5;
$icon-wifisetting: \2ac;
$icon-wifi: \2b7;
$icon-wind: \47a;
$icon-ethernet: \454;
$icon-alarmclock2: \77;
$icon-arrowkeyboardtop: \21;
$icon-arrow-bottom: \3b;
$icon-arrow-top: \3a;
$icon-bagel: \39;
$icon-ball: \36;
$icon-bear: \34;
$icon-closedcapt: \67;
$icon-channeledit: \431;
$icon-dot: \56;
$icon-exit2: \28;
$icon-folders: \7a;
$icon-games: \3d;
$icon-image2: \76;
$icon-info2: \71;
$icon-internet: \68;
$icon-key2: \435;
$icon-leftarrow2: \2f;
$icon-line: \2e;
$icon-teletext: \74;
$icon-lock2: \65;
$icon-mediaplayer2: \437;
$icon-message2: \432;
$icon-more: \62;
$icon-music2: \31;
$icon-news2: \32;
$icon-pause2: \73;
$icon-playicon: \61;
$icon-play2: \63;
$icon-popcorn2: \43a;
$icon-radio: \436;
$icon-rec-full: \438;
$icon-rec2: \2a;
$icon-rewind2: \66;
$icon-rewind-1: \64;
$icon-rightarrow2: \29;
$icon-rubl2: \72;
$icon-settings2: \434;
$icon-share: \6a;
$icon-sofa: \38;
$icon-soundloader: \2b;
$icon-sound: \2d;
$icon-star2: \6b;
$icon-steam: \433;
$icon-strawberry: \37;
$icon-test-tube: \35;
$icon-torch: \30;
$icon-tvguide: \430;
$icon-video2: \33;
$icon-video-1: \6c;
$icon-wifi2: \5a;
$icon-wifi-1: \58;
$icon-wifi-2: \43;

