$z-index-page-container: 0;
// --------------------------------------------------
// All font sizes use rem units
// By default, 1rem equals 10px. For example, 1.4rem  === 14px
// $font-size-root value, which is on the <html> element
// is what can scale all fonts
/// @prop - Font size of the root html
$font-size-root: 62.5% !default;
/// @prop - Font weight of all headings
$headings-font-weight: 500 !default;
/// @prop - Line height of all headings
$headings-line-height: 1.2 !default;
/// @prop - Font size of heading level 1
$h1-font-size: 2.6rem !default;
/// @prop - Font size of heading level 2
$h2-font-size: 2.4rem !default;
/// @prop - Font size of heading level 3
$h3-font-size: 2.2rem !default;
/// @prop - Font size of heading level 4
$h4-font-size: 2rem !default;
/// @prop - Font size of heading level 5
$h5-font-size: 1.8rem !default;
/// @prop - Font size of heading level 6
$h6-font-size: 1.6rem !default;
// Nav Container Structure
// --------------------------------------------------
ion-app,
app-root,
ion-nav,
ion-tab,
ion-tabs,
.app-root {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-index-page-container;
    display: block;
    width: 100%;
    height: 100%;
}

ion-nav {
    overflow: visible;
}

ion-tab,
ion-tabs {
    overflow: hidden;
}

ion-tab {
    display: none;
}

ion-tab.show-tab {
    display: block;
}

ion-app,
app-root,
ion-nav,
ion-tab,
ion-tabs,
.app-root,
.ion-page {
}

// Page Container Structure
// --------------------------------------------------
.ion-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    // do not show, but still render so we can get dimensions
    opacity: 0;
}

.ion-page[hidden] {
    display: none;
}

.ion-page.show-page {
    // show the page now that it's ready
    opacity: 1;
}

// Misc
// --------------------------------------------------
[app-viewport],
[overlay-portal],
[nav-viewport],
[tab-portal],
.nav-decor {
    display: none;
}

// Text Alignment
// --------------------------------------------------
[text-left] {
    text-align: left;
}

[text-center] {
    text-align: center;
}

[text-right] {
    text-align: right;
}

[text-justify] {
    text-align: justify;
}

[text-nowrap] {
    white-space: nowrap;
}

// Text Transformation
// --------------------------------------------------
[text-uppercase] {
    text-transform: uppercase;
}

[text-lowercase] {
    text-transform: lowercase;
}

[text-capitalize] {
    text-transform: capitalize;
}