@import "palette";
$z-index-backdrop: 50 !default;
$z-index-dialog: 80 !default;
$z-index-bottom-sheet: 70 !default;
$z-index-sidenav: 60 !default;

@function md-palette($color-map, $primary, $lighter, $darker, $contrast-color-map) {
  $result: map_merge($color-map, (
    default: map-get($color-map, $primary),
    lighter: map-get($color-map, $lighter),
    darker: map-get($color-map, $darker),
    default-contrast: md-contrast($color-map, $primary, $contrast-color-map),
    lighter-contrast: md-contrast($color-map, $lighter, $contrast-color-map),
    darker-contrast: md-contrast($color-map, $darker, $contrast-color-map)
  ));

  // For each hue in the palette, add a "-contrast" color to the map.
  @each $hue, $color in $color-map {
    $result: map_merge($result, (
      "#{$hue}-contrast": md-contrast($color-map, $hue, $contrast-color-map)
    ))
  }

  @return $result;
}

$md-background: md-palette($md-grey, 500, 0, 600, $md-contrast-palettes) !default;
$md-background: md-palette($md-grey, 500, 0, 600, $md-contrast-palettes) !default;

.md-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: opacity 450ms;
  opacity: 0;
  z-index: $z-index-backdrop;
  pointer-events: none;

  &.md-backdrop-absolute {
    position: absolute;
  }

  &.md-active {
    opacity: 1;
    pointer-events: all;
  }

  &.md-select-backdrop {
    z-index: $z-index-dialog + 1;
    transition-duration: 0;
  }
  &.md-dialog-backdrop {
    z-index: $z-index-dialog - 1;
  }
  &.md-bottom-sheet-backdrop {
    z-index: $z-index-bottom-sheet - 1;
  }
  &.md-sidenav-backdrop {
    z-index: $z-index-sidenav - 1;
  }

  &.md-opaque {
    &.md-active {
      opacity: .48;
    }
  }
}

// Theme
// 
// Gets a color for a material design component.
// $color-map: a map of {key: color}.
// $hue-key: key used to lookup the color in $colorMap. Defaults to 'default'
//     If $hue-key is a number between 0 and 1, it will be treated as $opacity.
// $opacity: the opacity to apply to the color.
@function md-color($color-map, $hue-key: default, $opacity: 1) {
  // If hueKey is a number between zero and one, then it actually contains an
  // opacity value, so recall this function with the default hue and that given opacity.
  @if type-of($hue-key) == number and $hue-key >= 0 and $hue-key <= 1 {
    @return md-color($color-map, default, $hue-key)
  }

  $color: map-get($color-map, $hue-key);
  $opacity: if(opacity($color) < 1, opacity($color), $opacity);

  @return rgba($color, $opacity);
}

.md-backdrop {
  background-color: md-color($md-background, 900, 0);
  &.md-opaque {
    background-color: md-color($md-background, 900, 1);
    &.md-active {
      opacity: .48;
    }
  }
}
