@import "backdrop";

$baseline-grid: 8px !default;
// Easing Curves
$swift-ease-out-duration: 0.4s !default;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;
$md-shadow-bottom-z-1: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$md-shadow-bottom-z-2: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

// Whiteframes

$shadow-key-umbra-opacity: 0.2;
$shadow-key-penumbra-opacity: 0.14;
$shadow-ambient-shadow-opacity: 0.12;
$whiteframe-shadow-13dp: 0px 7px 8px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 13px 19px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 5px 24px 4px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;

.md-dialog {
  position: absolute;
  z-index: 2200000000;

  /** Center the dialog. */
  top: 50%;
  left: 50%;
  min-width: 300px;
  min-height: 100px;
  box-shadow: $whiteframe-shadow-13dp;
  display: flex;
  flex-direction: column;

  opacity: 0;
  transition: $swift-ease-out;
  transform: translate3d(-50%, -50%, 0) scale(0.2);

  order: 1;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  &:not([layout=row]) > * > *:first-child:not(.md-subheader) {
    margin-top: 0;
  }

  &:focus {
    outline: none;
  }

  &.md-active {
    opacity: 1;
    transition: $swift-ease-out;
    transform: translate3d(-50%, -50%, 0) scale(1.0);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
  }

  &.md-dialog-absolute {
    position: fixed;
  }

  .md-actions, md-dialog-actions {
    display: flex;
    order: 2;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    padding-top: $baseline-grid * 3;
    padding-right: $baseline-grid;
    padding-left: $baseline-grid * 2;

    // Align md-actions outside of the padding of .md-dialog
    margin-bottom: -$baseline-grid * 3;
    margin-left: -$baseline-grid * 3;
    margin-right: -$baseline-grid * 3;

    right: -$baseline-grid * 3;
    min-height: $baseline-grid * 6.5;
    overflow: hidden;

    [md-button], [md-raised-button] {
      margin-bottom: $baseline-grid;
      margin-left: $baseline-grid;
      margin-right: 0;
      margin-top: $baseline-grid;
    }
  }

}
// Theme

$dialog-border-radius: 4px !default;
$md-light-theme-foreground: (
  divider: rgba(black, 0.12),
  dividers: rgba(black, 0.12),
  disabled: rgba(black, 0.26),
  disabled-text: rgba(black, 0.26),
  hint-text: rgba(black, 0.26),
  secondary-text: rgba(black, 0.54),
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87)
);
$md-dark-theme-foreground: (
  divider: rgba(white, 0.12),
  dividers: rgba(white, 0.12),
  disabled: rgba(white, 0.30),
  disabled-text: rgba(white, 0.30),
  hint-text: rgba(white, 0.30),
  secondary-text: rgba(white, 0.70),
  icon: white,
  icons: white,
  text: white
);

$md-is-dark-theme: false !default;

$md-primary: md-palette($md-indigo, 500, 100, 700, $md-contrast-palettes) !default;
$md-accent: md-palette($md-pink, 500, 300, 700, $md-contrast-palettes) !default;
$md-background: md-palette($md-grey, 500, 0, 600, $md-contrast-palettes) !default;
$md-warn: md-palette($md-red, 500, 100, 700, $md-contrast-palettes) !default;
$md-foreground: if($md-is-dark-theme, $md-dark-theme-foreground, $md-light-theme-foreground) !default;

.md-dialog {
  &.md-content-overflow {
    .md-actions, md-dialog-actions {
      border-top-color: md-color($md-foreground, divider);
    }
  }
}
