@import "/src/assets/css/common-variables.scss";

.weakMessage-tip {
  background: $basic-c14;
  max-width: unit(980);
  min-width: unit(380);
  min-height: unit(100);
  width: unit(360);
  border-radius: unit(3);
  margin: auto;
  position: relative;
  display: table;
  color: $text-c31;
  #login-history-info {
    text-align: left;
    padding-right:  unit(40);
    padding-left:  unit(40);
    padding-top:  unit(32);
    padding-bottom:  unit(32);
    word-wrap: break-word;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
