@import "/src/assets/css/common-variables.scss";

.playFailBg {
  position: absolute;
  top: unit(0);
  left: unit(0);
  bottom: unit(0);
  right: unit(0);
  height: unit(92);
  margin: auto;
  text-align: center;
  .playFailButton {
    width:unit(56);
    height:unit(56);
    margin: auto;
    background: url(assets/img/56/nodata_56.png) no-repeat;
    cursor: pointer;
  }
  .playFailInfo {
    margin: auto;
    text-align: center;
    line-height: unit(16);
    margin-top: unit(20);
    .gray-info{
      color: $text-c35;
    }
  }
}
