<div class="playFailBg" id="playFailBg" [ngStyle]="showPlayFail()">
  <div class="playFailButton" (click)="refresh()"></div>
  <div class="playFailInfo">
    <span class="gray-info body-t29">{{'failed_to_play' | translate}}</span>
  </div>
</div>
