<div class="vod-episode" id="vod-episode">
    <div class="title">
        <span class="episodes-title" [class]="isEpisodesFocus ? 'focus':'unfoucs'" (click)="changeFocus('episodes')"
              *ngIf="details.VODType != '0'">{{'episodes' | translate | uppercase}}</span>
        <span class="trailers-title" [class]="isTrailerssFocus ? (details.VODType=='0'?'onlyTra':'focus'):'unfocus'"
              (click)="changeFocus('trailers')">{{'trailers' | translate | uppercase }}</span>
    </div>
    <div id="content">
        <div id="episodes-all" [ngStyle]="{display: isEpisodesFocus ? 'block' : 'none'}">
            <div id="epiHasData" *ngIf ="!ifEpisodesLength">
                <div id="episodes-page" class="episodes_page" *ngIf="totalEpisodes.length > pagesNum">
                    <div class="category-leftIcon" [style.visibility]="categoryLeftVisible" (click)="onClickLeft()"></div>
                    <div class="page-content">
                        <div class="pages" id="pages-list">
                            <li *ngFor ="let page of pages; let pageIndex = index" (click)="changePages(pageIndex)">
                                <span [ngStyle]="setStyles(pageIndex)">{{pageStr[pageIndex]}}</span>
                            </li>
                        </div>
                    </div>
                    <div class="category-rightIcon" [style.visibility]="categoryRightVisible" (click)="onClickRight()"></div>
                </div>
                <div class="noPageMargin" *ngIf="totalEpisodes.length <= pagesNum"></div>
                <div id="episodes-content">
                    <ul id="episodes" >
                        <li id="episode" *ngFor ="let episode of episodes;let episodeIndex = index" (click)="clickEpi(episode)" [class]="episode.sitcomNO == episodeNum && isEpisodesFocus ? 'focus':'unfocus'">
                            <span>{{episode.sitcomNO}}</span>
                            <span>{{episode.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="epiNoData" *ngIf ="ifEpisodesLength">
                <div class="noDataposter"></div>
                <div class="noDataMessage">{{'ondemandNoDataOne' | translate}}</div>
            </div>
        </div>

        <div id="trailers-content" [ngStyle]="{display: isTrailerssFocus ? 'inline' : 'none'}">
            <div id="trailerHasData" *ngIf ="ifclipfilesVODsLength">
                <ul id="clipfile">
                    <li id="trailers-{{clipfilesIndex}}" *ngFor="let clipfile of clipfilesVODs;let clipfilesIndex=index" (click)="clickTra(clipfile)"
                    [ngStyle]="trailerStyle()" [ngClass]="clipfilesIndex == trailerIndex ? 'clip-focus' : 'clip-blur'">
                        <img [src]="clipfile.picture" onerror="this.onerror=null;this.src='assets/img/default/ondemand_trailers.png'" />
                        <!--<span>{{clipfile.elapseTime}}</span>-->
                        <div id="play_icon" class="play_icon"></div>
                    </li>
                </ul>
            </div>
            <div class="trailerNoData" *ngIf ="!ifclipfilesVODsLength">
                <div class="noDataposter"></div>
                <div class="noDataMessage">{{'no_data' | translate}}</div>
            </div>
        </div>
        <div class="scrollList" [ngStyle]="{display: isTrailerssFocus ? 'block' : 'none'}">
            <div id="trailers-scroll" [style.visibility]="clipfilesVisible">
                <span id="scrollSpan"><div id="content"></div></span>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>
