@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.vod-episode {
  //background: $basic-c18;
  //width: unit(385);
  //height: unit(560);
  display: inline-block;
  .title {
        font-weight: bold;
        font-family: Roboto-Regular, serif;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f5f5f5;
    span {
      display: inline-block;
      //padding-top: unit(20);
      //padding-bottom: unit(20);
      //margin-left: unit(52);
      //font-size: $body-t28;
      //color: $text-c35;
      cursor: pointer;
      font-weight: bold;
            font-family: Roboto-Regular, serif;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f5f5f5;
      &:hover {
        color: $text-c31;
      }
      &:active {
        color: $text-c31;
      }
    }
    span:nth-child(1) {
      //margin-left: unit(33);
    }
    .focus {
      color: $text-c31;
      //border-bottom: 4px solid $basic-c04;
    }
    .onlyTra {
      color: $text-c31;
    }
    .unfocus {
      color: $text-c35;
    }
  }
  #content {
    .episodes_page {
      display: block;
      position: relative;
      .page-content {
        overflow: hidden;
        width: 308px;
        margin-left: 36px;
        .pages {
          min-height: 20px;
          display: inline-block;
          width: 15000px;
          li {
            display: inline-block;
            width: auto;
            cursor: pointer;
            span {
              width: 80px;
              font-size: $body-t32;
              color: $text-c35;
              height: 44px;
              line-height: 44px;
              display: inline-block;
              margin-left: 34px;
            }
            &:hover {
              span {
                font-size: $body-t31;
                color: $text-c33;
              }
            }
          }
          li:nth-child(3n+1) {
            span {
              margin-left: 0px;
            }
          }
        }
      }
      .category-leftIcon {
        width: unit(12);
        height: unit(12);
        position: absolute;
        float: left;
        left: 10px;
        top: 16px;
        cursor: pointer;
        background: url(assets/img/12/vod_episode_left_normal.png) no-repeat;
      }
      .category-leftIcon:hover {
        background: url(assets/img/12/vod_episode_left_hover.png) no-repeat;
      }
      .category-rightIcon {
        width: 12px;
        height: 12px;
        position: absolute;
        float: right;
        right: 10px;
        top: 16px;
        cursor: pointer;
        background: url(assets/img/12/vod_episode_right_normal.png) no-repeat;
      }
      .category-rightIcon:hover {
        background: url(assets/img/12/vod_episode_right_hover.png) no-repeat;
      }
    }
    .noPageMargin {
      margin-bottom: 20px;
    }
    #episodes-content {
      display: block;
      overflow: hidden;
      position: relative;
      height: 444px;
      padding-left: 34px;
      #episodes {
        padding: 0px;
        float: left;
        position: relative;
        li {
          width: 52px;
          height: 48px;
          display: inline-block;
          color: $text-c35;
          background: transparent;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
          border: 1px solid rgba(143, 143, 143, 0.1);
          line-height: 50px;
          margin-bottom: 10px;
          margin-right: 10px;
          &:hover {
            background: $basic-c26;
            color: $text-c31;
          }
        }
        .focus {
          background: $basic-c04;
          color: $text-c31;
          &:hover {
            background: $basic-c04;
            color: $text-c31;
          }
        }
        #episode:nth-child(5n) {
          margin-right: 0px;
        }
      }
      .epiNoData {
        width: 306px;
        .noDataposter {
          margin-top: 134px;
        }
      }
    }
    #trailers-content {
      margin-top: unit(13);
      position: relative;
      overflow: hidden;
      #trailerHasData {
                width: 308px;
                height: 174px;
        position: relative;
        ul {
          position: relative;
          padding-left: unit(0);
          top: unit(0);
                    display: inline-flex;
          li {
            position: relative;
            width: 155px;
            height: 84px;
            display: inline-block;
            color: $text-c35;
            background: transparent;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            margin-bottom: 12px;
            margin-right: 15px;
            img {
              display: inline;
                            width: 308px;
                            height: 174px;
            }
            span {
              position: relative;
              top: -20px;
              float: right;
              background: $basic-C08;
              color: $text-c31;
              width: 41px;
              height: 17px;
              font-size: $body-t34;
              text-align: center;
                            margin-right: 30px;
            }
            #play_icon {
              position: absolute;
              background: url(assets/img/32/play_fullscreen_32.png) no-repeat;
              width: 36px;
              height: 36px;
                            margin-top: 14%;
                            margin-left: 26%;
            }
          }
          .clip-blur {
                        width: 308px;
                        height: 174px;
            img {
                            width: 308px;
                            height: 174px;
                        }
            .play_icon {
              top: 26px;
              left: 61px;
              opacity: 0.5;
            }
            &:hover {
              img {
                border: 2px solid $basic-c02 ;
                                width: 305px;
                                height: 170px;
              }
              .play_icon {
                opacity: 1;
              }
            }
            @media screen and (max-width:1440px) {
              width: 117px;
              height: 63px;
              margin-bottom: 10px;
              img {
                width: 117px;
                height: 63px;
              }
              .play_icon {
                top: 15px;
                left: 42px;
                opacity: 0.5;
              }
              &:hover {
                img {
                  border: 2px solid $basic-c02;
                  width: 113px;
                  height: 59px;
                }
                .play_icon {
                  opacity: 1;
                }
              }
            }
          }
          .clip-focus {
                        width: 308px;
                        height: 174px;
            img {
              border: 2px solid $text-c31;
                            width: 305px;
                            height: 170px;
            }
            .play_icon {
              top: 26px;
              left: 61px;
              opacity: 1;
            }
            @media screen and (max-width:1440px) {
              width: 117px;
              height: 63px;
              margin-bottom: 10px;
              img {
                border: 2px solid $text-c31;
                width: 113px;
                height: 59px;
              }
              .play_icon {
                top: 15px;
                left: 42px;
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .scrollList {
      position: relative;
      top: -468px;
      #trailers-scroll {
        height: 468px;
        width: 11px;
        right: 7px;
        cursor: pointer;
        position: absolute;
        span {
          height: unit(48);
          width: unit(6);
          top: unit(0);
          cursor: pointer;
          position: absolute;
          background: rgba(64, 64, 64, 0.9);
          border-radius: unit(24);
        }
      }
    }
    .epiNoData {
      position: relative;
      width: 385px;
      .noDataposter {
        width: 72px;
        height: 72px;
        text-align: center;
        margin: 0 auto;
        margin-top: 154px;
        position: relative;
        @extend .nodata2-56;
      }
      .noDataMessage {
        color: $text-c35;
        font-size: 16px;
        text-align: center;
        position: relative;
        margin-top: 22px;
      }
    }
    .trailerNoData {
      position: relative;
      width: 385px;
      .noDataposter {
        width: 72px;
        height: 72px;
        text-align: center;
        margin: 0 auto;
        margin-top: 154px;
        position: relative;
        @extend .nodata3-56;
      }
      .noDataMessage {
        color: $text-c31;
        font-size: 16px;
        text-align: center;
        position: relative;
        margin-top: 22px;
      }
    }
  }
}
