* { outline: none }

img { -webkit-user-drag: none }

span.active {
  background-color: $backgroundColor;
}

input::-ms-clear {
  display: none;
  background-color: transparent !important;
}

input[type=password]::-ms-reveal {
  display: none;
  background-color: $basic-c19 !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 unit(1000) $basic-c19 inset;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  //-webkit-box-shadow: 0 0 0 unit(1000) $basic-c19 inset;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: $text-c32;

  &:hover {
    color: $text-c31;
  }
}

/* Catch the captcha */
body > div[style]:last-child {
  z-index: 9999999999999;
}

.grecaptcha-badge {
  display: none !important;
}
