body .details .player {
  width: 100%;
  height: 100%;
}

.details .player #videoPlayer {
  position: absolute;
  width:100%;
  top: -2000px;
}

.details .player #videoFailPlay {
  position: relative;
}

.details .player #iosPlayIcon {
  display: block;
  width: 100%;
  height: 560px;
  span {
    background-image: url(../../assets/img/play-current.png);
    background-size: 260% 100%;
    display: inline-block;
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
    background-position: 0px 0px;
    left: 43%;
    top: 40%;
    position: relative;
  }
}
