@font-face {
    font-family: 'Helvet-Tica';
    src: url('../../assets/font/HelveticaNeue.ttf');
}

body {
    background: #051f48;
    font-family: Helvet-Tica, sans-serif;
    -webkit-user-select: none;
}

.details {
  .player {
    width: 100%;
    height: 800px;
    #videoFailPlay {
        width: 100%;
        height: 808px;
        position: absolute;
        top: 0px;
        text-align: center;
        color: white;
        line-height: 800px;
        background: #171531;
        font-size: 26px;
        display: none;
        span {
            width: 680px;
            line-height: 31px;
            display: block;
            margin: auto;
            top: 350px;
            position: relative;
        }
    }
  }
  .detail {
    .title {
        .playTrail {
            display: inline-block;
            margin-top: 22px;
            width: 100%;
            position: relative;
            span {
                margin-left: 20px;
                font-size: 20px;
                color:#ebebeb;
                line-height: 38px;
            }
            span:nth-child(2) {
                margin-left: 46px;
            }
            .playFilmButton {
                background: #dead30;
                width: 160px;
                height: 38px;
                display: inline-block;
                right: 36px;
                position: absolute;
                border-radius: 6px;
                cursor: pointer;
                .playFilmIcon {
                    position: absolute;
                    background: url(../../assets/img/32/play_fullscreen_32.png) no-repeat;
                    background-size: contain;
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    top: 3px;
                    margin-left: 10px;
                }
            }
            div {
                position: absolute;
                background: url(../../assets/img/32/play_fullscreen_32.png) no-repeat;
                width: 32px;
                height: 32px;
            }
        }
      .name {
        margin-left: 30px;
        font-size: 34px;
        color: #f5f5f5;
        display: inline-block;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 900;
      }
      .hvs-app{
        background: #171531;
        margin: auto;
        display: block;
        max-width: 600px;
        position: relative;
        border-radius: 20px;
        margin-top: 30px;
        margin-bottom: 27px;
        height: 50px;
        line-height: 50px;
        text-align: center;
         span {
            left: 35px;
            position: relative;
            font-size: 24px;
            color: #b9b6b6;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: auto;
        }
        div {
            width: 33px;
            height: 33px;
            background: url(../../assets/img/DelightTV@40.png) center center no-repeat;
            background-size: 100%;
            display: inline-block;
            top: 10px;
            left: 68px;
            position: absolute;
            border-radius: 2px;
            @media screen and (max-width: 550px) {
                width: 16px;
                height: 16px;
                background: url(../../assets/img/DelightTV@16.png) center center no-repeat;
            }
        }
      }
    }
    .score {
        .averageScore {
          font-size: 34px;
          color: #ffb406;
          background: #171531;
          width: 90px;
          font-weight: bold;
          float: right;
          height: 90px;
          line-height: 90px;
          text-align: center;
          border-radius: 45px;
          top: -40px;
          right: 30px;
          position: relative;
          .changeSize {
              font-size: 64px;
          }
          .hideA {
              display: inline-block;
          }
        }
        .info {
            margin-bottom: 88px;
            margin-left: 30px;
            margin-top: 20px;
            span {
                color: #6d6d6d;
                font-style: normal;
                font-size: 28px;
            }
        }
    }
    .content {
        margin-bottom: 30px;
        position: relative;
        .storyline {
            margin-left: 30px;
            font-size: 24px;
            color: #f5f5f5;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 900;
            margin-bottom: 34px;
        }
         .introduceCtrl {
            position: relative;
            width: 96%;
            font-size: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 68px;
            color: #6d6d6d;
            margin-left: 30px;
            .introduce {
                width: 98%;
                font-size: 30px;
                line-height: 34px;
                color: #6d6d6d;
            }
        }
        .introducemore {
            background: url(../../assets/img/32/down_32.png) center center no-repeat;
            width: 30px;
            height: 30px;
            float: right;
            top: 30px;
            right: 30px;
            position: absolute;
        }
    }
  }
 app-vod-episode {
    .bottom-line {
        padding-top: 30px;
        border-bottom: 1px solid rgba(99, 99, 99, 0.25);
        width: 100%;
    }
    #epiHasData {
        padding-bottom: 0px;
        padding-top: 30px;
    }
    .episodes-title {
        display: inline-block;
        width: 100%;
        height: 24px;
        line-height: 24px;
        font-size: 24px;
        padding-top: 30px;
        padding-bottom: 0px;
        color: #f5f5f5;
        margin-left: 30px;
    }
    .episodes_page {
        display: block;
        position: relative;
        .page-content {
            margin-left: 30px;
            overflow: hidden;
            width: 310px;
            .pages {
                min-height: 20px;
                display: inline-block;
                width: 15000px;
                li {
                    display: inline-block;
                    width: auto;
                    cursor: pointer;
                    span {
                        width: 80px;
                        font-size: 14px;
                        color: #8f8f8f;
                        height: 44px;
                        line-height: 44px;
                        display: inline-block;
                        margin-left: 34px;
                    }
                    &:hover {
                        span {
                            font-size: 14px;
                            color: #dead30;
                        }
                    }
                    .pagesfocus {
                        color: #dead30;
                        &:hover {
                            color: #dead30;
                        }
                    }
                    .unpagesfocus {
                        color: #8f8f8f;
                        &:hover {
                            color: #dead30;
                        }
                    }
                }
                li:nth-child(3n+1) {
                    span {
                        margin-left: 0px;
                    }
                }
            }
        }
        .category-leftIcon {
            width: 12px;
            height: 12px;
            position: absolute;
            float: left;
            left: 10px;
            top: 16px;
            cursor: pointer;
            background: url(../../assets/img/12/vod_episode_left_normal.png) no-repeat;
        }
        .category-leftIcon:hover {
            background: url(../../assets/img/12/vod_episode_left_hover.png) no-repeat;
        }
        .category-rightIcon {
            width: 12px;
            height: 12px;
            position: absolute;
            float: left;
            left: 355px;
            top: 16px;
            cursor: pointer;
            background: url(../../assets/img/12/vod_episode_right_normal.png) no-repeat;
        }
        .category-rightIcon:hover {
            background: url(../../assets/img/12/vod_episode_right_hover.png) no-repeat;
        }
    }
    #episodes-content {
        display: block;
        overflow: hidden;
        position: relative;
        height: 126px;
        left: 30px;
        width: 950px;
        #episodes {
            padding: 0px;
            float: left;
            position: relative;
            margin: 0;
            li {
                width: 42px;
                height: 38px;
                display: inline-block;
                color: #8f8f8f;
                background: transparent;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                border: 1px solid rgba(143, 143, 143, 0.1);
                line-height: 38px;
                margin-bottom: 46px;
                margin-right: 40px;
                &:hover {
                    background: rgba(#5f5f5f, .2);
                    color: #f5f5f5;
                }
            }
            li:nth-child(10), li:nth-child(20) {
                margin-right: 40px;
            }
            .focus {
                background: #dead30;
                color: #f5f5f5;
                &:hover {
                    background: #dead30;
                    color: #f5f5f5;
                }
            }
        }
    }
  }
  app-trails {
    #trails-vod {
        padding-bottom: 30px;
        .bottom-line {
            padding-top: 30px;
            border-bottom: 1px solid rgba(99, 99, 99, 0.25);
            width: 100%;
        }
        .trails-title {
            margin-left: 30px;
            display: inline-block;
            width: 100%;
            height: 24px;
            line-height: 24px;
            font-size: 24px;
            padding-top: 30px;
            padding-bottom: 0px;
            color: #f5f5f5;
        }
        .trailsVodList {
            padding-bottom: 0px;
            padding-top: 30px;
            position: relative;
            .leftIcon {
                width: 60px;
                height: 60px;
                position: absolute;
                z-index: 99;
                margin-left: 0px;
                left: 40px;
                margin-top: -35px;
                top: 140px;
                cursor: pointer;
                background-size: 48px 48px;;
                background: url(../../assets/img/48/left_48.png) center center no-repeat;
                background-position: 0px;
                .leftBackground {
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }

            .leftIcon:hover {
                background-size: 48px 48px;;
                background: url(../../assets/img/48/left_48.png) center center no-repeat;
                background-position: 0px;
            }

            .rightIcon {
                width: 60px;
                height: 60px;
                position: absolute;
                z-index: 100;
                top: 182px;
                left: 795px;
                float: left;
                margin-top: -76px;
                cursor: pointer;
                background-size: 48px 48px;;
                background: url(../../assets/img/48/right_48.png) center center no-repeat;
                background-position: 8px;
                .rightBackground {
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }

            .rightIcon:hover {
                background-size: 48px 48px;;
                background: url(../../assets/img/48/right_48.png) center center no-repeat;
                background-position: 8px;
            }

            .list-panel {
                width: 835px;
                height: 228px;
                overflow: hidden;
                left: 30px;
                position: relative;
            }

            .trailslist {
                width: 8000px;
                height: 228px;
                position: relative;
            }

            #item  {
                position: relative;
                width: 384px;
                height: 216px;
                display: inline-block;
                color: #8f8f8f;
                background: transparent;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                margin-bottom: 12px;
                margin-right: 15px;
                float: left;
                img {
                    display: block;
                }
                span {
                    position: relative;
                    top: -40px;
                    float: right;
                    color: #f5f5f5 ;
                    width: 90px;
                    height: 40px;
                    font-size: 24px;
                    right: 0px;
                    text-align: center;
                    line-height: 40px;
                }
                #play_icon {
                    position: absolute;
                    background: url(../../assets/img/72/play_72.png) no-repeat;
                    width: 72px;
                    height: 72px;
                    left: 156px;
                    top: 72px;
                }
            }
            .clip-blur {
                width: 384px;
                height: 216px;
                img {
                    width: 384px;
                    height: 216px;
                }
                .play_icon {
                    top: 26px;
                    left: 61px;
                    opacity: 0.5;
                }
                &:hover {
                    img {
                        border: 2px solid rgba(#f5f5f5, .5) ;
                        width: 380px;
                        height: 212px;
                    }
                    .play_icon {
                        opacity: 1;
                    }
                }
                @media screen and (max-width:1440px) {
                    width: 384px;
                    height: 216px;
                    margin-bottom: 10px;
                    img {
                        width: 384px;
                        height: 216px;
                    }
                    .play_icon {
                        top: 15px;
                        left: 42px;
                        opacity: 0.5;
                    }
                    &:hover {
                        img {
                            border: 2px solid rgba(#f5f5f5, .5);
                            width: 380px;
                            height: 212px;
                        }
                        .play_icon {
                            opacity: 1;
                        }
                    }
                }
            }
            .clip-focus {
                width: 384px;
                height: 216px;
                img {
                    border: 2px solid #f5f5f5;
                    width: 380px;
                    height: 212px;
                }
                .play_icon {
                    top: 26px;
                    left: 61px;
                    opacity: 1;
                }
                @media screen and (max-width:1440px) {
                    width: 384px;
                    height: 216px;
                    margin-bottom: 10px;
                    img {
                        border: 2px solid #f5f5f5;
                        width: 380px;
                        height: 212px;
                    }
                    .play_icon {
                        top: 15px;
                        left: 42px;
                        opacity: 1;
                    }
                }
            }
            .item:nth-child(6n+6) {
                margin-left: 1px;
                margin-right: 20px;
            }

            .child-no-data {
                padding-top: 80px;
            }

            @media screen and (max-width: 1440px) {
                .column {
                    margin-left: 0px;
                    max-width: 980px;
                }
                .column .home {
                    position: relative;
                    padding-left: 30px;
                    max-width: 980px;
                    height: 320px;
                    margin-top: 0px;
                }
                .column .home .list {
                    height: 275px;
                }
                .column .home .title {
                    max-width: 980px;
                    margin-left: 0px;
                }
                .column .home .list-panel {
                    max-width: 980px;
                    height: 275px;
                    margin: auto;
                }
                .column .home .list-panel .item {
                    width: 175px;
                    height: 240px;
                    margin-right: 20px;
                    margin-left: 0px
                }
                .column .home .list-panel .item .name {
                    width: 175px;
                    bottom: -30px;
                }
                .column .home .list-panel .item .imgs {
                    width: 175px;
                    height: 240px;
                }
                .column .home .list-panel .item img {
                    width: 175px;
                }
                .column .home .list-panel .item:nth-child(5n+1) {
                    margin-left: 0px;
                }
                .column .home .list-panel .item:nth-child(6n+6) {
                    margin-right: 20px;
                }
                .column .home .list-panel .item .score {
                    bottom: 0px;
                    left: 133px;
                }
                .column .home .leftIcon {
                    top: 142px;
                    left: 75px;
                }
                .column .home .rightIcon {
                    left: 780px;
                    top: 110px;
                }
            }
        }
    }
  }
  app-cast-vod{
    .second-line {
        width: 100%;
        border-bottom: 1px solid rgba(99,99,99,0.25);
    }
    .cast-title {
        margin-left: 30px;
        display: inline-block;
        width: 100%;
        height: 24px;
        line-height: 24px;
        font-size: 24px;
        padding-top: 30px;
        padding-bottom: 20px;
        color: #f5f5f5;
    }
    .cast-content {
        .HeadAndName {
            margin-left: 30px;
            width: 97%;
            height: 125px;
            position: relative;
            padding-left: 0px;
            padding-right: 0px;
            .item {
                float: left;
                width: 100px;
                height: 125px;
                position: relative;
                margin-right: 6%;
                img {
                    width: 100%;
                    height: 80%;
                    border-radius: 100%;
                    overflow: hidden;
                    background-size: 88px 88px;
                }
                img:hover {
                  border: 4px solid #f5f5f5;
                  width: 96px;
                  top: -2px;
                  left: -2px;
                  height: 96px;
                  cursor: pointer;
                  position: relative
                }
                span {
                    position: absolute;
                    left: -25px;
                    top: 88px;
                    text-align: center;
                    padding-top: 21px;
                    width: 150%;
                    height: 15px;
                    line-height: 15px;
                    padding-bottom: 1px;
                    font-size: 16px;
                    color: #f5f5f5;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .upArrow {
                    position: absolute;
                    left: 40px;
                    top: 130px;
                    background: url(../../assets/img/20/angleup_20.png) center center no-repeat;
                    background-color: #051f48;
                    width: 20px;
                    height: 20px;
                    padding-top: 0px;
                    margin-top: 10px;
                }
            }
        }
        .first-line {
            margin-left: 30px;
            padding-top: 30px;
            border-bottom: 1px solid rgba(99, 99, 99, 0.25);
            width: 100%;
        }
        .castVodList {
            padding-bottom: 30px;
            padding-top: 30px;
            width: 100%;
            height: 285px;
            margin-left: -40px;
            columnshow {
                .setBorder {
                    border-bottom: 1px solid #f5f5f5;
                    margin-top: 30px;
                    position: relative;
                }
                .column {
                    margin-left: 0px;
                    width: 100%;
                    height: 319px;
                }

                .column:last-child {
                    .setBorder {
                        border-bottom: none;
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }

                .home {
                    position: relative;
                    width: 100%;
                    position: relative;
                    margin: auto;
                    padding-left: 30px;
                }

                .title {
                    height: 23px;
                    line-height: 23px;
                    padding-bottom: 1px;
                    display: inline-block;
                    font-size: 24px;
                    position: relative;
                    margin-bottom: 20px;
                    color: #f5f5f5;
                    .icon {
                        position: relative;
                        top: 5px;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
                .leftIcon {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    z-index: 90;
                    margin-left: 0px;
                    left: 75px;
                    margin-top: -35px;
                    top: 142px;
                    cursor: pointer;
                    background-size: 48px 48px;;
                    background: url(../../assets/img/48/left_48.png) center center no-repeat;
                    background-position: 0px;
                    .leftIconBackground {
                        width: 60px;
                        height: 60px;
                        border-radius: 30px;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                .leftIcon:hover {
                    background-size: 48px 48px;;
                    background: url(../../assets/img/48/left_48.png) center center no-repeat;
                    background-position: 0px;
                }

                .rightIcon {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 110px;
                    left: 780px;
                    cursor: pointer;
                    background-size: 48px 48px;;
                    background: url(../../assets/img/48/right_48.png) center center no-repeat;
                    background-position: 8px;
                    .rightIconBackground {
                        width: 60px;
                        height: 60px;
                        border-radius: 30px;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                .rightIcon:hover {
                    background-size: 48px 48px;;
                    background: url(../../assets/img/48/right_48.png) center center no-repeat;
                    background-position: 8px;
                }

                .list-panel {
                    width: 1280px;
                    height: 319px;
                    overflow: hidden;
                    left: 38px;
                    position: relative;
                }

                .list {
                    width: 8000px;
                    height: 319px;
                    position: relative;
                }

                .item {
                    position: relative;
                    display: inline-block;
                    width: 214px;
                    height: 319px;
                    margin-right: 19px;
                    float: left;
                .imgs {
                    width: 214px;
                    position: relative;
                    height: 284px;
                    overflow: hidden;
                    cursor: pointer;
                }
                img {
                    width: 214px;
                    position: absolute;
                    top: 0px;
                }
                .score {
                    width: 42px;
                    height: 24px;
                    position: absolute;
                    bottom: 34px;
                    left: 172px;
                    color: #f5f5f5;
                    line-height: 24px;
                    font-size: 18px;
                    display: inline-block;
                    background-color: rgba(0, 0, 0, 0.7);
                    text-align: center;
                    cursor: pointer;
                    font-family: ARIAL;
                }
                }
                .name {
                    position: absolute;
                    height: 17px;
                    line-height: 17px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 16px;
                    color: #f5f5f5;
                    display: inline-block;
                    width: 214px;
                    bottom: 0px;
                    left: 0px;
                    cursor: pointer;
                }
                .item:nth-child(6n+6) {
                    margin-left: 1px;
                    margin-right: 20px;
                }

                .child-no-data {
                    padding-top: 80px;
                }

                @media screen and (max-width: 1440px) {
                    .column {
                        margin-left: 0px;
                        max-width: 980px;
                    }
                    .column .home {
                        position: relative;
                        padding-left: 30px;
                        max-width: 980px;
                        height: 320px;
                        margin-top: 0px;
                    }
                    .column .home .list {
                        height: 275px;
                    }
                    .column .home .title {
                        max-width: 980px;
                        margin-left: 0px;
                    }
                    .column .home .list-panel {
                        max-width: 790px;
                        height: 275px;
                        margin-left: 0px;
                    }
                    .column .home .list-panel .item {
                        width: 180px;
                        height: 240px;
                        margin-right: 20px;
                        margin-left: 0px
                    }
                    .column .home .list-panel .item .name {
                        width: 180px;
                        bottom: -30px;
                    }
                    .column .home .list-panel .item .imgs {
                        width: 180px;
                        height: 240px;
                    }
                    .column .home .list-panel .item img {
                        width: 180px;
                    }
                    .column .home .list-panel .item:nth-child(5n+1) {
                        margin-left: 0px;
                    }
                    .column .home .list-panel .item:nth-child(6n+6) {
                        margin-right: 20px;
                    }
                    .column .home .list-panel .item .score {
                        bottom: 0px;
                        left: 138px;
                    }
                    .column .home .leftIcon {
                        top: 142px;
                        left: 75px;
                        z-index: 90;
                    }
                    .column .home .rightIcon {
                        left: 780px;
                        top: 110px;
                    }
                }
            }
        }
    }
  }
  app-stills-vod{
      .stillsVod-home {
        width: 100%;
        height: 254px;
        margin: auto;
        padding-bottom: 40px;
      }

        .stillsVod-name {
            margin-left: 30px;
            position: relative;
            margin-bottom: 20px;
            display: inline-block;
            line-height: 24px;
            color: #f5f5f5;
            font-size: 24px;
            cursor: pointer;
        }

        .line {
            width: 100%;
            border-bottom: 1px solid rgba(99, 99, 99, 0.25);
            margin-bottom: 30px;
        }

        .vodStills {
            margin-left: 30px;
            width: 100%;
            height: 175px;
            display: block;
            overflow: hidden;
        }

        @media screen and (max-width: 1440px) {
            .stillsVod-home {
                width: 100%;
            }
            .stillsVod-home .line {
                width: 100%;
            }
            .stillsVod-home .vodStills {
                left: 30px;
                width: 100%;
            }
        }

        .noRecmList {
            margin-bottom: 70px;
            position: relative;
        }
        .vodStills{
            left: 30px;
            width: 96%;
            margin: auto;
            left: 13px;
            position: relative;
            .item{
                width:175px;
                height:175px;
                position: relative;
                float: left;
                margin-right: 20px;
                margin-bottom: 20px;
                cursor: pointer;
                img{
                    width:175px;
                    height:175px;
                }
            }
            .item:nth-child(7n+7){
                margin-right: 0;
            }
        }
        @media screen and (max-width: 1440px){
            .vodStills{width:100%; left: 30px;}
            .vodStills .item:nth-child(7n+7){margin-right: 20px;}
            .vodStills .item:nth-child(5n+5){margin-right: 0;}

        }
  }
  app-seasons {
    #seasons-vod {
        padding-bottom: 30px;
        .bottom-line {
            padding-top: 30px;
            border-bottom: 1px solid rgba(99, 99, 99, 0.25);
            width: 100%;
        }
        .seasons-title {
            margin-left: 30px;
            display: inline-block;
            width: 100%;
            height: 24px;
            line-height: 24px;
            font-size: 24px;
            padding-top: 30px;
            padding-bottom: 0px;
            color: #f5f5f5;
        }
        .seasonsVodList {
            padding-bottom: 30px;
            padding-top: 30px;
            columnshow {
                .setBorder {
                    border-bottom: 1px solid #f5f5f5;
                    margin-top: 30px;
                    position: relative;
                }
                .column {
                    margin: auto;
                    width: 100%;
                    height: 319px;
                    margin-left: 0px;
                }

                .column:last-child {
                    .setBorder {
                        border-bottom: none;
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }

                .home {
                    position: relative;
                    padding-left: 30px;
                    width: 100%;
                    position: relative;
                    margin: auto;
                }

                .title {
                    height: 23px;
                    line-height: 23px;
                    padding-bottom: 1px;
                    display: inline-block;
                    font-size: 24px;
                    position: relative;
                    margin-bottom: 20px;
                    color: #f5f5f5;
                    .icon {
                        position: relative;
                        top: 5px;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
                .leftIcon {
                    width: 60px;
                    height: 60px;
                    position: relative;
                    z-index: 90;
                    margin-left: 0px;
                    left: 10px;
                    margin-top: -35px;
                    top: 160px;
                    cursor: pointer;
                    background-position: 0px;
                    background-size: 48px 48px;;
                    background: url(../../assets/img/48/left_48.png) center center no-repeat;
                    .leftIconBackground {
                        width: 60px;
                        height: 60px;
                        border-radius: 30px;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                .leftIcon:hover {
                    background-size: 48px 48px;;
                    background: url(../../assets/img/48/left_48.png) center center no-repeat;
                }

                .rightIcon {
                    width: 60px;
                    height: 60px;
                    position: relative;
                    float: left;
                    margin-left: 1417px;
                    margin-top: -195px;
                    cursor: pointer;
                    background-size: 48px 48px;;
                    background: url(../../assets/img/48/right_48.png) center center no-repeat;
                    background-position: 8px;
                    .rightIconBackground {
                        width: 60px;
                        height: 60px;
                        border-radius: 30px;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                .rightIcon:hover {
                    background-size: 48px 48px;;
                    background: url(../../assets/img/48/right_48.png) center center no-repeat;
                    background-position: 8px;
                }

                .list-panel {
                    width: 1146px;
                    height: 319px;
                    overflow: hidden;
                    left: 0px;
                    position: relative;
                }

                .list {
                    width: 8000px;
                    height: 319px;
                    position: relative;
                }

                .item {
                    position: relative;
                    display: inline-block;
                    width: 214px;
                    height: 319px;
                    margin-right: 19px;
                    float: left;
                .imgs {
                    width: 214px;
                    position: relative;
                    height: 284px;
                    overflow: hidden;
                    cursor: pointer;
                }
                img {
                    width: 214px;
                    position: absolute;
                    top: 0px;
                }
                .score {
                    width: 42px;
                    height: 24px;
                    position: absolute;
                    bottom: 34px;
                    left: 172px;
                    color: #f5f5f5;
                    line-height: 24px;
                    font-size: 18px;
                    display: inline-block;
                    background-color: rgba(0, 0, 0, 0.7);
                    text-align: center;
                    cursor: pointer;
                    font-family: ARIAL;
                }
                }
                .name {
                    position: absolute;
                    height: 17px;
                    line-height: 17px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 16px;
                    color: #f5f5f5;
                    display: inline-block;
                    width: 214px;
                    bottom: 0px;
                    left: 0px;
                    cursor: pointer;
                }
                .item:nth-child(6n+6) {
                    margin-left: 1px;
                    margin-right: 20px;
                }

                .child-no-data {
                    padding-top: 80px;
                }

                @media screen and (max-width: 1440px) {
                    .column {
                        margin-left: 0px;
                        max-width: 980px;
                    }
                    .column .home {
                        position: relative;
                        max-width: 980px;
                        height: 320px;
                        margin-top: 0px;
                        padding-left: 30px;
                    }
                    .column .home .list {
                        height: 275px;
                    }
                    .column .home .title {
                        max-width: 980px;
                        margin-left: 0px;
                    }
                    .column .home .list-panel {
                        max-width: 970px;
                        height: 275px;
                        margin: auto;
                    }
                    .column .home .list-panel .item {
                        width: 175px;
                        height: 240px;
                        margin-right: 20px;
                        margin-left: 0px
                    }
                    .column .home .list-panel .item .name {
                        width: 175px;
                        bottom: -30px;
                    }
                    .column .home .list-panel .item .imgs {
                        width: 175px;
                        height: 240px;
                    }
                    .column .home .list-panel .item img {
                        width: 175px;
                    }
                    .column .home .list-panel .item:nth-child(5n+1) {
                        margin-left: 0px;
                    }
                    .column .home .list-panel .item:nth-child(6n+6) {
                        margin-right: 20px;
                    }
                    .column .home .list-panel .item .score {
                        bottom: 0px;
                        left: 133px;
                    }
                    .column .home .leftIcon {
                        top: 142px;
                        left: 10px;
                    }
                    .column .home .rightIcon {
                        left: -525px;
                        top: 26px;
                    }
                }
            }
        }
    }
  }
  app-view-also{
    .viewvodHome {
        position: relative;
        width: 100%;
        margin: 0 auto;
        display: table;
        @media screen and (max-width: 1440px) {
            width: 980px;
            margin: 0 auto;
        }
        .likevod-title {
            height: 24px;
            margin: 0;
            line-height: 24px;
            padding-bottom: 1px;
            font-size: 24px;
            position: relative;
            margin-bottom: 20px;
            color:#f5f5f5;
            display: inline-block;
            margin-left: 30px;
        }
        .likevod-line {
            border: 0;
            border-bottom: 1px solid rgba(99, 99, 99, 0.25);
            height: 1px;
            margin-bottom: 30px;
            @media screen and (max-width: 1440px) {
                width: 100%;
            }
            position: relative;
        }
        .waterfall-vod-box {
            padding-left: 30px;
            padding-right: 10px;
            position: relative;
            margin: auto;
            .waterfallVod-frame {
                position: relative;
                float: left;
                margin-right: 19px;
                margin-bottom: 79px;
                @media screen and (max-width: 1440px) {
                margin-right: 15px;
                }
                .vod-poster {
                width: 214px;
                height: 284px;
                display: block;
                cursor: pointer;
                @media screen and (max-width: 1440px) {
                    width: 175px;
                    height: 240px;
                }
                .imgs {
                    width: 214px;
                    height: 284px;
                    @media screen and (max-width: 1440px) {
                    width: 175px;
                    height: 240px;
                    }
                    position: absolute;
                    display: inline-block;
                    overflow: hidden;
                }
                img {
                    width: 214px;
                    @media screen and (max-width: 1440px) {
                        width: 103%;
                    }
                    position: absolute;
                    display: inline-block;
                }
                .vod-score {
                    color: #f5f5f5;
                    display: inline-block;
                    position: absolute;
                    right: 0px;
                    font-size: 18px;
                    line-height: 24px;
                    margin-left: 172px;
                    margin-top: 260px;
                    background-color: rgba(#000, .7);
                    width: 42px;
                    height: 24px;
                    text-align: center;
                    font-family: ARIAL;
                    @media screen and (max-width: 1440px) {
                    margin-left: 138px;
                    margin-top: 216px;
                    }
                }
                }
                .vod-name {
                width: 214px;
                height: 24px;
                @media screen and (max-width: 1440px) {
                    width: 175px;
                }
                position: absolute;
                display: inline-block;
                color: #f5f5f5;
                font-size: 16px;
                line-height: 24px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-top: 15px;
                cursor: pointer;
                }
            }
            .waterfallVod-frame:nth-child(6n+7) {
                margin-right: 0;
            }
            @media screen and (max-width: 1440px) {
                .waterfallVod-frame:nth-child(5n+2),
                .waterfallVod-frame:nth-child(5n+3),
                .waterfallVod-frame:nth-child(5n+4){
                    margin-right: 15px;
                }
                .waterfallVod-frame:nth-child(5n+5) {
                    margin-right: 0;
                }
            }
        }
    }

    .noRecmList {
        margin-top: 270px;
        position: relative;
    }

  }
}

#popweixin {
    width:100%;
    height:100%;
    overflow:hidden;
    position:fixed;
    z-index:1000;
    background:rgba(0,0,0,.5);
    top:0;
    left:0;
    display:none;
     .tip {
        width: 50%;
        background: rgba(0,0,0,0.5);
        z-index: 1001;
        float: right;
        position: relative;
        right: 4px;
    }
}
.top2bottom {
    -webkit-animation:top2bottom 1.2s ease;
    -moz-animation:top2bottom 1.2s ease;
    -o-animation:top2bottom 1.2s ease;
    animation:top2bottom 1.2s ease;
    -webkit-animation-fill-mode:backwards;
    -moz-animation-fill-mode:backwards;
    -o-animation-fill-mode:backwards;
    animation-fill-mode:backwards
}
.animate-delay-1 {
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -o-animation-delay:1s;
    animation-delay:1s
}
@-webkit-keyframes top2bottom {
    0% {
        -webkit-transform:translateY(-300px);
        opacity:.6
    }
    100% {
        -webkit-transform:translateY(0px);
        opacity:1
    }
}
@keyframes top2bottom {
        0% {
        transform:translateY(-300px);
        opacity:.6
    }
    100% {
        transform:translateY(0px);
        opacity:1
    }
}
