//== Media queries breakpoints
// Extra small screen / phone
$screen-sm-min: 790px;
$screen-md-min: 992px;
$screen-lg-min: 1024px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$backgroundColor: gray;
