@import "/src/assets/css/common-variables.scss";

.bottom-routes {
  @extend .bg_default1920x1080;
  display: block;
  position: relative;
  width: 100%;
  min-height: unit(984);
  background-size: cover;
}

.bottom {
  width: unit(1280);
  margin: auto;
  .title {
    margin-bottom: unit(20);
    padding-top: unit(80);
    color: $basic-c01;
  }
  .line {
    border-bottom: unit(1) solid $basic-c03;
  }
  .content {
    padding-bottom: unit(6);
    padding-top: unit(20);
    color: $basic-c20;
    .bottom-about{
      .bottom-logo{
        width: unit(120);
        height: unit(32);
        margin: auto;
        background: url(assets/img/logo.png) no-repeat;
      }
      .bottom-about-text{
          p {
              text-align: justify;
              text-indent: 20px;
              line-height: 20px;
              font-size: 18px;
          }
          .bottom-about-ip{
            margin-top: unit(20);
            display: block;
          }
          .bottom-about-version{
            margin-top: unit(20);
            display: block;
          }
      }
    }
    .bottom-privacy{
      line-height: unit(20);
      .bottom-privacy-content{
        margin-top: unit(18);
      }
    }
    .bottom-help div{
      margin-bottom: unit(20);
    }
    .software_license{
      .software_license-title {
        color: $text-c35;
        margin-bottom: unit(24);
      }
      .software_license-content {
        color: $text-c35;
        line-height: unit(20);
        margin-bottom: unit(24);
      }
      .copyright_notice-content-last {
        line-height: unit(20);
        margin-bottom: unit(24);
        .softWare {
          color: $text-c35;
        }
        .copyright {
          color: $text-c35;
        }
        .copyright-content {
          color: $text-c35;
        }
        .license {
          color: $text-c35;
          .license-content {
            color: $text-c35;
          }
        }
      }
    }
  }
}

