<div class="bottom-routes">
  <div class="bottom">
    <div class="title body-t24">{{ title | translate}}</div>
    <div class="line"></div>
    <div class="content">
      <div class="bottom-about" *ngIf="title=='about_us'">
        <div class="bottom-about-text">
          <p>
            MTC | ТВ - современный онлайн кинотеатр для всей семьи.
            Сервис предлагает самую полную коллекцию любимых сериалов и шоу телеканалов, а также лучшие фильмы и мультфильмы от легендарной студии Disney.
            Кроме того, для пользователей доступен удобный формат онлайн-вещания телеканалов.
            И, конечно же, только в MTC | ТВ доступны премьеры самых ожидаемых телевизионных программ до ТВ-эфира!
          </p>
          <p>
            Сервис доступен по подписке на месяц и позволяет пользователю смотреть контент на любом устройстве: на смартфонах, планшетах, ноутбуках и телевизорах.
            Можно начать просмотр на одном устройстве и закончить - на другом! И все это по одной подписке и без рекламы.
          </p>
        </div>
      </div>
      <div class="bottom-privacy" *ngIf="title=='privacy_policy'">
        <div class="bottom-privacy-title body-t31">{{'usage_data_for_product_optimization' | translate}}</div>
        <div class="bottom-privacy-content body-t32">{{'bottom_privacy_comment' | translate}}</div>
      </div>
      <div class="software_license" *ngIf="title=='software_license'">
        <div class="software_license-title body-t31">Open Source Software Notice</div>
        <div class="software_license-content body-t32">This document contains an open source software notice for this product. The open source software licenses are granted by the respective right holders. And the open source licenses prevails all other license information with regard to the respective open source software contained in the product.</div>
        <div class="software_license-title body-t31">Warranty Disclaimer</div>
        <div class="software_license-content body-t32">The open source software in this product is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY, without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the applicable licenses for more details.</div>
        <div class="software_license-title body-t31">Copyright Notice and License Texts</div>
        <div class="copyright_notice-content-last">
          <div class="softWare body-t31">Software: Angular 2 4.0.2</div>
          <div class="copyright body-t31">Copyright notice:</div>
          <div class="copyright-content body-t32">Copyright (c) 2014-2017 Google,Inc</div>
          <div class="license body-t31">License: <span class="license-content">MIT License</span></div>
        </div>
        <div class="copyright_notice-content-last">
          <div class="softWare body-t31">Software: core-js 2.4.1</div>
          <div class="copyright body-t31">Copyright notice:</div>
          <div class="copyright-content body-t32">Copyright (c) 2014-2016 Denis Pushkarev</div>
          <div class="license body-t31">License: <span class="license-content body-t32">MIT License</span></div>
        </div>
        <div class="copyright_notice-content-last">
          <div class="softWare body-t31">Software: EventEmitter2 4.1.0</div>
          <div class="copyright body-t31">Copyright notice:</div>
          <div class="copyright-content body-t32">Copyright (c) 2016 Paolo Fragomeni &lt;http://www.github.com/0x00a&gt; and Contributors</div>
          <div class="license body-t31">License: <span class="license-content body-t32">MIT License</span></div>
        </div>
        <div class="copyright_notice-content-last">
          <div class="softWare body-t31">Software: zone.js 0.8.4</div>
          <div class="copyright body-t31">Copyright notice:</div>
          <div class="copyright-content body-t32">Copyright (c) 2016 Google, Inc.</div>
          <div class="license body-t31">License: <span class="license-content body-t32">MIT License</span></div>
        </div>
        <div class="copyright_notice-content-last">
          <div class="softWare body-t31">Software: moment-timezone 0.5.13</div>
          <div class="copyright body-t31">Copyright notice:</div>
          <div class="copyright-content body-t32">Copyright (c) JS Foundation and other contributors</div>
          <div class="license body-t31">License: <span class="license-content body-t32">MIT License</span></div>
        </div>
        <div class="copyright_notice-content-last">
          <div class="softWare body-t31">Software: qr-image 3.2.0</div>
          <div class="copyright body-t31">Copyright notice:</div>
          <div class="copyright-content body-t32">Copyright (c) 2013 Yandex LLC</div>
          <div class="license body-t31">License: <span class="license-content body-t32">MIT License</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
