@import "/src/assets/css/common-variables.scss";

.replayBg {
  position: absolute;
  top: unit(0);
  left: unit(0);
  bottom: unit(0);
  right: unit(0);
  height: unit(126);
  margin: auto;
  text-align: center;
  .replayButton {
    width:unit(56);
    height:unit(56);
    margin: auto;
    background: url(assets/img/56/replay_56.png) no-repeat;
    cursor: pointer;
  }
  .replay {
    width: unit(140);
    height: unit(40);
    margin: auto;
    text-align: center;
    line-height: unit(40);
    border-radius: unit(2);
    margin-top: unit(30);
    color: $text-c31;
  }
}
