@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.guide-date-list {
  max-width: unit(1280);
  margin: auto;
  position: relative;
  overflow: hidden;
  background: $mts-bg-2;
  display: flex;
  height: unit(66);
  .DateList {
    margin: auto;
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
    border-right: unit(1) solid $basic-c21;
    border-left: unit(1) solid $basic-c21;
    .centerlist {
      width: unit(5520);
      .date {
        color: $basic-c20;
        display: inline-block;
        float: left;
        text-align: center;
        width: unit(94.42);
        height: unit(66);
        padding-top: unit(20);
        position: relative;
        .timeName {
          line-height: $body-t31;
          margin-bottom: unit(5);
        }
        .line {
          border-right: unit(1) solid $basic-c19;
          height: unit(20);
          position: relative;
          top: unit(-30);
        }
        &:hover {
          color: $text-c31;
          background: $basic-c31;
          cursor: pointer;
        }
        .date_hovers {
          visibility: hidden;
        }
        .datesLine {
          visibility: visible;
        }
      }
      .date_hover {
        color: $text-c31;
        cursor: pointer;
        background: $mts-bg-1;
        .bottom_line {
          width: unit(94.42);
          display: block;
          top: unit(-13);
          position: relative;
        }
      }
    }
  }
  .left-move {
    width: unit(29);
    display: flex;
    z-index: 1;
  }
  .right-move {
    width: unit(29);
    display: flex;
    z-index: 1;
  }
  .leftimg {
    @extend .angleleftsmall-20;
    width: $icon-s20;
    height: $icon-s20;
    position: absolute;
    left: unit(6);
    margin-top: unit(26);
    cursor: pointer;
    background-size: 100% 100%;
  }
  .leftimg:hover {
    @extend .angleleftsmall-20;
    background-size: 100% 100%;
  }
  .rightimg {
    width: $icon-s20;
    height: $icon-s20;
    position: absolute;
    float: right;
    right: unit(5);
    margin-top: unit(26);
    cursor: pointer;
    background: url(assets/img/20/anglerightsmall_20.png) no-repeat;
    background-size: 100% 100%;
  }
  .rightimg:hover {
    background: url(assets/img/20/anglerightsmall_20.png) no-repeat;
    background-size: 100% 100%;
  }
  @media screen and (max-width: unit(1440)) {
    max-width: unit(980);
    .DateList {
      .centerlist {
        .date {
          width: unit(92);
        }
      }
    }
  }
}
