<div class="guide-date-list">
  <div class="left-move">
    <div class="leftimg cursor" [style.visibility]="timeLeftVisible" (click)="onClickLeft()"></div>
  </div>
  <div class="DateList">
    <div class="centerlist" id="center-list">
      <div
        class="date"
        *ngFor="let date of datalist"
        [ngClass]="curDate.timeName == date.timeName ? 'date_hover' : 'date'"
        (click)="changeCurDate(date)"
      >
        <div class="timeName body-t28">{{date.timeName | translate}}</div>
        <div class="name body-t34">{{date.name | translate}}</div>
        <div class="line" [ngClass]="curDate.timeName == date.timeName ? 'date_hovers' : 'datesLine'"></div>
        <div class="bottom_line"></div>
      </div>
    </div>
  </div>
  <div class="right-move">
    <div class="rightimg cursor" [style.visibility]="timeRightVisible" (click)="onClickRight()"></div>
  </div>
</div>
