@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.basic-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  background: $basic-C08;
}
.basic-container{
  text-align: center;
  width: 950px;
  height: auto;
  background: $basic-c14;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  .title {
    border-bottom: 1px solid $basic-c19;
    height: unit(59);
    line-height: unit(59);
    .titile-message {
      color: $text-c35;
    }
    .titile-close {
      background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 30px;
      cursor: pointer;
    }
  }
  .body-content {
    .avatar-content {
      .current-avatar {
        width: 100px;
        height: 100px;
        margin-top: 60px;
        margin-bottom: 30px;
      }
      .avatar-list {
        position: relative;
        width: 100%;
        height: 60px;
        margin-bottom: 60px;
        .rightArrow{
          position: absolute;
          right: 100px;
          top: 20px;
          cursor: pointer;
          @extend .angleright-20;
          &:hover{
            @extend .angleright2-20;
          }
        }
        .leftArrow{
          position: absolute;
          left: 100px;
          top: 20px;
          cursor: pointer;
          @extend .angleleft-20;
          &:hover{
            @extend .angleleft2-20;
          }
        }
        .avatar-visible {
          position: relative;
          width: 630px;
          height: 60px;
          margin-left: 160px;
          overflow: hidden;
          .avatar-panel {
            position: relative;
            width: 3000px;
            height: 60px;
            .avatar-wraper {
              float: left;
              margin-left: 15px;
              margin-right: 15px;
              .small-avatar {
                width: 60px;
                height: 60px;
                cursor: pointer;
                &:hover {
                  width: 56px;
                  height: 56px;
                  border: 2px solid $basic-c04;
                }
              }
            }
          }
        }
      }
    }
    .basic-info {
      .profile-info {
        width: 100%;
        height: 36px;
        margin-bottom: 40px;
        right: 60px;
        position: relative;
        .title-name {
          height: 36px;
          color: $text-c35;
          margin-right: 16px;
          display: inline-block;
          width: 100px;
          text-align: right;
        }
        input {
          padding-left: 40px;
          padding-right: 40px;
          width: unit(300);
          height: unit(34);
          background-color: $basic-c03;
          border: none;
          outline: none;
          text-align: center;
          color: $text-c31;
          display: inline-block;
        }
        .delete-button {
          display: inline-block;
          @extend .close-16;
          position: absolute;
          margin-left: unit(-30);
          margin-top: unit(10);
          cursor: pointer;
        }
        .wrongTip {
          height: unit(20);
          color: $text-c33;
          position: absolute;
          left: unit(343);
        }
        .level-value {
          width: unit(380);
          height: unit(36);
          line-height: unit(36);
          background-color: $basic-c03;
          text-align: center;
          color: $text-c31;
          display: inline-block;
        }
        .level-drop {
          width: unit(36);
          height: unit(36);
          background-color: $basic-c17;
          background-image: url(assets/img/20/angledown_20.png);
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          position: absolute;
          margin-left: unit(-36);
          cursor: pointer;
        }
        .level-list {
          position: absolute;
          background: $basic-c19;
          -webkit-user-select: none;
          cursor: pointer;
          z-index: 1;
          top: unit(37);
          right: unit(226);
          li {
            list-style: none;
            height: unit(36);
            line-height: unit(36);
            color: $text-c35;
            width: unit(380);
            &:hover {
              background: $basic-c03;
              color: $text-c31;
            }
          }
        }
      }
    }
    .bottom-button {
      padding-top: unit(20);
      padding-bottom: unit(36);
      #save-info {
        width: unit(172);
        height: unit(36);
        line-height: unit(36);
        margin-left: unit(387);
        border-radius: unit(2);
        display: block;
      }
      .save-able {
        background: $basic-c04;
        color: $text-c31;
        cursor: pointer;
        &:hover {
          background: $basic-c05;
        }
      }
      .save-disable {
        background-color: $basic-c23;
        color: $text-c35;
        cursor: default;
      }
    }
  }
}

img {
  border-radius: 50%;
}
