<div class="basic-wrapper">
	<div class="basic-container">
		<div class="title">
			<span class="titile-message title-t14">{{titleName | translate}}</span>
			<span class="titile-close" (click)="close()"></span>
		</div>

		<div class="body-content">
      <div class="avatar-content">
        <img class="current-avatar" src="{{subData.avatar}}" onerror="this.onerror=null;this.src='assets/img/default/ondemand_casts.png'" />
        <div class="avatar-list" id="avatar-list">
          <span [style.visibility]="leftArrowVisible" (click)="leftArrow()" class="leftArrow"></span>
          <div class="avatar-visible">
            <div class="avatar-panel" id="avatar-panel">
              <div class="avatar-wraper" *ngFor='let avatar of avatarList'>
                <img class="small-avatar" src="{{avatar}}" (mouseenter)="previewAvatar(avatar)" (click)="selectAvatar(avatar)"/>
              </div>
            </div>
          </div>
          <span [style.visibility]="rightArrowVisible" (click)="rightArrow()" class="rightArrow"></span>
        </div>
      </div>
      <div class="basic-info">
        <div class="profile-info body-t32">
          <span class="title-name">{{'profile_name' | translate}}:</span>
          <input id="name-input" tabindex="1" [(ngModel)]="subData.name" maxlength="{{maxLengthCache}}" (focus)="nameFocus($event)" (blur)="nameBlur($event)" (keyup)="nameKeyup($event)">
          <div class="delete-button" [style.display]="showNameDelete ? 'inline-block' : 'none'" (click)="deleteName()"></div>
          <div class="wrongTip" *ngIf="showNameError && nameCommonError">{{nameErrorType | translate}}</div>
          <div class="wrongTip" *ngIf="showNameError && invalidName">{{'special_characters_tip' | translate: blacklistTip}}</div>
        </div>
        <div class="profile-info body-t32" *ngIf="type == 'modify'">
          <span class="title-name body-t32">{{'login_id' | translate}}:</span>
          <input id="id-input" tabindex="2" [(ngModel)]="subData.loginName" maxlength="{{maxLengthCache}}" (focus)="idFocus($event)" (blur)="idBlur($event)" (keyup)="idKeyup($event)">
          <div class="delete-button" [style.display]="showIDDelete ? 'inline-block' : 'none'" (click)="deleteID()"></div>
          <div class="wrongTip" *ngIf="!showNameError && showIDError && idCommonError">{{idErrorType | translate}}</div>
          <div class="wrongTip" *ngIf="!showNameError && showIDError && invalidID">{{'special_characters_tip' | translate: blacklistTip}}</div>
        </div>
        <div class="profile-info body-t32">
          <span class="title-name body-t32">{{'level' | translate}}:</span>
          <span class="level-value">{{subData.ratingName}}</span>
          <div class="level-drop" (click)="showLevelList()"></div>
          <div class="level-list body-t29" [ngStyle]='{visibility:isShowLevelList ? "visible" : "hidden"}' (mouseleave)="mouseOutLevelList()">
            <li *ngFor="let level of levelList" [textContent]='level.name || level.code' (click)="selectLevel(level)"></li>
          </div>
        </div>
      </div>
			<div class="bottom-button body-t29">
				<span id="save-info" [class]="changed ? 'save-able' : 'save-disable'" (click)="saveBasic()">{{btnName | translate}}</span>
			</div>
		</div>
	</div>
</div>
