<div class="dropdown-list" [ngClass]="{open: open}">
  <div class="dropdown-current" id="dropdown-selector" (click)="toggle(true)">
    <span>{{ titleKey | translate:{num: itemPosition(items[selected])} }}</span>
  </div>
  <div class="dropdown-items" [ngStyle]="getStyle()">
    <div class="dropdown-items-wrapper" [ngStyle]="getItemsStyle()">
        <div *ngFor="let item of items"
             class="dropdown-item"
             [ngClass]="{active: itemPosition(item) == currentPosition}"
             (click)="setItem(item)">
            <span>{{ titleKey | translate:{num: itemPosition(item)} }}</span>
        </div>
    </div>
  </div>
</div>
