@import "/src/assets/css/common-variables.scss";

.app-stop-record-confirm{
    background: $basic-c14;
    width: 460px;
    height: unit(288);
  margin: auto;
  position: relative;
}
.confirmInfo {
  text-align: center;
  width: unit(460);
    height: unit(288);
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  background: $basic-c14;
  position: absolute;
  .confirmTitle {
    border-bottom: 1px solid $basic-c19;
    height: unit(60);
    line-height: unit(60);
    .confirmInfoMessage {
      color: $text-c35;
    }
    .confirmInfoClose {
      background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
      width: 20px;
      height: 20px;
      position: relative;
      top: unit(-43);
      left: unit(405);
      cursor: pointer;
    }
  }
  .confirmContent {
    width: 460px;
    height: unit(228);
    .contentConfirmInfo {
      width: 460px;
      height: unit(24);
      display: block;
      color: $text-c31;
      line-height: unit(24);
      padding-top: 60px;
    }
    .button-common {
      width: unit(138);
      height: unit(38);
      position: absolute;
      top: unit(213);
      line-height: 40px;
      color: $text-c31;
      border-radius: unit(2);
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
    }
    .yes-action {
      left: 240px;
      background: $basic-c04;
      border: 1px solid $basic-c25;
      &:hover {
        background: $basic-c05;
        border: 1px $basic-c05 solid;
      }
    }
    .no-action {
      left: 80px;
            border: 1px $basic-c25 solid;
      &:hover {
        background: $basic-c26;
        border: 1px $basic-c26 solid;
      }
    }
  }
}
