<div class="app-stop-record-confirm">
  <div class="confirmInfo" >
    <div class="confirmTitle">
      <div class="confirmInfoMessage body-t26">{{'stopRecord_ConfirmTitle' | translate}}</div>
      <div class="confirmInfoClose" (click) = "close()"></div>
    </div>
    <div class="confirmContent">
      <div class="contentConfirmInfo body-t29">{{'stopRecord_ConfirmInfo' | translate}}</div>
      <div class="button-common no-action body-t26" (click)="close()">{{'no_text' | translate}}</div>
      <div class="button-common yes-action body-t26" (click)="confirm()">{{'yes_text' | translate}}</div>
    </div>
  </div>
</div>
