<div class="contentPlaybillBg body-t32" id="contentPlaybillBg"></div>
<div class="suspensionProgram" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <div id="suspensionchannel" class="hot-suspensionInfor">
        <div class="title title-t13" *ngIf="!(pocketSize &&liveProgramTop) && !(suspensionInfo&&(isFuture||isNow)) && !reminderInfo">{{titleName}}</div>
        <div class="hrFirst" *ngIf="!(pocketSize &&liveProgramTop) && !(suspensionInfo&&(isFuture||isNow)) && !reminderInfo"></div>
        <div class="tvod-detail-first body-t32" *ngIf="!(pocketSize &&liveProgramTop) && !(suspensionInfo&&(isFuture||isNow)) && !reminderInfo">
            <div class="tvod-detail-secondary" *ngIf="weekTime == ''">{{showTime}} {{showClock}} {{channel}}</div>
            <div class="tvod-detail-secondary" *ngIf="weekTime != ''">{{showTime}} {{showClock}} {{channel}}</div>
        </div>
        <div class="contents body-t32"  *ngIf="!pocketSize && !(isFuture&&searchAll)&& !(isPass&&canTvod) && !isNow" [ngStyle]='showContent()'>{{introduce}}</div>
        <div class="contentsTvod body-t32"  *ngIf="((isPass&&canTvod) || isNow || (isFuture&&searchAll))&& !suspensionHotGenres && !suspensionInfo && !pocketSize" [ngStyle]='showContent()'>{{introduce}}</div>
        <div class="introduce_dotted body-t32" *ngIf = "!pocketSize && introduceEllipsis && !liveProgramTop">...</div>
        <div class="button" *ngIf="isPass&&canTvod">
            <div class="btnPlay" (click)="play(btnNamePlay)">
                <div class="playInfo body-t32">
                    <div class="playImg"></div>{{btnNamePlay | translate}}
                </div>
            </div>
        </div>
        <div class="buttons" *ngIf="isFuture">
            <div class = "btnRecord" [ngStyle]="ButtonStyle()"  [style.float]="!pocketSize && liveProgramTop || reminderInfo ? 'left' : ''" (click)="goToRecord(btnNameRecord)" *ngIf="allowRecord">
                <div class="recordInfo body-t32">
                    <div class="recordImg" [ngStyle]="recordsImgStyle"></div>
                    <span class="btnContent" *ngIf="isFirefox">{{btnNameRecord | translate}}</span>
                    <div class="btnContent" *ngIf="!isFirefox">{{btnNameRecord | translate}}</div>
                </div>
            </div>
            <div [ngClass]="searchAll ? 'searchBtnRemind' : (pocketSize ? 'pocket' : 'btnRemind')"  (click)="goToRemind(btnNameRemind)"  *ngIf="isAllowReminer">
                <div class="RemindInfo body-t32">
                    <div class="RemindImg" [ngStyle]="remindImgStyle"></div>
                    <span class="btnContent" *ngIf="isFirefox">{{btnNameRemind | translate}}</span>
                    <div class="btnContent" *ngIf="!isFirefox">{{btnNameRemind | translate}}</div>
                </div>
            </div>          
        </div>

        <div class="buttonss" *ngIf="isNow">
            <div class="btnWatch" [ngStyle]="ButtonStyle()" (click)="play(btnNameWatch)">
                <div class="watchInfo body-t32">
                    <div class="watchImg"></div>
                    <span class="btnContent" *ngIf="isFirefox">{{btnNameWatch | translate}}</span>
                    <div class="btnContent" *ngIf="!isFirefox">{{btnNameWatch | translate}}</div>
                </div>
            </div>
            <div  [style.width]='(btnNameRecord == "stop_recording") ?  "" : "120px"' (click)="goToRecord(btnNameRecord)" [ngClass]="pocketSize ? 'pocket' : 'btnRecords'" *ngIf="allowRecord">
                <div class="recordsInfo body-t32">
                    <div class="recordsImg" [ngStyle]="recordsImgStyle"></div>
                    <span class="btnContent" *ngIf="isFirefox">{{btnNameRecord | translate}}</span>
                    <div class="btnContent" *ngIf="!isFirefox">{{btnNameRecord | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

