@import "/src/assets/css/common-variables.scss";

.suspensionProgram {
  overflow: hidden;
}

.hot-suspensionInfor {
  max-height: 492px;
  overflow: hidden;
  position: relative;
  padding-bottom: 35px;
  margin-right: 25px;
  @media screen and (max-width: 1440px) {
    margin-right: 15px;
  }
}

.title {
  float: left;
  color: $text-c31;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hrFirst {
  background: $basic-c03;
  height: 1px;
  width: 305px;
  position: relative;
  float: left;
  margin-top: 15px;
  margin-left: 25px;
}

.tvod-detail-first {
  float: left;
  width: 100%;
  margin-top: 15px;
  margin-left: 25px;
  .tvod-detail-secondary {
    float: left;
    width: 305px;
    font-size: 14px;
    color: $text-c31;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.contentPlaybillBg {
  margin: 30px 30px 25px 25px;
  color: $text-c35;
  line-height: 20px;
  visibility: hidden;
  position: absolute;
}

.contents {
  float: left;
  margin-top: 30px;
  margin-left: 25px;
  color: $text-c35;
  line-height: 20px;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.contentsTvod {
  float: left;
  margin-top: 30px;
  margin-left: 25px;
  color: $text-c35;
  line-height: 20px;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  @media screen and (max-width: 1440px) {
    margin-top: 12px;
  }
}

.introduce_dotted {
  float: left;
  margin: 10px 30px 0px 25px;
  width: 305px;
  color: $text-c35;
  margin-top: -4px;
}

.hrSecond {
  background: $basic-c03;
  height: 1px;
  width: 305px;
  position: relative;
  float: left;
  margin-top: 30px;
  margin-left: 25px;
}

.button {
  float: left;
  width: 335px;
  margin-top: 20px;
}

.btnPlay {
  float: left;
  margin-left: 25px;
  text-align: center;
  border: 1px solid $basic-c25;
  height: $bwc2-height;
  border-radius: $rounded-rc1;
  .playInfo {
    color: $basic-c01;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px;
    line-height: 14px;
    .playImg {
      @extend .play-14;
      width: 14px;
      height: 14px;
      background-size: cover;
      float: left;
      margin-right: 10px;
    }
  }
}

.btnPlay:hover {
  border: 1px solid transparent;
  background-color: $basic-c26;
  cursor: pointer;
}

.buttons {
  float: left;
}

.btnRemind {
  float: left;
  margin-left: 25px;
  text-align: center;
  border: 1px solid $basic-c25;
  height: $bwc2-height;
  border-radius: $rounded-rc1;
  margin-top: 20px;
}

.pocket {
  float: left;
  margin-left: 25px;
  text-align: center;
  border: 1px solid $basic-c25;
  height: $bwc2-height;
  border-radius: $rounded-rc1;
  margin-top: 20px;
}

.searchBtnRemind {
  margin-left: 25px;
  text-align: center;
  border: 1px solid $basic-c25;
  height: $bwc2-height;
  border-radius: $rounded-rc1;
  margin-top: 20px;
}

.RemindInfo {
  color: $basic-c01;
  font-size: $title-t18;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-right: 19px;
  margin-top: 6px;
  line-height: 15px;
  .RemindImg {
    width: 14px;
    height: 14px;
    background-size: cover;
    float: left;
    margin-right: 10px;
  }
}

.btnRemind:hover, .pocket:hover, .searchBtnRemind:hover {
  border: 1px solid transparent;
  background-color: $basic-c26;
  cursor: pointer;
}

.btnContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnRecord {
  border: 1px solid $basic-c25;
  height: $bwc2-height;
  margin-left: 25px;
  border-radius: $rounded-rc1;
  margin-top: 20px;
  .recordInfo {
    text-align: center;
    color: $basic-c01;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
    line-height: 15px;
    .recordImg {
      width: 14px;
      height: 14px;
      float: left;
      margin-right: 10px;
      background-size: cover;
    }
  }
}

.btnRecord:hover {
  border: 1px solid transparent;
  background-color: $basic-c26;
  cursor: pointer;
}

.buttonss {
  float: left;
}

.btnWatch {
  margin-left: 25px;
  text-align: center;
  border: 1px solid $basic-c25;
  height: $bwc2-height;
  border-radius: $rounded-rc1;
  margin-top: 20px;
  float: left;
  .watchInfo {
    color: $basic-c01;
    font-size: $title-t18;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
    line-height: 15px;
    .watchImg {
      @extend .play-14;
      width: 14px;
      height: 14px;
      background-size: cover;
      float: left;
      margin-right: 10px;
    }
  }
}

.btnWatch:hover {
  border: 1px solid transparent;
  background-color: $basic-c26;
  cursor: pointer;
}

.btnRecords {
  border: 1px solid $basic-c25;
  height: $bwc2-height;
  float: left;
  margin-left: 25px;
  border-radius: $rounded-rc1;
  margin-top: 20px;
}

.recordsInfo {
  text-align: center;
  color: $basic-c01;
  font-size: $title-t18;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 6px;
  line-height: 15px;
  .recordsImg {
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 10px;
    background-size: cover;
  }
}

.btnRecords:hover {
  border: 1px solid transparent;
  background-color: $basic-c26;
  cursor: pointer;
}

.btnStopRecord {
  border: 1px solid $basic-c25;
  height: $bwc2-height;
  float: left;
  margin-left: 25px;
  margin-top: 20px;
  border-radius: $rounded-rc1;
}

.btnStopRecord:hover {
  border: 1px solid transparent;
  background-color: $basic-c26;
  cursor: pointer;
}
