// Variables
// -------------------
@function unit($value) {
    @return $value+px;
}
// комментарий по фигме OLD TV COLORS
// 1 Фокус, Ссылки, Заголовки
$mts-gold: #BA9D5A;
// 2 Основной фон
$mts-bg-7: #3D495C;
// 3 Фон альтернативного меню, Заголовки, Фон кнопок, Формы ввода 
$mts-bg-2: #2C3645;
// 4 Цвет текста
$mts-color-1: #BCB7B0;
// 5 Белый цвет для телевизоров
$mts-bg-tv: #eee;


// 
$mts-bg-1: #23293A;
$mts-bg-4: #3A424F;

$mtstv-bg-1: #0D1E2E;
$mtstv-bg-2: #1A2D41;

//bu
$bu:                    unit(16);
//c01
$basic-c01:             #f5f5f5 !default;
//basic c02
$basic-c02:             rgba($basic-c01, .5) !default;
//record space progress
$basic-c03:             rgba($basic-c01, .1) !default;
//TV GUIDE current playbill
$basic-c04:             #DEAD30 !default;
//TV GUIDE today
$basic-c05:             #D8B55C !default;
//play button hover
$basic-c06:             rgba(#000, .9) !default;
//TV GUIDE scroll
$basic-c07:             rgba(#000, .8) !default;
//record space progress background
$basic-c10:             rgba(#000, .4) !default;
//log box mask color
$basic-c12:             #141414 !default;
//basic-c13
$basic-c14:             rgba(24, 24, 24, .96) !default;
//log box background
$basic-c15:             rgba(24, 24, 24, .8) !default;
//TV GUIDE future playbill
$basic-c16:             #1e1f21 !default;
//TV GUIDE time background
//$basic-c17:             rgba(31, 31, 31, .95) !default;
$basic-c17:             $mts-bg-4 !default;
//manual record arrow
//$basic-c18:             rgba(31, 31, 31, .7) !default;
$basic-c18:             $mts-bg-2 !default;
//my tv photo background
$basic-c19:             #2f2f2f !default;
//TV GUIDE date background color
$basic-c20:             #8f8f8f !default;
//record splite line
$basic-c21:             rgba($basic-c20, .1) !default;
//TV GUIDE playbill hover
$basic-c22:             #1cc0f6 !default;
//basic-c22
$basic-c23:             #5f5f5f !default;
//vod small video background
$basic-c25:             rgba($basic-c01, .3) !default;
//munal record type line
$basic-c26:             rgba($basic-c01, .2) !default;
//$basic-c26
$basic-c27:             #11aab8 !default;
//record space progress
$basic-c28:             #22ae4d !default;
//record space progress
$basic-c29:             #FCCB35 !default;
//footer
//$basic-c30:             #020202 !default;
$basic-c30:             $mts-bg-2 !default;
//color for button gradient (left to right)
//$basic-c31:             #ffcd7e !default;
$basic-c31:             $mts-gold !default;
//$basic-c32:             #de984d !default;
$basic-c32:             $mts-gold !default;
//navigation hover
$text-c31:              #f5f5f5 !default;
//recording title text color
$text-c32:              rgba($text-c31, .5) !default;
//navigation text color
$text-c33:              #c01f24 !default;
//password box error text
$text-c34:              #5f5f5f !default;
//placehoder
//$text-c35:              #8f8f8f !default;
$text-c35:              $mts-color-1 !default;
//log box tip text
$text-c36:              #1cc0f6 !default;
//forget password text
$text-c37:              #FCCB35 !default;
//reminder box text
$text-c38:              #11aab8 !default;
//record space text color
$text-c39:              #22ae4d !default;
//record space text color
//==text title
$title-t11:              unit(32) !default;
$title-t12:              unit(32) !default;
$title-t13:              unit(24) !default;
$title-t14:              unit(20) !default;
$title-t15:              unit(20) !default;
$title-t16:              unit(18) !default;
$title-t17:              unit(16) !default;
$title-t18:              unit(18) !default;
//==text body
$body-t20:              unit(48) !default;
$body-t21:              unit(36) !default;
$body-t22:              unit(32) !default;
$body-t23:              unit(24) !default;
$body-t24:              unit(24) !default;
$body-t25:              unit(20) !default;
$body-t26:              unit(20) !default;
$body-t27:              unit(18) !default;
$body-t28:              unit(16) !default;
$body-t29:              unit(16) !default;
$body-t30:              unit(16) !default;
$body-t31:              unit(14) !default;
$body-t32:              unit(14) !default;
$body-t33:              unit(14) !default;
$body-t34:              unit(12) !default;
//==icons
$icon-s10:              unit(10) !default;
$icon-s12:              unit(12) !default;
$icon-s14:              unit(14) !default;
$icon-s16:              unit(16) !default;
$icon-s18:              unit(18) !default;
$icon-s20:              unit(20) !default;
$icon-s22:              unit(22) !default;
$icon-s24:              unit(24) !default;
$icon-s30:              unit(30) !default;
$icon-s32:              unit(32) !default;
$icon-s36:              unit(36) !default;
$icon-s48:              unit(48) !default;
$icon-s54:              unit(54) !default;
$icon-s56:              unit(56) !default;
$icon-s60:              unit(60) !default;
$icon-s74:              unit(74) !default;
$icon-s81:              unit(81) !default;
//==border radius
$rounded-rc1 : 2px !default;
$rounded-rc2 : 4px !default;
//==btn variant
$btn1-height:                   unit(46) !default;
$btn1-width:                    unit(220) !default;
$btn2-height:                   unit(40) !default;
$btn2-width:                    unit(300) !default;
$btn3-height:                   unit(40) !default;
$btn3-width:                    unit(140) !default;
$btn4-height:                   unit(28) !default;
$btn4-width:                    unit(60) !default;
$btnred-border-radius:          $rounded-rc1 !default;
$btnred-bg:                     $basic-c04;
$btnred-bg-focus:               $basic-c05;
$btnred-bg-disabled:            $basic-c22;
$btngrey-border-radius:         $rounded-rc1 !default;
$btngrey-border:                unit(1) $basic-c02 !default;
$btngrey-bg-focus:              $basic-c03;
//==bwcl1
$bwcl-keyboard-border: 		    unit(1) solid $basic-c22 !default;
$bwcl-width:			        unit(140) !default;
$bwcl-height:                   unit(40) !default;
//==bwcl2
$bwc2-keyboard-border: 		    unit(1) solid $basic-c22 !default;
$bwc2-keyboard-border-default:  unit(1) solid $basic-c02 !default;
$bwc2-width:			        unit(140) !default;
$bwc2-height:                   unit(28) !default;
//==input
$input1-border-radius:          $rounded-rc1 !default;
$input1-width:			        unit(300) !default;
$input1-height:                 unit(40) !default;
$input1-padding:                unit(10) !default;
$input1-bg:                     $basic-c03;
$input2-border-radius:          $rounded-rc2 !default;
$input2-width:			        unit(300) !default;
$input2-height:                 unit(36) !default;
$input2-padding:                unit(10) !default;
$input2-bg:                     $basic-c03;
$input2-border-default:         unit(1) $basic-c03 !default;
$input2-border-press:           unit(1) $basic-c02 !default;
//slider
$snav1-width:		            unit(460) !default;
$snav-height:	                unit(46) !default;
$snav-bg1:	                    $basic-c03 !default;
$snav-bg2:	                    $basic-c17 !default;
$snav2-width:		            unit(220) !default;
$snav3-width:		            unit(300) !default;
//poster
$poster-100x100px:       unit(100) unit(100) !default;
$poster-36x36px:         unit(36) unit(36) !default;
$poster-54x54px:         unit(54) unit(54) !default;
$poster-30x30px:         unit(30) unit(30) !default;
$poster-40x40px:         unit(40) unit(40) !default;

// новый дизайн - основные цвета главной страницы
// primary color
// фон приложения
$prm-900: #001424;

// цвет кнопки
$prm-800: #233345;
$prm-700: #415165;

// полупрозрачная подложка при 70%
$prm-600: #546479;

// Маленькие заголовки перед описанием
$prm-500: #7B8CA1;
$prm-400: #9CADC3;
$prm-300: #C1D2E9;
$prm-200: #D3E4FB;

// Иконки на темном фоне, текст описаний, актёров, Название на кнопке
$prm-100: #DEF0FF;

// Заголовки, названия
$prm-50: #E8F9FF;

// secondary color

$scd-900: #937A52;
// Кнопка в фокусе, ссылка, обводка кнопки 
$scd-800: #BA9D5A;
$scd-700: #D1B35F;
$scd-600: #E7C866;
$scd-500: #F8D96C;
$scd-400: #FADF7E;
$scd-300: #FDE592;
$scd-200: #FFECAE;
$scd-100: #FFF3CD;
$scd-50: #FFFAEB;

// mts brand colors

$mts-brand-bright-red: #E30611;
$mts-brand-tv-red: #891812;

// additional colors
// soft - s, ligth - l, warm - w
$add-col-s-blue: #5C7FE3;
$add-col-l-blue: #45B7FC;
$add-col-l-green: #6AC7B8;
$add-col-green: #51C26D;
$add-col-s-green: #AECB53;
$add-col-w-yellow: #FAD634;
$add-col-s-orange: #E57D63;
$add-col-pink: #DB556F;
$add-col-s-pink: #CB6999;
$add-col-s-violet: #A86EA7;

@font-face {
  font-family: 'Corpid E1s SCd';
  src: url(../assets/font/CorpidE1SCd_Light.ttf);
}

@font-face {
  font-family: 'Corpid E1s SCd Regular';
  src: url(../assets/font/CorpidE1SCd_Regular.ttf);
}

@import "icon.scss";
