@import "/src/assets/css/common-variables.scss";

.livetv-guest {
  position: relative;
  width: unit(460);
  height: unit(288);
  margin: auto;
  text-align: center;
  .title {
    width: unit(56);
    height: unit(56);
    position: relative;
    margin: auto;
    padding-top: unit(40);
  }
  .auth {
    background: url(assets/img/56/ondemand_play-locked56x56.png) unit(0) unit(40) no-repeat;
  }
  .close {
    width: unit(20);
    height: unit(20);
    background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
    cursor: pointer;
    position: relative;
    float: right;
    right: unit(30);
    top: unit(-75);
  }
  .content {
    margin-top: unit(20);
    color: $text-c31;
    width: unit(320);
    margin: auto;
    position: relative;
    padding-top: unit(20);
    line-height: unit(24);
  }
  .login {
    width: unit(140);
    height: unit(40);
    background: $basic-c04;
    margin: auto;
    text-align: center;
    line-height: unit(40);
    border-radius: unit(2);
    margin-top: unit(40);
    cursor: pointer;
    color: $text-c31;
    &:hover {
      background: $basic-c05;
    }
  }
}
