<div class="livetv-guest">
  <div class="title" [ngClass]="judgeAuthOrSub ? 'auth': 'subscriber' "></div>
  <div class="content">
    <div class="message body-t29">{{guestAuthorizeType}}</div>
  </div>
  <div class="login body-t26" (click)="livetvLogin()">{{'log_in' | translate}}</div>
</div>
