$bg-main: #2c3645;
$bg-input: #3d495c;
$bg-button: #343f50;
$border-width: 2px;
$color-gold: #ba9d5a;
$text-color: #bcb7b0;

$button-bg: #001424;
$button-height: 40px;
$button-color: $text-color;
$button-bg__hover: $color-gold;
$button-color__hover: #222839;

$input-height: 55px;
$input-text-padding: 15px;
$input-color: #001424;

.modal-content {
  min-height: 250px;
}

.auth-form {

  text-align: center;
  font-family: 'Corpid E1s SCd';

  &__top-controls {
    display: flex;
    justify-content: space-between;
    min-height: 24px;
    font-size: 24px;
    .modal-close {
      position: absolute;
    }

    &-item {
      display: flex;
      cursor: pointer;
      align-items: center;

      .icon {
        font-size: 30px;
      }
    }

  }


  &--content {
    padding: 20px;
    border-radius: 4px;
    background-color: $bg-main;
    color: $text-color;
    width: 60%;
  }

  &--input {
    border: none;
    text-align: center;
    height: $input-height;
    color: $input-color;
    padding-left: $input-text-padding;
    font-size: 24px;
    width: 50%;
    min-width: 300px;

    &:focus {
      padding-left: $input-text-padding - $border-width;
      box-shadow: none;
      border-style: solid;
      border-width: $border-width;
      border-color: $color-gold;
    }

    &::placeholder {
      color: $text-color;
    }

    &-error {
      box-shadow: 0px 0px 200px #E30611;
      border: 1px solid #E30611;
    }
  }

  &--input::-ms-input-placeholder {
    color: $text-color;
  }

  &--label {
    text-align: center;
    cursor: pointer;
    color: $text-color;
  }

  &--control {
    text-align: center;
  }

  &__input-close {
    position: absolute;
    height: 100%;
    cursor: pointer;
    margin-left: -5%;
    font-size: 1.4em;
    .icon-close:before {
      color: #233345;
    }
  }

  &__retry-sms {
    //text-decoration: underline;
    //text-underline-position: under;
  }

  &__title {
    color: #fff;
    font-size: 36px;
  }

  &__description {
    color: #fff;
    font-size: 24px;
    margin: 0 0 15px;

    &-gray {
      color: #AEB3BA;
    }
  }

  &--agreement {
    text-align: center;
    margin-top: 30px;
  }

  &--agreement-link {
    color: $color-gold;
    text-decoration: underline;
    text-underline-position: under;
  }

  &--forgot-password {
    cursor: pointer;
  }

  &--tabs {
    ul {
      border-bottom-color: $text-color;
      border-bottom-width: $border-width;
      justify-content: space-around;
    }
  }

  &--tab {

    a {
      font-size: 1.1em;
      color: $text-color;
      border-bottom-color: $text-color;
      border-bottom-width: $border-width;
      margin-bottom: -($border-width + 2);

      &:hover {
        border-bottom-color: $color-gold;
      }
    }

    &.is-active {
      a {
        color: $color-gold;
        border-bottom-color: $color-gold;
      }
    }
  }

  &--button {
    border: none;
    background-color: $button-bg;
    color: $button-color;
    padding: 0 30px;
    height: $button-height;
    &:hover {
      background-color: $button-bg__hover;
      color: $button-color__hover;
    }
  }

  &--field {
    text-align: center;
  }

  &--help {
    text-align: center;
    color: $text-color;
    min-height: 20px;

    &__button {
      text-align: center;
    }
  }

  &--labels {
    display: flex;
    justify-content: space-between;
  }

  .field:not(:last-child) {
    margin-bottom: 0;
  }

}
