<div class="modal auth-form" [ngClass]="{'is-active': (auth$ | async).modal }">
  <div class="modal-background"></div>
  <div class="modal-content auth-form--content">

    <div class="auth-form__top-controls">

      <div
        *ngIf="(auth$ | async).type === 'signin'"
        class="auth-form__top-controls-item"
        (click)="switchType('signup')"
      >
        <i class="icon-left-arrow icon"></i>
        <span>{{ 'auth.back' | translate }}</span>
      </div>

      <div></div>

      <div class="auth-form__top-controls-item">
        <i (click)="closeModal()" class="icon-close icon" aria-label="close"></i>
      </div>

    </div>

    <div *ngIf="(auth$ | async).type === 'signup'">
      <div class="auth-form__title" for="auth-form--input__login">{{ 'auth.your_phone_number' | translate }}</div>
      <div class="auth-form__description" [innerHTML]="'auth.signup_description' | translate"></div>
      <div class="field">
        <div
          class="control auth-form--control"
          [ngClass]="{ 'is-loading': (auth$ | async).loading }"
        >
          <input
            #loginInput
            [imask]="{mask: '+{7} (000) 000-00-00', lazy: false }"
            id="auth-form--input__login"
            type="tel"
            class="input auth-form--input"
            [ngClass]="{'auth-form--input-error': (auth$ | async).loginError }"
            [value]="(auth$ | async).loginDisplay"
            placeholder="+7 (___) ___-__-__"
            (focus)="checkLogin($event.target.value)"
            (blur)="getPasswordViaSmsValidate()"
            (keyup)="onPhoneNumberKeydown($event.target.value)">
          <span
            class="icon is-small is-right auth-form__input-close"
            (click)="clearLogin()"
          >
            <i class="icon-close"></i>
          </span>
        </div>
        <p [ngClass]="{'is-invisible': !(auth$ | async).loginError }" class="help auth-form--help">{{ (auth$ | async).loginError | translate }}</p>
      </div>
      <div class="field auth-form--field">
        <button
          [ngClass]="{ 'is-loading': (auth$ | async).loading }"
          (click)="getPasswordViaSms()"
          class="button auth-form--button">{{ 'auth.get_password_via_sms' | translate }}</button>
        <p [ngClass]="{'is-invisible': !(auth$ | async).passwordSmsError }" class="help auth-form--help auth-form--help__button">{{ (auth$ | async).passwordSmsError | translate }}</p>
      </div>
    </div>

    <div *ngIf="(auth$ | async).type === 'signin'">
      <div class="auth-form__title">{{ (auth$ | async).loginDisplay }}</div>
      <div class="auth-form__description auth-form__description-gray" [innerHTML]="'auth.signin_description' | translate"></div>
      <div class="field">
        <div
          class="control auth-form--control"
          [ngClass]="{ 'is-loading': (auth$ | async).loading }"
        >
          <input
            #passwordInput
            [imask]="{mask: '000000', lazy: false, placeholderChar: '#' }"
            id="auth-form--input__password"
            class="input auth-form--input"
            [ngClass]="{'auth-form--input-error': ((auth$ | async).passwordError || (auth$ | async).signinError || (auth$ | async).signinFullError) }"
            [placeholder]="'auth.code_from_sms' | translate"
            [value]="(auth$ | async).password"
            (keydown.shift.enter)="doJustSignIn()"
            (blur)="doSignupValidate()"
            (keyup)="onPasswordKeydown($event.target.value)"
            type="text">
          <span
            class="icon is-small is-right auth-form__input-close"
            (click)="clearPassword()"
          >
            <i class="icon-close"></i>
          </span>
        </div>
        <div class="help auth-form--help auth-form--help__button">
          <div [ngClass]="{'is-invisible': !(auth$ | async).passwordError }">{{ (auth$ | async).passwordError | translate }}</div>
          <div [ngClass]="{'is-invisible': !(auth$ | async).signinError }">{{ (auth$ | async).signinError | translate }}</div>
          <div [ngClass]="{'is-invisible': !(auth$ | async).signinFullError }">{{ (auth$ | async).signinFullError | translate }}</div>
        </div>
      </div>

      <div *ngIf="!(auth$ | async).passwordSmsTick">
        <a class="auth-form__retry-sms" (click)="getPasswordViaSms()">{{ 'auth.retry_sms' | translate }}</a>
      </div>

      <div *ngIf="(auth$ | async).passwordSmsTick">
        {{ 'auth.retry_sms_after' | translate }} <span>{{ (auth$ | async).passwordSmsTick }}</span>
      </div>

    </div>

    <div class="auth-form--agreement">
      <div>{{ 'auth.agreement_info' | translate }}</div>
      <a class="auth-form--agreement-link" (click)="showAgreement()">{{ 'auth.agreement_info_link' | translate }}</a>
    </div>

  </div>
</div>
