@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.app-preferences-home {
  width: unit(1158);
  background: $basic-c12;
  background-size: 100% 100%;
  margin: auto;
}
.app-preferences-home-init{
  width: unit(1158);
  height: unit(820);
  background: $basic-c12;
  background-size: 100% 100%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  @media screen and(max-width:unit(1440)){
    height: unit(500);
  }
}
#my-preferences{
  background: none;
  width: unit(1086);
  @media screen and(max-width:unit(1440)){
    width: unit(686);
    height: unit(1450);
  }
}
.prefer-close{
  background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
  width: unit(20);
  height: unit(20);
  position: absolute;
  top: unit(21);
  left: unit(1100);
  cursor: pointer;
}
.default-bg {
  width: unit(1280);
  height: unit(720);
}

.prefer-title {
  width: unit(1158);
  height: auto;
  text-align: left;
  padding-bottom: unit(17);
  color: $text-c35;
  padding-top: unit(20);
	border-bottom: unit(1) solid $basic-c03;
  height: unit(20);
  line-height: unit(20);
  .prefer-title-right {
    right: unit(559);
    position: absolute;
    color: $text-c35;
  }
  .left-width {
    margin-left: unit(35);
    color: $text-c31;
  }
}
#my-prefer-title{
  width: unit(1086);
  @media screen and(max-width:unit(1440)){
    width: unit(686);
  }
}
#my-title-left{
  margin-left: unit(0);
}
#my-title-right{
  right: unit(523);
  @media screen and(max-width:unit(1440)){
    right: unit(0);
  }
}
.prefer-subtitle {
  text-align: center;
  margin-top: unit(40);
  margin-bottom: unit(46);
  color: $text-c35;
  margin-left: unit(37);
}
.prefer-subtitles {
  text-align: center;
  margin-bottom: unit(60);
  color: $text-c35;
  margin-left: unit(37);
}
#my-prefer-subtitle{
  margin-left: unit(0);
}
#my-prefer-subtitles{
  margin-left: unit(0);
}

.prefer-list {
  width: unit(1086);
  height: unit(240);
  margin-bottom: unit(35);
  margin-left: unit(37);
  .item-poster{
    img{
      width: unit(164);
      height: unit(219);
      display: block;
      cursor: pointer;
      margin-bottom: unit(10);
      text-align: center;
    }
    div{
      width: unit(164);
      color: $text-c31;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.prefer-list-init{
  width: unit(1086);
  height: unit(240);
  margin-bottom: unit(35);
  margin-left: unit(37);
  @media screen and(max-width:unit(1440)){
    width: unit(716);
    height:unit(247);
    position:relative;
    overflow:hidden;
    left:unit(174);

  }
  .boxlist{
    @media screen and(max-width:unit(1440)){
      width: unit(2208);
      position:absolute;
    }
    #prefer-list-item-5,#prefer-list-item-11 {
      @media screen and(max-width:unit(1440)){
        margin-right: unit(20);
      }
    }
  }
  .item-poster{
    img{
      width: unit(164);
      height: unit(219);
      display: block;
      cursor: pointer;
      margin-bottom: unit(10);
      text-align: center;
    }
    div{
      width: unit(164);
      color: $text-c31;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

}
.prefer-rightIcon{
    width:unit(36);
    height:unit(36);
    position:absolute;
    float:right;
    right:unit(170);
    top:unit(210);
    cursor: pointer;
    @extend .angleright2-36;
}
.prefer-rightIcon:hover {
		@extend .angleright-36;
}
.prefer-leftIcon{
    width:unit(36);
    height:unit(36);
    position:absolute;
    float:right;
    left:unit(150);
    top:unit(210);
    cursor: pointer;
    display:none;
    @extend .angleleft2-36;
}
.prefer-leftIcon:hover {
		@extend .angleleft-36;
}

#my-prefer-list{
  margin-left: unit(0);
  @media screen and(max-width:unit(1440)){
    width: unit(686);
  }
}

.prefer-list-item {
  width: unit(164);
  height: unit(247);
  margin-right: unit(20);
  margin-bottom: unit(35);
  float: left;
  cursor: pointer;
  .poster>.poster-mask {
    background-image: none;
  }
}
#my-prefer-list-item-5, #my-prefer-list-item-11{
  margin-right: unit(0);
}
#my-prefer-list-item-0, #my-prefer-list-item-3, #my-prefer-list-item-6, #my-prefer-list-item-9{
  @media screen and(max-width:unit(1440)){
    margin-left: unit(77);
  }
}
#my-prefer-list-item-2, #my-prefer-list-item-5, #my-prefer-list-item-8, #my-prefer-list-item-11{
  @media screen and(max-width:unit(1440)){
    margin-right: unit(77);
  }
}

.poster-mask-selected {
  width: unit(164);
  height: unit(29);
  position: relative;
  top: unit(-57);
  z-index: 10;
  background: $basic-C08;
}

.icon {
  width: unit(82);
  height: unit(18);
  position: relative;
  top: unit(6);
  left: unit(41);
  background: url(assets/img/preferences_like_default.png) no-repeat;
  &:hover{
    background: url(assets/img/preferences_like_mouseover.png) no-repeat;
  }
}

.selected {
  .icon {
    background: url(assets/img/preferences_like_focus.png) no-repeat;
  }
}

#prefer-list-item-5,#prefer-list-item-11 {
  margin-right: 0;
}

.btns {
  width: auto;
  margin: 0 auto;
  text-align: center;
  clear: both;
  .prefer-button {
    width: unit(170);
    height: unit(44);
    color: $text-c31;
    margin-left: unit(0);
    border-radius: unit(2);
    cursor: pointer;
    border: none;
    line-height: unit(44);
    background: $basic-c23;
    display: inline-block;
    -ms-user-select: none;
  }

.btn-mid {
    background: $basic-c04;
    &:hover{
      background:$basic-c05;
    }
    &:focus{
      background:$basic-c05;
    }
  }

  .disabled {
    background: $basic-c23;
    color: $text-c35;
    cursor: default;
  }

}

#my-btns {
  @media screen and(max-width:unit(1440)){
    width: unit(686);
    position: relative;
    margin: 0;
  }
}

.btns #ignore {
  margin-right: unit(32);
}

btn {
  width: unit(224);
  height: unit(48);
  margin-right: 0
}

.prefer-empty {
  color: $text-c31;
}

.prefer-submit{
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
}

.nodata{
    padding-top: unit(308);
    max-width: unit(1280);
    margin: auto;
    @media screen and (max-width: unit(1440)) {
      max-width: unit(980);
    }
    .noDataposter {
      width: unit(72);
      height: unit(72);
      text-align: center;
      margin: 0 auto;
      position: relative;
      @extend .noresult-72;
    }
    .noDataWordone {
        color: $text-c35;
        text-align: center;
        margin-top: unit(20);
        position: relative;
        line-height: unit(24);
    }
}
