<div class="app-preferences-home-init" *ngIf="isExit">
  <div class="prefer-title font-instructions title-t14">
    <span class="prefer-title-left font-instructions" [class.left-width]="isExistRecms">{{'choose_tv_movie' | translate}}</span>
    <span class="prefer-title-right" *ngIf="isExistRecms">{{currentPage}} <span class="font-instructions secondary">/ {{totalPage}}</span></span>
  </div>
  <div class="prefer-close" (click) = "close()"></div>
  <div *ngIf="isExistRecms" class="prefer-subtitle font-poster-title secondary body-t29">{{preferSubTitle | translate }}</div>
  <div *ngIf="panel" class="prefer-leftIcon" (click)="loadLeftPrefer()"></div>
  <div *ngIf="panel" class="prefer-rightIcon" (click)="loadRightPrefer()"></div>
  <div class="prefer-list-init">
    <div *ngIf="isExistRecms" class="boxlist">
      <div id="{{'prefer-list-item-'+i}}" class="prefer-list-item" *ngFor="let item of recmList; let i = index" (click)="selectItem(item)">
        <div class="item-poster body-t29"> <img src="{{item.posters}}" onerror="this.onerror=null;this.src='assets/img/default/my_poster.png'"/> <div >{{item.name}}</div> </div>
        <div class="poster-mask-selected" [ngClass]="{'selected':item.selected}">
          <div class="icon selected-36"></div>
        </div>
      </div>
    </div>

    <div *ngIf="!isExistRecms" class="prefer-empty">
      <div *ngFor="let msg of emptyMsgList">{{msg}}</div>
    </div>
  </div>
  <div class="btns">
    	<div class="prefer-button body-t26" *ngFor="let btnInfo of buttons; let i = index"
    		id="{{btnInfo.id}}"
    		[ngClass]="btnInfo.enableFocus ?'btn btn-mid': 'btn disabled'"
      (click)="btnInfo.onClick()">{{btnInfo.btnName | translate }}
    	</div>
  </div>
</div>

<div class="app-preferences-home" id="my-preferences" *ngIf="!isExit">
  <div class="prefer-title font-instructions title-t14" id="my-prefer-title">
    <span class="prefer-title-left font-instructions" id="my-title-left" [class.left-width]="isExistRecms">{{'preference_setting' | translate}}</span>
    <span class="prefer-title-right" id="my-title-right" *ngIf="isExistRecms && hasRecm">{{currentPage}} <span class="font-instructions secondary">/ {{totalPage}}</span></span>
  </div>
  <div *ngIf="isExistRecms && hasRecm" id="my-prefer-subtitle" class="prefer-subtitle font-poster-title secondary title-t14">{{'choose_tv_movie' | translate }}</div>
  <div *ngIf="isExistRecms && hasRecm" id="my-prefer-subtitles" class="prefer-subtitles font-poster-title secondary body-t29">{{preferSubTitle | translate }}</div>
  <div class="prefer-list" *ngIf="hasRecm" id="my-prefer-list">
    <div *ngIf="isExistRecms" >
      <div id="{{'my-prefer-list-item-'+i}}" class="prefer-list-item" *ngFor="let item of recmList; let i = index" (click)="selectItem(item)">
        <div class="item-poster body-t29"> <img src="{{item.posters}}"  onerror="this.onerror=null;this.src='assets/img/default/my_poster.png'" /> <div >{{item.name}}</div> </div>
        <div class="poster-mask-selected" [ngClass]="{'selected':item.selected}">
          <div class="icon selected-36"></div>
        </div>
      </div>
    </div>

    <div *ngIf="!isExistRecms" class="prefer-empty">
      <div *ngFor="let msg of emptyMsgList">{{msg}}</div>
    </div>
  </div>
  <div class="btns" id="my-btns">
    	<div class="prefer-button body-t26" *ngFor="let btnInfo of buttons; let i = index"
    		id="{{btnInfo.id}}"
    		[ngClass]="btnInfo.enableFocus ?'btn btn-mid': 'btn disabled'"
      (click)="btnInfo.onClick()">{{btnInfo.btnName | translate }}
    	</div>
  </div>
  <app-mytv-submit class="prefer-submit" [infoKey]="infoKey" (closeSubDialog)="closeSubDialog($event)" (cancelOperation)="cancelOperation($event)" (submitData)="submitData($event)" *ngIf="showPreferSubmit"></app-mytv-submit>
</div>

<div class="nodata" *ngIf="!isExit && hasNoRecm">
  <div class="noDataposter"></div>
  <div class="noDataWordone body-t29">{{'preferNoData' | translate}}</div>
</div>
