@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.myVedios-favorite {
  .favoriteTitle {
    height: unit(40);
    border-bottom: unit(1) $basic-c03 solid;
    margin-bottom: 25px;
    .favoriteName {
      height: unit(24);
      padding-top: unit(6);
      display: inline-block;
      color: $text-c31;
      line-height: unit(24);
      cursor: default;
    }
    .favoriteEdit {
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      text-align: center;
      color: $text-c31;
      line-height: unit(28);
      cursor: pointer;
      border-radius: unit(2);
      -webkit-user-select: none;
      user-select: none;
      padding: 0 18px;
      letter-spacing: 0.2px;
    }
    .favoriteEdit:hover {
      background: $basic-c03;
    }
    .favoriteEdit2 {
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      margin-right: unit(-62);
      -webkit-user-select: none;
      user-select: none;
    }
    .favoriteClearAll {
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      margin-right: 10px;
      padding: 0 unit(20) 0 unit(20);
      color: $text-c31;
      line-height: unit(28);
      cursor: pointer;
      border-radius: unit(2);
      -webkit-user-select: none;
      user-select: none;
    }
    .favoriteClearAll:hover {
      background: $basic-c03;
    }
    .favoriteComplete {
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      padding: 0 unit(20) 0 unit(20);
      color: $text-c31;
      line-height: unit(28);
      cursor: pointer;
      border-radius: unit(2);
      -webkit-user-select: none;
      user-select: none;
    }
    .favoriteComplete:hover {
      background: $basic-c03;
    }
  }
  .confirm {
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
  }
  .failed {
    width: unit(340);
    height: unit(24);
    margin: auto;
    margin-top: unit(200);
    padding: unit(23) unit(65);
    background: $basic-c14;
    line-height: unit(24);
    color: $text-c31;
  }
  .noData {
    margin-top: unit(200);
    position: relative;
  }
}

.my-load-status {
  position: absolute;
  top: unit(350);
  right: 47%;
  z-index: 14;
  display: block;
  .spinner {
    position: absolute;
    left: 0;
    width: unit(80);
    height: unit(80);
    background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
    -webkit-animation: login_load_roate_div 2s infinite;
    animation: login_load_roate_div 2s infinite;
  }
}

@keyframes login_load_roate_div {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes login_load_roate_div {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
