<div class="preview-list" [ngClass]="{short: short, 'allow-mobile': allowMobile}">
    <div class="title" *ngIf="titleKey">{{ titleKey | translate }}</div>

    <div
        class="preview-slider-arrow left"
        [ngClass]="{'title-offset': titleKey}"
        (mousedown)="scroll(-1, true)"
        (mouseup)="scrollStop()"
        [hidden]="scrollIndex === 0">
    </div>

    <div class="preview-wrapper">
        <div
            class="preview-container"
            [ngStyle]="{'transform': getTransform()}"
            (swipeleft)="scroll(swipePower())"
            (swiperight)="scroll(-1 * swipePower())"
            [ngClass]="{first: firstScroll(), last: lastScroll()}">
            <ng-content></ng-content>
            <div
                *ngFor="let item of items"
                class="preview-item"
                [ngClass]="{'active': +itemPosition(item) == +currentPosition, 'watched':+itemPosition(item) < +currentPosition}">

                <div class="preview-img" (click)="setItem(item)">
                    <img [src]="image(item)"/>
                </div>

                <div class="view-progress" *ngIf="(item.VOD.visitTimes > 0 || item.VOD.bookmark) && !short">
                    <span [ngStyle]="{'width': getProgress(item)}"></span>
                </div>

                <div class="preview-description">
                    <span>{{ itemKey | translate:index(item)}}</span>
                    <span *ngIf="!short">{{ epMinutes(item) }} {{'livetv_minutes' | translate}} {{ epSeconds(item) }} {{ 'livetv_ss' | translate }}</span>
                    <span
                        *ngIf="!short && windowWidth > 1120"
                        (mouseenter)="showDesc(item)"
                        (mouseleave)="showPopup = false"
                    >
                            {{ item.VOD.introduce }}
                    </span>
                    <content-introduce [noDivider]="true" *ngIf="allowMobile && windowWidth <= 1120" [introduce]="item.VOD.introduce">
                        <content-cast [castRoles]="item.VOD.castRoles"></content-cast>
                    </content-introduce>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!short && windowWidth > 1120" class="preview-item-info"
         [ngClass]="{visible: showPopup, inverse: popupInverse}"
         [ngStyle]="{left: getPopupLeft()}">
        <h3 *ngIf="currentItem">
            {{ 'vod_season' | translate:{num: season} }}, {{'episode' | translate:{num: currentItem.sitcomNO} }}
        </h3>

        <div class="divider"></div>

        <content-introduce full="true" [introduce]="(currentItem) ? currentItem.VOD.introduce : ''"></content-introduce>
        <content-cast full="true" [castRoles]="(currentItem) ? currentItem.VOD.castRoles : {}"></content-cast>
    </div>

    <div
        class="preview-slider-arrow right"
        [ngClass]="{'title-offset': titleKey}"
        (mousedown)="scroll(1, true)"
        (mouseup)="scrollStop()"
        [hidden]="rightArrowHidden()">
    </div>
</div>
