@import "/src/assets/css/common-variables.scss";

.recordSuspensionBig {
  overflow: hidden;
  z-index: 12;
}

.suspensionInfor {
  overflow: hidden;
  position: relative;
  border-radius: $rounded-rc1;
  max-height: 492px;
  margin-right: 25px;
}

.title {
  float: left;
  width: 305px;
  color: $text-c31;
  margin-left: 25px;
  margin-top: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hrFirst {
  background: $basic-c03;
  height: 1px;
  width: 305px;
  position: relative;
  float: left;
  margin-top: 15px;
  margin-left: 25px;
}

.channel-name {
    float: left;
    color: $basic-c01;
    margin-top: 15px;
    margin-left: 25px;
    width: 305px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.record-detail-first {
  float: left;
  width: 305px;
  margin-top: 15px;
  margin-left: 25px;
}
.levelImg {
  width: 24px;
  height: 24px;
  text-align: center;
  float: left;
  margin-right: 10px;
  @extend .cloud-24;
}
.levelImgSTB {
  width: 24px;
  height: 24px;
  text-align: center;
  float: left;
  margin-right: 10px;
  @extend .recording_STB-24;
}
.levelImg4K {
  width: 40px;
  height: 18px;
  background: $basic-c03;
  border-radius: $rounded-rc2;
  color: $basic-c02;
  text-align: center;
  float: left;
}
.levelImgInfoHD {
  margin-top: 1px;
}
.levelImgHD {
  width: 40px;
  height: 18px;
  background: $basic-c03;
  border-radius: $rounded-rc2;
  color: $basic-c02;
  text-align: center;
  float: left;
  margin-left: 10px;
}
.levelImgInfoSD {
  margin-top: 1px;
}
.levelImgSD {
  width: 40px;
  height: 18px;
  background: $basic-c03;
  border-radius: $rounded-rc2;
  color: $basic-c02;
  text-align: center;
  float: left;
  margin-left: 10px;
}
.levelImgInfo4K {
  margin-top: 1px;
}
.record-detail-secondary {
  float: left;
  width: 305px;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 30px;
  .genreInfo {
    float: left;
    color: $basic-c01;
    margin-bottom: 8px;
    width: 305px;
  }
  .rateInfo {
    float: left;
    color: $basic-c01;
    width: 305px;
  }
  .seriesInfo {
    float: left;
    color: $basic-c01;
    margin-top: 8px;
    width: 305px;
  }
}
.contentRecordBg {
    margin: 30px 30px 25px 25px;
    width: 305px;
    font-size: $body-t32;
    color: $text-c35;
    line-height: 20px;
    word-break: break-all;
    visibility: hidden;
    position: absolute;
}
.content {
  float: left;
  overflow: hidden;
  margin-left: 25px;
  margin-right: 25px;
  width: 305px;
  max-height: 60px;
  font-size: $body-t32;
  color: $text-c35;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.introduce_dotted {
  float: left;
  margin: 10px 30px 0px 25px;
  width: 305px;
  font-size: $body-t32;
  color: $text-c35;
}
.hrSecond {
  float: left;
  background: $basic-c03;
  height: 1px;
  width: 305px;
  position: relative;
  margin-left: 25px;
  margin-top: 30px;
}

.record-detail-third {
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.btnPlay {
  width: 94px;
  text-align: center;
  border: 1px solid $basic-c25;
  height: 26px;
  border-radius: $rounded-rc1;
  .playInfo {
    color: $basic-c01;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 3.5px;
  }
  .playImg {
      @extend .play-14;
      width: 14px;
      height: 14px;
      background-size: cover;
      float: left;
      margin-right: 10px;
      margin-left: 20px;
      margin-top: 6px;
    }
}

.btnPlay:hover {
  border: 1px solid transparent;
  background-color: $basic-c26;
  cursor: pointer;
}
.btnStopRecord {
  margin-top: 10px;
  text-align: center;
  border: 1px solid $basic-c25;
  height: 26px;
  border-radius: $rounded-rc1;
  .stopRecordInfo {
    color: $basic-c01;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 3.5px;
  }
  .stopRecordImg {
      @extend .stoprecording-14;
      width: 14px;
      height: 14px;
      background-size: cover;
      float: left;
      margin-right: 10px;
      margin-left: 20px;
      margin-top: 6px;
    }
}

.btnStopRecordFurture {
  float: left;
  text-align: center;
  border: 1px solid $basic-c25;
  height: 26px;
  border-radius: $rounded-rc1;
  .stopRecordInfo {
    color: $basic-c01;
    font-size: $title-t18;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 3.5px;
  }
  .stopRecordImg {
      @extend .stoprecording-14;
      width: 14px;
      height: 14px;
      background-size: cover;
      float: left;
      margin-right: 10px;
      margin-top: 6px;
      margin-left: 20px;
    }
}
.btnStopRecordFurture:hover {
  border: 1px solid transparent;
  background-color: $basic-c26;
  cursor: pointer;
}
.btnStopRecord:hover {
  border: 1px solid transparent;
  background-color: $basic-c26;
  cursor: pointer;
}
.btnRecordSettingRecorded{
  float: left;
  text-align: center;
  border: 1px solid $basic-c25;
  height: 26px;
  border-radius: $rounded-rc1;
  .recordSettingInfo {
    color: $basic-c01;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 3.5px;
  }
  .recordSettingImg {
      @extend .recordsetting-14;
      width: 14px;
      height: 14px;
      background-size: cover;
      float: left;
      margin-right: 10px;
      margin-left: 20px;
      margin-top: 6px;
    }
}
.btnRecordSettingRecordeds{
  float: left;
  text-align: center;
  border: 1px solid $basic-c25;
  height: 26px;
  margin-top: 20px;
  border-radius: $rounded-rc1;
  .recordSettingInfo {
    color: $basic-c01;
    font-size: $title-t18;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 3.5px;
  }
  .recordSettingImg {
      @extend .recordsetting-14;
      width: 14px;
      height: 14px;
      background-size: cover;
      float: left;
      margin-right: 10px;
      margin-left: 20px;
      margin-top: 6px;
    }
}
.btnRecordSettingRecord{
  float: left;
  text-align: center;
  border: 1px solid $basic-c25;
  height: 26px;
  border-radius: $rounded-rc1;
  margin-left: 20px;
  .recordSettingInfo {
    color: $basic-c01;
    font-size: $title-t18;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 3.5px;
  }
  .recordSettingImg {
      @extend .recordsetting-14;
      width: 14px;
      height: 14px;
      background-size: cover;
      float: left;
      margin-right: 10px;
      margin-left: 20px;
      margin-top: 6px;
    }
}
.btnRecordSettingRecordSeries{
  float: left;
  text-align: center;
  border: 1px solid $basic-c25;
  height: 26px;
  border-radius: $rounded-rc1;
  margin-top: 20px;
  clear: left;
  .recordSettingInfo {
    color: $basic-c01;
    font-size: $title-t18;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 3.5px;
  }
  .recordSettingImg {
      @extend .recordsetting-14;
      width: 14px;
      height: 14px;
      background-size: cover;
      float: left;
      margin-right: 10px;
      margin-left: 20px;
      margin-top: 6px;
    }
}
.btnRecordSetting {
  margin-top: 10px;
  text-align: center;
  border: 1px solid $basic-c25;
  height: 26px;
  border-radius: $rounded-rc1;
  margin-left: 1px;
  .recordSettingInfo {
    color: $basic-c01;
    font-size: $title-t18;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 3.5px;
  }
  .recordSettingImg {
      @extend .recordsetting-14;
      width: 14px;
      height: 14px;
      background-size: cover;
      float: left;
      margin-right: 10px;
      margin-left: 20px;
      margin-top: 6px;
    }
}

.btnRecordSettingRecordeds:hover,
.btnRecordSettingRecordeds:hover,
.btnRecordSetting:hover,
.btnRecordSettingRecordSeries:hover,
.btnRecordSettingRecord:hover,
.btnRecordSettingRecorded:hover{
  border: 1px solid transparent;
  background-color: $basic-c26;
  cursor: pointer;
}

