<div class="contentRecordBg" id="contentRecordBg"></div>
<div class="recordSuspensionBig" (mouseenter)="mouseenter('onSuspension')" (mouseleave)="mouseleave()">
    <div id="suspension" class="suspensionInfor" [ngStyle]="leftStyle">
        <div class="title title-t13" *ngIf= "searchAll || (!hasStopButton && !hasSetButton) || (!hasStopButton && !hasPlayButton)">{{titleName}}</div>
        <div class="hrFirst" *ngIf= "searchAll"></div>
        <div class="channel-name title-t18" *ngIf="(policyType == 'Period' || policyType == 'Series')&&searchAll">{{"record_suspend_channel" | translate}}{{channelName}}</div>
        <div class="channel-name title-t18" *ngIf="(policyType == 'TimeBased' || policyType == 'PlaybillBased')&&searchAll">{{recordDetails.recordTime | translate}} <br> {{recordDetails.duration}}
            | {{recordDetails.channelName}}
        </div>
        <div class="record-detail-first title-t18"  *ngIf= "searchAll">
            <div class="levelImg" *ngIf="!isCloud && !isSTB && recordingMode == 'MIXPVR'"></div>
            <div class="levelImgSTB" *ngIf="!isCloud && isSTB && recordingMode == 'MIXPVR'"></div>
            <div class="levelImg4K" *ngIf="is4K">
                <div class="levelImgInfo4K">{{'record_4k' | translate}}</div>
            </div>
            <div [class]="is4K ? 'levelImgHD' : 'levelImg4K'" *ngIf="isHD">
                <div class="levelImgInfoHD">{{'record_hd' | translate}}</div>
            </div>
            <div [class]="isHD || is4K ? 'levelImgSD' : 'levelImg4K'" *ngIf="isSD">
                <div class="levelImgInfoSD">{{'record_sd' | translate}}</div>
            </div>
        </div>
        <div *ngIf="isSeriesRecord && searchAll" class="record-detail-secondary">
            <div class="genreInfo title-t18">{{espiesds}}</div>
            <div class="rateInfo title-t18">{{data}}</div>
            <div *ngIf="!isAuto" class="seriesInfo title-t18">{{"record_repeat_date" | translate}}&nbsp;{{repeat}}</div>
        </div>
        <div class="record-detail-third" [ngStyle]="combineStyle()">
            <div *ngIf="hasPlayButton" class="btnPlay" (click)="play()">
                <div class="playImg"></div>
                <div class="playInfo title-t18">{{"play" | translate}}</div>
            </div>
            <div *ngIf="hasStopButton&&(isSearchRecord!=='isSearchRecord')" [class]="hasPlayButton ? 'btnStopRecord' : 'btnStopRecordFurture'"
                (click)="stopRecording()">
                <div class="stopRecordImg"></div>
                <div class="stopRecordInfo title-t18">{{"stop_recording" | translate}}</div>
            </div>
            <div *ngIf="hasPlayButton && hasStopButton && hasSetButton && (isSearchRecord!=='isSearchRecord')" class="btnRecordSetting"
                (click)="recordSetting()">
                <div class="recordSettingImg"></div>
                <div class="recordSettingInfo title-t18">{{"Record_setting" | translate}}</div>
            </div>
            <div *ngIf="!hasPlayButton && hasStopButton && hasSetButton && (isSearchRecord!=='isSearchRecord')" class="btnRecordSettingRecordSeries"
                (click)="recordSetting()">
                <div class="recordSettingImg"></div>
                <div class="recordSettingInfo title-t18">{{"Record_setting" | translate}}</div>
            </div>
            <div *ngIf="!hasPlayButton && !hasStopButton && hasSetButton && (isSearchRecord!=='isSearchRecord')" class="btnRecordSettingRecorded"
                (click)="recordSetting()">
                <div class="recordSettingImg"></div>
                <div class="recordSettingInfo title-t18">{{"Record_setting" | translate}}</div>
            </div>
            <div *ngIf="hasPlayButton && !hasStopButton && hasSetButton && (isSearchRecord!=='isSearchRecord')" class="btnRecordSettingRecordeds"
                (click)="recordSetting()">
                <div class="recordSettingImg"></div>
                <div class="recordSettingInfo title-t18">{{"Record_setting" | translate}}</div>
            </div>
        </div>
    </div>
</div>