<div *ngIf="isLoaded; else loading" class="content-container">
  <div class="playerTitle">
    <h2 class="contentTitle ">
      {{ VODDetail.name }}
    </h2>
  </div>
  <app-content-player class="player-content" id="player_content" [data]="VODDetail" [episodes]="seasonEpisodes"></app-content-player>
  <content-meta [data]="VODDetail" [series]="series" [season]="season"></content-meta>
  <content-title [data]="VODDetail"></content-title>
  <content-score-info [data]="VODDetail"></content-score-info>
  <content-introduce [introduce]="VODDetail.introduce"></content-introduce>
  <content-cast [castRoles]="VODDetail.castRoles" [neededRole]="11"></content-cast>
  <content-item-list titleKey="seasons" [items]="seasonsList" [currentPosition]="seasonNumber"></content-item-list>
  <content-item-list titleKey="episodes" [items]="seasonEpisodes" [currentPosition]="VODDetail.series[0].sitcomNO"></content-item-list>
  <content-trailer *ngIf="episodeHaveTrailer" [setEpisode]="VODDetail"></content-trailer>
</div>
<ng-template #loading>
  <div class="load-container">
    <div class="spinner"></div>
  </div>
</ng-template>
