@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.channelContainer{
    position:fixed;
    width: 100%;
    height: 100%;
    display: block;
    top: unit(0);
    left: unit(0);
    z-index: 12;
    background: $basic-C08;
}
.channelName{
    position: absolute;
    height: unit(633);
    width: unit(460);
    background-color: $basic-c14;
    left: unit(0);
    right: unit(0);
    top: unit(0);
    bottom: unit(0);
    margin: auto;
    #wrap{
        position: relative;
        height: unit(553);
        overflow: hidden;
    }
    .channelNamePanel{
        top:  unit(0);
        position: relative;
    }
}

.channelnametitle{
    height: unit(60);
    line-height: unit(60);
    border-bottom: unit(1) solid $basic-c19;
    vertical-align: middle;
    text-align:center;
    color: $text-c35;
    margin-bottom: unit(10);
    cursor: default;
    .channel-close{
        background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
        width: unit(20);
        height: unit(20);
        position: relative;
        top: unit(-40);
        left: unit(405);
        cursor: pointer;
    }
}

.channelNameList{
    height: unit(46);
    line-height: unit(46);
    vertical-align: middle;
    color: $text-c35;
    img{
        width: unit(40);
        height: unit(40);
        float: left;
        margin-top: unit(3);
    }
    .channelNO{
        margin-right: unit(20);
        margin-left: unit(155);
        line-height: unit(46);
        float: left;
        text-align: right;
        width: unit(20);
    }
    .channelDatename{
        margin-left: unit(20);
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: unit(160);
    }
    .isChoosen{
        width: unit(22);
        height: unit(22);
        position: relative;
        float: left;
    }
}
.channelNameList:hover {
    background-color: $basic-c03;
    cursor: pointer;
    color: $text-c31;
}
.isChoosenChannelName{
    height: unit(46);
    line-height: unit(46);
    vertical-align: middle;
    color: $text-c31;
    img{
        width: unit(40);
        height: unit(40);
        float: left;
        margin-top: unit(3);
    }
    .channelNO{
        margin-right: unit(20);
        margin-left: unit(155);
        line-height: unit(46);
        float: left;
        text-align: right;
        width: unit(20);
    }
    .channelDatename{
        margin-left: unit(20);
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: unit(160);
    }
    .isChoosen{
        background: url(assets/img/22/check_22.png) no-repeat;
        width: unit(22);
        height: unit(22);
        position: relative;
        float: left;
        top: unit(10);
        left: unit(55);
    }
}
.isChoosenChannelName:hover{
    background-color: $basic-c03;
    cursor: pointer;
    color: $text-c31;
}
.scrollList {
    position: absolute;
    top: unit(0);
    right: unit(0);
  .scroll {
    height: unit(553);
    width: unit(12);
    right: unit(6);
    cursor: pointer;
    position: absolute;
    span {
      height: unit(48);
      width: unit(6);
      top: unit(0);
      bottom: unit(0);
      right: unit(3);
      cursor: pointer;
      position: absolute;
      background: $basic-c03;
      border-radius: unit(24);
    }
  }
}

.channel-load {
  position: absolute;
  top: unit(250);
  left: unit(200);
  z-index: 99999;
  display: block;
  .spinner {
    position: absolute;
    left: 0;
    width: unit(80);
	  height: unit(80);
    background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
    -webkit-animation: login_load_roate_div 2s infinite;
    animation: login_load_roate_div 2s infinite;
  }
}

@keyframes login_load_roate_div {
      0%		{transform: rotate(0deg);}
      100%	{transform: rotate(360deg);}
}

@-webkit-keyframes login_load_roate_div {
      0%		{transform: rotate(0deg);}
      100%	{transform: rotate(360deg);}
}
