<div class="channelContainer" [ngStyle]='{ "display":isShowChannelName ? "block": "none" }'>
  <div class="channelName title-t14" id="channelName">
    <div class="channelnametitle">{{'channel_name' | translate}}
      <div class="channel-close" (click)="close()"></div>
    </div>
    <div id="wrap">
      <div class="channelNamePanel" id="channelNamePanel">
        <div id="channelNameList body-t29" [class]="(i==isChooseIndex) ? 'isChoosenChannelName' : 'channelNameList'"
          *ngFor="let channelDate of channelDates, let i=index" (click)="chooseData(channelDate,i)">
          <div class="isChoosen"></div>
          <span class="channelNO">{{channelDate.channelNO}}</span>
          <img src="{{channelDate.logoUrl}}" onerror="this.onerror=null;this.src='assets/img/default/minidetail_channel_poster.png'"/>
          <span class="channelDatename">{{channelDate.name}}</span>
        </div>
      </div>
      <div class="scrollList" id="channelScrollList" *ngIf="channelDates.length > 12">
        <div class="scroll" id="channelScroll">
          <span id="channelScrollSpan">
          </span>
        </div>
      </div>
      <div class="channel-load" *ngIf="showChannelLoad">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
</div>
