<div id="cast-show" *ngIf="hasContent">
  <div class="second-line"></div>
  <div class="cast-title title-t13">{{castTitle}}</div>
  <div class="cast-content" *ngIf="hasContent">
    <div class="HeadAndName">
      <div *ngFor="let castInfo of castShowData, let i=index" class="item">
        <img src={{avatar[i]}} (mouseenter)="mouseenter(i,$event)" (mouseleave)="mouseleave(i,$event)" (click)="showMore()" onerror="this.onerror=null;this.src='assets/img/default/ondemand_casts.png'"/>
        <span class="castName body-t29">{{castName[i]}}</span>
        <span class="upArrow" *ngIf="isEnter[i]"></span>
      </div>
    </div>
    <div class="first-line"></div>
    <div class="castVodList">
      <columnshow [childcolumnshow]="datas"  [suspensiondata]="vodListSuspension" (child)="onClickDetail($event)" [show]="castShow" [id]="castId" *ngIf="datas.length"></columnshow>
    </div>
  </div>
  <div class="noDataList" *ngIf="!hasContent">
        <waterfall-noData [nodatatype]="'ondemand'"></waterfall-noData>
    </div>
</div>
