@import "/src/assets/css/common-variables.scss";

#cast-show {
  margin: auto;
  width: unit(1280);
  position: relative;
}

.cast-title {
  display: inline-block;
  width: unit(1280);
  height: unit(24);
  line-height: unit(24);
  padding-top: unit(30);
  padding-bottom: unit(20);
  color: $text-c31;
}

.HeadAndName {
  width: unit(1336);
  height: unit(125);
  position: relative;
  padding-left: unit(22);
  padding-right: unit(22);
}

.first-line {
  padding-top: unit(30);
  border-bottom: unit(1) solid $basic-c03;
  width: 100%;
}

.item {
  float: left;
  width: unit(88);
  height: unit(125);
  position: relative;
  margin-right: unit(120);
  img {
    width: unit(88);
    height: unit(88);
    border-radius: 100%;
    overflow: hidden;
    background-image: url(assets/img/default/ondemand_casts.png);
    background-size: unit(88) unit(88);
  }
  img:hover {
    border: unit(4) solid $basic-c01;
    cursor: pointer;
  }
  .castName {
    position: absolute;
    left: unit(-20);
    top: unit(88);
    text-align: center;
    padding-top: unit(21);
    width: unit(130);
    height: unit(16);
    line-height: unit(15);
    padding-bottom: unit(1);
    color: $text-c31;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .upArrow {
    position: absolute;
    background-color: $basic-c12;
    left: unit(36);
    top: unit(142);
    width:unit(16);
    @extend .angleup-20;
  }
}

.item:last-child {
  margin-right: unit(0);
}

.castVodList {
  position: relative;
  width: unit(1280);
  height: unit(319);
  padding-top: unit(40);
  padding-bottom: unit(40);
}

.noDataList {
  padding-top: unit(171);
  padding-bottom: unit(230);
  position: relative;
  @media screen and(max-width: unit(1440)) {
    width: unit(980);
  }
}

.second-line {
  border-bottom: unit(1) solid $basic-c03;
  width: 100%;
}
