@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.app-content-series {
  display: block;
  // background-color: rgba(0,0,0,0.9);
}

.app-player-container {
  padding-bottom: 35px;
}

.series-meta-container {
	// background-color: #1a1a1a;
}

.content-container {
	margin-top: 0;
	padding-top: 35px;
}

.content-title {
  color: #d8d8d8;
  font-size: unit(24);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-header {
	margin-top: 0;
}

.series-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #f5f5f5;
  background-color: rgba(0,0,0,0.9);
  z-index: 999;
  box-sizing: border-box;

  .pre-market {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 40px;
    box-sizing: border-box;
    transform: translateY(-50%);

    .goto-btn {
      display: inline-block;
      width: unit(232);
      height: unit(46);
      border-radius: unit(2);
      background-image: linear-gradient(to right, $basic-c31, $basic-c32);
      font-size: 20px;
      line-height: unit(46);
      text-align: center;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1120px){
  .series-meta-container {
    padding: 0 40px;
  }

  .content-container {
    width: auto;
    padding-top: 15px;

    .player-content {
      height: auto;
    }
  }

  .content-title {
    font-size: 16px;
    font-weight: 600;
  }

}
@media (max-width: 790px) {
  .series-meta-container {
    padding-top: 60px;
  }
}
