<div *ngIf="isLoaded; else loading" class="app-content-series">
  <div  class="content-container app-player-container">
    <div class="playerTitle">
      <span class="contentTitle title-t18">
        {{VODSeries.name}}
      </span>
    </div>
    <!--<div class="poster">
      <img class="poster-image" src="{{picture}}"/>
    </div>-->
    <app-content-player [(enabled)]="forcePlay" class="player-content" id="player_content" [data]="VODDetail" [episodes]="seasonEpisodes" [picture]="picsrc"></app-content-player>
  </div>
  <div class="series-meta-container">
    <div class="content-container">
      <content-meta [data]="VODSeries"></content-meta>
      <content-title [data]="VODSeries"></content-title>
      <content-score-info [data]="VODSeries"></content-score-info>
      <content-genres [seasonGenres]="seasonGenres"></content-genres>

      <div class="content-title">{{ 'description' | translate }}</div>

      <content-introduce [introduce]="VODSeries.introduce">
        <content-cast [castRoles]="VODSeries.castRoles"></content-cast>
      </content-introduce>

      <content-preview-list *ngIf="seasonHaveTrailers" titleKey="trailers" itemKey="trailer" short="true" [items]="seasonTrailers" [currentPosition]="trailerNumber" (onSelect)="setTrailer($event)">
        <div class="load-container" *ngIf="!trailersLoaded">
          <div class="spinner"></div>
        </div>
      </content-preview-list>

      <div class="divider topup"></div>

      <content-dropdown-list titleKey="vod_season" [items]="seasonsList" [currentPosition]="seasonNumber" (onSelect)="setSeason($event)"></content-dropdown-list>

      <content-preview-list allowMobile="true" itemKey="episode" [season]="seasonNumber" [items]="seasonEpisodes" [currentPosition]="episodeNumber" (onSelect)="setVOD($event)">
        <div class="load-container" *ngIf="seasonEpisodes.length < 1">
          <div class="spinner"></div>
        </div>
      </content-preview-list>
    </div>
  </div>
</div>
<div *ngIf="noMobilePlay" class="series-overlay" (click)="noMobilePlay=false">
  <div class="pre-market">
    {{ 'to_watch_go_to_market' | translate }}
    <div class="goto-btn" (click)="$event.stopPropagation();mobile.gotoMarket()">{{ 'goto_market' | translate }}</div>
  </div>
</div>
<ng-template #loading>
  <div class="load-container">
    <div class="spinner"></div>
  </div>
</ng-template>
