@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.profile-header-nav {
  position: absolute;
  left: unit(-200);
  width: unit(216);
  text-align: left;
  top: unit(25);
  background: url(assets/img/account_number_Drop_down_box.png) unit(0) unit(11) no-repeat;
  -webkit-animation: fade-in 1s;
  .my_tv_profile {
    box-shadow: unit(-3) unit(11) unit(84) $basic-c06;
    width: unit(216);
    border-radius: unit(3);
    top: unit(23);
    position: relative;
    .profile_message {
      padding-top: unit(20);
      padding-bottom: unit(20);
      background: $basic-c12;
      div {
        color: $text-c31;
        cursor: pointer;
        padding-left: unit(20);
        display: inline-block;
      }
      .login_name {
        width: unit(100);
        padding-left: unit(10);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        top: unit(20);
      }
    }
    .my_tv_other {
      padding-top: unit(10);
      background: $basic-c14;
      border-bottom-left-radius: unit(3);
      border-bottom-right-radius: unit(3);
      padding-bottom: unit(10);
      .my_title {
        &:hover {
          span {
            padding-top: unit(9);
            padding-bottom: unit(9);
            background: $basic-c03;
            color: $text-c31;
          }
        }
        span {
          padding-top: unit(9);
          padding-bottom: unit(9);
          color: $text-c35;
          cursor: pointer;
          display: block;
          padding-left: unit(56);
        }
      }
    }
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.profile-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: unit(54);
  padding: unit(0);
  cursor: pointer;
  img{
    width: unit(18);
  }
}
#my_tv_history{
  background: url(assets/img/16/history_16.png) unit(20) unit(10) no-repeat;
  &:hover {
    background: url(assets/img/16/history2_16.png) unit(20) unit(10) no-repeat;
  }
}
#my_tv_favorites_video{
  background: url(assets/img/16/favorite_videos_16.png) unit(20) unit(10) no-repeat;
  &:hover {
    background: url(assets/img/16/favorite_videos2_16.png) unit(20) unit(10) no-repeat;
  }
}
#my_tv_favorites_channels{
  background: url(assets/img/16/favorite_channels_16.png) unit(20) unit(10) no-repeat;
  &:hover {
    background: url(assets/img/16/favorite_channels2_16.png) unit(20) unit(10) no-repeat;
  }
}
#my_tv_locked_channels{
  background: url(assets/img/16/lockedchannels_16.png) unit(20) unit(10) no-repeat;
  &:hover {
    background: url(assets/img/16/lockedchannels2_16.png) unit(20) unit(10) no-repeat;
  }
}
#my_tv_reminder{
  background: url(assets/img/16/reminder_16.png) unit(20) unit(10) no-repeat;
  &:hover {
    background: url(assets/img/16/reminder2_16.png) unit(20) unit(10) no-repeat;
  }
}
#my_tv_recordings{
  background: url(assets/img/16/recording_16.png) unit(20) unit(10) no-repeat;
  &:hover {
    background: url(assets/img/16/recording2_16.png) unit(20) unit(10) no-repeat;
  }
}
#my_subscriptions{
  background: url(assets/img/16/purchased_16.png) unit(20) unit(10) no-repeat;
  &:hover {
    background: url(assets/img/16/purchased2_16.png) unit(20) unit(10) no-repeat;
  }
}
#all_subscriptions{
    background: url(assets/img/16/purchased_16.png) unit(20) unit(10) no-repeat;
    &:hover {
        background: url(assets/img/16/purchased2_16.png) unit(20) unit(10) no-repeat;
    }
}
#promocodes{
    background: url(assets/img/16/promocode_hover.png) unit(20) unit(10) no-repeat;
    &:hover {
        background: url(assets/img/16/promocode_normal.png) unit(20) unit(10) no-repeat;
    }
}
#social_networks{
    background: url(assets/img/16/vk2_16.png) unit(20) unit(10) no-repeat;
    &:hover {
        background: url(assets/img/16/vk_16.png) unit(20) unit(10) no-repeat;
    }
}
#my_tv_device{
  background: url(assets/img/16/device_name_16.png) unit(20) unit(10) no-repeat;
  &:hover {
    background: url(assets/img/16/device_name2_16.png) unit(20) unit(10) no-repeat;
  }
}
#my_preference_setting{
  background: url(assets/img/16/setting_16.png) unit(20) unit(10) no-repeat;
  &:hover {
    background: url(assets/img/16/setting2_16.png) unit(20) unit(10) no-repeat;
  }
}
#my_tv_logout{
  background: url(assets/img/16/logout_16.png) unit(20) unit(10) no-repeat;
  &:hover {
    background: url(assets/img/16/logout2_16.png) unit(20) unit(10) no-repeat;
  }
}
#my_tv_sub_profile{
  background: url(assets/img/16/commmonprofiles_16.png) unit(20) unit(10) no-repeat;
  &:hover {
    background: url(assets/img/16/commmonprofiles2_16.png) unit(20) unit(10) no-repeat;
  }
}
