<div class="profile-header-nav" (mouseenter)="showProfile()" (mouseleave)="hideProfile()"
     [ngStyle]="{display: (profileDisplay) ? 'inline' : 'none'}">
    <div class="my_tv_profile">
        <div class="profile_message body-t32">
            <div (click)="jumptomy()"> {{'login_id' | translate}}:</div>
            <div class="login_name" (click)="jumptomy()"> {{loginName}}</div>
        </div>
        <div class="my_tv_other body-t32">
            <div class="my_title" (click)="toHistoryVod()" id="my_tv_history">
                <span> {{'history'  | translate}} </span>
            </div>
            <div class="my_title" (click)="toFavoriteVod()" id="my_tv_favorites_video">
                <span> {{'Fav_Video'| translate}} </span>
            </div>
            <div class="my_title" (click)="toMySubscribed()" id="my_subscriptions">
                <span> {{'my_subscriptions'| translate}} </span>
            </div>
            <div class="my_title" (click)="toAllSubscriptions()" id="all_subscriptions">
                <span> {{'all_subscriptions'| translate}} </span>
            </div>
            <!-- 
            <div class="my_title" (click)="toPromocodes()" id="promocodes">
                <span> {{'promocodes'| translate}} </span>
            </div> -->
            <!--
            <div class="my_title" (click)="toSocial()" id="social_networks">
                <span> {{'social_networks'| translate}} </span>
            </div> -->
            <!--DEPRECATED DWD-32 -->
			<!--<div class="my_title" (click)="toSubProfile()" id="my_tv_sub_profile" *ngIf="isMainProfile">-->
                <!--<span> {{'sub_profile_navigate'| translate}} </span>-->
            <!--</div>-->
            <div class="my_title" (click)="toDeviceName()" id="my_tv_device">
                <span> {{'device_name'| translate}} </span>
            </div>
            <!--DEPRECATED DWD-32 -->
            <!--<div class="my_title" (click)="toPreference()" id="my_preference_setting">-->
                <!--<span> {{'preference_setting'| translate}} </span>-->
            <!--</div>-->
            <div class="my_title" id="my_tv_logout">
                <span (click)="onClickLogout()"> {{'logout'| translate}} </span>
            </div>
        </div>
    </div>
</div>
<div class='profile-logo' (mouseenter)="showProfile()" (mouseleave)="hideProfile()" (click)="loginOrGoToMy()">
  <img class="" 
      src="{{profilelogoURL}}" onerror="this.onerror=null;this.src='assets/img/default/ondemand_casts.png'"/>
</div>
