@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
}

.myVideos {
  width: 100%;
  margin: auto;
  .myVideos-panel {
    position: relative;
    width: 100%;
    .wrap-content {
      height: 100%;
      overflow: hidden;
    }
    .myVideos-frame + .myVideos-frame {
      margin-top: 5px;
    }
    .myVideos-frame {
      display: flex;
      flex-direction: column;
      padding: 15px 20px;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
      background-color: $mts-bg-7;
      &.cover-frame {
        cursor: default;
      }

      .myVideos-delete {
        width: 24px;
        height: 24px;
        position: absolute;
        top: calc((50%) - (12px));
        right: 25px;
        @extend .remove-24;
        cursor: pointer;
        z-index: 2;
      }

      .myVideos-state {
        font-family: Rubik-Light, sans-serif;
        font-size: $body-t32;
        line-height: 17px;
        color: $text-c36;
        letter-spacing: 0.2px;
      }

      $font-size: 16px;
      $line-height: 1.4;
      $lines-to-show: 2;

      .title {
        max-width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        .myVideos-vodName {
          font-size: $body-t29;
          line-height: 19px;
          margin-bottom: 2px;
          letter-spacing: 0.2px;
          color: $text-c31;
          white-space: nowrap;
        }
      }
      .myVideos-seriesName {
        font-family: Rubik-Light, sans-serif;
        font-size: $body-t32;
        line-height: 17px;
        color: $text-c34;
        margin-bottom: 2px;
        letter-spacing: 0.2px;
      }
    }
  }
}
