<div class="myVideos" *ngIf="dataList">
    <div class="myVideos-panel">
        <div class="wrap-content">
            <div
                    *ngFor="let data of dataList; let dataIndex = index"
                    class="myVideos-frame"
                    [class.cover-frame]="isDelete === '1'"
                    (click)="vodDetail(data.id)"
            >
                <div class="title">
                    <span class="myVideos-vodName body-t29">{{data.vodName}}</span>
                </div>
                <div *ngIf="data.isHistory === '1'">
                    <div class="myVideos-seriesName" *ngIf="data.series.num !== 0 && data.episodeCount.num !== 0">
                        {{'vod_season' | translate:data.series}},&nbsp;{{'episode' | translate:data.episodeCount}}
                    </div>
                    <div class="myVideos-seriesName" *ngIf="data.series.num !== 0 && data.episodeCount.num === 0">
                        {{'vod_season' | translate: data.series}}
                    </div>
                    <div class="myVideos-seriesName" *ngIf="data.series.num === 0 && data.episodeCount.num !== 0">
                        {{'episode' | translate: data.episodeCount}}
                    </div>
                    <div *ngIf="data.isHistory === '1'" class="myVideos-state">{{ 'min_left' | translate:param[dataIndex] }}</div>
                </div>
                <div *ngIf="data.isFavorite === '1'">
                    <div class="myVideos-seriesName" *ngIf="data.series.num !== 0 && data.episodeCount.num > 1">
                        {{'vod_season' | translate: data.series}},&nbsp;{{'vod_episodes' | translate:data.episodeCount}}
                    </div>
                    <div class="myVideos-seriesName" *ngIf="data.series.num !== 0 && data.episodeCount.num === 1">
                        {{'vod_season' | translate: data.series}},&nbsp;{{'vod_episodes' | translate:data.episodeCount}}
                    </div>
                    <div class="myVideos-seriesName" *ngIf="data.series.num !== 0 && data.episodeCount.num === 0">
                        {{'vod_season' | translate: data.series}}
                    </div>
                    <div class="myVideos-seriesName" *ngIf="data.series.num === 0 && data.episodeCount.num > 1">
                        {{'vod_episodes' | translate: data.episodeCount}}
                    </div>
                    <div class="myVideos-seriesName" *ngIf="data.series.num === 0 && data.episodeCount.num === 1">
                        {{'vod_episodes' | translate: data.episodeCount}}
                    </div>
                </div>
                <div
                        class="myVideos-delete"
                        [ngStyle]="{display: (isDelete === '1') ? 'block' : 'none'}"
                        (click)="deleteData(data,dataIndex)"
                ></div>
            </div>
        </div>
    </div>
</div>
