<div class="myRecording">
  <div [class]="recordingMode == 'CPVR' || recordingMode == 'NPVR' ? 'title title-t13': 'titleSmall title-t13'">
    <span id="cloud-title" [class]='selectTitleFlag == "cloud" ? "selected" : "unSelected"' (click)="changeTitle('cloud')" *ngIf="recordingMode !== 'CPVR'">{{'cloud_recording' | translate}}</span>
    <div *ngIf="recordingMode != 'CPVR'" class="line-after-cloud"></div>
    <span id="stb-title" [class]='selectTitleFlag == "stb" ? "selected1" : "unSelected1"' (click)="changeTitle('stb')" *ngIf="recordingMode == 'MIXPVR' || recordingMode == 'CPVR&NPVR'">{{'stb_recording' | translate}}</span>
    <span id="stb-title-cpvr" [class]='selectTitleFlag == "stb" ? "selected11" : "unSelected11"' (click)="changeTitle('stb')" *ngIf="recordingMode == 'CPVR'">{{'stb_recording' | translate}}</span>
    <div class="line-after-stb" *ngIf="recordingMode !== 'NPVR'"></div>
    <span id="sched-title" [class]='selectTitleFlag == "sched" ? "selected2" : "unSelected2"' (click)="changeTitle('sched')">{{'scheduled_recording' | translate}}</span>
    <div class="line-after-sched"></div>
    <span id="manual-title" [class]='selectTitleFlag == "manual" ? "selected3" : "unSelected3"' (click)="changeTitle('manual')">{{'manual_recording' | translate}}</span>
    <div [class]="hasData ? 'recordingEdit body-t32':'recordingEditFalse body-t32'" (click)="editData()" *ngIf="!isEditing && showEdit">{{'edit' | translate}}</div>
    <div class="butt-wrap">
      <div class="recordingComplete body-t32" (click)="completeData()" *ngIf="isEditing && showEdit">{{'complete' | translate}}</div>
      <div class="recordingClearAll body-t32" (click)="clearAllData()" *ngIf="isEditing && showEdit">{{'clearAll' | translate}}</div>
    </div>
    <app-close-confirm class="confirm" [confirmInfoKey]="confirmInfoKey" (cancelData)="cancelData($event)" (confirmData)="confirmData($event)" *ngIf="isClearAll"></app-close-confirm>
    <app-delete-one-confirm [uiString]="deleteUIString" class="confirmOne" *ngIf="deleteOneConfirm"></app-delete-one-confirm>
  </div>
  <app-manual-recording [setConfig]="configData" *ngIf="selectTitleFlag == 'manual'"></app-manual-recording>
  <app-cloud-recording *ngIf="selectTitleFlag == 'cloud'"></app-cloud-recording>
  <app-stb-recording *ngIf="selectTitleFlag == 'stb'"></app-stb-recording>
  <app-scheduled-recording *ngIf="selectTitleFlag == 'sched'"></app-scheduled-recording>
  <app-mytv-submit class="record-submit" [infoKey]="infoKey" (closeSubDialog)="closeSubDialog($event)" (cancelOperation)="cancelOperation($event)" (submitData)="submitData($event)" *ngIf="showSubmitDialog"></app-mytv-submit>
  <app-space-record *ngIf="recordingMode !== 'CPVR'" id="space-record-style"></app-space-record>
</div>
