@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.myRecording {
  width: unit(1086);
  .titleSmall{
    border-bottom: unit(1) solid $basic-c03;
    padding: unit(10) 0;
    color: $text-c35;
    height: unit(22);
    position: relative;
    line-height: unit(24);
    @media screen and (max-width: unit(1440)) {
      font-size: $title-t17;
      height: unit(16);
    }
  }
  .title {
    border-bottom: unit(1) solid $basic-c03;
    padding: unit(10) 0;
    color: $text-c35;
    height: unit(22);
    position: relative;
    line-height: unit(24);
    @media screen and (max-width: unit(1440)) {
      font-size: $title-t17;
      height: unit(16);
    }
  }
  .line-after-cloud,
  .line-after-stb,
  .line-after-sched{
    width: unit(1);
    border-right: unit(1) solid $basic-c20;
    position: relative;
    height: unit(14);
    float: left;
    top: unit(5);
  }
  .selected{
    color: $text-c31;
    margin-right: unit(45);
    cursor: pointer;
    float: left;
    @media screen and (max-width: unit(1440)) {
      margin-right: unit(30);
    }
  }
  .selected1,
  .selected2{
    color: $text-c31;
    margin-right: unit(45);
    margin-left: unit(45);
    cursor: pointer;
    float: left;
    @media screen and (max-width: unit(1440)) {
      margin-right: unit(30);
      margin-left: unit(30);
    }
  }
  .selected11{
    color: $text-c31;
    margin-right: unit(45);
    cursor: pointer;
    float: left;
    @media screen and (max-width: unit(1440)) {
      margin-right: unit(30);
    }
  }
  .selected3{
    color: $text-c31;
    margin-right: unit(45);
    margin-left: unit(45);
    cursor: pointer;
    float: left;
    @media screen and (max-width: unit(1440)) {
      margin-right: unit(30);
      margin-left: unit(30);
      cursor: pointer;
      float: left;
    }
  }
  .unSelected{
    margin-right: unit(45);
    cursor: pointer;
    float: left;
    @media screen and (max-width: unit(1440)) {
      margin-right: unit(30);
    }
  }
  .unSelected1,
  .unSelected2{
    margin-right: unit(45);
    margin-left: unit(45);
    cursor: pointer;
    float: left;
    @media screen and (max-width: unit(1440)) {
      margin-right: unit(30);
      margin-left: unit(30);
    }
  }
  .unSelected11{
    margin-right: unit(45);
    cursor: pointer;
    float: left;
    @media screen and (max-width: unit(1440)) {
      margin-right: unit(30);
    }
  }
  .unSelected3 {
    margin-right: unit(45);
    margin-left: unit(45);
    cursor: pointer;
    float: left;
    @media screen and (max-width: unit(1440)) {
      margin-right: unit(30);
      margin-left: unit(30);
      cursor: pointer;
      float: left;
    }
  }
  .recordingEdit {
    width: unit(60);
    height: unit(28);
    border: unit(1) $basic-c21 solid;
    text-align: center;
    color: $text-c31;
    line-height: unit(28);
    cursor: pointer;
    border-radius: unit(2);
    -webkit-user-select: none;
    position: relative;
    user-select: none;
    position: absolute;
    right: unit(0);
    bottom: unit(7);
    z-index: 2;
  }
  .recordingEdit:hover {
    background: $basic-c03;
  }
  .recordingEditFalse {
    //width: unit(60);
    height: unit(28);
    border: unit(1) $basic-c21 solid;
    border-radius: unit(2);
    text-align: center;
    -webkit-user-select: none;
    line-height: unit(28);
    user-select: none;
    position: absolute;
    right: unit(0);
    bottom: unit(7);
  }
  .recordingClearAll {
    height: unit(28);
    border: unit(1) $basic-c21 solid;
    float: right;
    margin-right: unit(20);
    padding: 0 unit(20) 0 unit(20);
    color: $text-c31;
    line-height: unit(28);
    cursor: pointer;
    border-radius: unit(2);
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    @media screen and (max-width: unit(1440)) {
      margin-right: unit(10);
    }
  }
  .recordingClearAll:hover {
    background: $basic-c03;
  }
  .recordingComplete {
    height: unit(28);
    border: unit(1) $basic-c21 solid;
    float: right;
    padding: 0 unit(20) 0 unit(20);
    color: $text-c31;
    line-height: unit(28);
    cursor: pointer;
    border-radius: unit(2);
    -webkit-user-select: none;
    user-select: none;
    position: relative;
  }
  .recordingComplete:hover {
    background: $basic-c03;
  }

  .butt-wrap{
    position: absolute;
    right: unit(0);
    bottom: unit(7);
    z-index: 2;
  }

  .confirm {
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
  }
  .confirmOne {
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
  }
}

.record-submit{
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
}

 app-space-record{
  height: unit(56);
  width: unit(1086);
  position: absolute;
  background: $basic-C09;
  z-index: 8;
  bottom: unit(-1);
}

@media screen and (max-width: unit(1440)) {
  .myRecording {
    width: unit(686);
  }
  app-space-record {
    width: unit(686);
  }
}
