@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.my-purchased{
  position: relative;
  max-width: unit(1086);
}

packageSuspension{
  position: absolute;
    z-index: 12;
  background: $basic-c19;
}

.purchased-title{
  position: relative;
  width: unit(1086);
  height: unit(29);
  .LeftTitle{
    position: absolute;
    bottom: unit(1);
    color: $text-c31;
    line-height: unit(20);
    cursor: default;
  }
  .TimeSelect{
    position: absolute;
    right: unit(0);
    height: unit(196);
    color: $text-c31;
    .time-drop{
      float: right;
      width: unit(28);
      height: unit(28);
      background-color: $basic-c17;
        cursor: pointer;
    }
    .list-wrap{
      position: relative;
      float: right;
      margin-left: unit(10);
      .period-selected{
        width: unit(92);
        height: unit(28);
        background-color: $basic-c19;
        border: none;
        outline: none;
        text-align: center;
        color: $text-c31;
        display: inline-block;
        line-height: unit(28);
      }
      .time-list{
        position: absolute;
        float: right;
        -webkit-user-select: none;
        cursor: pointer;
        background-color: $basic-c17;
        z-index: 5;
        li{
          background-color: $basic-c17;
          list-style: none;
          text-align: center;
          line-height: unit(28);
          color: $text-c35;
          width: unit(92);
          &:hover{
            background-color: $basic-c03;
            color: $text-c31;
          }
        }
      }
    }
    .period{
      float: right;
      height: unit(14);
    		line-height: unit(14);
      text-align: right;
      padding-top: unit(7);
    }
  }
}

.purchased-line{
  width: unit(1086);
  padding-top: unit(10);
  border-bottom: unit(1) solid $basic-c03;
}

.classify-title{
  color: $text-c31;
  line-height: unit(16);
  margin-top: unit(20);
  margin-bottom: unit(15);
  .single-title{
    color :$text-c31;
    display: inline-block;
    margin-right: unit(50);
    cursor: pointer;
  }
  .package-title{
    color :$text-c35;
    display: inline-block;
    cursor: pointer;
  }
}

.purchased-package{
  position: relative;
  margin: auto;
  width: unit(1086);
}

.package-content{
  position: relative;
  margin: auto;
  min-height: unit(845);
}

.item{
  position: relative;
  float: left;
  width: unit(516);
  height: unit(140);
  padding-right: unit(7);
  margin-right: unit(30);
  margin-bottom: unit(30);
  background-color: $basic-c21;
  cursor: pointer;
  border-radius: unit(2);
  .TimeLeft{
    float: left;
    width: unit(110);
    height: unit(140);
    .long-time-show{
      width: $icon-s56;
      height: $icon-s56;
      position: relative;
        top: unit(42);
        left: unit(27);
        img{
        	width: $icon-s56;
        height: $icon-s56;
        }
    }
  }
  .NameAndDesc{
    float: left;
    width: unit(356);
    height: unit(140);
    padding-left: unit(30);
    padding-right: unit(20);
    background-color: $basic-c18;
    .name-wrap{
      margin-top: unit(20);
      margin-bottom: unit(19);
      .package-name{
        width: unit(180);
        height: unit(20);
        padding-bottom: unit(1);
        color: $text-c31;
        line-height: unit(20);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
      }
      .common-hint {
        float: right;
        color: $text-c35;
        height: unit(25);
    			line-height: unit(25);
      }
      .special-hint {
        color: $text-c36;
      }
      .hint-icon {
        float: right;
        margin: unit(4) unit(6) 0 0;
      }
    }
    .package-endTime{
      color: $text-c35;
      line-height: unit(14);
      margin-bottom: unit(10);
    }
    .description-wrap{
      position: relative;
      height: unit(40);
      overflow: hidden;
    }
    .package-description{
      color: $text-c35;
      line-height: unit(20);
      position: relative;
    		top: unit(-5);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      margin-top: unit(10);
    }
    .dotDotDot{
      position: relative;
      width: 100%;
      height: unit(20);
      line-height: unit(20);
      top: unit(-10);
    }
  }
}

.noData{
  margin-top: unit(200);
  position: relative;
}

.item:hover{
  background-color: $basic-c03;
}

.item:nth-of-type(2n + 2){
  margin-right: unit(0);
}

.my-load-status {
    position: absolute;
    top: unit(350);
    right: 47%;
    z-index: 14;
    display: block;
  .spinner {
    position: absolute;
    left: unit(0);
    width: unit(50);
    height: unit(50);
    background-repeat: no-repeat;
    background-size: unit(50);
    background-image: url(assets/img/loader.gif);
  }
}

@keyframes login_load_roate_div {
      0%		{transform: rotate(0deg);}
      100%	{transform: rotate(360deg);}
}

@-webkit-keyframes login_load_roate_div {
      0%		{transform: rotate(0deg);}
      100%	{transform: rotate(360deg);}
}

@media screen and (max-width: unit(1440)) {
  .my-load-status {
    left: unit(345);
  }
}
