<div class="my_subscriptions" id="my_subscriptions">
    <div class="purchased-title">
        <div class="LeftTitle title-t13">{{'my_subscriptions'| translate}}</div>
        <!--<div class="TimeSelect" (mouseleave)="leaveTimeList()">-->
            <!--<div class="time-drop angledown-20" (click)='showTimeList()'></div>-->
            <!--<div class="list-wrap">-->
                <!--<div class="period-selected body-t32">{{selectedDate | translate}}</div>-->
                <!--<div class="time-list body-t32" [ngStyle]='{visibility: isShowTimeList? "visible" : "hidden"}'>-->
                    <!--<li *ngFor="let time of timeList"-->
                        <!--[ngStyle]='{"color":time.orginalDate == chooseTime ? "#f5f5f5" : ""}'-->
                        <!--(click)='selectTime(time)'>{{time.translateDates | translate}}-->
                    <!--</li>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="period body-t32">{{'billing_period_string' | translate}}</div>-->
        <!--</div>-->
    </div>
    <div class="purchased-line"></div>
    <!--<div class="classify-title">-->
        <!--<div class="single-title title-t17" id='single-title' (click)="selectSingle()">{{'single_string'|-->
            <!--translate}}<span *ngIf="!singleNoData"> {{singleTotalStr}}</span></div>-->
        <!--<div class="package-title title-t17" id="package-title" (click)="selectPackage()">{{'package_string'|-->
            <!--translate}}<span *ngIf="!packageNoData"> {{packTotalStr}}</span></div>-->
    <!--</div>-->
    <div class="purchased-single" id="purchased-single">
        <div class="single-content" *ngIf="!singleNoData">
            <myVideos-vod [dataVod]="singleLists" (detailVod)="detailVod($event)"></myVideos-vod>
        </div>
        <!--<div class="noData" *ngIf="singleNoData">-->
            <!--<waterfall-noData [nodatatype]="'purchased'"></waterfall-noData>-->
        <!--</div>-->
    </div>
    <div class="purchased-package" id="purchased-package"
         [ngStyle]="{display: !showSingle && !showLoadIcon ? 'block' : 'none'}">
        <div class="package-content" *ngIf="!packageNoData">
            <packageSuspension id="suspensionInfo"
                               [ngStyle]="{visibility: isShow ? 'visible' : 'hidden'}"></packageSuspension>
            <div class="item" *ngFor="let item of packageProducts, let i = index" (click)="clickPackage()"
                 (mouseenter)="mouseenter(item, $event)" (mouseleave)="mouseleave()">
                <div class="TimeLeft">
                    <div class="long-time-show">
                        <img src={{moreDaysUrl}}/>
                    </div>
                </div>
                <div class="NameAndDesc">
                    <div class="name-wrap">
                        <div class="package-name body-t26">{{item.productName}}</div>
                        <div class="common-hint special-hint body-t29" *ngIf="item.leftTimeType == 'Expired'">
                            {{item.timeHint}}
                        </div>
                        <div class="common-hint body-t29"
                             *ngIf="item.leftTimeType != 'Expired' && item.leftTimeType != 'moreDays'">
                            <span *ngIf="item.hintHead">{{item.hintHead}}</span><span class="special-hint">{{item.leftTime}}</span><span
                            *ngIf="item.hintTail">{{item.hintTail}}</span>
                        </div>
                        <div class="hint-icon icontime-16" *ngIf="item.leftTimeType != 'moreDays'"></div>
                    </div>
                    <div class="package-endTime body-t32">
                        <span>{{'valid_to' | translate}}&nbsp;{{item.endTimeStr}}</span>
                    </div>
                    <div class="description-wrap body-t32">
                        <div id="description-{{i}}" class="package-description body-t32" [ngStyle]="showWidth()">
                            {{item.productDesc}}
                        </div>
                    </div>
                    <div id="dot-{{i}}" class="dotDotDot" *ngIf="isIE" [ngStyle]="showDot()">...</div>
                </div>
            </div>
        </div>
        <div class="noData" *ngIf="packageNoData">
            <waterfall-noData [nodatatype]="'purchased'"></waterfall-noData>
        </div>
    </div>
    <div class="my-load-status" *ngIf="showLoadIcon" [style.bottom]="firstLoad?'450px':'100px'">
        <div class="spinner"></div>
    </div>
</div>
