<div class="subscrEmp">
  <div class="title"></div>
  <div class="content body-t29">
    <div class="message body-t29">{{'have_not_subscribed' | translate:channelName}}</div>
  </div>
  <div class="buy body-t26" (click)="buySubscr()">{{'buy' | translate}}</div>
</div>
