@import "/src/assets/css/common-variables.scss";

.subscrEmp {
  position: relative;
  width: 460px;
  height: unit(288);
  margin: auto;
  text-align: center;
  .title {
    background: url(assets/img/56/shpping2_56.png) 0px 40px no-repeat;
    width: unit(56);
    height: unit(56);
    position: relative;
    margin: auto;
    padding-top: 40px;
  }
  .close {
    width: 20px;
    height: 20px;
    background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
    cursor: pointer;
    position: relative;
    float: right;
    right: 30px;
    top: unit(-75);
  }
  .content {
    color: $text-c31;
    width: 320px;
    margin: 20px auto 0;
    position: relative;
    padding-top: 20px;
    line-height: unit(24);
  }
  .buy {
    display: inline-block;
    width: auto;
    height: 40px;
    padding: 0 15px;
    background: linear-gradient(to right, $basic-c31, $basic-c32);
    margin: 40px auto 0;
    text-align: center;
    line-height: 40px;
    border-radius: unit(2);
    cursor: pointer;
    color: $text-c31;
    &:hover {
      background: $basic-c31;
    }
  }
}
