<div class="filter-all">
    <div class="filterSelect">
        <div class="lineOne"></div>
        <div [ngStyle]="{display: (isShow == 'true') ? 'block' : 'none'}">
            <div [class]="showgenreMore ? 'genre':'genreMore'" id="genre">
                <div class="genres">
                    <div [class]="showgenreMore ? 'lessGenre':'moreGenre'" *ngIf="hasMoreGenre" (click)="showMoreGenreInfo()"></div>
                    <div class="genre-name">{{'Genre' | translate}}:</div>
                    <div class="items">
                        <div *ngFor="let option of genres; let i = index" (click)="selectFilter(option,'genre',i)" [class]="genreIndex == i  ? 'select':'item'">
                            <div class="itemInfo">{{option.name | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="genreMoreHidden">
                <div class="genres">
                    <div class="genre-name">{{'Genre' | translate}}:</div>
                    <div class="items">
                        <div *ngFor="let option of genres; let i = index" (click)="selectFilter(option,'genre',i)" [class]="genreIndex == i  ? 'select':'item'">
                            <div class="itemInfo">{{option.name | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="showMoreArea ? 'area':'areaMore'" id="area">
                <div class="areas">
                    <div  [class]="showMoreArea  ?'lessArea':'moreArea'" *ngIf="hasMoreArea" (click)="showMoreAreaInfo()"></div>
                    <div class="area-name">{{'Area' | translate}}:</div>
                    <div class="items">
                        <div *ngFor="let option of areas; let i = index" (click)="selectFilter(option,'area',i)" [class]="areaIndex == i  ? 'select':'item'">
                            <div class="itemInfo">{{option?.name | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="areaMoreHidden">
                <div class="areas">
                    <div class="area-name">{{'Area' | translate}}:</div>
                    <div class="items">
                        <div *ngFor="let option of areas; let i = index" (click)="selectFilter(option,'area',i)" [class]="areaIndex == i  ? 'select':'item'">
                            <div class="itemInfo">{{option?.name | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="time">
                <div class="times">
                    <div class="time-name">{{'Time' | translate}}:</div>
                    <div class="items">
                        <div *ngFor="let option of years; let i = index" (click)="selectFilter(option,'year',i)" [class]="yearIndex == i  ? 'select':'item'">
                            <div class="itemInfo">{{option?.name | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chosen">
            <div *ngIf="chosensShow.length>0 || isShow == 'true'" class="chosens">
                <div class="chosen-name">{{'Selected' | translate}}:</div>
                <div class="chosen-area">
                    <div *ngFor="let option of chosensShow; let i = index" class="item-chosen" (click)="removeFilter(i, option)">
                        <div class="itemInfo"><span>{{option.name | translate}}</span>
                            <div class="chosenImg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="chosensShow.length>0" [class]="isShow == 'true' ?'filterResult':'filterResultBottom'" (click)="changeFilter(chosensShow)">
                <div [class]="isShow == 'true' ?'resultName':'resultNameBottom'">{{'Filter' | translate}}</div>
                <div [class]="isShow == 'true' ?'resultImg':'resultImgBottom'"></div>
            </div>
            <div *ngIf="chosensShow.length==0" [class]="isShow == 'true' ?'filterResult':'filterResultBottomNO'" (click)="changeFilter(chosensShow)">
                <div [class]="isShow == 'true' ?'resultName':'resultNameBottomNO'">{{'Filter' | translate}}</div>
                <div [class]="isShow == 'true' ?'resultImg':'resultImgBottomNO'"></div>
            </div>
            <div *ngIf="chosensShow.length>0 || isShow == 'true'" class="lineTwo"></div>
        </div>
    </div>
    <div class="sortBy">
        <div class="sortBys">
            <div *ngFor="let option of sortBys; let i = index" (click)="selectFilter(option,'sortBy',i)" [class]="sortByIndex == i  ? 'selectSort':'itemSort'">
                <div class="itemInfo">{{option.name | translate}}</div>
            </div>
        </div>
    </div>
    <div class="filterNoData" *ngIf="isNodata">
        <div class="nodata-wrap">
            <div class="noDataposter"></div>
            <div class="noDataWordone">{{'No Content.' | translate}}</div>
        </div>
    </div>
</div>