@import "/src/assets/css/common-variables";

.filter-all {
  position: relative;
  height: 900px;
  background: #141414;
  padding: 20px;
  width: 1410px;
}
.filterNoData {
  display: table;
  margin-top: 400px;
  margin-left: 650px;
  .nodata-wrap {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

.noDataposter {
  top: -10px;
  width: 72px;
  height: 72px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  @extend .noresult-72;
}

.noDataWordone {
  color:$text-c35;
  font-size: $body-t29;
  text-align: center;
  margin-top: 10px;
  position: relative;
  line-height: 24px;
}

.lineOne {
  border: 1px solid $basic-c03;
  width: 1280px;
  float: left;
}

.lessGenre {
  float: right;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-top: 7px;
  margin-right: 10px;
  @extend .filterdown-10;
}

.moreGenre {
  float: right;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-top: 7px;
  margin-right: 10px;
  @extend .filterup-10;
}

.lessArea {
  float: right;
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-right: 8px;
  @extend .filterdown-10;
}

.moreArea {
  float: right;
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-right: 8px;
  @extend .filterup-10;
}

.genre-name,
.area-name,
.time-name,
.sortBy-name {
  font-size: $body-t32;
  color: $text-c35;
  position: relative;
  float: left;
  width: 51px;
}

.chosen-name {
  font-size: $body-t32;
  color: $text-c35;
  position: relative;
  margin-top: 14px;
  float: left;
}

.genreMore {
  font-size: $body-t32;
  color: $text-c35;
  width: 1280px;
  overflow: hidden;
  float: left;
  border-bottom: 1px dashed rgba(245, 245, 245, 0.1);
}
.genreMoreHidden, .areaMoreHidden {
  font-size: $body-t32;
  color: $text-c35;
  width: 1280px;
  overflow: hidden;
  position: absolute;
  border-bottom: 1px dashed rgba(245, 245, 245, 0.1);
  visibility: hidden;
}
.areaMore {
  font-size: $body-t32;
  color: $text-c35;
  width: 1280px;
  overflow: hidden;
  min-height: 46px;
  float: left;
  border-bottom: 1px dashed rgba(245, 245, 245, 0.1);
}

.genre,
.area,
.time {
  font-size: $body-t32;
  color: $text-c35;
  width: 1280px;
  overflow: hidden;
  height: 46px;
  float: left;
  border-bottom: 1px dashed rgba(245, 245, 245, 0.1);
}

.items {
  margin-left: 66px;
  margin-top: 15px;
  cursor: pointer;
  width: 1294px;
  .itemInfo {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 22px;
  }
}

.sortBy {
  font-size: $body-t32;
  color: $text-c31;
  width: 1280px;
  height: 28px;
  margin: auto;
  margin-top: 40px;
}

.chosen {
  font-size: $body-t32;
  color: $text-c31;
  width: 1280px;
  min-height: 46px;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosens {
  display: inline-block;
}

.item {
  margin-right: 29px;
  margin-bottom: 15px;
  padding-left: 11px;
  padding-right: 11px;
  height: 22px;
  float: left;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.itemSort {
  margin-right: 30px;
  padding-left: 11px;
  padding-right: 11px;
  height: 28px;
  float: left;
  line-height: 28px;
  color: $text-c35;
  font-size: $body-t27;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.select {
  background-color: $basic-c04;
  font-size: $body-t32;
  color: $text-c31;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-left: 11px;
  padding-right: 11px;
  margin-right: 29px;
  height: 22px;
  float: left;
  text-align: center;
  cursor: pointer;
}

.selectSort {
  background-color: $basic-c04;
  font-size: $body-t27;
  color: $text-c31;
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  line-height: 28px;
  float: left;
  text-align: center;
  cursor: pointer;
}

.lineTwo {
  border: 1px solid $basic-c03;
  width: 1280px;
  position: relative;
  margin-bottom: 40px;
}

.filterResult {
  border: 1px solid $basic-c21;
  border-bottom: none;
  font-size: $body-t29;
  color: $text-c31;
  width: 73px;
  height: 25px;
  cursor: pointer;
  display: inline-block;
  margin-left: 6px;
}

.filterResultBottom {
  float: right;
  margin-top: 50px;
  border: 1px solid $basic-c21;
  border-top: none;
  font-size: $body-t29;
  color: $text-c31;
  width: 73px;
  height: 25px;
  cursor: pointer;
}
.filterResultBottomNO {
  float: right;
  margin-top: 0px;
  border: 1px solid $basic-c21;
  font-size: $body-t29;
  color: $text-c31;
  width: 73px;
  height: 22px;
  cursor: pointer;
}

.resultName {
  position: relative;
  margin-top: 4px;
  margin-left: 12px;
}

.resultNameBottom {
  position: relative;
  margin-top: 0;
  margin-left: 12px;
  line-height: 24px;
}
.resultNameBottomNO {
  position: relative;
  margin-top: 0;
  line-height: 20px;
  margin-left: 12px;
}

.resultImg {
  position: relative;
  margin-top: -15px;
  width: 14px;
  height: 14px;
  margin-left: 53px;
  @extend .angleup-14;
}

.resultImgBottom {
  position: relative;
  margin-top: -15px;
  width: 14px;
  height: 14px;
  margin-left: 53px;
  @extend .angledown-14;
}
.resultImgBottomNO {
  position: relative;
  margin-top: -15px;
  width: 14px;
  height: 14px;
  margin-left: 53px;
  @extend .angledown-14;
}

.item-chosen {
  margin-left: 20px;
  margin-top: 11px;
  float: left;
  text-align: center;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid $basic-c20;
  line-height: 22px;
  height: 22px;
  cursor: pointer;
    .itemInfo {
      height: 22px;
      span {
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 150px;
      }
    }
}

.chosen-area{
  width: 1296px;
  min-height: 46px;
  position: relative;
}

.chosenImg {
  @extend .close-12;
  width: 12px;
  height: 12px;
  position: relative;
  float: right;
  margin-left: 10px;
  margin-top: 4px;
}
