@import "/src/assets/css/common-variables.scss";

.livetv-filter-load {
    position: fixed;
    top: 50%;
    left: 48%;
    z-index: 99999;
    display: none;
    @media screen and (max-width: 1440px) {
      left: 47%;
    }
    .spinner {
      position: relative;
      left: unit(0);
      width: unit(50);
      height: unit(50);
      background-repeat: no-repeat;
      background-size: unit(50);
      background-image: url(assets/img/loader.gif);
    }
  }
  @keyframes login_load_roate_div{
      0%		{transform: rotate(0deg);}
      100%	{transform: rotate(360deg);}
  }
