<div class="live-tv-content" [on-notification]="liveTvHomeNotification">
  <app-livetv-player></app-livetv-player>
	<app-what-on [whatOnData]="whatOn" [allChannelData]="allChannel" *ngIf="whatOn && allChannel"></app-what-on>
	<app-hot-genres [hotGenresData] = "hotGenres" *ngIf="hotGenres"></app-hot-genres>
	<div class="livetv-filter-load" >
    <div class="spinner"></div>
  </div>
</div>
