@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.password-container-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $basic-C08;
}
.app-check-init-password {
  background: $basic-c14;
  width: unit(460);
  height: unit(331);
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  .title {
    width: unit(460);
    height: unit(60);
    line-height: unit(60);
    text-align: center;
    border-bottom: unit(1) solid $basic-c19;
    span {
      color: $text-c35;
    }
    .login-close {
      background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
      width: unit(20);
      height: unit(20);
      position: relative;
      top: unit(-43);
      left: unit(405);
      cursor: pointer;
    }
  }
  .check-init-form {
    text-align: center;
    height: unit(271);
    input {
      color: $text-c31;
      width: unit(260);
      height: unit(22);
      padding-top: unit(9);
      padding-bottom: unit(9);
      border-left: 0;
      padding-left: unit(10);
      padding-right: unit(30);
      border-right: 0;
      border-top: 0;
      border-bottom: 0;
      background-color: $basic-c03;
      top: unit(10);
      left: unit(12);
      border-radius: unit(2);
      outline: none;
    }
    .login_error_message{
      position: relative;
      color: $text-c33;
      padding-top: unit(3);
      padding-bottom: unit(5);
      width: 100%;
      left: unit(0);
      height: unit(28);
    }
    .login_same_message{
      position: relative;
      color: $text-c33;
      padding-top: unit(3);
      padding-bottom: unit(5);
      width: 100%;
      left: unit(0);
      height: unit(28);
    }
    #new-pass-Word {
      margin-bottom: unit(20);
    }
    .placeholderNewPassBg{
			color: $text-c34;
			position: absolute;
			left: unit(91);
			top: unit(11);
			cursor: text;
		}
		.placeholderConfirmPassBg{
			color: $text-c34;
			position: absolute;
			left: unit(91);
			top: unit(11);
			cursor: text;
		}
    .btnID {
      width: unit(300);
      margin-top: unit(20);
      background: $basic-c04;
      height: unit(40);
      line-height: unit(40);
      color: $text-C31;
      margin-left: unit(80);
      border-radius: unit(2);
      cursor: pointer;
      &:hover {
        background: $basic-c05;
      }
      &:focus{
				background: $basic-c05;
			}
    }
    .disabled-btnID {
        width: unit(300);
        margin-top: unit(20);
        height: unit(40);
        line-height: unit(40);
        margin-left: unit(80);
        border-radius: unit(2);
        background-color: $basic-c23;
        color: $text-c35;
        cursor: default;
    }
    .subscriber-password {
      color: $text-c35;
      padding-bottom: unit(5);
      position: relative;
      text-align: left;
      padding-left: unit(80);
    }
    .enter_password_input {
      position: relative;
      .delete-newPassword {
        height: unit(16);
        width: unit(16);
        background: url(assets/img/16/close_16.png) no-repeat;
        position: absolute;
        right: unit(89);
        top: unit(13);
        cursor: pointer;
      }
    }
    .confirm-subscriber-password {
      color: $text-c35;
      padding-top: unit(2);
      padding-bottom: unit(5);
      position: relative;
      text-align: left;
      padding-left: unit(80);
    }
    .confirm_password_input {
      position: relative;
      .delete-confirmPassword {
        height: unit(16);
        width: unit(16);
        background: url(assets/img/16/close_16.png) no-repeat;
        position: absolute;
        right: unit(89);
        top: unit(13);
        cursor: pointer;
      }
    }
  }
}

.right {
  display: inline-block;
  @extend .pwdright-20;
  position: absolute;
  margin-left: unit(14);
  margin-top: unit(13);
}
.wrong {
  display: inline-block;
  @extend .pwdwrong-20;
  position: absolute;
  margin-left: unit(14);
  margin-top: unit(13);
}
