<div class="password-container-wrapper">
  <div class="app-check-init-password">
    <div class="title">
      <span class="font-movie-title title-t14">{{'loginSuccessFully' | translate}}</span>
      <div class="login-close" (click) = "cancel()"></div>
    </div>

    <div name="check-init-Form" class="check-init-form">
      <div class="login_error_message body-t32" [ngStyle]='{"display": !isNewPwdRight && isShowNewVerify ? "inline-block" : "none"}'>
        {{ profileLogPwdErrorMsg }}
      </div>

      <div class="login_same_message body-t32" [ngStyle]='{"display": !isSame && isShowSame ? "inline-block" : "none"}'>
        {{ profileSamePwdErrorMsg }}
      </div>

      <div class="subscriber-password body-t32" [ngStyle]='{"margin-top": isNewPwdRight && !isShowNewVerify && isSame && !isShowSame ? "36px" : "0px"}'>
        {{'enterLoginPassword' | translate}}
      </div>
      <div class="enter_password_input">
        <input class="body-t32" tabindex="1" id="new-pass-Word" type="password" [(ngModel)]="subscriberPwd" name="newPassword" autocomplete="off" (focus)="profilePwdFocus()" (blur)="profilePwdBlur()" maxlength="128" (keyup)="isNewPwdChanged($event)" (keydown)="keydownNewPass()" onpaste="return false;"/>
        <div class="placeholderNewPassBg body-t32" id="placeholderNewPass_Bg" [ngStyle] = "{display: (showplaceholderNewPass) ? 'block' : 'none'}" (click) = "onplaceholdNewPass()"> {{'new_password_placehoder' | translate}} </div>
        <div class="delete-newPassword"  [ngStyle]="{display: (deleteNewPwd) ? 'block' : 'none'}" (click) = "newPwdDelete()"></div>
        <span [class]="isNewPwdRight ? 'right' : 'wrong'" [ngStyle]='{"display":isShowNewVerify || longErrorMessage ? "inline-block" : "none"}'></span>
      </div>
      <div class="confirm-subscriber-password body-t32">
        {{'reEnnterLoginPassword' | translate}}
      </div>
      <div class="confirm_password_input">
        <input class="body-t32" tabindex="2" id="confirm-pass-Word" type="password" [(ngModel)]="reSubscriberPwd" name="confirmNewPassword" maxlength="128" autocomplete="off" (blur)="newPwdBlur()" (focus)="profileConfirmFocus()" (keyup)="isConfirmPwdChanged($event)" (keydown)="keydownConfirmPass()" onpaste="return false;"/>
        <div class="placeholderConfirmPassBg body-t32" id="placeholderConfirmPass_Bg" [ngStyle] = "{display: (showplaceholderConfirmPass) ? 'block' : 'none'}" (click)="onplaceholdConfirmPass()"> {{'confirm_new_password' | translate}} </div>
        <div class="delete-confirmPassword"  [ngStyle]="{display: (deleteConfirmPwd) ? 'block' : 'none'}" (click) = "confirmPwdDelete()"></div>
        <span [class]="reSubscriberPwd === subscriberPwd ? 'right' : 'wrong'" [ngStyle]='{"display":!isShowNewVerify && reSubscriberPwd !== "" ? "inline-block" : "none"}'></span>
      </div>
      <div [ngClass]='changedPWds() ? "btnID":"disabled-btnID"' id="btnConfirmCheck" (keyup)="confirmcheck($event)"tabindex="3" (click)="confirmCheckLogin()">{{'logfirst_next' | translate}}</div>
    </div>
  </div>
</div>
