<div *ngIf="diffAfterLanguage !== undefined" class="language-header" id="language-header" (click) = "clickLanguageButton()" >
  <div class="language-button-content body-t29">{{diffAfterLanguage}}</div>
  <div class="arrow" [style.display]="showLanguageList.length>0 ? 'block' : 'none'" [ngStyle]="{background: (showLanguage) ? 'url(assets/img/14/down_14.png)' : 'url(assets/img/14/up_14.png)'}"></div>
  <div class="list-arrow" id="list-arrow" [ngStyle]="{visibility: (lastLanguageList&&clickLanguage&&showLanguageList.length>0) ? 'visible' : 'hidden'}"></div>
  <div [ngStyle]="{visibility: (lastLanguageList&&clickLanguage) ? 'visible' : 'hidden'}" class="language-list" id="language-list">
    <div class="language-list-content">
      <div class="language-item body-t32" *ngFor="let languageitem of showLanguageList" (click) = "changeLanguage(languageitem.name)">
        <div class="language-item-content">{{languageitem.name}}</div>
      </div>
    </div>
  </div>
</div>
