@import "/src/assets/css/common-variables.scss";

.language-header {
  display: inline-block;
  position: relative;
  border: unit(1) solid $basic-c02;
  border-radius: unit(20);
  height: unit(23);
  top: unit(6);
  line-height: unit(23);
  text-align: center;
  cursor: pointer;
  color: $text-c32;
  padding-left: unit(11);
  padding-right: unit(10);
  &:hover {
    color: $text-c31;
    border: unit(1) solid $basic-c01;
  }
  .language-button-content {
    display: inline-block;
    max-width: unit(82);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .arrow {
    background: url(assets/img/14/down_14.png) center center no-repeat;
    width: unit(14);
    height: unit(14);
    float: right;
    margin-top: unit(5);
    margin-left: unit(7);
  }
  .list-arrow {
    background-image: url(assets/img/arrowup_20x12.png);
    background-position: unit(-1) unit(0);
    background-repeat: no-repeat;
    width: unit(20);
    height: unit(12);
    position: absolute;
    top: unit(28);
    left: calc((100% - 20px) / 2);
  }
  .language-list {
    max-width: unit(172);
    margin: auto;
    background: $basic-c17;
    box-shadow: unit(0) unit(20) unit(40) $basic-c06;
    border-radius: unit(3);
    position: absolute;
    top: unit(40);
    right: unit(0);
    .language-list-content {
      padding-top: unit(10);
      padding-bottom: unit(10);
      .language-item {
        color: $basic-c01;
        padding-left: unit(20);
        padding-right: unit(20);
        height: unit(32);
        text-align: left;
        line-height: unit(32);
        max-width: unit(172);
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        .language-item-content {
          height: unit(32);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: unit(110);
        }
        &:hover {
          background: $basic-c03;
          color: $text-c31;
        }
      }
    }
  }
}
