@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.fullScrean {
  width: 100%;
  height: 100%;
  background: $basic-C08;
  position: fixed;
  top: 0;
}

.fullScreanminiDetail {
  width: unit(428);
  height: 100%;
  background-color: $basic-c14;
  display: block;
  position: fixed;
  right: 0;
  -webkit-animation: fullscreanfade-in 1s;
}

.clickFullScrean {
  width: 100%;
  height: 100%;
  position: absolute;
  float: left;
}

@-webkit-keyframes fullscreanfade-in {
  0% {
    opacity: 0;
    right: unit(-428)
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

.fullScreanoutminidetail {
  position: fixed;
  z-index: 10;
  float: right;
  right: unit(-428);
  -webkit-animation: fullsreanfade-out 1s;
}

@-webkit-keyframes fullsreanfade-out {
  0% {
    opacity: 1;
    right: 0
  }
  100% {
    opacity: 0;
    right: unit(-428);
  }
}

.hide {
  width: unit(28);
  height: unit(128);
  @extend .fullscreen-packup;
  cursor: pointer;
  position: absolute;
  right: unit(428);
}

.title {
  height: unit(50);
}

.detailNo {
  margin-left: unit(20);
  float: left;
  color: $text-c34;
  margin-top: unit(17);
}

.detailImg {
  margin-left: unit(13);
  float: left;
  width: unit(40);
  height: unit(40);
  img {
    margin-top: unit(5);
    width: 0;
    height: 0;
    position: absolute;
    visibility: hidden;
  }
  .detailLogo {
    margin-top: unit(5);
    width: unit(40);
    height: unit(40);
    position: absolute;
    display: inline-block;
  }
}

.detailChannel {
  width: unit(160);
  margin-left: unit(14);
  float: left;
  color: $text-c34;
  margin-top: unit(17);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.favImg {
  @extend .fav2-16;
  width: unit(16);
  height: unit(16);
  float: right;
  margin-right: unit(10);
  margin-top: unit(17);
  cursor: pointer;
}

.favImgDone {
  @extend .fav-16;
  width: unit(16);
  height: unit(16);
  float: right;
  margin-right: unit(10);
  margin-top: unit(17);
  cursor: pointer;
}

.lineSecond {
  height: unit(1);
  background: $basic-c21;
}

.contentTitle {
  margin-left: unit(19);
  width: unit(388);
  color: $text-c31;
  padding-top: unit(25);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.contentTime {
  margin-left: unit(19);
  color: $text-c35;
  margin-top: unit(21);
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: unit(338);
}

.contentSeason {
  margin-left: unit(19);
  color: $text-c35;
  margin-top: unit(8);
  position: relative;
}

.contentAge {
  margin-left: unit(19);
  color: $text-c35;
  margin-top: unit(8);
  position: relative;
}

.introduce {
  margin-top: unit(34);
  padding-left: unit(19);
  color: $text-c35;
  line-height: unit(21);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: unit(388);
  height: unit(63);
}

.introduce-more {
  width: unit(14);
  height: unit(14);
  background: url(assets/img/14/angledown_14.png) no-repeat;
  display: block;
  margin-top: unit(5);
  cursor: pointer;
  margin-left: unit(388);
  position: absolute;
}

.introduce-less {
  width: unit(14);
  height: unit(14);
  background: url(assets/img/14/angleup_14.png) no-repeat;
  display: block;
  margin-left: unit(388);
  margin-top: unit(5);
  cursor: pointer;
  position: absolute;
}

#introduceShowIcon {
  color: $text-c35;
  line-height: unit(21);
  width: unit(388);
  height: auto;
  visibility: hidden;
  position: absolute;
}

.button {
  float: left;
  margin-top: unit(42);
}

.btnPlay {
  float: left;
  margin-left: unit(22);
  text-align: center;
  border: unit(1) solid $basic-c25;
  height: $bwc2-height;
  border-radius: $rounded-rc1;
  .playInfo {
    color: $basic-c01;
    position: relative;
    float: left;
    margin-left: unit(20);
    margin-right: unit(20);
    line-height: unit(28);
    .playImg {
      @extend .play-14;
      width: unit(14);
      height: unit(14);
      background-size: cover;
      float: left;
      margin-right: unit(10);
      margin-top: unit(7);
    }
  }
}

.btnPlay:hover {
  background-color: $basic-c26;
  cursor: pointer;
}

.buttons {
  float: left;
  margin-top: unit(42);
}

.btnRemind {
  float: left;
  margin-left: unit(25);
  text-align: center;
  border: unit(1) solid $basic-c25;
  height: $bwc2-height;
  border-radius: $rounded-rc1;
  .RemindInfo {
    color: $basic-c01;
    position: relative;
    float: left;
    margin-left: unit(20);
    margin-right: unit(20);
    margin-top: unit(6);
    .RemindImg {
      width: unit(14);
      height: unit(14);
      background-size: cover;
      float: left;
      margin-right: unit(10);
    }
  }
}

.btnRemind:hover {
  background-color: $basic-c26;
  cursor: pointer;
}

.btnRecord {
  float: left;
  margin-left: unit(25);
  text-align: center;
  border: unit(1) solid $basic-c25;
  height: $bwc2-height;
  border-radius: $rounded-rc1;
  .RecordInfo {
    color: $basic-c01;
    position: relative;
    float: left;
    margin-left: unit(20);
    margin-right: unit(20);
    margin-top: unit(6);
    .RecordImg {
      width: unit(14);
      height: unit(14);
      background-size: cover;
      float: left;
      margin-right: unit(10);
    }
  }
}

.btnRecord:hover {
  background-color: $basic-c26;
  cursor: pointer;
}

.buttonss {
  float: left;
  margin-top: unit(42);
}

.btnRecords {
  float: left;
  margin-left: unit(22);
  text-align: center;
  border: unit(1) solid $basic-c25;
  height: $bwc2-height;
  border-radius: $rounded-rc1;
  .RecordsInfo {
    color: $basic-c01;
    position: relative;
    float: left;
    margin-left: unit(20);
    margin-right: unit(20);
    line-height: unit(28);
    .RecordsImg {
      width: unit(14);
      height: unit(14);
      background-size: cover;
      float: left;
      margin-right: unit(10);
      margin-top: unit(6);
    }
  }
}

.btnRecords:hover {
  background-color: $basic-c26;
  cursor: pointer;
}

.lineThird {
  height: unit(1);
  background: $basic-c21;
  margin-top: unit(100);
}

.recommendTitle {
  padding-left: unit(19);
  color: $text-c31;
  margin-top: unit(30);
  margin-bottom: unit(20);
  position: relative;
}

.recommend {
  overflow: hidden;
  width: 100%;
  .recommend-list-panel {
    width: unit(428);
    position: relative;
    top: 0;
    overflow: hidden;
    .recommend-list {
      position: relative;
      float: left;
      width: unit(184);
      height: unit(104);
      margin-left: unit(20);
      margin-bottom: unit(85);
      .recommend-poster {
        width: unit(184);
        height: unit(104);
        cursor: pointer;
        img {
          width: unit(184);
          height: unit(104);
          position: absolute;
          display: inline-block;
          background: url(assets/img/default/livetv_mini.png)no-repeat;
        }
      }
      .timeAll {
        position: absolute;
        background-color: $basic-c03;
        width: unit(184);
        height: unit(4);
        margin-top: unit(-4);
      }
      .timeNow {
        position: absolute;
        background-color: $basic-c04;
        height: unit(4);
        margin-top: unit(-4);
      }
      .recommend-vod-name {
        width: unit(184);
        position: absolute;
        display: inline-block;
        color: $text-c31;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: unit(12);
        cursor: pointer;
      }
      .tvod-startTime {
        bottom: unit(20);
        cursor: default;
        color: $text-c34;
        display: inline-block;
        top: unit(40);
        position: relative;
        width: unit(184);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .tvod-leftTime {
        bottom: unit(20);
        cursor: default;
        color: $text-c34;
        display: inline-block;
        top: unit(40);
        position: relative;
        width: unit(184);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.noFutureChannel {
  margin-top: unit(209.5);
}

.mini-content-wrap {
  position: relative;
  overflow: hidden;
}

.mini-scrollContent {
  position: relative;
  top: 0;
}

.scrollList {
  position: absolute;
  top: unit(5);
  right: unit(0);
  .scroll {
    right: unit(0);
    top: unit(0);
    width: unit(18);
    bottom: unit(8);
    cursor: pointer;
    position: absolute;
    background: $basic-C09;
    span {
      height: unit(0);
      width: unit(18);
      right: unit(0);
      position: absolute;
      top: unit(0);
      #mini-content {
        left: unit(6);
        position: absolute;
        width: unit(6);
        height: 100%;
        cursor: pointer;
        background: $basic-c03;
        border-radius: unit(24);
      }
    }
  }
}
