<div [ngClass]="showDetail ? 'fullScrean' : ''" >
  <div [ngClass]="showDetail ? 'clickFullScrean' : ''" (click)='closeMiniDetail()'></div>
  <div id="miniDetailFullScrean"  [ngClass]="showDetail ? 'fullScreanminiDetail' : 'fullScreanoutminidetail'">
    <div [ngClass]="showDetail ? 'hide' : ''" [ngStyle]='hidePosition()' (click)='closeMiniDetail()'></div>
    <div class="title" >
      <div class="detailNo body-t32">{{channelNo}}</div>
      <div class="detailImg">
        <img src="{{hiddenLogo}}" (error)="this.onerror=null;showDefaultLogo()"/>
        <div class="detailLogo" [ngStyle] = 'showDetailLogo()'></div>
      </div>
      <div class="detailChannel body-t32">{{channel}}</div>
      <div [class]="isFav =='0'?'favImg':'favImgDone'" (click) ="favManger()"></div>
    </div>
  <div class="lineSecond"></div>
  <div class="mini-content-wrap" id="mini-content-wrap" [style.height] = "scrollHeight">
    <div class="mini-scrollContent" id="mini-scrollContent">
      <div class="content">
        <div class="contentTitle body-t24" title="{{name}}">{{name}}</div>
        <div class="contentTime body-t32">{{leftTime}} | {{startTime}}-{{endTime}}{{genre}}</div>
        <div class="contentSeason body-t32" *ngIf = "series">{{series}}</div>
        <div class="contentAge body-t32" *ngIf="rating">{{'age_rating'|translate}} {{rating}}</div>
        <div class="introduce body-t32"  id="introduce" [ngStyle]="showWidth()">{{introduce}}</div>
        <div class="introduceShowIcon body-t32"  id="introduceShowIcon">{{introduce}}</div>
        <span class="introduce-more" id="introduceMore" (click)="increaseMore()" *ngIf="!showMore && showHeight"></span>
        <span class="introduce-less" id="introduceLess" (click)="discreaseLess()" *ngIf="showMore && showHeight"></span>
      </div>
      <div class="button" *ngIf="isPass && canTvod">
        <div class="btnPlay" (click)="goToPlay()">
          <div class="playInfo title-t18">{{btnName | translate}}
            <div class="playImg"></div>
          </div>
        </div>
      </div>
      <div class="buttons" *ngIf="isFuture">
        <div class="btnRecord" *ngIf="isRecord" (click)="goToRecord(btnNameRecord)">
          <div class="RecordInfo title-t18">{{btnNameRecord | translate}}
            <div class="RecordImg" [ngStyle]="recordsImgStyle"></div>
          </div>
        </div>
        <div class="btnRemind" (click)="goToRemind(btnNameRemind)" *ngIf="isShowReminder">
          <div class="RemindInfo title-t18">{{btnNameRemind | translate}}
            <div class="RemindImg"  [ngStyle]="remindImgStyle"></div>
          </div>
        </div>
      </div>
      <div class="buttonss" *ngIf="isNow">
        <div class="btnRecords" *ngIf="isRecord" (click)="goToRecord(btnNameRecord)">
          <div class="RecordsInfo title-t18">{{btnNameRecord | translate}}
            <div class="RecordsImg" [ngStyle]="recordsImgStyle"></div>
          </div>
        </div>
      </div>
      <div class="lineThird"></div>
      <div class="recommendTitle body-t29">{{recomendListTitle}}</div>
      <div class="recommend" id="recommendFullScrean">
        <div class="recommend-list-panel" id="recommend-content-fullScrean">
          <div id="miniConterFullScrean" class="recommend-list" *ngFor="let data of recomendlist;let dataIndex=index">
            <div class="recommend-poster" (click)="getRecmDetail(data)"><img src="{{data.posterUrl}}" onerror="this.onerror=null;this.src='assets/img/default/livetv_mini.png'"/></div>
            <div class="timeAll" *ngIf="data.hasProcess"></div>
            <div class="timeNow" *ngIf="data.hasProcess" [style.width]="data.len"></div>
            <div class="recommend-vod-name body-t29" (click)="getRecmDetail(data)">{{data.name}}</div>
            <span  class="tvod-startTime body-t32" *ngIf="!data.hasProcess">{{data.startTimes}}{{data.channelName}}</span>
            <span  class="tvod-leftTime body-t32" *ngIf="data.hasProcess">{{'playbill_format_time' | translate:data.leftTimes}}{{data.channelName}}</span>
          </div>
        </div>
      </div>
      <div class="noFutureChannel" *ngIf="ctrlHome">
        <waterfall-noData [nodatatype]="'home'"></waterfall-noData>
      </div>
    </div>
    <div [ngStyle]="{display: showScroll ? 'block' : 'none'}"  class="scrollList">
      <div class="scroll" id="mini-scroll" [style.height] = "scrollHeight">
        <span id="mini-contentScroll">
          <div id="mini-content"></div>
        </span>
      </div>
    </div>
  </div>
  </div>
  <app-close-confirm class="confirm" [confirmInfoKey]="confirmInfoKey" (cancelData)="cancelData($event)" (confirmData)="confirmData($event)" *ngIf="isClearAll"></app-close-confirm>
</div>
