@import "../../../../src/webtv-components/assets/css/common-variables.scss";
@import "../../../../src/webtv-components/assets/css/unWhiteVariables.scss";
.scrollDemoContent {
    width: 630px;
    height: 380px;
    display: block;
    overflow: hidden;
    position: absolute;
    #scrollDemoconter {
        position: relative;
        padding-left: unit(0);
        top: unit(0);
    }
}

.scrollDemoList {
    position: absolute;
    top: unit(0);
    right: unit(0);
    .scrollDemo {
        height: unit(380);
        width: unit(19);
        right: unit(0);
        top: unit(0);
        bottom: unit(8);
        cursor: pointer;
        position: absolute;
        background: $basic-C09;
        z-index: 1;
        border-radius: 9px;
        span {
            height: unit(0);
            width: unit(18);
            right: unit(0);
            position: absolute;
            top: unit(0);
            #scrollDemocontent {
                left: unit(6);
                position: absolute;
                width: unit(7);
                height: 100%;
                cursor: pointer;
                background: rgba(64, 64, 64, 0.9);
                border-radius: unit(24);
            }
        }
    }
}