<div class = "Content" [ngStyle]="{ width: ContentWidth, bottom: bottomWidth, display: isshow ? 'block' : 'none'}" >
  <div class = "imgContent"  [ngStyle]="{ width: imgContentWidth}" [ngClass]="isshow ? 'inshowContent' : 'outshowContent'"
    (mouseenter)="mouseEnter()" (mouseleave)="mouseLeaveScroll($event)">
    <div class ="imgurl" *ngFor="let imgbg of currentUrlBgs" [id] = "currentImg === imgbg ? 'currentImgurl' : ''" (click)= "changePreview(imgbg)">
       <div [ngStyle]='{"background": imgbg.backgrounds}' (mousemove)="hoverEnterImg(imgbg)">
      </div>
      <span *ngIf="currentImg === imgbg"> </span>
      <p class="body-t34" *ngIf="currentImg === imgbg">{{imgbg.time}}</p>
    </div>
  </div>
</div>
<div class ="imloadgurl" *ngFor="let imgbg of reloadPicture" >
  <img [src] = "imgbg">
</div>
