@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.Content {
  margin: auto;
  height: unit(203);
  width: unit(993);
  bottom: unit(49);
  position: absolute;
  overflow: hidden;
  z-index: 13;
  .imgContent {
    height: unit(65);
    left: unit(-47);
    display: none;
    cursor: pointer;
    bottom: 0px;
    position: absolute;
  }
  .inshowContent{
    display: block;
  }
  .outshowContent {
    display: none;
  }
  .imgurl {
    float: left;
    padding: 1px;
    margin-left: 0px;
    margin-right: 0px;
    height: 60px;
    div {
      width: 110px;
      height: 61px;
      border: 1px solid $basic-c01;
      transition:  transform 0s;
      transform-origin: 50% 100%;
    }
    div:hover {
      border: unit(2) solid $basic-c01;
      transform: scale(1.83, 1.8);
      transform-origin: 50% 100%;
    }
    span {
      background: $basic-C08;
      height: unit(12);
      position: absolute;
      display: inline-block;
      top: 50px;
      width: 110px;
    }
    span:hover {
      transform: scale(1.83, 1.8);
      transform-origin: 50% 100%;
    }
    p {
      top: -41px;
      width: unit(116);
      text-align: center;
      color: $basic-c01;
      position: relative;
      line-height: unit(27);
    }
  }
  #currentImgurl {
    position: relative;
    margin-left: 41px;
    margin-right: 41px;
    div {
      border: unit(2) solid $basic-c01;
      transform: scale(1.83, 1.8);
      transform-origin: 50% 100%;
    }
    span {
      transform: scale(1.83, 1.8);
      transform-origin: 50% 100%;
      left: unit(3);
    }
  }
}
.imloadgurl{
  display: block;
  img {
    width: 1px;
    height: 1px;
    display: block;
    position: absolute;
  }
}
