<div [on-notification]="notification"></div>
<app-header class=''></app-header>
<app-auth-form></app-auth-form>

<main class="main-content">
    <!-- <app-livetv-player></app-livetv-player> -->
    <router-outlet></router-outlet>
    <app-weaktip-dialog id="component_weaktip_dialog"
                        [ngStyle]="{display: judgeWeakit ? 'block' : 'none'}"></app-weaktip-dialog>
    <!-- <app-manualrecord-popup class="manual-setting"></app-manualrecord-popup> -->
    <!-- <app-record-dialog class="playbill-record-setting" [recConfig]="recordDialogConfig"
                       *ngIf="showPlaybillRecord"></app-record-dialog>
    <app-update-record-dialog class="update-record-setting" [updateData]="updateRecordData"
                              (closeUpdata)="closeUpdateRecord()" *ngIf="showUpdateReocrd"></app-update-record-dialog>
    <app-check-init-password class="change-password-dialog" (closeDialog)="closeChangePassword()"
                             *ngIf="showChangePassword"></app-check-init-password> -->
    <app-error-message-dialog class="error-message-dialog" [errorMessageConfig]="errorDialogConfig"
                              *ngIf="showErrorDialog"></app-error-message-dialog>
    <!-- <app-device-list class="device-list-dialog" [deviceListConfig]="deviceDialogConfig"
                     *ngIf="showDeviceListDialog"></app-device-list> -->
    <div class="ondemand-filter-load">
        <div class="spinner"></div>
    </div>
</main>

<app-footer></app-footer>

<div class="channel_login_load_content"></div>
