@import "../styles.scss";
@import "/src/assets/css/common-variables.scss";
*{
  font-family: 'Corpid E1s SCd'
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color:  $prm-900;
  min-width: unit(950);
}

main {
  padding-top: unit(54);
  margin: auto;
  min-width: unit(950);
  background-color: $prm-900;
  min-height: unit(984);
  position: relative;
  display: block;
  overflow: hidden;

  app-livetv-player {
    position: fixed;
    display: block;
  }

  .ondemand-filter-load {
    position: fixed;
    top: 50%;
    left: 48%;
    z-index: 99999;
    display: none;

    @media screen and (max-width: 1440px) {
      left: 47%;
    }

    .spinner {
      position: relative;
      left: unit(0);
      width: unit(50);
      height: unit(50);
      background-repeat: no-repeat;
      background-size: unit(50);
      background-image: url(assets/img/loader.gif);
    }
  }

  @keyframes login_load_roate_div {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }

}


// app-header {
//   margin-left: auto;
//   margin-right: unit(20);
// }

#nav-name {
  width: unit(50);
  white-space: nowrap;
}

app-weaktip-dialog {
  position: fixed;
  top: unit(60);
  left: unit(0);
  margin: auto;
  z-index: 300000000000000000000000;
  left: 50%;
  transform: translateX(-50%);
}

.channel_login_load_content {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: unit(0);
  left: unit(0);
  background: $basic-C24;
  border-radius: unit(5);
  z-index: 99;
}

.manual-setting {
  position: fixed;
  top: unit(0);
  left: unit(0);
  z-index: 15;
}

.playbill-record-setting {
  position: fixed;
  top: unit(0);
  left: unit(0);
  z-index: 2200000000;
}

.error-message-dialog {
  position: fixed;
  top: unit(0);
  left: unit(0);
  z-index: 2200000000;
}

.device-list-dialog {
  position: fixed;
  top: unit(0);
  left: unit(0);
  z-index: 2200000000;
}

.update-record-setting {
  position: fixed;
  top: unit(0);
  left: unit(0);
  z-index: 2200000000;
}

.change-password-dialog {
  position: fixed;
  top: unit(0);
  left: unit(0);
  z-index: 2200000000;
}

.title-classOne {
  text-transform: uppercase;
  color: $basic-c01;
  border-bottom: unit(4) solid $basic-c31;
}

.title-classTwo {
  text-transform: uppercase;
  border-bottom: unit(0) solid $basic-c31;
  height: unit(18);
}

// mixin.css

@font-face {
  font-family: 'Rubik-Regular';
  src: url(../font/Rubik-Regular.ttf);
}
@font-face {
  font-family: 'Rubik-Light';
  src: url(../font/Rubik-Light.ttf);
}

.title-t11 {
    font-size: 32px;
    font-family: 'Corpid E1s SCd';
}
.title-t12 {
    font-size: 32px;
    font-family: 'Corpid E1s SCd';
}
.title-t13 {
    font-size: 24px;
    font-family: 'Corpid E1s SCd';
}
.title-t14 {
    font-size: 20px;
    font-family: 'Corpid E1s SCd';
}
.title-t15 {
    font-size: 20px;
    font-family: 'Corpid E1s SCd';
}
.title-t16 {
    font-size: 18px;
    font-family: 'Corpid E1s SCd';
}
.title-t17 {
    font-size: 16px;
    font-family: 'Corpid E1s SCd';
}
.title-t18 {
    font-size: 18px;
    font-family: 'Corpid E1s SCd';
}
.body-t14 {
    font-size: 14px;
    font-family: 'Corpid E1s SCd';
}
.body-t20 {
    font-size: 48px;
    font-family: 'Corpid E1s SCd';
}
.body-t21 {
    font-size: 36px;
    font-family: 'Corpid E1s SCd';
}
.body-t22 {
    font-size: 32px;
    font-family: 'Corpid E1s SCd';
}
.body-t23 {
    font-size: 24px;
    font-family: 'Corpid E1s SCd';
}
.body-t24 {
    font-size: 24px;
    font-family: 'Corpid E1s SCd';
}
.body-t25 {
    font-size: 20px;
    font-family: 'Corpid E1s SCd';
}
.body-t26 {
    font-size: 20px;
    font-family: 'Corpid E1s SCd';
}
.body-t27 {
    font-size: 18px;
    font-family: 'Corpid E1s SCd';
}
.body-t28 {
    font-size: 16px;
    font-family: 'Corpid E1s SCd';
}
.body-t29 {
    font-size: 16px;
    font-family: 'Corpid E1s SCd';
}
.body-t30 {
    font-size: 16px;
    font-family: 'Corpid E1s SCd';
}
.body-t31 {
    font-size: 14px;
    font-family: 'Corpid E1s SCd';
}
.body-t32 {
    font-size: 14px;
    font-family: 'Corpid E1s SCd';
}
.body-t33 {
    font-size: 14px;
    font-family: 'Corpid E1s SCd';
}
.body-t34 {
    font-size: 12px;
    font-family: 'Corpid E1s SCd';
}

.font-regular{
    font-family: 'Corpid E1s SCd Regular';
}

.font-light{
    font-family: 'Corpid E1s SCd';
}

@media screen and (max-width: 1440px) {
    .body-t32 .playInfo,
    .body-t32 .favInfo {
        font-size: 12px;
    }
}

// miniSceen.screen

#nav-title-route .title-center { width: 980px; margin: auto;}
#nav-title-route .title-center .home-route { padding-left: 30px;}
#nav-title-route .title-center .live-tv-route { padding-left: 30px;}
#nav-title-route .title-center .on-demand-route { padding-left: 30px;}
#nav-title-route .title-center .detail-route { padding-left: 30px;}
#nav-title-route .title-center .header-route app-history-header { margin-left: 10px;}
#nav-title-route .title-center .header-route app-profile-header { margin-left: 8px;}
#nav-title-route .title-center .header-route app-language-header { left: 432px;}
footer #footer_nav { width: 980px; margin: auto;}
footer #footer_nav span {padding-left: 20px; padding-right: 20px;}
footer #footer_nav span div{left: 21px;}
.foot-content #footer_nav span:nth-child(6){ padding-right: 0px;}
#nav-title-route {min-width: 1100px;}
.main-content {min-width: 1100px;min-height: 830px;}
.foot-content {min-width: 1100px;}
.foot-content #common_goto_top {background: url(../img/64/scroll-to-top_64x64.png) no-repeat;width: 64px;height: 64px;}

@media (max-width: 1100px){
    .foot-content #common_goto_top {background: url(../img/back-on-top.png) no-repeat;width: 24px;height: 24px;}
}

/*search*/
#nav-title-route .title-center .header-route app-search-header .search-header #input-text-overflow { width: 138px;}
#nav-title-route .title-center .header-route app-search-header .search-header #search_hint {width: 218px;background-position: -52px 0px;}
#nav-title-route .title-center .header-route app-search-header .search-header #search_hint .filter {width: 218px;}
#nav-title-route .title-center .header-route app-search-header .search-header #search_hint .filter ul{width: 218px;}
#nav-title-route .title-center .header-route app-search-header .search-header #search_hint .filter ul li{width: 178px;}
#nav-title-route .title-center .header-route app-search-header .search-header #search_hint .filter .hotVOD-filter img {padding: 20px 10px 15px 15px;}
#nav-title-route .title-center .header-route app-search-header .search-header #search_hint .filter .hotVOD-filter .hotVOD-detail {width: 103px;}

/*banner*/
.banner #bannerContent{max-width:980px;}

/*hot-tv-show*/
#hotTV { width: 980px; top:-75px;}
#hotTV .hotTV-list-panel { width: 980px; margin: auto;}
#hotTV .hotTV-list-panel .hotTV-list .item { width: 313px; margin-right: 20px;}
#hotTV .hotTV-list-panel .hotTV-list .item div img { width: 313px; height: 177px;}
#hotTV .hotTV-leftIcon { left: 10px; top: -22px;}
#hotTV .hotTV-rightIcon { left: -400px;; top: -6px;}
#hotTV .line {width: 980px;}

/*OSCAR*/
 #oscar-all{ max-width: 1100px;top:-70px; margin:auto;}

/*the column of OSCAR-MORE*/
 #contentList{ max-width: 980px; margin: auto; left: 0px; }
#contentList .contentTitles { max-width: 980px; margin: auto; }
#contentList .waterfall-box{ left: 0px; max-width: 980px; margin: auto; }
#contentList .waterfall-box .waterfallVod-frame{ width: 180px; height: 232px; margin-right: 20px; }
#contentList .waterfall-box	.waterfallVod-frame:nth-of-type(5n + 5){ margin-right: 0px; }
#contentList .waterfall-box .waterfallVod-frame .vod-poster{ width:180px; height: 240px; }
#contentList .waterfall-box .waterfallVod-frame .vod-poster .vod-score{ margin-left: 138px; margin-top: 177px; }
#contentList .waterfall-box .waterfallVod-frame .vod-name{ width: 180px; }
#contentList .waterfall-box .waterfallVod-frame .vod-poster img{ width:180px; height: 240px; }

/*OSCARAll has subtopic.*/
 .oscarMore-column {max-width: 980px;  margin:auto;}

/*the recommend column of ondemand*/
// .ondemand-recomvod{ max-width: 1100px;top:-80px; margin:auto; }
// .ondemand-recomvod .recomvod{max-width: 980px;}
// .ondemand-recomvod .moreTitles {margin:auto;max-width: 980px;height:284px;}

// .recomvod-content{max-width: 1100px;top:-80px; margin:auto;}
// .recomvod-content .contentTitles{margin:auto;max-width: 980px;height:284px;}

/* top-this-week */
#top-this-week{ max-width: 1100px;top:-80px; margin:auto;}
#top-this-week .topWeekBorder{max-width: 980px;border-bottom: 1px solid rgba(245, 245, 245, 0.1);}
app-tv-guide .tvguide-content app-channel-list #channel-list #channel-content #transverseScroll {width: 758px}

/* cast-vod */
#cast-show{ max-width: 1040px; }
#cast-show .cast-title{ max-width: 980px; }
#cast-show .HeadAndName{ max-width: 920px; padding-left: 30px; padding-right: 30px; }
#cast-show .HeadAndName .item:nth-child(7n + 5){ margin-right: 0px; }
#cast-show .HeadAndName .item:nth-child(7n + 6){ display: none; }
#cast-show .HeadAndName .item:nth-child(7n + 7){ display: none; }
#cast-show .first-line{ max-width: 980px; }
#cast-show .castVodList{ max-width: 1100px; height:275px; left: -60px; }
#cast-show .second-line{ max-width: 980px; }

/* cast-more */
.cast-more{ max-width: 980px; }
.cast-more .cast-title{ max-width: 980px;}
.cast-more .HeadAndName{ max-width: 980px;}

/* vod-banner */
#vod-banner{height:406px;}
#vod-banner .content{max-width: 670px;height: 376px;}
#vod-banner .content .poster {height:376px;}
#vod-banner .content .stents{height: 376px}
#vod-banner .content .image{width: 670px;height: 376px;}
#vod-banner .content .clickLeft{margin-top:173px;}
#vod-banner .content .clickRight{margin-top:173px;}
#vod-banner .content .info{ bottom: 0; width: 280px; height: 300px;}
#vod-banner .content .info .banner-logo{height: 208px;width:208px;}
#vod-banner .content .mask{height: 260px; margin-top:-260px;}
#vod-banner .content .contentVodBannerBg{width: 310px}

/*vod-cast*/
#vod-cast {max-width: 980px;}
#vod-cast .castContent{height: 374px;width: 980px;overflow: hidden;}
#vod-cast .stents{height: 374px;}
#vod-cast .castAvatar{height: 374px;width: 630px}
#vod-cast .bg_cast{width: 374px;height: 374px;margin-left:-474px;}
#vod-cast .castvodlist .castcontentlist{width: 180px}
#vod-cast .castvodlist{left: 381px;}
#vod-cast .castvodlist .castcontentlist .imgs{width: 180px;height: 240px;}
#vod-cast .castvodlist .castcontentlist .imgs img{width: 180px}
#vod-cast .name{width: 180px;}

/* vod-detail */
.main-content app-voddetail-home .voddetail-container{width:980px;}
.main-content app-voddetail-home .voddetail-container #player_content {height: 376px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-player .vod-player{width: 670px; height: 376px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-player .vod-player .noPlayer{margin-top: 10px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-player .vod-player .noPlayer .noDataposter{margin-top: -9px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode{width: 310px; height: 376px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode .title span{margin-left: 29px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #episodes-all #epiHasData #episodes-page .page-content{width: 254px;margin-left: 30px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #episodes-all #epiHasData #episodes-page .page-content .pages{width: 25000px}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #episodes-all #epiHasData #episodes-page .page-content #pages-list li span{margin-left: 25px; text-align: center;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #episodes-all #epiHasData #episodes-page .page-content #pages-list li:nth-child(2n) span{margin-left: 0px;margin-right: 27px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #episodes-all #epiHasData #episodes-page .page-content #pages-list li:nth-child(2n+1) span{margin-left: 27px;margin-right: 40px;}

.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #episodes-all #epiHasData #episodes-content{height: 230px;padding-left: 30px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #episodes-all #epiHasData #episodes-content #episodes #episode:nth-child(5n){margin-right: 10px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #episodes-all #epiHasData #episodes-content #episodes #episode:nth-child(4n){margin-right: 0px;}

.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content .scrollList {top: -283px}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content .scrollList #trailers-scroll{height: 283px}

.main-content app-voddetail-home .voddetail-container app-vod-detail .detail .score-show{margin-left: 767px;}
.main-content app-voddetail-home .voddetail-container app-vod-detail .detail .share-vod{right: -978px;}
.main-content app-voddetail-home .voddetail-container app-vod-detail .detail .content #introduce{width: 862px}
.main-content app-voddetail-home .voddetail-container app-vod-detail .detail .content #introduceShowIcon{width: 860px}
.main-content app-voddetail-home .voddetail-container app-vod-detail .detail .content #introduceMore{left: 845px}
.main-content app-voddetail-home .voddetail-container app-vod-detail .detail .content #introduceLess{left: 845px}

/* vod-detail no data*/
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #episodes-all .epiNoData{width:310px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #episodes-all .epiNoData .noDataposter{margin-top:65px;}

.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #trailers-content .trailerNoData{width:310px;}
.main-content app-voddetail-home .voddetail-container #player_content app-vod-episode .vod-episode #content #trailers-content .trailerNoData .noDataposter{margin-top:65px;}
.main-content app-voddetail-home .voddetail-container #player_content .vod-player app-vodplaybar #vodVideoContainer #vodMiniScreen{
    background: url(../img/playcontrol_detaultimg996x560.png)no-repeat;background-size: 100% 100%;}
.main-content app-voddetail-home .voddetail-container #player_content .vod-player app-vodplaybar #vodVideoContainer #vodLogInBg{
    background: url(../img/playcontrol_detaultimg996x560.png)no-repeat;background-size: 100% 100%;}
.main-content app-voddetail-home .voddetail-container #player_content .vod-player app-vodplaybar #vodVideoContainer #vodReplayBg{
    background: url(../img/playcontrol_detaultimg996x560.png)no-repeat;background-size: 100% 100%;}
/*my tv*/
#my-tv {width: 100%; min-height: 960px;}
#my-tv .mytv-main{width: calc((100%) - (294px)); min-height: 960px;}
#my-tv .mytv-main #my-device-name .deviceTipMsgRule{margin-left: 113px;}

/* myTv profile info */
#profile-manage{width: 686px;}
#profile-manage .tips{margin-left: 193px;}
#profile-manage .tipMsgRule{margin-left: 193px;}
#profile-manage .profile-Info #basic-button{ margin-left: 172px; }
#profile-manage .errorMsg{width: 600px;}
#profile-manage .modify-pwd #pwd-button{ margin-left: 197px;}
#profile-manage .level-list{margin-left: 178px;}
#profile-manage .avatarArea{margin-left: 20px;}
#profile-manage .avatarList{width: 580px;}
#profile-manage .content .profile-Info .item .nameErrorMsg{left: 177px;}
#profile-manage .content .tipMsg{width: 460px;}

/* myTv purchased */
#my-purchased{ width: 686px; }
#my-purchased .purchased-title{ max-width: 686px; }
#my-purchased .purchased-line{ max-width: 686px; }
#my-purchased-package{ max-width: 686px; }
#purchased-package{ width: 686px;}
#my-purchased-package #purchased-package{ max-width: 686px; }
#my-purchased-package #purchased-package .package-content{ max-width: 686px; }
#my-purchased-package .package-content .item{ width: 679px; margin-right: 0px; }
#my-purchased-package .package-content .item .NameAndDesc{ width: 509px;}

/* myTv device-name */
#my-device-name{ width: 686px; }
#my-device-name .title{ max-width: 686px; }

/* myTv reminder */
#reminder_manage,#reminder_manage .reminder_content,#reminder_manage .reminder_title{ width: 686px; }
#reminder_manage  li{width: 216px ; margin-right: 19px}
#reminder_manage  li .images{width: 216px; height: 119px;}
#reminder_manage  li { height: 174px;}
#reminder_manage  li .images .channelLogo{ top: -119px;}
#reminder_manage  li .delete{margin-top: -119px; margin-left: 192px;}
#reminder_manage  li:nth-child(3n + 3){margin-right: 0;}
/* live tv home banner*/
#whatOn {height: 636px;}
#whatOn > .content{width: 980px;height: 636px}
#whatOn .banner{width: 650px}
#whatOn .banner .noWhaton-Playbill{margin-top: 231px;}
#whatOn .banner li{width: 315px;height: 176px}
#whatOn .banner li .programName{width: 275px}
#whatOn .banner li:first-child{width: 650px;height: 364px}
#whatOn .banner li:nth-child(3){margin-left: 20px;}
#whatOn .banner li:first-child .programName{width: 610px}
#whatOn .banner li:first-child .channelDetail{width: 550px}
#whatOn .banner li:nth-child(2) .channelDetail{width: 230px}
#whatOn .banner li:nth-child(3) .channelDetail{width: 230px}
#whatOn .play-bill{width: 310px;height: 636px;}
#whatOn .play-bill .channleList{width: 310px;height: 555px;}
#whatOn .play-bill .bg{height: 5px;border-bottom:0px;}
#whatOn .play-bill .channleList-nodata{position: absolute; top: 302px; right: 68px;}
#whatOn .play-bill li:last-child{padding-bottom: 20px;}
#whatOn .play-bill .title{margin-left: 145px;}
#whatOn .play-bill .playbillName{width: 133px}
#whatOn .play-bill .isRecording{margin-left: 145px;}
#whatOn .play-bill .channelInfo{width: 165px}
#whatOn .play-bill .progress{width: 165px}
#whatOn .play-bill .bg .channleList .scrollList .scroll{height:520px }
#whatOn #playBill  .livetv-banner-load{right: 197px;}

/* live tv home hot-genres */
#hot-genres-home{width:980px;}

/*live tv detail*/
#channelDetail-Home{ width: 980px;margin: 0 auto; }
#channelDetail-Home .channelDetail-title{ max-width: 443px; }
#channelDetail-Home .channelDetail-top .channelDetail-line{ margin-top:-205px; }
#channelDetail-Home .channelDetail-top{	width: 980px;margin: 0 auto;}
#channelDetail-Home .channelDetail-top .channelDetail-left img{ width: 443px;height: 244px;}
#channelDetail-Home .channelDetail-top .channelDetail-right{width:517px; height:244px;margin-left: 20px; margin-top: 10px;}
#channelDetail-Home .channelDetail-top .channelDetail-right .channelDetail-name{max-width: 466px;}
#channelDetail-Home .channelDetail-top .channelDetail-right .linetwo{ width: 517px;}
#channelDetail-Home .channelDetail-top .channelDetail-right .channelDetail-introducebig .introduce{	width: 517px;}
#channelDetail-Home .channelDetail-top .channelDetail-right .channelDetail-introducebig .introduce-more{ left: 500px;}
#channelDetail-Home .channelDetail-top .channelDetail-right .channelDetail-introducebig .introduce-less{ left: 500px;}
#channelDetail-Home .channelDetail-top .channelDetail-right .linetwo .channelDetail-lefttime{ padding-right: 4px;}
#channelDetail-Home .channelDetail-top .channelDetail-right .linetwo .channelDetail-time{ padding-right: 4px; margin-left:-2px;}
#channelDetail-Home .channelDetail-top .channelDetail-right .linetwo .channelName{ padding-right: 4px; margin-left: -3px;}
#channelDetail-Home .channelDetail-top .channelDetail-right .linetwo .channelDetail-season{ padding-right: 4px;margin-left: -3px;}
#channelDetail-Home .channelDetail-top .channelDetail-right .linetwo .channelDetail-HD{ margin-left: 0px; }
#channelDetail-Home .channelDetail-top .channelDetail-right .linetwo .channelDetail-PG16{ margin-left: -2px; margin-right:6px; }
#channelDetail-Home .channelDetail-top .channelDetail-right .channelDetail-introducebig{ width: 517px; }
#channelDetail-Home .channelDetail-top .channelDetail-right .channelDetail-introducebig #showiconchannel{ width: 517px; height: auto;}
#channelDetail-Home .channelDetail-top .channelDetail-right .button-group{ margin-top: 36px;}
#channelDetail-Home .channelDetail-top .channelDetail-line{  width: 980px;  margin-top: 45px;}
#channelDetail-Home .view-Home{margin: 0 auto; width: 980px; top: 51px;}
.tvguide-content .guide_routes #guide_Channel{max-width: 980px;}
.main-content app-bottom-routes .bottom-routes .bottom{width: 980px;}
.main-content app-livetv-player .livetv-player #videoContainer .fullminidetail #miniDetailFullScrean .scrollList #scrollFullScrean {height: 320px;}