@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.vod-PopUp-Dialog {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0px;
  left: 0px;
  app-vodsubscriber-dialog {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    left: 0px;
    z-index: 2200000000;
    background: $basic-C08;
  }
  app-vodsubscremp-dialog {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    position: fixed;
    left: 0px;
    z-index: 2200000000;
    background: $basic-C08;
  }
  app-vodpassword-dialog {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    position: fixed;
    left: 0px;
    z-index: 2200000000;
    background: $basic-C08;
  }
  app-vodauthorize-dialog {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    position: fixed;
    left: 0px;
    z-index: 2200000000;
    background: $basic-C08;
  }
  app-miniscreen {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 11;
  }
  app-login-background {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 11;
  }
  app-replay-background{
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 11;
  }
  app-playfail-background{
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 11;
  }
}
.vod_first_popup{
  width: 100%;
  height: 100%;
}
.vod_second_popup{
  width: none;
  height: none;
}

.title{
    height: unit(26);
    font-family: Rubik-Light, sans-serif;
    font-size: unit(20);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f5f5f5;
}
.button {
    height: unit(40);
    border-radius: unit(1);
    background-color: #dead30;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Rubik-Light, sans-serif;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #f5f5f5;
    }
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 2200000020;
    .payment-list {
        position: relative;
        width: unit(350);
        margin: auto;
        background-color: rgba(24, 24, 24, 0.96);
        top: 30%;
        justify-content: center;
        padding: unit(20);
        .title {
            padding-bottom: unit(7);
        }
        .button {
            padding: unit(5);
            margin-bottom: unit(10);
            border: unit(1) solid $basic-c25;
            border-radius: $rounded-rc1;
            background-color: black;
            div {
                color: $basic-c01;
            }
        }
        .button:hover {
            background-color: $basic-c26;
            cursor: pointer;
        }
    }
}
