<div
    id="vodPopUpDialog"
    class="vod-PopUp-Dialog"
    [ngStyle]="setStyles()"
    [ngClass]="(judgeSubscrEmp || judgeSubscriber || judgeFullScreenPwd
    || judgeAuthorizeEmp || judgeMiniScreen || judgeLogInBg) ?
    'vod_first_popup': 'vod_second_popup'" [style.width]="(judgeReplayBg || judgePlayFailBg) ? '100%' : ''"
    [style.height]="(judgeReplayBg || judgePlayFailBg) ? '100%' : ''"
>
    <app-vodsubscremp-dialog (empSub)="setPopUpSubscriber()" id="vodSubscrEmp"
                             [ngStyle]='{ "display":judgeSubscrEmp ? "block": "none"}'
                             [style.backgroundImage]="'web_player_large.png'|cmsImage "></app-vodsubscremp-dialog>

    <app-vodsubscriber-dialog
        (subProduct)="subProductPackage($event)"
        id="vodSubDialog"
        (closeCurrentDialog)="closeDialog($event)"
        [ngStyle]='{ "display":judgeSubscriber ? "block": "none"}'
        [style.backgroundImage]="'web_player_large.png' | cmsImage"
    ></app-vodsubscriber-dialog>

    <app-vodpassword-dialog (enterProPwd)="enterProfilePwd($event)" id="vodPwdDialog"
                            (closePINDialog)="closeDialog($event)"
                            [ngStyle]='{ "display":judgeFullScreenPwd ? "block": "none"}'
                            [style.backgroundImage]="'web_player_large.png'|cmsImage "></app-vodpassword-dialog>

    <app-vodauthorize-dialog (authorizeEmpSub)="setAuthorizate()" id="vodAuthorizeEmp"
                             [ngStyle]='{ "display":judgeAuthorizeEmp ? "block": "none" }'
                             [style.backgroundImage]="'web_player_large.png'|cmsImage "></app-vodauthorize-dialog>

    <app-miniscreen
        id="vodMiniScreen"
        (changeMiniScreen)="changeMiniScreen($event)"
        [ngStyle]='{ "display": judgeMiniScreen ? "block": "none"}'
        [style.backgroundImage]="'web_player_small.png'|cmsImage "
        (mousemove)="showVODPlayOtherCom()"
        (mouseleave)="hideVODPlayOtherCom()"
    ></app-miniscreen>

    <app-login-background id="vodLogInBg" (mousemove)="showVODPlayOtherCom()" (mouseleave)="hideVODPlayOtherCom()"
                          [ngStyle]='{ "display":judgeLogInBg ? "block": "none"}'></app-login-background>
    <app-replay-background id="vodReplayBg" (mousemove)="showVODPlayOtherCom()" (mouseleave)="hideVODPlayOtherCom()"
                           [ngStyle]='{ "display":judgeReplayBg && !judgePlayFailBg? "block": "none"}'
                           [style.backgroundImage]="'web_player_large.png'|cmsImage "
    ></app-replay-background>

    <app-playfail-background
        id="vodPlayFailBg"
        (mousemove)="showVODPlayOtherCom()"
        (mouseleave)="hideVODPlayOtherCom()"
        [ngStyle]='{ "display":judgePlayFailBg ? "block": "none"}'
        [style.backgroundImage]="'web_player_large.png'|cmsImage "
    ></app-playfail-background>
</div>

<div *ngIf="showMethodDialog">
    <div class="popup" (click)="closePopup()">
        <div class="payment-list">
            <div class="title">{{ 'select_payment' | translate }}</div>
            <div class="button" *ngFor="let payment of paymentMethods" (click)="selectPayment(currentProduct, payment)">
                <div>
                    {{ 'card_name' | translate:payment.card }}
                    <br/>
                    {{ 'card_expiration' | translate:payment.card }}
                </div>
            </div>
            <div class="button" (click)="createPayment(currentProduct)">
                <div>
                    {{ 'new_payment' | translate }}
                </div>
            </div>
        </div>
    </div>
</div>
