<div class = "repeatDataContainer" [ngStyle]='{ "display":isShowRepeatData ? "block": "none" }'>
  <div class= "repeatData" id="repeatData" >
    <div class="repeatDatatitle body-t26">{{'repeat_date' | translate}}
      <div class="repeatData-close" (click) = "close()"></div>
    </div>
    <div id="repeatDatawrap">
      <div class="repeatDataPanel body-t29" id="repeatDataPanel">
        <div class="repeatDataList" id="repeatDataList" *ngFor="let repeatDataDate of whiteRepeatDataDates, let i=index" (click)="chooseData(i)" >
          <div [class]="(isChoosen[i]) ? 'isChoosen' : 'notChoosen'"></div>
          <span [class]="(isChoosen[i]) ? 'choosenDay' : ''">{{repeatDataDate}}</span>
        </div>
      </div>
    </div>
    <div class="repeatPath"></div>
    <div class = "repeatDataSave body-t26">
      <div  (click)="confirm()" [class]="(isConfirm) ? 'confirmButton' : 'disconfirmButton'"><span>{{'confirm' | translate}}</span></div>
    </div>
  </div>
</div>
