@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.repeatDataContainer{
  position:fixed;
  width: 100%;
  height: 100%;
  display: block;
  top: unit(0);
  left: unit(0);
  z-index: 12;
  background: $basic-C08;
}
.repeatData{
  position: absolute;
  height: unit(539);
  width: unit(460);
  background-color: $basic-c14;
  left: unit(0);
  right: unit(0);
  top: unit(0);
  bottom: unit(0);
  margin: auto;
  .repeatDataPanel{
    top:unit(0);
  }
}

.repeatDatatitle{
  height: unit(60);
  line-height: unit(60);
  border-bottom: unit(1) solid $basic-c19;
  vertical-align: middle;
  text-align:center;
  color: $text-c35;
  margin-bottom: unit(10);
  cursor: default;
  .repeatData-close{
    background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
    width: unit(20);
    height: unit(20);
    position: relative;
    top: unit(-40);
    left: unit(405);
    cursor: pointer;
  }
}

.repeatDataList{
  height: unit(46);
  line-height: unit(46);
  vertical-align: middle;
  color: $text-c35;
  text-align:center;
  position: relative;
  .isChoosen{
    background: url(assets/img/22/check_22.png) no-repeat;
    width: unit(22);
    height: unit(22);
    position: absolute;
    float: left;
    top: unit(10);
    left: unit(55);
  }
  .notChoosen{
    width: unit(22);
    height: unit(22);
    position: absolute;
    float: left;
  }
  .choosenDay{
    color: $text-c31;
  }
}
.repeatDataList:hover {
  background-color: $basic-c03;
  cursor: pointer;
  color: $text-c31;
}
.repeatPath{
  height:unit(1);
  background-color:  $basic-c19;
}
.repeatDataSave{
  height: unit(80);
  vertical-align: middle;
  .confirmButton{
    cursor: pointer;
    width: unit(220);
    height:unit(46);
    color: $text-c31;
    text-align:center;
    border: unit(1) solid $basic-c25;
    vertical-align: middle;
    background-color: $basic-c04;
    left: unit(120);
    position: relative;
    top: unit(20);
    border-radius: unit(2);
    span{
      top: unit(10);
      position: relative;
    }
  }
  .confirmButton:hover{
    background-color: $basic-c05;
  }
  .disconfirmButton{
    cursor: pointer;
    width: unit(220);
    height:unit(46);
    color: $text-c31;
    text-align:center;
    border: unit(1) solid $basic-c25;
    vertical-align: middle;
    background-color: $basic-c23;
    left: unit(120);
    position: relative;
    top: unit(20);
    border-radius: unit(2);
    span{
      top: unit(10);
      position: relative;
    }
  }
}
