<div class="record-episodes">
  <div class="bg" (click)='close()'></div>
  <div id='record-episodes' [class]="isShow ? 'record-episodes-in' : 'record-episodes-out'">
    <div class="hide" [ngStyle]='hidePosition()' (click)='close()'></div>
    <div class="title title-t16">{{'episodes'|translate}}</div>
    <div class="tip body-t32">{{'available_recordings'|translate}}</div>
    <div class="record-episodes-list" id="record-episodes-list" [ngStyle]='listStyle()'>
      <ul id="record-episodes-ul">
        <li  *ngFor='let record of recordList' [ngClass]='record.id===curPlayPVR.id?"curPlay":""' (click)="play(record)">
          <div class="poster"><img src="{{record.poster}}" onerror="this.onerror=null;this.src='assets/img/default/ondemand_trailers.png'"/></div>
          <div class="info">
            <div class="name body-t39">{{record.name}}</div>
            <div class="season body-t34">
              <span *ngIf='record.seasonNO.num'>{{'vod_season'|translate:record.seasonNO}}</span>
              <span *ngIf='record.seasonNO.num && record.sitcomNO.num'>,&nbsp;</span>
              <span *ngIf='record.sitcomNO.num'>{{'episode'|translate:record.sitcomNO}}</span>
            </div>
            <div class="time body-t34">{{record.time}}|&nbsp;{{record.channelName}}</div>
          </div>
        </li>
      </ul>
      <div class="scrollList">
        <div class="scroll" id="record-episodes-scroll">
          <span id="record-episodes-scroll-span"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="record-episodes-load" >
    <div class="spinner"></div>
  </div>
</div>
