@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.record-episodes {
    width: 100%;
    height: 100%;
}
.bg {
    width: 100%;
    height: 100%;
    background: $basic-C08;
    position: fixed;
}

.hide {
    width: unit(28);
    height: unit(128);
    @extend .fullscreen-packup;
    cursor: pointer;
    position: absolute;
    right: unit(428);
}
.title {
    color: $text-c31;
    padding: unit(29) unit(0) unit(18) unit(35);
    border-bottom: unit(1) solid $basic-c21;
}
.tip {
    color: $text-c35;
    padding: unit(16) unit(0) unit(6) unit(35);
}

@-webkit-keyframes fullscreanfade-in {
    0% {
      opacity: 0;
      right: unit(-428)
    }
    100% {
      opacity: 1;
      right: unit(0);
    }
}

@-webkit-keyframes fullsreanfade-out {
    0% {
      opacity: 1;
      right: unit(0)
    }
    100% {
      opacity: 0;
      right: unit(-428);
    }
}

.record-episodes-out {
    width: unit(428);
    font-size: 0;
    background: $basic-c14;
    position: fixed;
    right: unit(-428);
    -webkit-animation: fullsreanfade-out 1s;
}

.record-episodes-in {
    width: unit(428);
    font-size: 0;
    background: $basic-c14;
    position: fixed;
    right: unit(0);
    -webkit-animation: fullscreanfade-in 1s;
}
.record-episodes-list {
    overflow: hidden;
    ul {
        padding: 0;
        margin: 0;
        position: relative;
        top: unit(0);
        padding-left: unit(35);
        li{
            border-top: unit(1) solid $basic-c21;
            cursor: pointer;
            &:hover {
                background: $basic-c21;
            }
            .poster{
                width: unit(124);
                height: unit(68);
                display: inline-block;
                margin: unit(8) unit(0);
            }
            img{
                width: 100%;
                height: 100%;
            }
            .info{
                display: inline-block;
                position: absolute;
                margin-left: unit(10);
                .name{
                    color:$text-c31;
                    margin-bottom: unit(8);
                    margin-top: unit(10);
                    width: unit(250);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .season, .time{
                    color:$text-c35;
                }
                .time {
                    margin-top: unit(8);
                    width: unit(250);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
        li:first-child {
            border: none;
        }
        .curPlay{
            background: $basic-c21;
        }
    }
    .scrollList {
        position: absolute;
        top: unit(53);
        right: unit(0);
        .scroll {
            width: unit(0);
            right: unit(0);
            top: unit(57);
            bottom: unit(8);
            cursor: pointer;
            position: absolute;
            background: $basic-C09;
            span {
                height: unit(0);
                width: unit(6);
                top: unit(0);
                left: unit(-16);
                bottom: unit(0);
                cursor: pointer;
                position: absolute;
                background: $basic-c03;
                border-radius: unit(24);
            }
        }
    }
}
.record-episodes-load {
    position: absolute;
    top: 47%;
    right: unit(210);
    z-index: 99999;
    display: none;
    .spinner {
        position: absolute;
        left: 0;
        width: unit(80);
        height: unit(80);
        background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
        -webkit-animation: login_load_roate_div 2s infinite;
        animation: login_load_roate_div 2s infinite;
    }
}
