@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.sub-profile-body {
  width: unit(1086);
  position: relative;
  padding-bottom: unit(140);
  .sub-profile-header {
    width: unit(1086);
    height: unit(40);
    border-bottom: unit(1) $basic-c03 solid;
    .sub-profile-title {
      height: unit(24);
      padding-top: unit(6);
      display: inline-block;
      color: $text-c31;
      line-height: unit(24);
      cursor: default;
    }
    .sub-profile-edit {
      width: unit(60);
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      text-align: center;
      line-height: unit(28);
      border-radius: unit(2);
    }
    .sub-profile-edit:hover {
      background: $basic-c03;
    }
    .sub-profile-edit2 {
      width: unit(60);
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      margin-right: unit(-62);

    }
    .sub-profile-clearAll {
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      margin-right: unit(20);
      padding: 0 unit(20) 0 unit(20);
      color: $text-c31;
      line-height: unit(28);
      cursor: pointer;
      border-radius: unit(2);
    }
    .sub-profile-clearAll:hover {
      background: $basic-c03;
    }
    .sub-profile-complete {
      height: unit(28);
      border: unit(1) $basic-c21 solid;
      float: right;
      padding: 0 unit(20) 0 unit(20);
      color: $text-c31;
      line-height: unit(28);
      cursor: pointer;
      border-radius: unit(2);
    }
    .sub-profile-complete:hover {
      background: $basic-c03;
    }
  }
  .add-sub-profile {
    position: relative;
    height: unit(32);
    line-height: unit(32);
    padding: unit(24) 0;
    .add-button {
      float: left;
      margin-right: unit(20);
      cursor: pointer;
    }
    .add-profile-letter {
      color: $text-c31;
      cursor: pointer;
      display: inline-block;
    }
  }
  .sub-content-wrap {
    position: relative;
    .sub-content-body {
      position: relative;
      height: unit(139);
      width: unit(1086);
      padding-left: unit(30);
      left: unit(-30);
      &:hover {
        background: $basic-c21;
      }
      &:last-child {
        border-bottom: none;
      }
      .left-information {
        position: relative;
        height: unit(140);
        .sub-avatar {
          position: relative;
          float: left;
          width: unit(78);
          height: unit(78);
          border-radius: 50%;
          margin-right: unit(20);
          top: unit(31);
        }
        .sub-profile-info {
          position: relative;
          top: unit(23);
          .sub-profile-name {
            position: relative;
            color: $text-c31;
            margin-bottom: unit(14);
            width: unit(405);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          #level-content {
            margin-bottom: unit(8);
          }
          .level-credit-content {
            position: relative;
            color: $text-c35;
          }
        }
      }
      .right-modify-button {
        position: absolute;
        top: unit(47);
        right: unit(30);
        .basic-button {
          position: relative;
          display: inline-block;
          width: unit(218);
          height: unit(44);
          border: unit(1) solid $basic-c25;
          margin-right: unit(40);
          color: $text-c31;
          text-align: center;
          line-height: unit(44);
          cursor: pointer;
        }
        .pass-button {
          position: relative;
          display: inline-block;
          width: unit(218);
          height: unit(44);
          border: unit(1) solid $basic-c25;
          color: $text-c31;
          text-align: center;
          line-height: unit(44);
          cursor: pointer;
        }
      }
      .delete-button {
        position: absolute;
        right: unit(30);
        top: unit(54);
        cursor: pointer;
      }
    }
  }
  .profile-checkpass, .confirm, .basic-dialog, .modify-password, .delete-profile-confirm {
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
  }
  .noData {
    margin-top: unit(200);
    position: relative;
  }
}

.edit-normal {
  color: $text-c31;
  cursor: pointer;
}

.edit-nodata {
  color: $text-c34;
  cursor: pointer;
}

.no-editting {
  border-bottom: unit(1) solid $basic-c25;
  &:hover {
    border-bottom: unit(1) solid transparent;
  }
}

.in-editting {
  background: $basic-c21;
  border-bottom: none;
  margin-bottom: unit(1);
}

.first-sub-editting {
  margin-top: unit(1);
}

@media screen and(max-width: unit(1440)) {
  .sub-profile-body {width: unit(686);}
  .sub-profile-body .sub-profile-header {width: unit(686);}
  .sub-profile-body .sub-content-wrap .sub-content-body {width: unit(686);}
  .sub-profile-body .sub-content-wrap .sub-content-body .left-information .sub-profile-info .sub-profile-name{width: unit(300);}
  .sub-profile-body .sub-content-wrap .sub-content-body .right-modify-button {top: unit(16); right: unit(20);}
  .sub-profile-body .sub-content-wrap .sub-content-body .right-modify-button .basic-button {display: block; margin-bottom: unit(18); margin-right: unit(0);}
  .sub-profile-body .sub-content-wrap .sub-content-body .right-modify-button .pass-button {display: block;}
}
