<div class="sub-profile-body">
  <div class="sub-profile-header">
    <span class="sub-profile-title title-t13">{{'sub_profile_navigate' | translate}}</span>
    <div class="sub-profile-edit body-t32" (click)="editData()" [ngClass]="noDataList ? 'edit-nodata' : 'edit-normal'" *ngIf="showEdit">{{'edit' | translate}}</div>
    <div class="sub-profile-edit2" [ngStyle]="{display: noDataList ? 'block' : 'none'}"></div>
    <div class="sub-profile-complete body-t32" (click)="completeData()" *ngIf="isEditting">{{'complete' | translate}}</div>
    <div class="sub-profile-clearAll body-t32" (click)="clearAllData()" *ngIf="isEditting">{{'clearAll' | translate}}</div>
  </div>
  <div class="add-sub-profile" *ngIf="showEdit">
    <div class="add-32 add-button" (click)="addSubProfile()"></div>
    <div class="add-profile-letter body-t24" (click)="addSubProfile()">{{'add_new_sub_profile' | translate}}</div>
  </div>
  <div class="sub-content-wrap" *ngIf="subProfileData.length > 0">
    <div class="sub-content-body" *ngFor="let sub of subProfileData; let i = index" [ngClass]="isEditting ? 'in-editting' : 'no-editting'" [class.first-sub-editting]="isEditting && i == 0" (mouseenter)="enterProfile(i)" (mouseleave)="leaveProfile(i)">
      <div class="left-information">
        <img class="sub-avatar" src="{{sub.avatar}}" onerror="this.onerror=null;this.src='assets/img/default/ondemand_casts.png'"/>
        <div class="sub-profile-info">
          <div class="sub-profile-name body-t24">{{sub.name}}</div>
          <div id="level-content" class="level-credit-content body-t27">{{'level' | translate}}: {{sub.ratingName}}</div>
        </div>
      </div>
      <div class="right-modify-button body-t26" *ngIf="showEdit && isEnter[i]">
        <div class="basic-button" (click)="showModifyBasicDialog(sub)">{{'basic_information' | translate}}</div>
        <div class="pass-button" (click)="showModifyPasswordDialog(sub)">{{'modify_password' | translate}}</div>
      </div>
      <div class="delete-button delete-32" *ngIf="isEditting" (click)="deleteSubProfile(sub.ID, i)"></div>
    </div>
  </div>
  <app-checkpass class="profile-checkpass" [verifyType]="verifyType" (closeDiv)="closePassword($event)" (confirmDiv)="confirmPass($event)" *ngIf="showPasswordDialog"></app-checkpass>
  <app-close-confirm class="confirm" [confirmInfoKey]="confirmInfoKey" (cancelData)="closeDeleteAll($event)" (confirmData)="confirmDelete($event)" *ngIf="showConfirmDialog"></app-close-confirm>
  <app-basic-info class="basic-dialog" [basicInfo]="sendBasicInfo" (changeSubInfo)="updateSubInfo($event)" (finishBasic)="toSetPassword($event)" (closeBasic)="closeBasicDialog()" *ngIf="showBasicDialog"></app-basic-info>
  <app-password-info class="modify-password" [passwordInfo]="sendPasswordInfo" (closePassWord)="closeModifyPwd()" (addProfileSuccess)="finishAddProfile()" *ngIf="showModifyPassword"></app-password-info>
  <!-- <app-delete-one-confirm class="delete-profile-confirm" [uiString]="deleteUIString" *ngIf="showDeleteConfirm"></app-delete-one-confirm> -->
</div>
