<div *ngIf="data?.VODList?.length !== 0" class="slider">
  <div class="slider-icon icon-left" *ngIf="iconShow && previousPageAvailable" (click)="onClickLeft()"></div>
  <div class="list-panel">
    <div
      class="list"
      [style.transform]="'translate(' + offsetNumber + 'px, 0px)'"
      (swipeleft)="onSwipeRight()"
      (swiperight)="onSwipeLeft()">
      <vod-poster
        *ngFor="let vodList of data.VODList, let i=index"
        class="item"
        [vod]="vodList"
        [ratingShow]="ratingShow"
        (selected)="onClickDetail($event)"
        (mouseenter)="showOverlay($event, i)"
        (mouseleave)="hideOverlay($event, i)"
      ></vod-poster>
    </div>
  </div>

  <div class="slider-icon icon-right" *ngIf="iconShow && nextPageAvailable" (click)="onClickRight()"></div>
</div>

<div class="child-no-data" *ngIf="!data || !(data?.VODList?.length > 0)">
  <waterfall-noData [nodatatype]="nodatatype"></waterfall-noData>
</div>
