@import "/src/assets/css/common-variables.scss";

.slider {
    .slider-icon {
        width: unit(36);
        height: unit(36);
        position: relative;
        cursor: pointer;

        &.icon-left {

            margin-left: unit(-30);
            margin-top: unit(-35);
            top: unit(130);
            background: url('assets/img/ui/slider-arrow-left.svg') center center no-repeat;
            background-position: unit(0);

            &:hover {
                
                background: url('assets/img/ui/slider-arrow-left-act.svg') center center no-repeat;background-position: unit(0);
            }
        }

        &.icon-right {
            right: unit(-40);
            top: unit(137);
            position: absolute;


            background: url('assets/img/ui/slider-arrow-left.svg') center center no-repeat;
            transform: rotate(180deg);
            background-position: unit(8);

            &:hover {
              background: url('assets/img/ui/slider-arrow-left-act.svg')center center no-repeat;
              background-position: unit(8);
            }
        }
    }

    .list-panel {
        width: unit(1286);
        padding: 0px 3px;
        height: unit(319);
        overflow: hidden;

        .list {
            transition: all .2s linear;
            width: unit(8000);
            height: unit(319);
            position: relative;

            vod-poster {
                position: relative;
                display: inline-block;
                width: unit(200);
                height: unit(319);
                margin-right: unit(19);
            }
        }

        // @media screen and (max-width: 1440px) {}
            max-width: unit(915);
            // height: unit(285);
            margin: auto;

            .list {
                height: unit(231);
                vod-poster.item {
                    width: unit(164);
                    height: unit(230);
                    // margin-right: unit(20);
                    margin-left: unit(0);
                }
            }
        

        // @media screen and (max-width: 1120px) {
        //      height: unit(231);
        //      margin: auto;
        //      max-width: unit(940);
        //      overflow: visible;

        //     .list vod-poster.item {
        //         width: unit(140);
        //         height: unit(196);
        //         margin-right: unit(20);
        //         margin-left: unit(0);
        //     }
        // }
        // @media (max-width: 790px) {
        //     margin: auto;
        //     max-width: unit(704);
        //     .list vod-poster.item {
        //         width: unit(104);
        //         height: unit(146);
        //         margin-right: unit(16);
        //         margin-left: unit(0);
        //     }
        // }
    }


}

.child-no-data {
    padding-top: unit(80);
}

//need to investigate this styles
@media screen and (max-width: 1440px) {
    .column .home .icon-left {
        top: unit(142);
        left: unit(0);
    }
    .column .home .icon-right {
        left: -400px;
        top: unit(26);
    }
}
