<div class="my-devices">
  <div class="title title-t13">
    <span>{{'device_name' | translate}}</span>
  </div>
  <div class="divider-line"></div>
  <div class="devices-container">
    <ul>
      <li *ngFor="let device of devices">
        <p class="device-name">{{device.name || '-'}}</p>
        <span class="device-type">{{device.deviceModel | translate}}</span>
        <a class="edit-16" [routerLink]="['/profile','devices', device.ID]"></a>
      </li>
    </ul>

  </div>
</div>
