@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.title{
  margin-bottom: unit(10);
  span{
    height: unit(26);
    font-size: unit(20);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f5f5f5;
  }
}


.devices-container {
  ul{
    padding: 0;
    li {
      width: 100%;
      list-style: none;
      border-bottom: unit(1) $basic-c03 solid;
      padding: unit(12) 0 unit(13) 0;
      position: relative;

      .device-name {
        font-family: Rubik-Light, sans-serif;
        color: $text-C31;
        font-size: unit(20);
        line-height: unit(26);
        margin: 0;
        padding-bottom: unit(7);
      }
      .device-type {
        font-family: Rubik-Light, sans-serif;
        color: $text-C35;
        font-size: unit(16);
        line-height: unit(21);
      }

      .edit-16 {
        position: absolute;
        right: 0;
        top: unit(32);
      }
    }
  }
}
.divider-line {
  width: 942px;
  height: 1px;
  margin-bottom: unit(20);
  background-color: rgba(245, 245, 245, 0.1);
}
