<div class="update-record-wrapper">
  <div class="app-update-record-dialog">
    <div class="title title-t14">
      <div>{{ 'Record_setting' | translate}}</div>
      <div class="record-close" (click) = "close()"></div>
    </div>
    <div class="content body-t29" id="update-record-content">
      <div *ngIf="isSupportSeries && isSupportSingle && showType" class="type">
        <div class="right-type">
          <div class="single-record" [ngClass]="isSingle ? 'focus' : (isSupportSingle ? 'canhover' : 'nohover')" (click) = "changeFocus('single')">
            <div class="select"></div> <div class="message">{{'single_string' | translate}}</div>
          </div>
          <div class="periodic-record" [ngClass]="isSeries ? 'focus' : (isSupportSeries ? 'canhover' : 'nohover')" (click) = "changeFocus('series')">
            <div class="select"></div> <div class="message">{{'series' | translate}}</div>
          </div>
        </div>
        <div class="left-type">{{'recored_type' | translate}}</div>
      </div>
      <div class="storage" *ngIf="(recordingMode == 'CPVR&NPVR' || recordingMode == 'MIXPVR') && npvrDefinition.length > 0 && qualityList.length > 0 && (isSeries || (isSingle && recordStatus === 'WAIT_RECORD' && isNPVR && isCPVR))">
        <div class="right-storage">
          <div (click)="selectStorage('cloud')" [class]="selectCloud ? 'cloud-focus' : 'cloud-storage'">
            <div class="select"></div> <div class="message">{{'recored_cloud' | translate}}</div>
          </div>
          <div (click)="selectStorage('stb')" [class]="!selectCloud ? 'stb-focus' : 'stb-storage'" >
            <div class="select"></div> <div class="message">{{'record_STB' | translate}}</div>
          </div>
        </div>
        <div class="left-storage">{{'record_Storage' | translate}}</div>
      </div>
      <div class="quality-item body-t29" *ngIf="notNPVR && hasQuality && !selectCloud && qualityList.length > 1">
        <span class="item-name">{{'recored_quality' | translate}}</span><input maxlength="30" [(ngModel)]="curQualityObj.quality" readonly="reasonly">
        <div class="quality-drop angledown-24" (click)="choiceQuality()"></div>
        <div class="quality-list" [ngStyle]='{visibility:showQualityList ? "visible" : "hidden"}' (mouseleave)="mouseOutQualityList()">
          <li *ngFor="let qualityObj of qualityList" [textContent]='qualityObj.quality' (click)="selectQuality(qualityObj)" [ngStyle]='{color:(curQualityObj.quality === qualityObj.quality) ? "#f5f5f5" : "#8f8f8f"}'></li>
        </div>
      </div>
    </div>

    <div class="split" *ngIf="hasExtendArrow" [ngClass]="showExtendContent ? 'max-record-dialog' : ''">
      <div class="line"></div>
      <div class="arrow" (click) = "extendedSet()" [ngClass]="showExtendContent ? 'up' : 'down'"></div>
      <div class="extended">{{'recored_extended_setting' | translate}}</div>
    </div>

    <div class="settting body-t29" *ngIf="showExtendContent || !hasExtendArrow">
      <span *ngIf="prePaddingFalse" class="pre-padding">
        <div class="arrow" (click) = "dealArrow('prePaddingArrow')"> <div class="angle" [ngClass]="prePaddingArrow == 'up' ? 'up' : 'down'"> </div> </div>
        <div class="right">
          <div class="time">{{ preTime }} {{ 'record_min' | translate}}</div>
        </div>
        <div class="left">{{'pre_padding' | translate}}</div>
        <ul *ngIf="prePaddingArrow == 'up'">
          <li *ngFor="let arrowPre of arrowPreList; let i = index" (click)= "changePrePadding(arrowPre)">
            <div [ngStyle]='{color:(preTime === arrowPre) ? "#f5f5f5" : "#8f8f8f"}'>{{arrowPre}} {{'record_min' | translate}}</div>
          </li>
        </ul>
      </span>

      <span *ngIf="postPaddingFalse" class="post-padding">
        <div class="arrow" (click) = "dealArrow('postPaddingArrow')"> <div class="angle" [ngClass]="postPaddingArrow == 'up' ? 'up' : 'down'"> </div> </div>
        <div class="right">
          <div class="time">{{ endTime }} {{ 'record_min' | translate}}</div>
        </div>
        <div class="left">{{'post-padding' | translate}}</div>
        <ul *ngIf="postPaddingArrow == 'up'">
          <li *ngFor="let arrowPost of arrowPostList; let i = index" (click)= "changePostPadding(arrowPost)">
            <div [ngStyle]='{color:(endTime === arrowPost) ? "#f5f5f5" : "#8f8f8f"}'>{{arrowPost}} {{'record_min' | translate}}</div>
          </li>
        </ul>
      </span>
    </div>
    <div id="update-button" [ngClass]="isChanged ? 'able-button body-t29' : 'disable-button body-t29'" (click)="updateRecord()">{{'confirm' | translate}}</div>
  </div>
</div>
