@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.update-record-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background: $basic-C08;
}

.app-update-record-dialog {
    width: 460px;
    position: relative;
    background: $basic-c14;
    border-radius: unit(3);
    color: $text-c31;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    .title {
        width: 460px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-bottom: 1px solid $basic-c19;
        div {
            line-height: 60px;
            color: $text-c35;
        }
        .record-close {
            background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
            width: 20px;
            height: 20px;
            position: relative;
            top: unit(-43);
            left: unit(405);
            cursor: pointer;
        }
    }
    .content{
      padding-top: 30px;
      padding-bottom: 30px;
      .type {
          padding-left: 40px;
          padding-right: 40px;
          position: relative;
          height: unit(37);
          .left-type{
            float: right;
            height: unit(37);
            line-height: unit(37);
            padding-right: 10px;
            position: relative;
            color: $text-c35;
          }
          .right-type{
            float: right;
            .single-record{
                display: inline-block;
                border: 1px solid $basic-c25;
                width: 120px;
                height: unit(35);
                text-align: center;
                line-height: unit(35);
                margin-right: unit(14);
                .select{
                  @extend .recording_single-24;
                  display: inline-block;
                  top: unit(6);
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: unit(4);
                  position: relative;
                }
            }
            .periodic-record{
                display: inline-block;
                border: 1px solid $basic-c25;
                width: 120px;
                height: unit(35);
                text-align: center;
                line-height: unit(35);
                .select{
                  @extend .periodic-24;
                  display: inline-block;
                  top: unit(6);
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: unit(4);
                  position: relative;
                }
            }
            .canhover{
                &:hover{
                  border: 1px solid $basic-c27;
                }
                &:active{
                  border: 1px solid $basic-c27;
                }
                cursor: pointer;
            }
            .nohover{
                background: $basic-c19;
                color: $text-c34;
                border: 1px solid $basic-c25;
            }
            .focus{
                border: 1px solid $basic-c27;
                cursor: pointer;
            }
          }
      }

      .storage {
          padding-left: 40px;
          padding-right: 40px;
          display: block;
          position: relative;
          height: unit(37);
          padding-top: 30px;
          .left-storage{
            float: right;
            height: unit(37);
            line-height: unit(37);
            padding-right: 10px;
            position: relative;
            color: $text-c35;
          }
          .right-storage{
            float: right;
            .cloud-storage{
                display: inline-block;
                border: 1px solid $basic-c25;
                width: 120px;
                height: unit(35);
                text-align: center;
                line-height: unit(35);
                margin-right: unit(14);
                cursor: pointer;
                .select{
                  @extend .cloud-24;
                  display: inline-block;
                  top: unit(6);
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: unit(4);
                  position: relative;
                }
                &:hover{
                  border: 1px solid $basic-c27;
                }
                &:active{
                  border: 1px solid $basic-c27;
                }
            }
            .cloud-focus{
                display: inline-block;
                border: 1px solid $basic-c27;
                width: 120px;
                height: unit(35);
                text-align: center;
                line-height: unit(35);
                margin-right: unit(14);
                cursor: pointer;
                .select{
                  @extend .cloud-24;
                  display: inline-block;
                  top: unit(6);
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: unit(4);
                  position: relative;
                }
                &:hover{
                  border: 1px solid $basic-c27;
                }
                &:active{
                  border: 1px solid $basic-c27;
                }
            }
            .stb-storage{
                display: inline-block;
                border: 1px solid $basic-c25;
                width: 120px;
                height: unit(35);
                text-align: center;
                line-height: unit(35);
                cursor: pointer;
                .select{
                  @extend .recording_STB-24;
                  display: inline-block;
                  top: unit(6);
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: unit(4);
                  position: relative;
                }
                &:hover{
                  border: 1px solid $basic-c27;
                }
                &:active{
                  border: 1px solid $basic-c27;
                }
            }
            .stb-focus{
                display: inline-block;
                border: 1px solid $basic-c27;
                width: 120px;
                height: unit(35);
                text-align: center;
                line-height: unit(35);
                cursor: pointer;
                .select{
                  @extend .recording_STB-24;
                  display: inline-block;
                  top: unit(6);
                  position: relative;
                }
                .message{
                  display: inline-block;
                  margin-left: unit(4);
                  position: relative;
                }
                &:hover{
                  border: 1px solid $basic-c27;
                }
                &:active{
                  border: 1px solid $basic-c27;
                }
            }
          }
      }

      .quality-item {
            margin-left: unit(22);
            margin-top: 30px;
            height: unit(37);
            width: unit(466);
            position: relative;
            line-height: unit(37);
            .item-name {
                text-align: right;
                margin-right: 10px;
                color: $text-c35;
                width: unit(126);
                position: relative;
                line-height: unit(37);
                float: left;
            }
            .quality-drop {
                width: unit(37);
                height: unit(37);
                background-color: $basic-c17;
                right: unit(68);
                position: absolute;
                cursor: pointer;
            }
            .quality-list {
                position: absolute;
                margin-left: unit(136);
                background: $basic-c19;
                margin-top: unit(38);
                -webkit-user-select: none;
                cursor: pointer;
                z-index: 2;
                li {
                    text-align: center;
                    list-style: none;
                    height: unit(37);
                    line-height: unit(37);
                    color: $text-c35;
                    width: unit(262);
                    &:hover {
                        background: $basic-c03;
                        color: $text-c31;
                    }
                }
            }
        }
        input {
          width: unit(262);
          height: unit(35);
          background: $basic-c03;
          border: none;
          outline: none;
          text-align: center;
          color: $text-c31;
          float: left;
        }
    }

    .split{
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 70px;
        .line{
          border-bottom: 1px solid $basic-c03;
          margin-left: unit(48);
          width: unit(224);
        }
        .extended{
          position: relative;
          top: -10px;
          width: unit(76);
          float: right;
          color: $text-c35;
        }
        .down{
          position: relative;
          top: unit(-13);
          float: right;
          @extend .angledown-24;
          cursor: pointer;
        }
        .up {
          position: relative;
          top: unit(-13);
          float: right;
          @extend .angleup-24;
          cursor: pointer;
        }
    }
    .max-record-dialog{
        padding-bottom: 30px;
    }

    .settting{
      padding-bottom: unit(32);
      span{
          padding-left: 40px;
          padding-right: 40px;
          display: block;
          position: relative;
          height: unit(37);
          padding-bottom: 30px;
          .arrow{
            width: unit(37);
            height: unit(37);
            position: absolute;
            right: 40px;
            background: $basic-c17;
            cursor: pointer;
            .down {
              left: unit(6);
              position: relative;
              top: unit(6);
              @extend .angledown-24;
            }
            .up {
              left: unit(6);
              position: relative;
              top: unit(6);
              @extend .angleup-24;
            }
          }
          .left{
            float: right;
            height: unit(37);
            line-height: unit(37);
            padding-right: 10px;
            position: relative;
            color: $text-c35;
          }
          .right{
            float: right;
            width: unit(262);
            height: unit(37);
            background: $basic-c03;
            text-align: center;
            line-height: unit(37);
            color: $text-c31;
          }
      }
      .delete-mode {
         padding-bottom: 60px;
      }
      ul{
        list-style: none;
        position: absolute;
        float: left;
        outline: none;
        padding: 0px;
        margin: 0px;
        height: unit(222);
        width: unit(262);
        right: 40px;
        top: unit(38);
        background: $basic-c19;
        z-index: 3;
        cursor: pointer;
        li{
          height: unit(37);
          line-height: unit(37);
          text-align: center;
          &:hover{
            background: $basic-c03;
          }
        }
      }
    }

    #update-button {
        border-radius: unit(2);
        z-index: 1;
        width: 120px;
        height: 40px;
        text-align: center;
        margin: auto;
        position: relative;
        line-height: 40px;
        bottom: 30px;
    }
}

.able-button {
    color: $text-c31;
    background: $basic-c04;
    cursor: pointer;
    border: unit(1) $basic-c04 solid;
    &:hover {
        background: $basic-c05;
        border: unit(1) $basic-c05 solid;
    }
}

.disable-button {
    color: $text-c35;
    background: $basic-c23;
    cursor: default;
    border: unit(1) $basic-c23 solid;
}
