<div class="password-wrapper">
	<div class="password-container">
		<div class="title">
			<span class="titile-message title-t14">{{titleName | translate}}</span>
			<span class="titile-close" (click)="close()"></span>
		</div>
    <div class="tips-body">
      <div class="first-tip body-t29" *ngIf="type == 'modify'">{{'sub_profile_password_tips'| translate}}</div>
      <div class="detail-tip body-t32" *ngIf="!lastStep">{{passwordInputTips}}</div>
      <div class="detail-tip body-t32" *ngIf="lastStep">{{'divice_tips_rule2' | translate: loginIDTips}}</div>
    </div>
    <div class="password-content body-t32">
      <div class="password-item" *ngIf="type == 'modify' && !lastStep">
        <span class="title-name">{{'admin_password' | translate}}:</span>
        <input id="old-pwd" tabindex="1" [(ngModel)]="oldPwd" type="password" maxlength="128" (focus)="oldFocus($event)" (blur)="oldBlur($event)" (keyup)="oldKeyup($event)" onpaste="return false;">
        <span class="delete" [ngStyle]='{"display":showOldDelete ? "inline-block" : "none"}' (click)="oldPwdDelete()"></span>
        <span class="wrong" [ngStyle]='{"display":showOldIcon && !isOldPwdRight ? "inline-block" : "none"}'></span>
				<span class="errorMsg" [ngStyle]='{"display":showOldIcon && !isOldPwdRight ? "inline-block" : "none"}'>{{oldPwdErrorMsg | translate}}</span>
      </div>
      <div class="password-item" *ngIf="!lastStep">
        <span class="title-name">{{newPasswordTitle | translate}}:</span>
        <input id="new-pwd" tabindex="2" [(ngModel)]="newPwd" type="password" maxlength="128" (focus)="newFocus($event)" (blur)="newBlur($event)" (keyup)="newKeyup($event)" onpaste="return false;">
        <span class="delete" [ngStyle]='{"display":showNewDelete ? "inline-block" : "none"}' (click)="newPwdDelete()"></span>
        <span [class]="isNewPwdRight ? 'right' : 'wrong'" [ngStyle]='{"display":isOldPwdRight && showNewIcon ? "inline-block" : "none"}'></span>
				<span class="errorMsg" [ngStyle]='{"display":isOldPwdRight && showNewIcon && !isNewPwdRight ? "inline-block" : "none"}'>{{newPwdErrorMsg | translate}}</span>
      </div>
      <div class="password-item" *ngIf="!lastStep">
        <span class="title-name">{{'confirm_password' | translate}}:</span>
        <input id="confirm-pwd" tabindex="3" [(ngModel)]="confirmPwd" type="password" maxlength="128" (focus)="confirmFocus($event)" (blur)="confirmBlur($event)" (keyup)="confirmKeyup($event)" onpaste="return false;">
        <span class="delete" [ngStyle]='{"display":showConfirmDelete ? "inline-block" : "none"}' (click)="confirmPwdDelete()"></span>
        <span [class]="isConfirmPwdRight ? 'right' : 'wrong'" [ngStyle]='{"display":isOldPwdRight && isNewPwdRight && showConfirmIcon ? "inline-block" : "none"}'></span>
				<span class="errorMsg" [ngStyle]='{"display":isOldPwdRight && isNewPwdRight && showConfirmIcon && !isConfirmPwdRight ? "inline-block" : "none"}'>{{confirmPwdErrorMsg | translate}}</span>
      </div>
      <div class="loginID-item" *ngIf="lastStep">
        <span class="title-name">{{'login_id' | translate}}:</span>
        <input id="loginID-input" [(ngModel)]="loginID" maxlength="48" (focus)="idFocus($event)" (blur)="idBlur($event)" (keyup)="idKeyup($event)">
        <span class="delete" [ngStyle]='{"display":showIDDelete ? "inline-block" : "none"}' (click)="deleteID()"></span>
				<div class="errorMsg" *ngIf="showIDError && idCommonError">{{idErrorType | translate}}</div>
        <div class="errorMsg" *ngIf="showIDError && invalidID">{{'special_characters_tip' | translate: blacklistTip}}</div>
      </div>
    </div>
    <div class="bottom-button body-t29">
      <span id="confirm-button" [class]="changed ? 'save-able' : 'save-disable'" (click)="saveOperation()">{{btnName | translate}}</span>
    </div>
	</div>
</div>
