@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.password-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background: $basic-C08;
}
.password-container{
    text-align: center;
    width: unit(950);
    height: auto;
    background: $basic-c14;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .title {
        border-bottom: unit(1) solid $basic-c19;
        height: unit(59);
        line-height: unit(59);
        .titile-message {
            color: $text-c35;
        }
        .titile-close {
            background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
            width: unit(20);
            height: unit(20);
            position: absolute;
            cursor: pointer;
            top: unit(20);
            right: unit(30);
            cursor: pointer;
        }
    }
    .tips-body {
        margin-top: unit(60);
        .first-tip {
			color: $text-c31;
			margin-left: unit(325);
            line-height: unit(24);
            text-align: left;
            margin-bottom: unit(30);
        }
        .detail-tip {
			margin-left: unit(325);
			margin-bottom: unit(60);
			text-align: left;
			width: unit(380);
    		color: $text-c35;
		}
    }
    .password-content {
        .password-item, .loginID-item {
            position: relative;
            margin-bottom: unit(40);
            height: unit(36);
            .title-name {
                width: unit(162);
                height: unit(36);
                line-height: unit(36);
                color: $text-c35;
                position: absolute;
                right: unit(642);
                text-align: right;
            }
            input {
                padding-left: unit(40);
                padding-right: unit(40);
                width: unit(300);
                height: unit(36);
                background-color: $basic-c03;
                border: none;
                outline: none;
                text-align: center;
                color: $text-c31;
                right: unit(246);
                position: absolute;
            }
            .delete {
                @extend .close-16;
                position: absolute;
                position: absolute;
                margin-left: unit(199);
                margin-top: unit(10);
                cursor: pointer;
            }
            .right {
                @extend .pwdright-20;
                position: absolute;
                right: unit(211);
                top: unit(8);
            }
            .wrong {
                @extend .pwdwrong-20;
                position: absolute;
                right: unit(211);
                top: unit(8);
            }
            .errorMsg {
                color: $text-c33;
                width: unit(380);
                position: absolute;
                left: unit(324);
                top: unit(42);
                text-align: left;
            }
        }
    }
    .bottom-button {
        padding-top: unit(20);
        padding-bottom: unit(68);
        #confirm-button {
            width: unit(172);
            height: unit(36);
            line-height: unit(36);
            margin-left: unit(428);
            border-radius: unit(2);
            display: block;
        }
        .save-able {
            background: $basic-c04;
            color: $text-c31;
            cursor: pointer;
            &:hover {
                background: $basic-c05;
            }
        }
        .save-disable {
            background-color: $basic-c23;
            color: $text-c35;
            cursor: default;
        }
    }
}
