<div class="category-home">
  <div class="hasRootCategory" *ngIf="hasRootCategory">
    <div class="category-list-panel" >
      <div class="title title-t18">Быстрые подборки</div>
      <div class="category-list" id="category-list" >
        <div *ngFor="let category of categoryLists" class="item tile" (click)="vodDetail(category.categoryId)">
          <span class="item-title recmvod-vod-name body-t14 font-regular">{{category.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="noRecmvod" *ngIf="!hasRootCategory&&hasRootCategoryData">
    <waterfall-noData [nodatatype]="'ondemand'"></waterfall-noData>
  </div>
</div>
