@import "/src/assets/css/common-variables.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
}

.noRecmvod {
  position: relative;
}

.category-home {
  // width: 1500px;
  position: relative;
  margin: auto;
  padding-top: unit(22);
  padding-bottom:  unit(22);
  background: linear-gradient(180deg, rgba(92, 127, 227, 0) -168.87%, rgba(92, 127, 227, 0.1) 60.61%, rgba(211, 228, 251, 0) 172.16%), linear-gradient(90deg, rgba(0, 20, 36, 0.1) 0%, rgba(193, 210, 233, 0.05) 50.22%, rgba(0, 20, 36, 0.1) 100%), rgba(137, 24, 18, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.category-list-panel {

  width: unit(900);
  margin: unit(0) auto;
  position: relative;
  overflow: hidden;

  .title {
    color: $prm-100;
    margin-left: unit(8);
    font-weight: normal;
    margin-bottom: unit(18);
  }
  .category-list {
    min-height: 75px;
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    // top: -9px;
    // display: flex;
    margin: 0 8px 8px;

    border: 1px solid $prm-700;
    // box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    // text-overflow: ellipsis;
    // overflow: hidden;
    padding: 3px 10px;
    align-items: center;


    &:hover {
      // background: linear-gradient(to right, $basic-c31, $basic-c32);
      border: 1px solid $scd-800;
      .item-title {
        color: $scd-800; 
      }
    }

    &-title {
      color: $prm-50;
      white-space: nowrap;
      width: 100%;
      // margin: 0px 5px
    }
  }
}

// @media screen and (min-width: 1120px) {
//   .vod-home-content {
//     width: 1024px;
//   }
//   .category-home {
//     .category-list-panel {
//       .category-list {
//         justify-content: center;
//         .item {
//           width: 200px;
//           height: 60px;
//         }
//         .item-title {
//           white-space: nowrap;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//         }
//       }
//     }
//   }
// }

// @media screen and (min-width: 790px) and (max-width: 1120px) {
//   .vod-home-content {
//     width: 768px;
//   }
//   .category-home {
//     width: 704px;
//     .category-list-panel {
//       .category-list {
//         justify-content: center;
//       }
//       .item {
//         width: 25%;
//       }
//       .item-title {
//         white-space: nowrap;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//     }
//   }
//   .slider-icon {
//     display: none;
//   }

// }

// @media screen and (max-width: 790px) {
//   .category-home {
//     width: 100%;
//   }
//   .category-list {
//     height: auto !important;
//   }
//   .category-list-panel {
//     height: auto;
//     .item {
//       height: 44px;
//       flex: 1 0 calc(100% / 3 - 16px);
//       margin-bottom: 8px;
//     }
//     .slider-icon {
//       display: none;
//     }
//   }
// }

// @media screen and (max-width: 550px) {
//   .vod-home-content {
//     width: auto;
//   }

//   .category-list-panel {
//     height: auto;
//     justify-content: left;
//     .item {
//       background-color: rgba(143, 143, 143, 0.1);
//       top: 0;
//       width: calc(50% - 16px);
//       height: 44px;
//       margin: 5px;
//       border-radius: 4px;
//       padding: 0;

//       span {
//         line-height: normal;
//         font-size: 16px;
//       }
//     }
//   }

//   .category-home {
//     width: auto;
//     .slider-icon {
//       display: none;
//     }
//   }
// }

// @media screen and (max-width: 450px) {

//   .category-list-panel {
//     height: auto;
//     .item {
//       background-color: rgba(143, 143, 143, 0.1);
//       top: 0;
//       display: inline-flex;
//       height: 44px;
//       margin: 5px;
//       border-radius: 4px;
//       cursor: pointer;
//       text-align: center;
//       padding: 0;
//       align-items: center;
//       justify-content: center;

//       span {
//         line-height: normal;
//         font-size: 16px;
//       }
//     }
//   }

// }

// @media screen and (max-width: 375px) {

//   .category-list-panel {
//     height: auto;
//     justify-content: left;
//     .item {
//       background-color: rgba(143, 143, 143, 0.1);
//       top: 0;
//       display: inline-flex;
//       height: 44px;
//       margin: 5px;
//       cursor: pointer;
//       padding: 0;

//       span {
//         line-height: normal;
//         font-size: 16px;
//       }
//     }
//   }

// }
