<div class="deviceList-container-wrapper" id="deviceList-container">
  <div class="app-device-list">
  <div class="title body-t26">
    <span class="font-movie-title">{{'replace_device' | translate}}</span>
    <div class="login-close" (click) = "close()"></div>
  </div>
  <div class="tips body-t29">
    <div>{{'device_limit_tips'|translate}}</div>
    <div>{{'device_limit_suggestion'|translate}}</div>
  </div>
  <div class="deviceList body-t32" id="deviceList" [ngStyle]='{"height":height}'>
    <ul id="deviceUl">
      <li *ngFor = 'let device of deviceList' >
        <span class="name">{{device.name}}</span>
        <div class="select" (click) = "onSelect(device)"  [class]="device.isSelect?'selected':'select'"></div>
        <span class="state">{{device.onlineState}}</span>
      </li>
    </ul>
    <div class="deviceScrollList">
      <div class="deviceScroll" id="deviceScroll">
        <span></span>
      </div>
    </div>
  </div>
  <div class="btn">
    <button class="cancel body-t26" (click) = "close()">{{'cancel'|translate}}</button>
    <button class="conform body-t26" (click) = "replaceDevice()">{{'confirm'|translate}}</button>
  </div>
  </div>
</div>
