@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.deviceList-container-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background: $basic-C08;
}
.app-device-list {
  background: $basic-c14;
  width: unit(460);
	margin: auto;
	position: relative;
  .title {
    width: unit(460);
    height: unit(60);
    line-height: unit(60);
    text-align: center;
    border-bottom: unit(1) solid $basic-c19;
    color: $text-c35;
    .login-close {
      @extend .login_popup_close_20x20;
      position: absolute;
      top: unit(18);
      right: unit(35);
      cursor: pointer;
    }
  }
  .tips {
    color: $text-c31;
    line-height: unit(24);
    text-align: center;
    margin: unit(17) unit(0) unit(-4) unit(0);
  }
  .deviceList {
    color: $text-c31;
    width: unit(316);
    margin: auto;
    height: unit(180);
    overflow: hidden;
    top: unit(20);
    position: relative;
    ul {
      margin: unit(0);
      padding: unit(0);
      position: relative;
    }
    li {
      width: unit(300);
      height: unit(42);
      list-style: none;
      line-height: unit(42);
      background: $basic-c03;
      margin: unit(20) unit(0);
      .name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        width: unit(200);
        text-indent: unit(10);
      }
      .state {
        color: $text-c35;
        padding-right: unit(10);
        float: right;
      }
      div {
        width: unit(41);
        height: unit(42);
        cursor: pointer;
        float: right;
        background: $basic-c17;
      }
      .selected {
        @extend .remove2-16;
        width: unit(41);
        height: unit(42);
        background-color: $basic-c17;
      }
      .select {
        @extend .remove-16;
        width: unit(41);
        height: unit(42);
        background-color: $basic-c17;
      }
    }
    li:first-child {
      margin-top: unit(0);
    }
    .deviceScrollList {
      position: absolute;
      top: unit(-73);
      right: unit(-8);
      .deviceScroll {
        height: unit(180);
        width: unit(0);
        right: unit(0);
        top: unit(73);
        bottom: unit(8);
        cursor: pointer;
        position: absolute;
        span {
          height: unit(0);
          width: unit(6);
          top: unit(0);
          left: unit(-16);
          bottom: unit(0);
          cursor: pointer;
          position: absolute;
          background: $basic-c03;
          border-radius: unit(24);
        }
      }
    }
  }
  .moredown,
  .moreup {
    position: absolute;
    left: unit(218);
    margin-top: unit(-9);
    cursor: pointer;
  }
  .moredown {
    @extend .moredown-24;
  }
  .moreup {
    @extend .moreup-24;
  }
  .btn {
    text-align: center;
    margin-top: unit(26);
    padding-bottom: unit(36);
    button {
      width: unit(140);
      height: unit(40);
      outline: none;
      border: none;
      color: $text-c31;
      border-radius: $rounded-rc1;
      cursor: pointer;
    }
    .cancel {
      background: none;
      border: unit(1) solid $basic-c02;
      margin-right: unit(16);
      &:hover {
        background: $basic-c03;
      }
    }
    .conform {
      background: $basic-c04;
      &:hover {
        background: $basic-c05;
      }
    }
  }
}
