@import "/src/assets/css/common-variables.scss";

* {
  margin: unit(0);
  padding: unit(0);
  border: none;
}

.stillsEnlarge-home {
  width: unit(1280);
  margin: auto;
  @media screen and (max-width: unit(1440)) {
    width: unit(980);
  }
}

.titles {
  height: unit(45);
  width: unit(1280);
  margin: auto;
  cursor: default;
  @media screen and (max-width: unit(1440)) {
    width: unit(980);
  }
  crumbs-app {
    position: relative;
    display: block;
    top: unit(-107);
    width: unit(400);
  }
}

.stillsEnlarge-leftIcon {
  position: absolute;
  float: left;
  margin-left: unit(-56);
  top: unit(368);
  cursor: pointer;
  @extend .angleleft2-36;
  background-position: unit(0);
  @media screen and (max-width: unit(1440)) {
    top: unit(256);
  }
}

.stillsEnlarge-leftIcon:hover {
  @extend .angleleft-36;
  background-position: unit(0);
}

.stillsEnlarge-rightIcon {
  position: relative;
  float: left;
  margin-left: unit(1400);
  top: unit(-408);
  cursor: pointer;
  @extend .angleright2-36;
  background-position: unit(0);
  @media screen and (max-width: unit(1440)) {
    margin-left: unit(1000);
    top: unit(-296);
  }
}

.stillsEnlarge-rightIcon:hover {
  @extend .angleright-36;
  background-position: unit(0);
}

.stillsEnlarge-list-panel {
  height: unit(776);
  position: relative;
  @media screen and (max-width: unit(1440)) {
    height: unit(551);
  }
}

.stillsEnlarge-list {
  width: unit(1280);
  height: unit(776);
  margin: auto;
  overflow: hidden;
  @media screen and (max-width: unit(1440)) {
    width: unit(980);
    height: unit(551);
  }
  img {
    width: unit(1280);
    @media screen and (max-width: unit(1440)) {
      width: unit(980);
    }
  }
}

.stillsEnlarge-index {
  position: relative;
  display: inline-block;
  color: $text-c35;
  top: unit(-20);
  width: 100%;
  text-align: center;
}

.stillsEnlarge-titles {
  height: unit(45);
  width: unit(1280);
  margin: auto;
  cursor: default;
  @media screen and (max-width: unit(1440)) {
    width: unit(980);
  }
  .stillsEnlarge-moreTitle {
    height: unit(14);
    position: relative;
    float: left;
    padding-top: unit(15);
    crumbs-app {
      position: relative;
      display: block;
      top: unit(-107);
      width: unit(400);
    }
  }
}

.stillsEnlarge-title {
  line-height: unit(20);
  top: unit(15);
  position: relative;
  float: right;
  cursor: pointer;
  color: $text-c31;
  .stillsEnlarge-icon {
    @extend .stillsall-12;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: unit(10);
  }
}
