<div class="stillsEnlarge-home"  [ngStyle]="{display: (stillsFlag == 'false')&&showTitle ? 'block' : 'none'}">
  <div class="stillsEnlarge-titles">
    <div class="stillsEnlarge-moreTitle body-t32">
      <crumbs-app [setCrumbsRoutes] = "stillsCrumbsRoutes" ></crumbs-app>
    </div>
    <div class="stillsEnlarge-title body-t32" (click)="changeFlag()" ><span class="stillsEnlarge-icon"></span>{{'more_stills_see_all' | translate}}
    	</div>
    </div>
  <div class="stillsEnlarge-list-panel">
    <div class="stillsEnlarge-leftIcon" [ngStyle]="{visibility: (stillsLength == 1) ? 'hidden' : 'visible'}" (click)="onClickLeft()"></div>
    <div class="stillsEnlarge-list" (mousemove)="getStyle($event)" (click)="changePic()">
      <img src="{{stillsItem}}" onerror="this.onerror=null;this.src='assets/img/default/ondemand_stills_big.png'" />
    </div>
    <div class="stillsEnlarge-rightIcon" [ngStyle]="{visibility: (stillsLength == 1) ? 'hidden' : 'visible'}" (click)="onClickRight()"></div>
  </div>
  <span class="stillsEnlarge-index body-t26" >{{curStillsIndex}} &nbsp;/ &nbsp;{{stillsLength}}</span>
</div>
<div class="stillsMore-home"  [ngStyle]="{display: (stillsFlag == 'true')&&showTitle ? 'block' : 'none'}" >
  <div class="titles">
    <crumbs-app [setCrumbsRoutes] = "stillsCrumbsRoutes" ></crumbs-app>
  </div>
  <vod-still class="vodStills" [data]="stillsLists" (child)="stillMoreEnlarge($event)" *ngIf="stillsLists"></vod-still>
</div>
