<div class='likevodHome'>
  <div class="likevod-line"></div>
  <div class='likevod-title title-t13'>{{likeTitle}}</div>
    <waterfall-vod class="waterfall" [data]="moreVodList"  *ngIf="moreVodList" (child)="vodDetail($event)"></waterfall-vod>

  <div class="noRecmList" *ngIf="!hasRecmList">
        <waterfall-noData [nodatatype]="'ondemand'"></waterfall-noData>
    </div>
</div>
