@import "/src/assets/css/common-variables.scss";

.app-pass-input-dialog {
  text-align: center;
  width: unit(460);
  height: unit(331);
  background: $basic-c14;
  margin: auto;
  position: relative;
  .title {
    border-bottom: unit(1) solid $basic-c19;
    height: unit(60);
    line-height: unit(60);
    .titile-message {
      color: $text-c35;
    }
    .titile-close {
      background: url(assets/img/32/delete_32.png) no-repeat;
      width: unit(32);
      height: unit(32);
      position: relative;
      display: block;
      float: right;
      margin-right: unit(35);
      margin-top: unit(-46);
      cursor: pointer;
    }
  }
  .content {
    max-width: unit(354);
    margin: auto;
    input {
      color: $text-c34;
      width: unit(260);
      height: unit(22);
      padding-top: unit(9);
      padding-bottom: unit(9);
      border-left: 0;
      padding-left: unit(10);
      padding-right: unit(30);
      border-right: 0;
      border-top: 0;
      border-bottom: 0;
      background-color: $basic-c19;
      top: unit(10);
      margin-top: unit(35);
      left: unit(12);
      border-radius: unit(2);
      outline: none;
    }
     .placeholderTvguideBg{
          color: $text-c34;
          position: absolute;
          margin-left: unit(40);
          margin-top: unit(-39);
          cursor: text;
       }
    #pass-Words {
      color: $text-c31;
      margin-top: unit(20);
      margin-bottom: unit(10);
    }
    .error_message_all{
        width: unit(354);
        text-align: left;
        padding-left: unit(29);
        .error_message {
          color: $text-c33;
          margin-top: unit(-15);
        }
    }
    .emptyPassword_message_all{
        width: unit(354);
        text-align: left;
        padding-left: unit(29);
       .emptyPassword_message {
          color: $text-c33;
          margin-top: unit(-19);
        }
    }
    .forget_me{
      width: unit(327);
      text-align: right;
      margin-right: unit(0);
      margin-top: unit(3);
      a{
        height: unit(24);
        line-height: unit(24);
        color: $text-c36;
      }
    }
    .delete-Pass-Word {
      @extend .close-16;
      height: unit(16);
      width: unit(16);
      position: relative;
      left: unit(300);
      top: unit(-38);
      cursor: pointer;
    }
    .contentInfo {
      display: block;
      color: $text-c31;
      line-height: unit(24);
      padding-top: unit(20);
      max-width: unit(345);
      margin: auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .buttomConfirm {
      margin-top: unit(13);
      padding-bottom: unit(35);
      #confirmPass {
        width: unit(140);
        height: unit(40);
        line-height: unit(40);
        margin-left: unit(107);
        border-radius: unit(2);
        display: block;
      }
      .confirm-able {
          background: $basic-c04;
          color: $text-c31;
          cursor: pointer;
          &:hover {
              background: $basic-c05;
          }
      }
      .confirm-disable {
          background-color: $basic-c23;
          color: $text-c35;
          cursor: default;
      }
    }
  }
}
