<div class="app-pass-input-dialog">

  <div class="title">
    <div class="titile-message body-t26">{{'enterPass' | translate}}</div>
    <span class="titile-close" (click)="close()"></span>
  </div>

  <div class="content">
    <div class="contentInfo body-t29">{{contentInfo}}</div>
    <input class="body-t32" id="pass-Words" [(ngModel)]="userPassword" (keyup)="changePassword($event)" name="userPassword" (focus)="showPassword()"
      (blur)="hidePassword()" maxlength="128" autocomplete="off" onfocus="this.type='password'" (keydown)="keydownPassword()" />
    <div class="placeholderTvguideBg body-t32" id="placeholderTvguide_Bg" [ngStyle]="{display: (showplaceholderTvguide) ? 'block' : 'none'}" (click)="onplaceholdTvguide()"> {{'password' | translate}} </div>
    <div class="delete-Pass-Word" [ngStyle]="{visibility: (deletePassWord) ? 'visible' : 'hidden'}" (click)="removePassWord()"></div>
    <div class="error_message_all">
      <div class="error_message body-t32" [ngStyle]="{visibility: (errorMessage) ? 'visible' : 'hidden'}">
        {{'password_not_correct_try_again' | translate}}
      </div>
    </div>
    <div class="emptyPassword_message_all">
      <div class="emptyPassword_message body-t32" [ngStyle]="{visibility: (emptyPasswordMessage) ? 'visible' : 'hidden'}">
        {{'pwd_empty' | translate}}
      </div>
    </div>
    <div class="forget_me body-t32" [ngStyle]="{display: forgetpassword ? 'block' : 'none'}">
      <a [href]="forgot_password_url" target="_blank">{{'forget_password'| translate}}</a>
    </div>
    <div class="buttomConfirm">
      <div [class]="(btnStyleChange()) ? 'confirm-able body-t26' : 'confirm-disable body-t26'" id="confirmPass" (click)="confirm()">{{'confirm' | translate}}</div>
    </div>
  </div>
</div>
