<div class="crumbs-content">
    <div *ngFor="let route of routes; let dataIndex = index" class="crumbs-frame">
        <div class="title title-t18" [style.cursor]="crumbsCursor(dataIndex)" (click)="nativageCrumbs(route, dataIndex)">{{route.title | translate}} </div>
        <div class="titleArrow" *ngIf=" route.title !== '' " >&nbsp;>&nbsp;</div>
    </div>
</div>