@import "/src/assets/css/common-variables.scss";

.crumbs-content {
    padding-top: 25px;
    padding-bottom: 15px;
    cursor: default;
    position: absolute;
    top: 80px;
    .crumbs-frame {
        float: left;
        position: relative;
        .title {
            color: $text-c35;
            height: 19px;
            line-height: 19px;
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 300px;
            margin-top: 2px;
        }
        .titleArrow {
            color: $text-c35;
            height: 19px;
            line-height: 19px;
            font-size: 14px;
            position: relative;
            width: 16px;
            float: left;
            top: 2px;
        }
    }
    .crumbs-frame:last-child {
        .title {
            color: $text-c31;
            max-width: 550px;
            position: absolute;
            cursor: default;
        }
        .titleArrow{
            display: none;
        }
    }
}
