@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.app-content-movie {
  display: block;
  // background-color: rgba(0,0,0,0.9);
}

.app-player-container {
  padding-bottom: 35px;
}

.movie-meta-container {
	// background-color: #1a1a1a;
}

.content-container {
	margin-top: 0;
	padding-top: 35px;
}

.content-title {
  color: #d8d8d8;
  font-size: unit(24);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-header {
	margin-top: 0;
}

@media screen and (max-width: 1120px){
  .movie-meta-container {
    padding: 0 40px;
  }

  .content-container {
    width: auto;
    padding-top: 15px;

    .player-content {
      height: auto;
    }
  }

  .content-title {
    font-size: 16px;
    font-weight: 600;
  }

}
