<div *ngIf="isLoaded; else loading" class="app-content-movie">
  <div  class="content-container app-player-container">
    <div class="playerTitle">
      <span class="contentTitle title-t18">
        {{data.name}}
      </span>
    </div>
    <app-content-player
      class="player-content"
      id="player_content"
      [(enabled)]="playerEnabled"
      [data]="data"
      [picture]="picsrc">
    </app-content-player>
  </div>
  <div class="movie-meta-container">
    <div class="content-container">
      <content-meta [data]="data"></content-meta>
      <content-title [data]="data"></content-title>
      <content-score-info [data]="data"></content-score-info>
      <content-genres [seasonGenres]="movieGenres"></content-genres>

      <div class="content-title">{{ 'description' | translate }}</div>

      <content-introduce [noDivider]="!movieHaveTrailer" [introduce]="data.introduce">
        <content-cast [castRoles]="data.castRoles"></content-cast>
      </content-introduce>

      <!--<content-trailer *ngIf="episodeHaveTrailer" [setEpisode]="data"></content-trailer>-->

      <content-preview-list *ngIf="movieHaveTrailer" titleKey="trailers" itemKey="trailer" short="true" [items]="movieTrailers" [currentPosition]="trailerNumber" (onSelect)="setTrailer($event)">
        <div class="load-container" *ngIf="!trailersLoaded">
          <div class="spinner"></div>
        </div>
      </content-preview-list>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="load-container">
    <div class="spinner"></div>
  </div>
</ng-template>
