@import "/src/assets/css/common-variables.scss";

.app-device-replace {
  background: $basic-c14;
  width: unit(460);
	margin: auto;
	position: relative;
  height: unit(288);
  .title {
    width: unit(460);
    height: unit(60);
    line-height: unit(60);
    text-align: center;
    border-bottom: unit(1) solid $basic-c19;
    color: $text-c35;
    .login-close {
      @extend .login_popup_close_20x20;
      position: absolute;
      top: unit(18);
      right: unit(35);
      cursor: pointer;
    }
  }
  .tips {
    color: $text-c31;
    line-height: unit(152);
    text-align: center;
    height: unit(152);
  }
  .btn {
    text-align: center;
    button {
      width: unit(140);
      height: unit(40);
      outline: none;
      border: none;
      color: $text-c31;
      border-radius: $rounded-rc1;
      cursor: pointer;
    }
    .cancel {
      background: none;
      border: 1px solid $basic-c25;
      margin-right: unit(16);
      &:hover {
        background: $basic-c26;
      }
    }
    .conform {
      background: $basic-c04;
      &:hover {
        background: $basic-c05;
      }
    }
  }
}
