<div class="app-device-replace">
	<div class="title body-t26">
        <span class="font-movie-title">{{'replace_comfirm'|translate}}</span>
        <div class="login-close" (click) = "close()"></div>
    </div>
	<div class="tips body-t29">{{'replace_comfirm_tips'|translate}}</div>
	 <div class="btn">
    	<button class="cancel body-t26" (click) = "close()">{{'no_text'|translate}}</button>
    	<button class="conform body-t26" (click) = "doReplaceDevice()">{{'yes_text'|translate}}</button>
    </div>
</div>
