<div class="myRecordings" *ngIf="dataList">
	<div class="myRecordings-panel">
		<recordSuspension id={{suspensionID}} [ngStyle]="{visibility: (isShow == 'true') ? 'visible' : 'hidden'}"></recordSuspension>
		<div class="wrap-content">
			<ul *ngFor="let data of dataList;let dataIndex=index" class="myRecordings-frame"  (click)="recordDetail(data, dataIndex)">
				<div class="myRecordings-poster" (mouseenter)="mouseenter(data, $event)" (mouseleave)="closeDialog(data)">
					<img *ngIf="data.policyType == 'TimeBased' || data.policyType == 'PlaybillBased'" src="{{data.posterUrl}}" onerror="this.onerror=null;this.src='assets/img/default/my_program.png'"/>
					<div *ngIf="data.policyType == 'Series' || data.policyType == 'Period'" class="seriesImg"><img src="{{data.posterUrl}}" onerror="this.onerror=null;this.src='assets/img/default/my_program.png'"/></div>
					<div class="myRecordings-delete" [ngStyle]="{display: (isDelete == '1') ? 'block' : 'none'}" (click)="deleteData(data,dataIndex)"></div>
					<div class="myRecordings-isRecording" [style.display]="data.status == 'RECORDING' ? 'block' : 'none'">
						<div [class]="data.policyType == 'Series' || data.policyType == 'Period' ? 'progress' : 'progressSeries'"><div class="percent" [ngStyle]='{width:data.percent}'></div></div>
					</div>
					<div *ngIf="data.status == 'FAIL'" class="myRecordings-fail" [style.display]="data.status == 'FAIL' && (data.policyType == 'PlaybillBased' || data.policyType == 'TimeBased')? 'block' : 'none'" [style.right]="data.policyType == 'Series'? '20px': '10px'"></div>
					<div *ngIf="data.status == 'WAIT_RECORD'" class="myRecordings-warning" [style.right]="data.policyType == 'Series' || data.policyType == 'Period'? '54px': '44px'" [style.display]="data.notEnoughStartTime != 0 && data.spaceTime >= data.notEnoughStartTime ? 'block' : 'none'"></div>
					<div *ngIf="data.status == 'WAIT_RECORD'" [style.right]="data.policyType == 'Series' || data.policyType == 'Period'? '20px': '10px'" [class]="data.floatInfo.storageType == 'NPVR' ? 'record-type cloudicon-24' : 'record-type stbicon-24'"></div>
				</div>
				<div class="myRecordings-name">
					<div class="myRecordings-recordName body-t29">{{data.name}}</div>
					<div *ngIf="data.subtaskLength != 0" class="myRecordings-recordTime body-t32">{{data.channelName}} | {{data.recordTime | translate}} | {{data.duration}}</div>
				</div>
			</ul>
		</div>
	</div>
</div>
