@import "/src/assets/css/common-variables.scss";

* {
  margin: unit(0);
  padding: unit(0);
  border: none;
}

recordSuspension {
  position: absolute;
  z-index: 12;
  background: $basic-c17;
  width: 0;
}

.myRecordings {
  width: unit(1086);
  margin: auto;
  .myRecordings-panel {
    position: relative;
    width: unit(1086);
    .wrap-content {
      height: 100%;
      overflow: hidden;
    }
    .myRecordings-frame {
      height: unit(197);
      width: unit(256);
      margin-right: unit(20);
      float: left;
      margin-bottom: unit(25);
      @media screen and (max-width: 1440px) {
        width: unit(216);
        height: unit(174);
        margin-right: unit(19);
      }
      .myRecordings-poster {
        cursor:pointer;
        width: unit(256);
        height: unit(142);
        position: relative;
        @media screen and (max-width: 1440px) {
          width: unit(216);
          height: unit(119);
        }
        .seriesImg {
          width: unit(256);
          height: unit(142);
          @media screen and (max-width: 1440px) {
            width: unit(216);
            height: unit(119);
            background: url(assets/img/bg_series_980.png) center center no-repeat;
          }
          @extend .seriesbg;
          img {
            width: unit(246);
            height: unit(132);
            @media screen and (max-width: 1440px) {
              width: unit(206);
              height: unit(110);
              top: 9px;
            }
            display: block;
            position: relative;
            top: 10px;
          }
        }
        img {
          width: unit(256);
          height: unit(142);
          display: block;
          @media screen and (max-width: 1440px) {
            width: unit(216);
            height: unit(119);
          }
        }
        .myRecordings-log {
          width: unit(40);
          height: unit(40);
          position: absolute;
          margin-top: unit(-142);
          margin-left: unit(5);
          img {
            width: unit(40);
            height: unit(40);
            display: block;
          }
        }
        .myRecordings-delete {
          width: unit(24);
          height: unit(24);
          position: absolute;
          margin-top: unit(-140);
          margin-left: unit(230);
          @extend .delete-24;
          cursor: pointer;
          @media screen and (max-width: 1440px) {
              margin-top: unit(-115);
              margin-left: unit(188);
          }
        }
        .myRecordings-isRecording {
          position: absolute;
          margin-top: unit(-24);
          .progressSeries {
            width: unit(256);
            height: unit(4);
            background: $basic-c03;
            margin-top: unit(20);
            position: relative;
            @media screen and (max-width: 1440px) {
              width: unit(216);
            }
            .percent {
              background: $basic-c04;
              height: unit(4);
              width: 0;
            }
          }
          .progress {
            width: unit(246);
            @media screen and (max-width: 1440px) {
              width: unit(206);
            }
            height: unit(4);
            background: $basic-c03;
            margin-top: unit(20);
            position: relative;
            .percent {
              background: $basic-c04;
              height: unit(4);
              width: 0;
            }
          }
        }

        .myRecordings-fail {
          width: unit(24);
          height: unit(24);
          position: absolute;
          bottom: 5px;
          @extend .recordingfail-24;
        }
        .myRecordings-warning {
          width: unit(24);
          height: unit(24);
          position: absolute;
          bottom: 5px;
          left: 10px;
          @extend .record_warn-20;
        }
        .record-type{
          position: absolute;
          bottom: 5px;
        }
      }
      .myRecordings-name {
        width: unit(256);
        @media screen and (max-width: 1440px) {
            width: unit(216);
          }
        .myRecordings-recordName {
          @media screen and (max-width: 1440px) {
            width: unit(216);
          }
          width: unit(256);
          margin-top: unit(10);
          color: $text-c31;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          cursor: pointer;
        }
        .myRecordings-recordTime {
          width: unit(256);
          @media screen and (max-width: 1440px) {
            width: unit(216);
          }
          margin-top: unit(8);
          color: $text-c35;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          cursor: default;
        }
      }
    }
    .myRecordings-frame:nth-child(4n+2),
    .myRecordings-frame:nth-child(4n+3) {
      margin-right: unit(20);
    }
    .myRecordings-frame:nth-child(4n+4) {
      margin-right: unit(0);
    }
  }
}

@media screen and (max-width: 1440px) {
  .myRecordings {
    width: unit(686);
  }
  .myRecordings .myRecordings-panel {
    width: unit(686);
  }
  .myRecordings .myRecordings-panel .myRecordings-frame:nth-child(4n+4) {
     margin-right: unit(18);
  }
  .myRecordings .myRecordings-panel .myRecordings-frame:nth-child(4n+2),
  .myRecordings .myRecordings-panel .myRecordings-frame:nth-child(4n+3) {
      margin-right: unit(18);
    }
  .myRecordings .myRecordings-panel .myRecordings-frame:nth-child(3n+2) {
     margin-right: unit(18);
  }
  .myRecordings .myRecordings-panel .myRecordings-frame:nth-child(3n+3) {
     margin-right: unit(0);
  }
}
