<div class="app-recording-conflict" id="app-recording-conflict">
    <div class="title body-t26">
        <span class="font-movie-title">{{'recording_conflict' | translate}}{{num}}</span>
        <div class="login-close" (click) = "close()"></div>
    </div>
    <div class="tips body-t29">
    	<div>{{'recording_number_exceeds_maximum'|translate}}</div>
        <div>{{'to_solve_conflict'|translate}}</div>
    </div>
    <div id="conflicts-wrap" class="conflictList body-t32">
    	<ul id="conflicts-list">
    		<li *ngFor = 'let conflict of conflictList, let i = index' >
                <div *ngIf="conflict.ID == -1 || conflictID == conflict.ID" class="recordings-warning"></div>
    		    <div class="info">
                    <div class="name body-t29">{{conflict.name}}</div>
                    <div class="recordInfo">
                        <div *ngIf="num" class="recordInfoFont body-t32">{{conflict.recordweekTime | translate}} | {{conflict.duration}} | {{conflict.channelName}}</div>
                        <div *ngIf="num == ''" class="recordInfoFont body-t32">{{conflict.channelName}}</div>
                        <div *ngIf="conflict.definition == 2" class="quality-4K title-t18"><div class="ImgInfo">{{'record_4k' | translate}}</div></div>
                        <div *ngIf="conflict.definition == 1" class="quality-HD title-t18"><div class="ImgInfo">{{'record_hd' | translate}}</div></div>
                        <div *ngIf="conflict.definition == 0" class="quality-SD title-t18"><div class="ImgInfo">{{'record_sd' | translate}}</div></div>
                    </div>
                </div>
	    		<div class="select" (click) = "onSelect(conflict, i)"  [class]="conflict.isReserves == 0?'selected':'select'"></div>
    		</li>
    	</ul>
    </div>
    <div class="scrollList" *ngIf="conflictList.length > 3">
        <div id="conflict-scroll">
            <span id="conflict-scroll-span"><div id="conflict-scroll-content"></div></span>
        </div>
    </div>
    <div class="btn body-t26">
        <button [class]="delete ? 'conform body-t26' : 'conformNO body-t26'" (click) = "solvePVRConflict()" *ngIf="!isLastPage && !canSolveAll">{{'next_step'|translate}}</button>
    	<button [class]="delete ? 'conform body-t26' : 'conformNO body-t26'" (click) = "solvePVRConflict()" *ngIf="isLastPage || canSolveAll">{{'recording_exceeds_delete'|translate}}</button>
    </div>
</div>
