@import "/src/assets/css/common-variables.scss";

.app-recording-conflict {
  background: $basic-c14;
  width: unit(460);
	margin: auto;
	position: relative;
  .title {
    width: unit(460);
    height: unit(60);
    line-height: unit(60);
    text-align: center;
    border-bottom: unit(1) solid $basic-c19;
    color: $text-c35;
    .login-close {
      @extend .login_popup_close_20x20;
      position: absolute;
      top: unit(20);
      right: unit(30);
      cursor: pointer;
    }
  }
  .tips {
    color: $text-c35;
    line-height: unit(24);
    text-align: center;
    margin: unit(20) unit(0) unit(0) unit(0);
  }
  .conflictList {
    color: $text-c31;
    width: unit(460);
    margin: auto;
    height: unit(166);
    overflow: hidden;
    position: relative;
    top: unit(10);
    ul {
      margin: unit(0);
      padding: unit(0);
      top: unit(0);
      position: relative;
    }
    li {
      width: unit(460);
      height: unit(42);
      margin-top: unit(20);
      &:first-child{
        margin-top: unit(0);
      }
      .recordings-warning {
          width: unit(16);
          height: unit(16);
          position: absolute;
          margin-left: unit(30);
          margin-top: unit(-41);
          @extend .record_warning-16;
        }
      .info {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        width: unit(300);
        margin-left: unit(56);
        .name{
          color: $text-c35;
          float: left;
          width: unit(300);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .recordInfo{
          margin-top: unit(24);
          .recordInfoFont{
            color: $text-c35;
            float: left;
          }
          .quality-4K,
          .quality-HD,
          .quality-SD{
            width: unit(40);
            height: unit(18);
            float: left;
            background: $basic-c03;
            border-radius: $rounded-rc2;
            color: $basic-c02;
            text-align: center;
            margin-left: unit(10);
          }
          .ImgInfo {
            margin-top: unit(1);
          }
        }
      }
      .selected {
        @extend .remove2-16;
        width: unit(41);
        height: unit(42);
        float: right;
        margin-right: unit(30);
      }
      .select {
        @extend .remove-16;
        width: unit(41);
        height: unit(42);
        float: right;
        margin-right: unit(30);
      }
    }
  }
  .btn {
    text-align: center;
    margin-top: unit(26);
    padding-bottom: unit(36);
    button {
      width: unit(140);
      height: unit(40);
      outline: none;
      border: none;
      border-radius: $rounded-rc1;
    }
    .conform {
      color: $text-c31;
      background: $basic-c04;
      cursor: pointer;
      &:hover {
        background: $basic-c05;
      }
    }
    .conformNO{
      color: $text-c35;
      background: $basic-c23;
      cursor : default;
    }
  }
}

.scrollList {
  position: relative;
  top: unit(-156);
  #conflict-scroll {
    height: unit(166);
    width: unit(11);
    right: unit(7);
    cursor: pointer;
    position: absolute;
    span {
      height: unit(48);
      width: unit(6);
      top: unit(0);
      cursor: pointer;
      position: absolute;
      background: $basic-c03;
      border-radius: unit(24);
    }
  }
}
