<div class="delete-confirm-wrap">
  <div class="confirmInfo" >
    <div class="confirmTitle">
      <div class="confirmInfoMessage body-t26">{{closeInfo | translate}}</div>
      <div class="confirmInfoClose" (click) = "close('1')"></div>
    </div>
    <div class="confirmContent">
      <div class="contentConfirmInfo body-t29">{{confirmInfo | translate}}</div>
      <div class="confirmAction body-t26" (click)="confirm('1')">{{'yes_text' | translate}}</div>
      <div class="cancelAction body-t26" (click) = "close('1')">{{'no_text' | translate}}</div>
    </div>
  </div>
</div>
