@import "/src/assets/css/common-variables.scss";

.footer{
  max-width: unit(1366);
  min-width: unit(952);
  height: unit(137);
  margin: 0px auto;
  line-height: unit(18);
  background-color: inherit;

  .col{
    width: 50%;
    float: left;
    padding: unit(44);
  }

  .text-right{
    text-align: right;
  }

  nav{
    width: unit(350);
    a {
      color: $scd-800;
      margin-right: unit(10);
      font-family: 'Corpid E1s SCd';
      font-size: unit(14);
      text-decoration: underline;
    }
  }

  .copy{
    color: $prm-100;
    font-family: 'Corpid E1s SCd';
    font-size: unit(14);
    margin-top: unit(6);
  }

  .support{
    width: 300px;
    color: $prm-100;
    font-family: 'Corpid E1s SCd';
    font-size: unit(14);
  }

  .logos{
    margin-top: unit(5);
  }
}
