<footer class="footer">
  <div class="columns is-mobile">
    <div class="column">
      <nav>
        <!-- <a (click)="skipRouteMessage('about_us')">{{'about_us' | translate}}</a> -->
        <a [attr.href]="links.faq" target="_blank">{{'FAQ' | translate}}</a>
        <a [attr.href]="links.softwareLicense" target="_blank">{{'software_license' | translate}}</a>
        <a href="/" target="_blank">{{'privacy_policy' | translate}}</a>
        
        <!-- <a [attr.href]="links.feedbackEmail">{{'feedback' | translate}}</a> -->
      </nav>
      <div class='copy'>{{'CopyRight' | translate}}</div>
    </div>

    <div class="column">
      <div class="support is-pulled-right has-text-right">
        МТС ТВ доступно в телевизорах LG, Samsung, Android TV и смартфонах на iOS и Android
        <div class="logos">
            <svg width="246" height="23" viewBox="0 0 246 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M70.8589 0H2.37781C1.09379 0 0 1.058 0 2.3V20.7C0 21.988 1.09379 23 2.37781 23H70.8589C72.1904 23 73.2367 21.942 73.2367 20.7V2.3C73.2367 1.058 72.1904 0 70.8589 0ZM19.1176 6.854H24.7768L19.1176 9.89L13.4584 6.9L19.1176 6.854ZM11.5086 14.858C11.366 15.134 11.1282 15.364 10.8904 15.594C10.5575 15.916 10.1295 16.146 9.65392 16.33C9.17836 16.468 8.65524 16.56 8.08457 16.56C7.51389 16.56 6.99077 16.468 6.51521 16.284C6.03965 16.1 5.61164 15.87 5.27875 15.502C5.04097 15.226 4.80318 14.95 4.66052 14.628C4.51785 14.306 4.37518 14.03 4.37518 13.524V13.202H5.6592L5.70675 13.478C5.75431 13.708 5.80187 13.938 5.89698 14.122C5.99209 14.352 6.13476 14.49 6.27743 14.674C6.46765 14.858 6.75299 15.042 7.08589 15.134C7.41878 15.226 7.75167 15.318 8.08457 15.318C8.46502 15.318 8.79791 15.272 9.17836 15.18C9.51126 15.088 9.79659 14.95 9.98682 14.766C10.1295 14.628 10.2246 14.49 10.3197 14.306C10.4148 14.122 10.4624 13.938 10.4624 13.708C10.4624 13.524 10.4148 13.386 10.3673 13.202C10.3197 13.018 10.177 12.88 10.0819 12.788C9.93926 12.65 9.79659 12.558 9.60637 12.466C9.41614 12.374 9.17836 12.328 8.94058 12.282L7.13344 12.052C6.75299 12.006 6.4201 11.914 6.13476 11.822C5.80187 11.684 5.56409 11.546 5.3263 11.316C5.08852 11.086 4.8983 10.856 4.75563 10.534C4.61296 10.258 4.5654 9.89 4.5654 9.522C4.5654 9.108 4.66052 8.74 4.85074 8.418C5.04097 8.142 5.23119 7.866 5.51653 7.636C5.84942 7.36 6.22987 7.13 6.65788 6.992C7.08589 6.854 7.56145 6.762 7.98945 6.762C8.51257 6.762 9.03569 6.854 9.51126 7.038C10.0344 7.222 10.4148 7.498 10.7002 7.82C10.9379 8.05 11.0806 8.326 11.2233 8.556C11.366 8.832 11.4611 9.384 11.4611 9.522C11.4611 9.66 11.5086 9.844 11.5086 9.844H10.2246V9.66C10.2246 9.568 10.177 9.292 10.0819 9.108C10.0344 8.97 9.93926 8.832 9.79659 8.648C9.60637 8.464 9.36859 8.28 9.08325 8.188C8.75036 8.05 8.41746 8.004 8.03701 8.004C7.75167 8.004 7.41878 8.05 7.181 8.096C6.89566 8.188 6.70544 8.28 6.51521 8.464C6.37254 8.602 6.22987 8.74 6.13476 8.924C6.03965 9.108 5.99209 9.292 5.99209 9.522C5.99209 9.752 6.03965 9.936 6.0872 10.074C6.18232 10.212 6.22987 10.35 6.37254 10.442C6.51521 10.534 6.61032 10.626 6.80055 10.672L7.37122 10.81L9.13081 11.04C9.51126 11.086 9.89171 11.178 10.2246 11.362C10.5575 11.5 10.8428 11.73 11.0806 11.96C11.3184 12.19 11.5086 12.466 11.6513 12.788C11.794 13.11 11.8415 13.432 11.8415 13.754C11.794 14.26 11.6988 14.536 11.5086 14.858ZM19.1176 19.228L13.4109 15.456V6.9L19.0701 3.818L24.7293 6.9V15.502L19.1176 19.228ZM33.4321 16.376L32.2432 13.432H28.6764L27.4875 16.376H26.156L29.9129 6.946H31.0067L34.8112 16.376H33.4321ZM42.0873 16.376L40.2802 12.604H38.3779V11.408H39.9473C40.6606 11.408 41.1837 11.27 41.5166 10.994C41.8495 10.718 42.0398 10.304 42.0398 9.798C42.0398 9.246 41.8495 8.878 41.5166 8.602C41.1362 8.326 40.6131 8.188 39.9473 8.188H37.5695V16.422H36.2854V6.946H39.9473C40.4704 6.946 40.946 6.992 41.374 7.13C41.802 7.268 42.1824 7.452 42.4678 7.728C42.7531 8.004 42.9909 8.28 43.1335 8.648C43.2762 9.016 43.3713 9.384 43.3713 9.798C43.3713 10.442 43.1811 10.994 42.8007 11.5C42.4678 11.868 42.0873 12.19 41.5642 12.374L43.514 16.422H42.0873V16.376ZM51.6937 8.188H48.7452V16.422H47.4612V8.188H44.5127V6.992H51.6937V8.188ZM65.1521 16.422H64.2961L60.872 7.774H58.3516V16.422H57.4004V7.774H54.3093V6.9H61.4903L64.7717 15.042L68.0055 6.9H69.0042L65.1521 16.422ZM30.436 8.97L31.7676 12.328H29.1044L30.436 8.97ZM19.1176 11.592L23.4928 9.246V15.502H14.6949V9.246L19.1176 11.592Z" fill="#A1A8AF"/>
              <path d="M119.053 11.684C119.291 12.006 119.433 12.466 119.433 12.972C119.433 13.524 119.291 13.984 119.053 14.352C118.815 14.72 118.435 14.858 117.959 14.858C117.579 14.858 117.246 14.72 117.008 14.444C116.77 14.168 116.628 13.846 116.628 13.432V12.512C116.628 12.42 116.628 12.282 116.675 12.144C116.77 11.822 116.913 11.592 117.151 11.362C117.389 11.178 117.674 11.086 117.959 11.086C118.387 11.132 118.768 11.316 119.053 11.684ZM110.968 9.2C110.873 9.522 110.731 9.982 110.588 10.626L109.97 12.558H112.062L111.396 10.626C111.301 10.442 111.159 9.936 110.968 9.2ZM141.737 11.086C141.262 11.086 140.881 11.316 140.596 11.73C140.358 12.098 140.263 12.512 140.263 13.018C140.263 13.524 140.358 13.938 140.596 14.306C140.881 14.72 141.214 14.95 141.737 14.95C142.213 14.95 142.593 14.72 142.831 14.306C143.069 13.938 143.164 13.524 143.164 13.018C143.164 12.512 143.069 12.098 142.831 11.73C142.593 11.27 142.213 11.086 141.737 11.086ZM151.581 10.994C151.201 10.994 150.868 11.178 150.583 11.5C150.393 11.776 150.25 12.052 150.202 12.42H152.77C152.77 12.052 152.675 11.776 152.533 11.5C152.342 11.178 152.01 10.994 151.581 10.994ZM124.332 11.132C124.046 11.132 123.761 11.224 123.523 11.408C123.286 11.592 123.095 11.868 123.048 12.19C123 12.374 123 12.466 123 12.558V13.478C123 13.892 123.143 14.214 123.381 14.49C123.618 14.766 123.951 14.904 124.332 14.904C124.807 14.904 125.14 14.72 125.426 14.398C125.663 14.03 125.806 13.616 125.806 13.018C125.806 12.512 125.663 12.052 125.426 11.73C125.14 11.316 124.807 11.132 124.332 11.132ZM97.9856 7.544C98.794 7.59 99.65 7.13 100.173 6.532C100.696 5.934 101.029 5.106 100.934 4.232C100.221 4.278 99.2696 4.738 98.7465 5.336C98.3185 5.888 97.8905 6.762 97.9856 7.544ZM104.025 14.766C104.025 14.766 102.075 14.03 102.028 11.868C102.028 10.074 103.55 9.2 103.645 9.154C102.789 7.912 101.41 7.728 100.934 7.728C99.7927 7.59 98.6989 8.372 98.1282 8.372C97.5576 8.372 96.654 7.728 95.6553 7.728C94.4188 7.728 93.2775 8.464 92.6117 9.522C91.2801 11.73 92.2788 14.95 93.5153 16.744C94.1335 17.618 94.8944 18.584 95.8455 18.538C96.7967 18.492 97.1296 17.94 98.2709 17.94C99.4123 17.94 99.7452 18.538 100.696 18.492C101.695 18.492 102.361 17.618 102.931 16.744C103.74 15.778 104.025 14.812 104.025 14.766ZM114.25 15.686L111.777 8.234H110.255L107.782 15.686H109.066L109.732 13.478H112.252L112.966 15.686H114.25ZM120.67 12.926C120.67 12.098 120.432 11.454 120.004 10.948C119.576 10.442 119.005 10.212 118.34 10.212C117.484 10.212 116.865 10.534 116.485 11.178L116.437 10.304H115.344C115.391 10.902 115.391 11.5 115.391 12.098V17.894H116.628V15.042C116.961 15.548 117.484 15.824 118.197 15.824C118.863 15.824 119.433 15.594 119.909 15.134C120.385 14.582 120.67 13.846 120.67 12.926ZM127.042 12.926C127.042 12.098 126.805 11.454 126.377 10.948C125.949 10.442 125.378 10.212 124.712 10.212C123.856 10.212 123.238 10.534 122.858 11.178L122.81 10.304H121.716C121.764 10.902 121.764 11.5 121.764 12.098V17.894H123V15.042C123.333 15.548 123.856 15.824 124.57 15.824C125.235 15.824 125.806 15.594 126.282 15.134C126.805 14.582 127.042 13.846 127.042 12.926ZM134.223 13.57C134.223 13.064 134.081 12.604 133.748 12.282C133.415 11.914 132.939 11.638 132.274 11.362C131.751 11.178 131.37 10.948 131.132 10.764C130.895 10.58 130.799 10.35 130.799 10.028C130.799 9.752 130.895 9.522 131.085 9.338C131.323 9.154 131.655 9.016 132.083 9.016C132.654 9.016 133.13 9.108 133.558 9.338L133.843 8.372C133.367 8.142 132.797 8.004 132.083 8.004C131.275 8.004 130.657 8.188 130.181 8.602C129.706 9.016 129.468 9.476 129.468 10.12C129.468 11.04 130.134 11.776 131.513 12.282C131.988 12.466 132.369 12.65 132.559 12.88C132.749 13.064 132.892 13.34 132.892 13.662C132.892 13.984 132.749 14.26 132.511 14.49C132.274 14.674 131.893 14.812 131.418 14.812C130.752 14.812 130.181 14.674 129.61 14.352L129.325 15.364C129.848 15.686 130.514 15.824 131.323 15.824C132.226 15.824 132.939 15.594 133.415 15.18C133.986 14.766 134.223 14.214 134.223 13.57ZM138.313 10.304H136.934V8.97L135.698 9.338V10.304H134.889V11.224H135.698V13.938C135.698 14.628 135.84 15.088 136.126 15.41C136.411 15.686 136.791 15.824 137.267 15.824C137.648 15.824 137.98 15.778 138.218 15.686L138.171 14.766C138.028 14.812 137.838 14.812 137.6 14.812C137.124 14.812 136.887 14.49 136.887 13.8V11.178H138.266V10.304H138.313ZM144.448 12.972C144.448 12.19 144.21 11.5 143.735 10.994C143.259 10.488 142.593 10.212 141.785 10.212C140.929 10.212 140.263 10.488 139.788 10.994C139.264 11.546 139.027 12.19 139.027 13.064C139.027 13.846 139.264 14.536 139.74 15.042C140.216 15.548 140.881 15.824 141.69 15.824C142.546 15.824 143.212 15.548 143.735 14.996C144.21 14.444 144.448 13.8 144.448 12.972ZM148.443 10.212H148.157C147.825 10.212 147.539 10.304 147.254 10.488C146.969 10.718 146.778 10.994 146.636 11.362H146.588L146.541 10.35H145.447C145.494 10.856 145.494 11.408 145.494 12.052V15.732H146.731V12.88C146.731 12.466 146.826 12.098 147.016 11.822C147.254 11.5 147.587 11.362 148.015 11.362C148.157 11.362 148.3 11.362 148.395 11.408C148.443 11.362 148.443 10.212 148.443 10.212ZM154.007 12.742C154.007 12.052 153.864 11.5 153.531 11.04C153.103 10.442 152.533 10.166 151.724 10.166C150.916 10.166 150.25 10.442 149.774 11.04C149.299 11.592 149.109 12.236 149.109 13.064C149.109 13.892 149.346 14.536 149.869 15.042C150.345 15.548 151.058 15.778 151.914 15.778C152.628 15.778 153.246 15.686 153.769 15.456L153.579 14.628C153.151 14.812 152.628 14.904 152.057 14.904C151.581 14.904 151.153 14.766 150.821 14.536C150.488 14.26 150.297 13.846 150.297 13.34H154.007C153.959 13.156 154.007 12.972 154.007 12.742ZM159.619 2.3V20.7C159.619 21.988 158.525 23 157.241 23H88.7596C87.4281 23 86.3818 21.942 86.3818 20.7V2.3C86.3818 1.012 87.4756 0 88.7596 0H157.241C158.572 0 159.619 1.058 159.619 2.3Z" fill="#A1A8AF"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M208.859 11.04C208.431 11.04 208.051 11.178 207.766 11.5C207.433 11.822 207.29 12.236 207.29 12.742C207.29 13.248 207.433 13.662 207.766 13.984C208.098 14.306 208.431 14.444 208.859 14.444C209.287 14.444 209.668 14.306 209.953 13.984C210.286 13.662 210.429 13.248 210.429 12.742C210.429 12.236 210.286 11.822 209.953 11.5C209.62 11.178 209.287 11.04 208.859 11.04ZM214.043 11.04C213.615 11.04 213.282 11.178 212.949 11.5C212.664 11.822 212.474 12.236 212.474 12.742C212.474 13.248 212.616 13.662 212.949 13.984C213.235 14.306 213.615 14.444 214.043 14.444C214.471 14.444 214.851 14.306 215.137 13.984C215.422 13.662 215.565 13.248 215.565 12.742C215.565 12.236 215.422 11.822 215.137 11.5C214.851 11.178 214.471 11.04 214.043 11.04ZM203.581 11.04C203.153 11.04 202.772 11.178 202.487 11.5C202.154 11.822 202.011 12.236 202.011 12.742C202.011 13.248 202.154 13.662 202.487 13.984C202.82 14.306 203.153 14.444 203.581 14.444C204.009 14.444 204.389 14.306 204.674 13.984C205.007 13.662 205.15 13.248 205.15 12.742C205.15 12.236 205.007 11.822 204.674 11.5C204.389 11.178 204.009 11.04 203.581 11.04Z" fill="#A1A8AF"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M243.622 0H175.141C173.857 0 172.763 1.058 172.763 2.3V20.7C172.763 21.988 173.857 23 175.141 23H243.622C244.954 23 246 21.942 246 20.7V2.3C246 1.058 244.954 0 243.622 0ZM178.042 4.14C181.133 5.796 184.177 7.498 187.268 9.154C187.411 9.246 187.411 9.292 187.315 9.384L185.27 11.362C185.175 11.454 185.175 11.454 185.033 11.362L177.709 4.14L177.614 4.048C177.804 4.048 177.947 4.094 178.042 4.14ZM177.091 18.86C176.853 18.676 176.758 18.4 176.758 18.124V5.014C176.758 4.738 176.805 4.508 176.996 4.324C177.091 4.232 177.138 4.232 177.233 4.324C178.755 5.796 180.277 7.314 181.799 8.786C182.798 9.752 183.749 10.718 184.747 11.684C184.842 11.776 184.842 11.822 184.747 11.914C182.322 14.214 179.897 16.514 177.519 18.86C177.376 18.998 177.233 18.998 177.091 18.86ZM187.03 14.168C184.177 15.686 181.276 17.204 178.422 18.722C178.375 18.768 178.327 18.768 178.327 18.814C180.562 16.652 182.798 14.444 185.033 12.236C185.175 12.098 185.223 12.098 185.366 12.236C185.936 12.788 186.507 13.386 187.078 13.938C187.173 14.03 187.173 14.076 187.03 14.168ZM190.787 12.144C190.644 12.236 190.502 12.328 190.359 12.374C189.503 12.834 188.599 13.294 187.743 13.754C187.648 13.8 187.553 13.8 187.458 13.708C186.84 13.11 186.222 12.466 185.603 11.868C185.508 11.776 185.508 11.73 185.603 11.638C186.317 10.948 187.078 10.258 187.791 9.568C187.886 9.476 187.934 9.476 188.029 9.522L190.597 10.902C190.882 11.04 191.072 11.224 191.072 11.546C191.072 11.822 190.93 12.006 190.787 12.144ZM199.87 14.168C199.204 14.858 198.348 15.18 197.302 15.18C196.304 15.18 195.4 14.858 194.734 14.168C194.021 13.478 193.688 12.65 193.688 11.638C193.688 10.626 194.021 9.798 194.734 9.108C195.448 8.418 196.304 8.096 197.302 8.096C197.825 8.096 198.301 8.188 198.729 8.372C199.204 8.556 199.537 8.832 199.823 9.154L199.204 9.752C198.729 9.2 198.111 8.924 197.255 8.924C196.494 8.924 195.876 9.154 195.352 9.66C194.829 10.166 194.544 10.81 194.544 11.638C194.544 12.466 194.829 13.11 195.352 13.616C195.876 14.122 196.541 14.352 197.255 14.352C198.063 14.352 198.681 14.076 199.204 13.57C199.537 13.248 199.728 12.788 199.775 12.19H197.207V11.362H200.631C200.679 11.546 200.679 11.73 200.679 11.868C200.726 12.88 200.441 13.616 199.87 14.168ZM205.387 14.49C204.911 14.95 204.341 15.18 203.627 15.18C202.914 15.18 202.296 14.95 201.868 14.49C201.392 14.03 201.154 13.432 201.154 12.696C201.154 12.006 201.392 11.408 201.868 10.902C202.343 10.442 202.914 10.212 203.627 10.212C204.341 10.212 204.959 10.442 205.387 10.902C205.862 11.362 206.1 11.96 206.1 12.696C206.053 13.432 205.815 14.03 205.387 14.49ZM210.618 14.49C210.142 14.95 209.572 15.18 208.858 15.18C208.145 15.18 207.527 14.95 207.099 14.49C206.623 14.03 206.385 13.432 206.385 12.696C206.385 12.006 206.623 11.408 207.099 10.902C207.574 10.442 208.145 10.212 208.858 10.212C209.572 10.212 210.19 10.442 210.618 10.902C211.094 11.362 211.331 11.96 211.331 12.696C211.331 13.432 211.094 14.03 210.618 14.49ZM216.467 14.812C216.467 15.594 216.23 16.238 215.754 16.652C215.278 17.066 214.708 17.296 213.994 17.296C213.424 17.296 212.948 17.158 212.615 16.882C212.235 16.606 211.997 16.284 211.854 15.916L212.663 15.594C212.758 15.87 212.901 16.054 213.186 16.238C213.424 16.422 213.709 16.514 214.042 16.514C214.518 16.514 214.946 16.376 215.231 16.1C215.516 15.824 215.659 15.41 215.659 14.904V14.444H215.564C215.421 14.674 215.183 14.858 214.898 14.996C214.613 15.134 214.28 15.226 213.947 15.226C213.329 15.226 212.806 14.996 212.33 14.49C211.854 14.03 211.664 13.432 211.664 12.742C211.664 12.052 211.902 11.454 212.33 10.994C212.806 10.534 213.329 10.304 213.947 10.304C214.327 10.304 214.613 10.396 214.898 10.534C215.183 10.672 215.421 10.856 215.564 11.086H215.611V10.442H216.467V14.812ZM218.227 15.042H217.323V8.234H218.227V15.042ZM223.458 12.88H219.654C219.701 13.34 219.844 13.708 220.129 13.984C220.415 14.26 220.795 14.398 221.175 14.398C221.841 14.398 222.269 14.122 222.507 13.616L223.316 13.938C223.173 14.306 222.888 14.582 222.555 14.858C222.174 15.088 221.746 15.226 221.223 15.226C220.51 15.226 219.891 14.996 219.463 14.536C218.988 14.076 218.798 13.478 218.798 12.742C218.798 12.052 219.035 11.5 219.463 10.994C219.891 10.488 220.462 10.258 221.175 10.258C221.889 10.258 222.459 10.488 222.888 10.948C223.316 11.408 223.553 12.006 223.553 12.742L223.458 12.88ZM230.069 11.73C229.64 12.098 229.117 12.328 228.499 12.328H227.025V15.088H226.121V8.234H228.499C229.117 8.234 229.593 8.418 230.069 8.832C230.497 9.2 230.734 9.706 230.734 10.304C230.734 10.856 230.497 11.316 230.069 11.73ZM232.209 15.042H231.305V8.234H232.209V15.042ZM237.012 15.042H236.156V14.398H236.108C235.728 14.95 235.205 15.18 234.539 15.18C234.016 15.18 233.588 15.042 233.255 14.766C232.922 14.49 232.732 14.122 232.732 13.616C232.732 13.11 232.922 12.696 233.35 12.42C233.778 12.144 234.253 12.006 234.872 12.006C235.395 12.006 235.823 12.098 236.156 12.282V12.144C236.156 11.822 236.013 11.546 235.775 11.316C235.537 11.132 235.252 10.994 234.872 10.994C234.586 10.994 234.349 11.04 234.158 11.178C233.968 11.316 233.778 11.454 233.73 11.684L232.922 11.362C233.017 11.086 233.255 10.81 233.588 10.58C233.921 10.35 234.349 10.212 234.872 10.212C235.49 10.212 236.013 10.396 236.393 10.718C236.821 11.086 237.012 11.546 237.012 12.19V15.042ZM239.009 17.112H238.058L239.199 14.766L237.202 10.396H238.201L239.627 13.754L241.006 10.396H242.005L239.009 17.112Z" fill="#A1A8AF"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M234.016 13.0179C233.778 13.2019 233.683 13.4319 233.683 13.6619C233.683 13.8919 233.778 14.0759 233.968 14.2139C234.159 14.3519 234.396 14.3979 234.682 14.3979C235.062 14.3979 235.395 14.2599 235.68 13.9839C235.966 13.7079 236.156 13.3859 236.156 13.0179C235.918 12.8339 235.538 12.6959 235.015 12.6959C234.587 12.7419 234.254 12.8339 234.016 13.0179ZM221.081 11.0399C220.748 11.0399 220.462 11.1319 220.225 11.3619C219.987 11.5459 219.797 11.8219 219.701 12.1899H222.507C222.507 11.9139 222.365 11.6839 222.127 11.4079C221.889 11.1319 221.556 11.0399 221.081 11.0399ZM228.547 9.06189H227.025V11.4539H228.547C228.927 11.4539 229.213 11.3159 229.45 11.0859C229.688 10.8559 229.783 10.5799 229.783 10.2579C229.783 9.98189 229.688 9.70589 229.45 9.42989C229.213 9.19989 228.927 9.06189 228.547 9.06189Z" fill="#A1A8AF"/>
              </svg>
              
        </div>
      </div>
    </div>
  </div>
</footer>