@import "/src/assets/css/common-variables.scss";

*{
  margin:0;
  padding:0;
  border:none;
}
.oscar-all{
  position: relative;
  top: unit(4);
  padding-bottom: unit(160);
  padding-top:unit(50);
}

.noOscar{
  margin-top: unit(200);
  position: relative;
}
