@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
}

suspensionprogram {
  position: absolute;
  z-index: 12;
  background: $basic-c17;
}

.noFutureChannel {
  margin-top: unit(200);
  position: relative;
}

.future-part {
  width: unit(1280);
  height: unit(770);
  position: relative;
  margin: auto;
  padding-top: unit(80);
  .future-title {
    height: unit(24);
    position: absolute;
    top: unit(50);
    max-width: 100%;
    .future-name {
      display: inline-block;
      position: relative;
      float: left;
      height: unit(26);
      line-height: unit(24);
      color: $text-c31;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: unit(1335);
    }
    .future-arrow {
      @extend .rightarrow-24;
      width: unit(24);
      height: unit(24);
      position: relative;
      float: left;
      margin-left: unit(10);
      background-position: unit(4) unit(3);
    }
  }
  .future-title:hover {
      .future-arrow {
        @extend .rightarrow2-24;
        background-position: unit(4) unit(3);
      }
  }
  .hasFutureChannel {
    position: relative;

    .future-leftIcon {
      top: unit(165);
      left: unit(-40);
      width: unit(36);
      height: unit(36);
      position: absolute;
      cursor: pointer;
      @extend .angleleft2-36;
    }
    .future-leftIcon:hover {
      @extend .angleleft-36;
    }
    .futureChannel-list-panel {
      width: unit(1280);
      height: unit(753);
      position: relative;
      margin-top: unit(20);
      overflow: hidden;
      border-bottom: unit(1) solid $basic-c03;
      .futureChannel-list {
        width: unit(5520);
        height: unit(753);
        position: relative;
        .item {
          float: left;
          background-color: $basic-c10;
          position: relative;
          display: inline-block;
          cursor: pointer;
        }
        .item:nth-child(6n+1),
        .item:nth-child(6n+2) {
          width: unit(627);
          height: unit(382);
          margin-right: unit(20);
          margin-bottom: unit(20);
          img {
            width: unit(627);
            height: unit(382);
            display: block;
          }
          .poster-background {
            width: unit(627);
            height: unit(230);
            position: absolute;
            top: unit(152);
            background: linear-gradient($bg-M2);
          }
          .channelList-name {
            width: unit(600);
            position: absolute;
            top: unit(295);
            display: inline-block;
            padding-left: unit(20);
            color: $text-c31;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .channelList-timeAndChannel {
            width: unit(600);
            height: unit(20);
            position: absolute;
            top: unit(342);
            margin-left: unit(20);
            line-height: unit(20);
            color: $text-c31;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            .channelList-time {
              width: unit(60);
              height: unit(20);
              float: left;
            }
          }
        }
        .item:nth-child(6n+2) {
          margin-right: 0;
        }
        .item:nth-child(6n+3),
        .item:nth-child(6n+4) {
          width: unit(490);
          height: unit(276);
          margin-right: unit(20);
          img {
            width: unit(490);
            height: unit(276);
            display: block;
          }
          .poster-background {
            width: unit(490);
            height: unit(170);
            position: absolute;
            top: unit(106);
            background: linear-gradient($bg-M2);
          }
          .channelList-name {
            width: unit(460);
            position: absolute;
            top: unit(197);
            display: inline-block;
            padding-left: unit(20);
            color: $text-c31;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .channelList-timeAndChannel {
            width: unit(460);
            height: unit(20);
            position: absolute;
            top: unit(236);
            margin-left: unit(20);
            line-height: unit(20);
            font-size: $body-t26;
            color: $text-c31;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            .channelList-time {
              width: unit(60);
              height: unit(20);
              float: left;
            }
          }
        }
        .item:nth-child(6n+3) {
          margin-top: unit(402);
          margin-left: unit(-1274);
        }
        .item:nth-child(6n+4) {
          margin-top: unit(402);
          margin-left: unit(-767);
        }
        .item:nth-child(6n+5),
        .item:nth-child(6n+6) {
          width: unit(260);
          height: unit(146);
          img {
            width: unit(260);
            height: unit(146);
            display: block;
          }
          .poster-background {
            width: unit(260);
            height: unit(90);
            position: absolute;
            top: unit(56);
            background: linear-gradient($bg-M2);
          }
          .channelList-name {
            width: unit(236);
            position: absolute;
            top: unit(77);
            display: inline-block;
            padding-left: unit(12);
            color: $text-c31;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .channelList-timeAndChannel {
            width: unit(236);
            height: unit(24);
            position: absolute;
            top: unit(107);
            margin-left: unit(12);
            line-height: unit(24);
            font-size: $body-t29;
            color: $text-c31;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            .channelList-time {
              width: unit(50);
              height: unit(20);
              float: left;
            }
          }
        }
        .item:nth-child(6n+5) {
          margin-top: unit(402);
          margin-left: unit(-260);
          margin-bottom: unit(20);
        }
        .item:nth-child(6n+6) {
          margin-top: unit(568);
          margin-left: unit(-260);
          ;
        }
      }
    }
    .future-rightIcon {
      width: unit(36);
      height: unit(36);
      top: unit(165);
      right: unit(-40);
      position: absolute;
      cursor: pointer;
      @extend .angleright2-36;
    }
    .future-rightIcon:hover {
      @extend .angleright-36;
    }
  }
}

@media screen and (max-width: unit(1440)) {
  .future-part {
    width: unit(980);
    height: unit(560);
  }
  .future-part .future-title .future-name {
    max-width: unit(935);
  }
  .future-part .hasFutureChannel .future-leftIcon {
    margin-top: unit(250);
  }
  .future-part .hasFutureChannel .future-rightIcon {
    margin-left: unit(1064);
    margin-top: unit(-292);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel {
    width: unit(980);
    height: unit(541);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list {
    width: unit(3920);
    height: unit(541);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+1),
  .item:nth-child(6n+2) {
    width: unit(480);
    height: unit(269);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+1) img {
    width: unit(480);
    height: unit(269);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+1) .poster-background {
    width: unit(480);
    height: unit(162);
    top: unit(107);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+1) .channelList-name {
    width: unit(440);
    top: unit(182);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+1) .channelList-timeAndChannel {
    width: unit(440);
    top: unit(229);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+2),
  .item:nth-child(6n+2) {
    width: unit(480);
    height: unit(269);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+2) img {
    width: unit(480);
    height: unit(269);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+2) .poster-background {
    width: unit(480);
    height: unit(162);
    top: unit(107);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+2) .channelList-name {
    width: unit(440);
    top: unit(182);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+2) .channelList-timeAndChannel {
    width: unit(440);
    top: unit(229);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+3),
  .item:nth-child(6n+4) {
    width: unit(383);
    height: unit(212);
    margin-top: unit(289);
    margin-left: unit(-980);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+3) img {
    width: unit(383);
    height: unit(212);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+3) .poster-background {
    width: unit(383);
    height: unit(116);
    top: unit(96);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+3) .channelList-name {
    width: unit(343);
    top: unit(133);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+3) .channelList-timeAndChannel {
    width: unit(343);
    top: unit(172);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+4),
  .item:nth-child(6n+4) {
    width: unit(383);
    height: unit(212);
    margin-top: unit(289);
    margin-left: unit(-577);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+4) img {
    width: unit(383);
    height: unit(212);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+4) .poster-background {
    width: unit(383);
    height: unit(116);
    top: unit(96);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+4) .channelList-name {
    width: unit(343);
    top: unit(133);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+4) .channelList-timeAndChannel {
    width: unit(343);
    top: unit(172);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+5),
  .item:nth-child(6n+6) {
    width: unit(174);
    height: unit(96);
    margin-top: unit(289);
    margin-left: unit(-174);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+5) img {
    width: unit(174);
    height: unit(96);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+5) .poster-background {
    width: unit(174);
    height: unit(59);
    top: unit(37);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+5) .channelList-name {
    width: unit(150);
    top: unit(27);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+5) .channelList-timeAndChannel {
    width: unit(150);
    top: unit(57);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+6),
  .item:nth-child(6n+6) {
    width: unit(174);
    height: unit(96);
    margin-top: unit(405);
    margin-left: unit(-174);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+6) img {
    width: unit(174);
    height: unit(96);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+6) .poster-background {
    width: unit(174);
    height: unit(59);
    top: unit(37);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+6) .channelList-name {
    width: unit(150);
    top: unit(27);
  }
  .future-part .hasFutureChannel .futureChannel-list-panel .futureChannel-list .item:nth-child(6n+6) .channelList-timeAndChannel {
    width: unit(150);
    top: unit(57);
  }
}
