<div class="future-part">
<suspensionprogram id="{{suspensionInfo}}" [ngStyle]="{visibility: (isShow == 'true') ? 'visible' : 'hidden'}"></suspensionprogram>
     <div class="future-title"  [ngStyle]="{cursor:hasFutureChannel? 'pointer' : 'default'}"  (click)="moreShow()" >
        <span class="future-name title-t13">{{'happy_next' | translate}}</span>
        <div  [ngStyle]="{display: hasFutureChannel? 'block' : 'none'}" class="future-arrow"></div>
    </div>
    <div class="hasFutureChannel" *ngIf="hasFutureChannel">
        <div class="future-leftIcon" [style.visibility]="channelLeftVisible" (click)="onClickLeft()"></div>

        <div class="futureChannel-list-panel">
            <div class="futureChannel-list" #futureChannelDom  >
                <div *ngFor="let channelList of channelLists, let i=index" class="item" (click)="channelDtail(channelList)"  (mouseenter)="mouseenter(channelList, $event)" (mouseleave)="closeDialog(channelList)">
                    <img src="{{channelList.posterUrl}}"   id="img-{{i}}" (error)="imgError(i)"/>
                    <div class="poster-background"></div>
                    <span [ngClass]="pName(i)">{{channelList.playbillName | translate}}</span>
                    <div class="channelList-timeAndChannel">
                        <div [ngClass]="pTime(i)">{{channelList.playbillTime}}</div>
                        <span [ngClass]="pChannel(i)">{{channelList.channelName}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="future-rightIcon" [style.visibility]="channelRightVisible" (click)="onClickRight()"></div>
    </div>
     <div class="noFutureChannel" *ngIf="!hasFutureChannel">
        <waterfall-noData [nodatatype]="'home'"></waterfall-noData>
    </div>
</div>
