@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.submitDialog-wrap{
  position: fixed;
  width: 100%;
  height: 100%;
  background: $basic-C08;
}
.submitDialog {
  text-align: center;
  position: absolute;
  width: unit(460);
  height: unit(288);
  margin: auto;
  left: unit(0);
  right: unit(0);
  top: unit(0);
  bottom: unit(0);
  background-color: $basic-c14;
  .submitTitle {
    border-bottom: unit(1) solid $basic-c19;
    height: unit(60);
    line-height: unit(60);
    .submitInfoMessage {
      color: $text-c35;
    }
    .submitInfoClose{
      background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
			width: unit(20);
			height: unit(20);
      position: absolute;
      top: unit(20);
      right: unit(30);
      cursor: pointer;
    }
  }
  .submitContent {
    width: unit(460);
    height: unit(228);
    .message-wrap {
      position: relative;
      width: unit(354);
      height: unit(153);
      display: table;
      margin: auto;
      .contentInfo{
        color: $text-c31;
        line-height: unit(24);
        display: table-cell;
        vertical-align: middle;
      }
    }

    .button-wrap {
      position: absolute;
      bottom: unit(0);
      width: 100%;
      height: unit(40);
      padding-bottom: unit(35);
      .cancelButton{
        position: relative;
        width: unit(140);
        line-height: unit(40);
        color: $text-c31;
        border-radius: unit(2);
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        display: inline-block;
        margin-right: unit(20);
        border: unit(1) $basic-c25 solid;
        &:hover {
          background: $basic-c26;
          border: unit(1) $basic-c26 solid;
        }
      }
      .submitButton {
        background: linear-gradient(to right, $basic-c31, $basic-c32);
        position: relative;
        width: unit(140);
        line-height: unit(40);
        color: $text-c31;
        border-radius: unit(2);
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        display: inline-block;
        border: unit(1) $basic-c31 solid;
        &:hover {
          background: $basic-c31;
          border: unit(1) $basic-c31 solid;
        }
      }
    }
  }
}
