<div class="submitDialog-wrap">
  <div class="submitDialog" >
    <div class="submitTitle">
      <div class="submitInfoMessage body-t26">{{'mytvSubmit_confimation' | translate}}</div>
      <div class="submitInfoClose" (click)="close('1')"></div>
    </div>
    <div class="submitContent">
      <div class="message-wrap">
        <div class="contentInfo body-t29">{{contentInfo | translate}}</div>
      </div>
      <div class="button-wrap body-t26">
        <div class="cancelButton" (click)="cancel('1')">{{'no_text' | translate}}</div>
        <div class="submitButton" (click)="submit('1')">{{'yes_text' | translate}}</div>
      </div>
    </div>
  </div>
</div>
