<div class="message-dialog">
  <div class="content body-t29">
    <span class="content-main body-t32">{{ 'remove_social_network' | translate }} {{ network.name }}?</span>
    <div class="buttons">
      <button autofocus=""
        class="cancel-button body-t26"
        (click)="close()"
      >
        {{ 'no_text' | translate }}
      </button>
      <button autofocus=""
        class="confirm-button body-t26"
        (click)="confirm()"
      >
        {{ 'accept' | translate }}
      </button>
    </div>
  </div>
</div>
