@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.message-dialog {
  width: 396px;
  height: 149px;
  background-color: rgba(24, 24, 24, 0.96);
  top: calc(50% - 74.5px);
  left: calc(50% - 198px);
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
  .content-main {
    height: 19px;
    font-family: Rubik-Light, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.2px;
    text-align: center;
    color: #8f8f8f;
  }
  .buttons {
    margin-top: 30px;
    font-size: 0;
    button {
      &:first-child{
        margin-right: 16px;
      }
      display: inline-block;
      cursor: pointer;
      width: 160px;
      height: 40px;
      border-radius: 2px;
      box-sizing: border-box;
      line-height: 38px;
      border: solid 1px rgba(245, 245, 245, 0.3);
      font-family: Rubik-Light, sans-serif;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #f5f5f5;
      background-color: transparent;
      &:hover {
        background-color: #f5f5f5;
        color: rgba(24, 24, 24, 0.96);
      }
    }
  }
}
