<div class="vodStills" *ngIf="vodStills">
	<div *ngFor="let vodStill of vodStills, let stillIndex=index" (click)="stillEnlarge(stillIndex)" class="item" >
		<img src="{{vodStill}}" onerror="this.onerror=null;this.src='assets/img/default/ondemand_stills.png'"/>
	</div>
</div>
