.vodStills{
	width: 1280px;
	margin: auto;
	.item{
		width:180px;
		height:180px;
		position: relative;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		cursor: pointer;
		overflow: hidden;
		img{
			height:180px;
		}
	}
	.item:nth-child(7n+7){
		margin-right: 0;
	}
}
@media screen and (max-width: 1440px){
	.vodStills{width:980px;}
	.vodStills .item:nth-child(7n+7){margin-right: 20px;}
	.vodStills .item:nth-child(5n+5){margin-right: 0;}

}
