<div class="hot-genres-home" id="hot-genres" *ngIf="hotGenresLists">
  <app-program-component [id]="hotGenresId" [datas]="hotGenresLists" (jumpTo)="moreShow($event)" (jumpToData)="onClickDetail($event)"></app-program-component>
</div>
