@import "/src/assets/css/common-variables.scss";

* {
  margin: unit(0);
  padding: unit(0);
  border: none;
}

.hot-genres-home {
  width: unit(1280);
  position: relative;
  margin: auto;
  margin-top: unit(50);
  @media screen and (max-width: 1440px) {
    width: unit(980);
  }
}
