<div class="my-tv" id="my-tv">
  <nav class="my-tv-title">
    <div class="profileInfo" (click)="selectTitle(curProfile)" (mouseenter)="mouseInTitle(curProfile)" (mouseleave)="mouseOutTitle(curProfile)" [id]="curTitle.id == curProfile.id?'profileFocus':''">
      <div class="redBg"></div>
      <img src="{{curProfile.avatar}}" onerror="this.onerror=null;this.src='assets/img/default/ondemand_casts.png'">
      <div class="main-profile" *ngIf="isMainProfile">
        <div class="main-background"></div>
        <div class="main-icon primary-account-16"></div>
      </div>
      <div class="edit-avatar"></div>
      <div class="name body-t23">{{curProfile.name}}</div>
    </div>
    <div class="list" id="my_Videos">
      <div class="title title-t16">{{'my_videos_string'| translate}}</div>
      <li id="{{item.id}}" *ngFor='let item of myVideos' (click)="selectTitle(item)" (mouseenter)="mouseInTitle(item, $event)" (mouseleave)="mouseOutTitle(item, $event)" [class]='curTitle.id == item.id?"itemFocus":""'>
      <div></div>
      <img src="{{curTitle.id == item.id ? item.focusLogo:item.logo}}">
        <span class="body-t29">{{item.title | translate}}</span>
      </li>
    </div>
    <div class="list" id="my_personals">
      <li id="{{item.id}}" *ngFor='let item of personals' (click)="selectTitle(item)" (mouseenter)="mouseInTitle(item, $event)" (mouseleave)="mouseOutTitle(item, $event)" [class]='curTitle.id == item.id?"itemFocus":""'>
      <div></div>
      <img src="{{curTitle.id == item.id ? item.focusLogo:item.logo}}">
        <span class="body-t29">{{item.title | translate}}</span>
      </li>
    </div>
    <div class="list" id="my_others">
      <li id="{{item.id}}" *ngFor='let item of others' (click)="selectTitle(item)" (mouseenter)="mouseInTitle(item, $event)" (mouseleave)="mouseOutTitle(item, $event)" [class]='curTitle.id == item.id?"itemFocus":""'>
      <div></div>
      <img src="{{curTitle.id == item.id ? item.focusLogo:item.logo}}">
        <span class="body-t29">{{item.title | translate}}</span>
      </li>
    </div>
  </nav>
  <div class="mytv-main">
    <router-outlet></router-outlet>
  </div>
</div>
