@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.my-tv {
  max-width: unit(1280);
  margin: auto;
  padding-top: unit(50);
  color: $text-c35;
  display: block;
  position: relative;
  .my-tv-title {
    width: unit(264);
    // background: $mts-bg-7;
    margin-right: unit(30);
    position: absolute;
    display: inline-block;
    height: 100%;
  }
  .mytv-main {
    position: relative;
    left: 294px;
    margin: 0;
    width: calc(100% - 294px);
    display: block;
    min-height: unit(935);
  }
  #profileFocus {
    background: $basic-c03;
    color: $text-c31;
    .redBg {
      background: $basic-c31;
    }
    .edit-avatar {
      @extend .edit-16;
    }
  }
  #focus {
    background: $basic-c03;
    color: $text-c31;
    .edit-avatar {
      @extend .edit-16;
    }
  }
  .profileInfo {
    text-align: center;
    cursor: pointer;
    position: relative;
    padding-bottom: 40px;
    .redBg {
      width: unit(4);
      height: 100%;
      position: absolute;
    }
    img {
      width: unit(76);
      height: unit(76);
      margin-top: unit(40);
      border-radius: unit(38);
    }
    .main-profile {
      position: absolute;
      margin-top: unit(-79);
      margin-left: unit(94);
      width: unit(76);
      height: unit(76);
      border-radius: 50%;
      overflow: hidden;
      .main-background {
        width: unit(76);
        height: unit(18);
        position: relative;
        top: unit(58);
        background: $basic-C08;
      }
      .main-icon {
        top: unit(42);
        left: unit(30);
        position: relative;
      }
    }
    .edit-avatar {
      position: absolute;
      margin-left: unit(180);
      margin-top: unit(-17);
      @extend .edit2-16;
    }
    .name {
      color: $text-c31;
      margin: unit(0) auto;
      margin-top: unit(20);
      width: unit(204);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .list {
    border-top: unit(1) solid $basic-c21;
    list-style: none;
    padding: unit(10) 0;
    .title {
      color: #fff;
      margin: unit(0) unit(30) unit(10) unit(30);
      height: unit(40);
      line-height: unit(40);
      cursor: default;
    }
    li {
      height: unit(40);
      line-height: unit(40);
      padding-left: unit(30);
      cursor: pointer;
      div {
        width: unit(4);
        height: unit(40);
        position: absolute;
        margin-left: unit(-30);
      }
    }
    .itemFocus {
      background: $basic-c03;
      color: $text-c31;
      div {
        background: $basic-c31;
      }
    }
    .itemEnter {
      background: $basic-c03;
      color: $text-c31;
    }
    img {
      position: relative;
      top: unit(4);
      margin-right: unit(20);
    }
  }
}

.mytvfix-bg {
  //@extend .bg_default1920x1080;
  background-color: $mts-bg-7;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: unit(0);
}
