@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.volumeBar {
  position: absolute;
  left: 55px;
  @media screen and (max-width: 550px) {
    left: 115px;
  }
  width: unit(148);
  height:unit(34);
  transform: rotate(-90deg);
  border-radius:unit(3);
  input[type=range] {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: unit(128);
    margin-top: unit(14);
    margin-left: unit(10);
    border-radius: unit(2);
    /* This property is set so that the graph when the progress bar is filled is rounded*/
    background-color: $basic-c03;
    z-index: 5;
    height: unit(4);
    top: unit(1.3);
  }
  input[type=range]::-webkit-slider-runnable-track {
    height: unit(4);
    border-radius: unit(2);
    /* Set the track to rounded corners*/
  }
  input[type=range]:focus {
    outline: none;
    border: none;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: unit(10);
    width: unit(10);
    margin-top: unit(-3);
    /* So that the slider is equal to the offset of the track portion*/
    border-radius: 50%;
    /* The appearance is rounded*/
    background-color:$icon-C41;
    border: solid 0.125em $basic-c01;
    /* Set the border*/
  }
  input[type=range]::-moz-range-track {
    height: unit(4);
    border-radius: unit(2);
    background: transparent;
    /* Set the track to rounded corners*/
  }
  input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    height: unit(10);
    width: unit(10);
    margin-top: unit(-3);
    /* So that the slider is equal to the offset of the track portion*/
    border-radius: 50%;
    /* The appearance is rounded*/
    background-color: $icon-C41;
    border: solid 0.125em $basic-c01;
    /* Set the border*/
  }
  input[type=range]::-moz-range-progress {
    height: unit(4);
    border-radius: unit(2);
  }
  input[type=range]::-ms-track {
    height: unit(4);
    border-radius: unit(2);
  }
  input[type=range]::-ms-thumb {
    height: unit(10);
    width: unit(10);
    border-radius: 50%;
    background-color: $icon-C41;
    border: solid 0.125em $basic-c01;
  }
  .arrowDown {
    position: absolute;
    @extend .arrowleft-22;
    top: unit(8);
    left: unit(-17);
  }
  .volumeActive {
    background-color: $basic-c17;
    position: absolute;
    width: unit(148);
    height: unit(34);
    border-radius: unit(3)
  }
  .volumeBarPath {
    width: unit(148);
    height: unit(34);
    margin-left: unit(-25);
    margin-top: unit(-20);
  }
  .volumeArrowImg {
    @extend .playcontrol-angle;
    transform: rotate(90deg);
    width: unit(12);
    height: unit(8);
    margin-left: unit(-10);
    margin-top: unit(13.1);
  }
}
