<div class="volumeBar" id ="volumeBarIdStyle">
  <input type="range" class="volumeSeekBar" min="0"  step="1" max="20"
       [ngStyle] = "{background: gradient}"
       (mouseleave) = "notSlide()" (mouseenter)="inSlide()" [(ngModel)]="volume"/>
  <div id="volumeActive" class="volumeActive" ></div>
  <div id="volumeArrowImg" class="volumeArrowImg" ></div>
  <div class="volumeBarPath" ></div>
</div>
