@import "/src/assets/css/common-variables.scss";

.space-record {
    width: unit(1086);
    .total_time{
      height: unit(56);
      position: relative;
      line-height: unit(56);
      margin-left: unit(20);
      color: $text-c31;
      float: left;
    }
    .total_bg {
      @extend .cloud_32;
      position: relative;
      line-height: unit(56);
      top: unit(12);
      margin-left: unit(14);
      float: left;
      width: unit(32);
    }
    .record_cloud_space{
      float: left;
      margin-left: unit(26);
      .line_record_cloud{
        width: unit(875);
        height: unit(4);
        background: $basic-c02;
        position: relative;
        display: block;
        top: unit(15);
        overflow: hidden;
        .line_finished{
          background: $basic-c27;
          height: unit(4);
          position: relative;
          float: left;
        }
        .line_scheduled{
          background: $basic-c28;
          height: unit(4);
          position: absolute;
          float: left;
          z-index: 2;
        }
        .line_availabled{
          background: $basic-c02;
          height: unit(4);
          position: relative;
          float: left;
        }
      }
      .name_record_cloud{
        position: relative;
        top: unit(23);
        display: inline-block;
        div {
          float: left;
          margin-right: unit(60);
        }
        .name_finished{
          color: $text-c38;
          span:first-child{
            width: unit(5);
            height: unit(5);
            position: relative;
            display: inline-block;
            background: $basic-c27;
            top: unit(-2);
            margin-right: unit(5);
          }
        }
        .name_scheddived{
          color: $text-c39;
          span:first-child{
            width: unit(5);
            height: unit(5);
            position: relative;
            display: inline-block;
            background: $basic-c28;
            top: unit(-2);
            margin-right: unit(5);
          }
        }
        .name_availabled{
          color: $basic-c02;
          span:first-child{
            width: unit(5);
            height: unit(5);
            position: relative;
            display: inline-block;
            background: $basic-c02;
            top: unit(-2);
            margin-right: unit(5);
          }
        }
      }
    }
    .space-record-warning {
      width: unit(20);
      height: unit(20);
      position: absolute;
      right: unit(18);
      top: unit(7);
      @extend .record_warn-20;
    }
}

@media screen and (max-width: unit(1440)) {
  .space-record {
    width: unit(686);
  }
  .space-record .record_cloud_space .line_record_cloud{
    width: unit(476);
  }
  .space-record .record_cloud_space .name_record_cloud{
    width: unit(520);
  }
  .space-record .record_cloud_space .name_record_cloud div{
    margin-right: unit(20);
  }
}
