<div class="space-record">

  <div class="total_time body-t32" *ngIf="totalUnit <= 1 && totalUnit != 0">{{totalSize}}&nbsp;{{'record_hour' | translate}}</div>
  <div class="total_time body-t32" *ngIf="!(totalUnit <= 1 && totalUnit != 0)">{{totalSize}}&nbsp;{{unit | translate}}</div>

  <div class="total_bg"></div>

  <div class="record_cloud_space">
    <div class="line_record_cloud">
      <div class="line_finished" [style.width]="usedPercent"></div>
      <div class="line_scheduled" [style.width]="schedPercent" [style.position]="schedPosition()"></div>
      <div class="line_availabled" [style.width]="availPercent"></div>
    </div>
    <div class="name_record_cloud body-t32">
      <div class="name_finished">
        <span></span>
        <span *ngIf="usedUnit <= 1 && usedUnit != 0">{{'record_finished' | translate}}:&nbsp;{{usedSize}}&nbsp;{{'record_hour' | translate}}</span>
        <span *ngIf="!(usedUnit <= 1 && usedUnit != 0)">{{'record_finished' | translate}}:&nbsp;{{usedSize}}&nbsp;{{unit | translate}}</span>
      </div>
      <div class="name_scheddived">
        <span></span>
        <span *ngIf="bookingUnit <= 1 && bookingUnit != 0">{{'record_Scheduled' | translate}}:&nbsp;{{bookingSize}}&nbsp;{{'record_hour' | translate}}</span>
        <span *ngIf="!(bookingUnit <= 1 && bookingUnit != 0)">{{'record_Scheduled' | translate}}:&nbsp;{{bookingSize}}&nbsp;{{unit | translate}}</span>
      </div>
      <div class="name_availabled">
        <span></span>
        <span *ngIf="canUnit <= 1 && canUnit != 0">{{'available' | translate}}:&nbsp;{{canSize}}&nbsp;{{'record_hour' | translate}}</span>
        <span *ngIf="!(canUnit <= 1 && canUnit != 0)">{{'available' | translate}}:&nbsp;{{canSize}}&nbsp;{{unit | translate}}</span>
      </div>
    </div>
  </div>
  <div class="space-record-warning" *ngIf="spaceEnough"></div>
</div>
