@import "/src/assets/css/common-variables.scss";

.vodPlayBar-close {
    @extend .close-24;
    position: fixed;
    width: unit(24);
    height: unit(24);
    bottom: unit(235);
    right: unit(133);
    z-index: 2200000;
    cursor: pointer;
    visibility: hidden;
}
.btn-play-pause-drop {
    position: fixed;
    z-index: 12;
    right: unit(593);
    bottom: unit(42);
    float: left;
    cursor: pointer;
    width: unit(0);
    height: unit(0);
    visibility: hidden;
    .play-btn {
        width: unit(36);
        height: unit(36);
        position: absolute;
        left: unit(7);
        top: unit(-8);
        background: url(assets/img/32/ondemand_suspension-box_pause_32.png);
    }
    .left-drag {
        position: absolute;
        width: unit(200);
        height: unit(20);
        color: $basic-c01;
        top: unit(-211);
        left: unit(10);
    }
}

.load_bg_sus{
    z-index: 10;
    position: fixed;
    width: unit(460);
    height: unit(258);
    float: right;
    bottom: unit(1);
    right: unit(131);
    display: none;
    background: $basic-c06;
    border: unit(1) solid $basic-c01;
    .play_loading{
        background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
        z-index: 20;
        animation: login_load_roate_div 2s infinite;
        width: unit(80);
        height: unit(80);
        position: relative;
        margin: auto;
        top: unit(87);
    }
    @keyframes login_load_roate_div{
        0%		{transform: rotate(0deg);}
        100%	{transform: rotate(360deg);}
    }
}

.suspend-wrap {
  position: relative;
  z-index: 12;
}

.miniScreens {
  visibility: hidden;
  position: fixed;
  width: unit(460);
  height: unit(258);
  float: right;
  bottom: unit(1);
  right: unit(131);
  z-index: 9;
  border: unit(1) solid white;
  @extend .defaultaudio-1920;
}
