<app-vodplaybar [detailInfo]="playVodInfo" [episodes]="episodes"></app-vodplaybar>
<div class="suspend-wrap" (mousemove)="showVODPlayOtherCom()" (mouseleave)="hideVODPlayOtherCom($event)">
  <div id="suspend-close" class="vodPlayBar-close" (click)="closeSupsend()"></div>
  <div id="suspend-play" class="btn-play-pause-drop">
    <div class="play-btn" [style.opacity]="isLoading ? '0.5' : '1'" (mousedown)="setFirstPosition($event)" (mouseup)="getEndPosition($event)"></div>
    <div class="left-drag body-t29">{{'drag_video' | translate}}</div>
  </div>
  <div id="suspend-load" class="load_bg_sus" [style.display]="display">
    <div class="play_loading"></div>
  </div>
</div>
<div id="suspend-miniScreen" class="miniScreens" (click)="clickScreen()" (dblclick)="changeScreen()" (mousemove)="showMinOtherCom($event)" (mouseleave)="hideMinOtherCom()"></div>
