<div class="vod-home-content" [ngStyle]="{display: successfulGetData ? 'block' : 'none'}"></div>
<app-banner-carousel *ngIf="bannerData " [data]="bannerData"></app-banner-carousel>
<app-continue-watching></app-continue-watching>
<columnshow
  [childcolumnshow]="data1"
  [id]="[]"
  (jumpTo)="moreShow($event)"
  (child)="onClickDetail($event)"
  *ngIf="data1.length"
></columnshow>

<app-category-home [setvodSubjectList]="vodSubjectData"></app-category-home>

<columnshow
[childcolumnshow]="data2"
[id]="[]"
(jumpTo)="moreShow($event)"
(child)="onClickDetail($event)" *ngIf="data2.length"
></columnshow>
