@import "/src/assets/css/common-variables.scss";

.favorite {
  height: unit(60);
  position: relative;
  width: unit(130);
  white-space:nowrap;
}

.upImg {
  @extend .popup-19;
  width: unit(19);
  height: unit(12);
  margin: auto;
}

.favContent {
  text-align: center;
  background: $basic-c17;
  height: unit(38);
  border-radius: unit(3);
  box-shadow: unit(0) unit(19) unit(40) $basic-c06;
}

.favInfo {
  color: $text-c31;
  margin-left: unit(10);
  margin-right: unit(10);
  position: relative;
  top: unit(10);
}
