<div class="myChannels-favorite">
  <div class="favoriteTitle">
    <span class="favoriteName title-t13">{{'favoriteChannel' | translate}}{{totalStr}}</span>
    <div class="favoriteEdit body-t32" (click)="editData()" [ngStyle]="noDataStyle()" *ngIf="show">{{'edit' | translate}}</div>
    <div class="favoriteEdit2" [ngStyle]="{display: (noDataList == '1') || showLoadIcon ? 'block' : 'none'}"></div>
    <div class="favoriteComplete body-t32" (click)="completeData()" *ngIf="!show">{{'complete' | translate}}</div>
    <div class="favoriteClearAll body-t32" (click)="clearAllData()" *ngIf="!show">{{'clearAll' | translate}}</div>
  </div>
  <div class="favoriteList">
    <myChannels-channel [data]="favoriteLists" (deleteChannel)="deleteChannel($event)" (detailChannel)="detailChannel($event)" *ngIf="favoriteLists"></myChannels-channel>
  </div>
  <app-close-confirm class="confirm" [confirmInfoKey]="confirmInfoKey" (cancelData)="cancelData($event)" (confirmData)="confirmData($event)" *ngIf="isClearAll"></app-close-confirm>
  <div class="failed body-t29" [ngStyle]="{display: (failed == '1') ? 'block' : 'none'}">{{'delete_failed_try_again_later' | translate}}</div>
  <div class="noData" [ngStyle]="{display: ((noDataList == '1') && !showLoadIcon) ? 'block' : 'none'}">
        <waterfall-noData [nodatatype]="'favoritechannel'"></waterfall-noData>
    </div>
  <div class="my-load-status" *ngIf="showLoadIcon" [style.bottom]="firstLoad?'450px':'100px'">
        <div class="spinner"></div>
    </div>
</div>
