<div class="search-header bg-bm1">
  <div class="search-left">  
    <input type="password" style="display: none">
    <img 
      src="/assets/img/ui/search.svg" 
      (click)="onShowSearchField()" 
      class="icon-search"
      [class.active]="classActive">
    <input
      [class.active]="classActive"
      class="title-t18"
      tabindex="-1"
      id="input-text-overflow"
      maxWidth="224"
      (focus)="showSearch()"
      autocomplete="off"
      maxLength="128"
      [(ngModel)]="searchKey"
      (keyup)="onChange($event)"
      (keypress)="onPressChange($event)"
      (blur)="hideSearch()"
      #search
    />
    <img 
      src="/assets/img/ui/delete.svg" 
      (click)="hideSearch()"
      class="icon-delete link"
      [class.active]="classActive"
      >

  <!--  -->
    <!-- <i class="search-input-icon icon-search" (click)="searchAll()" id="searchIcon"></i> -->
  </div>

  <!-- <div id="search_hint" [ngStyle]="{display: (hotfilter) ? 'block' : 'none'}">
    <div id="search_filter" class="filter">
      <div class="hotVOD-filter" [ngStyle]="{display: (hotVodfilter) ? 'block' : 'none'}">
        <img src="{{hotVOD.posters}}"/>
        <div class="hotVOD-detail">
          <span class="hotVOD-title">{{hotVOD.title}}</span>
          <span class="hotVOD-director body-t34">{{'director' | translate}}{{' ' + hotVOD.director}}</span>
          <span class="hotVOD-actor body-t34">{{'actor' | translate}}{{' ' + hotVOD.actor}}</span>
          <div class="hotVOD-button body-t32" (click)="gotoVoddetail(hotVOD)">
            <div class="details_button_play"></div>
            <div class="details_play">{{'play' | translate}}</div>
          </div>
        </div>
      </div>

      <ul class="font-instructions" [ngStyle]="{display: (filterlist) ? 'block' : 'none'}">
        <li class="hotwords body-t32" *ngFor="let option of hotKeys; let i=index"
          (click)="searchAll(option.name)">
          <span>{{option.namestart}}</span><span class="highLight">{{option.nameheightlight}}</span><span>{{option.nameend}}</span>
        </li>
      </ul>
    </div>
  </div> -->
</div>
