@import "/src/assets/css/common-variables.scss";

#input-text-overflow {
  position: absolute;
  box-sizing: border-box;
  font-size: unit(14);
  color: $basic-c23;
  width: unit(0);
  height: unit(38);
  padding: unit(0);
  border: none;
  background-color: $mts-bg-7;
  border-radius: $rounded-rc2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
 
  transition: all 0.3s linear;
  // display: none;
  z-index: 5;
  // top: 0px;
  left: unit(30);
  opacity: 0;
  &:focus {
    outline: none;
    border: 1px solid $basic-c02;
    color: $basic-c01;

  }
  &:hover {
    outline: none;
    border: none;
  }
  &.active {
    width: unit(230);
    left: unit(-210);
    padding-left: unit(27);
    opacity: 1;
    // padding-bottom: unit(6);
  }


}


input:-webkit-autofill {
  background-color:  transparent !important;
}
.search-left {
  position: relative;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  img{ width: unit(18);}
}
.search-input-icon {
  position: absolute;
  font-size: unit(25);
  top: unit(6);
  right: unit(5);
  cursor: pointer;
}
.icon-search {
  
  position: relative;
  z-index: 10;
  cursor: pointer;
  left: unit(0);
  transition: all 0.2s linear;
  &.active{
    left: unit(-205);
    
  }
}

.icon-delete{
  position: absolute;
  z-index: 10;
  left: unit(0);
  display: none;
  width: unit(15);
  height: unit(15);
  &.active{
    display: block;
    
  }
}
// @media screen and (max-width: 1087px)
// {
// .navbar-menu { display: flex; }
// }
#search_hint {
  height: unit(12);
  width: unit(320);
  left: unit(-230);
  top: unit(38);
  position: absolute;
  text-align: left;
  background-image: url(assets/img/input_Drop_down_box.png);
  background-position: -1px 0px;
  background-repeat: no-repeat;
  border-radius: unit(56);
  .filter {
    border-radius: unit(3);
    position: relative;
    box-shadow: 0 20px 40px $basic-c17;
    width: unit(320);
    top: unit(12);
    .hotVOD-filter {
      height: unit(138);
      background: $basic-c12;
      border-top-left-radius: unit(3);
      border-top-right-radius: unit(3);
      img {
        width: unit(75);
        height: unit(103);
        padding: unit(20) unit(15) unit(15) unit(20);
        float: left;
      }
      .hotVOD-detail {
        float: left;
        display: inline-block;
        position: relative;
        width: unit(180);
        height: unit(101);
        top: unit(22);
        overflow: hidden;
        .hotVOD-title {
          color: $text-c31;
          margin-bottom: unit(8);
          line-height: unit(15);
          padding-bottom: unit(1);
        }
        span {
          color: $text-c35;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .hotVOD-director {
          left: unit(0);
          position: relative;
          margin-bottom: unit(2);
          display: block;
          line-height: unit(12);
          padding-bottom: unit(1);
        }
        .hotVOD-actor {
          height: unit(12);
          overflow: hidden;
          margin-bottom: unit(22);
          line-height: unit(12);
        }
        .hotVOD-button {
          border: 1px solid $basic-c25;
          height: unit(26);
          line-height: unit(26);
          cursor: pointer;
          // width: unit(93);
          border-radius: $rounded-rc1;
          .details_button_play {
            width: unit(14);
            height: unit(14);
            position: relative;
            margin-left: unit(20);
            top: unit(6);
            background: url(assets/img/14/details_button_play_14x14.png) unit(0) unit(0) no-repeat;
            display: inline-block;
            float: left;
          }
          .details_play {
            display: inline-block;
            float: left;
            margin-left: unit(10);
            position: relative;
            color: $basic-c01;
            margin-right: unit(20);
          }
          &:hover {
            background: $basic-c26;
          }
        }
      }
    }
    ul {
      width: unit(320);
      list-style: none;
      position: relative;
      padding: unit(9) unit(0) unit(9) unit(0);
      color: $text-c35;
      margin-top: unit(0);
      margin-left: unit(0);
      background: $basic-c14;
      border-bottom-left-radius: unit(3);
      border-bottom-right-radius: unit(3);
      li {
        padding: unit(0) unit(20) unit(0) unit(20);
        position: relative;
        // width: unit(280);
        padding-top: unit(9);
        padding-bottom: unit(9);
        overflow: hidden;
        cursor: pointer;
        line-height: unit(14);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover {
          background: $basic-c03;
          color: $text-c31;
        }
        .highLight {
          color: $text-c31;
        }
      }
    }
  }
}

.icon-delete {
  cursor: pointer;
}
