@import "/src/assets/css/common-variables.scss";

.logInBg {
  .message {
    background: gray;
  }
  position: relative;
  width: 460px;
  height: 260px;
  margin: auto;
  text-align: center;
  top: calc((100% - 260px) / 2);
  .content {
    color: $text-c31;
    width: 320px;
    margin: 20px auto 0;
    position: relative;
    padding-top: 90px;
    line-height: 24px;
  }
  .unlock {
    width: 140px;
    height: 40px;
    background: linear-gradient(to right, $basic-c31, $basic-c32);
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
    margin: 40px auto auto;
    cursor: pointer;
    color: $text-c31;
    &:hover {
      background: $basic-c31;
    }
  }
}
