<div class="logInBg" id = "logInBgContent">
  <div class="content body-t29" >
    <div class="message">{{'guest_no_subscribed' | translate}}</div>
  </div>
  <div class="unlock body-t26" (click)="unLock()">{{'log_in' | translate}}</div>
</div>
