<div style="height:460px;position:relative;">
    <div class="grid" nav-history nav-group>
        <div class="invalidTarget" style="border: none;"></div>
        <div focusable class="hiddenTarget" style="display: none"></div>
        <div id="p00" focusable><span>00</span>1&darr;</div>
        <div id="p01" focusable nav-down="#p11" nav-left="#p08"><span>01</span>&larr;#p08
            <br/>&darr;#p11</div>
        <div id="p02" focusable class="target02"><span>02</span>2&darr;</div>
        <div id="p03" focusable><span>03</span>4&darr;</div>
        <div id="p04" focusable><span>04</span>3&larr;</div>
        <div id="p05" focusable><span>05</span>5&rarr;</div>
        <div id="p06" focusable><span>06</span>6&darr;</div>
        <div id="p07" focusable><span>07</span>7&darr;</div>
        <div id="p08" focusable><span>08</span></div>
        <div id="p09" focusable><span>09</span>8&rarr;</div>
        <div id="p10" focusable class="target10"><span>10</span></div>
        <div id="p11" focusable><span>11</span></div>
        <div id="p12" focusable><span>12</span>13&darr; 16&darr; 19&darr;</div>
        <div id="p13" focusable><span>13</span>12&uarr; 14&rarr;</div>
        <div id="p14" focusable><span>14</span>11&uarr;</div>
        <div id="p15" focusable><span>15</span>15&uarr; 17&rarr;</div>
        <div id="p16" focusable><span>16</span>18&uarr; 20&darr;</div>
        <div id="p17" focusable><span>17</span>22&darr;</div>
        <div id="p18" focusable><span>18</span>21&larr;</div>
        <div id="p19" focusable><span>19</span>23&darr;</div>
        <div id="p20" focusable><span>20</span>10&uarr;, 24&darr;</div>
        <div id="p21" focusable><span>21</span>9&uarr;</div>
        <div id="p22" focusable><span>22</span>25&darr;</div>
        <div id="p23" focusable><span>23</span>26&rarr;</div>
        <div id="p24" focusable><span>24</span>27</div>
    </div>
    <div class="faraway" nav-group>
        <div id="fw01" focusable><span>fw01</span></div>
        <div id="fw02" focusable><span>fw02</span></div>
        <div id="fw03" focusable><span>fw03</span></div>
        <div id="fw04" focusable><span>fw04</span></div>
    </div>
</div>
