 @import "../assets/css/pre-customizations.scss";
 .grid div,
 .faraway div {
     position: absolute;
     box-sizing: border-box;
     background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%);
     border: unit(1) solid #bd6500;
     color: #bd6500;
     text-align: center;
     font-family: sans-serif;
     font-size: unit(14);
     border-radius: unit(5);
     white-space: nowrap;
 }
 
 .grid div span,
 .faraway div span {
     position: absolute;
     top: unit(2);
     left: unit(3);
     font-size: unit(8);
     line-height: unit(8);
     color: #bd6500;
 }
 
 .grid div.focused,
 .faraway div.focused {
     outline: none;
     background: #bd6500;
     color: #fff;
 }
 
 .grid div.focused span,
 .faraway div.focused span {
     outline: none;
     background: #bd6500;
     color: #fff;
 }
 
 #p00 {
     left: unit(39);
     top: unit(38);
     width: unit(166);
     height: unit(58);
     line-height: unit(58);
 }
 
 #p01 {
     left: unit(39);
     top: unit(106);
     width: unit(54);
     height: unit(48);
     line-height: unit(12);
     padding-top: unit(10)
 }
 
 #p02 {
     left: unit(99);
     top: unit(106);
     width: unit(55);
     height: unit(47);
     line-height: unit(47);
 }
 
 #p03 {
     left: unit(39);
     top: unit(178);
     width: unit(51);
     height: unit(50);
     line-height: unit(50);
 }
 
 #p04 {
     left: unit(100);
     top: unit(178);
     width: unit(51);
     height: unit(50);
     line-height: unit(50);
 }
 
 #p05 {
     left: unit(39);
     top: unit(246);
     width: unit(51);
     height: unit(50);
     line-height: unit(50);
 }
 
 #p06 {
     left: unit(100);
     top: unit(246);
     width: unit(51);
     height: unit(50);
     line-height: unit(50);
 }
 
 #p07 {
     left: unit(39);
     top: unit(307);
     width: unit(166);
     height: unit(47);
     line-height: unit(47);
 }
 
 #p08 {
     left: unit(39);
     top: unit(360);
     width: unit(41);
     height: unit(67);
     line-height: unit(67);
 }
 
 #p09 {
     left: unit(92);
     top: unit(360);
     width: unit(113);
     height: unit(67);
     line-height: unit(67);
 }
 
 #p10 {
     left: unit(39);
     top: unit(436);
     width: unit(74);
     height: unit(51);
     line-height: unit(51);
 }
 
 #p11 {
     left: unit(130);
     top: unit(436);
     width: unit(74);
     height: unit(51);
     line-height: unit(51);
 }
 
 #p12 {
     left: unit(223);
     top: unit(38);
     width: unit(166);
     height: unit(58);
     line-height: unit(58);
 }
 
 #p13 {
     left: unit(160);
     top: unit(106);
     width: unit(108);
     height: unit(95);
     line-height: unit(95);
 }
 
 #p14 {
     left: unit(160);
     top: unit(216);
     width: unit(108);
     height: unit(85);
     line-height: unit(85);
 }
 
 #p15 {
     left: unit(273);
     top: unit(106);
     width: unit(54);
     height: unit(48);
     line-height: unit(48);
 }
 
 #p16 {
     left: unit(335);
     top: unit(106);
     width: unit(54);
     height: unit(48);
     line-height: unit(48);
 }
 
 #p17 {
     left: unit(273);
     top: unit(158);
     width: unit(54);
     height: unit(48);
     line-height: unit(48);
 }
 
 #p18 {
     left: unit(335);
     top: unit(158);
     width: unit(54);
     height: unit(48);
     line-height: unit(48);
 }
 
 #p19 {
     left: unit(280);
     top: unit(216);
     width: unit(108);
     height: unit(81);
     line-height: unit(81);
 }
 
 #p20 {
     left: unit(223);
     top: unit(307);
     width: unit(166);
     height: unit(47);
     line-height: unit(47);
 }
 
 #p21 {
     left: unit(227);
     top: unit(362);
     width: unit(78);
     height: unit(69);
     line-height: unit(69);
 }
 
 #p22 {
     left: unit(310);
     top: unit(362);
     width: unit(76);
     height: unit(67);
     line-height: unit(67);
 }
 
 #p23 {
     left: unit(229);
     top: unit(439);
     width: unit(107);
     height: unit(49);
     line-height: unit(49);
 }
 
 #p24 {
     left: unit(347);
     top: unit(437);
     width: unit(39);
     height: unit(51);
     line-height: unit(51);
 }
 
 #p01,
 #p15,
 #p16 {
     font-size: unit(10);
 }
 
 #fw01 {
     left: unit(600);
     top: unit(138);
     width: unit(166);
     height: unit(58);
     line-height: unit(58);
 }
 
 #fw02 {
     left: unit(600);
     top: unit(338);
     width: unit(166);
     height: unit(58);
     line-height: unit(58);
 }
 
 #fw03 {
     left: unit(800);
     top: unit(338);
     width: unit(166);
     height: unit(58);
     line-height: unit(58);
 }
 
 #fw04 {
     left: unit(800);
     top: unit(396);
     width: unit(166);
     height: unit(58);
     line-height: unit(58);
 }
