<div class="subscriber_dialog" id="vod-subscriber-dialog">
  <div class="inner">
    <div class="top">
      <div class="title body-t26">{{'Available_Product_List_string' | translate}}</div>
      <div class="close" (click) = "close()"></div>
    </div>
    <div class="content">
      <div class="price-leftIcon" [style.visibility]="priceLeftVisible" (click)="onClickLeft()"></div>
      <div class="price_content">
        <div class="ul" #products>
          <div *ngFor="let product of pricedProducts, let i=index" class="item" (mouseenter)="changeProduct(product)"
          (click) = "subEmpProduct(product)">
            <span class="product-name body-t26">{{product && product.name}}</span>
            <div class="price">
              <div class="product-price title-t12">
                {{product && product.price}}
                <div class="symbol body-t24" *ngIf='product.price'>{{currencySymbol}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="price-rightIcon" [style.visibility]="priceRightVisible" (click)="onClickRight()"></div>
    </div>
    <div class="bottom body-t32" id="vod_bottom">
      <div class="detail_content" id="vod_detail_content">
        <!--<div class="name_content">{{pricedProduct.name}}</div>-->
        <!--<div class="validation_content">-->
          <!--<div class="validation_title">{{'Validation_string' | translate}}:&nbsp;</div>-->
          <!--<div class="validation_duration">{{'valid_duration_subscruber' | translate: pricedProduct.duration_subscruber}} </div>-->
        <!--</div>-->
        <!--<div class="price_content">-->
          <!--<div class="price_title">{{'price' | translate}}:&nbsp;</div>-->
          <!--<div class="price_detail">{{pricedProduct.price}}</div>-->
        <!--</div>-->
        <div class="details">
          <div class="details_title">{{'Details_string' | translate}}</div>
          <div class="details_contains">{{pricedProduct.introduce}}</div>
        </div>
      </div>
      <div class="vod_sub_scrollList" id="vod_sub_scrollList">
        <div class="vod_sub_scroll" id="vod_sub_scroll">
          <span id="vod_sub_scrollSpan">
            <div id="vod_sub_content"></div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
