@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.oscarMore-column {
  padding-bottom: unit(200);
}

.moreTitles {
  height: unit(54);
  width: unit(1280);
  position: relative;
  margin: auto;
  margin-bottom: unit(50);
  border-bottom: unit(1) solid $basic-c03;
  .title {
    min-width: unit(50);
    height: unit(14);
    position: relative;
    float: left;
    padding-top: unit(25);
    color: $text-c31;
    line-height: unit(14);
  }
}

suspension {
  position: absolute;
  z-index: 12;
  background: $basic-c17;
  width: 0;
}

.contentList {
  min-height: unit(1930);
  padding-top: unit(25);
  .contentTitles {
    height: unit(14);
    width: unit(1280);
    position: relative;
    padding-bottom: unit(15);
    margin: auto;
    .contentTitle {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      min-width: unit(50);
      height: unit(15);
      position: relative;
      float: left;
      color: $text-c31;
      line-height: unit(13);
      cursor: default;
    }
  }
  .waterfall-box {
    width: unit(1280);
    min-height: unit(1900);
    position: relative;
    margin: auto;
    .waterfallVod-frame {
      position: relative;
      float: left;
      width: unit(214);
      height: unit(315);
      margin-bottom: unit(40);
      margin-right: unit(19);
      .vod-poster {
        width: unit(214);
        height: unit(284);
        img {
          width: unit(214);
          height: unit(284);
          position: absolute;
          display: inline-block;
        }
        .vod-score {
          color: $text-c31;
          display: inline-block;
          position: absolute;
          margin-left: unit(172);
          margin-top: unit(260);
          background-color: $basic-C08;
          width: unit(42);
          height: unit(24);
          line-height: unit(24);
          text-align: center;
        }
      }
      .vod-name {
        width: unit(214);
        height: unit(15);
        line-height: unit(15);
        padding-bottom: unit(1);
        padding-top: unit(15);
        position: absolute;
        display: inline-block;
        color: $text-c31;
        //text-overflow: ellipsis;
        //white-space: nowrap;
        //overflow: hidden;
        word-break: break-word;
      }
    }
    .waterfallVod-frame:nth-of-type(6n + 5) {
      margin-right: unit(20);
    }
    .waterfallVod-frame:nth-of-type(6n + 6) {
      margin-right: unit(0);
    }
  }
}
