<div *ngIf="childrennumber == '1'" class="oscarMore-column">
    <columnshow  [childcolumnshow] = "oscarVODInfo" (child)="onClickDetail1($event)" (jumpTo)="moreShow($event)"
    [suspensiondata] = "vodListSuspension"  [show]="oscarAllShow" [id]="oscarAllID" *ngIf="oscarVODInfo.length"></columnshow>
</div>


<div class="contentList" id="contentList" *ngIf="childrennumber == '0' || childrennumber == '-1'">
     <div class="contentTitles" >
        <div class="contentTitle title-t18"   (click) = " goback(title) ">{{titles}} &nbsp;</div>
    </div>
    <waterfall-vod
        class="waterfall"
        [data]="moreVodList"
        (child)="onClickDetail2($event)"
        *ngIf="moreVodList"
    ></waterfall-vod>
</div>
