@import "/src/assets/css/common-variables.scss";

.suspensionBig {
  overflow: hidden;
}

.hot-suspensionInfor {
  max-height: 492px;
  min-height: 298px;
  overflow: hidden;
  position: relative;
  margin-right: 24px;
  @media screen and (max-width: 1440px) {
      margin-right: 20px;
  }
}

.title {
  float: left;
  width: 305px;
  font-size: 24px;
  color: $text-c31;
  margin-left: 25px;
  margin-right: 10px;
  padding-right:15px;
  margin-top: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.progressAll {
  background-color: $basic-c19;
  height: 4px;
  width: 186px;
  position: relative;
  float: left;
  margin-top: 15px;
  margin-left: 25px;
  @media screen and (max-width: 1440px) {
      width: 153px;
  }
}

.progressRed {
  background-color: $basic-c04;
  height: 4px;
  position: relative;
  float: left;
  margin-top: -4px;
  margin-left: 25px;
}

.tvod-detail-first {
  float: left;
  width: 355px;
  margin-top: 20px;
  margin-left: 25px;
  .tvod-detail-secondary {
    float: left;
    width: 305px;
    color: $text-c31;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right:15px;
  }
}

.tvod-detail-second {
  float: left;
  width: 355px;
  margin-top: 8px;
  margin-left: 25px;
  .timeInfo {
    float: left;
    color: $basic-c01;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @media screen and (max-width: 1440px) {
      width: 153px;
    }
    .levelImg {
      width: 40px;
      height: 18px;
      background: $basic-c03;
      border-radius: $rounded-rc2;
      color: $basic-c02;
      float: right;
      margin-left: 10px;
      text-align: center;
    }
    .levelImgInfo {
      margin-top: 1px;
    }
  }
}
.contentChannelBg {
    margin: 30px 30px 25px 25px;
    color: $text-c35;
    line-height: 20px;
    word-break: break-all;
    visibility: hidden;
    position: absolute;
}
.content {
  float: left;
  width: 305px;
  margin-top: 30px;
  margin-left: 25px;
  color: $text-c35;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 200px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.introduce_dotted {
  float: left;
  margin: 10px 30px 0px 25px;
  width: 305px;
  color: $text-c35;
}
.hrSecond {
  background: $basic-c03;
  height: 1px;
  width: 305px;
  position: relative;
  float: left;
  margin-top: 30px;
  margin-left: 25px;
}

.tvod-detail-third {
  float: left;
  margin-bottom: 30px;
}
.channelBtnContent {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.btnPlay {
  float: left;
  margin-left: 25px;
  text-align: center;
  border: 1px solid $basic-c25;
  height: $bwc2-height;
  border-radius: $rounded-rc1;
  margin-top: 20px;
  .playInfo {
    color: $basic-c01;
    line-height: 28px;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    .playImg {
      @extend .play-14;
      width: 14px;
      height: 14px;
      background-size: cover;
      float: left;
      margin-right: 10px;
      margin-top: 7px;
    }
  }
}

.btnPlay:hover {
  border: 1px solid transparent;
  background-color: $basic-c26;
  cursor: pointer;
}
.btnRecord {
    border: 1px solid $basic-c25;
    height: $bwc2-height;
    margin-left: 25px;
    border-radius: $rounded-rc1;
    margin-top: 70px;
    width: 120px;
}
.recordInfo {
        text-align: center;
        color: $basic-c01;
        line-height: 28px;
        position: relative;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        .recordImg {
            width: 14px;
            height: 14px;
            float: left;
            margin-right: 10px;
            margin-top: 7px;
            background-size: cover;
        }
    }

.btnRecord:hover {
    border: 1px solid transparent;
    background-color: $basic-c26;
    cursor: pointer;
}
.btnStopRecord {
    border: 1px solid $basic-c25;
    height: $bwc2-height;
    margin-left: 25px;
    margin-top: 70px;
    border-radius: $rounded-rc1;
}
.btnStopRecord:hover {
    border: 1px solid transparent;
    background-color: $basic-c26;
    cursor: pointer;
}

.suspensionNoData {
  width: 270px;
  overflow: hidden;
}

.suspensionInfor {
  width: 244px;
  overflow: hidden;
  position: relative;
  border-radius: $rounded-rc1;
  height: 280px;
}

.rightImgNoData {
  float: left;
  width: 22px;
  height: 22px;
  position: relative;
  left: 5px;
  margin-top: 130px;
  display: none;
}

.leftImgNoData {
  float: right;
  width: 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  left: -5px;
  margin-top: 130px;
  display: none;
}

.NodataImg {
  width: 56px;
  height: 56px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-top: 89px;
}

.NoDataInfo {
  color: $basic-c20;
  text-align: center;
  position: relative;
  margin-top: 20px;
}
