<div class="contentChannelBg body-t32" id="contentChannelBg"></div>
<div class="suspensionBig" (mouseenter)="mouseenter('onSuspension')" (mouseleave)="mouseleave('leaveSuspension')" *ngIf="!channelNoData">
    <div id="suspensionchannel" class="hot-suspensionInfor" [ngStyle]="leftStyle">
        <div class="title title-t13" *ngIf="searchAll">{{titleName}}</div>
        <div class="progressAll" *ngIf="searchAll"></div>
        <div class="progressRed" [style.width]="redLen" *ngIf="searchAll"></div>
        <div class="tvod-detail-first" *ngIf="searchAll">
            <div class="tvod-detail-secondary body-t32">{{'min_left' | translate: leftTime}},&nbsp;</div>
        </div>
        <div class="tvod-detail-second" *ngIf="searchAll">
            <div class="timeInfo title-t18">{{showTime}}&nbsp;|&nbsp;{{channel}}

            </div>
        </div>
        <div class="introduce_dotted title-t18" *ngIf="introduceEllipsis && !searchAll && suspensionHide">...</div>
        <div class="tvod-detail-third" [style.marginTop]="smallest ? '30px' : ''" [style.width]="searchAll ? '' : '100%'">
            <div class="btnPlay" (click)="play()">
                <div class="playInfo title-t18">
                    <div class="playImg"></div>{{btnNamePlay | translate}}
                </div>
            </div>
            <div [class]='(btnNameRecord == "stop_recording") ?  "btnStopRecord": "btnRecord"' *ngIf="allowRecord" (click)="goToRecord(btnNameRecord)">
                <div class="recordInfo title-t18">
                    <div class="recordImg" [ngStyle]="recordsImgStyle"></div>
                    <div class="channelBtnContent">{{btnNameRecord | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suspensionNoData" (mouseenter)="mouseenter('onSuspension')" (mouseleave)="mouseleave('leaveSuspension')" *ngIf="channelNoData">
    <div id="suspension" class="suspensionInfor" [ngStyle]="leftStyle">
        <div class="NodataImg nodata2-56"></div>
        <div class="NoDataInfo title-t17">{{'no_program' | translate}}</div>
    </div>
</div>