@import "/src/assets/css/common-variables";
@import "/src/assets/css/unWhiteVariables";

.nobanner {
  margin-top: unit(130);
  position: relative;
}

.banner {
  width: 100%;
  height: unit(580);
  margin-top: unit(-80);
  position: relative;
}

.nav_cover {
  cursor: pointer;
  height: unit(200);
  position: relative;
  z-index: 1;
  background: url(assets/img/banner_cover1_200px.png);
}

.bg_Pic {
  max-height: unit(580);
  z-index: 0;
  position: absolute;
  top: unit(0);
  width: 100%;
  overflow: hidden;
  .cover {
    position: absolute;
    width: 100%;
  }
  img {
    width: 100%;
    cursor: pointer;
  }
}

.content {
  max-width: unit(1320);
  height: unit(200);
  margin: auto;
}

.InfoWrap {
  width: unit(488);
  position: absolute;
  bottom: 20.4%;
  z-index: 1;
  @media screen and (max-width: unit(1440)) {
    bottom: 28.4%;
  }
  .title {
    word-break: break-all;
    max-width: unit(488);
    line-height: unit(57);
    color: $text-c31;
    margin-bottom: unit(40);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: unit(57);
    -webkit-box-orient: vertical;
     @media screen and (max-width: unit(1440)) {
       font-size: unit(36);
     }
  }
  .titleBannerBg {
    width: unit(488);
    color: $text-c31;
    line-height: unit(57);
    word-break: break-all;
    visibility: hidden;
    position: absolute;
  }
  .casts {
    color: $text-c31;
    margin-bottom: unit(70);
    cursor: default;
    .director {
      margin-right: unit(20);
      max-width:unit(488);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      position: absolute;
      margin-top: unit(-15);
    }
    .actor {
      margin-top: unit(5);
      width:unit(488);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      position: absolute;
    }
  }
  .intruduce {
    color: $text-c35;
    font-style: italic;
    margin-bottom: unit(40);
    line-height: unit(20);
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    max-height: unit(60);
    -webkit-box-orient: vertical;
    cursor: default;
  }
  .introduce_dotted {
    float: left;
    margin-top: unit(-40);
    width: unit(305);
    color: $text-c35;
  }
  .title_dotted {
    float: left;
    margin-top: unit(-72);
    width: unit(305);
    color: $text-c31;
  }
}

.play {
  position: absolute;
  background-color: $basic-c04;
  border-radius: $rounded-rc1;
  z-index: 1;
  cursor: pointer;
  min-width: unit(140);
  text-align: center;
  &:hover {
    background-color: $basic-c05;
  }
  .playContent {
    height: $btn2-height;
    border: none;
    color: $text-c31;
    outline: none;
    line-height: unit(40);
    padding-left: unit(30);
    margin: 0 unit(20);
    background-position: unit(0);
  }
}

.bg_grey {
  width: unit(200);
  height: unit(470);
  background: $basic-c10;
  position: absolute;
  top: unit(0);
  z-index: -1;
  border-radius: $rounded-rc1;
  @media screen and (max-width: unit(1440)) {
    width: unit(172);
    height: unit(392);
  }
}

.list {
  width: unit(200);
  height: unit(470);
  position: relative;
  top: unit(-100);
  z-index: 1;
  float: right;
  @media screen and (max-width: unit(1440)) {
    width: unit(164);
    height: unit(470);
    top: unit(-76);
  }
  .up,
  .down {
    cursor: pointer;
    width: unit(24);
    margin: auto;
  }
  .up {
    margin-top: unit(12);
    @extend .angleup2-24;
    &:hover {
      @extend .angleup-24;
    }
     @media screen and (max-width: unit(1440)) {
      margin-top: unit(4);
    }
  }
  .down {
    @extend .angledown2-24;
    &:hover {
      @extend .angledown-24;
    }
  }
  ul {
    position: absolute;
    padding: unit(0);
    margin: unit(0);
    margin-left: unit(15);
  }
  .alpha {
    transform: translate3d(0, 0, 0);
  }
  .beta {
    transform: translate3d(0, -100%, 0);
  }
  .bannerList {
    height: unit(386);
    overflow: hidden;
    position: relative;
    margin-bottom: unit(4);
    margin-top: unit(7);
    @media screen and (max-width: unit(1440)) {
      width: unit(172);
      height: unit(328);
    }
  }
  .whiteBorder {
    width: unit(170);
    @media screen and (max-width: unit(1440)) {
       width: unit(140);
      }
    div {
      height: unit(96);
      background: $basic-c01;
      -webkit-filter: brightness(1);
      -moz-filter: brightness(1);
      filter: Alpha(brightness=1);
      @media screen and (max-width: unit(1440)) {
       height: unit(82);
       width: unit(142);
      }
    }
    img {
      width: unit(166);
      height: unit(92);
      margin: unit(0);
      @media screen and (max-width: unit(1440)) {
       width: unit(138);
       height: unit(78);
      }
    }

  }
  li {
    width: unit(160);
    list-style: none;
    margin: auto;
    @media screen and (max-width: unit(1440)) {
      width: unit(132);
    }
    div {
      width: unit(170);
      height: unit(96);
      background: none;
      -webkit-filter: brightness(0.7);
      -moz-filter: brightness(0.7);
      filter: Alpha(brightness=0.7);
      @media screen and (max-width: unit(1440)) {
        width: unit(132);
        height: unit(82);
      }
    }
    img {
      width: unit(156);
      height: unit(88);
      cursor: pointer;
      padding: unit(2);
      margin: unit(2) unit(0);
      @media screen and (max-width: unit(1440)) {
       width: unit(128);
       height: unit(72);
      }
    }
  }
}
.contentBannerBg {
    width: unit(488);
    color: $text-c35;
    font-style: italic;
    line-height: unit(20);
    word-break: break-all;
    visibility: hidden;
    position: absolute;
}
