<div class="banner" id="banner"  (mouseenter)="closeTimer(curBanner)" (mouseleave)="startTimer(curBanner)" >
  <div class="nav_cover"  (click)="plays()"></div>
  <div class="hasbanner" *ngIf="hasBanner">
    <div class="content" id="bannerContent">
      <div class="InfoWrap">
        <div class="title body-t20" id="banner-title" (click)="plays()" [ngStyle]='showTitleContent()'>{{curBanner.name}}</div>
        <div class="titleBannerBg body-t20" id="titleBannerBg" [textContent]="curBanner.name" (click)="plays()" [ngStyle]='showTitleWidth()'></div>
        <div class="title_dotted body-t20" *ngIf="titleEllipsis">...</div>
        <div class="casts body-t32">
          <span class="director">{{'director'|translate}}&nbsp;{{curBanner.director}}</span>
          <span class="actor">{{'actor'|translate}}&nbsp;{{curBanner.actor}}</span>
        </div>
        <div class="intruduce body-t30" id="banner-introduce" [textContent]="curBanner.intruduce" [ngStyle]='showContent()'></div>
        <div class="contentBannerBg body-t30" id="contentBannerBg" [textContent]="curBanner.intruduce" [ngStyle]='showWidth()'></div>
        <div class="introduce_dotted body-t30" *ngIf = "introduceEllipsis">...</div>
        <div class = "play body-t26" (click)="plays()">
          <span class="playContent angleplay-20" *ngIf="showPlay">{{ 'play' | translate}}</span>
          <span class="playContent buyicon-20" *ngIf="!showPlay">{{ 'buy' | translate}}</span>
        </div>
      </div>
      <div id="cycle-list">
        <div class="list" nb-com="cycle-list">
          <div (click)="onClickUp()" class="up" [ngStyle]="{visibility: (showIcon) ? 'visible' : 'hidden'}"></div>
          <div class="bannerList">
            <ul id="bannerList" class="alpha">
              <li (click)="onChange(banner, '0')" *ngFor="let banner of bannerList" [class]='(curBanner == banner) ?  "whiteBorder": ""'>
                <div>
                  <img src="{{banner.poster}}" onerror="this.onerror=null;this.src='assets/img/default/home_banner_small.png'"/>
                </div>
              </li>
            </ul>
            <ul id="bannerList" class="beta">
              <li (click)="onChange(banner, '1')" *ngFor="let banner of bannerList" [class]='(curBanner == banner) ?  "whiteBorder": ""'>
                <div>
                  <img src="{{banner.poster}}" onerror="this.onerror=null;this.src='assets/img/default/home_banner_small.png'" />
                </div>
              </li>
            </ul>
          </div>
          <div (click)="onClickDown()" class="down" [ngStyle]="{visibility: (showIcon) ? 'visible' : 'hidden'}"></div>
          <div class="bg_grey"></div>
        </div>
      </div>
    </div>
    <div class="bg_Pic">
      <img class="cover" src="{{cover}}" (click)="plays()"/>
      <img class="imgs" src="{{curBanner.picture}}" onerror="this.onerror=null;this.src='assets/img/default/home_banner_1000x480.png'" />
    </div>
  </div>
  <div class="nobanner" *ngIf="!hasBanner&&hasBannerdata">
    <waterfall-noData [nodatatype]="'home'"></waterfall-noData>
  </div>
</div>

