<script type="text/javascript" src="../assets/lib/config.js"></script>
<script>
    var port = ":" + GlobaleConfig.getHttpPort();
  var hash = location.hash;
    var httpUrl = window.location.href.replace('https', 'http').replace(/:\d+/, port);
  httpUrl = httpUrl.replace(/assets\/https.html.*$/ig, 'index.html');
  httpUrl = httpUrl + hash;
  function toIndex() {
    setTimeout(function(){window.location.href = httpUrl;},0);
  }
  toIndex();
</script>
