<div id="videoContainer" [on-notification]="liveTVNotification" (mousemove)="mouseMoveBar($event)">
    <video id="videos" (click)="clickScreen($event)" (dblclick)="changeScreen()" autoplay="true"></video>
    <div class="audio-bg" *ngIf="isLiveTVAUDIO"></div>
    <div id="video-caption" [ngStyle]='{visibility:isLiveTVAUDIO? "hidden":"visible"}'></div>
    <div class="live_load_bg" (dblclick)="changeScreen()">
        <div class="play_loading" (dblclick)="changeScreen()"></div>
    </div>
    <div class="live_blackout" *ngIf="isBlackout">
        <div class="blackout_title"></div>
        <div class="blackout_content"> {{'program_blackout'|translate}}</div>
    </div>

    <div [class]="isPlaypltvCR?'previewTip body-t29':'tipBottom body-t29'" [style.display]=" !isprofileLogin && isPreview && isBarShow  ? 'block':'none'" *ngIf='previewTime'>
        <div>{{'log_in_to_watch'|translate:previewTime}}</div>
        <div class="login" (click)='login()'>{{'log_in' | translate}}</div>
    </div>
    <div [class]="isPlaypltvCR?'previewTip body-t29':'tipBottom body-t29'" [style.display]=" isprofileLogin && isPreview && isBarShow && isShowPreviewTip ? 'block':'none'" *ngIf='previewTime'>
        <div>{{'not_subscribed_watch_trial'|translate: previewTime}}</div>
        <div class="subscribe" (click)='buy()'>
        <div class="subscribeInfo body-t32">{{'buy' | translate}}
            <div class="subscribeBtn buyicon-20"></div>
        </div>
    </div>
    </div>
    <app-play-popup-dialog id="playpopUp" (dblclick)="changeScreen()"></app-play-popup-dialog>
    <div id="topControllers" (click)="clickScreen($event)" class="topController-full" [style.display]=" isFull == 1 && isBarShow ? 'block':'none'">
        <div class="title title-t15" title="{{name|translate}}" [style.opacity]="isJumpOut ? '0.2' : ''">{{channelData}} {{channelName}} | {{name|translate}}</div>
        <div class="rightOption body-t34">
             <span [class]="playType =='LiveTV' && isSupportNPVR ? isRecording ? 'recorded_red-24':'recording_single-24':'unavialable'" [ngStyle]='{visibility:playType ==="TVOD"||playType ==="NPVR" ?"hidden":"visible"}' (click)='record()'>&nbsp;</span>
            <span class="fullscreenlist-24" [ngStyle]='{visibility:playType ==="TVOD"||playType ==="NPVR" ?"hidden":"visible"}' (click)='showMiniEPG()'>&nbsp;</span>
            <span class="fullscreenlist-24" [ngStyle]='{display:playType ==="NPVR" && currentPlaybill.isSeriesPage ?"inline-block":"none"}' (click)='showepisodesList()'>&nbsp;</span>
        </div>
    </div>
    <app-fullscreen-channelcontrol id="fullBar" [style.visibility]="isFull == 1 && isBarShow ? 'visible':'hidden'" *ngIf="pillsDetail" (change)="changeSeek($event)" (input)="inputSeek($event)"></app-fullscreen-channelcontrol>
    <app-mini-epg class="miniEpg" [ngStyle]='{ "display":isShowMiniEPG ? "block": "none" }'></app-mini-epg>
    <app-record-episodes class="recordEpisodes" *ngIf='isEpisodesShow' [data]="episodesDetail"></app-record-episodes>
    <app-livetv-mini-detail *ngIf="haveClicks" [style.visibility]="isFull == 1 && isMiniDetailShow ? 'visible':'hidden'" class="fullminidetail" [minidata]="miniDetailList"></app-livetv-mini-detail>
</div>
