@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

#videoContainer {
  width: 100%;
  height: 100%;
  background: $basic-C00;
  video {
    width: 100%;
    height: 100%;
    display: inline-block;

    &::-webkit-media-controls {
      display: none !important;
    }
  }
}

.audio-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: unit(0);
  left: unit(0);
  @extend .defaultaudio-1920;
  z-index: 2200000000;
}

.previewTip {
  height: unit(40);
  line-height: unit(40);
  background: -webkit-linear-gradient(top, $bg-M7);
  background: -moz-linear-gradient(top, $bg-M7);
  background: -ms-linear-gradient(top, $bg-M7);
  position: absolute;
  width: 100%;
  bottom: unit(53);
  text-indent: unit(20);
  color: $text-c31;
  z-index: 22200000000;
}

.tipBottom {
  height: unit(40);
  line-height: unit(40);
  background: -webkit-linear-gradient(top, $bg-M7);
  background: -moz-linear-gradient(top, $bg-M7);
  background: -ms-linear-gradient(top, $bg-M7);
  position: absolute;
  width: 100%;
  bottom: unit(46);
  text-indent: unit(20);
  color: $text-c31;
  z-index: 22200000000;
}

.subscribe {
  width: unit(112);
  height: unit(28);
  background-color: $basic-c04;
  margin-top: unit(-40);
  margin-right: unit(10);
  float: right;
  border-radius: unit(2);
  cursor: pointer;
  position: absolute;
  right: unit(0);
  z-index: 12;
}

.subscribeBtn {
  width: unit(20);
  height: unit(20);
  background-size: cover;
  float: left;
  margin-top: unit(3);
  margin-left: unit(10);
}

.subscribeInfo {
  color: $text-c31;
  float: left;
  line-height: unit(28);
  text-indent: unit(10);
}

.login {
  width: unit(90);
  height: unit(28);
  line-height: unit(28);
  background-color: $basic-c04;
  margin-top: unit(-40);
  margin-right: unit(10);
  border-radius: unit(2);
  cursor: pointer;
  position: absolute;
  right: unit(0);
  z-index: 12;
  text-align: center;
  text-indent: unit(0);
}

.live_blackout {
  position: absolute;
  background: url(assets/img/load_screen_bg_1920x1080.png) no-repeat;
  background-size: 100% 100%;
  z-index: 22200000000;
  width: 100%;
  height: 100%;
  top: unit(0);
  left: unit(0);
  .blackout_title {
    width: unit(56);
    height: unit(56);
    background: url(assets/img/56/blackout_56.png) 0 0 no-repeat;
    position: relative;
    margin: auto;
    top: unit(435);
  }
  .blackout_content {
    width: unit(320);
    text-align: center;
    margin: auto;
    color: $text-c31;
    top: unit(456);
    position: relative;
  }
}

app-play-popup-dialog {
  position: fixed;
  top: unit(0);
  z-index: 2200000000;
  top: unit(0);
  left: unit(0);
}

.live_load_bg {
  z-index: 22200000000;
  width: 100%;
  height: 100%;
  background: $basic-C00;
  top: unit(0);
  left: unit(0);
  position: absolute;
  display: none;
  .play_loading {
    background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
    z-index: 20;
    animation: login_load_roate_div 2s infinite;
    width: unit(80);
    height: unit(80);
    position: relative;
    margin: auto;
    top: 45%;
  }
  @keyframes login_load_roate_div {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.topController-full {
  position: fixed;
  top: unit(0);
  left: unit(0);
  //z-index: 2200000001;
  width: 100%;
  height: unit(120);
  background: -webkit-linear-gradient(top, $bg-M4);
  background: -moz-linear-gradient(top, $bg-M4);
  background: -ms-linear-gradient(top, $bg-M4);
  .title {
    position: relative;
    color: $text-c31;
    float: left;
    position: absolute;
    margin-top: unit(27);
    margin-left: unit(29);
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .rightOption {
    color: $text-c31;
    position: relative;
    float: right;
    right: unit(30);
    top: unit(30);
    span {
      width: unit(24);
      height: unit(24);
      display: inline-block;
      margin-left: unit(27);
      cursor: pointer;
    }
    .unavialable {
      cursor: default;
      @extend .recording_unavialable-24;
    }
  }
}

.infoButton {
  @extend .list-24;
  position: fixed;
  bottom: unit(8);
  z-index: 2200000000;
  width: unit(24);
  height: unit(24);
  right: unit(170);
  cursor: pointer;
}

.miniEpg, .recordEpisodes {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2200000002;
  top: unit(0);
}

.fullminidetail {
  position: absolute;
  z-index: 2200000002;
}
