@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.mini-epg-container {
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 100%;
  background: $basic-C08;
  position: fixed;
}

.hide {
  width: unit(28);
  height: unit(128);
  @extend .fullscreen-packup;
  cursor: pointer;
  position: absolute;
  right: unit(428);
}

@-webkit-keyframes fullscreanfade-in {
  0% {
    opacity: 0;
    right: unit(-428)
  }
  100% {
    opacity: 1;
    right: unit(0);
  }
}

@-webkit-keyframes fullsreanfade-out {
  0% {
    opacity: 1;
    right: unit(0)
  }
  100% {
    opacity: 0;
    right: unit(-428);
  }
}

.mini-epg-out {
  width: unit(428);
  font-size: 0;
  background: $basic-c14;
  position: fixed;
  right: unit(-428);
  -webkit-animation: fullsreanfade-out 1s;
}

.mini-epg-in {
  width: unit(428);
  font-size: 0;
  background: $basic-c14;
  position: fixed;
  right: unit(0);
  -webkit-animation: fullscreanfade-in 1s;
}

.title {
  height: unit(67);
  line-height: unit(67);
  div {
    display: inline-block;
    color: $text-c35;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
  }
  .all {
    margin-left: unit(35);
    margin-right: unit(94);
  }
  .fav {
    margin-left: unit(19);
    left: unit(-25);
  }
  .all-selected {
    margin-left: unit(35);
    margin-right: unit(94);
    color: $text-c31;
  }
  .fav-selected {
    color: $text-c31;
    margin-left: unit(19);
    left:unit(-25);
  }
  .title-bg {
    position: absolute;
    width: unit(120);
    height: unit(3);
    left: calc((100% - 120px) / 2);
    bottom: 0;
    background: $basic-c04;
  }
}

.mini-epg-channels {
  display: inline-block;
  overflow: hidden;
  div {
    display: inline-block;
    vertical-align: middle;
  }
  ul {
    padding: 0;
    margin: 0;
    position: relative;
  }
  .curplaybillLi {
    background: $basic-c21;
  }
  li {
    list-style: none;
    height: unit(70);
    width: unit(428);
    line-height: unit(70);
    border-top: unit(1) solid $basic-c21;
    cursor: pointer;
    &:hover {
      background: $basic-c21;
    }
  }
  li:first-child {
    border: none;
  }
  .channelNo {
    color: $text-c34;
    text-align: center;
    width: unit(32);
    margin: unit(0) unit(15);
  }
  .channelLogo {
    width: unit(54);
    height: unit(54);
    position: relative;
    text-align: center;
    img {
      margin: unit(6) 0;
      width: unit(42);
      height: unit(42);
    }
    img[src=""]{
      opacity: 0;
    }
    .defaultImg{
      color: $text-c31;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: unit(42);
      height: unit(42);
      margin-bottom: unit(12);
      line-height: unit(36);
      font-size: unit(19);
    }
    .HD {
      width: unit(32);
      height: unit(32);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .lockandfav {
    width: unit(16);
    margin: unit(0) unit(25) unit(0) unit(10);
    .lock,
    .fav,
    .pltvcrImgChannel {
      display: block;
      margin: unit(5) 0;
    }
  }
  .playbill {
    width: unit(231);
    margin-right: unit(14);
    .name {
      color: $text-c35;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .playbillLock {
      margin-left: unit(15);
    }
    .recording {
      margin-left: unit(15);
    }
  }
  .curplaybill {
    width: unit(231);
    margin-right: unit(14);
    height: unit(70);
    position: relative;
    .curName {
      position: absolute;
      top: unit(-17);
      color: $text-c31;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .timeAndseasion {
      position: absolute;
      top: unit(10);
      letter-spacing: unit(-1);
      color: $text-c35;
    }
    .curPlaybillLock {
      float: right;
      margin-top: unit(9);
      margin-left: unit(15);
    }
    .curRecording {
      float: right;
      margin-left: unit(15);
      margin-top: unit(9);
    }
    .progress {
      position: absolute;
      display: block;
      top: unit(59);
      width: unit(233);
      height: unit(3);
      background: $basic-c03;
      .percent {
        display: block;
        background: $basic-c31;
        height: unit(3);
        width: 0;
      }
    }
  }
  .scrollList {
    position: absolute;
    top: unit(20);
    right: unit(0);
    .scroll {
      width: unit(0);
      right: unit(0);
      top: unit(57);
      bottom: unit(8);
      cursor: pointer;
      position: absolute;
      background: $basic-C09;
      span {
        height: unit(0);
        width: unit(6);
        top: unit(0);
        left: unit(-16);
        bottom: unit(0);
        cursor: pointer;
        position: absolute;
        background: $basic-c03;
        border-radius: unit(24);
      }
    }
  }
  .noFavorite {
    width: unit(428);
    margin: 0 auto;
    display: inline-block;
  }
}

.mini-epg-load {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  margin-left: unit(174);
  z-index: 99999;
  display: none;
  .spinner {
    position: absolute;
    left: 0;
    width: unit(80);
    height: unit(80);
    background: url(assets/img/80/login_popup_load_80x80.png) no-repeat 100% 100%;
    -webkit-animation: login_load_roate_div 2s infinite;
    animation: login_load_roate_div 2s infinite;
  }
}
