<div class="mini-epg-container">
  <div class="bg" (click)='close()'></div>
  <div id='miniEPG' [class]="isShow ? 'mini-epg-in' : 'mini-epg-out'">
    <div class="hide" [ngStyle]='hidePosition()' (click)='close()'></div>
    <div class="title">
      <div [class]="isSelect?'all-selected title-t15':'all title-t14'" (click)='clickTitle("all")'>{{'all_channel'|translate}}<div class='title-bg' *ngIf='isSelect'></div></div>
    </div>
    <div class="mini-epg-channels" id="miniEPGChannels" [ngStyle]='allListStyle()'>
      <ul id="miniEPGUl">
        <li *ngFor='let channel of channelList' [class]="channel.channelId==curPlayChannelID?'curplaybillLi':''" [ngStyle]="{visibility:channel.channelNo?'visible':'hidden'}" (click)="play(channel)">
          <div class="channelNo body-t32">{{channel.channelNo}}</div>
          <div class="channelLogo channellogobg-54">
            <img src="{{channel.logo}}" *ngIf="!channel.showChannelLogo" (error)="this.onerror=null;isChannelLogo(channel)">
            <div class="defaultImg" *ngIf="channel.showChannelLogo" >{{channel && channel.channelDetail && channel.channelDetail.name}}</div>
          </div>
          <div class="lockandfav"><div class="lock lock2-16" *ngIf='channel.isChannelLocked'></div><div class="pltvcrImgChannel replay-16" *ngIf="channel.ispltvCR"></div><div class="fav fav-16" *ngIf='channel.isFav'></div></div>
          <div class="curplaybill" *ngIf='channel.channelId==curPlayChannelID'>
            <div class="curName body-t29" [ngStyle]='{maxWidth:channel.width}'>{{channel.playBillName| translate}}</div>
            <div class="curPlaybillLock  lock2-16" *ngIf='channel.isPlayBillLocked'></div>
            <div [class]="channel.isRecording =='1'?'curRecording singlerecord-16':'curRecording Serialrecording_16'" *ngIf='channel.isRecording'></div>
            <div class="timeAndseasion body-t29"><div>{{channel.leftTime}}</div><div *ngIf="channel.seasonNo || channel.sitcomNo">&nbsp;{{'vod_line'|translate}}&nbsp;</div><div *ngIf="channel.seasonNo">{{'vod_season'|translate: channel.seasonNo}},&nbsp;</div><div *ngIf="channel.sitcomNo">{{'episode'|translate: channel.sitcomNo}}</div></div>
            <div class="progress"><div class="percent" [ngStyle]='{width:channel.len}'></div></div>
          </div>
          <div class="playbill" *ngIf='channel.channelId!=curPlayChannelID'>
            <div class="name body-t29" [ngStyle]='{maxWidth:channel.width}'>{{channel.playBillName| translate}}</div>
            <div [class]="channel.isRecording =='1'?'recording singlerecord-16':'recording Serialrecording_16'" *ngIf='channel.isRecording' ></div>
            <div class="playbillLock  lock2-16" *ngIf='channel.isPlayBillLocked'></div>
          </div>
        </li>
      </ul>
      <div class="scrollList">
        <div class="scroll" id="mini-epg-scroll">
          <span id="mini-epg-scroll-span"></span>
        </div>
      </div>
    </div>
    <div class="mini-epg-channels" id="miniEPGFavChannels" [ngStyle]='favListStyle()'>
      <ul id="miniEPGFavUl">
        <li *ngFor='let channel of channelFavList' [class]="channel.channelId==curPlayChannelID?'curplaybillLi':''" [ngStyle]="{visibility:channel.channelId?'visible':'hidden'}"  (click)="play(channel)">
          <div class="channelNo body-t32">{{channel.channelNo}}</div>
          <div class="channelLogo channellogobg-54">
            <img src="{{channel.logo}}" *ngIf="!channel.showChannelLogo" (error)="this.onerror=null;isChannelLogo(channel)">
            <div class="defaultImg" *ngIf="channel.showChannelLogo" >{{channel && channel.channelDetail && channel.channelDetail.name}}</div>
          </div>
          <div class="lockandfav"><div class="lock lock2-16" *ngIf='channel.isChannelLocked'></div><div class="pltvcrImgChannel replay-16" *ngIf="channel.ispltvCR"></div></div>
          <div class="curplaybill" *ngIf='channel.channelId==curPlayChannelID'>
            <div class="curName body-t29" [ngStyle]='{maxWidth:channel.width}'>{{channel.playBillName| translate}}</div>
            <div class="curPlaybillLock  lock2-16" *ngIf='channel.isPlayBillLocked'></div>
            <div [class]="channel.isRecording =='1'?'curRecording singlerecord-16':'curRecording Serialrecording_16'" *ngIf='channel.isRecording'></div>
            <div class="timeAndseasion body-t29">{{channel.leftTime}}<div *ngIf="channel.seasonNo || channel.sitcomNo">&nbsp;{{'vod_line'|translate}}&nbsp;</div><div *ngIf="channel.seasonNo">{{'vod_season'|translate: channel.seasonNo}},&nbsp;</div><div *ngIf="channel.sitcomNo">{{'episode'|translate: channel.sitcomNo}}</div></div>
            <div class="progress"><div class="percent" [ngStyle]='{width:channel.len}'></div></div>
          </div>
          <div class="playbill" *ngIf='channel.channelId!=curPlayChannelID'>
            <div class="name body-t29" [ngStyle]='{maxWidth:channel.width}'>{{channel.playBillName | translate}}</div>
            <div class="recording recordingred-16" *ngIf='channel.recording'></div>
            <div class="playbillLock  lock2-16" *ngIf='channel.isPlayBillLocked'></div>
          </div>
        </li>
      </ul>
      <div class="scrollList">
        <div class="scroll" id="mini-epg-fav-scroll">
          <span id="mini-epg-fav-scroll-span"></span>
        </div>
      </div>
      <div class="noFavorite"  [ngStyle]="noDataStyle()">
        <waterfall-noData [nodatatype]="'miniEPG'" ></waterfall-noData>
      </div>

    </div>
    <div class="mini-epg-load" >
      <div class="spinner"></div>
    </div>
  </div>
</div>
