<div class="scheduled-record">
  <div class="filter">
    <div class="seriesName body-t32" *ngIf="!hasType" (click)="returnFirstPage()">< {{seriesName}}</div>
    <div [class]="hasType || recordingMode == 'MIXPVR' ? 'sort body-t32' : 'sortSolid body-t32'">
      <div class="sort-name body-t32">{{'recored_sort' | translate}}</div>
      <div *ngFor="let option of sort; let i = index" (click)="selectFilter(option.ID,'sort',i)" [class]="sortIndex == i  ? 'selectSort body-t32':'itemSort'">
        <div class="itemInfo">{{option.name | translate}}</div>
      </div>
    </div>
    <div [class]="recordingMode == 'MIXPVR' ? 'type body-t32' : 'typeSolid body-t32'" *ngIf="hasType">
      <div class="type-name body-t32">{{'recored_type' | translate}}</div>
      <div *ngFor="let option of type; let i = index" (click)="selectFilter(option.ID,'type',i)" [class]="typeIndex == i  ? 'selectSort body-t32':'itemSort'">
        <div class="itemInfo">{{option.name | translate}}</div>
      </div>
    </div>
    <div class="storage body-t32" *ngIf="(recordingMode == 'MIXPVR' || recordingMode == 'CPVR&NPVR') && hasType">
      <div class="storage-name body-t32">{{'record_sorage' | translate}}</div>
      <div *ngFor="let option of storage; let i = index" (click)="selectFilter(option.ID,'storage',i)" [class]="storageIndex == i  ? 'selectSort body-t32':'itemSort'">
        <div class="itemInfo">{{option.name | translate}}</div>
      </div>
    </div>
  </div>
  <div class="content" *ngIf="hasType && filterData">
    <my-recording [dataRecord]="recordFilterLists" (deleteRecord)="deleteRecord($event)" (detailRecord)="detailRecord($event)" ></my-recording>
  </div>
  <div class="contentSeries" *ngIf="!hasType && filterData">
    <my-recording [dataRecord]="recordFilterListss" (deleteRecord)="deleteRecord($event)" (detailRecord)="detailRecord($event)" ></my-recording>
  </div>
  <div class="noData" *ngIf="!hasData && !filterData && showNO && !showLoadCycle">
    <waterfall-noData [nodatatype]="'recordScheduled'"></waterfall-noData>
  </div>
  <div class="noData" *ngIf="!filterData && hasData && showNO && !showLoadCycle">
    <waterfall-noData [nodatatype]="'noFilter'"></waterfall-noData>
  </div>
  <div class="record-filter-load" *ngIf="showLoadCycle">
    <div class="spinner"></div>
  </div>
</div>
