@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.scheduled-record {
  width: unit(1086);
}

.filter {
  width: unit(1086);
  position: relative;
  margin: auto;
  overflow: hidden;
  .seriesName {
    color: $text-c35;
    margin-top: unit(10);
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .seriesName:hover {
    color: $text-c31;
  }
  .type-name,
  .sort-name,
  .storage-name {
    height: unit(22);
    line-height: unit(22);
    color: $text-c35;
    position: relative;
    float: left;
    width: unit(75);
    margin-top: unit(12);
  }
  .sort,
  .type {
    color: $text-c35;
    width: unit(1086);
    overflow: hidden;
    height: unit(46);
    float: left;
    border-bottom: unit(1) dashed $basic-c03;
  }
  .sortSolid,
  .typeSolid {
    color: $text-c35;
    width: unit(1086);
    overflow: hidden;
    height: unit(46);
    float: left;
    border-bottom: unit(1) solid $basic-c03;
  }
  .storage {
    color: $text-c35;
    width: unit(1086);
    overflow: hidden;
    height: unit(46);
    float: left;
    border-bottom: unit(1) solid $basic-c03;
  }
  .itemSort {
    margin-right: unit(30);
    padding-left: unit(11);
    padding-right: unit(11);
    height: unit(22);
    line-height: unit(22);
    float: left;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    margin-top: unit(12);
  }
  .selectSort {
    background-color: $basic-c04;
    color: $text-c31;
    border-radius: unit(10);
    padding-left: unit(11);
    padding-right: unit(11);
    margin-right: unit(30);
    height: unit(22);
    line-height: unit(22);
    float: left;
    text-align: center;
    cursor: pointer;
    margin-top: unit(12);
  }
  .itemInfo {
    padding-top: unit(2);
    line-height: unit(18);
  }
}

.content {
  position: relative;
  margin-top: unit(66);
  bottom: unit(46);
}

.contentSeries {
  position: relative;
  margin-top: unit(66);
  bottom: unit(46);
}

.noData {
  margin-top: unit(200);
  position: relative;
}

.record-filter-load {
  position: absolute;
  top: 50%;
  left: 53%;
  z-index: 99999;
  .spinner {
    position: absolute;
    left: 0;
    width: unit(80);
    height: unit(80);
    background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
    -webkit-animation: login_load_roate_div 2s infinite;
    animation: login_load_roate_div 2s infinite;
  }
}

@media screen and (max-width: unit(1440)) {
  .scheduled-record {
    width: unit(686);
  }
  .filter {
    width: unit(686);
  }
}
