<div id='viewvodHome'>
  <div class='likevod-line'></div>
  <div id='viewvod-title' class="title-t13">{{viewTitle}}</div>
  <waterfall-vod class="waterfall" [data]="moreVodList" *ngIf="moreVodList"
  (child)="vodDetail($event)"></waterfall-vod>

  <div class="noRecmList" *ngIf="!hasRecmList">
        <waterfall-noData [nodatatype]="'ondemand'"></waterfall-noData>
    </div>
</div>
