@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

#viewvodHome {
  position: relative;
  width: unit(1280);
  margin: 0 auto;
  @media screen and (max-width: unit(1440)) {
    width: unit(980);
    margin: 0 auto;
  }
  #viewvod-title {
    height: unit(24);
    margin: 0;
    line-height: unit(24);
    padding-bottom: unit(1);
    position: relative;
    margin-bottom: unit(18);
    color: $text-c31;
    display: inline-block;
    cursor: default;
  }
  .likevod-line {
    border: 0;
    background-color: $basic-c03;
    height: unit(1);
    width: unit(1280);
    margin-bottom: unit(40);
    @media screen and (max-width: unit(1440)) {
      width: unit(980);
    }
  }
}

.noRecmList {
  margin-top: unit(270);
  position: relative;
}
