@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.passInput {
  text-align: center;
  width: unit(460);
  height: unit(355);
  background: $basic-c14;
  margin: auto;
  .title {
    border-bottom: 1px solid $basic-c19;
    height: unit(60);
    line-height: unit(60);
    .titile-message {
      color: $text-c35;
    }
    .titile-close {
      background: url(assets/img/32/delete_32.png) no-repeat;
      width: unit(32);
      height: unit(32);
      position: relative;
      display: block;
      float: right;
      margin-right: unit(35);
      margin-top: unit(-46);
      cursor: pointer;
    }
  }
  .content {
    max-width: unit(354);
    margin: auto;
    position: relative;
    padding-bottom: unit(35);
    .contentMessage {
      width: unit(354);
      height: unit(75);
      position: relative;
      input {
        color: $text-c34;
        width: 260px;
        height: unit(22);
        padding-top: unit(9);
        padding-bottom: unit(9);
        border-left: 0;
        padding-left: 10px;
        padding-right: 30px;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        background-color: $basic-c19;
        top: 10px;
        margin-top: unit(35);
        left: unit(12);
        border-radius: unit(2);
        outline: none;
      }
       .placeholderLiveBg{
          color: $text-c34;
          position: absolute;
          left: 40px;
          top: unit(32);
          cursor: text;
       }
      #pass-Wordsss {
        color: $text-c31;
        margin-top: 20px;
        margin-bottom: unit(15);
      }
      .error_message_all {
        width: unit(354);
        text-align: left;
        padding-left: unit(29);
        .error_message {
          color: $text-c33;
          top: unit(-8);
          position: relative;
        }
      }
      .emptyPassword_message_all {
        width: unit(354);
        text-align: left;
        padding-left: unit(29);
        .emptyPassword_message {
          color: $text-c33;
          top: unit(-8);
          position: relative;
        }
      }
      .delete-Pass-Word {
        height: unit(16);
        width: unit(16);
        background: url(assets/img/16/close_16.png) no-repeat;
        position: absolute;
        left: unit(306);
        top: unit(32);
        cursor: pointer;
      }
    }
    .contentInfo {
      display: block;
      color: $text-c31;
      line-height: unit(24);
      padding-top: 20px;
      max-width: unit(345);
      margin: auto;
    }
    .forget_me{
      width: unit(327);
      text-align: right;
      margin-right: 0px;
      margin-top: unit(13);
      margin-bottom: unit(15);
      a{
        height: unit(24);
        line-height: unit(24);
        color: $text-c36;
      }
    }
    .buttomConfirm {
      #confirmBut {
        margin-top: unit(22);
        width: 140px;
        height: 40px;
        line-height: 40px;
        margin-left: unit(107);
        border-radius: unit(2);
        display: block;
      }
      .confirm-able {
          background: $basic-c04;
          color: $text-c31;
          cursor: pointer;
          &:hover {
              background: $basic-c05;
          }
      }
      .confirm-disable {
          background-color: $basic-c23;
          color: $text-c35;
          cursor: default;
      }
    }
  }
  .pass_load_content{
		width: 80px;
    height: 80px;
    position: relative;
    top: -130px;
    background: $basic-C08;
    margin: auto;
    border-radius: unit(5);
    }
    .pass_load{
    	background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
	    z-index: 20;
	    animation: login_load_roate_div 2s infinite;
	    width: 80px;
	    height: 80px;
	    position: relative;
    }
}
