<div class="passInput">
  <div class="title">
    <div class="titile-message body-t26">{{'enterPassword' | translate}}</div>
    <span class="titile-close" (click)="close()"></span>
  </div>

  <div class="content">
    <div class="contentInfo body-t29">{{contentInfo}}</div>
    <div class="contentMessage body-t32">
      <input type="password" [ngStyle]="{display:'none'}" />
      <input type="text" tabindex="12" id="pass-Wordsss" [(ngModel)]="userPassword" autocomplete="off" (keyup)="changePassword($event)"
        name="userPassword" (focus)="showPassword()" (blur)="hidePassword()" maxlength="128" (keydown)="keydownPassword()" onfocus="this.type='password'" onpaste="return false;"
      />
      <div class="placeholderLiveBg " id="placeholderLive_Bg" [ngStyle]="{display: (showplaceholderLive && errorlivefocus) ? 'block' : 'none'}" (click)="onplaceholdLive()"> {{'password' | translate}} </div>
      <div class="error_message_all">
        <div class="error_message" [ngStyle]="{display: (errorMessage) ? 'inline-block' : 'none'}" autocomplete="off">
          {{'password_not_correct_try_again' | translate}}
        </div>
      </div>
      <div class="emptyPassword_message_all">
        <div class="emptyPassword_message" [ngStyle]="{display: (emptyPasswordMessage) ? 'inline-block' : 'none'}">
          {{'pwd_empty' | translate}}
        </div>
      </div>
      <div class="delete-Pass-Word" [ngStyle]="{display: (deletePassWord) ? 'block' : 'none'}" (click)="removePassWord()"></div>
    </div>
    <div class="forget_me body-t32" [ngStyle]="{display: forgetpassword ? 'block' : 'none'}">
      <a [href]="forgot_password_url" target="_blank">{{'forget_password'| translate}}</a>
    </div>
    <div class="buttomConfirm body-t26">
      <div [class]="(btnStyleChange()) ? 'confirm-able' : 'confirm-disable'" id="confirmBut" (click)="confirm()">{{'confirm_ok' | translate}}</div>
    </div>
  </div>
  <div class="pass_load_content" [ngStyle]="{display: passLoadDisplay ? 'block' : 'none'}">
    <div class="pass_load"></div>
  </div>
</div>
