<div class="app-account-register" [ngStyle]="{height: (emailSent ? '645px' : '')}">

  <div class="login-title logo-huawei">
    <span class="font-movie-title title-t14">{{'registration' | translate}}</span>
    <div class="register-close" (click)="close()"></div>
  </div>

  <div name="registerForm" class="register-form" [ngStyle]="{top: getTopOffset() + 'px'}">
    <input type="password" [ngStyle]="{display:'none'}" />

    <div class="error_message body-t32" [ngStyle]="{display: errors.count() ? 'inline' : 'none'}">
      <div *ngFor="let message of errors.messages">{{ message | translate }}</div>
    </div>

    <div class="info_message body-t32" [ngStyle]="{display: (emailSent || sending) ? 'block' : 'none' }">
      {{ (emailSent ? 'confirmation_email_sent' : 'sending') | translate }}
    </div>

    <input
      class="body-t32"
      tabindex="1"
      id="login-ID"
      type="text"
      name="userID"
      maxlength="128"
      autocomplete="off"
      [disabled]="emailSent || sending"
      [ngClass]="{inputError: errors.getField('login')}"
      [(ngModel)]="userID"
      (focus)="loginNameFocus($event)"
      (blur)="loginNameBlur($event)"
      (keyup)="changeLoginName($event)"
      (keydown)="keydownLogin($event)"
    />

    <div
      class="placeholderIDBg body-t32" id="placeholderID_Bg"
      [ngStyle]="{display: (showplaceholderId) ? 'block' : 'none'}"
      (click)="onplaceholdId()"
    >
      {{'login_email' | translate}}
    </div>

    <div
      class="delete-Login-Name"
      [ngStyle]="{display: (deleteLoginName) ? 'block' : 'none'}"
      (mousedown)="removeLoginName()"
    ></div>

    <input
      class="body-t32"
      tabindex="2"
      id="pass-Word"
      name="userPassword"
      maxlength="128"
      autocomplete="off"
      onfocus="this.type='password'"
      [disabled]="emailSent || sending"
      [ngClass]="{inputError: errors.getField('pass')}"
      [(ngModel)]="userPassword"
      (keyup)="changePassword($event)"
      (focus)="showPassword()"
      (blur)="hidePassword();passwordBlur($event)"
      (keydown)="keydownPassword($event)"
    />

    <div
      class="placeholderBg body-t32"
      id="placeholder_Bg"
      [ngStyle]="{display: (showplaceholder) ? 'block' : 'none'}"
      (click)="onplacehold()"
    >
      {{'password' | translate}}
    </div>

    <input
      class="body-t32"
      tabindex="3"
      id="pass-Word-repeat"
      name="userPasswordRepeat"
      maxlength="128"
      autocomplete="off"
      onfocus="this.type='password'"
      [disabled]="emailSent || sending"
      [ngClass]="{inputError: errors.getField('repeat')}"
      [(ngModel)]="userPasswordRepeat"
      (keyup)="changePasswordRepeat($event)"
      (focus)="showPasswordRepeat()"
      (blur)="hidePasswordRepeat($event)"
      (keydown)="keydownPasswordRepeat()"
    />

    <div
      class="placeholderRepBg body-t32"
      id="placeholder_Bg_Rep"
      [ngStyle]="{display: (showplaceholderRep) ? 'block' : 'none'}"
      (click)="onplaceholdRep()"
    >
      {{'repeat_password' | translate}}
    </div>

    <div
      class="delete-Pass-Word-Repeat"
      [ngStyle]="{
        display: (userPassword === userPasswordRepeat && userPasswordRepeat !== '') ? 'block' : 'none'
      }"
    ></div>

    <div class="body-t32 password-constrains">{{'password_constrains' | translate}}</div>

    <div
      class="btnID body-t26"
      id="logBtn"
      tabindex="5"
      (click)="onRegister()"
      [ngClass]="{ 'active': btnStyleChange(), 'disabled': !btnStyleChange()}"
    >
      {{(emailSent ? 'confirm_registration' : 'sign_up') | translate}}
    </div>

    <div class="after_submit">
      <div class="body-t32 fakecaptcha" [ngClass]="{sent: emailSent}">
        <img src="https://www.gstatic.com/recaptcha/api2/logo_48.png" />
        <span>reCAPTCHA</span>
        <small>
          <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy</a>
          •
          <a href="https://www.google.com/intl/en/policies/terms/" target="_blank">Terms</a>
        </small>
      </div>
      <div class="body-t32 resend" [ngStyle]="{display: (emailSent) ? 'block' : 'none'}">
        <span class="resend-icon"></span>
        <span [ngStyle]="{color: countdown.get() > 0 ? '' : '#f5f5f5'}">
          {{'dont_get_email' | translate}}
          <br/>
          <a [ngClass]="{disabled: countdown.get() > 0}" (click)="resendEmail()">{{'resend_email' | translate}}</a>
          <br/>
          <span [ngStyle]="{display: (countdown.get() > 0) ? 'block' : 'none'}">
            {{ 'countdown' | translate }} {{countdown.readable()}}
          </span>
        </span>
      </div>
      <div class="body-t32 captcha" id="recaptcha-c"></div>
    </div>

    <div class="privacy_agree">
      <input
        type="button"
        tabindex="4"
        class="checkagree body-t26"
        [disabled]="emailSent || sending"
        (click)="checkagree()"
        [ngStyle]="{'background':checkedPrivacyBg}"
      />

      <div class="body-t32">
        <span>
          {{'i_agree_with'| translate}} <a [href]="termsUrl" target="_blank">{{'user_terms_par' | translate}}</a>
        </span>
      </div>
    </div>

  </div>
  <div class="register_load_content" [ngStyle]="{display: (loginLoadDisplay) ? 'inline' : 'none'}">
    <div class="register_load"></div>
  </div>
</div>
