@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";
@import "/src/share/scss/variables.scss";

/* Catch the captcha */
body > div[style]:last-child {
  z-index: 9999999999999;
}

.app-account-register {
    background: $basic-c14;
    width: unit(460);
    height: unit(680);
  margin: auto;
  position: relative;

  input {
    &.inputError {
      border: 1px solid $text-c33 !important;
      margin-bottom: -1px;
    }
    &[disabled] {
      color: $text-c34 !important;
    }
  }

    .login-title{
    	width: unit(460);
      height: unit(60);
      line-height: unit(60);
      text-align: center;
      border-bottom: unit(1) solid $basic-c19;
      span{
      color: $text-c35;
      }
      .register-close{
      background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
      width: unit(20);
      height: unit(20);
      position: relative;
      top: unit(-43);
      left: unit(405);
      cursor: pointer;
      }
    }
    .register-form{
    	text-align: center;
    	height: unit(271);
    	position: relative;

    #login-ID{
      color: $text-c31;
        width: unit(300);
        height: unit(40);
        padding-top: unit(9);
        padding-bottom: unit(9);
        border-left: 0;
        padding-left: unit(10);
        padding-right: unit(30);
        border-right: 0;
        border-top: 0;
        border-bottom: 0;
        background-color: $basic-c19;
        top: unit(10);
        margin-top: unit(35);
        left: unit(12);
        border-radius: unit(2);
        outline:none;
      ime-mode:disabled;

      &.inputError {
        margin-top: unit(34);
      }
    }
    #pass-Word{
      color: $text-c31;
        width: unit(300);
        height: unit(40);
        padding-top: unit(9);
        padding-bottom: unit(9);
        border-left: unit(0);
        padding-left: unit(10);
        padding-right: unit(30);
        border-right: unit(0);
        border-top: unit(0);
        border-bottom: unit(0);
        background-color: $basic-c03;
        top: unit(10);
        margin-top: unit(20);
        left: unit(12);
        border-radius: unit(2);
        outline:none;
      ime-mode:disabled;

      &.inputError {
        margin-top: unit(19);
      }
    }
    #pass-Word-repeat{
      color: $text-c31;
        width: unit(300);
        height: unit(40);
        padding-top: unit(9);
        padding-bottom: unit(9);
        border-left: unit(0);
        padding-left: unit(10);
        padding-right: unit(30);
        border-right: unit(0);
        border-top: unit(0);
        border-bottom: unit(0);
        background-color: $basic-c03;
        top: unit(10);
        margin-top: unit(20);
        left: unit(12);
        border-radius: unit(2);
        outline:none;
      ime-mode:disabled;

      &.inputError {
        margin-top: unit(19);
      }
    }
    .placeholderIDBg{
      color: $text-c34;
      position: absolute;
      left: unit(91);
      top: unit(47);
      cursor: text;
    }
    .placeholderBg{
      color: $text-c34;
      position: absolute;
      left: unit(91);
      top: unit(106);
      cursor: text;
    }
    .placeholderRepBg{
      color: $text-c34;
      position: absolute;
      left: unit(91);
      top: unit(167);
      cursor: text;
    }
    	.error_message,
    	.info_message{
      position: absolute;
      color: $text-c33;
      width: 100%;
      box-sizing: border-box;
      left: unit(0);
      bottom: unit(260);
      margin: auto;
    		padding: unit(9) unit(81) 0;
    	}
    	.info_message {
    		color: $text-c34;
    		width: auto;
    	}
    	.after_submit {
        text-align: left;
        padding: 0 80px;
    		color: $text-c34;
    		.resend {
    			padding-top: unit(20);
    			.resend-icon {
            display: block;
            height: unit(40);
            float: left;
            width: unit(18);
            margin-right: unit(10);
            background: url(assets/img/16/replay_16.png) no-repeat top center;
            opacity: 0.4;
            transform: scaleX(-1);
    			}
    		}
    		a {
    			color: $text-c36;

    			&.disabled {
      			color: $text-c34;
      			pointer-events: none;
      		}
      	}
      	.fakecaptcha {
      		a {
      			color: $text-c32;
      		}
      	}
    	}
    	.login_error_message{
      position: absolute;
      color: $text-c33;
      padding-top: unit(9);
    	}
    	.btnID{
      width: unit(300);
      margin-top: unit(36);
      background: $basic-c23;
      height: unit(40);
      line-height: unit(40);
      color: $text-c35;
      margin-left: unit(80);
      border-radius: unit(2);
      cursor: pointer;
      border: none;

            &.disabled {
                background: $basic-c23;
                color: #8f8f8f;
                pointer-events: none;
            }
            &.active {
                background: linear-gradient(to right, $basic-c31, $basic-c32);
                color: #f5f5f5;
                pointer-events: all;

                &:hover {
                    background: $basic-c31;
                }
            }
    	}
    	.delete-Login-Name{
        height: unit(16);
        width: unit(16);
      	background: url(assets/img/16/close_16.png) no-repeat;
      position: absolute;
      right: unit(89);
      top: unit(47);
      cursor: pointer;
    	}

    	.delete-Pass-Word{
        height: unit(16);
        width: unit(16);
      	background: url(assets/img/16/close_16.png) no-repeat;
      position: absolute;
      right: unit(89);
      top: unit(107);
      cursor: pointer;
    	}
    	.delete-Pass-Word-Repeat{
        height: unit(16);
        width: unit(16);
      	background: url(assets/img/16/select_16.png) no-repeat;
      position: absolute;
      right: unit(89);
      top: unit(168);
      cursor: pointer;
    	}

    }
    .password-constrains {
    	color: $text-c34;
    	font-size: unit(12);
      padding: unit(20) unit(80) 0;
      text-align: left;
    }
    .remember{
      height: unit(24);
      width: 100%;
      position: relative;
    	.checkautotab{
      width: unit(18);
      height: unit(18);
      cursor: pointer;
      left: unit(81);
      float: left;
      top: unit(20);
      position: relative;
      outline: none;
      background: none;
      padding-right: unit(0);
      border: unit(1) solid $text-c35;
    	}
    	span{
      color: $text-c31;
      height:  unit(24);
      line-height:  unit(24);
      float: left;
      left:  unit(92);
      top:  unit(17);
      position: relative;
    	}
    }
    .no_registration {
      padding: unit(24) 0;
      color: $text-c31;
      a{
      color: $text-c36;
      }
    }
  .forget_me{
    a{
      height:  unit(24);
      line-height:  unit(24);
      float: right;
      right:  unit(80);
      bottom:  unit(130);
      position: absolute;
      color: $text-c36;
    }
  }
  .privacy_agree{
      height:  unit(24);
      width: 100%;
      position: relative;
    margin-top:  unit(10);
    	.checkagree{
      width:  unit(18);
      height:  unit(18);
      cursor: pointer;
      left:  unit(81);
      float: left;
      top:  unit(20);
      position: relative;
      outline: none;
      background: none;
      padding-right:  unit(0);
      border:  unit(1) solid $text-c35;
    	}
    	span{
      color: $text-c31;
      height:  unit(24);
      line-height:  unit(24);
      float: left;
      left:  unit(92);
      top:  unit(17);
      position: relative;
        width: unit(270);
        text-align: left;
    	}
    	a {
    		color: $text-c36;
    		display: inline;
    	}
    }
    .register_load_content{
    width:  unit(80);
    height:  unit(80);
    position: absolute;
    top:  unit(0);
    left:  unit(0);
    background: $basic-C00;
    top:  unit(112);
    left:  unit(200);
    border-radius:  unit(5);
    }
    .register_load{
    	background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
      z-index: 20;
      animation: login_load_roate_div 2s infinite;
      width:  unit(80);
      height:  unit(80);
      position: relative;
    }
    .fakecaptcha {
    	width: 52px;
      height: 52px;
      color: $text-c35;
      font-size: 8px;
      font-weight: bolder;
      text-align: center;
      margin: unit(20) auto 0;
      img {
      	width: 32px;
      }
      a{
      	color: $text-c35;
      }

      &.sent {
      	float: right;
      }
    }
  @keyframes login_load_roate_div{
    0%		{transform: rotate(0deg);}
    100%	{transform: rotate(360deg);}
  }

  @media screen and (max-width: $screen-xs-max) {
    width: 100%;
    height: 100%;
    top: 0!important;

    .login-title {
      width: 100%;

      .register-close {
        left: calc(100% - 40px);
      }
    }

    .register-form {
      margin: 0 unit(20);
      box-sizing: content-box;

      #login-ID,
      #pass-Word,
      #pass-Word-repeat {
        width: calc(100% - 40px);
      }

      .placeholderIDBg,
      .placeholderBg,
      .placeholderRepBg {
        left: unit(10);
      }

      .btnID {
        width: 100%;
        margin: unit(36) 0 0;
      }

      .delete-Login-Name,
      .delete-Pass-Word,
      .delete-Pass-Word-Repeat {
        right: unit(10);
      }

      .error_message,
      .info_message {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .password-constrains {
      padding-left: 0;
      padding-right: 0;
    }

    .privacy_agree {
      position: relative;

      .checkagree {
        left: 0;
      }

      span {
        width: calc(100% - 25px);
        left: 18px;
      }
    }
  }
}
