<!doctype html>
<html>
<head>
  <title>МТС | ТВ</title>

  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no,email=no,address=no">

  <link rel="icon" type="image/x-icon" href="assets/favicon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="assets/site.webmanifest">
  <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#de1b25">

  <script>
    __Zone_enable_cross_context_check = true;
  </script>
  <script src="assets/lib/config.js"></script>
  <script src="assets/lib/cookie.js"></script>
  <script type="text/javascript">
    var val = 0;
    if (location.search) {
      var temp = location.search.substring(1).split("=");
      if (temp[0] == 'tmp') {
        val = parseFloat(temp[1]);
        if (isNaN(val)) {
          val = 0;
        }
      }
    }
    var differ = new Date().getTime() - val;
    var isRedirectToHttps = (location.protocol.toLocaleLowerCase().indexOf("https") === -1) && (differ > 30000);
    var port = ":" + GlobaleConfig.getHttpsPort();
    var hash = location.hash;
    var httpsRedirect = sessionStorage.getItem('httpsRedirect');
    if (isRedirectToHttps && GlobaleConfig.ssh_enable && !httpsRedirect) {
      var httpsUrl = window.location.href.replace('http', 'https').replace(/:\d+/, port);
      httpsUrl = httpsUrl.replace(/index.html.*$/ig, 'assets/https.html' + hash);
      sessionStorage.setItem('httpsRedirect', 1);
      window.location.href = httpsUrl;
    }
  </script>

  <script type="text/javascript">
    window['Date'].now = function () {
      var timeoffset = parseInt(sessionStorage.getItem('timeoffset') || 0, 10);
      return new Date(new Date()['getTime']() + timeoffset);
    };
  </script>
  <!-- <script src='https://www.google.com/recaptcha/api.js?hl=ru'></script> -->
  <style type="text/css">
    <%= require('./index.scss') %>
  </style>
</head>
<body>
<app-root>
  <div class="main_background">
    <div class="load-container">
      <div class="load-container--logo load-container--item">
        <img width="100" src="<%= require('url-loader!./assets/img/mtstv.svg') %>">
      </div>
      <div class="load-container--spinner load-container--item">
        <div class="item loading-2">
          <div class="spinner">
            <div class="circle circle-1">
              <div class="circle-inner"></div>
            </div>
            <div class="circle circle-2">
              <div class="circle-inner"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="load-container--text load-container--item"><b>www.mts.ru</b></div>
    </div>
  </div>
</app-root>
</body>
</html>
