@import "/src/assets/css/common-variables.scss";
body{
  background-color: $prm-900;
  background-size: auto;
}

footer, nav, main {
  background-color: $prm-900;
}

.load-container {
  text-align: center;
  position: absolute;
  top: calc((40%) - (40px));
  left: calc((50%) - (40px));
  z-index: 99999;

  &--spinner {
    margin: 40px 0;
  }

  &--text {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: #fff;
  }
}

.loading-2 {
  $duration: .7s;
  $size: 3em;
  .spinner * {
    box-sizing: border-box;
  }
  .spinner {
    display: inline-block;
    animation-name: anim-spinner;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    .circle {
      width: $size;
      height: ($size/2);
      overflow: hidden;
    }
    .circle-inner {
      transform: rotate(45deg);
      border-radius: 50%;
      border: ($size/8) solid white;
      border-right: ($size/8) solid transparent;
      border-bottom: ($size/8) solid transparent;
      width: 100%;
      height: 200%;
      animation-name: anim-circle-1;
      animation-duration: $duration;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(.25, .1, .5, 1);
    }
    .circle-2 {
      transform: rotate(180deg);
      & .circle-inner {
        animation-name: anim-circle-2;
      }
    }
    @keyframes anim-circle-1 {
      from {
        transform: rotate(60deg);
      }
      to {
        transform: rotate(205deg);
      }
    }
    @keyframes anim-circle-2 {
      from {
        transform: rotate(30deg);
      }
      to {
        transform: rotate(-115deg);
      }
    }
    @keyframes anim-spinner {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
