@charset "utf-8";
@import "bulma/bulma.sass";

$family-primary: 'Corpid E1s SCd';

@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

@import "/src/share/scss/variables.scss";
@import "/src/share/scss/global_reset.scss";

@import "/src/assets/mts_ui_font/style.scss";

.load-container {
  position: absolute;
  top: 50%;
  left: calc((50%) - (40px));
  z-index: 99999;
  .spinner {
    position: absolute;
    left: unit(0);
    width: unit(50);
    height: unit(50);
    background-repeat: no-repeat;
    background-size: unit(50);
    background-image: url(assets/img/loader.gif);
  }

  @keyframes login_load_roate_div {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
