@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.history_hint {
  width: unit(320);
  left: unit(-250);
  top: unit(22);
  position: absolute;
  text-align: left;
  -webkit-animation: fade-in 1s;
  .historyFilter {
    border-radius: unit(3);
    position: relative;
    box-shadow: unit(-3) unit(11) unit(84) $basic-c06;
    width: unit(320);
    top: unit(20);
    .historyFilter-icon {
      height: unit(12);
      width: unit(320);
      position: absolute;
      top: unit(-12);
      background: url(assets/img/input_Drop_down_box.png) unit(0) unit(0) no-repeat;
    }
    .historyVOD-filter {
      height: unit(138);
      background: $basic-c12;
      border-top-left-radius: unit(3);
      border-top-right-radius: unit(3);
      cursor: default;
      img {
        width: unit(110);
        height: unit(138);
        padding: unit(20) unit(15) unit(15) unit(20);
        float: left;
      }
      .historyVOD-state {
        position: absolute;
        left: unit(20);
        top: unit(107);
        line-height: unit(16);
        background: $basic-C08;
        width: unit(75);
        text-align: center;
        color: $text-c36;
      }
      .historyVOD-detail {
        float: left;
        display: inline-block;
        position: relative;
        width: unit(210);
        height: unit(101);
        top:unit(22);
        overflow: hidden;
        .historyVOD-title {
          color: $text-c31;
          padding-bottom: unit(8);
          line-height:unit(16);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: unit(170);
        }
        span {
          color: $text-c32;
          display: block;
        }
        .historyVOD-delete {
          width: unit(14);
          height: unit(14);
          position: absolute;
          margin-left: unit(185);
          margin-top: unit(-25);
          @extend .close-14;
          cursor: pointer;
        }
        .historyVOD-director {
          left: unit(0);
          position: relative;
          margin-bottom: unit(2);
          display: block;
          line-height: unit(12);
          padding-bottom: unit(1);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .historyVOD-actor {
          height: unit(12);
          overflow: hidden;
          margin-bottom: unit(22);
          line-height: unit(12);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .historyVOD-button {
          border: unit(1) solid $basic-c25;
          height: unit(26);
          color: $text-c31;
          line-height: unit(26);
          cursor: pointer;
          width: auto;
          display: inline-block;
          padding-right: 20px;
          .details_button_play {
            width: unit(14);
            height: unit(14);
            margin-left: unit(17);
            background: url(assets/img/14/details_button_play_14x14.png) unit(0) unit(0) no-repeat;
            display: inline-block;
            vertical-align: middle;
          }
          .details_play {
            display: inline-block;
            vertical-align: middle;
          }
          &:hover {
            background: $basic-c26;
          }
        }
      }
    }
    ul {
      width: unit(320);
      list-style: none;
      position: relative;
      padding: unit(9) unit(0) unit(9) unit(0);
      color: $text-c35;
      margin-bottom: unit(0);
      margin-top: unit(0);
      margin-left: unit(0);
      background: $basic-c14;
      li {
        padding: unit(0) unit(0) unit(0) unit(20);
        position: relative;
        padding-top: unit(9);
        padding-bottom: unit(9);
        padding-right: unit(20);
        cursor: pointer;
        line-height: unit(16);
        &:hover {
          background: $basic-c03;
          color: $text-c31;
          .historyVideos-delete {
            @extend .close-14;
          }
        }
        .historyVideos-name {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: unit(260);
        }
        .historyVideos-delete {
          width: unit(14);
          height: unit(14);
          position: absolute;
          margin-left: unit(275);
          margin-top: unit(-15);
          @extend .close2-14;
          cursor: pointer;
        }
      }
    }
    .historyMore {
      color: $text-c35;
      cursor: pointer;
      width: unit(320);
      height: unit(32);
      position: relative;
      display: block;
      line-height: unit(32);
      text-align: center;
      cursor: pointer;
      background: $basic-c14;
      border-bottom-left-radius: unit(3);
      border-bottom-right-radius: unit(3);
      &:hover {
        color: $text-c31;
      }
    }
  }
  .NoDatafilter {
    position: relative;
    width: unit(250);
    height: unit(228);
    left: unit(32);
    top: unit(20);
    border-radius: unit(3);
    text-align: center;
    color: $text-c31;
    background: $basic-c17;
    cursor: default;
    .noDataFilter-icon {
      height: unit(12);
      width: unit(250);
      left: unit(-32);
      top: unit(-12);
      position: relative;
      background: url(assets/img/input_Drop_down_box.png) unit(0) unit(0) no-repeat;
    }
    .NoDataHistory {
      background: url(assets/img/56/search_56.png) unit(0) unit(0) no-repeat;
      width: unit(56);
      height: unit(56);
      margin: auto;
      top: unit(55.5);
      position: relative;
    }
    span {
      top: unit(73.5);
      position: relative;
    }
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.history-header-nav {
  cursor: pointer;
  .search-left {
    
    height: unit(21);
    .history-icon {
      font-size: unit(25);
      color: $text-c32;
    }
  }
  &:hover {
    .search-left {
      .history-icon {
        color: $text-c31;
      }
      div {
        color: $text-c31;
      }
    }
  }
}
