<div class="history-header-nav">
  <div class="search-left" [style.display]="historyVisible" (mouseenter)="showHistorys()" (mouseleave) = "hideHistory()" ><img src="/assets/img/ui/history.svg"/>
  </div>
  <div class="history_hint" (mouseenter)="showHistoryList()" (mouseleave) = "hideHistory()">
    <div class="historyFilter" [ngStyle]="{display: (dataDisplay) ? 'block' : 'none'}">
      <div class="historyVOD-filter">
        <img src="{{historyVOD.posters}}" onerror="this.onerror=null;this.src='assets/img/default/history_smallposter.png'"/>
        <div class="historyVOD-state body-t32">{{historyVOD.state}}</div>
        <div class="historyVOD-detail">
          <span class="historyVOD-title title-t17" >{{historyVOD.title}}</span>
          <div class="historyVOD-delete" (click)="deleteData(historyVOD)"></div>
          <span class="historyVOD-director body-t34">{{'director' | translate}}{{' ' + historyVOD.director}}</span>
          <span class="historyVOD-actor body-t34">{{'actor' | translate}}{{' ' + historyVOD.actor}}</span>
          <div class="historyVOD-button body-t32" (click)="detail(historyVOD)" >
            <div class="details_button_play"></div>
            <div class="details_play">{{historyVOD.play}}</div>
          </div>
        </div>
      </div>

      <ul class="historywords" *ngIf ="historyKeys.length > 0">
        <li *ngFor="let option of historyKeys; let i=index">
          <div class="historyVideos-name body-t32" (click)="detail(option)">{{option.name}}</div>
          <div class="historyVideos-delete" (click)="deleteData(option, i)"></div>
        </li>
      </ul>

      <div class="historyMore body-t32" *ngIf ="moreDisplay"(click)="toHistoryVod()">
        {{'more' | translate}}
      </div>
    </div>

    <div class="NoDatafilter body-t32" [ngStyle]="{display: (noDataDisplay) ? 'block' : 'none'}">
      <div class="noDataFilter-icon"></div>
      <div class="NoDataHistory"></div>
      <span>{{'no_history_content' | translate }}</span>
    </div>
  </div>
</div>
