<div class="banner-carousel" [ngStyle]="{ 'height': height + 'px' }">

  <ng-container *ngIf='data'>

    <div class="banner-carousel__controls" (mouseenter)="controlMouseEnter()" (mouseleave)="controlMouseLeave()">

      <div class="banner-carousel__panel">
      </div>

      <div class="banner-carousel__main-window" [ngStyle]="{ 'width': width + 'px' }">
        <div class="banner-carousel__container" [ngStyle]="{ 'transform': getContainerTransform(), 'transition': getTransition() }">
          <!-- TODO: replace by <ng-content></ng-content> -->
          <div class="banner-carousel__item" *ngFor="let item of data" [ngStyle]="{ 'width': width + 'px' }" (click)="onItemClick(item)">
            <img *ngIf='item.picture.drafts && item.picture.drafts[0]; else backgroundImage' [src]="item.picture.drafts[0] + '?x=' + width + '&y=375'">
            <ng-template #backgroundImage>
              <img *ngIf='item.picture.backgrounds && item.picture.backgrounds[0]' [src]="item.picture.backgrounds[0] + '?x=' + width + '&y=375'">
            </ng-template>
            <app-navigation-button
              class='navigation-button'
              text="{{ 'buttons.watch_now' | translate }}"
              [route]="'/video/movie/' + item.ID"
            ></app-navigation-button>
          </div>
        </div>

        <div class="banner-carousel__arrow-left">
          <app-banner-carousel-arrow dir="left" (on-click)="prev()"></app-banner-carousel-arrow>
        </div>

        <app-banner-carousel-dots
          class="banner-carousel__dots"
          (directionChanged)='directionChanged($event)'
          [speed]='animationSpeed'
          [direction]='direction.asObservable()'
          [currentIndex]='currentIndex'
          [count]='data.length'
        ></app-banner-carousel-dots>

        <div class="banner-carousel__arrow-right">
          <app-banner-carousel-arrow dir="right" (on-click)="next()"></app-banner-carousel-arrow>
        </div>
      </div>

      <div class="banner-carousel__panel">
      </div>

    </div>

  </ng-container>


</div>
