<div class="banner-carousel__arrow" [ngClass]="dir" (click)="onClick()">
  <svg  class="banner-carousel__arrow-back-image"  width="40" height="107" viewBox="4 0 40 107" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g [attr.filter]="filterAttr"><path d="M40 70.1176C40 80.7046 31.6712 89.2689 21.3646 91.6893C12.5813 93.752 4 97.2748 4 103.167C4 115.234 4 -7.92608 4 3.78655C4 9.54799 12.7107 13.0765 21.5626 15.1749C31.7905 17.5993 40 26.1397 40 36.651V70.1176Z" [attr.fill]="fillAttr"/></g><defs><filter id="filter0_d" x="0" y="0" width="42" height="107" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dx="-1"/><feGaussianBlur stdDeviation="1.5"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/></filter><linearGradient id="paint0_linear" x1="43.1765" y1="53.4766" x2="-58.5" y2="53.4766" gradientUnits="userSpaceOnUse"><stop stop-color="#212834" stop-opacity="0.76"/><stop offset="0.19623" stop-color="#212834" stop-opacity="0.76"/><stop offset="1"/></linearGradient></defs>
  </svg>
  <svg class="banner-carousel__arrow-image" width="13" height="21" viewBox="0 0 13 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.03847 10.4972L0.51265 2.98515C-0.170883 2.30223 -0.170883 1.1951 0.51265 0.512187C1.19618 -0.170729 2.30431 -0.170729 2.98785 0.512187L13 10.507L2.98785 20.4878C2.30431 21.1707 1.19618 21.1707 0.51265 20.4878C-0.170883 19.8049 -0.170883 18.6978 0.51265 18.0149L8.03847 10.4972Z" fill="#D2D3D4"/>
  </svg>
</div>
