.left {
  transform: rotate(180deg);
}

.banner-carousel__arrow {

  cursor: pointer;
  display: flex;

  &-image {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    path: {
      fill: #fff;
    }
  }

  &-back-image {
    height: 100%;
    width: 100%;
  }

}
