$bg-color: #001424;

.banner-carousel {
  background: $bg-color;

  &__container {
    position: absolute;
    display: flex;
    height: inherit;
    will-change: transform;
  }

  &__item {
    position: relative;
    height: inherit;
    img {
      width: inherit;
      height: inherit;
    }
  }

  &__controls {
    position: absolute;
    z-index: 1;
    display: flex;
    height: inherit;
    width: 100%;
  }

  &__main-window {
    position: relative;
    height: inherit;
    &:hover {
      cursor: pointer;
    }
  }

  &__panel {
    position: relative;
    opacity: 0.5;
    background: #fff;
    flex: auto;
    height: inherit;
    z-index: 1;
  }

  &__arrow-left {
    left: 0;
    transform: translateY(-50%) translateX(-100%);
  }

  &__arrow-right {
    right: 0;
    transform: translateY(-50%) translateX(100%);
  }

  &__arrow-left,
  &__arrow-right {
    z-index: 2;
    top: 50%;
    position: absolute;
    height: 107px;
    width: 40px;
  }

  &__dots {
    transform: translate(-50%);
    left: 50%;
    position: absolute;
    bottom: 20px;
  }

}

.navigation-button {
  position: absolute;
  left: 224px;
  top: 217px;
}

