$bg-color: #C1D2E9;
$bg-color-active: #BA9D5A;
$dots-margin: 15px;
$big-dot: 12px;
$middle-dot: 10px;
$small-dot: 8px;
$tiny-dot: 5px;
$zero-dot: 0px;

.dots {

  display: flex;
  align-items: center;

  &.next {
    transform: translateX(-($dots-margin * 2));
    .dot {

      &:nth-child(2) {
        height: $zero-dot;
        width: $zero-dot;
      }

      &:nth-child(3) {
        height: $small-dot;
        width: $small-dot;
      }

      &.middle {
        height: $middle-dot;
        width: $middle-dot;
      }

      &:nth-last-child(3) {
        height: $big-dot;
        width: $big-dot;
      }

      &:nth-last-child(2) {
        height: $middle-dot;
        width: $middle-dot;
      }

      &:nth-last-child(1) {
        height: $small-dot;
        width: $small-dot;
      }
    }
  }

  &.prev {
    transform: translateX($dots-margin * 2);

    .dot {

      &:nth-child(1) {
        height: $small-dot;
        width: $small-dot;
      }

      &:nth-child(2) {
        height: $middle-dot;
        width: $middle-dot;
      }

      &:nth-child(3) {
        height: $big-dot;
        width: $big-dot;
      }

      &.middle {
        height: $middle-dot;
        width: $middle-dot;
      }

      &:nth-last-child(3) {
        height: $small-dot;
        width: $small-dot;
      }

      &:nth-last-child(2) {
        height: $zero-dot;
        width: $zero-dot;
      }
    }

  }

  .dot {
    box-shadow: 1px 1px 1px #000;
    cursor: pointer;
    height: $tiny-dot;
    width: $tiny-dot;
    margin: 0px $dots-margin 0 $dots-margin;
    border-radius: 50%;
    background: $bg-color;
    transition: inherit;

    &.active {
      cursor: initial;
      pointer-events: none;
      background: $bg-color-active;
    }

    &:nth-child(1) {
      height: $zero-dot;
      width: $zero-dot;
    }

    &:nth-child(2) {
      height: $small-dot;
      width: $small-dot;
    }

    &:nth-child(3) {
      height: $middle-dot;
      width: $middle-dot;
    }

    &.middle {
      height: $big-dot;
      width: $big-dot;
    }

    &:nth-last-child(3) {
      height: $middle-dot;
      width: $middle-dot;
    }

    &:nth-last-child(2) {
      height: $small-dot;
      width: $small-dot;
    }

    &:nth-last-child(1) {
      height: $zero-dot;
      width: $zero-dot;
    }

  }

}
