<div class='dots' [ngClass]='dotsClasses' [ngStyle]="{ 'transition': getTransition() } ">
  <div class='dot'></div>
  <div
    class='dot'
    *ngFor='let dot of dots'
    (click)="click(dot)"
    [ngClass]='{"active": dot === currentIndex, "middle": dot === middle }'
  ></div>
  <div class='dot'></div>
</div>
