@import "/src/assets/css/common-variables.scss";

.playFailBg {
  position: relative;
  width: 500px;
  top: unit(45);
  height: unit(192);
  margin: auto;
  text-align: center;
  .playFailButton {
    width: unit(56);
    height: unit(56);
    margin: auto;
    background: url(assets/img/56/nodata_56.png) no-repeat;
    cursor: pointer;
  }
  .playFailInfo {
    margin: auto;
    text-align: center;
    line-height: unit(16);
    margin-top: 20px;
    .gray-info{
    color: $text-c35;
    }
  }
}
