@import "/src/assets/css/common-variables.scss";

.topWeekBorder {
  border-bottom: unit(1) solid $basic-c03;
  width: unit(1280);
  margin: auto;
  margin-top: unit(40);
  margin-bottom: unit(50);
  position: relative;
}

@media screen and (max-width: unit(320)) {
  .topWeekBorder {
    margin-top: unit(0);
    margin-bottom: unit(0);
    border-bottom: hidden;
  }
}
