<div id="top-this-week">
  <columnshow *ngIf="topWeekVODInfo.length"
        [childcolumnshow] = "topWeekVODInfo"
        [suspensiondata] = "vodListSuspension"
        (child)="onClickDetail($event)"
        (jumpTo)="moreShow($event)"
        [show]="topWeekShow"
        [id]="topWeekId"></columnshow>
  <div class="topWeekBorder"></div>
</div>
