@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.channelLeftSuspension {
  position: absolute;
  z-index: 10;
  background-color: $basic-c17;
  left: unit(218);
  word-break: keep-all;
  margin-top: unit(-3);
}

.isFavorite {
  height: unit(38);
  color: $text-c31;
  margin-right: unit(20);
  margin-left: unit(20);
  line-height: unit(38);
  cursor: pointer;
  .favIcon {
    height: unit(16);
    width: unit(16);
    position: absolute;
    top: unit(10);
  }
}

.isFavProfile {
  height: unit(56);
  color: $text-c31;
  margin-right: unit(20);
  margin-left: unit(20);
  line-height: unit(56);
  cursor: pointer;
  .favIcon {
    height: unit(16);
    width: unit(16);
    position: absolute;
    top: unit(19);
  }
}

.favTitle {
  padding-left: unit(26);
}

.isLock {
  height: unit(38);
  color: $text-c31;
  border-top: unit(1) solid $basic-c03;
  margin-right: unit(20);
  margin-left: unit(20);
  line-height: unit(38);
  cursor: pointer;
  .lockIcon {
    height: unit(16);
    width: unit(16);
    position: absolute;
    top: unit(48);
  }
}

.isLockOnly {
  height: unit(56);
  color: $text-c31;
  margin-right: unit(20);
  margin-left: unit(20);
  line-height: unit(56);
  vertical-align: center;
  cursor: pointer;
  .lockIcon {
    height: unit(16);
    width: unit(16);
    position: absolute;
    top: unit(19);
  }
}

.lockTitle {
  padding-left: unit(26);
}

.arrowBack {
  float: left;
  margin-left: unit(-17);
  width: unit(18);
  height: unit(76);
}

.arrow {
  float: left;
  margin-top: unit(28);
  @extend .arrowleft-22;
}

.arrowBackProfile {
  float: left;
  margin-left: unit(-17);
  width: unit(18);
  height: unit(56);
}

.arrowProfile {
  float: left;
  margin-top: unit(18);
  @extend .arrowleft-22;
}

.channelLeftSuspensionProfile {
  position: absolute;
  z-index: 10;
  background-color: $basic-c17;
  left: unit(218);
  word-break: keep-all;
  margin-top: unit(7);
}

.channelList {
  max-width: unit(1280);
  margin: auto;
  position: relative;
  overflow: hidden;
  height: unit(894);
  overflow: hidden;
  .epg-title {
    height: unit(42);
    .epg-left {
      box-shadow: unit(8) unit(0) unit(12) $basic-c10;
      width: unit(203);
      display: inline-block;
      float: left;
      height: unit(42);
      z-index: 3;
      position: relative;
      .genresList-all {
        border-radius: unit(3);
      }
      .currentGenre {
        color: $text-c31;
        background: $basic-c17;
        height: unit(42);
        line-height: unit(42);
        text-align: center;
        div {
          display: inline-block;
          max-width: unit(136);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          filter: blur(0);
        }
        .downPlaybill {
          background: url(assets/img/12/livetv_tv_guid_all_channels_down.png) no-repeat;
          width: unit(12);
          height: unit(12);
          position: relative;
          display: inline-block;
          top: unit(-13.7);
        }
        .upPlaybill {
          background: url(assets/img/12/livetv_tv_guid_all_channels_up.png) no-repeat;
          width: unit(12);
          height: unit(12);
          position: relative;
          display: inline-block;
          top: unit(-13.7);
        }
      }
      .genresList_top {
        height: unit(10);
        background: $basic-c17;
        width: unit(203);
        overflow: hidden;
        border: unit(2) solid $basic-c17;
        border-radius: unit(3) unit(3) unit(0) unit(0);
        box-sizing: border-box;
      }
      #genresConter {
        background: $basic-c17;
        max-height: unit(288);
        width: unit(203);
        overflow: hidden;
        border: unit(2) solid $basic-c17;
        border-radius: unit(0) unit(0) unit(3) unit(3);
        box-sizing: border-box;
        .genresList {
          width: unit(203);
          height: auto;
          position: relative;
          .genre {
            line-height: unit(32);
            height: unit(32);
            div {
              padding-left: unit(20);
              cursor: pointer;
              color: $text-c35;
              width: unit(166);
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            &:hover {
              color: $text-c31;
              background: $basic-c03;
            }
            .gener-text {
              &:hover {
                color: $text-c31;
              }
            }
          }
        }
      }
    }
    .epg-right {
      background: $basic-c17;
      width: unit(1077);
      display: inline-block;
      float: left;
      height: unit(42);
      .allDay {
        width: unit(10963);
        display: inline-block;
        position: relative;
        left: unit(0);
        .times {
          display: inline-block;
          float: left;
          padding: unit(20) unit(0) unit(6) unit(0);
          color: $text-c35;
          width: unit(228);
          text-align: center;
        }
        .times:first-child {
          padding-left: unit(0);
          width: unit(114);
          .scrollTime {
            left: unit(-14);
            position: relative;
          }
        }
        .times:last-child {
          width: unit(114);
          padding: unit(20) unit(0) unit(6) unit(0);
        }

        .vertical {
          position: absolute;
          z-index: 1;
          visibility: hidden;
          width: unit(1);
          .currentTime {
            color: $text-c31;
            top: unit(6);
            left: unit(-18);
            height: unit(16);
            position: relative;
            cursor: pointer;
          }
          .arrow_line {
            @extend .angledownred-14;
            width: unit(14);
            height: unit(14);
            padding-top: unit(4);
            top: unit(13);
            left: unit(-6);
            position: relative;
            cursor: pointer;
          }
          .line {
            border-left: unit(1) solid $basic-c31;
            height: unit(852);
            top: unit(8);
            position: relative;
            cursor: pointer;
          }
        }
      }
    }
  }
  .skipNow {
    position: absolute;
    .leftNow {
      @extend .livetv_now_icon_left;
      width: 62px;
      height: 17px;
      left: unit(205);
      top: unit(-41);
      position: relative;
      cursor: pointer;
      visibility: hidden;
    }
    .rightNow {
      @extend .livetv_now_icon_right;
      width: 62px;
      height: 17px;
      left: 1317px;
      top: -58px;
      position: relative;
      cursor: pointer;
      visibility: hidden;
    }
  }
  .minidetail {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .channelContent {
    display: block;
    overflow: hidden;
    position: relative;
    height: unit(852);
    #conter {
      position: relative;
      top: unit(0);
      .channel-left-content {
        width: unit(203);
        min-height: unit(852);
        background: $basic-c17;
        box-shadow: unit(8) unit(0) unit(12) $basic-c10;
        display: inline-block;
        float: left;
        z-index: 2;
        position: relative;
        .channel {
          width: unit(203);
          padding-left: unit(0);
          margin: 0;
          height: unit(71);
          display: block;
          float: left;
          line-height: unit(54);
          cursor: pointer;
          .channelID {
            color: $text-c35;
            display: block;
            float: left;
            padding: unit(16) unit(15) unit(0) unit(26);
            min-width: unit(33);
            text-align: center;
          }
          img {
            display: block;
            width: unit(54);
            height: unit(54);
            float: left;
            margin-top: unit(16);
          }
          img[src=""] {
            opacity: 0;
          }
          .defaultImgFCopy {
            visibility: hidden;
            position: absolute;
          }
          .defaultImgs {
            width: unit(203);
            height: unit(71);
            position: absolute;
            z-index: 99;
          }
          .defaultImg {
            width: unit(54);
            height: unit(54);
            float: left;
            background: $basic-c15;
            color: $text-c31;
            text-align: center;
            margin-top: unit(16);
            padding-left: unit(2);
            overflow: hidden;
            #defaultImgF {
              width: unit(54);
              height: unit(54);
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            .defaultImgAll {
              height: unit(54);
              .defaultImgA {
                float: left;
              }
              .defaultImgB {
                margin-left: unit(19);
                float: left;
              }
            }
          }
          .lockImgChannel {
            @extend .lock2-16;
            width: unit(16);
            height: unit(16);
            float: left;
            position: relative;
            top: unit(34);
            margin-left: unit(8);
          }
          .pltvcrImgChannel {
            @extend .replay-16;
            width: unit(16);
            height: unit(16);
            float: left;
            position: relative;
            top: unit(34);
            margin-left: unit(7);
          }
          .favImgChannel {
            @extend .fav-16;
            width: unit(16);
            height: unit(16);
            float: left;
            position: relative;
            top: unit(34);
            margin-left: unit(7);
          }
        }
      }
      .channel-right-content {
        min-height: unit(852);
        display: inline-block;
        float: left;
        width: unit(1077);
        background: $basic-c17;
        overflow: hidden;
        .channel-Playbills {
          background-color: $basic-c17;
          width: unit(10963);
          margin: unit(0);
          padding: unit(0);
          position: relative;
          overflow: hidden;
          ul {
            margin: unit(0);
            padding: unit(0);
            height: unit(71);
            overflow: hidden;
            .playbill {
              width: unit(407);
              height: unit(69);
              border: unit(1) solid $basic-c21;
              display: inline-block;
              overflow: hidden;
              cursor: pointer;
              .playbillFirst {
                margin: unit(15) unit(0) unit(0) unit(30);
                display: inline-block;
                overflow: hidden;
                height: unit(19);
                width: 100%;
                .playbillName {
                  display: inline-block;
                  color: $text-c35;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  float: left;
                  margin-right: unit(10);
                  padding-right: unit(10);
                }
                .Img {
                  float: left;
                  height: unit(16);
                  position: relative;
                  overflow: hidden;
                  .lockImg {
                    @extend .tvguide-lock-16;
                    width: unit(16);
                    height: unit(16);
                    display: inherit;
                    position: relative;
                    margin-right: unit(10);
                    float: left;
                  }
                  .remindImg {
                    background: url(assets/img/16/tvguidereminder_16.png) center center no-repeat;
                    width: unit(16);
                    height: unit(16);
                    display: inherit;
                    position: relative;
                    margin-right: unit(10);
                    float: left;
                  }
                  .singleRecord {
                    width: unit(16);
                    height: unit(16);
                    display: inherit;
                    position: relative;
                    margin-right: unit(10);
                    float: left;
                    background: url(assets/img/16/tvguide_singlerecord2_16.png) center center no-repeat;
                  }
                  .seriesRecord {
                    width: unit(16);
                    height: unit(16);
                    display: inherit;
                    position: relative;
                    margin-right: unit(10);
                    float: left;
                    background: url(assets/img/16/Serialrecording2_16.png) center center no-repeat;
                  }
                }
                .Img:last-child {
                  margin-right: unit(0);
                }
              }
              .showtime {
                padding: unit(5) unit(0) unit(0) unit(30);
                color: $text-c34;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 40%;
                float: left;
              }
            }
            .playbill:hover {
              background: $basic-c03;
            }
            .currentPlaybill {
              width: unit(407);
              height: unit(69);
              border: unit(1) solid $basic-c21;
              display: inline-block;
              overflow: hidden;
              background: $basic-c21;
              .playbillFirst {
                margin: unit(16) unit(0) unit(0) unit(30);
                display: inline-block;
                width: 100%;
                .playbillName {
                  max-width: 50%;
                  display: inline-block;
                  color: $text-c31;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }
              .showtime {
                padding: unit(5) unit(0) unit(0) unit(30);
                color: $text-c34;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 40%;
                float: left;
              }
            }
          }
        }
        .no_channel_playbill {
          display: none;
          text-align: center;
          top: unit(383);
          .icon {
            width: unit(56);
            height: unit(56);
            display: block;
            background: url(assets/img/56/search_56.png) unit(0) unit(0) no-repeat;
            margin: auto;
            max-width: unit(1177);
            padding-bottom: unit(20);
            margin-top: unit(260);
          }
          .content {
            position: relative;
            color: $text-c35;
            max-width: unit(600);
          }
        }
      }
    }
    .scrollList {
      position: absolute;
      top: unit(0);
      right: unit(0);
      .scroll {
        height: unit(834);
        width: unit(19);
        right: unit(0);
        top: unit(0);
        bottom: unit(8);
        cursor: pointer;
        position: absolute;
        background: $basic-C09;
        z-index: 1;
        span {
          height: unit(0);
          width: unit(18);
          right: unit(0);
          position: absolute;
          top: unit(0);
          #content {
            left: unit(5);
            position: absolute;
            width: unit(7);
            height: 100%;
            cursor: pointer;
            background: $basic-c03;;
            border-radius: unit(24);
          }
        }
      }
    }
    .transverseScrollList {
      position: absolute;
      top: unit(852);
      left: unit(0);
      z-index: 1;
      .transverseScroll {
        width: unit(1158);
        height: unit(18);
        bottom: unit(0);
        cursor: pointer;
        position: fixed;
        background-color: $basic-c17;
        span {
          width: unit(0);
          height: unit(18);
          left: unit(0);
          position: absolute;
          #content {
            top: unit(5.5);
            position: absolute;
            width: 100%;
            height: unit(7);
            cursor: pointer;
            background: $basic-c03;;
            border-radius: unit(24);
          }
        }
      }
    }
    .genreScrollList {
      position: absolute;
      top: unit(0);
      left: unit(0);
      z-index: 3;
      .genreScroll {
        height: unit(288);
        width: unit(0);
        left: unit(184);
        top: unit(10);
        bottom: unit(0);
        cursor: pointer;
        position: absolute;
        span {
          height: unit(0);
          width: unit(0);
          right: unit(0);
          position: absolute;
          #content {
            left: unit(2);
            position: absolute;
            width: unit(7);
            height: 100%;
            cursor: pointer;
            background: $basic-c03;;
            border-radius: unit(24);
          }
        }
      }
    }
  }
  @media screen and (max-width: unit(1440)) {
    max-width: unit(980);
    #right {
      width: unit(777);
    }
    .channelContent {
      #conter {
        #channelRightContent {
          width: unit(777);
        }
      }
    }
    .skipNow {
      .rightNow {
        left: 917px;
        top: -58px;
      }
    }
  }
  .tvguide-load {
    position: absolute;
    top: unit(350);
    right: 50%;
    z-index: 14;
    display: block;
    .spinner {
      position: absolute;
      left: 0;
      width: unit(80);
      height: unit(80);
      background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
      -webkit-animation: login_load_roate_div 2s infinite;
      animation: login_load_roate_div 2s infinite;
    }
  }
  @keyframes login_load_roate_div {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes login_load_roate_div {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.clearfix {
  clear: both;
}
