<div class="channelList" id="channel-list" [on-notification]="notification">
  <div class="epg-title" id="title">
    <div class="epg-left" >
      <div class="currentGenre">
        <div class="currentGenre-text body-t29">{{currentGenre?.name | translate}}</div>
      </div>
    </div>
    <div class="epg-right" id="right">
      <div class="allDay" id="allDay" >
        <div class="times body-t32" *ngFor="let time of allTime; let j=index">
          <div class="scrollTime">{{time.name}}</div>
        </div>
        <div class="vertical" [ngStyle]="{visibility: judgeVertical ? 'visible' : 'hidden'}" #myVertical>
          <div class="currentTime body-t31">{{currentTime}}</div>
          <div class="arrow_line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="skipNow">
    <div class="leftNow" id="leftNow" (click)="toNow()">
    </div>
    <div class="rightNow" id="rightNow" (click)="toNow()">
    </div>
  </div>

  <app-channel-mini-detail *ngIf="haveClick" class="minidetail" [minidata]="miniDetailList" ></app-channel-mini-detail>

  <div class="channelContent" id="channel-content">
    <div id="conter" [style.height] = "contentHeight" #genreContentTop>
      <div class="channel-left-content" [style.height] = "contentHeight">
        <ul class="channel" *ngFor="let channelPlaybill of channelPlaybillsList;let i = index">
          <div class="channelID body-t29">{{ channelPlaybill?.channelInfos?.channelNO }}</div>
          <div class="defaultImgFCopy body-t23" id="defaultImgFCopy{{channelPlaybill?.defaultImgID}}">{{channelPlaybill?.channelInfos?.name}}</div>
          <img class="channelImg" id="channelImg" [src]="channelPlaybill?.channelPics" *ngIf="!channelPlaybill?.showChannelLogo" (error)='this.onerror=null;isChannelLogo(channelPlaybill)'/>
          <img [src]="channelPlaybill.channelInfos.logo?.url"/>
          <div class="lockImgChannel" *ngIf="channelPlaybill?.channelInfos?.isLocked ==1"></div>
          <div class="pltvcrImgChannel" *ngIf="channelPlaybill?.channelInfos?.physicalChannelsDynamicProperty?.pltvCR?.length > 0 &&
            channelPlaybill?.channelInfos?.physicalChannelsDynamicProperty?.pltvCR?.enable == '1' &&
            channelPlaybill?.channelInfos?.physicalChannelsDynamicProperty?.pltvCR?.isContentValid == '1' && isLoginIn"></div>
        </ul>
      </div>
      <div class="channel-right-content" id="channelRightContent" [style.height] = "contentHeight">
        <div id="channelPlaybills" class="channel-Playbills">
          <ul *ngFor="let channelPlaybills of channelPlaybillsList;let i = index" (mouseenter)="startTurn(channelPlaybills, i)" (mouseleave)="endTurn(channelPlaybills, i)">
            <div id="playbill-content" class="playbill" *ngFor="let playbill of channelPlaybills.playbillLites;" [style.width]="playbill.timeWidth" [style.background-color]="playbill.haveclick ? 'rgba(245, 245, 245, 0.1)':''"
              [ngClass]="playbill[playbill.ID + 'isCurrent'] ? 'currentPlaybill' : (playbill['isTVODID'] ? playbill['autoType']: 'playbill' )" (click)="showDetail(playbill,channelPlaybills)">
              <div class="playbillFirst">
                <div class="playbillName body-t29" [style.max-width] = "playbill.titleWidth"  [ngStyle]="{display: playbill.titleWidthInt > 16 ? 'block' : 'none'}">
                  {{ playbill.name || 'not_program' | translate }}</div>
                <div class="Img" [style.max-width] = "playbill.ImgWidth" [ngStyle]="{display: (playbill.ImgWidthInt > 16 &&
                  playbill.ImgWidthInt < (playbill.timeWidthInt - 20)) ? 'block' : 'none'}">
                  <div class="singleRecord" *ngIf="playbill.hasRecordingPVR == '1'  && (playbill.endTime > currentNOWTime)" [style.background]="playbill.startTime > this.currentNOWTime?'url(assets/img/16/record_16.png)':'url(assets/img/16/singlerecord_16.png)'"></div>
                  <div class="seriesRecord" *ngIf="playbill.hasRecordingPVR == '2'  && (playbill.endTime > currentNOWTime)" [style.background]="playbill.startTime > this.currentNOWTime?'url(assets/img/16/Serialrecording2_16.png)':'url(assets/img/16/Serialrecording_16.png)'"></div>
                  <div class="lockImg" *ngIf="profileRatingID < playbill?.rating?.ID || profileRatingID < channelPlaybills?.channelInfos?.rating?.ID"></div>
                  <div class="remindImg" *ngIf="playbill?.reminderStatus && playbill?.reminderStatus =='1'"></div>
                </div>
              </div>
              <div class="showtime body-t32" [style.max-width] = "(playbill?.timeWidthInt - 30) + 'px'" >{{ playbill?.showtime }}</div>
            </div>
          </ul>
        </div>
        <div class="no_channel_playbill">
          <span class="icon"></span>
          <span class="content">{{'NoAnyChannel' | translate}}</span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="scrollList" [ngStyle]="{display: isShowScrollList ? 'block' : 'none'}">
      <div class="scroll" id="scroll">
        <span id="scrollSpan" #genreScrolltTop>
          <div id="content"></div>
        </span>
      </div>
    </div>
    <div class="transverseScrollList" [ngStyle]="{visibility: isShowAlignScroll ? 'visible' : 'hidden'}" >
      <div class="transverseScroll" id="transverseScroll" [style.left] = "getScrollLeft()" [style.width]="getScrollWidth()">
        <span id="transverseSpan" #transVertical>
          <div id="content"></div>
        </span>
      </div>
    </div>
    <div class="genreScrollList" [ngStyle]="{display: isShowGenreList ? 'block' : 'none'}">
      <div class="genreScroll" id="genreScroll" >
        <span>
          <div id="content" (mouseenter)="mouseEnterScroll()" (mouseleave)="mouseLeaveScroll()"></div>
        </span>
      </div>
    </div>
  </div>

  <div class="tvguide-load" >
    <div class="spinner"></div>
  </div>
</div>
