<div class="promocodes" id="promocodes">
  <div class="purchased-title">
    <div class="title">{{'promocodes'| translate}}</div>
  </div>
  <div class="divider-line"></div>
  <div class="promocodes-wrapper">
    <p>Введите промокод</p>
    <input type="text"
         class="form-control"
         id="promo"
         [(ngModel)]='promo'
         name="promo"
         autocomplete="off"
    >
    <button class="close" data-dismiss="modal" (click)="clearPromocode()">
      <span aria-hidden="true">×</span>
    </button>
    <button class="submit" [disabled]="promo.length < 8 || promo.length > 16" (click)="promoApply()">{{'activate' |
      translate}}</button>
  </div>
</div>
