@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.promocodes-wrapper {
  position: absolute;
  width: unit(460);
  z-index: 15;
}

p{
  text-align: center;
  color: rgba(245, 245, 245, 0.5);
  margin-bottom: unit(60);
  font-size: unit(14);
  font-family: Rubik-Light, sans-serif;

}
//.promocodes-wrapper {
//    width: unit(460);
//    padding: 20px;
//    background: #000;
//    border-radius: 2px;
//    position: relative;
//    margin: 0 auto;
//}
.promocodes-wrapper .close {
  background: none;
  color: #cdcdcd;
  font-size: 1.5rem;
  border: none;
  position: absolute;
  right: 1rem;
  top: -1.9rem;
  bottom: 0;
  margin: auto;
  height: min-content;

}
.promocodes-wrapper input {
  width: 100%;
  height: unit(42);
  box-sizing: border-box;
  border-radius: unit(2);
  margin-bottom: unit(80);
  font-size: unit(14);
  font-family: Rubik-Light, sans-serif;
  padding: 0 unit(20) 0 unit(20);
  outline: none;
  border: none;
  color:white;
  background-color: rgba(245, 245, 245, 0.1);
  text-align: center;
}
.promocodes-wrapper .submit {
  width: 50%;
  display: block;
  margin: auto;
  height: unit(46);
  background: #5f5f5f;
  box-sizing: border-box;
  border-radius: unit(2);
  border: unit(1) solid #5f5f5f;
  color: #8f8f8f;
  font-weight: bold;
  text-transform: uppercase;
  font-size: unit(14);
  font-family: Rubik-Light, sans-serif;
  outline: none;
  cursor: pointer;
  &:not([disabled]){
    background: linear-gradient(to right, $basic-c31, $basic-c32);
    color: #f5f5f5;
    border: none;

    &:hover {
      background: $basic-c31;
    }
  }
}
