<div class="authorizeEmp">
  <div class="title"></div>
  <div class="content body-t29">
    <div class="message" *ngIf="isShowLock">{{'channel_lock_check_password' | translate: channelName}}</div>
    <div class="message" *ngIf="isParentControl">{{'ChannelRatePWD' | translate: playbillName}}</div>
  </div>
  <div class="unlock body-t26" (click)="unLock()">{{'unlock' | translate}}</div>
</div>
