@import "/src/assets/css/common-variables.scss";

.authorizeEmp {
  position: relative;
  height: unit(288);
  margin: auto;
  text-align: center;
  .title {
    width: unit(56);
    height: unit(56);
    background: url(assets/img/56/ondemand_play-locked56x56.png) 0px 40px no-repeat;
    position: relative;
    margin: auto;
    padding-top: 40px;
  }
  .close {
    width: 20px;
    height: 20px;
    background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
    cursor: pointer;
    position: relative;
    float: right;
    right: 30px;
    top: unit(-75);
  }
  .content {
    margin-top: 20px;
    color: $text-c31;
    width: unit(593);
    margin: auto;
    position: relative;
    padding-top: 20px;
    line-height: unit(24);
  }
  .unlock {
    width: 140px;
    height: 40px;
    background: $basic-c04;
    margin: auto;
    text-align: center;
    line-height: 40px;
    border-radius: unit(2);
    margin-top: 40px;
    cursor: pointer;
    color: $text-c31;
    &:hover {
      background: $basic-c05;
    }
  }
}
