@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

$image-width: 164;
$image-height: 228;

.vod-poster {
  position: relative;

  .vod-poster-image {
    // transition: all 1s;
    display: block;
    cursor: pointer;
    bottom: unit(0);

    background: none;

    width: unit($image-width);
    height: unit($image-height);

    padding-top: unit(8);
    // will-change: transform;
    transition: all .15s linear;


    .imgs {
      position: relative;
      height: unit(230);
      .videoViewBar{
        position: absolute;
        height: unit(5);
        background-color: $scd-800;
        bottom: unit(0);
        border-bottom-left-radius: unit(3);
      }
      .poster {
        // width: 100%;
        // height: auto;
        position: absolute;
        left: unit(0);
        top: unit(0);
        display: inline-block;
        border-radius: unit(5);
        
      }

      .play{ 
        // display:;
        opacity: 0;
        position: absolute; 
        top: unit(90); left: unit(82);
        transform: translate(-50%, -50%);
        transition: all .15s linear;
        margin: unit(2);
      }
    }

    .vod-score {
      color: $text-c31;
      display: inline-block;
      position: absolute;
      line-height: unit(24);
      margin-left: unit(260);
      background-color: $basic-C08;
      width: unit(42);
      height: unit(24);
      text-align: center;
      @media screen and (max-width: unit(1440)) {
        margin-left: unit(138);
        margin-top: unit(216);
      }
    }

  }

  .vod-poster-image:hover{

    box-shadow: 0px unit(10) unit(30) rgba(156, 173, 195, 0.3);
    padding-top:unit(2);
    .imgs{
     width: 168px;
   
      .poster{
        border: unit(2) solid $scd-800;
        margin: unit(0) unit(-2);
        top: unit(-2);
      } 
      .play{
        opacity: 1;
        left: unit(82);
        top:  unit(110);
  
      }

      .videoViewBar{
        left: -2px;
        border-bottom-right-radius: unit(3);
      }
    }


  }



  .vod-name {
    width: unit($image-width);
    height: unit(34);
    max-height: unit(34);
    position: absolute;
    color: $scd-800;
    cursor: pointer;
    display: block;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
    margin-top: unit(25);
    //display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 16px;
    text-align: center;
  }

}
