<div class="vod-poster">
    <div (click)="selected.emit(vod)" class="vod-poster-image">
      <div class="imgs">
        
          <img class="poster" *ngIf="vod?.picture?.posters?.length"  [src]="vod.picture.posters[0]" onerror="this.onerror=null;this.src='assets/img/default/home_poster.png'"/>

        <img class="poster" src="assets/img/default/home_poster.png" *ngIf="!vod.picture.posters"/>
  
        <!-- <object data="/assets/img/ui/play.svg" type="image/svg+xml" class='play'></object> -->
        <img src="/assets/img/ui/play.svg" class='play'>
        <div class="videoViewBar" *ngIf="vod.bookmark?.rangeTime" [ngStyle]="{ width: vod.videoViewBar + '%'}"></div>
      </div>
    </div>
    <span class="vod-name body-t14 font-regular" (click)="selected.emit(vod)">{{vod.name}}&nbsp;</span>
  </div>