<div class="card-container">
  <app-banner-carousel *ngIf="(homeData$ | async).data?.banner" [data]="(homeData$ | async).data?.banner"></app-banner-carousel>
  <app-continue-watching *ngIf="!(homeData$ | async).loading"></app-continue-watching>
  <app-home-content *ngIf="(homeData$ | async).data" [data]="(homeData$ | async).data"></app-home-content>
  <div class="home-filter-load" *ngIf="(homeData$ | async).loading">
    <div class="spinner"></div>
  </div>
</div>
