@import "/src/assets/css/common-variables.scss";

.moreTitles {
  height: unit(54);
  width: unit(1280);
  position: relative;
  margin: auto;
  @media screen and (max-width: 1440px) {
    width: unit(980);
  }
  .title {
    min-width: unit(50);
    height: unit(14);
    position: relative;
    float: left;
    padding-top: unit(25);
    color: $text-c31;
    line-height: 11px;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
}
.live-filter-load {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  display: block;
  .spinner {
    position: absolute;
    left: 0;
    width: 80px;
	  height: 80px;
    background: url(assets/img/80/login_popup_load_80x80.png) no-repeat;
    -webkit-animation: login_load_roate_div 2s infinite;
    animation: login_load_roate_div 2s infinite;
  }
}
