<div class='hot-genres-more' *ngIf="moreChannelList">
<div class="moreTitles">
	<div class="title title-t18" >{{title}} &nbsp;</div>
</div>
	<waterfall-channel class="waterfall" [data]="moreChannelList" *ngIf="moreChannelList" (child)="onClickDetail($event)"></waterfall-channel>
</div>
<div class="live-filter-load" >
  <div class="spinner"></div>
</div>
