@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.fullScrean {
  width: 100%;
  height: 100%;
  position: absolute;
}

.clickFullScrean {
  width: unit(980);
  height: 100%;
  position: absolute;
  float: left;
}

.miniDetail {
  width: unit(428);
  height: unit(873);
  background-color: $basic-c17;
  overflow: hidden;
  display: block;
  position: absolute;
  left: unit(952);
  box-shadow: unit(-8) unit(0) unit(3) $basic-C10;
  -webkit-animation: fade-in 1s;
  @media screen and (max-width: unit(1440)) {
    -webkit-animation: mini-fade-in 1s;
    left: unit(552);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    left: unit(1280)
  }
  100% {
    opacity: 1;
    left: unit(952);
  }
}

@-webkit-keyframes mini-fade-in {
  0% {
    opacity: 0;
    left: unit(980)
  }
  100% {
    opacity: 1;
    left: unit(552);
  }
}

.outminidetail {
  position: absolute;
  z-index: 10;
  left: unit(1280);
  @media screen and (max-width: unit(1440)) {
    -webkit-animation: mini-fade-out 1s;
    left: unit(980);
  }
  -webkit-animation: fade-out 1s;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    left: unit(952)
  }
  100% {
    opacity: 0;
    left: unit(1280);
  }
}

@-webkit-keyframes mini-fade-out {
  0% {
    opacity: 1;
    left: unit(552)
  }
  100% {
    opacity: 0;
    left: unit(980);
  }
}

.title {
  height: unit(50);
}
.titleBg {
  height: unit(50);
}
.detailNo {
  margin-left: unit(20);
  float: left;
  color: $text-c34;
  margin-top: unit(17);
  width: unit(10);
  cursor: default;
}

.detailImg {
  margin-left: unit(13);
  float: left;
  width: unit(40);
  height: unit(40);
  img{
    margin-top: unit(5);
    width: unit(0);
    height: unit(0);
    position: absolute;
    visibility: hidden;
  }
  .detailLogo {
    margin-top: unit(5);
    width: unit(40);
    height: unit(40);
    position: absolute;
    display: inline-block;
  }
}

.detailChannel {
  width: unit(160);
  margin-left: unit(14);
  float: left;
  color: $text-c34;
  margin-top: unit(17);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.lockImg {
  @extend .lock-16;
  width: unit(16);
  height: unit(16);
  float: right;
  margin-right: unit(8);
  margin-top: unit(17);
  cursor: pointer;
}

.lockImgDone {
  @extend .lock2-16;
  width: unit(16);
  height: unit(16);
  float: right;
  margin-right: unit(8);
  margin-top: unit(17);
  cursor: pointer;
}

.lineFirst {
  width: unit(1);
  height: unit(30);
  background: $basic-c21;
  float: right;
  margin-right: unit(15);
  margin-top: unit(10);
}
.favImg {
  @extend .fav2-16;
  width: unit(16);
  height: unit(16);
  float: right;
  margin-right: unit(29);
  margin-top: unit(17);
  cursor: pointer;
}

.favImgDone {
  @extend .fav-16;
  width: unit(16);
  height: unit(16);
  float: right;
  margin-right: unit(29);
  margin-top: unit(17);
  cursor: pointer;
}

.closeImg {
  @extend .close-24;
  width: unit(24);
  height: unit(24);
  float: right;
  margin-right: unit(13);
  margin-top: unit(13);
  cursor: pointer;
}

.lineSecond {
  height: unit(1);
  background: $basic-c21;
}

.contentTitle {
  padding-left: unit(19);
  width: unit(388);
  color: $text-c31;
  padding-top: unit(25);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.contentTime {
  margin-left: unit(19);
  color: $text-c35;
  margin-top: unit(21);
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: unit(338);
}

.contentSeason {
  margin-left: unit(19);
  color: $text-c35;
  margin-top: unit(8);
  position: relative;
}

.contentAge {
  margin-left: unit(19);
  color: $text-c35;
  margin-top: unit(8);
  position: relative;
}

.introduce {
      margin-top: unit(34);
      padding-left: unit(19);
      color: $text-c35;
      line-height: unit(21);
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      width: unit(388);
      height: unit(63);
    }
    .introduce-more {
      width: unit(14);
      height: unit(14);
      background: url(assets/img/14/angledown_14.png) no-repeat;
      display: block;
      cursor: pointer;
      position: absolute;
      margin-left: unit(388);
    }
    .introduce-less {
      width: unit(14);
      height: unit(14);
      background: url(assets/img/14/angleup_14.png) no-repeat;
      display: block;
      margin-left: unit(388);
      position: absolute;
      cursor: pointer;
    }
  #introduceShowIcon {
    color: $text-c35;
    line-height: unit(21);
    width: unit(388);
    height: auto;
    visibility: hidden;
    position: absolute;
}

#showicon {
    visibility: hidden;
    position: absolute;
}
.button {
    float: left;
    margin-top: unit(42);
}

.btnPlay {
    float: left;
    margin-left: unit(20);
    text-align: center;
    border: unit(1) solid $basic-c25;
    height: $bwc2-height;
    line-height: unit(14);
    border-radius: $rounded-rc1;
    .playInfo {
        color: $basic-c01;
        position: relative;
        float: left;
        margin-left: unit(20);
        margin-right: unit(20);
        margin-top: unit(7);
        .playImg {
            @extend .play-14;
            width: unit(14);
            height: unit(14);
            background-size: cover;
            float: left;
            margin-right: unit(10);
        }
    }
}

.btnPlay:hover {
    background-color: $basic-c26;
    cursor: pointer;
}

.buttons {
    float: left;
    margin-top: unit(42);
}

.btnRemind {
    float: left;
    margin-left: unit(25);
    text-align: center;
    border: unit(1) solid $basic-c25;
    height: $bwc2-height;
    border-radius: $rounded-rc1;
    .RemindInfo {
        color: $basic-c01;
        position: relative;
        float: left;
        margin-left: unit(20);
        margin-right: unit(20);
        margin-top: unit(7);
        line-height: unit(14);
        .RemindImg {
            width: unit(14);
            height: unit(14);
            background-size: cover;
            float: left;
            margin-right: unit(10);
        }
    }
}

.btnRemind:hover {
    background-color: $basic-c26;
    cursor: pointer;
}

.btnRecord {
    float: left;
    margin-left: unit(20);
    text-align: center;
    border: unit(1) solid $basic-c25;
    height: $bwc2-height;
    border-radius: $rounded-rc1;
    .RecordInfo {
        color: $basic-c01;
        position: relative;
        float: left;
        margin-left: unit(20);
        margin-right: unit(20);
        margin-top:unit(7);
        line-height: unit(14);
        .RecordImg {
            width: unit(14);
            height: unit(14);
            background-size: cover;
            float: left;
            margin-right: unit(10);
        }
    }
}

.btnRecord:hover {
    background-color: $basic-c26;
    cursor: pointer;
}


.lineThird {
  height: unit(1);
  background: $basic-c21;
  margin-top: unit(100);
}

.recommendTitle {
  margin-left: unit(19);
  color: $text-c31;
  margin-top: unit(30);
  margin-bottom: unit(20);
  position: relative;
  cursor: default;
}

.recommend {
  overflow: hidden;
  width: 100%;
  .recommend-list-panel {
    width: unit(428);
    position: relative;
    overflow: hidden;
    top: unit(0);
    .recommend-list {
      position: relative;
      float: left;
      width: unit(184);
      height: unit(104);
      margin-left: unit(20);
      margin-bottom: unit(85);
      .recommend-poster {
        width: unit(184);
        height: unit(104);
        cursor: pointer;
        img {
          width: unit(184);
          height: unit(104);
          position: absolute;
          display: inline-block;
          background: url(assets/img/default/livetv_mini.png)no-repeat;
        }
      }
      .timeAll {
        position: absolute;
        background-color: $basic-c03;
        width: unit(184);
        height: unit(4);
        margin-top: unit(-4);
      }
      .timeNow {
        position: absolute;
        background-color: $basic-c04;
        height: unit(4);
        margin-top: unit(-4);
      }
      .recommend-vod-name {
        width: unit(184);
        position: absolute;
        display: inline-block;
        color: $text-c31;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: unit(12);
        cursor: pointer;
      }
      .tvod-startTime {
        bottom: unit(20);
        cursor: default;
        color: $text-c34;
        display: inline-block;
        top: unit(40);
        position: relative;
        width: unit(184);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .tvod-leftTime {
        bottom: unit(20);
        cursor: default;
        color: $text-c34;
        display: inline-block;
        top: unit(40);
        position: relative;
        width: unit(184);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.noFutureChannel {
  margin-top: unit(116.5);
}

.content-wrap{
  position: relative;
  overflow:hidden;
}
.scrollContent {
  position:relative;
  top: unit(0);
  .content {
    cursor: default;
  }
}
.scrollList {
      position: absolute;
      top: unit(5);
      right: unit(0);
      .scroll {
        right: unit(0);
        top: unit(0);
        width: unit(18);
        bottom: unit(8);
        cursor: pointer;
        position: absolute;
        background: $basic-C09;
        span {
          height: unit(0);
          width: unit(18);
          right: unit(0);
          position: absolute;
          top: unit(0);
          #content {
            left: unit(6);
            position: absolute;
            width: unit(7);
            height: 100%;
            cursor: pointer;
            background: $basic-c03;
            border-radius: unit(24);
          }
        }
      }
    }
