@import "/src/assets/css/common-variables.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.score-rate {
  height: unit(63);
  .dropup {
    height: unit(12);
    margin-left: unit(110);
    @extend .popup-19;
  }
  .score {
    height: unit(44);
    background-color: $basic-c17;
    border-radius: $rounded-rc1;
    box-shadow: unit(0) unit(19) unit(40) $basic-c06;
    .score-star {
      height: unit(24);
      margin-left: unit(15);
      margin-top: unit(10);
      float: left;
      cursor: pointer;
      .rating_star {
        width: unit(24);
        height: unit(24);
        float: left;
        margin-right: unit(5);
        .rating_star_empty {
          float: left;
          width: unit(24);
          height: unit(24);
          @extend .rateEmty-24
        }
        .rating_star_half {
          float: left;
          width: unit(24);
          height: unit(24);
          @extend .rateHalf-24
        }
        .rating_star_full {
          float: left;
          width: unit(24);
          height: unit(24);
          @extend .rateFull-24
        }
      }
      .rating_star:nth-child(5) {
        margin-right: unit(0);
      }
    }
    .score-value {
      height: unit(44);
      width: unit(22);
      float: left;
      text-align: center;
      padding-left: unit(15);
      margin-right: unit(20);
      line-height: unit(44);
      color: $text-c31;
    }
  }
}
