<div class="score-rate" *ngIf="info"  (mouseenter)="mouseEnterScore()" (mouseleave)="mouseLeaveScore()" [ngStyle]="{display: clickFlag ? 'none' : 'block'}" >
  <div class="dropup"></div>
  <div class="score" (mouseleave)="leave()">
    <div class="score-star">
      <div *ngFor="let star of starArray,let starIndex=index" class="rating_star">
        <div [ngSwitch]="star">
          <div *ngSwitchCase=1  (mouseenter)="enter(starIndex)" (mousemove)="move(starIndex,$event)" (click)="click()" class="rating_star_half"></div>
          <div *ngSwitchCase=2  (mouseenter)="enter(starIndex)" (mousemove)="move(starIndex,$event)" (click)="click()" class="rating_star_full"></div>
          <div *ngSwitchDefault (mouseenter)="enter(starIndex)" (mousemove)="move(starIndex,$event)" (click)="click()" class="rating_star_empty"></div>
        </div>
      </div>
    </div>
    <span class="score-value body-t26">{{scoreValue}}</span>
  </div>
</div>
