@import "/src/assets/css/common-variables.scss";

* {
  margin: unit(0);
  padding: unit(0);
  border: none;
}

suspensionchannel {
  position: absolute;
  z-index: 12;
  background: $basic-c17;
}

.myChannels {
  width: unit(1086);
  margin: auto;
  .myChannels-panel {
    width: unit(1086);
    .myChannels-frame {
      width: unit(164);
      height: unit(223);
      margin-right: unit(20);
      float: left;
      .myChannels-poster {
        width: unit(164);
        height: unit(164);
        cursor: pointer;
        .dataPic {
          width: unit(164);
          height: unit(164);
          background: $basic-c21;
          img {
            width: unit(100);
            height: unit(100);
            display: block;
            padding-top: unit(32);
            padding-left: unit(32);
          }
        }
        .myChannels-delete {
          width: unit(24);
          height: unit(24);
          position: absolute;
          margin-top: unit(-154);
          margin-left: unit(130);
          @extend .delete-24;
          cursor: pointer;
        }
      }
      .myChannels-name {
        width: unit(164);
        height: unit(24);
        margin-top: unit(10);
        line-height: unit(24);
        color: $text-c31;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
      }
    }
    .myChannels-frame:nth-child(6n+4),
    .myChannels-frame:nth-child(6n+5) {
      margin-right: unit(21);
    }
    .myChannels-frame:nth-child(6n+6) {
      margin-right: unit(0);
    }
  }
}

@media screen and (max-width: 1440px) {
  .myChannels .myChannels-panel .myChannels-frame:nth-child(6n+1),
  .myChannels .myChannels-panel .myChannels-frame:nth-child(6n+2),
  .myChannels .myChannels-panel .myChannels-frame:nth-child(6n+3),
  .myChannels .myChannels-panel .myChannels-frame:nth-child(6n+4),
  .myChannels .myChannels-panel .myChannels-frame:nth-child(6n+5),
  .myChannels .myChannels-panel .myChannels-frame:nth-child(6n+6) {
    margin-right: unit(20);
  }
  .myChannels {
    width: unit(686);
  }
  .myChannels .myChannels-panel {
    width: unit(686);
  }
  .myChannels .myChannels-panel .myChannels-frame {
    width: unit(156);
    height: unit(215);
  }
  .myChannels .myChannels-panel .myChannels-frame:nth-child(4n+4) {
    margin-right: unit(0);
  }
  .myChannels .myChannels-panel .myChannels-frame .myChannels-poster {
    width: unit(156);
    height: unit(156);
  }
  .myChannels .myChannels-panel .myChannels-frame .myChannels-poster .dataPic {
    width: unit(156);
    height: unit(156);
  }
  .myChannels .myChannels-panel .myChannels-frame .myChannels-poster .dataPic img {
    width: unit(90);
    height: unit(90);
    padding-top: unit(33);
    padding-left: unit(33);
  }
  .myChannels .myChannels-panel .myChannels-frame .myChannels-poster .myChannels-delete {
    margin-top: unit(-146);
    margin-left: unit(122);
  }
  .myChannels .myChannels-panel .myChannels-frame .myChannels-name {
    width: unit(156);
  }
}
