<div class="myChannels" *ngIf="dataList">
	<suspensionchannel id="suspensionChannel" [ngStyle]="{visibility: (channelShow == 'true') ? 'visible' : 'hidden'}"></suspensionchannel>
	<div class="myChannels-panel">
		<ul *ngFor="let data of dataList;let dataIndex=index" class="myChannels-frame">
			<div class="myChannels-poster" (mouseenter)="mouseenter(data, $event)" (mouseleave)="closeDialog()" (click)="channelDetail(data)">
				<div class="dataPic">
					<img src="{{data.posterUrl}}" onerror="this.onerror=null;this.src='assets/img/default/myTV_channel_poster.png'"/>
				</div>
				<div class="myChannels-delete" [ngStyle]="{display: (isDelete == '1') ? 'block' : 'none'}" (click)="deleteData(data,dataIndex)"></div>
			</div>
			<div class="myChannels-name  body-t29" (click)="channelDetail(data)">{{data.ChannelName}}</div>
		</ul>
	</div>
</div>
