<div class="waterfall-channel-box" *ngIf="dataList">
	<suspensionprogram id="suspensionInfo" [ngStyle]="{visibility: (hotShow == 'true') ? 'visible' : 'hidden'}"></suspensionprogram>
	<div *ngFor="let data of dataList;let dataIndex=index" class="waterfallChannel-frame" id="channelFrame">
		<div class="channel-poster" (mouseenter)="mouseenterChannel(data, $event)" (mouseleave)="closeDialogChannel(data)" (click)="vodDtail(data)">
			<img src="{{data.posterUrl}}" onerror="this.onerror=null;this.src='assets/img/default/livetv_home_small.png'" />
			<div class="timeAll" *ngIf="data.isLen == '1'"></div>
			<div class="timeNow" *ngIf="data.isLen == '1'" [style.width]="data.len"></div>
		</div>
		<span class="channel-name body-t29" (click)="vodDtail(data)">{{data?.name | translate}}</span>
		<span  class="tvod-startTime body-t32" *ngIf=" data.isLen == '0' ">{{data?.startTimes}}{{data?.channelName}}</span>
		<span  class="tvod-leftTime body-t32" *ngIf=" data.isLen == '1' ">{{'playbill_format_time' | translate:data?.leftTimes}}{{data?.channelName}}</span>
</div>