@import "/src/assets/css/common-variables.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
}

suspensionprogram {
  position: absolute;
  z-index: 12;
  background: $basic-c17;
}

.waterfall-channel-box {
  width: 1280px;
  border-top: 1px;
  position: relative;
  padding-top: 0px;
  margin: auto;
  .waterfallChannel-frame {
    position: relative;
    float: left;
    width: 260px;
    margin-right: 20px;
    margin-bottom: 70px;
    .channel-poster {
      width: 260px;
      height: 146px;
      cursor: pointer;
      img {
        width: 260px;
        height: 146px;
        position: absolute;
        display: inline-block;

      }
    }
    .timeAll {
      position: absolute;
      background-color: $basic-c03;
      width: 260px;
      height: 4px;
      top: 142px;
    }
    .timeNow {
      position: absolute;
      background-color: $basic-c04;
      height: 4px;
      top: 142px;
    }
    .channel-name {
      width: 260px;
      height: 24px;
      position: absolute;
      display: inline-block;
      color: $text-c31;
      line-height: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 15px;
      cursor: pointer;
    }

.tvod-startTime,
.tvod-leftTime {
    cursor: default;
    color: $text-c34;
    display: inline-block;
    top: 44px;
    position: relative;
    width: 260px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 20px;
    line-height: 19px;
}
  }
  .waterfallChannel-frame:nth-child(5n+6) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1440px) {
  .waterfall-channel-box {
    max-width: 980px;
    margin: auto;
  }
  .waterfall-channel-box .waterfallChannel-frame {
    width: 230px;
    height: 169px;
    margin-right: 20px;
    margin-bottom: 52px;
  }
  .waterfall-channel-box .waterfallChannel-frame:nth-child(5n+6) {
    margin-right: 20px;
  }
  .waterfall-channel-box .waterfallChannel-frame:nth-child(4n+5) {
    margin-right: 0;
  }
  .waterfall-channel-box .waterfallChannel-frame .channel-poster {
    max-width: 230px;
    height: 129px;
  }
  .waterfall-channel-box .waterfallChannel-frame .channel-poster img {
    max-width: 230px;
    height: 129px;
  }
  .waterfall-channel-box .waterfallChannel-frame .timeAll {
    width: 230px;
    top: 125px;
  }
  .waterfall-channel-box .waterfallChannel-frame .timeNow {
    top: 125px;
  }
  .waterfall-channel-box .waterfallChannel-frame .channel-name {
    max-width: 230px;
  }
.waterfall-channel-box .waterfallChannel-frame .tvod-startTime {
    max-width: 230px;
  }
  .waterfall-channel-box .waterfallChannel-frame .tvod-leftTime {
    max-width: 230px;
  }
}
