<div
    *ngIf="isSubscribed"
    id="videoController"
    [class]="isSmallScreen === 0 ? 'smallScreen': 'fullScreen'"
    [style.background]="!playing && !isShowOnLoad ? 'none' : ''"
    [style.opacity]="isJumpOut ? '0.2' : ''"
>
    <app-preview [ngStyle]="{'visibility': (playEnd || playFail) ? 'hidden' : 'visible'}"></app-preview>
    <div *ngIf="isSmallScreen === 0 && !playing" class="topController_small" ></div>
    <div *ngIf="isSmallScreen === 1 && !playing" class="topController_full"></div>
    <div class="playBarDiv" [style.display]="playing && !isShowOnLoad ? 'block' : 'none'">
        <div class="playBar"></div>
        <div #playBarBuffer class="playBar-buffer"></div>
        <div id="playBarActive" class="playBar-active">
            <input type="range" #seekbar id="vodSeekbar" class="seekbar" value="0" min="0" step="1"/>
        </div>
    </div>
    <div id="playTraInfo" [class]="isSmallScreen === 0 ? 'body-t29': 'body-t27'" *ngIf="isPlayTraInfo">{{'watching_the_trailer' | translate}} </div>
    <div class="playFilm" *ngIf="isPlayTra && vodetails && vodetails.VODType && vodetails.VODType == '0'" (click)="playFilm()">
        <div class="playFilmInfo">
            <div class="playFilmBtn play-14"></div>
            <div class="playFilmWord body-t32">{{'play_content' | translate}}</div>
        </div>
    </div>
    <div class="skip-part skip-top-value" *ngIf="showSkipMessage">
        <div id="skip-tips" [class]="isSmallScreen === 0 ? 'body-t29': 'body-t27'">{{skipMessage | translate}}</div>
        <div id="skip-setting" [class]="isSmallScreen === 0 ? 'title-t17': 'title-t16'" (click)="showSettingBtn()">{{'setting_skip' | translate}}</div>
    </div>
    <div id="playPauseBtn"
         class="btn-play-pause"
         [class.gray]="!(playing && !isShowOnLoad)"
         [title]="playPause | translate"
         (click)="playControl()"
         [style.backgroundImage]="isPlay == 0 ? paused : ''"></div>
    <span [class]="isSmallScreen === 0 ? 'btn-duration-display body-t34' : 'btn-duration-display title-t18'" [ngStyle]='{"visibility":playing && !isShowOnLoad ? "visible" : "hidden"}'>{{videoNowTime}}&nbsp;</span>
    <span [class]="isSmallScreen === 0 ? 'btn-time-display body-t34' : 'btn-time-display title-t18'" [ngStyle]='{"visibility":playing && !isShowOnLoad ? "visible" : "hidden"}'>{{videoTotalTime}}</span>

    <div id="playNextBtn" class="btn-play-next" title="{{'playbar_next' | translate}}" [style.display]="vodType == '0' || isLastOne ? 'none' : 'block'" (click)="playNextVideo()" ></div>
    <div id="fullscreenBtn" class="btn-fullscreen" title="{{smallFullScreen | translate}}" [style.cursor]="isJumpOut?'default':'pointer'" (click)="enterFullScreen()"></div>
    <div id="setBtn" [class]="playing && !isShowOnLoad && !noSettingMenu ? 'btn-set': 'btn-noset'" title="{{'play_set' | translate}}" (mouseenter)="showSettingBtn()" (mouseleave)="closeSettingBtn()"></div>
    <div id="autoBtn" [class]="playing && !isShowOnLoad ? 'btn-auto': 'btn-autoGray'" title="{{'definition' | translate}}" (mouseenter)="showDefinitionDetail()" (mouseleave)="hideDefinitionDetail()" >
        <span class="auto body-t32" value="Auto">{{definitionValue | translate}}</span>
    </div>
    <div id="volumeBtn" class="btn-volume"
         [class.mute-volume]="isVolume === 0"
         [style.cursor]="isJumpOut?'default':'pointer'"
         [title]="'play_volume' | translate"
         (click)="volumeControl()"
         (mouseenter)="showVolumeBar()"
         (mouseleave)="hiddenVolumeBar()" ></div>
</div>
