@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.smallScreen {
  width: 100%;
  height: unit(40);
  background: $basic-C08;
  margin-top: unit(-40);
  position: relative;
  .topController_small {
    z-index: -1;
    top: unit(-20);
    width: unit(993);
    height: unit(60);
    position: absolute;
    background: -webkit-linear-gradient(top, $bg-M7);
    background: -moz-linear-gradient(top, $bg-M7);
    background: -ms-linear-gradient(top, $bg-M7);
    text-align: center;
    @media screen and (max-width: unit(1440)) {
      width: unit(670);
    }
  }
  .playBarDiv {
    width: 100%;
    height: unit(14);
    cursor: pointer;
    position: absolute;
    .playBar {
      width: 100%;
      height: unit(3);
      position: absolute;
      margin-top: unit(-3);
      background: $basic-c07;
    }
    .playBar-buffer {
      width: 100%;
      height: unit(3);
      position: absolute;
      margin-top: unit(-3);
    }
    .playBar-active {
      width: 100%;
      height: unit(3);
      position: absolute;
      margin-top: unit(-3);
      input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: unit(3);
        border: none;
        margin: unit(0);
        background: $basic-c31;
        outline: none;
        cursor: pointer;
      }
      input[type=range]::-moz-focus-outer {
        border: 0;
      }
      input[type="range"]::-moz-range-track {
        border: inherit;
        background: transparent;
      }
      input[type="range"]::-ms-track {
        border: inherit;
        color: transparent;
        background: transparent;
      }
      input[type="range"]::-ms-fill-lower,
      input[type="range"]::-ms-fill-upper {
        background: transparent;
      }
      input[type="range"]::-ms-tooltip {
        display: none;
      }
      /* thumb */
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: unit(14);
        height: unit(14);
        border: none;
        background: url(assets/img/14/progressbar_14.png);
      }
      input[type="range"]::-moz-range-thumb {
        width: unit(14);
        height: unit(14);
        border: none;
        background: url(assets/img/14/progressbar_14.png);
      }
      input[type="range"]::-ms-thumb {
        width: unit(14);
        height: unit(14);
        border: none;
        background: url(assets/img/14/progressbar_14.png);
      }
      div#videoController input[type="range"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
  #playTraInfo {
    float: left;
    margin-left: unit(20);
    color: $text-c31;
    position: absolute;
    z-index: 12;
    top: unit(-32);
  }
  .playFilm {
    height: unit(28);
    background-color: $basic-c04;
    margin-right: unit(10);
    float: right;
    border-radius: unit(2);
    cursor: pointer;
    position: absolute;
    right: unit(0);
    z-index: 12;
    margin-top: unit(-41);
    .playFilmInfo {
      color: $text-c31;
      float: left;
      margin-left: unit(4);
      margin-top: unit(4);
      margin-right: unit(4);
      line-height: unit(19);
      .playFilmBtn {
        width: unit(14);
        height: unit(14);
        background-size: cover;
        float: left;
        margin-right: unit(2);
        margin-top: unit(2);
      }
      .playFilmWord {
        float: left;
        color: $text-c31;
      }
    }
  }
  .btn-play-pause {
    width: unit(24);
    height: unit(24);
    float: left;
    margin: unit(8) unit(20);
    background-image: url(assets/img/24/pause_24.png);
    background-repeat: no-repeat;
    cursor: pointer;

    &.gray {
        background-image: url(assets/img/24/details_play_24.png);
        background-repeat: no-repeat;
        cursor: inherit;
    }
  }
  .btn-duration-display {
    height: unit(12);
    display: block;
    float: left;
    padding-top: unit(14);
    color: $text-c31;
  }
  .btn-time-display {
    height: unit(12);
    display: block;
    float: left;
    padding-top: unit(14);
    color: $text-c35;
  }
  .btn-play-next {
    width: unit(20);
    height: unit(20);
    float: left;
    margin: unit(11) unit(12) 0;
    background: url(assets/img/20/ondemand_Switching.png);
    cursor: pointer;
  }
  .btn-volume {
    width: unit(20);
    height: unit(20);
    float: right;
    margin: unit(10) unit(0);
    cursor: pointer;
    background: url(assets/img/20/volume2_20.png) no-repeat;

    &.mute-volume {
      background: url(assets/img/20/mute_20.png) no-repeat;
    }
  }
  .btn-auto {
    width: unit(85);
    height: unit(16);
    border: unit(1) solid $basic-c02;
    border-radius: unit(2);
    float: right;
    margin: unit(10) unit(0) unit(10) unit(20);
    text-align: center;
    cursor: pointer;
    padding: 0 unit(10);
    .auto {
      color: $text-c31;
      line-height: unit(16);
      white-space: nowrap;
    }
  }
  .btn-autoGray{
    width: unit(85);
    height: unit(16);
    border: unit(1) solid $basic-c23;
    border-radius: unit(2);
    float: right;
    margin: unit(10) unit(0) unit(10) unit(20);
    text-align: center;
    cursor: default;
    padding: 0 unit(10);
    .auto {
      position: relative;
      top: unit(2);
      color: $text-c34;
      line-height: unit(12);
      white-space: nowrap;
    }
  }
  .btn-set {
    width: unit(20);
    height: unit(20);
    float: right;
    margin: unit(10) unit(0) unit(10) unit(20);
    background: url(assets/img/20/setting2_20.png);
    cursor: pointer;
  }
  .btn-noset {
    width: unit(20);
    height: unit(20);
    float: right;
    margin: unit(10) unit(0) unit(10) unit(20);
    background: url(assets/img/20/setting_20.png);
  }
  .btn-fullscreen {
    //visibility: hidden;
    //pointer-events: none;
    width: unit(20);
    height: unit(20);
    float: right;
    background: url(assets/img/20/enlarge_20.png);
    background-size: unit(20) unit(20);
    margin: unit(10) unit(24);
    cursor: pointer;
  }
  .skip-top-value {
    top: unit(-32);
  }
}

.fullScreen {
  width: 100%;
  height: unit(48);
  background: $basic-C08;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2200000000;
  .topController_full {
    z-index: -1;
    top: unit(-70);
    width: 100%;
    height: unit(120);
    position: absolute;
    background: -webkit-linear-gradient(top, $bg-M7);
    background: -moz-linear-gradient(top, $bg-M7);
    background: -ms-linear-gradient(top, $bg-M7);
    text-align: center;
  }
  .playBarDiv {
    width: 100%;
    position: absolute;
    cursor: pointer;
    .playBar {
      width: 100%;
      height: unit(8);
      position: absolute;
      margin-top: unit(-8);
      background: $basic-c07;
    }
    .playBar-buffer {
      height: unit(8);
      position: absolute;
      margin-top: unit(-8);
    }
    .playBar-active {
      width: 100%;
      height: unit(8);
      position: absolute;
      margin-top: unit(-8);
      input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: unit(8);
        border: none;
        margin: unit(0);
        outline: none;
        cursor: pointer;
        background: $basic-c07;
        /* no focus outline */
      }
      input[type=range]::-moz-focus-outer {
        border: 0;
      }
      input[type="range"]::-moz-range-track {
        border: inherit;
        background: transparent;
      }
      input[type="range"]::-ms-track {
        border: inherit;
        color: transparent;
        /* don't drawn vertical reference line */
        background: transparent;
      }
      input[type="range"]::-ms-fill-lower,
      input[type="range"]::-ms-fill-upper {
        background: transparent;
      }
      input[type="range"]::-ms-tooltip {
        display: none;
      }
      /* thumb */
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: unit(20);
        height: unit(20);
        border: none;
        background: url(assets/img/14/progressbar_14.png);
        background-size: unit(20) unit(20);
      }
      input[type="range"]::-moz-range-thumb {
        width: unit(20);
        height: unit(20);
        border: none;
        background: url(assets/img/14/progressbar_14.png);
        background-size: unit(20) unit(20);
      }
      input[type="range"]::-ms-thumb {
        width: unit(20);
        height: unit(20);
        border: none;
        background: url(assets/img/14/progressbar_14.png);
        background-size: unit(20) unit(20);
      }
      div#videoController input[type="range"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
  #playTraInfo {
    float: left;
    margin-left: unit(20);
    color: $text-c31;
    position: absolute;
    top: unit(-40);
  }
  .playFilm {
    height: unit(28);
    background-color: $basic-c04;
    margin-right: unit(10);
    float: right;
    border-radius: unit(2);
    cursor: pointer;
    position: absolute;
    right: unit(0);
    margin-top: unit(-47);
    .playFilmInfo {
      float: left;
      margin-top: unit(4);
      margin-left: unit(4);
      margin-right: unit(4);
      line-height: unit(19);
      .playFilmBtn {
        width: unit(14);
        height: unit(14);
        background-size: cover;
        float: left;
        margin-right: unit(2);
        margin-top: unit(2);
      }
      .playFilmWord {
        float: left;
        color: $text-c31;
      }
    }
  }
  .btn-play-pause {
    width: unit(32);
    height: unit(32);
    float: left;
    margin: unit(10) unit(20) unit(8) unit(20);
    background-image: url(assets/img/32/timeout_fullscreen_32.png);
    background-repeat: no-repeat;
    cursor: pointer;

    &.gray {
        background-image: url(assets/img/32/stop_32.png);
        background-repeat: no-repeat;
        cursor: inherit;
    }
  }
  .btn-duration-display {
    height: unit(14);
    display: block;
    float: left;
    padding-top: unit(20);
    color: $text-c31;
    line-height: unit(14);
  }
  .btn-time-display {
    height: unit(14);
    display: block;
    float: left;
    padding-top: unit(20);
    color: $text-c35;
    line-height: unit(14);
  }
  .btn-play-next {
    width: unit(24);
    height: unit(24);
    float: left;
    margin: unit(14) unit(0) unit(10) unit(30);
    background: url(assets/img/24/switching_24.png);
    background-size: unit(24) unit(24);
    cursor: pointer;
  }
  .btn-volume {
    width: unit(24);
    height: unit(24);
    float: right;
    margin: unit(8) unit(0);
    background-size: unit(24) unit(24);
    cursor: pointer;
    background: url(assets/img/24/volume_24.png) no-repeat;

    &.mute-volume {
      background: url(assets/img/24/mute_24.png) no-repeat;
    }
  }
  .btn-auto {
    width: unit(85);
    height: unit(18);
    border: unit(1) solid $text-c32;
    border-radius: unit(2);
    float: right;
    margin: unit(9) unit(0) unit(9) unit(30);
    text-align: center;
    cursor: pointer;
    padding: 0 unit(10);
    .auto {
      color: $text-c31;
      line-height: unit(18);
      white-space: nowrap;
    }
  }
  .btn-autoGray{
    width: unit(85);
    height: unit(18);
    border: unit(1) solid $basic-c23;
    border-radius: unit(2);
    float: right;
    margin: unit(9) unit(0) unit(9) unit(30);
    text-align: center;
    cursor: default;
    padding: 0 unit(10);
    .auto {
      color: $text-c34;
      line-height: unit(18);
      white-space: nowrap;
    }
  }
  .btn-set {
    width: unit(24);
    height: unit(24);
    float: right;
    margin: unit(8) unit(0) unit(8) unit(30);
    background: url(assets/img/24/setting_24.png);
    background-size: unit(24) unit(24);
    cursor: pointer;
  }
  .btn-noset {
    width: unit(24);
    height: unit(24);
    float: right;
    margin: unit(8) unit(0) unit(8) unit(30);
    background: url(assets/img/24/setting_unavialable_24.png);
    background-size: unit(24) unit(24);
  }
  .btn-fullscreen {
    pointer-events: all;
    width: unit(24);
    height: unit(24);
    float: right;
    background: url(assets/img/24/ondemand_Narrow.png);
    background-size: unit(24) unit(24);
    margin: unit(8) unit(30);
    cursor: pointer;
  }
  .skip-top-value {
    top: unit(-40);
  }
}

.skip-part {
  position: absolute;
  left: unit(20);
  #skip-tips {
    color: $text-c31;
    float: left;
  }
  #skip-setting {
    color: $text-c37;
    float: left;
    cursor: pointer;
  }
}
