<div class="score-info">
  <div class="scoreStar">
    <div class="star" [ngSwitch]="star" *ngFor="let star of starArray">
      <div *ngSwitchCase=0 class="rating_star_empty"></div>
      <div *ngSwitchCase=1 class="rating_star_half"></div>
      <div *ngSwitchCase=2 class="rating_star_full"></div>
      <div *ngSwitchDefault class="rating_star_empty"></div>
    </div>
  </div>

  <div class="averageScore">{{ rating }}</div>


  <!--<div class="scoreTimes">
    <div class="onlineImg"></div>
    <span>{{ score }}</span>
  </div>
  -->

  <div class="info">
    <span class="ratingName">{{ RatingName }}&nbsp;</span>
    <span class="produceDate" *ngIf="produceDate">|&nbsp; {{ produceDate }}&nbsp;</span>
    <span class="zoneShow" *ngIf="ProduceZoneName">|&nbsp; {{ ProduceZoneName }}</span>
  </div>
  <div class="definition-wrap" *ngIf="definitions.length > 0">
    <div class="levelImg" *ngFor="let definition of definitions">
      <div class="levelImgInfo">{{definition}}</div>
    </div>
  </div>
</div>
