<div class="profile-manage" id="profile-manage">
  <div class="title  title-t13">
    <span [class]='titleFlag ? "selected" : "unSelected"' (click)="changeTitle($event)">{{'basic_information' | translate}}</span>
    <div class="line"></div>
    <span [class]=' !titleFlag ? "selected1" : "unSelected1"' (click)="changeTitle($event)">{{'modify_password' | translate}}</span>
  </div>
  <div class="content">
    <div class="profile-Info" [ngStyle]='{"display":titleFlag ? "block" : "none"}'>
      <div class="avatar">
        <div class="curAvatar">
          <img src="{{profileInfo.avatar}}" onerror="this.onerror=null;this.src='assets/img/default/ondemand_casts.png'">
          <div class="edit body-t32" (click)="editAvatar()" [ngStyle]='{display:isShowAvatarList ? "none" : "block"}'>{{'edit_profile'|translate}}
            <div class="edit-bg"></div>
          </div>
        </div>
      </div>
      <div class="avatarArea" [ngStyle]='{display:isShowAvatarList ? "inline-block" : "none"}'>
        <span [style.visibility]="vodLeftVisible" (click)="leftArrow()" class="leftArrow"></span>
        <div class="avatarList">
          <ul id="avatarList">
            <li *ngFor='let avatar of avatarList'>
              <img src="{{avatar}}" (mouseenter)="mouseOn(avatar)" (click)="selectAvatar(avatar)"/>
            </li>
          </ul>
        </div>
        <span [style.visibility]="vodRightVisible" (click)="rightArrow()" class="rightArrow"></span>
      </div>
      <div class="item">
        <span class="title-name body-t29">{{'profile_name' | translate}}:</span><input class="body-t32" id="profileName-input" tabindex="1" [(ngModel)]="profileInfo.name" maxlength="{{maxLengthCache}}" (focus)="nameFocus()" (blur)="nameBlur()" (keyup)="isNameChanged($event)" (keypress)="onPressChange($event)"/>
        <span class="delete" [ngStyle]='{"display":isShowNameDelete ? "inline-block" : "none"}' (click)="nameDelete()"></span>
        <div class="nameErrorMsg body-t32" *ngIf="!wrongMessage" [ngStyle]='{display:isShowNameError ? "block": "none"}'>{{nameErrorMsg | translate}}</div>
        <div *ngIf="wrongMessage">
          <div class="nameErrorMsg body-t32" *ngIf="wrongMessageMaxNumber" [ngStyle]='{display:isShowNameError ? "block": "none"}'>{{'max_number' | translate:wrongMessageTip}}</div>
          <div class="nameErrorMsg body-t32" *ngIf="!wrongMessageMaxNumber" [ngStyle]='{display:isShowNameError ? "block": "none"}'>{{'special_characters_tip' | translate:wrongMessageTip}}</div>
        </div>
      </div>
      <div class="item">
        <span class="title-name body-t29">{{'login_id' | translate}}:</span>
                <input class="body-t32" id="loginID-input" [(ngModel)]="profileInfo.loginName" readonly="readonly" />
        <span class="delete" [ngStyle]='{"display":isShowLoginNameDelete ? "inline-block" : "none"}' (click)="loginNameDelete()"></span>
        <div class="nameErrorMsg body-t32" *ngIf="!wrongLoginIdMessage" [ngStyle]='{display:!isShowNameError && isShowLoginNameError ? "block" : "none"}'>{{loginNameErrorMsg | translate}}</div>
        <div *ngIf="wrongLoginIdMessage">
          <div class="nameErrorMsg body-t32" *ngIf="wrongLogIdMessageMaxNumber" [ngStyle]='{display:!isShowNameError && isShowLoginNameError ? "block" : "none"}'>{{'max_number' | translate:wrongLogIdMessageTip}}</div>
          <div class="nameErrorMsg body-t32" *ngIf="!wrongLogIdMessageMaxNumber" [ngStyle]='{display:!isShowNameError && isShowLoginNameError ? "block" : "none"}'>{{'special_characters_tip' | translate:wrongLogIdMessageTip}}</div>
        </div>
      </div>
      <div id="basic-button" class="btn">
        <button id="info-button" [ngClass]="isChanged ? 'save body-t26' : 'disabled-save body-t26'" disabled="disabled" (click)="save()">{{'save'| translate}}</button>
      </div>
    </div>
    <div class="modify-pwd" [ngStyle]='{display: !titleFlag ? "block" : "none"}'>
      <div class="pwd-item">
        <span class="title-name body-t29">{{'old_password' | translate}}:</span><input class="body-t32" id="oldPassword-input" tabindex="1" [(ngModel)]="oldPwd" type="password" maxlength="128" (focus)="oldPwdFocus()" (blur)="oldPwdBlur()" (keyup)="isOldPwdChanged()" onpaste="return false;"/>
        <span class="delete" [ngStyle]='{"display":isShowOldDelete ? "inline-block" : "none"}' (click)="oldPwdDelete()"></span>
        <span class="wrong" [ngStyle]='{"display":isShowOldVerify ? "inline-block" : "none"}'></span>
        <span class="errorMsg body-t32" [ngStyle]='{"display":isShowOldVerify ? "inline-block" : "none"}'>{{oldPwdErrorMsg | translate}}</span>
      </div>
      <div class="pwd-item">
        <span class="title-name body-t29">{{'new_password' | translate}}:</span><input class="body-t32" id="newPassword-input" tabindex="2" [(ngModel)]="newPwd" type="password" maxlength="128" (focus)="newPwdFocus()" (blur)="newPwdBlur()" (keyup)="isNewPwdChanged()" onpaste="return false;"/>
        <span class="delete" [ngStyle]='{"display":isShowNewDelete ? "inline-block" : "none"}' (click)="newPwdDelete()"></span>
        <span [class]="isNewPwdRight ? 'right' : 'wrong'" [ngStyle]='{"display":!isShowOldVerify && isShowNewVerify ? "inline-block" : "none"}'></span>
        <span class="errorMsg body-t32" [ngStyle]='{"display":!isShowOldVerify && !isNewPwdRight && isShowNewVerify ? "inline-block" : "none"}'>{{newPwdErrorMsg | translate}}</span>
      </div>
      <div class="pwd-item">
        <span class="title-name body-t29">{{'confirm_password' | translate}}:</span><input class="body-t32" id="confirmPassword-input" tabindex="3" [(ngModel)]="confirmPwd" type="password" maxlength="128" (focus)="confirmPwdFocus()" (blur)="confirmPwdBlur()" (keyup)="isConfirmPwdChanged()" onpaste="return false;"/>
        <span class="delete" [ngStyle]='{"display":isShowConfirmDelete ? "inline-block" : "none"}' (click)="confirmPwdDelete()"></span>
        <span [class]="isConfirmPwdRight ? 'right' : 'wrong'" [ngStyle]='{"display":isNewPwdRight && isShowConfirmVerify ? "inline-block" : "none"}'></span>
        <span class="errorMsg body-t32" [ngStyle]='{"display": isNewPwdRight && !isConfirmPwdRight && isShowConfirmVerify ? "inline-block" : "none"}'>{{confirmPwdErrorMsg | translate}}</span>
      </div>
      <div id="pwd-button" class="btn">
        <button id="password-button" [ngClass]="isPwdChanged ? 'save body-t26' : 'disabled-save body-t26'" disabled="disabled" (click)="modifyPwd()">{{'save'| translate}}</button>
      </div>
    </div>
  </div>
  <app-mytv-submit class="profile-submit" [infoKey]="infoKey" (closeSubDialog)="closeSubDialog($event)" (cancelOperation)="cancelOperation($event)" (submitData)="submitData($event)" *ngIf="showSubmitDialog"></app-mytv-submit>
</div>
