@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.profile-manage {
  width: unit(1086);
  position: relative;
  font-size: unit(0);
  .title {
    border-bottom: unit(1) solid $basic-c03;
    padding: unit(10) 0;
    color: $text-c35;
    span{
      cursor: pointer;
    }
    .line {
      width: unit(1);
      border-right: unit(1) solid $basic-c03;
      position: relative;
      height: unit(14);
      display: inline-block;
    }
    .selected {
      color: $text-c31;
      margin-right: unit(25);
    }
    .unSelected {
      margin-right: unit(25);
    }
    .selected1 {
      color: $text-c31;
      margin-left: unit(25);
    }
    .unSelected1 {
      margin-left: unit(25);
    }
  }
  .content {
    margin-top: unit(74);
    text-align: center;
    .profile-Info {
      .avatar {
        padding-left: unit(100);
        margin-bottom: unit(50);
        .edit {
          height: unit(30);
          line-height: unit(30);
          color: $text-c31;
          margin: 0 auto;
          margin-top: unit(-30);
          overflow: hidden;
          width: unit(130);
          position: relative;
          cursor: pointer;
        }
        .edit-bg {
          background: $basic-C08;
          height: unit(130);
          width: unit(130);
          border-radius: unit(75);
          margin-top: unit(-130);
        }
      }
      .avatarArea {
        display: inline-block;
        vertical-align: middle;
        margin-top: unit(-10);
        margin-bottom: unit(80);
        margin-left: unit(30);
        span {
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
          margin: unit(0) unit(10);
        }
      }
      .rightArrow{
        @extend .angleright-20;
        &:hover{
          @extend .angleright2-20;
        }
      }
      .leftArrow{
        @extend .angleleft-20;
        &:hover{
          @extend .angleleft2-20;
        }
      }
      .avatarList {
        display: inline-block;
        vertical-align: middle;
        width: unit(810);
        overflow: hidden;
        margin: 0 auto;
        height: unit(82);
        ul {
          display: inline-block;
          vertical-align: middle;
          padding: unit(0);
          width: unit(3000);
          height: unit(76);
          li {
            list-style: none;
            float: left;
            margin: 0 unit(17);
            border-radius: 50%;
            background: none;
            padding: unit(3);
            cursor: pointer;
            &:hover {
              background: $basic-c04;
            }
          }
          img {
            width: unit(76);
            height: unit(76);
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .level-drop {
        width: unit(46);
        height: unit(44);
        background-color: $basic-c17;
        background-image: url(assets/img/22/moreup_22.png);
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        position: absolute;
        margin-left: unit(-46);
        cursor: pointer;
      }
      .level-list {
        position: absolute;
        margin-left: unit(378);
        background: $basic-c19;
        margin-top: unit(-6);
        -webkit-user-select: none;
        cursor: pointer;
        z-index: 1;
        li {
          list-style: none;
          height: unit(46);
          line-height: unit(46);
          color: $text-c35;
          width: unit(460);
          &:hover {
            background: $basic-c03;
            color: $text-c31;
          }
        }
      }
    }
  }
  .item {
    margin-bottom: unit(70);
  }
  .curAvatar {
    img {
      width: unit(130);
      height: unit(130);
      border-radius: unit(75);
    }
  }
  .title-name {
    display: inline-block;
    text-align: right;
    width: unit(110);
    padding-right: unit(20);
    color: $text-c35;
  }
  input {
    padding-left: unit(40);
    padding-right: unit(40);
    width: unit(380);
    height: unit(44);
    background-color: $basic-c03;
    border: none;
    outline: none;
    text-align: center;
    color: $text-c31;
  }
  .nameErrorMsg {
    height: unit(20);
    color: $text-c33;
    position: absolute;
    left: unit(377);
    margin-top: unit(4);
  }
  .undo {
    border: unit(1) solid $basic-c02;
    background: none;
    margin-right: unit(20);
    &:hover {
      background: $basic-c03;
    }
  }
  .save {
        background: linear-gradient(to right, $basic-c31, $basic-c32);
    &:hover {
      background: $basic-c31;
    }
  }
  .disabled-save {
    background-color: $basic-c23;
    color: $text-c35;
    cursor: default;
  }
  .disabled-undo {
    border: unit(1) solid $basic-c23;
    background: none;
    color: $text-c34;
    margin-right: unit(20);
    cursor: default;
  }
  .modify-pwd {
    .tips {
      color: $text-c31;
      margin-bottom: unit(20);
      margin-left: unit(392);
      div {
        width: unit(460);
        line-height: unit(24);
        text-align: left;
      }
    }
    .tipMsgRule {
      margin-left: unit(392);
      margin-bottom: unit(54);
      text-align: left;
      width: unit(480);
    		color: $text-c35;
    }
    .pwd-item {
      margin-bottom: unit(50);
    }
    .title-name {
      width: unit(145);
    }
    .right {
      display: inline-block;
      @extend .pwdright-20;
      position: absolute;
      margin-left: unit(14);
      margin-top: unit(13);
    }
    .wrong {
      display: inline-block;
      @extend .pwdwrong-20;
      position: absolute;
      margin-left: unit(14);
      margin-top: unit(13);
    }
    .errorMsg {
      color: $text-c33;
      width: unit(760);
      position: absolute;
      margin-top: unit(54);
      margin-left: unit(-460);
      text-align: left;
    }
  }
}
.delete {
  display: inline-block;
  @extend .close-16;
  position: absolute;
  margin-left: unit(-30);
  margin-top: unit(13);
  cursor: pointer;
}

.profile-submit{
    position: fixed;
    top: unit(0);
    left: unit(0);
    z-index: 15;
}
.btn {
    width: unit(460);
    text-align: center;
    position: relative;
  padding-bottom: unit(10);
}
button {
    width: unit(220);
    height: unit(46);
    border: none;
    text-align: center;
    color: $text-c31;
    border-radius: $rounded-rc1;
    outline: none;
    cursor: pointer;
  padding:0;
}
button::-moz-focus-inner {
    padding: 0;
    border: none;
}
#basic-button{
    margin-left: unit(370);
}
#pwd-button{
    margin-left: unit(394);
    padding-top: unit(10);
}
.other-item{
  line-height: unit(46);
}
input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
