$bg-color: #212834;
$text-color: #BA9D5A;

button {
  border: none;
  background-color: $bg-color;
  border-radius: 5px;
  color: $text-color;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  text-transform: uppercase;
  line-height: 16px;
  width: 176px;
  &:focus {
    outline: none
  }
  &:hover {
    color: $bg-color;
    background-color: $text-color;
  }
}
