@import "/src/assets/css/common-variables.scss";

.recomvodBorder {
  border-bottom: unit(1) solid $basic-c03;
  // width: unit(1280);
  margin: auto;
  margin-bottom: unit(50);
  margin-top: unit(40);
  position: relative;
}

@media screen and (max-width: unit(1440)) {
  .recomvodBorder {
   // width: unit(980);
  }
}
