<div class="ondemand-recomvod">
  <columnshow
    [childcolumnshow]="datas"
    [id]="recomVodId"
    (jumpTo)="moreShow($event)"
    (child)="onClickDetail($event)"
  ></columnshow>
  <div class="recomvodBorder"></div>
</div>
<!-- [suspensiondata]="vodListSuspension"     [show]="recomVodshow"-->