@import "/src/assets/css/common-variables.scss";
@import "/src/assets/css/unWhiteVariables.scss";

.settingSuspension {
  z-index: 10;
}

.settingMenu {
  width: unit(280);
  overflow: hidden;
  border-radius: unit(3);
}

.bottom-img {
  @extend .playcontrol-angle;
  position: relative;
  left: unit(210);
}

.settingTitle {
  width: unit(280);
  position: relative;
  background: $basic-c06;
  .skip-head {
    position: relative;
    color: $text-c31;
    width: unit(260);
    padding: unit(12) 0 unit(12) unit(20);
  }
  .skip-icon {
    position: absolute;
    top: unit(14);
    right: unit(20);
    cursor: pointer;
  }
  .skip-yes {
    @extend .remove2-16;
  }
  .skip-no {
    @extend .remove-16;
  }
  .subTitles-title {
    width: unit(140);
    float: left;
    color: $text-c35;
    margin-top: unit(10);
    margin-bottom: unit(8);
    text-align: center;
  }
  .audio-title {
    width: unit(140);
    display: inline-block;
    color: $text-c35;
    margin-top: unit(10);
    margin-bottom: unit(8);
    text-align: center;
  }
}

.settingBg {
  background: $basic-c17;
  width: unit(280);
  overflow: hidden;
  .subTitle-Bg {
    width: unit(140);
    float: left;
    margin-bottom: unit(5);
    vertical-align: top;
  }
  .audio-Bg {
    width: unit(140);
    display: inline-block;
    margin-bottom: unit(5);
    vertical-align: top;
  }
}

.curSubTitle-setting {
  text-align: center;
  line-height: unit(35);
  cursor: pointer;
  color: $basic-c31;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: unit(124);
  margin: auto;
}
.otherSubTitle-setting {
  text-align: center;
  line-height: unit(35);
  cursor: pointer;
  color: $text-c35;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: unit(124);
  margin: auto;
}

.audioList {
  text-align: center;
  line-height: unit(35);
  cursor: pointer;
  .curAudio-setting {
    color: $basic-c31;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: unit(124);
    margin: auto;
  }
  .otherAudio-setting {
    color: $text-c35;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: unit(124);
    margin: auto;
  }
}

.subtitle-hover, .audio-hover {
    background-color: $basic-c03;
    color: $text-c31;
}

.hidden-Bg {
  height: unit(17);
  width: unit(280);
}

li {
  list-style-type: none;
}
