<div class="settingSuspension body-t32" id="setting-suspension">
  <div class="settingMenu" >
    <div class="settingTitle">
      <div class="skip-head body-t29" *ngIf="showSkipOption && isVod && !isTrailer">{{'SkipCredits' | translate}}</div>
      <div class="skip-icon skip-yes" *ngIf="showSkipOption && isVod && !isTrailer && selectSkip" (click)="skipSelect()"></div>
      <div class="skip-icon skip-no" *ngIf="showSkipOption && isVod && !isTrailer && !selectSkip" (click)="skipSelect()"></div>
      <div class="subTitles-title">{{'subTitles'| translate}}</div>
      <div class="audio-title">{{'audio_track'| translate}}</div>
    </div>

    <div class="settingBg">
      <div class="subTitle-Bg">
        <li class="subTitlesList"  *ngFor="let subTitle of subTitlesList, let i=index" >
          <div id="title-{{i}}" [class]="curSubTitles !== subTitle && i == titleIndex ? 'subtitle-hover': ''" (mouseenter)="enterSubTitle(i)" (mouseleave)="leaveSubTitle()" (click)="setSubTitles(subTitle)">
            <div [class]='(curSubTitles == subTitle) ? "curSubTitle-setting": "otherSubTitle-setting"'>{{'ISO639_2.' + subTitle| translate}}</div>
          </div>
        </li>
        <div id="no-subtitle" [class]="curSubTitles !== 'off' && -1 == titleIndex ? 'subtitle-hover': ''" (mouseenter)="enterSubTitle(-1)" (mouseleave)="leaveSubTitle()" (click)="setSubTitles('off')">
          <div [class]='(curSubTitles == "off") ? "curSubTitle-setting": "otherSubTitle-setting"'>{{'no_subTitles'|translate}}</div>
        </div>
      </div>

      <div class="audio-Bg">
        <li class="audioList" *ngFor="let audio of audioList, let i=index">
          <div id="audio-{{i}}" [class]="curAudio !== audio && i == audioIndex ? 'audio-hover': ''" (mouseenter)="enterAudio(i)" (mouseleave)="leaveAudio()" (click)="setAudio(audio)">
            <div [class]='(curAudio == audio) ? "curAudio-setting": "otherAudio-setting"'>{{'ISO639_2.' + audio| translate}}</div>
          </div>
        </li>
      </div>
    </div>
  </div>
  <div id="bottomImg" class="bottom-img" [ngStyle]="bottomImgStyle" ></div>
  <div class="hidden-Bg"></div>
</div>
