<div [on-notification]="notification">
<suspensionprogram id="{{suspensionInfo}}" [ngStyle]="{visibility: (hotShow == 'true') ? 'visible' : 'hidden'}" (click)="specialClickDetail(mouseenterList, $event)"></suspensionprogram>
<div *ngFor=" let lists of programData, let i=index " class="programTop">
	<div class=" title " (click)="moreShow(lists)" [ngStyle]="{cursor: (lists && ( lists.length) != 0) ? 'pointer' : 'default'}">
	<span class="titleNames  title-t13">{{lists.titleName | translate}}</span>
        <span  [ngStyle]="{display: (lists && ( lists.length) != 0) ? 'inline-block' : 'none'}" class="arrow"></span>
	</div>
	<div *ngIf=" lists && ( lists.length) != 0 ">
		<div class="leftIcon" [ngStyle]="{visibility: (leftIconShow[i] == 'true') ? 'visible' : 'hidden'}" (click)="onClickLeft(i)"></div>
		<div class="list-panel">
			<div class="list" id="{{list}}-{{i}}">
				<div *ngFor="let list of lists, let j=index" class="item">
					<div class="img" (mouseenter)="mouseenter(list,i,$event)" (mouseleave)="closeDialog(list)" (click)="onClickDetail(list)">
						<img src="{{list.posterUrl}}"  onerror="this.onerror=null;this.src='assets/img/default/home_landscape_program2.png'" />
						<div class="timeAll" *ngIf=" list.len!='' "></div>
						<div class="timeNow" id="timeNow{{i}}{{j}}" [style.width]="list.len"></div>
					</div>		
					<span class="tvod-name body-t29" (click)="onClickDetail(list)" >{{list.name | translate}}</span>
					<span  class="tvod-startTime body-t32" *ngIf=" list.len =='' ">{{list.starTimeForDate}}{{list.channel}}</span>
					<span  class="tvod-leftTime body-t32" *ngIf=" list.len!='' ">{{'playbill_format_time' | translate:list.leftTimes}}{{list.channel}}</span>
				</div>
			</div>	
		</div>
		<div class="rightIcon" [ngStyle]="{visibility: (rightIconShow[i] == 'true' ) ? 'visible' : 'hidden'}" id="{{right}}-{{i}}" (click)=" onClickRight(i) " ></div>
	</div>
	<div class="noProgram" *ngIf=" !lists || ( lists.length) == 0 ">
		<waterfall-noData [nodatatype]="'home'"></waterfall-noData>
	</div>
	<div class="line"></div>
	</div>
</div>