@import "/src/assets/css/common-variables.scss";

suspensionprogram {
  position: absolute;
  z-index: 12;
  background: $basic-c17;
}

.noProgram {
  margin-top: 100px;
  margin-bottom: 150px;
  height: 200px;
  position: relative;
}

.programTop {
  margin: auto;
  width: 1280px;
  margin-bottom: -60px;
}

.programTop:last-child {
  .line {
    height: 0px;
  }
}

.programTop {
  margin: auto;
  width: 1280px;
  margin-bottom: -60px;
}

.programTop:last-child {
  .setBorder {
    border-bottom: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.title {
  height: 23px;
  line-height: 23px;
  padding-bottom: 1px;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  color: $text-c31;
  max-width: 100%;
  .titleNames {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 1335px;
    position: relative;
    line-height: 28px;
  }
  .arrow {
    position: relative;
    top: 0;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
    @extend .rightarrow-24;
  }
}
.title:hover {
  .arrow {
    @extend .rightarrow2-24;
  }
}
.leftIcon {
  width: 36px;
  height: 36px;
  position: relative;
  margin-left: -60px;
  margin-top: 98px;
  top: -16px;
  cursor: pointer;
  @extend .angleleft2-36;
  background-position: 0px;
}

.leftIcon:hover {
  @extend .angleleft-36;
  background-position: 0px;
}

.rightIcon {
  width: 36px;
  height: 36px;
  position: relative;
  float: left;
  margin-left: 1410px;
  margin-top: -305px;
  cursor: pointer;
  @extend .angleright2-36;
  background-position: 0px;
}

.rightIcon:hover {
  @extend .angleright-36;
  background-position: 0px;
}

.list-panel {
  width: 1280px;
  height: 250px;
  position: relative;
  overflow: hidden;
  top: -130px;
}

.list {
  width: 5600px;
  height: 273px;
  position: relative;
}

.item {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 330px;
  height: 273px;
  .img{
    cursor: pointer;
  }
  img {
    width: 330px;
    height: 186px;
  }
}

.tvod-name {
  width: 330px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  top: 197px;
  position: absolute;
  display: inline-block;
  color: $text-c31;
  bottom: 38px;
  left: 0px;
  cursor: pointer;
  padding-left: 2px;
}

.tvod-startTime,
.tvod-leftTime {
    cursor: default;
    color: $text-c34;
    display: inline-block;
    top: 32px;
    position: relative;
    overflow: hidden;
    width: 330px;
    white-space: nowrap;
    text-overflow: ellipsis;
    bottom: 20px;
    padding-left: 1px;
}

.line {
  border: 0;
  background-color: $basic-c03;
  height: 1px;
  width: 1280px;
  position: relative;
  top: -104px;
  margin: auto;
}

.timeAll {
  position: absolute;
  background-color: $basic-c03;
  width: 330px;
  height: 4px;
  margin-top: -7px;
}

.timeNow {
  position: absolute;
  background-color: #FCCB35;
  height: 4px;
  margin-top: -7px;
}

@media screen and (max-width: 1440px) {
  .programTop {
    max-width: 980px;
  }
  .title .titleNames {
    max-width: 935px;
  }
  .list-panel {
    width: 980px;
    margin: auto;
  }
  .list-panel .list .item {
    width: 313px;
    margin-right: 20px;
  }
  .list-panel .list .item div img {
    width: 313px;
    height: 177px;
  }
  .leftIcon {
    left: 10px;
    top: -22px;
  }
  .rightIcon {
    left: -400px;
    top: -6px;
  }
  .line {
    width: 980px;
    top: -114px;
  }
  .timeAll {
    width: 313px
  }
  .tvod-name {
    top: 190px;
    width: 313px
  }
  .tvod-startTime,
  .tvod-leftTime {
    width: 313px;
  }
}
