@import "/src/assets/css/common-variables.scss";

.storageRemindContainer{
  position:fixed;
  width: 100%;
  height: 100%;
  display: block;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.storageRemind {
  text-align: center;
  width: unit(460);
  height: unit(306);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: $basic-c14;
  margin: auto;
  position: absolute;
  .remindTitle {
    border-bottom: 1px solid $basic-c19;
    height: unit(60);
    line-height: unit(60);
    .remindInfoMessage {
      color: $text-c35;
    }
    .remindInfoClose{
      background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
			width: 20px;
			height: 20px;
      position: absolute;
      top: 20px;
      right: 30px;
      cursor: pointer;
    }
  }
  .remindContent {
    width: 460px;
    height: unit(164);
    .message-wrap {
      position: relative;
      width: unit(354);
      height: unit(153);
      display: table;
      margin: auto;
      .contentInfo{
        color: $text-c31;
        line-height: unit(24);
        vertical-align: middle;
        margin-top: 20px;
        text-align: left;
      }
    }
  }
  .recordButton{
    background: $basic-c04;
    position: relative;
    width: 180px;
    line-height: 40px;
    color: $text-c31;
    border-radius: unit(2);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    border: 1px $basic-c04 solid;
    &:hover {
      background: $basic-c05;
      border: 1px $basic-c05 solid;
    }
    .arrowPicture{
      height: 20px;
      width: 20px;
      background: url(assets/img/20/angleright2_20.png) no-repeat;
      top: 10px;
      left: -10px;
      position: relative;
      float: right;
    }
  }
}

.storageConflict {
  text-align: center;
  width: unit(460);
  height: unit(288);
  background: $basic-c14;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  .conflictTitle {
    border-bottom: 1px solid $basic-c19;
    height: unit(60);
    line-height: unit(60);
    .conflictInfoMessage {
      color: $text-c35;
    }
    .conflictInfoClose{
      background: url(assets/img/20/login_popup_close_20x20.png) no-repeat;
			width: 20px;
			height: 20px;
      position: absolute;
      top: 20px;
      right: 30px;
      cursor: pointer;
    }
  }
  .conflictContent {
    width: 460px;
    .message-wrap {
      position: relative;
      width: unit(354);
      height: unit(153);
      display: table;
      margin: auto;
      .contentInfo{
        color: $text-c31;
        line-height: unit(24);
        vertical-align: middle;
        margin-top: unit(35);
        text-align: left;
      }
    }
  }
  .conflictButton{
    background: $basic-c04;
    position: relative;
    width: 180px;
    line-height: 40px;
    color: $text-c31;
    border-radius: unit(2);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    border: 1px $basic-c04 solid;
    &:hover {
      background: $basic-c05;
      border: 1px $basic-c05 solid;
    }
    .arrowPicture{
      height: 20px;
      width: 20px;
      background: url(assets/img/20/angleright2_20.png) no-repeat;
      top: 10px;
      left: -10px;
      position: relative;
      float: right;
    }
  }
}
