<div class = "storageRemindContainer" [ngStyle]='{ "display":isShowStorage ? "block": "none" }' [style.visibility]="visibility">
  <div class="storageRemind" [ngStyle]='{ "display":type == "successful" ? "block": "none" }'>
    <div class="remindTitle">
      <div class="remindInfoMessage body-t26">{{'add_recording_succesful' | translate}}</div>
      <div class="remindInfoClose" (click)="closeRemind()"></div>
    </div>
    <div class="remindContent">
      <div class="message-wrap body-t29">
        <div class="contentInfo body-t29">{{'submit_recording_task_successfully' | translate}}</div>
        <div class="contentInfo body-t29">{{'no_enough_storage_suggest_to_delete_some_recordings' | translate}}</div>
      </div>
    </div>
    <div class="recordButton body-t26" (click)="gotoRecordingList()">{{'recording_list' | translate}}
      <div class="arrowPicture"></div>
    </div>
  </div>
  <div class="storageConflict" [ngStyle]='{ "display":type == "failed" ? "block": "none" }'>
    <div class="conflictTitle">
      <div class="conflictInfoMessage body-t26">{{'storage_conflict' | translate}}</div>
      <div class="conflictInfoClose" (click)="closeConflict()"></div>
    </div>
    <div class="conflictContent">
      <div class="message-wrap">
        <div class="contentInfo body-t29">{{'no_enough_storage_in_the_cloud_long' | translate}}</div>
      </div>
    </div>
    <div class="conflictButton body-t26" (click)="gotoRecordingList()">{{'recording_list' | translate}}
      <div class="arrowPicture"></div>
    </div>
  </div>
</div>
